[2016-11-22 02:03] pkcoff opened #2439 "BGQ: CH4 OFI MPI_Iprobe does not succeed when probing self"
The mpich testsuite test  pt2pt/isendselfprobe.c 1   hangs stuck in this loop:

    while (!flag) {
            MPI_Iprobe(0, 0, MPI_COMM_WORLD, &flag, &status);
        }

basically probing itself, the flag is never set to true indicating the a method of reception for the message is never resolved.

[2016-11-22 17:31] halimamer opened #2441 "Document the lock handoff protocol in progress routines"
Device implementations, e.g., CH4, can implement differently thread safety depending on whether or not releasing a lock occurs in progress routines (e.g., `MPID_Progress_wait`, `MPID_Progress_test`). CH3 assumes **blocking** routines to potentially release a lock (to avoid blocking other threads) while **nonblocking** routines should not release a lock (`MPID_Progress_test`). We need to revisit th

[2016-11-26 03:31] pkcoff opened #2445 "Jenkins build and test for BGQ CH4 OFI"
With our plans to support MPI3 on BGQ via the Libfabric OFI provider for the next 3 years I think there is merit here to have an  ofi-bgq build for nightly-master-ch4 on Jenkins to ensure that we aren’t broken with all the development going on.  Pavan is supportive of this idea but there are feasibility issues that need to be worked out with Ken.

[2016-11-28 15:14] raffenet commented on #2445
I had started down this path with @wscullin before pamid was abandoned. It is possible to configure a Jenkins worker inside that LCF firewall that connects back our master server, I think we even have the firewall holes configured already. What is left to do is integration with the job submission system to actually run tests on BG/Q. We should setup a meeting at some point where we can sit togethe

[2016-11-28 19:30] raffenet opened #2446 "MPL: Define MPL_bool to boolean type"
If there is compiler support for `stdbool.h`, use it. Currently we just statically set `MPL_bool` to `int`. https://github.com/pmodels/mpich/blob/master/src/mpl/include/mpl_base.h#L117

[2016-11-28 20:10] pkcoff commented on #2445
That sounds good - I'll be at the lab either next week or the one after I will track down William and schedule something.  Thanks.

[2016-11-29 22:25] raffenet commented on #2408
@mblockso were you able to confirm this was coming from libfabric?

[2016-11-29 22:56] mblockso commented on #2408
sorry .. haven't had time to look at this yet.

[2016-11-30 23:43] raffenet commented on #2427
We should dump out the libmpifort.so and see what all datatype functions are called and double check if they should be exposed.

[2016-12-08 15:44] smseo commented on #2063
[Burlen Loring](burlen.loring@gmail.com) also reported the same error with MPICH 3.2 on OSX Sierra like the below.

after upgrading to osx sierra and latest xcode some of my regression tests crash in MPI calls, that's as far as I've got as MPI init seems to fail when run in the debugger. See below. Can any one advise how to run the program in the debugger on osx sierrra?
[code]

[2016-12-09 22:46] halimamer commented on #2441
The second aspect of this problem are the semantics of `MPID_Progress_test` and `MPID_Progress_wait`. The intent is that the former behaves like `MPI_Testsome` and the latter as `MPI_Waitsome`. From a locking perspective, `MPID_Progress_wait` is required to yield the lock when no progress has been made. This is currently missing in CH4. @charlesarcher has a patch #2442 but it was applied at the wr

[2016-12-09 22:51] LenaO commented on #2383
Some of the timeouts are probably related to [#2441](https://github.com/pmodels/mpich/issues/2441) - (for UCX) but since it also times-out on OFI from time to time, more investigation is required.

[2016-12-12 19:05] raffenet opened #2459 "CH4/UCX: Default to no CH4 shm"
UCX has its own node-local communication implementation. We should honor it as the default and only enable the CH4 code if explicitly requested.

[2016-12-12 19:06] raffenet commented on #2459
Something to think about - how should a multi-netmod build be configured?

[2016-12-13 18:20] LenaO opened #2464 "Ch4/UCX: Adapt to new UCP-API"
Adapt the UCX to the new API-Netmode (look at UCX Pull request [#1125](https://github.com/openucx/ucx/pull/1125)

There are several changes in the endpoint and worker creation and in the memory registration

[2016-12-13 19:45] #2376 closed

[2016-12-16 18:02] ibaned opened #2471 "MPII_Version_* visibility is wrong"
I'm trying to compile MPICH at tag `v3.3a2` and I get the following:

[code]

any ideas how I could debug this ?

[2016-12-16 18:24] raffenet commented on #2471
Some details to help us reproduce: what platform is this on? What configuration did you use? What are you compilers?

[2016-12-16 20:06] ibaned commented on #2471
This is a server with Xeon CPUs running RHEL 6.7 but I built my own GCC 6.2.0. Configuration is as follows:
[code]

[2016-12-16 22:04] ibaned commented on #2471
I was able to compile tag `v3.3a1`, but not `v3.3a2`.

I think this has to do with symbol visibility, which was altered in commit 29fb99df33. These symbols show up as internal, not external symbols:
[code]

[2016-12-16 22:22] raffenet commented on #2471
That makes sense. I'll take a look.

[2016-12-19 19:56] #2471 closed

[2016-12-20 22:25] ibaned opened #2476 "--enable-nemesis-shm-collectives + barrier causes segfault"
This affects `v3.2`, `v3.3a1`, and the latest `master` commit a few hour ago.
I configured MPICH as follows:

[code]

The deciding factor seems to be `--enable-nemesis-shm-collectives`.
When that is specified, the following MPI program:
[code]
will segfault in `MPI_Finalize`. Valgrind has this to say:
[code]
The segfault also only happens if `MPI_Barrier` is called.
This is possibly related to iss

[2016-12-20 22:48] hajimefu commented on #2476
I think I have a patch to fix this, will submit a PR.

[2016-12-21 19:18] pkcoff opened #2478 "Remote CQ data size (cq_data_size) from provider being ignored"
According to the OFI manual:

For the `MPIDI_OFI_ENABLE_DATA` path in ch4 it looks like it is always using 8 bytes for the immediate data and is not looking at what the provider is setting in the `cq_data_size` domain attr.  For BGQ this breaks because we currently only have room for 4 bytes, we are therefore setting this `cq_data_size` domain attr to 4 bytes but ch4 is ignoring this and still sen

[2016-12-21 19:24] hajimefu commented on #2391
Not sure what the best way to initiate a discussion is, but I think CH4 init should be able to say "give me as many endpoints as you can" when calling netmod init. Perhaps by passing zero or negative value.

[2016-12-21 19:54] wesbland commented on #2478
I'll look in to this. It looks like this is a problem for many providers, not just BGQ.

[2016-12-23 08:44] halimamer commented on #2391
We can define a macro for that. The name will carry meaning and the value can be changed without breaking the code in the future. For the value, a negative value, zero, or INT_MAX, I am fine with any of them.

[2017-01-04 16:03] wesbland opened #2482 "Move MPIR_CVAR_OFI_USE_PROVIDER to upper layer?"
`MPIR_CVAR_OFI_USE_PROVIDER` is defined in the CH3 device. Since OFI is also used in the CH4 device, it might make sense to move this to a more common location.

[2017-01-04 22:10] raffenet opened #2484 "bug/jenkins: truncation in MPI_Mrecv/Imrecv"
#2481 exposes some issues with various communication paths regarding proper error reporting and/or resource leaks.

[2017-01-05 14:38] wesbland commented on #2478
I have a patch for this incoming, it's going through internal review right now.

[2017-01-09 19:08] raffenet commented on #2459
This was done in #2460.

[2017-01-09 19:08] #2459 closed

[2017-01-09 19:25] raffenet commented on #2439
@pkcoff is this still an issue? Commit 7313db77bb157a663550bccdf5950aec7997f131 may have fixed this by adding a progress poke to `MPID_Iprobe`.

[2017-01-19 15:19] wesbland opened #2501 "rma/win_shared_cas_flush_load failures"
There seems to be a new [failure](http://ancoral001.an.intel.com:8080/job/nightly-test/lastCompletedBuild/compiler=icc,configs=debug,provider=sockets,shmem=exclusive/testReport/(root)/summary_junit_xml/507_____rma_win_shared_cas_flush_load_3/) of `rma/win_shared_cas_flush_load`. This is the first time recently that this test has failed and it's only with icc compiler, debug configuration, sockets

[2017-01-19 15:19] #2501 closed

[2017-01-19 15:21] wesbland commented on #2501
Oops. Opened in the wrong place. Others are welcome to take a look at this anyway. 😄

[2017-01-24 15:47] LenaO opened #2506 "Create test for possible race condition with win_fence"
This test tests for race-conditions in multi-threaded applications, using one-sided communication and win-fence for synchronization.

The test should create multiple windows for multiple threads and use fence synchronization in the threads. For windows with now own communicators, this should lead to a race condition.

[2017-01-24 16:43] #2464 closed

[2017-01-26 22:11] #2478 closed

[2017-01-30 18:41] raffenet opened #2514 "CH4/UCX: Hangs in finalize"
From the looks of it, collective tests periodically hang during `MPI_Finalize` like so - https://jenkins.mpich.org/view/nightly-master-ch4/job/mpich-master-ch4-ucx/compiler=gnu,jenkins_configure=default,label=ib64/lastCompletedBuild/testReport/(root)/summary_junit_xml/52_____coll_allgatherv2_10/. See that ` No Errors` is correctly output, meaning all processes have finished verifying the correct r

[2017-01-31 04:01] pkcoff opened #2516 "CH4: Memory corruption in CH4 MPI_Datatype management exposed by Global Arrays"
The NWChem application utilizes global arrays (GA) communication for PGAS.  NWChem has historically had very bad performance on BGQ using mpich-pamid for the GA, so I would like to get a GA build on BGQ utilizing the CH4-OFI to see if we can get some better performance.  There is 1 INCITE project planning to use NWChem this year on BGQ, as well as an ADSP and Aurora-ESP project on KNL, so going fo

[2017-01-31 18:56] raffenet opened #2517 "CH4: Wrong synchonization of RMA calls"
The tests:

Fail in all CH4 configurations (native and AM-only).

[2017-01-31 21:05] wesbland opened #2518 "Reconcile all the enable-direct flags"
## Problem

There's currently at least two ways to build with support for direct providers:
* `--enable-direct=<prov>` is used when building with an embedded library
* `--with-ch4-netmod-ofi-args=netmod-direct` is used when building with an external library

We should combine these so there is just one way of enabling direct providers to simplify things and avoid confusion.

@pkcoff first encounte

[2017-01-31 22:08] pkcoff commented on #2518
Works for me.

[2017-02-02 17:00] pkcoff opened #2523 "Decouple progess mode setting from ofi_init discussion"
The BGQ provider supports auto and manual data_progress mode (just manual control progress) and we currently set that as a configure option in our subconfigure via --with-bgq-progress=auto | manual   (so it can compile out and avoid extra branching).    However this is being explicitly set to manual in the ofi_init.

hints->domain_attr->data_progress = FI_PROGRESS_MANUAL;

For now I'm simply ignor

[2017-02-02 23:20] LenaO commented on #2514
Tracked it down to a deadlock in the final flush for the uct endpoints. For some reason, flushing the shared memory endpoints sometimes returns "UCS_ERR_NO_RESOURCE" forever, so it never finishes - although operations on this endpoint should be finished.

Next step I try to figure out if it is an UCX bug or an MPICH bug

[2017-02-03 15:37] raffenet opened #2525 "Review usage of designated initialization in CH4"
Parts of the OFI netmod use C99 designated initialization of structs. We previously have avoided using this language feature in MPICH, but maybe now is the time to give developers the choice.

[2017-02-03 15:39] raffenet commented on #2525
See https://github.com/pmodels/mpich/blob/master/src/mpid/ch4/netmod/ofi/ofi_am_events.h#L156

[2017-02-03 16:47] LenaO commented on #2514
Finally track it down to bug in ucx/uct shared memory processing.
I created an issue on the UCX repro
[#1304](https://github.com/openucx/ucx/issues/1304)

[2017-02-06 19:02] LenaO commented on #2514
They fixed the failure in UCX and created a pull request. We will wait until it's in
UCX Pull request: [#1312](https://github.com/openucx/ucx/pull/1312)

[2017-02-06 23:22] pavanbalaji opened #2529 "coll: performance tuning for collectives"
The thresholds used within MPICH are very old and need to be refreshed to match what the current state of the networks and processors is.

[2017-02-06 23:23] pavanbalaji commented on #2529
It will be useful to create a script that goes through the various algorithms and tunes them for a given platform.  That way, we can simply rerun this script every once in a while.  Supercomputer centers can also use this script to tune MPICH for their system specifically.

[2017-02-06 23:25] pavanbalaji opened #2530 "bug: coll: MPI_Alltoall Performance Degradation"
The performance of MPI_Alltoall seems to be very sensitive to the number of processes.  The below numbers were reported by Jayesh Krishna.

[code]

[2017-02-07 17:10] raffenet opened #2533 "CH4/OFI: memory leak in init"
Valgrind report from simple `cpi` run below. I'm having a little trouble following the thread on `prov,prov_use,hints` usage throughout the init hook. @wesbland maybe an OFI person could lend a hand.

[2017-02-07 17:15] #2518 closed

[2017-02-07 19:23] raffenet commented on #2514
https://github.com/openucx/ucx/pull/1312 was merged and our tests look good. Closing.

[2017-02-07 19:23] #2514 closed

[2017-02-07 22:18] jayeshkrishna commented on #2530
The above test was run on
* 10 dual-socket Intel Xeon Broadwell nodes (E5-2697V4, 2.3 GHz, 18-core)
* 360 MPI procs (36 cores/36 procs per node) vs 320 MPI procs (32 procs/node)
* FDR InfiniBand fabric interface (Mellanox Technologies MT27600 [Connect-IB])

[2017-02-09 15:49] raffenet opened #2537 "CH4/OFI: AM only config bugs"
Most tests are timing out in AM configurations. Need to investigate.

https://jenkins.mpich.org/view/nightly-master-ch4/job/mpich-master-ch4-ofi/

[2017-02-10 19:50] hajimefu commented on #2516
@pkcoff Thank you for reporting. @raffenet can you assign this to me?
@mblockso you might want to jump in too because I think you saw another crash here before.

[2017-02-13 15:06] pavanbalaji opened #2544 "ch4/ofi: Limitation on the total number of processes"
The current MPICH/CH4/OFI code seems to have a limit of 16 bits for the number of processes it can launch, i.e., around 65536 processes.  This is because we are trying to fit the source rank, tag and communicator context id into a 64-bit integer for fast matching.

There are some options that we can try out to increase the number of ranks that we can support:

1. We can take some bits away from th

[2017-02-13 17:08] monicasee commented on #2517
Will look into this.

[2017-02-13 20:03] mblockso commented on #2544
Umm .. we already hit this with the ofi bgq provider and worked through these issues (maybe this was internal?).  The solution at that time was to require ofi providers to support `FI_DIRECTED_RECV` **and** `FI_REMOTE_CQ_DATA` if you want to scale above 64k ranks. You have to specify **both** capabilities for it to work.

`1`. was discouraged because we already have some aurora application that ha

[2017-02-13 20:06] wesbland commented on #2544
So the compromise fix that I'm working on now is to add the specification of context id/rank/tag bits to the capability sets so you can configure it per provider and/or at runtime. That way if you need more bits for ranks, you can decide where else to take them from.

I have a patch for this and am testing it now.

[2017-02-13 20:08] pavanbalaji commented on #2544
If (2) is available, that'd be the ideal solution.  Is this already coded in?

For the OFP machine, this will not work since it uses OPA and that doesn't support this capability.

[2017-02-13 20:09] mblockso commented on #2544
@pkcoff If this goes through then we will want to resurrect the `fi_[t]inject()` optimization and packet header type. This saves us about 0.2 usec for messages of size 0-16 bytes.

[2017-02-13 20:10] mblockso commented on #2544
(2) is already coded in the ch4/ofi netmod. This is the current default run mode on bgq.

[2017-02-13 20:11] wesbland commented on #2544
2 is already coded, but the PSM2 provider doesn't support the immediate data that's necessary for the OFP machine.

[2017-02-13 20:14] mblockso commented on #2544
According to https://github.com/ofiwg/libfabric/wiki/Provider-Feature-Matrix-v1.4.0 the psm2 provider already supports `FI_DIRECTED_RECV`.

`FI_REMOTE_CQ_DATA` is not specified in the table, so not sure about that.

[2017-02-13 20:16] wesbland commented on #2544
Correct. It does not support `FI_REMOTE_CQ_DATA`.

[2017-02-13 20:20] mblockso commented on #2544
Why can't it support `FI_REMOTE_CQ_DATA`? PSM2 has a 96-bit tag space, the psm2 provider should be able to use 64 bits for the ofi tag and 32 bits for the immediate data.

[2017-02-13 20:23] wesbland commented on #2544
@ddurnov and I have been talking to Jianxin about that today. Apparently the other 32 bits are already being used for various other things.

[2017-02-13 20:26] mblockso commented on #2544
bah!

that's what I have to say about that.

[2017-02-15 14:10] pavanbalaji commented on #2544
test:jenkins/ch4/ofi

[2017-02-22 00:46] #2506 closed

[2017-02-24 20:14] raffenet opened #2561 "Add full PMI2 integration in CH4 netmods"
Currently we have macros for Cray PMI in CH4/OFI that use a mix of the PMI1 and PMI2 APIs. In practice, it will be more straightforward to do a full PMI2 implementation, consistent with the other parts of MPICH that make PMI calls.

[2017-02-28 20:00] pkcoff opened #2565 "CH4/OFI: Hang in NM Progress thread exposed by send-recv with subcomms and MPI_COMM_WORLD"
The ClimateEnergy_2 INCITE project on bgq has a code name ACME that hangs with pami so they are trying ofi.  However there appears to be a bug they hit before they can even get to the pami-hang part resulting in a different hang that I have been able to write a simple testcase to reproduce.  I have attached the test  and stack trace, essentially this test creates a subcomm for every rank in MPI_CO

[2017-02-28 20:04] pkcoff commented on #2565
I should also add that if I run on just 1 node in c4 then all the ranks hang in the barrier, but if i run on 4 nodes in c1 then ranks 1-3 fall thru the barrier but rank 0 is still stuck in the barrier, so the intranode code path also makes a difference in the nature of the hang.

[2017-02-28 20:07] mblockso commented on #2565
What progress thread are you referring to since the bgq provider doesn't use one with `FI_PROGRESS_MANUAL`?

[2017-02-28 20:40] raffenet opened #2566 "ch4: Expand context_id bits when possible"
Some of OFI netmod configurations do not take advantage of the extra match bits available because the source rank is part of the "inline data". We should expand the context_id space in these cases.

We should also review the UCX netmod match bit usage while we're at it.

[2017-02-28 20:43] raffenet opened #2567 "Improve context ID allocation in unnecessary combinations"
We should review the reserved context id bits in case, we can re-use some of the reserved bits based on the type of communicator. Some combinations might be impossible, e.g. intercomms and RMA.

[2017-02-28 21:01] pkcoff commented on #2565
i meant to say progress engine from mpich, not using the thread

[2017-03-01 00:58] pkcoff commented on #2565
here are the src file and stachtraces attached
[acmecommhang.zip](https://github.com/pmodels/mpich/files/809425/acmecommhang.zip)

[2017-03-01 19:20] raffenet commented on #2565
@pkcoff this tests completes on my laptop with 4 ranks.

[2017-03-01 23:52] pkcoff commented on #2565
OK, probably a bgq issue I am continuing to investigate.  thanks.

[2017-03-02 00:14] pkcoff commented on #2565
Ugh it is a heisenbug, with full trace turned on it works fine

[2017-03-02 01:04] pkcoff commented on #2565
Has something to do with MPI_ANY_SOURCE and the irecv, if I give the source ranks it works

[2017-03-02 01:12] raffenet commented on #2565
`MPI_ANY_SOURCE` handling at the CH4 level is not quite right. Currently we create 2 recv requests - one for the netmod, one for shm. When one completes, the other is not freed/canceled as it should be. It might be hanging waiting for one or more of those orphaned requests to complete?

[2017-03-02 03:07] mblockso commented on #2565
I think the standard bgq config has the shm netmod disabled, correct?  If so, then maybe this disabled-shm code path is not well tested?

[2017-03-02 04:13] pkcoff commented on #2565
There is definitely a timing element to this as well --- if I keep the MPI_ANY_SOURCE but just do a sleep(5) in front of the barrier then it works too.  The barrier implementation in ch4 does a bcast via MPIR_Bcast_binomial and in there does a bunch of MPIC_Recv-MPIC_Send,  I think the irecv MPI_ANY_SOURCE in rank 0 from my previous irecv-send-waitall loop is matching one of the barrier sends.  Wh

[2017-03-02 04:15] pkcoff commented on #2565
The barrier send uses this MPIR_BCAST_TAG to prevent this from happening I think:

mpi_errno = MPIC_Send(tmp_buf,nbytes,MPI_BYTE,dst,
                                         MPIR_BCAST_TAG,comm_ptr, errflag);

[2017-03-02 04:53] pkcoff commented on #2565
I changed our matching function to check the tag independently of the source in the case of any_source and that seems to fix this problem. Need to confirm some things with Mike, but can't believe we could be this fundamentally broken and pass the test suite and a run a bunch of apps successfully...

[2017-03-02 15:54] raffenet commented on #2565
Great! It would be good to get this patch into master soon.

[2017-03-02 16:52] pkcoff commented on #2565
Mike concurred, ran the testsuite, NEK that was broken now works, I have an open pr now waiting on the ofiwg people to approve it:  https://github.com/ofiwg/libfabric/pull/2773

[2017-03-02 20:57] raffenet commented on #2565
Fixed via https://github.com/ofiwg/libfabric/pull/2773.

[2017-03-02 20:57] #2565 closed

[2017-03-06 18:25] jayeshkrishna commented on #2530
Do you have any approx time estimate on when these parameters will be retuned ?

[2017-03-07 20:19] raffenet opened #2570 "CH4: Enhance MPID_Progress_wait"
The CH4 version of this routine does nothing with the input state.

[2017-03-29 17:42] jeffhammond commented on #1659
This issue should be closed.

[2017-04-04 09:40] raffenet opened #2588 "CH4: (comm, rank) locality function should return av table entry in addition to boolean"
It should be possible to avoid the AV rankmap calculation a second time in nm/shm if we instead pass an av table entry down. All the nm/shm APIs will need to change to accept the new parameter in order for this to work.

[2017-04-19 18:22] pkcoff opened #2604 "build: ch4/ofi: pmi.h not found for BGQ build"
I thnk this commit:

commit ec1e13b80e58191ce2c2a65d5567f9b2d24a063c
Author: Ken Raffenetti <raffenet@mcs.anl.gov>
Date:   Wed Feb 22 15:13:34 2017 -0600

    pmi: Move headers out of top-level include dir

    If we are building with an external pmi library, we should be using the
    external version of the pmi.h/pmi2.h. Move the MPICH copies into subdirs
    that will be conditionally added to

[2017-04-19 22:35] monicasee opened #2605 "CH3: minor RMA hint bugs"
Found minor bugs in win_set_info and win_get_info in CH3. The test/mpi/rma/win_info also misses tests to catch those bugs.

[2017-04-21 05:33] pkcoff commented on #2604
I went ahead and reverted this commit and that does indeed fix the problem - so i'm not broken take your time to do the proper fix

[2017-04-21 13:19] raffenet commented on #2604
One question, how do processes discover the filename in `/dev/shm` for shared memory communication on BG/Q? The code in `src/mpid/common/shm` uses PMI. I don't see a workaround for non-PMI builds.
CC: @mblockso

[2017-04-21 14:22] mblockso commented on #2604
bgq just needs pmi to get the rank and job size .. after that all the fabric address information is set up by the provider during `fi_av_open()`.  Why do we need shared memory communication? I thought that was turned off for bgq...

[2017-04-21 15:48] raffenet commented on #2604
Ah, if it's turned off then that explains it.

[2017-04-21 17:39] raffenet commented on #2604
Well, that explains part of it. There are still calls to PMI in the OFI netmod that won't be compiled out. Is there some dummy PMI library on BG/Q to supplies the symbols at link time?

[2017-04-21 17:40] mblockso commented on #2604
Yes.

https://github.com/ofiwg/libfabric/blob/master/prov/bgq/src/fi_bgq_pmi.c

[2017-04-21 17:55] raffenet commented on #2604
More pieces to the puzzle! Should OFI/bgq be providing its own `pmi.h`? Should we move this PMI implementation into MPICH instead of OFI?

[2017-04-21 17:59] raffenet commented on #2604
Or just pre-install it on BG/Q systems and point to it at configure time ala `--with-pmi=cray`?

[2017-04-21 18:34] mblockso commented on #2604
**Or** ... MPICH could generate the libpmi.so client library and, depending on how MPICH was configured, we'd get a bgq-specific implementation (or cray or hydra).

This way other projects (Sandia OpenSHMEM, "ofi direct" applications, etc) could also just link in libpmi.so to get the job started.

If we did this, then we could move the bgq pmi implementation from the bgq ofi provider into MPICH pm

[2017-04-24 19:34] roblatham00 opened #2609 "Hanging behavior with derived types in a 'user-defined gatherv'"
from discuss@ mailing list:

The code mimics a decomposition of a multi-field grid in 2 dimensions. Each grid has a halo region allocated, and this gather is only interested in transmitting the interior of each grid.

The conditions, as far as I can tell, are related to:

1. nranks > 2
1. 'larger' messages: I haven't fully bisected it, but 256x128 grids work, and 256x256 don't.
1. Having halos. Wi

[2017-04-25 05:24] pkcoff commented on #2439
Hey Ken - I should have been more diligent to follow up on this, we have a user now who has run into this issue which still happens with latest master, stuck in progress:

fi_bgq_cq_read_generic
/home/pkcoff/development/github/OFI-BGQ-BuildEnv/mpi/mpich/src/mpid/ch4/netmod/ofi/libfabric/prov/bgq/include/rdma/fi_direct_eq.h:508
fi_bgq_cq_read_FI_CQ_FORMAT_TAGGED_0
/home/pkcoff/development/github/OF

[2017-04-25 09:41] pavanbalaji commented on #2609
Here is a much simpler reproducer:

{{{
#include <stdio.h>
#include "mpi.h"

#define BLKLEN (1024)
#define NUM_BLKS (64)

double large_buf[(BLKLEN + 1) * NUM_BLKS];

int main(int argc, char *argv[])
{
    int rank;
    int nranks;

    MPI_Init(&argc, &argv);

    MPI_Comm_rank(MPI_COMM_WORLD, &rank);
    MPI_Comm_size(MPI_COMM_WORLD, &nranks);

    MPI_Request reqs[nranks];

    if (rank == 0) {

[2017-04-25 13:21] mblockso commented on #2439
Does MPICH/CH4 intercept the "send to self" path? This is not necessary for bgq ofi provider as it already supports send-to-self and loopback (this is why we disable shared memory in the bgq builds).

Is there a way to disable the send-to-self branch and code path?

[2017-04-25 14:39] raffenet commented on #2439
CH4 does not currently have a "self" send protocol. Only local and non-local.

[2017-04-25 14:52] raffenet commented on #2439
If SHM is disabled, OFI should be handling everything, AFAICT.

[2017-04-25 15:00] mblockso commented on #2439
If that is the case then we should start looking for the bug in the bgq ofi provider. I'm not sure how this "self" code path is any different than the "loopback" code path.  Maybe it is because of some funky interaction between fi_recv/fi_send/cq_read all being in the same process?

@pkcoff could you instrument the code to print the descriptor as it is injected and then the packets as they are rec

[2017-04-25 15:45] pkcoff commented on #2439
OK, the user is actually probing other ranks but this test probably is illustrating the same problem and is simple.  I'll debug it from the ofi send and let you know.  thanks.

[2017-04-25 18:25] pkcoff commented on #2604
Well of course now a user wants to build their own mpich at EPFL, what is the outlook for this fix?  In the meantime I'll just tell them to revert the commit

[2017-04-25 18:57] raffenet commented on #2604
I think the real solution here is to contribute the BG/Q PMI implementation into MPICH and select it at configure time. That way we can select/provide the right header. Specifying `--with-pmi=none` only worked because we always supplied the PMI headers in the past.

@mblockso's suggestion to distribute/build the PMI library independently is the right thing to do, but I don't have an estimate for w

[2017-04-25 19:02] raffenet commented on #2604
Just to reiterate, I don't want to go back to always providing the PMI headers, as it breaks existing external libraries such as Cray PMI.

[2017-04-25 20:21] mblockso commented on #2604
Sounds good .. Could we get a pmi "hydra" client library first? then Paul and I could hook in a bgq implementation fairly easily.

[2017-04-27 06:58] pkcoff commented on #2439
Here is excerpt from the simple test I wrote / modified for this based on isendselfprobe.c but easier to debug for me just doing MPI_Probe instead which blocks until the match – rank 0 does mpi_isend to rank 1, rank 1 probes for msg from rank 0 first before receiving it (works fine with pami build):  eg:

   if (rank == 0) {
        MPI_Isend(&sendMsg, 1, MPI_INT, 1, 0, MPI_COMM_WORLD, &request);

[2017-04-27 16:19] mblockso commented on #2439
I don't understand how the bgq provider behavior is incorrect. This is what the fi_tagged man page (https://ofiwg.github.io/libfabric/master/man/fi_tagged.3.html) states for the `FI_PEEK` flag:

I think the "successfully" bit here is wrong .. the peek operation just checks if the matching message has arrived or not, then it posts a completion/error event. The peek operation does not remained queue

[2017-04-27 17:46] raffenet commented on #2439
All netmod level probes are nonblocking. The loop for blocking probe happens at the CH4 level (https://github.com/pmodels/mpich/blob/master/src/mpid/ch4/src/ch4_probe.h#L34), which should do as you describe - post another `trecvmsg` each time it calls down into `MPIDI_NM_mpi_iprobe`.

[2017-04-27 19:39] pkcoff commented on #2439
Per the discussion Mike and I and Ken had there was a discrepancy on the ofi side for auto vs manual mode in handling the error queue, in the manual mode way we were handling it the auto mode way, should be using the fi_bgq_cq_enqueue_err function which will properly handle for both modes, had a bug in there with locking i fixed and then it now works for my mpid_probe testcase, i put trace in ch4/

[2017-04-27 20:22] raffenet commented on #2439
Cool, sounds like you've got a handle on it. :+1:

[2017-04-29 18:39] pkcoff commented on #2439
Fixed in ofi, regression tests passed, waiting on user confirmation before I close this issue:
https://github.com/ofiwg/libfabric/pull/2946

[2017-05-03 13:54] pkgw commented on #1782
My colleagues and I have run into this problem and have traced it down a bit.

Mpich's `mpirun` does indeed seem to have a bug where it sets the `O_NONBLOCK` flag on the stdout/stderr file descriptors of `mpirun` in common modes. These settings linger after `mpirun` exits. However, **this bug does not generally surface because bash has code that turns the non-blocking flags of its attached streams

[2017-05-03 13:56] pkgw commented on #1782
Also, from what I've seen, it seems as if the flag only gets turned on when the `mpirun` process *exits*, not at startup.

CC @guillochon

[2017-05-03 17:56] roblatham00 commented on #2338
thanks for the pull request.

[2017-05-03 17:56] #2338 closed

[2017-05-03 21:26] monicasee opened #2619 "Adding hostname in PMI kvs name."
The PMI kvsname currently consists of only `pid` and `kvsnum`, which may not be unique if processes are spawned by multiple mpiexec on different node. It should really have the hostname as well, as the comment in function `fPMIKVSAllocate` in file src/pm/util/pmiserv.c.

[2017-05-08 17:22] pkcoff commented on #2439
Finally got confirmation from the user that the iprobe is fixed, closing.

[2017-05-08 17:22] #2439 closed

[2017-05-08 19:00] pkcoff commented on #2604
Hey Ken - could you reply to Mike's request?  in the mean time I guess i'll need to add official verbage to this in the README as doesn't appear we'll have a fix soon so users will have to keep reverting this.  thanks.

[2017-05-08 19:41] raffenet commented on #2604
Still no update on when the separate PMI library work will be taken on. @mblockso, when you say a "hydra" PMI library, do you mean a single library that implements the `PMI_<foo>` calls that will work with Hydra? Or do you mean a PMI library that contains multiple "providers" (for lack of a better term), the first of which supports Hydra?

[2017-05-08 20:54] #2605 closed

[2017-05-10 22:33] pkcoff commented on #2604
Per the mpich telecon discussion on pmi today, Ken is going to implement a --with-pmi=bgq option so will be some subconfigure workaround plans to have it by Friday

[2017-05-12 03:46] #2517 closed

[2017-05-19 23:38] nathanweeks opened #2632 "Add Fortran interfaces to fault tolerance extensions"
Currently, the fault tolerance extensions (MPIX_Comm_failure_ack, MPIX_Comm_failure_get_acked, MPIX_Comm_revoke, MPIX_Comm_shrink, MPIX_Comm_agree) are available only in C. I'm involved in a project where we would like to make use of this API in Fortran. I can try creating Fortran procedure interfaces for these in our code, but it would be helpful if these were made available via the Fortran mpi a

[2017-05-23 04:53] pkcoff commented on #2604
The --with-pmi=bgq  workaround works for the bgq build - I guess we'll keep this issue open for the separate pmi lib final solution....

[2017-05-23 05:03] pkcoff opened #2633 "CH4/OFI: Another hang in MPI_(I)Probe on BGQ"
I have run across another hang in the MPI_(I)Probe on BGQ that seems to have the origin of the problem in mpich this time.  Using the latest ofiwg master and doing  a git bisect  on the latest mpich master it seems  commit f3f409cd7570564d44b86e6b93bae2dcffd81b82 :

Date:   Thu Feb 23 10:16:52 2017 -0600

    process. The connection between two process groups is maintained between
    two roots. E

[2017-05-23 21:17] bwbarrett opened #2635 "poor TCP socket buffer defaults"
The tcp netmod sets the TCP send and receive buffers to 128 KiB, which is pretty small for a 10 Gbps network (it's right on the edge of the bandwidth delay product for many virtualized 10 Gbps networks).  More importantly, recent (2.6.7 and later) kernels dynamically tune buffer sizes and seem to get angry (read: perform poorly) if any socket buffer size is specified.  For example, on a pair of c4

[2017-05-24 05:31] pkcoff commented on #2633
i did some debugging today, the reason for the hang seems to be the src_addr in the target context posted for the trecvmsg that the probe is trying to match on is corrupted, so far I can't determine exactly when the corruption takes place, and when I turn my trace on i'm getting failures for both the optimized and debug builds but the src_addr is corrupted differently for debug vs optimized

[2017-05-24 05:42] pkcoff commented on #2633
looking thru the code changes for this dynamic process support commit I don't see anything explicitly that would be an issue, are you somehow assuming a 32-byte context whereas bluegene uses 64?

[2017-05-24 06:25] pkcoff commented on #2633
I was looking thru ofi_types and I see fi_context used in alot of structures, like this one for dynamic tasks:

typedef struct {
    char pad[MPIDI_REQUEST_HDR_SIZE];
    struct fi_context context;  /* fixed field, do not move */
    int event_id;               /* fixed field, do not move */
    int done;
    uint32_t tag;
    uint32_t source;
    uint64_t msglen;
} MPIDI_OFI_dynamic_process_reque

[2017-05-24 14:24] wesbland commented on #2633
Does the BG/Q provider require `FI_CONTEXT2`? If so, I have a patch that enables it sitting in my repository, but I was holding it until more providers supported it. I didn't want to break any providers that do explicit checking of mode bits but haven't updated for `FI_CONTEXT2`.

[2017-05-24 16:31] pkcoff commented on #2633
No, now I remember bgq generates the fi_direct.h and has this:

#ifdef FABRIC_DIRECT
#define FABRIC_DIRECT_ 1

#include "rdma/fabric.h"

struct fi_context {
        void                    *internal[8];
};

#endif

So as long as a pointer is 8 bytes this gives us 64, and we're setting FABRIC_DIRECT...  But seems like there should be a better way to do this, that FI_CONTEXT2 seems like the better w

[2017-05-24 21:15] pkcoff commented on #2633
Met with Ken and Mike --- the issue wasn't context corruption, rather a problem in the fi_trecvmsg implementation on BGQ, we needed to manually set the src_addr in the context to the fi_tagged_msg.addr that mpich is giving to us.  Now it works - ofi fix.  Closing.

[2017-05-24 21:15] #2633 closed

[2017-05-25 15:03] raffenet opened #2637 "Count and displacement calculations MPIR_Reduce_redscat_gather"
Hello,

In the current implementation of Rabenseifner’s algorithm (MPIR_Reduce_redscat_gather) for MPI_Reduce there is a load imbalance across the processes. The reason is non-uniform  distribution of count elements across pof2 processes on the reduce-scatter and the gather steps. The last process pof2-1 is loaded more than others:

for (i=0; i<(pof2-1); i++)
    cnts[i] = count/pof2;
cnts[pof2-1]

[2017-06-05 14:48] ibaned opened #2643 "autogen doesn't work with new Perl (no '.' in @INC)"
Hello,

Using the autotools installed in Ubuntu 17.04, I get the following trying to run `autogen.sh` at commit 3dfe168:

[code]

[2017-06-05 19:49] raffenet commented on #2643
Looks related to this: https://metacpan.org/pod/distribution/perl/pod/perldelta.pod#Removal-of-the-current-directory-(%22.%22)-from-@INC

[2017-06-05 20:42] ibaned commented on #2643
@raffenet confirmed! setting this ahead of time:
[code]
allows me to run `autogen.sh`

As your link points out, this is a short-term workaround and will not be supported forever, so I am changing this issue to request that MPICH be updated to work with this new Perl change. Luckily your link has advice for script authors on how to do that.

[2017-06-06 15:21] #2643 closed

[2017-06-06 16:18] dqwu opened #2645 "bug: MPI_Wait hangs on Blues with derived types for MPI_Irecv"
Test code: https://gist.githubusercontent.com/dqwu/f7995abfae71c6920e52a1fd756d3108/raw/821389c54c139fe1a11b1232dead5c07b699d4e7/test_mpi_wait_derived_type_32p_4io.c
Note: the first 900+ lines are mostly hard-coded offsets and lengths, and the main() function is short.

The conditions are related to:
1) The issue is only reproducible on Blues so far (32 MPI tasks, 2 compute nodes).
2) The two aggr

[2017-06-06 16:32] monicasee opened #2646 "Ch4 shared memory allocation"
Ch4 shared memory allocation uses POSIX shared memory functions with`USE_SYM_HEAP` option. `USE_SYM_HEAP` is enabled when `HAVE_STRUCT_RANDOM_DATA` and `HAVE_RANDOM_R` are set. The current use of`MAP_FIXED` at `mmap` is incorrect.

Here are the possible scenarios on rank 0.
1-a. When `USE_SYM_HEAP` is set, which means random functions are supported, the first rank may generate a valid address (map

[2017-06-09 14:47] #1614 closed

[2017-06-15 18:21] csadlo opened #2654 "bug: mpi_t/cvarwrite.c test case fails when cvars are constant or read-only scope"
The mpi_t_/cvarwrite.c test case is failing when cvars scope is either constant or read-only.

Currently the test case only checks the cvar's binding and datatype before trying to write to it, without regard for whether the scope allows for writing.

The error output when running the test on ill-suited cvars looks like this:

[code]

It looks like this is an opportunity to use a more descriptive e

[2017-06-19 09:16] DjangoPeng opened #2656 "MPI_Comm_connect crashed when using MXM channel"
I am trying this example with MPICH: http://mpi.deino.net/mpi_functions/MPI_Open_port.html
When I use the ch3:nemesis channel over TCP/IP network, it works well.
However, when I use ch3:nemesis:mxm channel over InfiniBand network, it crashes:
[code]
I tried both MPICH 3.2 and 3.3a2, and the error can be reproduced by both versions.
The same error can also be reproduced by running the tests in “tes

[2017-06-19 14:17] raffenet commented on #2656
Unfortunately this functionality is not supported with the MXM netmod at this time.

[2017-06-19 18:48] halimamer opened #2657 "Mention the missing default value information for come configure options"
Some configure options are not specifying which default option is picked up (e.g., `--enable-error-messages`).

[2017-06-19 21:13] dqwu commented on #2645
A simplified test to reproduce the hanging issue on Blues: https://gist.githubusercontent.com/dqwu/02d75cfd202e5463723e222597e3370b/raw/15c7b6fe179d9e17d3aecb5b6b0dcc33a1e2825e/test_mpi_wait_derived_type_32p_4io_simplified.c

Original test code:
IO task 0 (world rank 0): 4 receive requests and 2 send requests
IO task 1 (world rank 8): 0 receive requests and 2 send requests
IO task 2 (world rank 16

[2017-06-20 02:31] DjangoPeng commented on #2656
Thanks for the answer! If not supported, I think it is better to show some explicit information rather than crash directly.

[2017-06-20 23:11] poobarb opened #2659 "fortran: missing interface for MPI_WIN_ALLOCATE etc"
The MPI-3 standard says the following in section 11.2.2 about MPI_WIN_ALLOCATE:

And similarly in section 11.2.3 for  MPI_WIN_ALLOCATE_SHARED:

However, MPICH does not provide these interfaces in the mpi module.

[2017-06-29 14:21] raffenet opened #2665 "hydra: Handle `EADDRINUSE` return from `listen`"
We check for this error when binding the socket, but `listen` can also return the same. We should probably check the sockets code in MPICH for the same situation. Thanks to Steve Krueger <Steve.Krueger@sas.com> for the report.

[2017-06-29 14:36] raffenet commented on #2525
We're past the point of no return on this. Closing the issue.

[2017-06-29 14:36] #2525 closed

[2017-07-12 14:41] raffenet opened #2677 "ch4/ucx: Support embedded UCX library"
Need to add in autoconf magic to build/link a UCX library embedded in the MPICH source directory.

[2017-07-12 17:34] #2427 closed

[2017-07-13 16:09] #2646 closed

[2017-07-14 19:17] raffenet opened #2682 "hcoll: handle leaks || attr usage"
Noticed when running hcoll with `--enable-g`:
[code]
Need to find out why these aren't freed correctly. But also, it may be possible to do everything via the comm commit/free hooks rather than attributes.

[2017-07-22 20:01] pkcoff opened #2689 "CH4/OFI: (Ring Index out of range) in MPIDI_OFI_handle_cq_entries from MPI_Win_unlock on BGQ"
The PlasticNeocortex Mira INCITE project has been evaluating MPICH3-BGQ-OFI mainly because of memory constraints that disallow usage of two-phase collective IO in the bgq driver, but the new one-sided algorithm in MPICH3 does not increase memory footprint so they can actually do collective IO running at 32 ppn.  However, there is a bug where if enough ranks are putting data to a window in the memo

[2017-07-22 22:57] pkcoff commented on #2689
A couple more notes:
1.)  So at 64 ppn I can get that error on just 64 nodes, however at 32ppn I have to run on 2048 nodes and then instead of the error I get a hang in the unlock.
2.) I tried writing a simpler reproducer program which just did the one-sided stuff and it succeeds, so has something to do with the state of stack / one-sided algorithm.
3.) In the process of trying to debug this I put

[2017-07-23 02:22] pkcoff commented on #2689
Oh i should also mention this in manual progress mode.  For auto progress mode, i can run only 16 ppn and it only fails in the cases where I add print trace statements to interupt the timing / stack, with no print statements it seems to always work in autoprogress mode....

[2017-07-24 13:45] #1673 closed

[2017-07-24 17:10] mblockso commented on #2689
FYI @hajimefu

[2017-07-24 19:29] pkcoff commented on #2689
Met with Mike, Ken and Hajime --- most likely issue with multi_recv on mpich or ofi sides, I have todos to gather more info and will be having working sessions with Mike and Hajime hopefully thoughout this week until resolution

[2017-07-27 16:15] #2665 closed

[2017-07-28 19:10] raffenet commented on #2530
@jayeshkrishna I think you had mentioned to me in passing that you may have found the source of this issue. Was that the case?

[2017-07-28 20:10] #2609 closed

[2017-07-31 07:00] mkurnosov commented on #2637
It is required a special processing for the case of comm_size = 1. I will prepare a fix.

[2017-07-31 08:51] gnzlbg opened #2698 "Provide a way to easily bootstrap MPICH"
On systems with unsupported versions of autoconf, automake, and libtool it is _extremely painful_ to bootstrap MPICH. It would be nice if this could be solved, e.g., by providing a script (e.g. `bootstrap.sh`) that automatically fetches the correct versions of `autoconf`, `automake`, and `libtool`, ~~or by using a build system that can be bootstraped easily, like cmake~~ (EDIT: using cmake is prob

[2017-07-31 21:51] knepley commented on #2231
Are you guys going to do something about this? It is causing us a lot of problems.

[2017-07-31 21:53] BarrySmith commented on #2231
This would be a useful feature for us (Preprocessor symbols in mpi.h and Encode in MPI_Get_library_version) in the world of python front ends with a variety of MPI packages underneath being dynamically loaded etc. Then each MPI package as it is being started up could make sure that it is with an ABI matching MPI library or generate an exception/error.

[2017-08-02 00:14] knepley commented on #2437
Does anyone even read these? Should we just stop using MPICH? This is 9 months on. Kids have been born who were not even conceived when we reported this bug.

[2017-08-02 16:45] rtmills commented on #2437
I have run into the same issues with GCC 7.1.0 (installed via HomeBrew on my Mac running Mac OS 10.12.5). Using Apple's provided clang compilers, things work fine. Would be great if this worked with the GCC suite, however.

[2017-08-03 16:25] pkcoff commented on #2689
Resolved, PRs for both mpich:
https://github.com/pmodels/mpich/pull/2702
and OFI:
https://github.com/ofiwg/libfabric/pull/3190
Thanks to Mike and Hajime for their consultation - closing.

[2017-08-03 16:25] #2689 closed

[2017-08-03 16:41] wesbland commented on #2689
Maybe we should wait to close this until the PRs are merged? Usually this gets handled by putting

in the commit message.

[2017-08-06 13:20] nathanweeks opened #2703 "mpi_f08 MPI_Status arguments don't support MPI_STATUS_IGNORE / MPI_STATUSES_IGNORE"
Compiling MPICH (commit ca1f48652a4b157d781f243fb7485e985aa3d675) with the Intel 17.0.2 compilers on the NERSC Edison system (CLE 6.0.UP04), I observe a runtime MPI error ("Null pointer in parameter status") for Fortran programs that use the mpi_f08 module and call an MPI routine with MPI_STATUS_IGNORE or MPI_STATUSES_IGNORE as the actual argument for an argument of type MPI_Status:

[code]

[2017-08-07 15:08] raffenet commented on #2437
@balay is this still reproducible with the latest master branch? This commit (https://github.com/pmodels/mpich/commit/c52614d40f9a141a77bddd9b32a6f501854d6d6f) fixed a bunch of issues on OSX having to do with alignment.

[2017-08-09 22:11] raffenet opened #2713 "Eliminate calls to `MPIR_Handle_obj_*` for creating/freeing objects"

[2017-08-09 22:13] raffenet commented on #2698
We could look at including this script in maint. Would you be able to provide a signed contributors agreement for MPICH before we accept this? http://www.mpich.org/documentation/contributor-docs/

[2017-08-10 00:28] nathanweeks commented on #2632
Since I need this for a project, I've implemented Fortran bindings for the FT interfaces, as well as regression tests:

https://github.com/nathanweeks/mpich-private/compare/master...feature/ft-fortran

If it's possible for this to be accepted into the upstream MPICH codebase, I'd like to start a conversation on what might need to be done before a proper pull request can be submitted.

A few commen

[2017-08-10 14:34] raffenet commented on #2523
Fixed in #2560.

[2017-08-10 14:34] #2523 closed

[2017-08-10 14:35] raffenet commented on #2516
Is this still an issue? If so, can we get a small reproducer to help debug the problem?

[2017-08-10 14:35] yfguo commented on #2588
I think PR #2681 solved this problem on the point-to-point path. The rest is to determine how are we going to change the RMA path to the same logic.

[2017-08-10 15:00] Bayyapu opened #2715 "bug/jenkins: test/mpi/errors/datatype/getcnterr.c fails with #2697 PR"
test/mpi/errors/datatype/getcnterr.c fails and is being marked as getcnterr 1 xfail=ticket2697 in test/mpi/errors/datatype/testlist for consistency. This is observed when pull request #2697 is tested on Jenkins.

[2017-08-10 15:26] gnzlbg commented on #2698
@raffenet I've just sent the signed agreement to the email address (says the message is awaiting moderator approval).

Shall I just send a PR with the script?

[2017-08-10 15:47] raffenet commented on #2698
Yes, a PR would speed up the acceptance process. Thanks!

[2017-08-10 17:20] gnzlbg commented on #2698
@raffenet I've sent a PR.

[2017-08-10 18:06] #2698 closed

[2017-08-10 18:41] raffenet commented on #2436
@balay do you know when this last worked? I also notice issues with `--disable-weak-symbols --disable-shared` on Linux.

[2017-08-10 19:18] balay commented on #2437
I see this issue with latest mpich master a5abbc071
[code]

[2017-08-10 19:23] balay commented on #2436
We default to mpich-3.2 on OSX and have not upgraded to 3.3a2 - due to this issue ( petscbot message above points to the relavent change in petsc)

[2017-08-10 19:58] balay commented on #2436
BTW: This issue still exists in mpich master a5abbc0

[2017-08-10 20:32] raffenet commented on #2437
OK, thanks for confirming. We will take a look.

[2017-08-10 20:32] raffenet commented on #2438
@pkcoff Is this still an issue?

[2017-08-14 12:53] wesbland commented on #2632
Go ahead and create the pull request and then we can have the conversation there. @raffenet / @yfguo can tell you what should and shouldn't be there, but in general, MPICH doesn't have merge commits so you'll need to squash your commits down to remove that. Probably all three commits can be squashed down to one commit since the last one just looks like a fix for the first one.

[2017-08-14 13:00] wesbland commented on #2715
To attach code, I'd recommend using a Gist instead of a PDF since it's a lot easier to view/edit. A pull request is good too.

[2017-08-14 13:27] nathanweeks commented on #2632
Done: https://github.com/pmodels/mpich/pull/2719

[2017-08-14 17:32] pkcoff opened #2720 "ch4/ofi: improvements to the FI_MULTI_RECV active message processing model"
Via the investigation I did for  https://github.com/pmodels/mpich/issues/2689 it is apparent to me that the whole active message processing model using FI_MULTI_RECV is fundamentally broken for auto-progress and offloaded architectures, as well as creating memory footprint problems for the new ch4 mulit-threading utilizing scalable endpoints.  The basic methodology is to post N buffers of M size a

[2017-08-14 17:46] raffenet commented on #2720
I'm not sure I'm following the argument here. Won't MPICH still be polling for completions in either progress mode and thus reposting MULTI_RECV buffers once all the messages are consumed?

Also, what are "offloaded architectures" offering in terms of functionality that we need to account for?

[2017-08-14 17:51] raffenet commented on #2720
I'm pulling out this quote from your issue:
[code]
Isn't the solution to just simply make re-posting part of this flow?

[2017-08-14 17:59] pkcoff commented on #2720
Yeah, maybe instead of 'fundamentally broken' should be will need changes, if all the am buffers are full the unexpected queue will continue to grow, at some point that will become an issue, I was talking with @mblockso about this today maybe he can comment...

[2017-08-14 18:25] shawnccx opened #2721 "Supporting Message Queue Dumping Interfaces for CH4"
Message Queue Dumping (MQD) interfaces are not supported for CH4. Existing code of `mpi/debugger/` is hard-coded with `MPIR_Request` in CH3 implementation. For example, in https://github.com/pmodels/mpich/blob/master/src/mpi/debugger/dll_mpich.c, line 306-349, MQD interfaces use CH3-defined structures and fields to extract info of posted/unexp queues.

Also, existing code of MQD uses `MPIR_Request

[2017-08-14 18:46] raffenet commented on #2437
@balay can you try #2718 and see if this issue goes away? I'm not sure if I'm treating the symptom or the disease, but it fixed what I was able to reproduce in my test environment.

[2017-08-14 19:03] mblockso commented on #2720
I think it is hardware-specific what happens when all multirecv buffers are exhausted and another packet comes in from the fabric. Some hardware may drop the packet and then go into some kind of flow-control re-transmit mode (how does it maintain order??) and others may just blow up. This could happen if the completion queue is not drained sufficiently fast enough so that the multirecv buffers can

[2017-08-14 19:42] pkcoff commented on #2720
Discussed with Ken on the call today, nothing should be fundamentally changed to support threading and scalable endpoints, provider needs to deal with the issue of having no available am buffers, will look at tuning (eg number of buffers, size of buffers, provider implementations - eg in the case of BGQ the ratio of polling rfifo to processing completion q is like 8:1 could change that, etc.  http

[2017-08-14 20:17] raffenet commented on #2720
Were these scaling experiments in the AM-only configuration? Or was this native and the applications were generating lots of non-"native" messages?

[2017-08-14 20:25] balay commented on #2437
Tried  raffenet:sched-dump -  the examples don't crash anymore

[2017-08-14 20:36] mblockso commented on #2720
Not AM-only .. AM is used for the RMA code and other stuff like large message protocol, sync send acks, etc.  So it really isn't a question of native vs. non-native messages.

[2017-08-14 20:42] pkcoff commented on #2720
The test that exposed the bugs was a passive rma flood of incoming window locks and unlocks (non-native traffic) to the same rank

[2017-08-15 17:07] raffenet commented on #2720
Ah, an incoming flood. Sounds similar to behavior that triggered flow control events on Portals 4 in the past. @charlesarcher and @wesbland had proposed some progress loop threshold controls in the past in https://github.com/pmodels/mpich/pull/2361. Would these be useful at all?

[2017-08-23 05:31] pkcoff opened #2725 "ROMIO: utilization of multiple threads for collective IO aggregation algorithms"
With the work going on for enhanced CH4 multi-threading it has become apparent to me, at least in the case of the ROMIO one-sided collective aggregation algorithm, that multi-threading can have a significant impact on performance for data patterns that are highly discontiguous (procs sending huge numbers of discontiguous data chunks to several aggregators during each round of collective io, the cl

[2017-08-24 16:12] #2635 closed

[2017-08-25 18:28] pkcoff commented on #2725
Multi-threading would be of most benefit for the read I think, as the aggregators there are very computationally and network-injection bandwidth sensitive, with the data going from just a few aggregators to potentially the entire partition, i think this is can be a major bottleneck for current serial read performance for certain io patterns.

[2017-08-25 20:59] raffenet commented on #2725
@pkcoff in your one-sided aggregation implementation, what is the mapping of windows to aggregators? Is one big window and each aggregator contributes a portion? Or is there one window per aggregator?

[2017-08-25 21:13] raffenet commented on #2725
The reason I ask is that currently we are looking at allocating VNIs per communicator. Since MPICH duplicates the communicator used to create a window, each window by default will get its own tx/rx context (at least until we run out and wrap around).

So for a window-per-aggregator scheme, there will be some built-in parallelism. Processes that send data to multiple aggregators will utilize multip

[2017-08-26 03:39] pkcoff commented on #2725
On a rank designated as an aggregator there is 1 window over the collective buffer --- there is at most 1 aggregator for a give rank so to speak.  Depending on options there could also be a second window over a byte counter  for the amount of data moved on the aggregator.  We only really need 1 VNI for each window for the management, since i think the idea is just thread 0 / channel 0 would be doi

[2017-08-27 20:55] nathanweeks opened #2731 "MPI_FILE_IWRITE limit < 2 GiB bytes"
In the following program, MPI_FILE_IWRITE produces an assertion failure when writing 2^29 integers (well before the 2^31-1 limit imposed by the default integer "count" argument), while MPI_FILE_WRITE completes without error for a write of 2^31-1 integers:

[code]

Resulting output when the resulting executable is launched with ```mpiexec -n 1```:
[code]

Test environment: NERSC Edison system (Cray

[2017-08-29 16:29] raffenet commented on #2231
I've been thinking some more about this. IMO preprocessor symbols in `mpi.h` cannot be done sanely. Any update to a symbol value in `mpi.h` would be an ABI breakage itself.

Exposing ABI as a string in `MPI_Get_library_version` is doable, I suppose, but I'm not sure that's enough for what you guys are trying to do.

[2017-08-29 16:31] BarrySmith commented on #2231
I'm fine with getting the info from with MPI_Get_library_version

[2017-08-31 16:07] Bayyapu commented on #2530
The above issue occurs with ch4-UCX on ACME queue on Blues. Adding bind-to core option resolves the performance issue. This option avoids over subscription of the resources in ch4-ucx with the progressive threads.

[2017-09-13 22:24] minsii opened #2745 "CH4/UCX: RMA tests timeout"
Jenkins consistently reports timeout RMA tests. This might be related to recent UCX update.

[2017-09-14 14:35] raffenet opened #2746 "build/jenkins: ch4/ofi: spaiccreate2 test failures"
[code]

[2017-09-18 15:16] hajimefu commented on #2570
Related: #2742

[2017-09-21 22:17] yfguo opened #2752 "CH4 SHMMOD support for RMA operation"
CH4 saves addresses of processes (network/shm) and passes them when calling the netmod or shmmod function. In order to avoid using extra space or translation when a process has both a network address and a shm address, we would like to allow the shm address to override the network address in the global address vector. However, this only works if the shmmod can do RMA operations.

[2017-09-23 20:01] gladkovdmitry17 opened #2754 "Compilation failure on Windows"
The compilation fails on Windows with the following output (Intel C++ Compiler 15.0):

[code]

[2017-09-25 14:30] #2754 closed

[2017-09-26 02:14] raffenet commented on #2731
@nathanweeks thanks for this. The assertion and conversion back to `int` looks incorrect to me. Instead, we should probably change the `len` argument type for `ADIOI_GEN_aio`, which eventually stores the length in a `size_t` variable. CC: @roblatham00

[2017-09-26 13:35] roblatham00 commented on #2731
It's weird where ROMIO did and did not check for very large data amounts.    By now, nothing should have to worry about 2Gib+ transfers.   I'm claiming this ticket and will check the rest of the code for similar assertions before  resolving.

[2017-09-27 17:41] #2588 closed

[2017-09-27 17:49] raffenet commented on #2637
@Bayyapu there is a second part to this ticket that involved the construction of the cnts and displs buffers. Can you look into that part?

[2017-09-27 21:59] raffenet opened #2758 "MPIR_Comm_commit: Consider moving moving device hooks after upper-layer logic"
The current setup may be hindering collective selection logic. cc @AlexeyMalkhanov

[2017-09-28 09:27] mkurnosov commented on #2637
Hi, summation of the cnts[i] on each step of the reduce-scatter takes O(log(p)) time. This algorithm can be implemented without using of this arrays. See original paper and implementation: R. Rabenseifner --   https://fs.hlrs.de/projects/par/mpi/myreduce.html

[2017-09-28 13:53] raffenet commented on #2619
@gcongiu this ticket might help you get familiar with `mpiexec` aka Hydra in MPICH.

[2017-09-28 14:53] raffenet commented on #2533
This leak is gone in the current version. Closing ticket...

[2017-09-28 14:53] #2533 closed

[2017-10-05 17:42] Bayyapu commented on #2637
The present implementation is also based on Rabenseifner’s algorithm. In my opinion the current implementation is good as it is and does not cause any performance degradation or increases the memory usage.

[2017-10-05 18:28] pavanbalaji commented on #2637
@mkurnosov We use O(log(P)) arrays, not O(P) arrays for storing counts.  I'm not sure I understand the space concern you are raising.  Can you point to the exact code location?

[2017-10-06 00:55] mkurnosov commented on #2637
@pavanbalaji `MPIR_CHKLMEM_MALLOC(cnts, int *, pof2*sizeof(int), mpi_errno, "counts");`
pof2 ~ P

[2017-10-06 03:07] mkurnosov commented on #2637
@pavanbalaji  IMHO, in worst case: pof2 == P == commsize
`/* find nearest power-of-two less than or equal to comm_size */
    pof2 = 1;
    while (pof2 <= comm_size) pof2 <<= 1;
    pof2 >>=1;`

[2017-10-06 11:48] pavanbalaji commented on #2637
@mkurnosov Oh, you are right.  I was interpreting `pof2` as `x` in `2^x == comm_size`, but it's actually `2^x`, which is `O(P)`.  Nevermind.  We'll look into it.

[2017-10-06 15:41] halimamer commented on #1604
I am not sure what was broken in 2012, but currently building with `rlog` breaks as early as at the configure stage.

[2017-10-06 15:52] raffenet commented on #1604
Lena had worked on this off and on. But it never got merged. There is a branch `mpich-review/jenkins/most/rlog` you could try...

[2017-10-10 16:27] wesbland opened #2776 "Fix race condition with Window and Communicator-based collectives"
Because `MPIR_Win` objects share a `comm_ptr` with the communicator from which they're created, there is a race condition that's possible when doing RMA collectives (like `MPI_WIN_FENCE`) overlap with regular collectives (like `MPI_BARRIER`).

There's a test for this case that came from #2506 in c55632e.

[2017-10-10 16:45] pavanbalaji commented on #2776
I prefer option 1.  Much more maintainable.

[2017-10-10 17:09] wesbland commented on #2776
BTW, digging a bit more, it seems that we're already duplicating the communicator in CH3:

https://github.com/pmodels/mpich/blob/2c5df4acccbc90d041e2c5f12927a0cc991706c9/src/mpid/ch3/src/mpid_rma.c#L274

So I guess we should stick with that.

[2017-10-11 18:52] #2776 closed

[2017-10-11 22:38] minsii opened #2783 "Add window info hint to avoid per-epoch target reallocation"
Recent commit [7abd84](https://github.com/pmodels/mpich/commit/7abd84e6475f779a215d6903a6d087f584e81942) introduced the RMA memory optimization that allocates per-target object at every `lock` call or at the first operation issuing for `pscw` or `lockall` epochs. Those objects are always released at the epoch end call.

Although this enables the `extreme-memory-saving` mode,  it might also increas

[2017-10-12 20:54] pavanbalaji opened #2786 "Hydra slurm integration failure"
Hydra's parsing of slurm node list is quite fragile.  It currently looks for node lists in the following formats:

[code]

Some machines (such as Bebop) use the following format: `host-[001-002]` which is not recognized by Hydra, resulting in failure in detecting the allocated nodes.

[2017-10-13 14:43] wesbland opened #2787 "Remove FCNAME and FUNCNAME macros"
The FCNAME and FUNCNAME macros have been in MPICH for a long time because the team wanted to avoid depending on C99's `__func__` variable. We agreed a while back that since we're using other C99-isms, this would be another good one to pick up.

[2017-10-17 20:15] yfguo opened #2793 "Doc has inaccurate description on `recvcount` for MPI_Igather"
reported by Hugo TABOADA <hugo.taboada23@gmail.com>
[code]

[2017-10-17 20:17] yfguo commented on #2793
I checked the code and the standard, and confirmed the issue.

[2017-10-18 19:06] #2793 closed

[2017-10-19 20:07] roblatham00 opened #2795 "document info keys"
The keys need to be documented.  It's a pain to document by hand: let's do something like what CVAR does, with comment blocks and such.

Documentation needs to give
 * the hint name,
* any aliases
* general descriptoin
* specifically what functions it impacts

[2017-10-23 17:27] dqwu opened #2800 "bug/romio: PnetCDF API ncmpi_get_varn_double_all() fails AddressSanitizer check with ROMIO's NFS driver"
This issue can be reproduced on ANL MCS workstations with the simple test code shown below.

This example uses GCC 6.2 and MPICH 3.2 (built with GCC 6.2) provided by softenv on MCS workstations, so you should have "+gcc-6.2.0" and "+mpich-3.2-gcc-6.2.0" in your ~/.soft before you run resoft.

The compile and run commands are:
[code]

Content of test_pnetcdf_ASan.c:
[code]
The ASan output will be s

[2017-10-23 19:08] dqwu commented on #2800
I have contacted Wei-keng Liao and he suggested to redirect this issue to MPICH. His comment is:

It has been verified that the "ufs:" prefix workaround can bypass the issue. However, this is still a possible memory corruption inside ROMIO's NFS driver.

[2017-10-24 21:41] gladkovdmitry17 commented on #2746
What provider is used for this test to cause the reported failure? Thanks!

[2017-10-24 21:45] hajimefu commented on #2746
I confirmed this with sockets.

[2017-10-26 09:57] andrahugo opened #2806 "MPI_File_open changes the seed of the random"
Calling random() in two different MPI processes, without specifying the seed returns the same value for both processes.
However when calling random interleaved with MPI_File_open calls, random will provide different values in the two different processes, which  goes against the expected behavior.

I made a very simple test:
`int main(int argc, char *argv[])
{
    MPI_File fh;
    int buf[1000], ra

[2017-10-26 20:33] yfguo opened #2809 "Asynchronous progress support with Argobots"
The asynchronous progress thread is created by the MPL_thread_create. The current implementation with Argobots support set the MPL_thread_create as a no-op. We need to do two things.

1. Implementing the proper thread creation with Argobots.
2. Study the impact on the async progress.

[2017-10-27 13:39] wesbland opened #2811 "comm/cmsplit_type 4 test failing on CH4"
Something that went into master between [Oct 21](https://jenkins.mpich.org/view/nightly-master-ch4/job/mpich-master-ch4-ofi/174/) and [Oct 23](https://jenkins.mpich.org/view/nightly-master-ch4/job/mpich-master-ch4-ofi/175/) broke `comm/cmsplit_type`. Haven't bisected yet to find the problem.

[2017-10-27 15:59] #2354 closed

[2017-10-27 16:35] jeffhammond commented on #2471
Is this fixed in any release?  https://travis-ci.org/jeffhammond/armci-mpi/jobs/277872595 indicates it is broken in MPICH 3.3a3 w/ Clang 3.9.

[2017-10-27 16:58] jayeshkrishna commented on #2800
I can reproduce this issue on my laptop (not sure if it is a valid configuration though) with mpich-3.2+pnetcdf1.8.1 by manually prepending "nfs:" to the filename in the test case above. The stack trace has more information,

[code]
The code fails during memcpy in ADIOI_BUFFERED_READ macro

[2017-10-27 17:02] jayeshkrishna commented on #2800
A smaller modified version of the code is also included below that reproduces the issue,

[code]
Note that in the code above if you replace ncmpi_get_varn_double_all() with ncmpi_get_varn_float_all() the issue goes away. Also if you change the count,
from counts[1][2] = 2 to counts[1][2] =1 , the issue goes away.
Also, note that the example codes above implicitly assume varid=0 points to the
only

[2017-10-27 17:06] jayeshkrishna commented on #2800
FYI, Some more info on the issue is added above - @roblatham00

[2017-10-27 18:16] raffenet commented on #2471
Fixed in master but not yet in a release. You could try a nightly tarball.

https://github.com/pmodels/mpich/commit/1ec72196306bd070819d39f19a8b020db3095fb2

Ken

On 10/27/2017 11:35 AM, Jeff Hammond wrote:

[2017-10-27 18:17] raffenet commented on #2471
Oh, sorry I didn't realize you were commenting on this issue. No, not yet in a release. SC release will have the fix...

[2017-10-27 18:45] raffenet commented on #1782
@pavanbalaji I am able to reproduce this bad behavior with bash 4.4 on OSX as suggested. I think we should consider #2755 for inclusion in 3.3 and 3.2.1.

[2017-10-27 19:04] #1782 closed

[2017-11-01 19:08] raffenet commented on #2786
@gcongiu it is probably working looking for an external library that can do this parsing for us before we commit to coding it ourselves.

[2017-11-01 19:38] gcongiu commented on #2786
@raffenet ok I will look around

[2017-11-08 14:40] wesbland commented on #2677
This was closed by #2763 right?

[2017-11-08 15:23] raffenet commented on #2677
Yup. Closing.

[2017-11-08 15:23] #2677 closed

[2017-11-08 16:12] raffenet opened #2853 "ch4: Win allocate shared"
Right now much of the `MPI_Win_allocate_shared` functionality is duplicated in `ofi_win.h` and `ch4r_win.h`. It also directly uses POSIX shm interfaces directly, rather than the MPL wrappers. Need to do an overhaul of this to make it more sane.

[2017-11-08 16:16] pavanbalaji commented on #2853
Is there a reason why `MPI_Win_allocate_shared` needs to be overridden by the netmod at all?  Is there something special the netmod can do about it?  I can understand that the shmmods can do something better (e.g., xpmem).

[2017-11-08 16:19] wesbland commented on #2853
If you're using `--with-ch4-shm=yes` mode, everything goes through the netmod before it goes to the shmmod. It's possible that the netmod might be handling shared memory too. For instance, OFI is exploring various ways of supporting shared memory. I don't know if they'll be something that we want to use in the future or not, but it's always a possibility.

[2017-11-08 16:22] hajimefu commented on #2853
Thanks for bringing this up. It has been in a list of RMA cleanup since I was working on it with Lena, but at some point it was dropped from our list.

My preference at this point is to abandon the OFI netmod implementation of `Win_allocate_shared`. In future, if somebody comes up with a netmod-specific optimization, then he/she can implement it.

[2017-11-08 16:28] wesbland commented on #2853
I don't disagree with this, but I don't think we should remove the ability to have it. For now, it can just be a passthrough.

[2017-11-08 18:11] pavanbalaji commented on #2853
@wesbland what does "removing the ability to add it" mean?  If we don't add a netmod hook for now, we can always add it later when we need it.

[2017-11-08 18:36] wesbland commented on #2853
Oh. I thought we were talking about taking out a function that already existed.

[2017-11-08 19:06] hajimefu commented on #2853
@wesbland Yeah, that was my intention too. Thanks for clarification.

@raffenet Right now CH4R/OFI netmod both use `shm_open(3)` and `mmap(2)`, which are POSIX shm interfaces rather than SysV IPC. Nemesis, however, uses SysV IPC through some wrappers. Are you saying POSIX (`shm_open(3)` and `mmap(2)`) is preferable? We should use them through some (possibly MPL) wrappers, though.

[2017-11-08 19:09] pavanbalaji commented on #2853
I think this should use `MPL` functions and let `MPL` deal with `mmap` vs. `sysv` vs. whatever other POSIX functionality it wants.  If a shmmod wants to use something else (e.g., xpmem), then it'll need to override that functionality.

[2017-11-08 19:19] hajimefu commented on #2853
@pavanbalaji yes, you're right.

[2017-11-12 01:05] minsii opened #2860 "Error occurs when multiple processes exchange large messages via CH3 nemesis shared memory."
When multiple processes (>=4) exchanges large messages (>= 80000bytes) multiple times (=100) via CH3 nemesis shared memory LMT routine, the following error occurs on both osx and ubuntu. Will simplify a test program.
On osx (mpich-mac1.mcs.anl.gov), np=8.
[code]
On ubuntu (14.04.5, travis), np=4.
[code]

[2017-11-13 15:39] wesbland opened #2862 "Remove MPIR_Barrier_group"
During the collectives work @pavanbalaji realized that we never use `MPIR_Barrier_group` and it doesn't need to be around anymore.

[2017-11-13 21:41] wesbland opened #2866 "Add Algorithm Protections for Collective Framework Algorithms"
Add checks for any algorithms with specific requirements like those that require a power of 2.

[2017-11-15 13:48] RozanovAnatoliy opened #2870 "build: ch4 failure with --enable-thread-cs=per-object --with-device=ch4:ofi"
I can not build mpich with --enable-thread-cs=per-object --with-device=ch4:ofi:

[code]

[2017-11-20 13:55] raffenet commented on #2316
This was fixed in 9a8c8b2401fead9c240640b54ec84bb8b821261e. Closing.

[2017-11-20 13:55] #2316 closed

[2017-11-21 12:41] FyodorK opened #2873 "Problem with mpich building on autogen stage"
Hi,
I'm trying to build the mpich now.
I performed:
mybuildhost$ git clone --recursive https://github.com/pmodels/mpich.git
mybuildhost$ ./autogen.sh

and got following error:

## Checking submodules

===> ERROR:   Submodule src/hwloc is not checked out
I looked to the folder but it's not empty

.gitmodules contains:
[submodule "src/hwloc"]
	path = src/hwloc
	url = https://github.com/pmodels/hwloc

[2017-11-21 14:25] raffenet commented on #2873
To properly initialize all submodules, you should do:

Try that and see if `autogen.sh` will succeed.

[2017-11-21 15:07] FyodorK commented on #2873
Unfortunately it doesn't  succeed.
My colleague gave me this hash - 2f32a1cd5, when I check out from it, all looking  good and workable just out-from-box. Mb it gives you some clues regarding the issue.

[2017-11-21 15:22] raffenet commented on #2873
If you used submodules in the past and updated with yesterday's changes, you might need to do a

to ensure git is getting submodules from the new location. Does that help?

[2017-11-21 19:37] hajimefu commented on #2516
@pkcoff I'm not sure if this is still an issue, but our recent patches #2876 completely rewrote the RMA datatype handling (`MPIDI_OFI_win_datatype_unmap` no longer exists, for example), so it may be worth trying. Also we've recently fixed several failures in ARMCI-MPI test cases.

CC: @shawnccx

[2017-11-22 09:23] FyodorK commented on #2873
No it doesn't work too.

[2017-11-23 01:29] balay commented on #2437
@raffenet I don't see this fix in newly released mpich-3.2.1. Will there be  mpich-3.3a3 or similar release with the fix?

[2017-11-27 03:13] raffenet commented on #2437
Hmm, you are right. We must have scanned past it because it didn't have "fix" in the commit message. We have discussed doing another bug-fix release in the 3.2 series soon because of a Slurm integration issue in Hydra. We could include this, as well.

Otherwise, yes, we will have a 3.3 series release (probably beta) out sometime before end of the year.

[2017-11-27 16:33] wesbland opened #2878 "Add ability to specify a file with CVARs"
As the number of CVARs has started ballooning, particularly with the new collectives features, managing these with environment variables on the command line is getting more and more difficult. It'd be great to be able to pass in a file with all of the CVARs so it would be easy to replicate later.

[2017-11-27 17:28] raffenet commented on #2437
@balay actually, does this issue occur with the 3.2.x series? The sched code has been shifted around significantly in master, making the patches in #2718 hard to apply.

[2017-11-27 17:45] balay commented on #2437
Yes the problem exists in 3.2.x.
I had tried 3.2.1 last week - and could see this issue.

On Mon, 27 Nov 2017, Ken Raffenetti wrote:

[2017-11-27 17:47] balay commented on #2437
Sure I can skip 3.2 and use the  3.3 beta tarball.

Alternative is to use a 3.3 snapshot tarball - which I'm trying to avoid..

On Mon, 27 Nov 2017, Ken Raffenetti wrote:

[2017-11-28 13:29] minsii opened #2880 "CH3/RMA: testall returns error with request-based RMA."
[mpi_testall.c.txt](https://github.com/pmodels/mpich/files/1510026/mpi_testall.c.txt)
MPI_Testall returns error code for request-based RMA but the request is actually successfully completed. This is a simple bug in request-based RMA. Attached program can reproduce the bug. Thanks for the report and the reproducer program contributed by Joseph.

[2017-11-28 17:38] hajimefu commented on #2880
@minsii Are you going to add this to the test suite?

[2017-11-28 18:16] minsii commented on #2880
@hajimefu : Yes. I will make a PR later today.

[2017-11-28 18:58] hajimefu commented on #2880
Good to hear that. Thanks! I'm curious if this also affects CH4.

[2017-11-28 19:47] minsii commented on #2880
I think so. This is actually a simple bug in the mpi layer. In function `MPIR_Request_get_error`, the case option for RMA type request is missing. I will add the fix within the PR.

[2017-11-29 21:36] #2783 closed

[2017-12-01 15:15] #2880 closed

[2017-12-06 18:06] yfguo opened #2889 "Replace the obsolete `gethostbyname` with `getaddrinfo`"
`gethostbyname` is obsolete and does not support IPv6. It should be replaced by `getaddrinfo` per POSIX.1-2008
- [ ] create MPL version
- [ ] fix checking in configure
- [ ] replace obsolete version

[2017-12-06 19:12] pavanbalaji commented on #2889
This should be done in `MPL` and used in both `mpich` and `hydra` consistently.

[2017-12-08 04:01] #2786 closed

[2017-12-08 20:58] szhao8 commented on #2889
Hi, Yanfei & Pavan,
Thank you for your comment. Just friendly reminder:
If you have the other functions listed below which only support ipv4, please also replace them together to make sure MPICH can work properly under IPV6 environment.
IPV4                                                                          IPV6
gethostbyname/getservbyname                              getaddrinfo
gethostbyad

[2017-12-14 20:08] ericch1 opened #2892 "BUG with ROMIO on NFS since commit b4ab2f118d"
Hi,

since commit b4ab2f118d (nov 8), I have one MPI I/O test that is returning an error, but only on an NFS parition.

When I try to run my attached example on NFS, I have the following error code:

<pre>
error #812707360
Other I/O error , error stack:
ADIOI_NFS_READSTRIDED(523): Other I/O error Success
</pre>

that is returned by MPI_File_read_all_begin

When I try on a local disk, everything is

[2017-12-14 20:33] ericch1 opened #2894 "On MPI_File_open, valgrind warns: "Warning: invalid file descriptor -1 in syscall read()""
Simply calling MPI_File_open generates this warning:

==54325== Warning: invalid file descriptor -1 in syscall read()
==54325==    at 0x53E2CB0: __read_nocancel (in /lib64/libc-2.19.so)
==54325==    by 0x5041606: file_to_info_all (system_hints.c:101)
==54325==    by 0x5041606: ADIOI_process_system_hints (system_hints.c:150)
==54325==    by 0x50311B8: ADIO_Open (ad_open.c:123)
==54325==    by 0x501

[2017-12-15 15:54] akhillanger commented on #919
So, instead of checking the total size being gathered, should we use average msg size per rank as the determining factor for algorithm selection? Are you ok with that? We will also have to change the msg threshold values, currently they are for total_count.

[2017-12-15 16:19] akhillanger commented on #2862
This has now been already taken care of in the prereqs pull request. The issue can be closed once that gets merged.

[2017-12-15 16:25] wesbland commented on #2862
https://github.com/pmodels/mpich/pull/2859

[2017-12-15 21:36] pavanbalaji commented on #919
Can you create a separate PR for new algorithm selections?  That's orthogonal to this PR.

[2017-12-15 21:54] wesbland commented on #919
This isn't a PR.

[2017-12-18 17:24] ericch1 commented on #2894
Hi,

I modified my compilation on MPICH to add CPPFLAGS='-I/mypath_to_myvalgrind/includes' like prescribed here: https://wiki.mpich.org/mpich/index.php/Support_for_Debugging_Memory_Allocation

But I still have the issue.

Please see my configuration logs:

http://www.giref.ulaval.ca/~cmpgiref/dernier_mpich/mpich-3.2.1_debug_valgrind_erable/config.log
http://www.giref.ulaval.ca/~cmpgiref/dernier_mp

[2017-12-21 15:38] FyodorK commented on #2873
I've made git pull, it is still building but autogen stage has succeeded. So I think the issue is solved. Somehow.

[2017-12-21 15:38] #2873 closed

[2017-12-25 16:54] akhillanger commented on #2866
This is being taken care of in PR #2907.

[2017-12-26 22:47] akhillanger commented on #2637
I think PR #2639 addressed this issue, but the code from that PR has not been merged.

[2017-12-27 04:21] Jiadun opened #2913 "hydra: inactive hydra_pmi_proxy"
To whom it may concern,

Problem summary: many inactive processes hydra_pmi_proxy during the running of mpirun.mpich -np 1 python etisp.py, Then the number of inactive processes hydra_pmi_proxy would exceed the limit number that a CPU would permit.

On my laptop I use

mpirun.mpich -np 1 python etisp.py

The process hydra_pmi_proxy spawned in

    for j in range(1):
        partsims.append(MPI.COM

[2018-01-05 08:11] ggouaillardet opened #2915 "MPI-IO issue with odd derived datatypes"
As initially reported on [Stack Overflow](https://stackoverflow.com/questions/48094772/am-i-misusing-mpi-file-write-all) the test program below crashes when ran with one MPI task and on an `ext4` filesystem.

[code]

It seems the root cause is the second integer has an offset lower than the first one, and this causes `ADIOI_GEN_WriteStrided` to write __before__ the beginning of `writebuf`

The fol

[2018-01-05 08:11] ggouaillardet commented on #2915
@roblatham00 FYI

[2018-01-05 14:04] akhillanger commented on #2866
The corresponding commit has been approved/signed-off and will be merged soon. This issue can now be closed.

[2018-01-05 14:05] akhillanger commented on #2862
This issue can also be closed, since the PR has been merged. I don't seem to have the permission to close issues.

[2018-01-05 14:35] wesbland commented on #2866
The commit message should say "closes pmodels/mpich#2866".

[2018-01-05 14:35] #2862 closed

[2018-01-05 14:36] wesbland commented on #2862
Closed with fd9c0d7f636accb9c7dd056f1b971029d4d53cf1

[2018-01-05 19:30] wkliao commented on #2915
MPI requires the displacements be monotonically nondecreasing (MPI 3.1, Chapter 13.3).
A recent discussion can be found in https://lists.mpich.org/pipermail/discuss/2017-August/005260.html
However, ROMIO should report an error, rather than causing programs to crash or hang.

[2018-01-06 19:56] akhillanger commented on #2787
I am working on this.

[2018-01-07 04:52] ggouaillardet commented on #2915
Thanks for the pointer !

Can you please help me read "monotonically nondecreasing" correctly ?
I understand a `struct` with `displacements={10, 0}` is not. but what about an other struct with displacements `displacements={0, 10, 5}` ?

[2018-01-07 06:12] wkliao commented on #2915
displacements (0, 10, 5) are NOT in a monotonically nondecreasing order.
This term means a subsequent displacement can only be either equal to or higher than the one immediately before it.

[2018-01-07 09:46] ggouaillardet commented on #2915
got it, thanks again !

[2018-01-08 01:14] akhillanger commented on #1740
@pavanbalaji can this be closed based on this comment?

[2018-01-09 16:16] akhillanger commented on #2349
There are 3 bcast algorithms. Which algorithm is doing this? On a quick look, I could not see this problem with any of the algorithms.

[2018-01-10 00:45] wkliao commented on #2915
FYI. I created a PR #2918 to address this issue.

[2018-01-11 16:07] #2352 closed, assigned to roblatham00

[2018-01-14 21:51] #2866 closed

[2018-01-17 02:24] nathanweeks opened #2929 "aclocal_fc.m4: undefined reference to test_assumed_rank_async_impl"
Commit https://github.com/pmodels/mpich/commit/bf0db16be5c43ec5a5f19671f55bb701165dfc8d adds a test that contains a generic interface TEST_ASSUMED_RANK_ASYNC for subroutine TEST_ASSUMED_RANK_ASYNC_IMPL. Per the commit comments, this detects a compiler error in the Intel 18 compiler (I'll add that ifort 17.0.2 seems affected as well). However, this also results in an undefined reference error for t

[2018-01-23 01:47] balay opened #2936 "mpich-3.3a3: duplicate symbol _MPIR_Type_get_contents on OSX"
I get the following error with mpich-3.3a3 static build on OSX - but no such issue with mpich-3.3a2
[Also mpich-3.3a3 shared build does not give this error]

[code]

Attaching corresponding config.log
[config.log](https://github.com/pmodels/mpich/files/1654193/config.log)

[2018-01-23 02:12] balay opened #2937 "mpich-3.3a3 build error on opensolaris [while mpich-3.3a2 builds fine]"
Attaching logs

[config.log](https://github.com/pmodels/mpich/files/1654236/config.log)
[build.log](https://github.com/pmodels/mpich/files/1654239/build.log)

[2018-01-25 19:28] raffenet commented on #2929
@yfguo can you look into this?

[2018-01-25 21:24] raffenet commented on #2937
Thanks for the report. I've got a fix for this. Not sure how I left that awful code through in the first place :frowning_face:

[2018-01-25 22:04] raffenet commented on #2936
@balay could you send your example code `ex19.c`? I want to make sure I can reproduce this correctly.

[2018-01-25 22:32] raffenet opened #2946 "coll: Cleanup pof2/log~2~ calculations"
There's a bunch of scattered instances of code to calculate the closest power-of-2 to a communicator size. Recently a fields was added to the `MPIR_Comm` struct (https://github.com/pmodels/mpich/commit/5217cce0d4b53cc6857cec248d178199af2de9ca) to store this, so those calculations are redundant. What we don't have stored is the exponent. We should provided a method to retrieve it, as well. That way

[2018-01-25 22:43] balay commented on #2936
Its a petsc example - so the MPI calls are from the library. To
reproduce - you would have to build PETSc

curl -O http://ftp.mcs.anl.gov/pub/petsc/release-snapshots/petsc-lite-3.8.3.tar.gz
[extract and then run]
./configure CC=mpicc CXX=mpicxx FC=mpif90 --with-shared-libraries=0
make
make test

I haven't attempted to reproduce with non-petsc test code..

On Thu, 25 Jan 2018, Ken Raffenetti wrote:

[2018-01-25 23:04] raffenet commented on #2946
It looks like 5217cce0d4b53cc6857cec248d178199af2de9ca took care of most of this. Still, the log~2~ problem remains unless I'm missing something.

[2018-01-26 00:09] balay commented on #2936
BTW: There are only a few MPIR_ symbols in libmpi.a - perhaps none of them should be in libmpi.a?

balay@ipro^~/petsc/arch-test/lib(next) $ nm -o libmpi.a |grep _MPIR_ |grep ' T '
libmpi.a:lib_libmpi_la-op_commutative.o: 0000000000000000 T _MPIR_Op_commutative
libmpi.a:lib_libmpi_la-type_dup.o: 0000000000000000 T _MPIR_Type_dup
libmpi.a:lib_libmpi_la-type_get_contents.o: 0000000000000000 T _MPIR_T

[2018-01-26 00:46] balay commented on #2936
Ok - here is a cooked-up [non-petsc] test code to get this error

balay@ipro^~/junk $ cat x.c
extern void MPI_Type_get_contents(void);
extern void ADIOI_Optimize_flattened(void);

int main(void)
{
  MPI_Type_get_contents();
  ADIOI_Optimize_flattened();
  return 0;
}
balay@ipro^~/junk $ /Users/balay/petsc/arch-test/bin/mpicc x.c
duplicate symbol _MPIR_Type_get_contents in:
    /Users/balay/petsc/a

[2018-01-28 17:31] danghvu opened #2952 "ofi/psm2: capability mismatch between user's library and hard-coded values"
**Summary of the issue:**

* MPICH uses hard-coded value for PSM2 capability in `ofi_capability_sets.h` which may not be correct in users' installation (e.g. scalable end-point feature).
* There is no detection at the MPICH layer to realize such mismatch.
* `libfabric` can detect and install with lower capability but this information is not forwarded.

**Some proposed solutions:**

* "Update the v

[2018-01-29 14:35] wesbland commented on #2952
Do you have the latest version of the PSM2 library? @hajimefu can give you more information, but you need to have a recent enough version of both libfabric and PSM2 to use scalable endpoints.

[2018-01-29 14:58] pavanbalaji commented on #2952
I hope the latest `libfabric` was already embedded into `mpich`, when the scalable endpoints patch went in.  We only need to worry about the `psm2` version, but I hope we are catching such problems at configure time?

[2018-01-29 15:04] wesbland commented on #2952
For all the reasons that came up during the submodules work, I really don't want to keep updating the embedded libfabric version all of the time (we actually don't ever use embedded libfabric anymore).

I don't know exactly how your setup looks anymore, but I was under the impression that for regular testing, you guys were still using an external libfabric library.

[2018-01-29 15:11] raffenet commented on #2936
@balay thanks, that reproducer helped. I think I've got this one addressed, as well.

[2018-01-29 15:13] raffenet commented on #2952
We test both now. Embedded libfabric is version 1.5.1, which should contain the support for scalable endpoints with psm2.

[2018-01-29 15:16] wesbland commented on #2952
Yep. That version should be fine. Glad to hear you're testing embedded builds.

[2018-01-29 15:22] pavanbalaji commented on #2952
I don't think we should keep updating the embedded `libfabric` unless we are missing a feature, or we want to move to a new release of `libfabric`.  That's the same as what we do with `hwloc`.

[2018-01-29 15:26] wesbland commented on #2952
I agree with that, though lately we've been leaning hard on latest and greatest code, particularly with respect to PSM2.

[2018-01-29 15:30] pavanbalaji commented on #2952
That's fine to do using external `libfabric` builds.  I was referring to updating the version of the embedded `libfabric` submodule.

[2018-01-29 15:59] balay commented on #2936
Great!

Is there a plan for 3.3a4 soon?

If not - is there a nightly tarball that I can grab and test - and
perhaps use [for PETSc defaults]?

On Mon, 29 Jan 2018, Ken Raffenetti wrote:

[2018-01-29 16:05] raffenet commented on #2936
We plan to have a 3.3b1 out any day now. There is one outstanding feature that is close to being merged. I'll make sure to get these 2 build fixes included, as well.

Looks like our nightly tarball script stopped working again :frowning_face:. I'll make sure that gets fixed, too.

[2018-01-29 21:15] danghvu commented on #2952
I have tried a few things:
* I am able to run with latest `libfabric` and `psm2` (have to install myself and use `--with-libfabric` and additionally add `LDFLAGS="-L$MY_PSM2_LIB_DIR -lpsm2"` to `configure`).
* I am able to run with the embedded libfabric by adding additionally `CFLAGS="-I$MY_PSM2_INCLUDE_DIR"`
* I am _unable_ to run with the embedded libfabric when using `LD_PRELOAD` or `LD_LIBRAB

[2018-01-29 21:17] pavanbalaji commented on #2952
This was working earlier.  Which commit broke it?  Do we know?

[2018-01-29 21:46] hajimefu commented on #2952
@danghvu

I think so, I mean, IIRC libfabric looks into psm2 at the configure time to see if scalable endpoints (=multiple endpoints) are available. cf. https://github.com/ofiwg/libfabric/pull/3705
Have you tried `--enable-psm2=$psm2_dir` when configuring MPICH for embedding OFI?

@pavanbalaji As @danghvu mentioned I think it's 57e75e9.

[2018-01-29 21:48] pavanbalaji commented on #2952
We should be more careful when adding these patches in.  Didn't we look for jenkins tests?

[2018-01-29 21:56] szhao8 commented on #2889
If everyone is busy with other issues, may I finish this ticket by myself and then submit a pull request?

[2018-01-29 21:57] pavanbalaji commented on #2889
@szhao8 We always welcome and appreciate pull requests.  Thanks!

[2018-01-29 22:04] raffenet commented on #2952
We don't test `psm2` in our Jenkins. Regardless if `libfabric` can detect support for scalable endpoints, it's hard-coded to enabled in `ch4/ofi/psm2` configuration.

[2018-01-29 22:06] pavanbalaji commented on #2952
I see.  That sounds like a `libfabric` bug then.

[2018-01-29 22:09] raffenet commented on #2952
@hajimefu can `ofi_init.h` gracefully handle when support is not available? Do we just revert this patch for now until we figure out a better solution?

[2018-01-29 22:14] wesbland commented on #2952
I'm not sure what the best solution is here. The reason we have those capability sets is to create a fast path to remove all of the branches for known configurations. Obviously with versions that are older than we expect, those assumptions might be broken (as in this case).

We assume that you have an up to date version of both of those libraries. If that's not true, then using the runtime capabil

[2018-01-29 22:20] wesbland commented on #2952
The alternative is to have a very fancy configure-time detection for all of the capabilities in `ofi_capability_sets.h`.  I'm not sure if that's actually possible in all cases or not (haven't looked to see if everything is portably detectable).

[2018-01-29 22:21] pavanbalaji commented on #2952
@wesbland I think we are overcomplicating things here.  We already embed `libfabric` in mpich.  Is there a bug in that version?  If yes, then we need to simply upgrade that version.  If the bug is in `psm2`, then `libfabric` needs to check at configure time for >= some version of psm2.

[2018-01-29 22:23] wesbland commented on #2952
Oh ok. That's a much easier solution. 😄 Let's do that. Check for whatever the most recent version of psm2 if you use a compile-time psm2 capability set.

[2018-01-29 22:24] pavanbalaji commented on #2952
To be clear, I prefaced that with a question: `is there a bug in that version`?  I'm not recommending blindly requiring the latest version of `psm2`, which would be silly.

[2018-01-29 22:25] pavanbalaji commented on #2952
Where is the bug exactly?  Is `psm2` exposing the wrong capability?  Is `libfabric` not detecting the capability correctly?

[2018-01-29 22:31] pavanbalaji commented on #2952
@wesbland To be clear, you are referring to the hard-coded capability sets in `mpich`, correct?  Not in `libfabric`.  In that case, we can force `mpich` to pick those hard-coded capability sets only when a minimum version of `libfabric` is used.  Is there a way to force it to use a minimum version of `psm2` given that it's hidden behind the `libfabric` library?

[2018-01-29 22:35] #2937 closed

[2018-01-29 22:37] wesbland commented on #2952
Correct. I'm referring to the MPICH code.

I was just talking to Hajime about this and I think we realized what the problem is. Inside libfabric, when it detects the installed psm2 library, it seems to automatically detect that what it needs for scalable endpoints isn't supported and therefore turns it off. We (MPICH) don't realize that and still blindly require scalable endpoints, which the psm2

[2018-01-29 22:50] hajimefu commented on #2952
Another solution is similar to what @wesbland described above, but if MPICH knows psm2 doesn't support scalable endpoint, it would modify the capability set variable for psm2 so it wouldn't require scalable endpoint (basically, going back to the state before 57e75e9.) This way we don't have to fall back to runtime capability sets.

[2018-01-30 00:00] pavanbalaji commented on #2952
`mpich` does not have access to `psm2`.  It only has access to `libfabric` and replicating that logic instead `mpich` seems gross and is a maintenance hassle.

Besides, I think that this is a bigger problem than just `psm2` and scalable endpoints.  For any given combination of features and providers, the static hardcoding is essentially relying on user knowledge about what the provider gives.  If

[2018-01-30 01:17] danghvu commented on #2952
As a user, I would expect some meaningful error messages at the least, preferably at configuration time / compile time (as there is no way to fix it at runtime).

A suggestion/question, if the capability is hard-coded, could MPICH just maintains a submodule of psm2 (with appropriate commit for such capability) and compile it if I choose `ch4:ofi:psm2`? This is already done for a few other things i

[2018-01-30 14:03] wesbland commented on #2952
@pavanbalaji - I agree with that idea. I believe at least some part of this already exists in `ofi_init.h`, but obviously it must not be complete enough to catch this problem. Can we create an issue that is more descriptive for that so someone can work on it when they have some time (or even just repurpose this issue by updating the description/title)?

@danghvu - Do you mean a submodule of the en

[2018-01-30 14:54] #2936 closed

[2018-01-30 15:01] raffenet commented on #2936
@balay nightlies should be added to http://www.mpich.org/static/downloads/nightly/master/mpich/ once again. Now I'll get an email if the script breaks, too :smile:. Thanks for the report!

[2018-01-30 15:11] pavanbalaji commented on #2952
@wesbland it might be better to repurpose this issue, since it already contains a lot of the discussion as to how we got to this point.

Btw, I'm not sure `--enable-psm2` does anything to what `libfabric` picks apart from setting the `CFLAGS` and other flags.  For example, if the `libfabric` library is built statically with some `psm2` library, this option will have no impact.

[2018-01-30 16:02] wesbland commented on #2952
@pavanbalaji That sounds good.

@danghvu - Can you summarize this conversation in the description/title above?

[2018-01-30 16:37] hajimefu commented on #2952
@danghvu As a side discussion, it looks like libfabric does support embedding psm2 in it (https://github.com/ofiwg/libfabric/pull/3612), but as @wesbland mentioned I'm reluctant to this solution, as it'll add more external dependencies to MPICH. For example, in order to build psm2 you need some header files from HFI drivers, which are typically not available in many systems.

[2018-01-31 21:41] wesbland opened #2960 "bug/jenkins: tests failing with nb bcast algorithm"
`comm/comm_idup_comm` and `threads/comm/idup_comm_gen` are both failing with `MPIR_CVAR_BCAST_INTRA_ALGORITHM=nb` set at runtime. This probably started from the collective framework prereq branches.

These tests seem to happen with most configs except ch4/ofi.

[2018-02-05 16:53] minsii opened #2965 "bug/jenkins: ch4 lockall_dt_flushlocal timeout"
`lockall_dt_flushlocal` takes much longer time with ch4 (about 4mins) than that with ch3 (about 2mins) on Jenkins.
[Link to the failure on jenkins](https://jenkins.mpich.org/view/nightly-master-ch4/job/mpich-master-ch4-ofi/lastCompletedBuild/compiler=clang,fabric_prov=sockets,jenkins_configure=debug,label=ib64/testReport/(root)/summary_junit_xml/398_____rma_lockall_dt_flushlocal_4/)

[2018-02-05 22:14] balay opened #2969 "bug: MPI_Init() hangs on opensolaris"
[code]
I see an hang in MPI_Init() on opensolaris with sun compilers.
[code]
I do not see this with gcc on the same box..
[code]
[config.log](https://github.com/pmodels/mpich/files/1696979/config.log)

[2018-02-05 22:48] pavanbalaji commented on #2969
This configuration is tested on our nightlies.  https://jenkins.mpich.org/job/mpich-master-ch3-solaris/

Is `cc` pointing to `suncc`?

[2018-02-06 00:00] balay commented on #2969
balay@n-gage:~/petsc$ which cc
/usr/bin/cc
balay@n-gage:~/petsc$ cc -V
cc: Sun C 5.10 SunOS_i386 2009/06/03
usage: cc [ options] files.  Use 'cc -flags' for details

On Mon, 5 Feb 2018, Pavan Balaji wrote:

[2018-02-06 00:01] balay commented on #2969
Should add: mpich-3.3a2 works fine for this test/config

On Mon, 5 Feb 2018, Pavan Balaji wrote:

[2018-02-06 00:28] pavanbalaji commented on #2969
The error seems to be coming from the new `hwloc` usage that was introduced in `3.3b1`.  Can you give @KavithaTipturMadhu access to the machine you are testing this on?  It's clearly working on our machines.

[2018-02-06 00:34] KavithaTipturMadhu commented on #2969
The log above seems to be indicating that hwloc_x86_cpuid call is hanging in an inline assembly instruction in hwloc topology query. I will debug this on the machine where it seems to be hanging and may have to report it to hwloc development team.

[2018-02-06 00:35] balay commented on #2969
sure

On Tue, 6 Feb 2018, Pavan Balaji wrote:

[2018-02-06 15:52] raffenet commented on #2894
@gcongiu can you look into this? See also the discussion here https://lists.mpich.org/pipermail/discuss/2017-December/005371.html

[2018-02-06 16:37] gcongiu commented on #2894
@raffenet sure

[2018-02-07 14:18] KavithaTipturMadhu commented on #2969
Quick update: MPI_Init() hangs due to an infinite loop in one of the hwloc methods but inconsistently so across mpich builds i.e., I don't see the problem occuring when I build a second time. I don't see the same problem in a hwloc standalone. I will keep this thread posted with updates about the fix.

[2018-02-07 15:43] balay commented on #2969
For me - the hang was consistant across multiple builds when using CC="cc".

However there is no hang when I don't specify the compiler [and configure pickup 'gcc' by default]

Its interesting that stand-alone hwloc does not have this problem. [assuming its built with '/usr/bin/cc']

On Wed, 7 Feb 2018, Kavitha wrote:

[2018-02-07 17:07] #2476 closed

[2018-02-08 15:11] ericch1 commented on #2892
Is there any hope this will be fixed before the release?

Thanks,

Eric

[2018-02-14 15:31] #777 closed

[2018-02-14 23:33] minsii opened #2988 "build/jenkins: absoft compiling failure"
[An example of Jenkins failure](https://jenkins.mpich.org/job/mpich-master-ch3-ubuntu/compiler=absoft,jenkins_configure=default,label=ib64/899/testReport/junit/(root)/summary_junit_xml/682_____f77_io_c2fmultio_/)

Issue: `libxml2` is a dependent library of libmpi.so (hwloc-2.0 adds it), but it is not linked with the program binary at linking time if uses `af77` for linking (MPICH uses the fortran

[2018-02-14 23:39] minsii commented on #2988
Tried the following experiments on bb68 with absoft:
1. create a static library `libbar.a` exposing `libbar()` function. This function calls a libxml2 function (mimic libhwloc_embedded.a).
```libtool --tag=CC --mode=link gcc -o libbar.la libbar.lo -lxml2```

2. create a dynamic library `libfoobar.so`. It calls `libbar()` function (mimic libmpi.so).
```libtool --tag=F77 --mode=link af77 -rpath $lib

[2018-02-15 00:17] minsii opened #2989 "bug/jenkins: unusual lockall_dt_flushall failure"
[An example of failure on Jenkins](https://jenkins.mpich.org/job/mpich-review-ch3-sock/917/compiler=gnu,jenkins_configure=default,label=freebsd32/testReport/junit/(root)/summary_junit_xml/393_____rma_lockall_dt_flushall_4/)

[code]

This error has been reported also on other configs / platforms.

[2018-02-17 23:42] pavanbalaji commented on #79
`ch3` and `nemesis` are in maintenance mode at this point.  There is no plan to fix this issue.

[2018-02-17 23:42] #79 closed

[2018-02-18 04:20] #148 closed, assigned to mpichbot

[2018-02-18 04:23] pavanbalaji commented on #472
This is a `ch3` specific issue, which is in maintenance mode and no new features will be written for it.

[2018-02-18 04:24] #472 closed

[2018-02-18 04:25] pavanbalaji commented on #491
With the move to `ch4`, this is no longer needed.

[2018-02-18 04:25] #491 closed

[2018-02-18 04:25] pavanbalaji commented on #496
This has been done in `mpich-3.3a1`.

[2018-02-18 04:25] #496 closed

[2018-02-18 04:29] pavanbalaji commented on #1083
Checkpointing support is dropped from mpich.

[2018-02-18 04:29] #1083 closed

[2018-02-18 04:29] pavanbalaji commented on #1144
Checkpointing support is dropped from mpich.

[2018-02-18 04:29] #1144 closed

[2018-02-18 04:31] pavanbalaji commented on #1546
We already monitor the coverage reports.  A separate permanent issue is not needed.

[2018-02-18 04:31] #1546 closed

[2018-02-18 04:33] pavanbalaji commented on #1747
`ch3` is in maintenance mode and new features will not be added.

[2018-02-18 04:33] #1747 closed

[2018-02-18 04:34] pavanbalaji commented on #1056
Checkpointing is no longer supported in mpich.

[2018-02-18 04:34] #1056 closed

[2018-02-18 04:34] pavanbalaji commented on #1560
Checkpointing is no longer supported in mpich.

[2018-02-18 04:34] #1560 closed

[2018-02-18 04:36] pavanbalaji commented on #1039
`ch3` is in maintenance mode and new features will not be added.

[2018-02-18 04:36] #1039 closed

[2018-02-18 04:36] pavanbalaji commented on #1061
`ch3` is in maintenance mode and new features will not be added.

[2018-02-18 04:36] #1061 closed

[2018-02-18 04:37] pavanbalaji commented on #1679
I believe this was fixed by @minsii.  @minsii can you confirm and close this issue if that's true?

[2018-02-18 04:43] pavanbalaji commented on #2148
`ch3` is in maintenance mode and new features will not be added.

[2018-02-18 04:43] #2148 closed

[2018-02-18 04:45] pavanbalaji commented on #2656
`ch3` is in maintenance mode and new features will not be added.

[2018-02-18 04:45] #2656 closed

[2018-02-18 04:51] pavanbalaji commented on #1436
This is duplicate of #1686.

[2018-02-18 04:51] #1436 closed

[2018-02-18 04:52] pavanbalaji commented on #2070
We no longer support MPE.

[2018-02-18 04:52] #2070 closed

[2018-02-18 04:52] pavanbalaji commented on #2090
We no longer support MPE.

[2018-02-18 04:52] #2090 closed

[2018-02-18 04:53] pavanbalaji commented on #2811
I believe this has been fixed.  Please reopen if that's not the case.

[2018-02-18 04:53] #2811 closed

[2018-02-19 16:20] yosefe opened #2996 "int overflow in netpipe message size"
Looks like netpipe is using 'int' for message size parameter, it causes int overflow in https://github.com/pmodels/mpich/blob/master/test/mpi/basic/netmpi.c#L242, when length is increased and wraps to -1, which is still <MAX_INT. So "len <= end" doesn't stop the iteration and calls MPI_Send with negative message size.

[2018-02-19 18:06] minsii commented on #1679
No, this issue is not correctly fixed yet. It is still the temporary fix as added by commit [7811a43](https://github.com/pmodels/mpich/commit/7811a43f8eaf6296584779d89c189de7f2f6af61). I will create a commit to replace it with `MPL_mem_alignment_t`.

There are actually other padding structures used in the current version (search `padding | payload`). Maybe it is the time to fix all together.

Besi

[2018-02-20 19:21] omor1 opened #3001 "bug: segfault in DDTBench"
I'm trying to run [DDTBench](https://spcl.inf.ethz.ch/Research/Parallel_Programming/MPI_Datatypes/DDTBench/) with MPICH, but get a segfault at 14.595% of the way through on the one-sided tests.
MPICH was installed using Spack. This occurs with both 3.2.0 and git master.
DDTBench completes correctly using Open MPI, so I don't think it's necessarily a problem with DDTBench.

For reference, I'm runni

[2018-02-21 10:54] rathann opened #3002 "MPI_OFFSET_KIND defined differently than in OpenMPI on 32bit architectures"
### Description of problem:
MPI_OFFSET_KIND=4 in OpenMPI while it equals 8 in MPICH on 32bit arches. I don't know which is correct, but this difference has caused compilation issues in cp2k-5.1 with MPICH:
[code]

### Version-Release number of selected component (if applicable):
openmpi-2.1.1-5.fc28.i686
mpich-3.2.1-2.fc28.i686

### How reproducible:
Always

### Steps to Reproduce:
1. `grep MPI_OF

[2018-02-21 15:19] wgropp commented on #3002
The expected results are bogus.  MPI_OFFSET_KIND should create an integer suitable for file system offsets.  For most modern systems, this needs to be an 8-byte integer.

Note also that Fortran says nothing about how these values should be interpreted - a kind of “8” doesn’t guarantee an 8-byte object (in the Fortran standard), and there are Fortran compilers that use a different encoding.

Bill

[2018-02-21 15:23] pavanbalaji commented on #3002
@rathann Why do you need `MPI_OFFSET_KIND` to be 4 bytes?  I agree with Bill.  The reason it's an opaque handle is because different MPI implementations can define it differently.  If you are assuming that it's 4 bytes, then your program is not portable.

[2018-02-21 15:27] pavanbalaji commented on #3002
I think the right fix would be to change `cp2k-5.1` to use `MPI_Offset` type for declaring the `array_of_displacements`.  I'm closing this issue since it's not an MPICH issue.

[2018-02-21 15:27] #3002 closed

[2018-02-22 03:42] akhillanger commented on #2996
I guess we just need to change `bufflen` and `bits` to be of type `MPI_Aint`?

[2018-02-22 13:09] rabauke opened #3005 "erroneous parameter checking in MPI_Igather"
I get a `Datatype for argument recvtype is a null datatype` error although `MPI_DATATYPE_NULL` is explicitly allowed as a recvtype for non-root ranks. I think the error checking in `MPI_Igather` wrong. Note that `MPI_Iscatter` works fine with `MPI_DATATYPE_NULL` as sendtype for non-root ranks. Having a look at the MPICH source I observed that the error checking of `MPI_Iscatter` is mch more elabor

[2018-02-23 13:12] rathann commented on #3002
@pavanbalaji I didn't actually say I need it to be 4 bytes. I was just asking why it's inconsistent between implementations. I think it should actually be the same as `off_t`, and depend on whether `-D_FILE_OFFSET_BITS=64` was present during compilation.

Unfortunately, your colleagues at OpenMPI project seem to disagree: https://github.com/open-mpi/ompi/issues/4846 .

I think it'd be best if both

[2018-02-23 13:34] pavanbalaji commented on #3002
@rathann I agree with the OMPI folks.  The MPI standard doesn't require all implementations to have the same value.  This really is a bug in `cp2k-5.1`, and a rather simple one to fix, IMO.  It could just as easily use the `MPI_Offset` type instead of `INTEGER`.  Is there a reason they don't want to fix this error?

[2018-02-23 15:35] rathann commented on #3002
Oh the bug is indeed in cp2k and fixed already (they were assuming `MPI_ADDRESS_KIND` == `MPI_OFFSET_KIND`). I just wanted to make sure you guys were aware of the inconsistency and that it was on purpose, not a bug. Thank you for your time and consideration.

[2018-02-25 22:46] akhillanger commented on #2960
`MPIR_CVAR_BCAST_DEVICE_COLLECTIVE=0 MPIR_CVAR_BCAST_INTRA_ALGORITHM=nb mpirun -n 6 ./comm_idup_comm`

[2018-02-27 16:22] roblatham00 commented on #2355
The attached test case targets an older version of margo/mercury.  I'll have to update it to our latest API

[2018-02-28 00:07] szhao8 commented on #2889
@yfguo @pavanbalaji Hi Yanfei & Pavan
Since I'm pretty new to this project, I didn't know the whole flow too much. Could you explain the steps above?
Currently i just directly search and replace all related ipv4 functions networking functions with ipv6 functions so that they can work under ipv4/ipv6? I also run some regression testing, didn't incur more errors. Isn't these enough?

[2018-02-28 03:42] pavanbalaji commented on #2889
@szhao8 you can submit a pull request with your changes.  Then someone can review it for you and run it through our regression testing as well.  They might ask for changes to the PR based on the review as well.

You might want to read the `CONTRIBUTING` document in `mpich/master` for tips on how to write the code so it'd be accepted in mpich: https://github.com/pmodels/mpich/blob/master/CONTRIBUTI

[2018-02-28 04:01] szhao8 commented on #2889
@pavanbalaji Thanks, Let me read this first, I will submit a PR according to the rule later.

[2018-02-28 19:24] wkliao commented on #3002
You might be interested in reading [this issue](https://github.com/open-mpi/ompi/issues/3195) opened at OpenMPI.

OpenMPI always configures MPI_Offset to be of size 4 bytes on 32-bit architectures, no matter the machines support LFS (large-file support) or not. MPICH on the other hand configures MPI_Offset to be of size 8 bytes when LFS is supported.

[2018-03-02 02:27] pavanbalaji opened #3015 "build: ch4 build problems on aarch64"
mpich/ch4 fails to build on aarch64 with the following error messages:

[code]

Searching for this a bit seems to reveal that this is a limitation of GCC that gets triggered when a function has a lot of instructions: something that can happen when many functions/macros are inlined, such as what ch4 does.  More information on this can be found here:

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=633

[2018-03-02 02:33] pavanbalaji commented on #3015
Cc'ing @raffenet @yfguo @tpenya @moon6pence @Hopobcn.

[2018-03-02 04:35] pavanbalaji commented on #3015
Update: the same problem occurs with `-O2` optimization as well.  So my initial thesis that it goes away with `-O2` is not correct.

[2018-03-05 20:08] #2996 closed

[2018-03-13 01:01] akhillanger commented on #2320
Addressed in PR #3042.

[2018-03-13 04:42] szhao8 commented on #2889
@yfguo @pavanbalaji Hi, I have submitted a pull request, please help review it and I can accomodate more changes to make it successfully merged finally.

[2018-03-14 20:49] #3005 closed

[2018-03-14 21:22] roblatham00 commented on #2915
With the close of PR #2918 we can close this issue.

[2018-03-14 21:22] #2915 closed

[2018-03-15 10:08] upperwal opened #3048 "FT: Extending functionality to include rank 0 as failed node"
**Module:** ULFM [Fault Tolerance]
**Problem:** Failure of ```rank 0``` results in ```"Unknown error class"``` with error stack as:
[code]
**Reason:** ```Rank 0``` serves as a source for collecting fault data from remaining non faulty nodes and distributing it back.

https://github.com/pmodels/mpich/blob/91a7900825abadcca38aa4cf7582f1f04c7248d9/src/mpid/ch3/src/mpid_comm_get_all_failed_procs.c#L11

[2018-03-15 15:40] #2929 closed

[2018-03-15 18:08] harisubramoni opened #3050 "Link error with MPICH 3.2.1 and IBM XLC compilers"
Dear, MPICH developers.

I am hitting the following link time error with MPICH 3.2.1 tarball downloaded from the MPICH site if I configure MPICH to build shared libraries. I do not add –enable-shared/--disable-static, the error does not show up.

I configured MPICH as follows

[code]

[code]

Based on an offline discussion with Dr. Pavan Balaji, I was able to get the build to pass if I added "--di

[2018-03-15 19:44] KavithaTipturMadhu commented on #2969
We are following up on this issue with hwloc. Here's the [link](https://github.com/open-mpi/hwloc/issues/290) to the issue for you to follow up.

[2018-03-16 18:14] raffenet opened #3052 "Confirm configure-time disabling of hwloc in libmpi"
Need to make sure this can be cleanly disabled and all dependencies removed with a configure switch.

[2018-03-16 21:19] raffenet opened #3054 "ch4/ofi: Remove dependency on FI_READ for large active messages"
When sending large active messages with the `ch4/ofi` netmod, the current protocol involves:

1. send first chunk of data with `fi_send(v)`
2. receiver does `fi_readmsg`s for the remaining data.

For providers that do not support `FI_RMA | FI_READ`, this a problem. As a first step, we should implement an AM protocol using `fi_send`s only.

[2018-03-18 23:22] pavanbalaji commented on #3050
I'm able to reproduce this issue even with GCC, although GCC seems to be more forgiving of the fact that I'm doing static builds of select executables even when the user asked me not to.  So the build does not fail.

Here's my analysis so far:

1. Some executables `cpi`, `mpichversion`, etc., are always built statically.  For `cpi`, this is done to catch symbol visibility issues at build time.  Fo

[2018-03-18 23:47] pavanbalaji commented on #3050
I've created PR#3055 for this.

[2018-03-19 04:43] harisubramoni commented on #3050
Hi, Pavan.

I applied the patch to configure.ac, and rebuilt the entire library. The following is the modified snippet of code from configure.ac

# Get the value of libtool_static_flag
if test ! -z "$MPID_LIBTOOL_STATIC_FLAG" ; then
   mpich_libtool_static_flag="$MPID_LIBTOOL_STATIC_FLAG"
elif test "$enable_static" = "yes" ; then
   mpich_libtool_static_flag="-static"
else
   mpich_libtool_static_

[2018-03-19 04:52] pavanbalaji commented on #3050
So libtool is no longer using the `-static` flag, which is a good thing.  But somehow, the linker seems to be using `-static` as default, so essentially forcing the link step to use `/usr/lib64/libc_nonshared.a` instead of `/usr/lib64/libc.so`.

Can you check if `libc_nonshared.a` and/or `libc.so` contain the `lstat` symbol?  `nm libc.so`.

[2018-03-19 05:09] pavanbalaji commented on #3050
I found this reference on the web: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=195847

[2018-03-19 05:11] pavanbalaji commented on #3050
Can you check if the binutils version is too old?

[2018-03-19 12:40] harisubramoni commented on #3050
Hi, Pavan.

The non-shared version seems to have it.

[code]

The binutils seems to be `2.25.1-22.base.el7` which is newer than what the bug report mentions `2.13.90.0.18`.

[code]

Please let me know if any other information is required.

Thx,
Hari.

[2018-03-19 23:32] gcongiu opened #3056 "bug/jenkins: RMA fails with assertion when using struct datatypes"
When using `MPI_Accumulate` with datatypes built with `MPI_Type_create_struct` MPICH fails with: `Assertion failed in file src/mpid/ch3/src/ch3u_rma_ops.c at line 494: origin_dtp->basic_type != MPI_DATATYPE_NULL`.

[2018-03-29 21:08] wesbland opened #3069 "Check for --with-libfabric-lib and --with-libfabric-include before assuming embedded"
If using the flags `--with-libfabric-lib` and `--with-libfabric-include` generated by autoconf, the ofi netmod'd `subconfigure.m4` file will assume that it should use the embedded version of libfabric instead of the one provided by the user.

[2018-04-02 21:10] #3069 closed

[2018-04-04 21:20] gcongiu opened #3076 "bug/jenkins: ch4/ofi: bug in mixed datatypes handling"
*The way some mixed datatypes are handled in OFI is incorrect*:
• `MPI_FLOAT_INT`
• `MPI_2INT`
• `MPI_LONG_INT`

*OFI is causing problems with some of these datatypes, for example, in* `MPIDI_OFI_do_accumulate()`:
• Use `MPIDI_Datatype_check_size()` to get `origin_bytes`
  • This `MPIDI_Datatype_check_size()` considers these datatypes as non-predefined (`IS_BUILTIN`) and returns the proper size (e

[2018-04-05 22:39] gcongiu opened #3078 "bug/jenkins: ch4/ucx: message truncated error"
The `MPI_C_DOUBLE_COMPLEX` and `MPI_C_LONG_DOUBLE_COMPLEX` types are causing tests to fail because of a message truncated error.

[2018-04-05 23:04] gcongiu opened #3079 "bug/jenkins: pair datatypes are causing issues in RMA"
Paired datatypes:

• `MPI_SHORT_INT`
• `MPI_FLOAT_INT`
• `MPI_DOUBLE_INT`
• `MPI_LONG_INT`
• `MPI_LONG_DOUBLE_INT`

are causing RMA problems in both CH3 and CH4.

• `MPI_SHORT_INT` + `test/mpi/rma/lock*` + CH4 crashes because of an assertion in `ch4r_rma_target_callbacks.h:738`. The problem seems that the code uses the `basic_sz` of the elementary datatype (i.e. `MPI_SHORT_INT`) to establish the n

[2018-04-10 18:18] ericch1 commented on #2892
Hi,

Is this a complicated issue to fix?

Thanks,

Eric

[2018-04-10 21:53] hjelmn commented on #3079
Welcome to the club. We have the same issue in Open MPI (at least for the internally non-contiguous MPI_SHORT_INT). They are a pain to deal with. I am trying to get their use in RMA either deprecated (we will still all have to support them for awhile) or at least get it so there are no guarantees to the user on the state of the padding bits.

[2018-04-11 03:28] minsii opened #3090 "ch3/tcp: invalid dataloop received when issuing many RMA operations with derived target dtype"
When issuing many RMA operations (>=1500) with a `derived target datatype` (e.g., MPI_Type_contiguous) on `ch3/tcp` and only with one flush call after all operations, the target handler can read invalid dataloop data.
[code]
Sometimes it reports a different error
[code]

However, this issue can be reproduced only on the old jenkins machine (i.e., Ubuntu 12.04.5, gcc 4.6.3). Newer environments work

[2018-04-11 08:58] gcongiu commented on #3079
Yes, `MPI_SHORT_INT` is definitely the most problematic among all, although for some configuration all of them are causing problems.

[2018-04-15 20:46] jeffhammond opened #3094 "building with MUSL fails"
I suppose this is an HWLOC failure, but I cannot build MPICH with [MUSL](http://www.musl-libc.org/)
[code]
[config.log](https://github.com/pmodels/mpich/files/1913314/config.log)
[make.log](https://github.com/pmodels/mpich/files/1913320/make.log)

[2018-04-15 21:39] jeffhammond commented on #3094
I worked around the HWLOC issue but there is a soft error associated with `poll.h`:

[code]

[2018-04-16 13:16] yosefe opened #3095 "negative char compare in dataalign test"
in https://github.com/pmodels/mpich/blob/master/test/mpi/datatype/dataalign.c#L82,
need to cast the 2nd operand to "char" since the 1st operand may be "negative" char (e.g 0x80) and sign-extended to int, while the 2nd operand is evaluated as a positive int:
[code]

without the fix, we see false alarms:
[code]

[2018-04-16 22:13] jeffhammond commented on #3094
https://github.com/open-mpi/hwloc/issues/305 fixed the blocking issue.

[2018-04-16 22:13] #3094 closed

[2018-04-16 22:18] pavanbalaji commented on #3094
@KavithaTipturMadhu can you cherry-pick that fix from the hwloc repo?

[2018-04-17 16:24] #2892 closed

[2018-04-17 16:31] ericch1 commented on #2892
Hi Rob, thanks a lot!

Happy this get fixed! :)

The test that I attached is *the* MPI I/O test that is frequently showing bugs with mpi libs.

Is it feasible to include it in your test suite?

Thanks again,

Eric

[2018-04-17 20:18] roblatham00 commented on #2800
Is this still an issue with latest mpich?  I tried to reproduce this with nfs and did not get any asan errors.

[2018-04-17 20:34] dqwu commented on #2800
@roblatham00
Thanks for the update, we will test it with latest mpich on compute001. If it works, we will also rerun original failed ACME tests.

[2018-04-18 09:03] #3095 closed

[2018-04-18 15:30] roblatham00 commented on #2731
I goofed up the "closes" annotation, but this is fixed (including Ken's suggestion) by b5330e507130ed

[2018-04-18 15:30] #2731 closed

[2018-04-18 15:37] roblatham00 commented on #2348
Bill's test case got mangled in the trac->github conversion.

[ireadtest2.c.txt](https://github.com/pmodels/mpich/files/1924737/ireadtest2.c.txt)

[2018-04-19 13:04] ericch1 commented on #2892
I confirm it fixed the issue!  Thanks Rob!

[2018-04-19 16:16] roblatham00 commented on #2348
I have a fix for this particular case, but it uncovers a, *cough* larger problem with >2GiB transfers.

[2018-04-19 21:06] #2348 closed

[2018-04-20 15:50] wesbland opened #3105 "Non-Direct Netmod Memory Builds Do Not Compile"
Compiling with `--enable-ch4-netmod-direct=no` does not compile due to the lack of the corresponding
infrastructure. In the netmod, this happens via the `func_table.c` files. Something similar will
probably need to be created for the shared memory infrastructure.

[2018-04-20 15:59] roblatham00 commented on #2344
fixed in 491e0c36d68

[2018-04-20 15:59] #2344 closed

[2018-04-20 16:02] roblatham00 commented on #1760
ROMIO has used AC_SYS_LARGEFILE since 32cbcba9412

[2018-04-20 16:02] #1760 closed

[2018-04-20 20:49] dqwu commented on #2800
@roblatham00
I built mpich-3.3b2 and used it to build pnetcdf. The ASan errors are gone but pnetcdf printed some ```
MPI errors (this is also reproducible without using ASan):
[code]

[2018-04-20 22:11] minsii commented on #3079
@gcongiu: I agree with you that padding of `dt_iov` seems problematic. But why does `MPI_SHORT_INT ` fail only with some RMA tests ? If the `iovs` are overlapped, all RMA tests that use paired type with padding should fail.

[2018-04-20 22:15] gcongiu commented on #3079
@minsii this is the other part of the problem I need to check. `test/mpi/epochtest.c`, for example, is not failing with `MPI_SHORT_INT`. I need to check what is different for this test in terms of callpath in the mpich code.

[2018-04-24 21:29] roblatham00 commented on #2800
The ADIOI_NFS_READSTRIDED erorrs are due to now-fixed bug #2892

[2018-04-25 20:57] #3105 closed

[2018-04-30 17:27] danghvu opened #3112 "Generalized Requests handling"
The `poll_fn` and `wait_fn` of MPI generalized requests are not in MPI standard ([here](https://github.com/pmodels/mpich/blob/master/src/mpi/request/greq_start.c#L240) and [here](https://github.com/pmodels/mpich/blob/master/src/mpi/request/greq_start.c#L399)). AFAIK, its main purpose is for MPI-IO -- I'm not sure it's used anywhere else and there is probably no plan for making them standard (accor

[2018-05-05 00:42] jl2922 opened #3120 "Precompile C++ headers in MPI"
When I precompile headers with mpic++, I always get

    /usr/lib/gcc/x86_64-linux-gnu/5/../../../x86_64-linux-gnu/crt1.o: In function `_start':
    (.text+0x20): undefined reference to `main'
    collect2: error: ld returned 1 exit status

Is there a way to get around this?

(g++ works, but most of my files include "mpi.h", so I have to use mpic++)

[2018-05-10 17:34] yfguo opened #3128 "Potential pointer type missmatch in"

[2018-05-15 23:44] minsii commented on #3056
I just noticed MPI standard (page 425 in 3.1 report) says:
[code]
The first sentence indicates that we cannot use a `struct` datatype in accumulate if the `struct` datatype contains two or more different basic datatypes.

Thus, I think we can close this PR and remove such tests in our test suite.

[2018-05-16 15:34] minsii commented on #3056
@gcongiu : @hajimefu and I have discussed this problem. We propose to add a special `struct` datatype in dtpool which contains single basic datatype (e.g., struct {int a; int b}). We can use this `single-basic-datatype struct` for RMA accumulate/get_accumulate tests. What do you think ?

[2018-05-16 17:50] gcongiu commented on #3056
@minsii this problem was concerning datatypes created with heterogeneous predefined datatypes (i.e., `DTP_pool_create_struct`) IIRC. If the standard says `accumulate` operation only expects homogeneous datatypes we can just remove the tests for `DTP_pool_create_struct` that use heterogeneous types, as you said in your previous comment.

If you want to support `struct` of same datatype we don't nee

[2018-05-16 18:14] gcongiu commented on #3056
@minsii @hajimefu I will update the configuration file to include the required struct datatype (i.e., <int,int>) and remove the previous tests that violated the standard requirements.

[2018-05-16 18:16] minsii commented on #3056
Thanks !

[2018-05-17 15:43] danghvu commented on #3112
Close, no consensus, have to keep them for MPI-IO, or until MPI-IO is refactored.

[2018-05-17 15:43] #3112 closed

[2018-05-17 15:52] yfguo opened #3139 "build: BGQ build issues"
1. VPATH build fails with embedded libfabric headers
2. Device timer does not work
3. clock_gettime not working

[2018-06-08 14:14] dalcinl opened #3174 "bug: wrong alignments for structs with complex floating entries"
I'm in the process of creating a couple of Python routines for mpi4py to convert datatypes between MPI and NumPy. After writing some extensive tests for them, I got some failures, and it seems the problem is within MPICH.

MPICH is not computing alignments the right way for complex floating entries in struct datatypes. Please run the self contained example at the end, you should reproduce the issu

[2018-06-13 22:32] minsii opened #3178 "build: the checking method of c11 _Static_assert does not work with icc"
The _Static_assert c11 function is not supported by Intel C compiler version 12.
See https://software.intel.com/en-us/articles/c11-support-in-intel-c-compiler

MPICH checks whether _Static_assert is supported at src/include/mpir_assert.h. The checking method does not work with icc.

[2018-07-09 18:24] hajimefu opened #3217 "ch4/ofi: cannot build from 3.3b3 tarball"
When I try to build CH4:OFI configuration from 3.3b3 tarball, I get the following error.
[code]
If I build MPICH from the git repository I get no errors.

[2018-07-10 15:54] hajimefu commented on #3217
Confirmed on CentOS 7.2 and GCC 7.2.1.

[2018-07-17 18:30] #3217 closed

[2018-07-20 23:04] sagarth opened #3233 "threads: mt_probe_isendrecv_small failure under direct mode"
Config: async-multiple,gnu,debug,netmod,direct,ofi,pobjq-disable,sockets,vni4

Looks like memory leak.

Output
[code]

[2018-07-20 23:05] #3233 closed

[2018-07-21 00:40] wkliao opened #3234 "MPI_Comm_dup thread-safe?"
I am encountering an error when calling MPI_Comm_dup() in the multi-threading environment.
The error message and my test program are given below:
[code]
[code]

[2018-07-22 23:09] raffenet commented on #3234
Multiple instances of the same collective on the same communicator are not allowed by MPI. The `MPI_Comm_dup` calls are interfering with each other.

[2018-07-22 23:12] raffenet commented on #3234
In fact, MPI is even more strict saying that only one (blocking) collective at a time on a given communicator.

[2018-07-22 23:15] wkliao commented on #3234
OK. My goal is simply to duplicate an MPI communicator on all threads across all MPI processes in that communicator. Could you suggest a right way to achieve this?

[2018-07-23 13:19] raffenet commented on #3234
You could just create them serially in the main thread and then assign them to threads later (or at creation time).

[2018-07-23 18:01] #3234 closed

[2018-07-24 18:16] harisubramoni commented on #3050
Hi, Guys.

Any luck on this issue?

Thx,
Hari.

[2018-07-24 18:21] harisubramoni opened #3238 "Issues with Intel 2018 and Fortran 2008 Support in MPICH 3.2.1"
Hi, All.

Recently, one of our users posted an issue they were facing Fortran 2008 support with MVAPICH2 when using Intel 2018 compilers.

When I looked at it, it looked like we inherited it directly from MPICH 3.2.1. I was able to observe the behavior with the MPICH 3.2.1 tarball.

This seems to be an issue with the [conftest.f90.txt](https://github.com/pmodels/mpich/files/2224878/conftest.f90.tx

[2018-07-28 18:49] minsii opened #3251 "ch4/ofi/psm2: poor put/get performance when both origin and target datatypes are noncontig"
When using RMA put or get to implement the halo exchange in 2D stencil, the performance of east/west exchange is much worse than that using send/recv.

Below is the performance numbers on 4 **inter-connected** processes on Argonne Bebop (Broadwell + OmniPath).

Problem Size | PUT contig (north+south) | PUT noncontig (east+west)| PT2PT contig | PT2PT noncontig
-|----------|----------|----------|---

[2018-07-30 14:33] hajimefu commented on #3251
Tagging @shawnccx @nusislam

[2018-07-30 21:04] raffenet commented on #3120
Sorry for the long delayed response. Can you share some more details about your system? Did you compile MPICH from source? Install from binary package? Can you share the output of `mpic++ -show`?

[2018-07-30 21:05] raffenet commented on #3050
@yfguo builds somewhat frequently with XL. Hoping he can share some insight. Remember we have some non-BG/Q IBM machines in JLSE to test one, as well.

[2018-07-30 21:07] raffenet commented on #3078
@gcongiu did we decide this wasn't actually a bug?

[2018-07-30 21:10] jl2922 commented on #3120
Sorry I could not share the details. Essentially, the goal is to speedup the compilation by precompiling header files. With g++ it is straight forward. With mpic++, it gives the error above and seems it is looking for the 'main'. However, in the case of compiling header files, there is no 'main' function.

[2018-07-30 21:29] wesbland commented on #2960
I'm not sure. In our xfail file, we have ch3 and ch4 marked.

[2018-08-01 21:01] gcongiu commented on #3078
@raffenet to be honest I don't remember what exactly the problem was here. I should have a look at it again.

[2018-08-02 21:53] minsii opened #3268 "build: SystemV version of MPL_shm does not work with ch4"
CH4 reports error at MPI_Init time when MPL shm allocation uses SystemV.
[code]
Error is generated when call `MPL_shm_hnd_deserialize` on none-zero ranks.

Not yet check if CH3 fails, need to investigate further.

[2018-08-03 18:56] hajimefu opened #3270 "coll: MPII_Treeutil_tree_knomial_2_init not returning a value"
https://github.com/pmodels/mpich/blob/20cedcb02b6163523aa8653645616d42440c85ff/src/mpi/coll/algorithms/treealgo/treeutil.c#L203
This function is supposed to return `int`.

Taggning @akhillanger

[2018-08-03 19:02] akhillanger commented on #3270
Resolved in PR #3269

[2018-08-03 19:15] hajimefu commented on #3270
👍

[2018-08-03 19:15] #3270 closed

[2018-08-06 16:37] hajimefu commented on #2570
Has this been addressed in #3235? @danghvu @raffenet

[2018-08-06 16:53] danghvu commented on #2570
@hajimefu I hope so -- at least the state is now used in similar way as ch3.
I am not sure if we want to do anything else with it.

[2018-08-06 17:34] hajimefu commented on #2570
@danghvu Thanks. Then I would suggest we close this issue. If anything else comes up, we can submit a new and more specific issue then.

[2018-08-07 16:13] danghvu commented on #2570
I can't close, ping @raffenet or @halimamer for comment/close

[2018-08-08 23:29] raffenet commented on #3001
I am unable to reproduce this so far on a local system and the current git master branch. I see you used spack to install MPICH. Is there a way to retrieve the `./configure` invocation and perhaps the git hash that was built?

[2018-08-09 02:59] raffenet commented on #2960
@akhillanger was this fixed in 81443c298f21fac780d58e98ee313e906f83a451?

[2018-08-09 03:01] raffenet commented on #2894
Fixed in https://github.com/pmodels/mpich/commit/fced6d0067c6c8cbeb596ef3088e44ddb61e0876

[2018-08-09 03:01] #2894 closed

[2018-08-09 03:02] akhillanger commented on #2960
I don't think so. This issue, when I last checked few weeks after it was opened, is not a problem with any particular algorithm. This issue arises because of bcast implemented as ibcast+wait (that is when nb is the chosen algo for bcast).

[2018-08-09 03:03] raffenet commented on #2806
Fixed in https://github.com/pmodels/mpich/commit/fced6d0067c6c8cbeb596ef3088e44ddb61e0876

[2018-08-09 03:03] #2806 closed

[2018-08-09 03:07] raffenet commented on #2853
Looks like sanity has been established, so I'm closing this ticket :tada:

[2018-08-09 03:07] #2853 closed

[2018-08-09 03:08] raffenet commented on #2682
Removed attributes in https://github.com/pmodels/mpich/commit/fced6d0067c6c8cbeb596ef3088e44ddb61e0876

[2018-08-09 03:08] #2682 closed

[2018-08-09 03:10] #2570 closed

[2018-08-09 03:13] raffenet commented on #2561
Added in https://github.com/pmodels/mpich/pull/3144

[2018-08-09 03:13] #2561 closed

[2018-08-09 03:32] raffenet commented on #2745
This is what is currently set to xfail.

[code]
All other RMA tests are passing consistently. I think this must have been resolved some time ago, so I'm going to close.

[2018-08-09 03:32] #2745 closed

[2018-08-09 09:52] omor1 commented on #3001
Commands supplied to `./configure` are recorded and can be retrieved using the `mpichversion` binary; unfortunately, this does not appear to record the git hash too (and I haven't been able to figure out how to retrieve it—will get back on that once I hear from spack folks).

[code]

[2018-08-15 14:52] #2446 closed

[2018-08-15 14:53] raffenet commented on #2408
Almost positive this wasn't from an MPICH configure file. Closing after unable to reproduce.

[2018-08-15 14:53] #2408 closed

[2018-08-15 15:02] raffenet commented on #2324
Fixed in 72af9d4d1ece453c0c200ebb8be8eb1e7a0a9029.

[2018-08-15 15:02] #2324 closed

[2018-08-15 15:50] #2320 closed

[2018-08-15 15:54] raffenet commented on #3001
Can you update your development installation and see if the issue persists? I believe the spack config will pick up whatever the master revision is at the time of installation.

[2018-08-16 13:02] harisubramoni commented on #3050
I can confirm that the patch @yfguo created fixes the issue.

[2018-08-16 13:02] #3050 closed

[2018-08-16 14:38] roblatham00 opened #3285 "ROMIO lustre driver should open by handle"
Andreas Dilger tells me via email

We know this optimization works -- we did it in PVFS2 back in 2003 and published it at EuroMPI 2004.  Let's  revisit this optimization and demonstrate it on Theta.

[2018-08-16 19:50] raffenet commented on #3238
Resolved in master and 3.2.x.
https://github.com/pmodels/mpich/pull/3282
https://github.com/pmodels/mpich/pull/3283

[2018-08-16 19:52] raffenet commented on #3238
@harisubramoni I think https://github.com/pmodels/mpich/pull/3243 should fix this issue. Tonight's nightly tarball should contain it.

[2018-08-16 19:56] harisubramoni commented on #3238
Thank you Ken. Let me try it out and get back to you.

[2018-08-16 20:16] harisubramoni commented on #3238
I confirm that the patch works :-).

[2018-08-16 20:16] #3238 closed

[2018-08-17 21:02] harisubramoni opened #3289 "build: issues with configure on Power systems with PGI compilers"
When I run configure on Power, with the MPICH 3.2.1 tarball available from the MPICH site. I get a failure at:
configure: error: unable to determine matching C type for C++ bool

I used the following configure line

./configure --prefix=$PWD/install-dir CC='pgcc' CXX='pgc++' F77='pgfortran' FC='pgfortran'

Although I used PGI 17.10, the version of PGI compiler does not matter.

When I look at the

[2018-08-20 19:43] raffenet commented on #2703
This broke when we introduced support for symbol visibility. You can workaround this for now by adding `--disable-visibility` to your configure line. I will have a more complete fix soon.

[2018-08-21 19:27] raffenet commented on #2537
The AM-only config works well now. Not sure exactly when this was fixed, but the excessive timeouts are no longer an issue.

[2018-08-21 19:27] #2537 closed

[2018-08-21 19:50] gcongiu commented on #2347
@raffenet I will look into this

[2018-08-22 21:46] raffenet opened #3295 "--enable-threads=single configuration broken"
Related to the recent MPL memory tracing changes. https://jenkins.mpich.org/view/weekly/job/mpich-master-ch3-special-tests/compiler=gnu,jenkins_configure=singlethread,label=ib64/669/console

[2018-08-22 21:58] raffenet opened #3296 "uninitialized bytes access reported by valgrind"
From valgrind test with ch3/nemesis/tcp configuration. Also happens in `test/mpi/pt2pt/dtype_send`.

[code]

[2018-08-22 22:09] raffenet opened #3298 "--disable-weak-symbols configuration broken"
We depend on a function defined by ROMIO to split communicators based on filesystem access. That symbol ends up in libmpi when weak symbols are disabled, but is needed by functionality in libpmpi. I thought this was fixed in 61d0e097e5f10581343bb6b0422db6f6dea7a6f5, but that doesn't appear to be the case. Needs more investigation (and hopefully not an overhaul of the ROMIO build system).
https://j

[2018-08-23 15:03] raffenet commented on #3295
@wesbland can you look into this? Seems like the MPL memory classes patch broke this config.

[2018-08-23 15:08] wesbland commented on #3295
👍 I'll take a look.

[2018-08-24 17:43] sudheer9 opened #3308 "bug: MPI_Bcast() intra algorithms show incorrect functionality with count=2^30"
MPI_Bcast with 2^30 ints incorrectly performing the Broadcast functionality. Using the test case below, it results in the following message when running on 2 nodes:

[code]

This behavior is observed with the intra-node MPI_Bcast with all the algorithms other than the "binomial". The algorithm of choice for MPI_Bcast can be configured using
`export MPIR_CVAR_BCAST_INTRA_ALGORITHM="scatter_ring_all

[2018-08-29 06:40] yurivict opened #3313 "mpicc doesn't know the 'double complex' type"
This type exists in C, see here for example: https://en.cppreference.com/w/c/numeric/complex/cexp

mpicc fails:
[code]

```mpich-1.5_11``` installed from the package on FreeBSD 11.2.

[2018-08-29 14:17] sudheer9 commented on #2654
@csadlo, can you provide an example for the CVAR that is CONSTANT or read-only? On the few systems that I've tried, there isn't any error generated with running ./cvarwrite.

[2018-08-29 14:36] raffenet commented on #3313
mpicc is just a wrapper around the system compiler. It has no special knowledge of types. The error here looks to me like a missing in the program:

[2018-08-29 14:59] yurivict commented on #3313
No, ```#include <complex.h>``` is present. How does mpicc decide what is system compiler?

[2018-08-29 15:25] raffenet commented on #3313
It defaults the compiler used to build the library. You can see the full invocation with `mpicc- show`.

[2018-08-29 15:28] raffenet commented on #3313
It may be possible to override the default compiler by setting the `MPICH_CC` environment variable.

[2018-08-29 16:04] yurivict commented on #3313
Ok, thanks!

[2018-08-29 16:04] #3313 closed

[2018-08-30 23:46] yurivict opened #3315 "bug: local jobs start with a very long delay on FreeBSD"
I run a simple Hello World job printing only one line (http://mpitutorial.com/tutorials/mpi-hello-world/).
There is a very long delay before jobs run:
[code]

20 jobs were delayed for 13.5+ seconds before all of them ran at about the same time.

mpd was started with ```mpdboot -n 1 --ncpus=8``` with only the IP of the local host with 8 cpus in ```mpd.hosts```.

mpich2-1.5_11,5 on FreeBSD 11.2

[2018-08-31 15:47] #2703 closed

[2018-09-04 18:28] zbeekman opened #3316 "Better link for macOS (Homebrew) on mpich downloads page on website"
I was just browsing https://www.mpich.org/downloads/ and it might be nice for the [stable] and [devel] links to point to https://formulae.brew.sh/formula/mpich rather than the homebrew formula definition at https://github.com/Homebrew/homebrew-core/blob/master/Formula/mpich.rb

The formula page on https://brew.formulae.brew.sh/formula/mpich is probably more user friendly.

[2018-09-04 18:31] zbeekman commented on #3316
(P.S. I would be happy to create a PR if the website were hosted on GH, or some other public repository.)

[2018-09-05 20:48] raffenet commented on #3316
I agree those are better and updated the web page. We aren't hosting the page on GH, so no PRs for change at the moment :). Thanks!

[2018-09-05 20:48] #3316 closed

[2018-09-07 01:16] sudheer9 commented on #2645
@dqwu I've not been able to reproduce the said behavior (hanging of MPI_Wait) running on Blues. I did follow the 3 conditions that were mentioned above. I've tried with the latest as well as the 3.2.x branches of MPICH.

[2018-09-07 18:15] iulian787 commented on #2645
I tried with this soft key
soft add +mpich-3.2-gcc-5.3.0
script and results are here, on blues:
[code]

it hangs out, as reported by Danqing, job was killed after one minute

[2018-09-10 19:34] roblatham00 opened #3322 "`-fsanitize=integer` warnings"
If one configures MPICH with the clang compiler's `-fsanitize=integer` option, one will get a nice report of the exact file and line number where an integer overflow happens.  Would have loved to have this back in 2013!

however, there are too many warnings right now for this to be useful.  A simple MPI_INIT/MPI_FINALIZE test program flags seven locations where the compiler does not like how we tr

[2018-09-11 17:12] roblatham00 commented on #3322
Clang's undefined behavior sanitizer was reporting warnings like this;

    /home/robl/work/mpich/src/mpi/comm/commutil.c:985:5: runtime error: unsigned integer overflow: 1627196654 - 2308158531 cannot be represented in type 'unsigned int'

This is a case where the error message overstates the problem.  unsigned integers have well-defined behavior for overflow.  Might surprise someone in some case

[2018-09-11 20:23] roblatham00 opened #3327 "whitespace checker too aggressive with Makefile rules"
As we all know, when writing a makefile rule, the steps of how to carry out that rule are all prefixed by a tab.

I added the pre-commit hook to my tree so I would not inadvertently break our witespace guidelines.  This pre-commit hook, however, flagged a recent commit as containing tabs instead of spaces.  Well, whitespace checker, stuff it!  that's how you write makefile rules.  I committed with

[2018-09-12 16:12] #3327 closed

[2018-09-12 21:36] roblatham00 commented on #3308
bummer, `-fsanitize=undefined` isn't catching this either.

[2018-09-14 18:24] teamblubee opened #3334 "build: support flang"
Hello

I am running into a bug that seems to stem from the linker flangs --whole-archive.

It's a bug similar to this one: https://github.com/bioinformatics-centre/kaiju/issues/30
-soname can be fixed by using -install_name as well.

Although I am not on OS X using LLVM and Clang, the whole-archive flag will cause compilation failure.

Would someone be able to address this issue?
[code]

[2018-09-15 02:29] teamblubee commented on #3334
I think the error comes from the fact that this fortran compiler isn't gfortran, it's flang: https://github.com/flang-compiler/flang

Here's a make -dA output: https://pastebin.com/uwvSNEeW

[code]

[2018-09-15 04:10] teamblubee commented on #3334
[code]
configure output
[code]

make command, output truncated to fit, full: https://pastebin.com/KUdg2Eg0
[code]

verbose make command, again truncated, full: https://pastebin.com/UQDGWLyf
[code]

[2018-09-18 17:50] roblatham00 commented on #3308
at last, some results.  Systems installed clang-8 for me: building with clang-8 showed me a bunch of warnings.  Some of them are no doubt harmless (MPIR_Context_id_t sounds like setting to a default value)  but that warning about line 199 of bcast.c sure sounds supicous!

[code]

[2018-09-27 21:37] jeffhammond commented on #3334
@teamblubee `--enable-static --disable-shared` is a workaround.  FreeBSD may not like it but it works.

[2018-10-01 03:31] naromero77 commented on #3334
I see the same error with the Spack package manager when building mpich using clang+flang compilers. Strangely, the mpich Spack package manager does not support a static library only installl, thus Jeff's work around won't work without editing the mpich Spack package (doable but basically a workaround for the real problem).

[2018-10-01 16:37] jeffhammond commented on #3334
@tgamblin is lack of static-only builds a bug or a feature in @spack?

[2018-10-01 16:52] tgamblin commented on #3334
I wouldn’t say it’s either. We don’t actively prevent people from doing static builds, but it’s work to make most packages do them.  So if someone wants to add a variant to enable mpich to build static, that would be fine. But we haven’t made a major push to make everything support that yet.

[2018-10-01 16:52] naromero77 commented on #3334
Its just a matter of a variant of the package supporting that configuration option. But this is handled on a per package basis.

[2018-10-01 16:55] naromero77 commented on #3334
I don't know all the details because I just found this issue by Googling it, but I think the right thing to do is to fix configure/automake in MPICH to properly detect clang/flag combination. I just tried building OpenMPI with clang/flang in Spack and I had no trouble at all. This is just under Ubuntu Linux.

[2018-10-01 17:40] raffenet commented on #3334
@naromero77 agreed. We need to fix our flang support in MPICH.

[2018-10-01 18:02] minsii opened #3348 "Weak symbol handling is not complete for some routines"
`HAVE_WEAK_ATTRIBUTE` is not set for some routines, such as `MPI_Status_f2c` in fortran binding. We need to also systemically check if all MPI functions have added this option.

In FreeBSD 11.2, `weak attribute` is enabled but `weak pragma` is not, thus some `MPI_*` symbols cannot be found in library binaries.

[2018-10-02 03:13] raffenet commented on #2330
@hzhou this old issue is likely already fixed, but it might be worth examining the part of the code originally flagged by the compiler in this report.

[2018-10-02 19:58] gcongiu opened #3350 "Oracle Dev Studio misdetection"
MPICH compilation fails with a linker error when Oracle Dev Studio > 12.3 is used.

[2018-10-02 23:52] teamblubee commented on #3334
I have a makefile workaround that I apply after doing autogen.sh but before actually calling configure.

[code]

I'd like to generalize this a bit and create a libtool patch, something similar to the macosx patch that's bundled with MPICH2.

[2018-10-03 18:52] raffenet commented on #3334
@naromero77 were you able to install Flang from Spack? I have been unsuccessful on every machine/compiler combination I tried.

[2018-10-03 18:53] raffenet commented on #3334
@teamblubee yes, this sounds like the right thing to do absent an upstream fix in libtool.

[2018-10-03 18:57] naromero77 commented on #3334
@raffenet I do remember installing Spack with flang was very difficult. Let me find my notes and get back to you soon.

[2018-10-03 19:03] naromero77 commented on #3334
@raffenet Looks like a got flang installed, but I remember having to report an issue to the flang developers. Earlier version will not install.

[code]

[2018-10-04 01:31] #2257 closed

[2018-10-04 01:31] #2311 closed

[2018-10-04 15:13] minsii opened #3356 "VCI pool infrastructure"
<h3>Design Summary</h3>

VCI (Virtual Communication Interface) pool is to a generic API to manage the network or shm communication resource assignment:

- We define different attributes of VCI (i.e., `resource`, `type`, `property` in this proposal) based on the need of CH4.
- The netmod/shmmod internally manages the actual VCI allocation (i.e., some attributes might not be available)
- The netmod/

[2018-10-04 16:30] roblatham00 opened #3357 "build: MPI_Aint vs size_t signedness"
`--enable-strict` and gcc-7.3 is giving me a lot of warnings about `warning: pointer targets in passing argument 2 of ‘MPIR_Type_get_true_extent_impl’ differ in signednes`

For example:

[code]

An easy fix would be to use `ssize_t` where 'int' has been promoted to 'MPI_Aint`

[2018-10-05 09:39] teamblubee commented on #3334
I just successfully compiled mpich2 on FreeBSD using [Flang compiler](https://github.com/flang-compiler/flang)

I applied 3 patches, I hope it's okay to add them here as code segments, would it be possible to apply these changes?

This is the major patch that allows Flang to properly link the program
[code]
These are just simpler
[code]

[code]

[code]

[2018-10-05 10:28] KavithaTipturMadhu opened #3358 "build: linker error on SUSE Linux with Sun C 5.15"
Linker error building mpich master mpich-master on "SUSE Linux Enterprise Server 12.3 (x86_64)" with Sun C 5.15 (Oracle Developer Studio 12.6).

Reported by Siegmar Gross <siegmar.gross@informatik.hs-fulda.de> when building MPICH master.

[code]

Update:
Another opensuse related issue was reported by the same person that reported the previous issue.
[code]

[2018-10-05 19:28] roblatham00 opened #3360 "UFS should be enabled all the time"
we have some ROMIO features that assume we can open files (e.g. shared file pointers storing the offset in a file, opening the "system hints" file).  If I configure ROMIO with "--with-file-system=lustre" (and omit the 'ufs' bit) tests fail in strange ways.

I'm trying to think of cases where I would not want UFS support.   Since we no longer support Win32, i cannot think of any.

[2018-10-06 12:31] KavithaTipturMadhu opened #3361 "HYDRA_TOPO_DEBUG does not show bindset despite using bind-to option"
`HYDRA_TOPO_DEBUG=1` does not show process bindset with `bind-to` option on KNL nodes. I checked this on KNL and Skylake nodes on JLSE. Turns out this the case in both the machines, and it looks like the `getenv` returns NULL when looking for `HYDRA_TOPO_DEBUG` on both of them. I set the environment manually using `setenv` in `HYDT_topo_init` function and it works then.

[2018-10-10 17:54] yfguo commented on #2929
@nathanweeks FYI, Intel has fixed this problem in their Fortran compiler (since version 2018.3.222 and 2019.0.070).

[2018-10-10 19:33] raffenet opened #3365 "representing object sizes with size_t instead of MPI_Aint internally"
Many internal MPICH interfaces use `MPI_Aint` rather than `int` to deal with object sizes > `INT_MAX`. I propose instead we convert values representing the size of objects in memory to `size_t` internally, as it is the natural fit. In the unlikely event that a system/compiler does not support `size_t`, autoconf (`AC_TYPE_SIZE_T`) will set a reasonable default.

A good place to start would be the `

[2018-10-10 19:49] raffenet commented on #3365
Somewhat related to #3357.

[2018-10-10 19:54] hzhou commented on #2330
The build log indicated the collision of cases are MPI data type MPI_COMPLEX16 and MPI_COMPLEX8, which should be different. The error message says the collided value is 201326592 which is 0xc000000, which is DATATYPE_NULL. Need dig further how MPI_COMPLEX16 and MPI_COMPLEX8 become DATATYPE_NULL.

[2018-10-10 20:49] hzhou commented on #2330
So it is a configure issue. In configure.ac, all size-specific types are initialized as DATATYPE_NULL.

[2018-10-10 21:22] hzhou commented on #2330
I cannot reproduce this error. I believe it is a build inconsistency especially the user mentions something about compiler update (during his build). So I suggest close this issue. We can re-open if something similar occurs again.

[2018-10-10 21:54] raffenet commented on #2330
@hzhou agreed. Closing.

[2018-10-10 21:54] #2330 closed

[2018-10-10 21:59] ilagunap opened #3366 "Return error codes are not saved or handled"
I would like to report some issues on how return error codes are propagated and handled in the library. We are developing a static analysis framework that detects the code location where return error codes are not handled properly and we have tested it recently in MPICH 3.2.1. The framework is giving us a number of reports and we would like to confirm with you whether these are real bug cases or j

[2018-10-11 15:52] hzhou commented on #2306
With current code:
[code]

It is not segfaulting, which means we at some point have fixed the bug. :)

However, the error message is cryptic. I will look into it to add some early sanitization checks.

[2018-10-12 02:40] raffenet opened #3370 "expose new topology info to collective selection code"
@Bayyapu is proposing selection of certain MPI_Allgather algorithms in #3242 based on whether processes in a communicator are uniformly distributed amongst nodes (same ppn). This information can be computed from the process mapping, but not from any of the node arrays stored in `MPIR_Comm` today.

We need a way to expose this information to the MPIR layer in order to take advantage of it. A couple

[2018-10-12 19:37] raffenet commented on #3298
@roblatham00 could we instead implement `MPIR_Comm_split_filesystem` in `src/mpi/comm/` using regular file open/close routines? The ROMIO version only operations on `MPI_COMM_SELF`. Or am I not thinking of some other blocker?

[2018-10-12 21:54] raffenet commented on #3298
I take it back. This particular failure doesn't seem to be directly related to the comm split filesystem stuff. I probably need to setup a git bisect...

[2018-10-15 14:16] hzhou commented on #2306
For reference, current openmpi behavior is to ignore `-np 0' (runs max number of precesses on the node) and report error for any negative np.

[2018-10-15 19:21] minsii opened #3380 "bug/jenkins: RMA accumulate AM fallback breaks with short_int pairtype"
In active message fallback, CH4 handles accumulate in the following steps:
1. Origin process checks if datatype is continuous
    - *Origin data type handle:*  If origin contig, send entire message; if origin noncontig, send iov structure with chunked data
        - OFI packs iovs  into a pack_buf and transfer
    - *Target data type handle:* If target noncontig, generate iov/n_iov info, and set i

[2018-10-15 19:32] minsii commented on #3380
This bug can be reproduced by test `atomic_get_short_int` which is added in PR #3342 .

[2018-10-15 20:44] #2306 closed

[2018-10-16 18:29] raffenet commented on #3298
Fixed in https://github.com/pmodels/mpich/commit/dc1970d6bcf4a5856a80721f523441bb4af22809

[2018-10-16 18:29] #3298 closed

[2018-10-16 18:37] raffenet commented on #2349
Relevant mailing list thread https://lists.mpich.org/pipermail/discuss/2016-August/004868.html

[2018-10-16 18:40] raffenet commented on #2335
@minsii is this still an issue?

[2018-10-16 18:43] #2303 closed

[2018-10-16 18:53] raffenet commented on #2229
@minsii is this specific case covered now after updates to mtest and dtpools? If so, we can close this issue.

[2018-10-16 18:56] #2206 closed

[2018-10-16 19:07] raffenet commented on #2168
As far as I know, this issue has been fixed. There are some other Solaris related build issues being tracked in other tickets. Closing this one.

[2018-10-16 19:07] #2168 closed

[2018-10-16 19:08] #2165 closed

[2018-10-16 19:12] minsii commented on #2335
I think so. The assertion is still there

[2018-10-16 19:14] minsii commented on #2229
I think dtpool already covers this case. We can close this ticket.

[2018-10-16 19:17] raffenet commented on #2056
`const` was removed from these functions in c3dbc09ae20a503ac4b870893e3e330d52ea5a3b.

[2018-10-16 19:17] #2056 closed

[2018-10-16 19:18] #2053 closed

[2018-10-16 19:21] raffenet commented on #1955
`MPIDI_msg_sz_t` was removed in e0e55b74047115b594681955ce12a50d0d65bedd.

[2018-10-16 19:21] #1955 closed

[2018-10-16 19:31] raffenet commented on #1686
pmi2 is working since d059292db32a8d0798fb172b79bfc913efdfc3b0.

[2018-10-16 19:31] #1686 closed

[2018-10-16 19:38] hzhou commented on #2319
The standard clearly states that it is OK to pass MPI_REQUEST_NULL to a completion call of any kind and it shall return appropriately (immediately if all requests are MPI_REQUEST_NULL). Therefore, having MPI_Ibarrier return MPI_REQUEST_NULL does not invalidate the standard.

From MPICH 3.1 to MPICH 3.2, the collective code in MPICH had a major refactoring, and trivial cases such as MPI_COMM_SELF a

[2018-10-16 20:36] raffenet commented on #2319
We don't do this for any other operation, even send/recv to `MPI_PROC_NULL`. I think for "least astonishment" as noted in the mailing list thread, it would be appropriate to return valid, complete request. This is consistent with pt2pt code and not an undue burden to maintain, IMO.

[2018-10-16 21:19] hzhou commented on #2319
OK, I will work on it

[2018-10-16 21:28] raffenet commented on #2319
And I'll note that we do this for more than just `MPI_Ibarrier`. I'll submit a comprehensive PR.

[2018-10-16 23:18] hzhou commented on #2319
If we never return MPI_REQUEST_NULL, then why would the user have code check against MPI_REQUEST_NULL in the first place?

Even when in MPI_Ibarrier's case that we can always return non-null, I felt the code should belong in MPIR_Ibarrier_impl (and relevant MPID_Ibarrier) where the logic can be read clear.

I haven't finished reading through the code base yet. My initial thought is we could preall

[2018-10-17 01:38] raffenet commented on #2319
Yes, a special handle value for complete request is another option. In fact I know we considered that for the "lightweight" send request in ch4, but ultimately didn't implement it. I forget the exact reason, but we can discuss it more.

[2018-10-17 03:36] jedbrown commented on #2319
To answer your question about why, in `MPI_Ibarrier`-based sparse consensus algorithms (http://unixer.de/publications/index.php?pub=99), one needs to have passed an `MPI_Ibarrier` stage to advance. When `MPI_REQUEST_NULL` is returned, the code needs to have an extra variable (see `barrier_started` below) to identify that state transition if the code is to behave correctly on communicators of size

[2018-10-17 03:50] pavanbalaji commented on #2319
@jedbrown I'm trying to find in the MPI standard where it says that `MPI_Ibarrier` cannot also complete the request.  You can pass the completed request to `MPI_Test` or `MPI_Wait` just like you can pass an incomplete request.  Can you point me to where we are noncompliant with the standard?

[2018-10-17 03:52] hzhou commented on #2319
@jedbrown great! I will study your case.

[2018-10-17 03:58] hzhou commented on #2319
@pavanbalaji I tried and didn't find anywhere standard says anything on when should or shouldn't return MPI_REQUEST_NULL other than when it is complete by mpi_wait or mpi_test. But as long as use case makes sense, I think we should consider at least.

[2018-10-17 04:08] pavanbalaji commented on #2319
I'm OK with returning a dummy completed request -- I agree it's convenient.  With Ken's new code, we now have a global completed request that simply increments the ref count, so it doesn't even cost us anything.  I was just curious as to where we are breaking the standard.

[2018-10-17 04:13] hzhou commented on #2319
@jedbrown @pavanbalaji the petsc code initializes request to MPI_REQUEST_NULL as a sentinel to whether MPI_Ibarrier been called, which is a bad choice as MPI_REQUEST_NULL is a valid , albeit complete handle. I think it can use NULL/0 as sentinel. Does MPI standard guarantee 0 cannot be any MPI object handle so it can be safe to  use as sentinel?

[2018-10-17 14:42] hzhou commented on #2319
@jedbrown I think the current pets code using a separate boolean is the right approach. To be able to use a sentinel  value, it need be explicitly defined by the standard (or code that is in your control). Neither to use what the standard seem to imply or what the implementation specific details are not guaranteed to be always safe. Looks like MPICH will make a change so all the collective immedia

[2018-10-17 14:58] jeffhammond commented on #2319
@jedbrown Why don't you just early exit if comm is `MPI_COMM_SELF`?

[2018-10-17 15:33] jedbrown commented on #2319
@jeffhammond `MPI_COMM_SELF` is often dup'd to have distinct attributes, but your question still applies to checking if the communicator size is 1. Indeed, this code is not normally called under such circumstance, but it is valuable for debugging to be able to run the degenerate case. One could ask the same question about why `malloc(0)` is allowed. Surely the user can just check that their argume

[2018-10-17 20:59] raffenet commented on #3315
Are you able to use a newer version of MPICH? It would be useful to know if the problem persists in MPICH 3.2.1.

[2018-10-17 22:04] shawnccx commented on #3356
One question, the slides said `The netmod can define internal pools based on the hardware support`. Does this allow netmod to pre-allocate resource in initialization?

[2018-10-17 22:06] minsii commented on #3356
You can, but I think we prefer allocation on demand. You never know which VNI type the user program wants.

[2018-10-17 22:07] minsii commented on #3356
The internal pools can be statically defined at initialization time, but each of the pools is empty.

[2018-10-17 22:18] shawnccx commented on #3356
I prefer allocation on demand (on the fly) also. But if performance matters, then we should compromise to pre-allocation.

Using pre-allocation, the internals pools are empty at initialization(), we just allocate some number of resource, and assign them to specific internal pool on demand.

[2018-10-17 22:21] shawnccx commented on #3356
@hajimefu What do you think?

[2018-10-17 22:33] shawnccx commented on #3356
OFI scalable endpoint VS normal endpoint. SEP needs to specify how many TX/RX in initialization, while normal EP can be created anytime.

[2018-10-17 22:37] minsii commented on #3356
Scalable EP and normal EP is actually another topic IMO. When does SEP outperforms EP ? It looks like SEP is beneficial only for multithreaded case. Is it true ?

[2018-10-17 22:42] shawnccx commented on #3356
I agree, it is all about resource, not VNI, another topic. I'm just double checking about pre-allocation of resource.

I think so.

[2018-10-18 02:30] hzhou commented on #2051
The standard requires MPI tool interface to work before MPI_INIT or after MPI_FINALIZE. It appears MPIR_Err_return_comm will fatal exit if that is the case. I suspect MPIR_Err_create_code also rely on MPI data structure that requires initialization.

In fact, the need for tool interface error is much simpler than the general MPI error handler. It should never be fatal, in which case seems all we n

[2018-10-18 13:16] raffenet commented on #2051
Sounds like the right thing to do. This ticket was imported from Trac and lost some user information, but you can tag @wgropp in the future, if desired.

[2018-10-18 18:22] raffenet opened #3389 "Half-precision floating point type"
ISO/IEC TS 18661-3:2015 defines `_FloatN` binary floating point types (including `_Float16`) for the C language. Newer versions of Clang/LLVM support this type. Other compilers may, as well.

https://clang.llvm.org/docs/LanguageExtensions.html#half-precision-floating-point

We could define something along the lines of `MPIX_C_FLOAT16` for users to experiment with when compiler support is detected.

[2018-10-18 21:03] raffenet commented on #3389
Tagging @gcongiu because we'll eventually have to test this, and may want to modify dtpools to do so.

[2018-10-19 21:20] hajimefu commented on #3356
@minsii I have two questions.
1. Who defines `MAX_VNI_NUM`?
2. Currently we are using an integer index to specify a particular VNI, but with this new design we are going to use a pointer for a VNI?

[2018-10-19 21:33] hzhou commented on #1872
Pasting original message for reference:
[code]

[2018-10-19 21:42] hzhou commented on #1872
The latest version (3.3b3) produce:
[code]

It is roughly the same messages, but the first one now clearly states `unable to change wdir to ...`, so it is not as mysterious as before.

However, I do think a high level sanity check can produce more concise and clearer responses. In addition, are there options that allow or specify different paths to hydra_pmi_proxy and allow or specify for it to ru

[2018-10-22 18:34] hzhou commented on #3389
For reference, there was a long discussion in MPI Forum: https://github.com/mpi-forum/mpi-issues/issues/65

[2018-10-22 18:40] hzhou commented on #3389
I am not quite happy with the current way that using configure to filling the handle values in mpi.h. Configure do feature tests, the handle value logic should be separate from feature detection. I am pondering on whether we could even separate the type size detection from configure and having a separate script just do that. Once the compiler and flags are determined by configure, data size detect

[2018-10-22 20:03] raffenet commented on #3389
I enthusiastically support the effort to make configure less complex. However, the `AC_CHECK_SIZEOF` macro is provided by autoconf and seems well-suited to this task. At the very least, the type size detection could be split into a separate file to avoid complicating the main `configure.ac`. Thoughts?

[2018-10-23 00:42] #2319 closed

[2018-10-24 19:48] hzhou commented on #3389
I am thinking about a simple script to do the datatype configure: `make_datatypes`. It processes mpi.h.in to mpi.h, taking only environment variable CC, CFLAGS and CXX, CXXFLAGS and corresponding fortran's.  `mpi.h.in` should be a complete mpi.h with *typical* default values and `make_datatypes` double checks sizes at makefile time (as dependency) and modify if necessary. Rather than run individua

[2018-10-24 19:54] hzhou commented on #1872
The current error handling is like backtracing. It is helpful for developers but mysterious to users and application developers who are not familiar with internal details. In the above example, only the first message makes sense. I think we can let lowest level (after printing error messages) to set and return a (HYD_)ERR_SUPPRESS to suppress additional error messages.

The `assert(!closed)` error

[2018-10-24 21:29] hajimefu commented on #3356
@minsii Thanks. So I assume netmod can define its own CVAR(s) and let the user specify how many contexts to allocate, then tell `MAX_VNI_NUM` to CH4. I think this is somewhat similar to what we've been already doing in `master`.

[2018-10-30 18:53] hajimefu opened #3420 "ch4/ofi: Regression in datatype initialization"
#2671 introduced this patch:

This broke the datatype initialization of OFI netmod. In OFI init, there's a logic to record OFI-specific datatype index into predefined datatypes.
https://github.com/pmodels/mpich/blob/master/src/mpid/ch4/netmod/ofi/ofi_init.h#L1013, then
https://github.com/pmodels/mpich/blob/master/src/mpid/ch4/netmod/ofi/util.c#L527

Looks like this index is abandoned when `MPID_In

[2018-10-30 19:46] wesbland opened #3421 "allctypesf failing in all configurations"
Starting on 2018-10-27, `f77/datatype/allctypesf 1` and `f90/datatype/allctypesf90 1` started failing with this output:

[code]

I can't be sure, but it seems that this started failing when #3342 was merged. That doesn't seem to be reflected in the pull request testing so it's possible that it was something else.

[2018-10-30 19:54] hajimefu commented on #3421
I'm not sure if #3342 was the cause. In my local testing 0b4b86e066ceaa0e8af27272e966fe11f578c23f works fine.

[2018-10-30 20:01] minsii commented on #3421
Let me do a quick investigation.

[2018-10-31 17:41] raffenet commented on #3361
To expand, it seems that environment inheritance is not working as expected on JLSE nodes. MPI processes should inherit environment settings (envvars, ulimit, etc.) from `mpiexec`.

[2018-10-31 18:01] gcongiu commented on #3358
@KavithaTipturMadhu I have also seen the same issue (# 2) but did not investigated further. If I recall correctly @raffenet mentioned he came across this same problem in the past.

[2018-10-31 18:20] KavithaTipturMadhu commented on #3358
I will try to reproduce the first issue, and link second one to the other PR, since that might be specific to Oracle Developer Studio. Thanks @gcongiu for the heads up.

[2018-10-31 20:05] raffenet commented on #3420
So I see 2 options here.
1. We move the call to `MPIDI_OFI_index_datatypes();` to `MPIDI_NM_mpi_type_commit_hook`. This ensures that datatypes are setup before ch4/ofi tries to map them to ofi types. However it has the drawback that it is re-run every time a new datatype is committed. Maybe we could add a hack to only run it as the last pre-defined datatype is committed...
2. Add a device (and nm/

[2018-10-31 20:10] raffenet commented on #3420
3. We could delay `MPIDI_OFI_index_datatypes();` to first window creation.

[2018-10-31 20:11] minsii commented on #3421
This failure is caused by the same commit as mentioned in issue #3420

[2018-10-31 20:29] raffenet commented on #3420
I discussed this with @minsii and I think we both agree 2 is the cleanest solution. However my gut is leaning towards 3 to get this done quickly for 3.3.

[2018-10-31 21:33] hajimefu commented on #3420
I basically agree with your assessment. When another use case for `MPIR_Datatype_init` hook comes up in future, we can consider the second option.

[2018-11-01 04:02] hajimefu commented on #3356
@minsii Assuming my previous comment is right, we think this proposal looks good.

[2018-11-01 08:30] andreasnoack commented on #1590
I left a comment to the commit but it might be a bit hidden there so I'll put a link to it here as well.
https://github.com/pmodels/mpich/commit/2999a0ab3abc7a113d35d6117a9d1db8fa0ffa44#commitcomment-3113164.

[2018-11-01 12:11] minsii commented on #3356
@hajimefu Is the OFI CVAR(s) mainly used for SEP creation (e.g., specifying the number of TX/RX) ?

If you agree, I think we could delete the separate SEP and STX design in `ofi_win.h`. We should let CH4 to request any additional resource for a specific window when needed.

[2018-11-01 15:13] hajimefu commented on #3356
@minsii Yes. The biggest challenge for OFI scalable endpoint is that it needs to know the maximum number of contexts at the init time (=when calling `fi_scalable_ep()`. Note that this is not individual context creation e.g. `fi_tx_context()`).

Once this new VNI design is established, the current SEP/STX creation logic (especially the ones for RMA) will migrate to the new CH4 VNI design.

[2018-11-01 17:35] #3420 closed

[2018-11-01 17:35] #3421 closed

[2018-11-01 23:01] KavithaTipturMadhu commented on #3361
@hzhou Some context if it helps debug: I checked this on KNL and Skylake nodes on JLSE. Turns out this the case in both the machines, and it looks like the `getenv` returns NULL when looking for `HYDRA_TOPO_DEBUG` on both of them. I set the environment manually using `setenv` in `HYDT_topo_init` function and it works then.  As far as I noticed, pmip.c isn't inheriting the environment variables of

[2018-11-02 14:10] hzhou opened #3427 "Duplicated build of mpl etc."
The current build system duplicates mpl, hwloc into multiple places during the mpich build, resulting configuring and building mpl 3 times and hwloc twice. We should add an option to allow hydra and romio to use the convenience library directly, something like --embed-mpl=/path/to/libtool-convenience.la.

[2018-11-04 19:47] hzhou commented on #3427
A reference to `autoconf`'s built-in variables: https://www.gnu.org/software/autoconf/manual/autoconf-2.65/html_node/Preset-Output-Variables.html

[2018-11-05 16:18] tarudoodi opened #3431 "Incorrect issue"

[2018-11-05 16:21] #3431 closed

[2018-11-05 19:41] hzhou commented on #3361
mpiexec.hydra invokes proxies passing all the env variables via command line: --global-inherited-env #count "A=.." "B=.." .... These variables are copied into environment of commands when proxy launches them; however, they are not necessary in proxy itself's environment -- especially when the proxy is launched through cobalt or manual mode.

[2018-11-06 16:12] hzhou opened #3434 "hydra: simplify hydra interface between mpiexec and hydra_pmi_proxy"
PR https://github.com/pmodels/mpich/pull/3432 patches hydra to solve
https://github.com/pmodels/mpich/issues/3361. However, it brings to light that currently `mpiexec.hydra` passes part of its parameters to `hydra_pmi_proxy` with invoking command line, and part of other parameters with additional arguments once the communication channel is established; yet we also employ implicit environment varia

[2018-11-08 17:18] raffenet commented on #2360
CC: @janjust

[2018-11-08 17:29] hzhou commented on #2360
I think setting up and putting values into environment is ultimately the responsibility of process/resource manager. If different MPI implementation start to adding their own environment variables, for one, it may collide into name space and cause conflicts; and two, to utilize such environment, libraries or applications have to produce code that are MPI implementation dependent, counter to the ef

[2018-11-08 18:03] raffenet opened #3437 "build/jenkins: OS/X Intel compiler builds fail"

[2018-11-08 18:57] raffenet commented on #2360
Ideologically, I agree. I think our chances of success in changing those libraries behavior would be greatly improved if we submitted issues/PRs supporting the proposed new APIs.

[2018-11-08 19:34] raffenet commented on #2360
@wscullin also expressed interest in this feature, though I forget the context. Can you remind us? Not sure if it fits with this downstream library API viewpoint...

[2018-11-08 19:34] hajimefu commented on #3437
Which ICC version?

[2018-11-08 19:49] hajimefu commented on #3437
Isee. I tested on `icc (ICC) 19.0.0.105 20180804` and it was fine.

[2018-11-08 20:49] raffenet commented on #3437
I'll note this in the release notes and we can fix it after the release candidate.

[2018-11-12 21:33] hzhou opened #3441 "Too much duplication in test code"
During patching https://github.com/pmodels/mpich/pull/3401, it become very tedious as many test code are duplicated and any patch need be duplicated as well. In this particular case, `dtpools`' `typelist` code is duplicated in 22 files and a common name change results in changes over all these files. As the duplicated code are not always exact, a manual check is often necessary or result in new br

[2018-11-12 22:03] raffenet commented on #3441
You may also want to look at https://github.com/pmodels/mpich/pull/3145. I haven't looked at it myself, but it would probably be good to combine or coordinate between the 2 efforts.

[2018-11-19 07:39] wkliao commented on #2332
I am wondering the status of this issue.

[2018-11-27 15:24] balay opened #3449 "build: mpich-3.3 static link error on OSX"
I get the following link error with static build of mpich-3.3 on osx.

[code]

attaching config.log for this build
[config.log.txt](https://github.com/pmodels/mpich/files/2620615/config.log.txt)

[2018-11-27 15:29] pavanbalaji commented on #3449
This seems to be coming from `hwloc`.  @KavithaTipturMadhu can you look into it?

[2018-11-27 15:30] KavithaTipturMadhu commented on #3449
I am looking into this, will update it once I have more info.

[2018-11-27 16:33] balay opened #3450 "Errors with brew gcc on OSX with -fstack-protector"
I get the following error when using mpich built with brew gcc on OSX
[code]

attaching corresponding config.log
[config.log.txt](https://github.com/pmodels/mpich/files/2620890/config.log.txt)

[2018-11-27 16:40] KavithaTipturMadhu commented on #3449
I built the static library with the same config flags and static mpi lib on osx. cpi seems to run just fine. Can I get access to your build or details of compiler and linker versions?

[2018-11-27 16:53] balay commented on #3449
Its latest OSX with latest Xcode. We use gfortran from brew.

[code]
Note: the shared build is linked in with OpenCL - so presumably a static build presumably needs an explicit OpenCL link in the mpi wrapper.

[code]

[2018-11-27 17:06] balay commented on #3449
[code]
I guess I should use this option to workaround this issue.

[2018-11-27 17:11] balay commented on #3449
Now I get duplicate symbol errors

[code]

[2018-11-27 22:04] raffenet commented on #3449
At least waitany was broken in 7e047915e3ac8365082beeb6b9ded8333481bf48. @KavithaTipturMadhu I have a fix I will push. I'm sure we'll need something similar for the duplicate op symbols.

[2018-11-28 15:40] balay commented on #3449
@raffenet @KavithaTipturMadhu , Thanks for the fixes. My builds go past this link error now.

[2018-11-28 16:12] raffenet commented on #3449
Great. Thanks for confirming.

[2018-11-28 20:34] balay commented on #3449
Yes the primary issue with OpenCL still exists. [I'm just working arround it].

[2018-11-28 21:13] hzhou commented on #3450
I am not able to reproduce it. I am using gcc 8.2.0, installed as `gcc-8`.
[code]

What is your output of `mpicc -v`?

[2018-11-28 22:13] balay commented on #3450
[code]
I see this issue on 2 different OSX machines [sure - they have similar software stack]

[2018-11-28 22:20] balay commented on #3450
Ok - I just tried the default build [nemesis] and that worked fine.

Note: my build is with `--with-device=ch3:sock` as indicated in the attached config.log

[2018-11-28 22:37] hzhou commented on #3450
I see. Thanks. I will investigate it.

[2018-11-28 22:42] balay commented on #3450
Additional note:

eventhough cpi.c works with basic mpich build, petsc examples crash with it

[code]

[2018-11-28 22:45] hzhou commented on #3450
@balay You mean the PETSc example crashes even with the default ch3:nemesis build?

[2018-11-28 22:47] balay commented on #3450
On Wed, 28 Nov 2018, Hui Zhou wrote:

yes

[2018-11-28 23:16] hzhou commented on #3450
Mine works fine even with ch3:sock. Just to explore, what is your `otool -L a.out`? Mine looks like this:
[code]

Also, when you compile with default (nemesis), does mpichversion still crash?

[2018-11-29 02:08] hzhou commented on #3450
Yes, I reproduces the error with `CFLAGS=-fstack-protector`

[2018-11-29 14:51] raffenet commented on #3361
Is this fixed now that https://github.com/pmodels/mpich/pull/3432 is merged?

[2018-11-29 14:59] KavithaTipturMadhu commented on #3361
I'll check this once on KNL and confirm.

[2018-11-29 16:37] hzhou commented on #3450
I narrowed down the symptom:
[code]
[code]
[code]
[code]

This can be reproduced even with `mpich-3.2.1` compiled without -fstack-protector:
[code]
[code]

[2018-11-29 16:41] hzhou commented on #3450
Also reproduces with `mpich-3.3b3` compiled with `clang` (aliased as gcc):
[code]
[code]

[2018-11-29 16:45] hzhou commented on #3450
It only reproduces if we call MPI functions:
[code]
[code]

[2018-11-29 16:56] KavithaTipturMadhu commented on #3361
I still see nothing with HYDRA_TOPO_DEBUG=1 in jlse's KNL nodes with this commit @hzhou.

[2018-11-29 17:45] balay commented on #3450
Ok - I think the problem is with brew 'gcc  -fstack-protector'

PETSc examples [without MPICH] also crash when using this option.

And PETSc+MPICH build without this option runs fine with brew gcc.

And xcode/clang builds have no problems with -fstack-protector

[2018-11-29 19:10] hzhou commented on #3450
OK, it is entirely a `gcc` (or brew recipe) bug. My `ok.c` was not triggered only because it does not use buffer and `-fstack-protector` skips it. If I do `-fstack-protector-all`, then even the `hello world` test will segfault. What `-fstack-protector` does is inject following code:
[code]
I assume gcc should initialize the `fs` register and setting that address with some value. However, `fs` is 0

[2018-11-29 19:11] #3450 closed

[2018-11-29 19:30] hzhou commented on #3450
Petsc folks uses that flag (for testing purpose I believe).

[2018-11-29 20:20] hzhou commented on #3361
The place that I set the environment is apparently too late. Apparently `proxy` only checks environment bag after all its other business. I'll find a earlier initialization point to make that patch -- this time I'll double check on JLSE to make sure.

[2018-11-29 22:56] balay commented on #3450
Yes - PETSc attempts to use this flag with gcc/clang in debug builds as it provides  extra error check.

[Now I'm disabling this flag in PETSc for brew/gcc buids - as it clearly results in broken code]

Note: xcode/clang works fine with this flag. [I haven't verified if it uses the flag - or ignores it]

[2018-11-30 02:37] hzhou commented on #3361
I did `MPL_putenv(str)`, thinking that `str` is part of `argv`, which should be there for the entire lifetime. Well, it is not. It was a copy and gets freed after parsing. So I should do `MPL_putenv(MPL_strdup(str))`, which fixes it:
[code]
@raffenet It is a small fix that I don't feel it worth the PR process. Can we do a direct commit to the master?

[2018-11-30 13:50] raffenet commented on #3361
This sounds like a reasonable fix, but we'll now have to free those strings eventually, right?

[2018-11-30 15:39] KavithaTipturMadhu commented on #3139
RMA programs throw error : MPIDI_OFI_win_init(429).......: OFI memory registration failed

[2018-11-30 16:06] hajimefu commented on #3139
@KavithaTipturMadhu I would love to know more like build configurations, base MPICH version (commit id), etc. CC: @shawnccx

[2018-11-30 16:14] KavithaTipturMadhu commented on #3139
I'm building mpich master, and i'm attaching config log here.
[config.log](https://github.com/pmodels/mpich/files/2634072/config.log)

[2018-11-30 21:07] hajimefu commented on #3139
Thanks. As a future reference, master as of now is e829fefd05a1840df46afd102941d1c127e8b3fa.

[2018-12-10 03:40] #3389 closed

[2018-12-12 03:38] gcongiu commented on #3441
@hzhou I guess this can be closed

[2018-12-12 03:38] #3441 closed

[2018-12-12 19:01] hzhou commented on #3315
The original issue is reported against `mpd`, which is deprecated since 3.1.1. However, the similar symptom is still being experienced -- due to different parts of code but probably due to a similar cause -- interface name to ip look up.

For example, a user reported on the discussion list today:
[code]

I also experience this on my laptop:
[code]
[code]

[2018-12-13 17:03] ilagunap commented on #3366
@raffenet @yfguo Hi Ken & Yanfei. Could any of you take a look at this and just tell us if this is a real bug or not? We don't need the fix or patch at the moment -- we only want to know if what the tool is telling us is correct so that we can continue improving the tool, and, of course, sending you more reports that could improve / fix bugs in MPICH. Thanks so much!!

[2018-12-13 18:36] hzhou commented on #3366
Most functions in mpich return an error code even for functions that its semantics only return MPI_SUCCESS -- for uniformity reason or for future proof. I suspect MPIR_Setup_intercomm_localcomm is such case.

However, I think we should make that explicit by using `assert(mpi_errno == MPI_SUCCESS)`.

@ilagunap We definitely appreciate such effort. Do you think `assert` would help the analyzer?

[2018-12-13 19:35] ilagunap commented on #3366
@hzhou Do you mean that you first saves the return value in `mpi_errno` and then do `assert(mpi_errno == MPI_SUCCESS)`?

For example:

``
if (!comm_ptr->local_comm)
  mpi_errno = MPIR_Setup_intercomm_localcomm( comm_ptr );
  assert(mpi_errno == MPI_SUCCESS);
``

[2018-12-13 19:39] hzhou commented on #3366
Yes.

[2018-12-13 21:58] ilagunap commented on #3366
I will meet the team tomorrow to discuss this and to determine if this would help the analysis.

For now, confirming that this is a real bug is useful. That way we can optimize the tool to find other instances of this case in the entire library.

[2018-12-13 22:38] raffenet opened #3468 "coll: temporary buffers in collectives"
There are many instances of collectives using temporary buffers in which potentially non-contiguous user-supplied datatypes are used. This requires allocating more memory than there is useful data, complex offset manipulation using extents, and redundant datatype processing during communication. Ideally temporary buffers would only work with contig data to minimize these drawbacks. See #3466 for a

[2018-12-14 00:51] hzhou commented on #3315
The long delay is in `mpiexec.hydra`, or precisely, in the call to `MPL_host_is_local(node->hostname)`.

[2018-12-14 16:17] minsii opened #3469 "bug/jenkins: pt2pt/rqfreeb leaks requests with ch4/ucx"
In test `pt2pt/rqfreeb`, the last irecv request `r[4]` is intentionally freed by `MPI_Request_free` (line 111). In CH4/UCX, however, the request is completed at `MPIDI_UCX_recv_cmpl_cb` which might or might not be called before `MPI_Finalize`. Thus, `r[4]` might not be released and result in memory leak warning.
https://github.com/pmodels/mpich/blob/baf32f4b8a84ccc6bd18ddd7e00a2422f4e59ed9/test/mp

[2018-12-14 18:53] crubiog commented on #3366
@hzhou, I am working with Ignacio on this.

Do you mean that `MPIR_Setup_intercomm_localcomm` always returns `MPI_SUCCESS` and thus it is OK to drop the return value?

[2018-12-14 19:03] hzhou commented on #3366
@crubiog I just checked the code for `MPIR_Setup_intercomm_localcomm` and it does not always return `MPI_SUCCESS` and your static analysis does indicate a potential bug.

I do suspect there could be situations that a function known to always or should return `MPI_SUCCESS`, in which case I think an `assert` could make it explicit.

[2018-12-14 19:19] crubiog commented on #3366
@hzhou Thank you for the quick response.

If it is the case that a function always returns `MPI_SUCCESS`, then the analysis will not report a dropped error even when dropped. Adding assert statements could potentially be useful in the future for particularly complex functions.

We have additional bug reports for other functions. How would you like us to proceed? Should we create separate issues?

[2018-12-14 19:23] hzhou commented on #3366
If it is all related error handling, it is better to aggregate here. Could you paste/attach the list here?

[2018-12-15 01:02] antaraB commented on #3366
@hzhou, I am working with @ilagunap and @crubiog on this.

We found an issue in the macros `ADIOI_WRITE_LOCK`, `ADIOI_READ_LOCK` and `ADIOI_UNLOCK` defined in  [src/mpi/romio/adio/include/adioi.h](https://github.com/pmodels/mpich/blob/master/src/mpi/romio/adio/include/adioi.h).
All of these macros include a call to the function `ADIOI_Set_lock()` but none of them saves the value (error-code) that

[2018-12-17 22:16] hzhou opened #3474 "MPL need unit tests"
MPL is essentially a set of wrapping/convenience functions that can be easily tested on a function by function level or macro by macro level. Having a set of unit test frame work can add coverage as well as provide examples that how the MPL functions/macros should be used. Unit tests should also provide much shorter/faster feedback than the integral tests.

[2018-12-20 11:44] KavithaTipturMadhu opened #3477 "rma: MR key bit assignment"
1. MPI RMA issue with ofi : I have reported this issue earlier here. max_contexts_allowed is evaluated to 0 because max_rms_key_bits evaluates to 7 and MPIDI_Global.context_shift is 8, because of which the assert in line 531 of src/mpid/ch4/netmod/ofi/ofi_win.h fails. I removed the assert to make it work, I don’t have the exact hash with which this hack was working before, but this hack fails with

[2018-12-20 11:46] pavanbalaji commented on #3477
Is there a test program in the mpich test suite that fails with master?

[2018-12-20 11:50] KavithaTipturMadhu commented on #3477
I'll check if we have a test example. Otherwise, I can create a simple case and see if that fails.

[2019-01-11 17:01] hzhou commented on #3474
I added/started the unit tests in the `sockaddr` PR: https://github.com/pmodels/mpich/pull/3363.

[2019-01-11 17:01] #3474 closed

[2019-01-11 17:04] hzhou commented on #3427
This issue is being tracked in the PR 3430.

[2019-01-11 17:04] #3427 closed

[2019-01-11 21:23] raffenet opened #3497 "lightweight request type does not match all usage"
The lightweight request returned by completed collective, pt2pt, and RMA operations is statically set to `MPIR_REQUEST_KIND__SEND`. We should either create requests for each type we intend to use, or a "special" type that is known to cover all potential use-cases.

[2019-01-12 03:04] hzhou commented on #3497
I don't remember if we had this discussion, but why can't we use a predefined integer e.g. `MPI_REQUEST_COMPLETE` and be checked just the way we treated `MPI_REQUEST_NULL`?

[2019-01-14 13:13] raffenet commented on #3497
No technical reason. The tradeoff is we need to add special cases to the request processing functions for that predefined value.

[2019-01-14 16:50] hzhou commented on #3497
We treat the special case of `MPI_REQUEST_NULL` anyway, so I think we can treat them together with no additional cost (they are all buit-ins). The light weight request seems to be popping up issues so I wonder if we should re-evaluate its cost (in complexity). It needs init/destroy, and it needs kind, and it is being dealt at deeper level than necessary. Well, I am not really understanding how the

[2019-01-15 22:06] #123 closed

[2019-01-15 22:07] #149 closed

[2019-01-15 22:09] #290 closed

[2019-01-15 22:10] pavanbalaji commented on #458
This used to be an issue in the old `ch3:sock` code, and is no longer an issue now.

[2019-01-15 22:10] #458 closed

[2019-01-15 22:11] #548 closed

[2019-01-15 22:12] #622 closed

[2019-01-15 22:12] #916 closed

[2019-01-15 22:13] #926 closed

[2019-01-15 22:13] #929 closed

[2019-01-15 22:14] #940 closed

[2019-01-15 22:14] #994 closed

[2019-01-15 22:14] #1004 closed

[2019-01-15 22:15] pavanbalaji commented on #1026
`ch3` specific issue.

[2019-01-15 22:15] #1026 closed

[2019-01-15 22:15] pavanbalaji commented on #1034
We should probably ignore this and pick this back up in the context of the new PMI-standardization effort.

[2019-01-15 22:15] #1034 closed

[2019-01-15 22:16] pavanbalaji commented on #1084
No longer relevant to current mpich code.

[2019-01-15 22:16] #1084 closed

[2019-01-15 22:17] pavanbalaji commented on #1099
No longer relevant to current mpich code.

[2019-01-15 22:17] #1099 closed

[2019-01-15 22:19] #1150 closed

[2019-01-15 22:20] pavanbalaji commented on #1159
I believe this was already fixed by @minsii.  And this is `ch3` specific.

[2019-01-15 22:20] #1159 closed

[2019-01-15 22:20] pavanbalaji commented on #1419
`ch3` specific.

[2019-01-15 22:20] #1419 closed

[2019-01-15 22:20] pavanbalaji commented on #1420
`ch3` specific.

[2019-01-15 22:20] #1420 closed

[2019-01-15 22:21] pavanbalaji commented on #1422
`ch3` specific.

[2019-01-15 22:21] #1422 closed

[2019-01-15 22:22] pavanbalaji commented on #1561
I believe this has been fixed.

[2019-01-15 22:22] #1561 closed

[2019-01-15 22:31] pavanbalaji commented on #3090
`ch3` specific issue.

[2019-01-15 22:31] #3090 closed

[2019-01-15 22:33] pavanbalaji commented on #2860
`ch3` specific issue.

[2019-01-15 22:33] #2860 closed

[2019-01-15 22:41] pavanbalaji commented on #3296
`ch3` specific issue.

[2019-01-15 22:41] #3296 closed

[2019-01-15 22:58] pavanbalaji commented on #2343
I believe this is no longer relevant.

[2019-01-15 22:58] #2343 closed

[2019-01-16 00:00] balay commented on #3449
[code]

I haven't tried a build in a while - but I didn't have a bad 'ar' in PATH

[2019-01-17 00:18] pavanbalaji opened #3503 "build/jenkins: PGI c++ compilers not functioning correctly"
The PGI C++ compilers seem to fail to build programs.  Jenkins tests fail with the following configure error:

[code]

Jenkins link: https://jenkins.mpich.org/job/mpich-master-ch3-ubuntu/

[2019-01-17 00:21] pavanbalaji opened #3504 "build/jenkins: absoft non-default builds fail"
Non-default builds with `ch3` and absoft seem to fail with the following error:

[code]

Jenkins link: https://jenkins.mpich.org/job/mpich-master-ch3-ubuntu/

[2019-01-17 00:22] pavanbalaji opened #3505 "build/jenkins: OS/X Intel compiler builds fail"
OS/X Intel compiler builds fail with the following error:

[code]

Jenkins link: https://jenkins.mpich.org/job/mpich-master-ch3-osx/

[2019-01-17 00:54] pavanbalaji opened #3506 "bug/jenkins: cxx/spawn/namepubx fails on ch3/osx"
The following error message is shown:

[code]

[2019-01-17 14:13] hzhou commented on #3366
@ilagunap @crubiog The way to fix this issue is to having a script scan and check all instances and apply fixes in one batch. It will be an impossible task to manually investigate one by one and I imagine there are many such cases. Could your tool produce detailed logs and share with us? It will be helpful if you run your tool against our current master and put down the git hash signature with the

[2019-01-17 14:48] pavanbalaji opened #3507 "bug/jenkins: several RMA tests fail on ch3/osx with no-error-checking"
The following types of errors are thrown:

[code]

Jenkins link: https://jenkins.mpich.org/job/mpich-master-ch3-osx/

[2019-01-17 14:52] pavanbalaji opened #3508 "bug/jenkins: pt2pt/rqfreeb leaks requests with ch4/ucx"
There seem to be some leaked request handle failures on ch4/ucx.  The following is an example:

[code]

Jenkins link: https://jenkins.mpich.org/view/nightly-master-ch4/job/mpich-master-ch4-ucx/

[2019-01-17 14:54] pavanbalaji opened #3509 "bug/jenkins: several RMA tests fail with ch4/ofi"
Several RMA tests fail with ch4/ofi with the following errors:

[code]

Jenkins link: https://jenkins.mpich.org/view/nightly-master-ch4/job/mpich-master-ch4-ofi/

[2019-01-17 14:56] pavanbalaji commented on #3509
Some more context for this can be found in #3477.

[2019-01-17 14:57] #3477 closed

[2019-01-17 14:59] pavanbalaji commented on #3508
Duplicate of #3469

[2019-01-17 15:00] pavanbalaji commented on #3505
Duplicate of #3437

[2019-01-17 15:00] #3505 closed

[2019-01-17 15:02] pavanbalaji commented on #3380
@minsii Does this show up on Jenkins?  If yes, can you add a link to a failure?

[2019-01-17 15:36] pavanbalaji commented on #2323
@jeffhammond This issue doesn't seem to have any detail.  Can you explain what the problem is and what the fix is?

[2019-01-17 15:36] #2323 closed

[2019-01-17 15:37] pavanbalaji commented on #2322
This seems to be a duplicate of our jenkins related issues.

[2019-01-17 15:37] #2322 closed

[2019-01-17 15:39] pavanbalaji commented on #2289
FT in `ch3` is no longer supported.

[2019-01-17 15:39] #2289 closed

[2019-01-17 15:40] pavanbalaji commented on #2293
The portals reference implementation doesn't seem to be maintained anymore.  Not much we can do without that.

[2019-01-17 15:40] #2293 closed

[2019-01-17 15:41] pavanbalaji commented on #2270
Cancel send is deprecated in the latest MPI-4 draft standard.

[2019-01-17 15:41] #2270 closed

[2019-01-17 15:41] pavanbalaji commented on #2266
Cancel send is deprecated in the latest MPI-4 draft standard.

[2019-01-17 15:41] #2266 closed

[2019-01-17 15:46] pavanbalaji commented on #2198
FT in `ch3` is not supported anymore.

[2019-01-17 15:46] #2198 closed

[2019-01-17 15:47] raffenet commented on #3503
This happened when I updated the Jenkins configuration to use `pgc++` instead of `pgcpp` for C++. `pgcpp` is no longer provided by PGI. Our Jenkins uses a very old installation from 2013. My hope is the version installed on the new Jenkins will just work (once we get the license issue fixed). If that is the case, I propose dropping the existing PGI Jenkins configurations.

[2019-01-17 15:49] pavanbalaji commented on #3503
Why are you proposing to drop the PGI configurations if they are expected to work on the new servers?

[2019-01-17 15:50] raffenet commented on #3503
Drop them only on the existing Jenkins server. New one will retain them.

[2019-01-17 15:50] pavanbalaji commented on #2187
`FT` is no longer supported on `ch3`.

[2019-01-17 15:50] #2187 closed

[2019-01-17 15:52] pavanbalaji commented on #3503
I thought the jenkins frontend is going to stay the same.  Only the backend servers are changing.  If the backend servers are being upgraded relatively soon, it seems like a hassle to disable it now and remember to enable them again.

[2019-01-17 15:52] pavanbalaji commented on #2178
`pamid` is no longer supported.

[2019-01-17 15:52] #2178 closed

[2019-01-17 15:53] pavanbalaji commented on #2164
`FT` is no longer supported in `ch3`.

[2019-01-17 15:53] #2164 closed

[2019-01-17 15:53] pavanbalaji commented on #2155
`FT` is no longer supported in `ch3`.

[2019-01-17 15:53] #2155 closed

[2019-01-17 15:55] pavanbalaji commented on #3503
How will the port take place?  Will the configurations simply be copied out?  If yes, someone will need to remember to re-enable them.

[2019-01-17 15:56] raffenet commented on #3503
Yes, configurations are being copied and tested as we go.

[2019-01-17 16:01] raffenet commented on #3503
To me, it doesn't matter if we drop the configs or just ignore them (as long as the new version works as expected).

[2019-01-17 16:02] pavanbalaji commented on #3503
I guess it depends on what length of time we are thinking of.  If it's a week or two, it's better to ignore it (but let it fail).

[2019-01-17 16:09] pavanbalaji commented on #1675
Visual studio builds are no longer supported.

[2019-01-17 16:09] #1675 closed

[2019-01-17 16:15] minsii commented on #3380
@pavanbalaji This failure was reproduced in an old Jenkins build (Oct, 2018). But it looks like Jenkins deletes those old build records, so we do not have a link now.

The failure can be reproduced by `atomic_get_short_int ` test which is xfailed on Jenkins now.

[2019-01-17 16:37] pavanbalaji commented on #3178
@minsii Does this show up on jenkins?

[2019-01-17 16:42] hzhou commented on #3178
This issue should be closed. I have added compile check to configure and refactored all compile time assert macros. The original issue is when we do preprocessor check in `mpir_assert.h`. That has been refactored away now.