[2019-09-30 13:57] christgau opened #4054 "Configure MPICH with logging (and timing) fails"
Hi,

with MPICH 3.3.1, the built-in logging appears to be unusable as the configure command fails. I've tried to configure both on CentOS 7.6 and on an up-to-date Arch Linux with `configure --enable-timing --with-logging=rlog` (as MWE) but the command returns with an error:

[code]
Indeed, there is no Makefile.in, neither in the download version nor in the Github tag for 3.3.1.

Any idea how to ge

[2019-09-30 14:57] hzhou commented on #4054
The `rlog` facility has not been maintained for a while due to very few reported usage. In practice, developers often find the simple debug event logging, https://wiki.mpich.org/mpich/index.php/Debug_Event_Logging, sufficient. When timing is needed, developers nowadays often use a profiler for better analysis.

[2019-10-01 07:07] christgau commented on #4054
Thanks. I was aware of the debug event logging, but thought that the timing logging was something more useful for me.

Since the configure is broken (for a while!?) and the documentation in `doc/logging` and the `configure` help differ, wouldn't it be good to remove that feature completely? At least it would avoid confused users/developers like me ;-)

[2019-10-01 13:31] hzhou commented on #4054
I agree :) I guess we have been sitting in the dilemma of whether to spend time to fix rlog or spend time to clean it up. I am in the camp of keep it simple, so clean it up it is :)

[2019-10-02 13:29] raffenet opened #4061 "coll: neighborhood collective bug with cyclic topologies"
https://github.com/mpi-forum/mpi-issues/issues/153 investigates MPI neighborhood collective behavior with cyclic cartesian topologies. Experimentation finds that when # processes in the communicator is <= 2, MPI places data incorrectly. Attaching example for testing purposes.
[ring_neighbor_alltoall_TEST.c.txt](https://github.com/pmodels/mpich/files/3681293/ring_neighbor_alltoall_TEST.c.txt)

[2019-10-02 14:00] spickartz commented on #3558
@pavanbalaji Sorry for the huge delay. I finally opened the appropriate PR (see #4062).

[2019-10-02 14:24] raffenet commented on #4011
Duplicate of #3558.

[2019-10-02 14:24] #4011 closed

[2019-10-02 17:35] #3558 closed

[2019-10-02 20:58] raffenet commented on #3437
Fixed in #4024

[2019-10-02 20:58] #3437 closed

[2019-10-02 20:59] raffenet commented on #3911
@gcongiu @hzhou this can be closed, right?

[2019-10-02 21:03] hzhou commented on #3911
`head -c 1` is still in `test/mpi/maint/gentests_dtp.sh`. @gcongiu would you like to fix it?

[2019-10-02 21:04] raffenet opened #4063 "mpir: Support context_id bits > 16"
Context id values are currently limited to 16 bits. https://github.com/pmodels/mpich/blob/master/src/include/mpir_contextid.h#L11-L13

There have been requests to increase the context id space from multiple downstream libraries. This ticket is to track progress on a more flexible context id representation.

[2019-10-03 00:28] gcongiu commented on #3911
@hzhou sure I will fix it by the end of this week

[2019-10-03 13:28] wesbland commented on #4063
The CH4/OFI netmod at least should be able to handle this without too much trouble by changing a couple of fields around here:

https://github.com/pmodels/mpich/blob/3b84e79871f4b7a1b4d39b004b14be5318d9cb08/src/mpid/ch4/netmod/ofi/ofi_capability_sets.h#L119

and here:

https://github.com/pmodels/mpich/blob/3b84e79871f4b7a1b4d39b004b14be5318d9cb08/src/mpid/ch4/netmod/ofi/ofi_capability_sets.h#L145

[2019-10-03 13:30] hzhou commented on #4063
That is 65536 communicators, right?

[2019-10-03 13:35] wesbland commented on #4063
Not really. In practice it's at least 65536/3 because we reserve some additional context IDs for each communicator. There's also the problem of actually finding a context ID that everyone in the group can agree on (which I believe was the subject of a paper by @jdinan a while back IIRC). So it actually end up being a lot less than 64K.

[2019-10-03 13:44] raffenet commented on #4063
http://www.mcs.anl.gov/~balaji/pubs/2012/eurompi/eurompi12.ctxid.pdf

[2019-10-03 15:20] raffenet opened #4066 "ch4/ofi: Compile time assert fails for 32-bit builds"
https://github.com/pmodels/mpich/blob/9b6343287be3b93a40b68b33e01eccb7a99ed289/src/mpid/ch4/netmod/ofi/ofi_iovec_util.h#L387-L388

`fi_rma_iov` uses `uint64_t` for addr field as opposed to `void *` in `struct iovec`, which causes a mismatch when `sizeof(void *) < 8`.

https://github.com/ofiwg/libfabric/blob/master/include/rdma/fi_rma.h#L43-L47

[2019-10-03 16:25] wesbland commented on #4066
Looks like that was original CH4 code from Charles. He added a bunch of these that were probably too strict.

[2019-10-03 17:48] raffenet commented on #4066
I've afraid the macros involved are probably unsafe for 32-bit, since they appear to cast from one iovec representation to the other. https://github.com/pmodels/mpich/blob/9b6343287be3b93a40b68b33e01eccb7a99ed289/src/mpid/ch4/netmod/ofi/ofi_iovec_util.h#L83-L89

I'm testing my theory manually and will report results here.

[2019-10-03 18:26] raffenet commented on #4066
Turns out we don't even get that far. All RMA tests segfault during window creation in my testing.

[2019-10-03 18:29] raffenet commented on #4066
pt2pt works perfectly, though!

[2019-10-03 21:02] raffenet commented on #3911
Fixed in #4064

[2019-10-03 21:02] #3911 closed

[2019-10-10 15:48] hzhou opened #4079 "ch4/ofi: duplicated listing of builtin datatypes"
In `src/mpid/ch4/netmod/ofi/util.c: MPIDI_OFI_index_datatypes()`, we have verbose code going through all the built-in types:
[code]
Not only the verbosity is undesirable, how would we ensure the consistency between here and `mpi.h` when certain types may be unavailable or new types may be added?

In PR #4007, we attempted to re-use the static array `mpi_dtypes`, but was aborted due to complication

[2019-10-10 15:50] hzhou commented on #4079
@raffenet Could elaborate a bit on what was the complications you encountered in PR #4007?

[2019-10-10 16:16] raffenet commented on #4079
The array in https://github.com/pmodels/mpich/blob/master/src/mpid/ch4/netmod/ofi/util.c#L400-L430 groups both all predefined datatypes into a single array, as opposed to builtin dtypes and pairtypes as done in the datatype code. The `_TBL` macro (https://github.com/pmodels/mpich/blob/master/src/mpid/ch4/netmod/ofi/util.c#L439) used to build the `win_op_table` assumes this, so splitting this into

[2019-10-15 16:10] #3946 closed

[2019-10-15 19:01] hzhou opened #4090 "build/jenkins: test failure with `spawn/disconnect3 3` on ch4-ofi"
I am seeing the occasional test failure on `ch4-ofi` with test `spawn/disconnect3 3` and I only can reproduce sometime. For example in the PR test (#4017):
![image](https://user-images.githubusercontent.com/1496702/66860781-6f4aae00-ef53-11e9-8db8-9ba896e6a188.png)
The full test job succeeds but the custom test failed.

The test starts with 3 processes and spawns another 3 processes and form an in

[2019-10-15 19:02] hzhou commented on #4090
This issue is to document the failure to unblock the PR.

[2019-10-17 15:12] hzhou opened #4096 "thread: moving toward granular critical section and multiple VCI"
To meet the demand of MPI + X, we need move from the current global critical section model into more granular ones and allow multiple VCI to proceed simultaneously. This issue is to track the design and progress.

I would like to point out that both large critical section and granular critical section have their merits. With large critical section, the merit is its simplicity. To be able to consta

[2019-10-17 15:13] hzhou commented on #4096
Tagging @pavanbalaji @rzambre @sagarth @raffenet @hajimefu for discussions.

[2019-10-17 17:21] #2889 closed

[2019-10-18 13:29] hzhou commented on #2275
To summarize, the error is caused by line 167 (in my current version) in `src/binding/fortran/use_mpi_f08/buildiface`:
[code]
And it is a Perl error that is fixed in newer Perl versions (and most likely no longer an issue 4 years later).  I am closing this issue unless there is more reports of the problem.

[2019-10-18 13:30] #2275 closed

[2019-10-18 18:44] #3315 closed

[2019-10-19 14:11] hzhou commented on #4005
Currently we generate the fortran bindings at `autogen` time, before `configure`. In order to use `configure`, we generate `.in` files with `autoconf` macros in them and run them through `configure`. This is convoluted and limited. The proper way is have `configure` test features, then run `buildiface` as `ac_config_commands` so it can generate interfaces that reflect feature options directly.

[2019-10-19 14:13] hzhou commented on #4005
Tagging PR #3819

[2019-10-21 15:06] raffenet commented on #4005
Yes! This way `--disable-fortran` would actually save `buildiface` from running.

[2019-10-22 21:44] shintaro-iwasaki commented on #4026
Boost::interprocess might be useful to implement an efficient interprocess locking mechanism.
https://www.boost.org/doc/libs/1_63_0/doc/html/interprocess.html

[2019-10-23 16:10] hzhou opened #4111 "general: remove MPIR_FUNC_ENTER/EXIT"
We have these `MPIR_FUNC_VERBOSE_STATE_DECL`, `MPIR_FUNC_VERBOSE_ENTER`, `MPIR_FUNC_VERBOSE_EXIT` boilerplate code in nearly every functions -- nearly, but not all of them, which raises the question when to add them or delete them. Ultimately, this depends on its purpose and utility, and I would like to argue that their utility is diminishing and hardly account for the cluttering it brings.

Previ

[2019-10-23 18:24] wesbland commented on #4111
Knowing nothing about how it would be implemented (or how well it would work), I really like option 4. It's the only one that doesn't cause a big mess with the working directory when needed and (I think) can be applied all the time. One of the nice things about the current logging system is that it's always there (assuming you have the right config flags on) so you can just turn it on and off when

[2019-10-23 18:27] hzhou commented on #4111
Good. I'll workout a draft PR to test that out.

[2019-10-23 18:31] gcongiu commented on #4111
Option 4 sounds good to me too. I wish this was out before I added these MACROs everywhere in my PRs :(

[2019-10-23 18:45] raffenet commented on #4111
+1 for option 4.

[2019-10-23 23:37] rzambre opened #4113 "ch4/ucx: Message-rate slows down considerably in some runs with multiple threads"
Build: MPICH `master` configured with `--with-device=ch4:ucx --with-ucx=/home/rzambre/ucx/1.5.0-release-mt-install --prefix=/home/rzambre/mpich/ucx-1.5.0-global-nm-only-install --disable-fortran --enable-thread-cs=global --disable-spawn --enable-ch4-direct=netmod --enable-fast=O3 --disable-cxx`

With the global critical section, the multithreaded (MPI_Isend) message-rate benchmark executes extreme

[2019-10-25 15:42] #1659 closed

[2019-10-28 20:29] raffenet commented on #3358
Should now be fixed with #4122

[2019-10-28 20:29] #3358 closed

[2019-10-30 13:18] Dekken opened #4128 "Update source for debug flags"
https://github.com/pmodels/mpich/blob/master/src/mpi/debugger/dbginit.c#L179

Is this still correct?

[2019-10-30 14:19] raffenet commented on #4128
Oops. The option should read `--enable-debuginfo`. I'll submit a PR to fix.

[2019-10-30 14:49] raffenet commented on #4128
It's also kind of evil that we wrap `MPII_Wait_for_debugger` in a function called `MPII_wait_for_debugger` (lowercase w)`. That function is just a single line + preprocessor guards. Taking HAVE_DEBUGGER_SUPPORT as an argument might be more clear to reader...

[2019-10-30 14:50] raffenet commented on #4128
https://github.com/pmodels/mpich/blob/d6091ffb3fd6a63d190c8e0fff5450c13ef1ea08/src/mpi/init/mpi_init.h#L114-L122

[2019-10-30 15:52] harisubramoni opened #4130 "Why does the C libmpi.so have a gfortran/fortran dependence?"
Hi, All.

I built MPICH 3.3 in two modes 1) Default 2) After adding --disable-fortran at configure time.

Default
----------
Build flags: CC=gcc CXX=g++ FC=gfortran F77=gfortran CFLAGS=-pipe

[subramon@head git]$ ldd install-dir/lib/libmpi.so | grep fort
        libgfortran.so.5 => /opt/gcc/8.3.0/lib64/libgfortran.so.5 (0x00002b46fdd4a000)

Without Fortran
--------------------
Build flags CC=gcc C

[2019-10-31 22:36] #4128 closed

[2019-11-01 17:33] hzhou opened #4135 "style: use of C11 anonymous struct/union"
In the effort of squashing warnings for Oracle Developer Studio (#4132), I discovered that we are already using anonymous union, in `src/mpid/ch4/include/mpidpre.h` - the definition of `MPIDIG_req_ext_t`. It is a C11 feature, so `suncc` barks, and it barks a lot.

Since we are only adopting C99, it seems the right fix is to add a useless name to the union (and insert the name everywhere that struc

[2019-11-02 14:49] hzhou commented on #4130
When FORTRAN binding is enabled, `libmpi.so` is linked with FORTRAN compiler, e.g. `gfortran`. to ensure FORTRAN dependency is being linked in. I am not sure this is necessary today -- maybe I should investigate -- but at time we must have found this to be necessary to make the fortran binding work.

@harisubramoni Why this is causing an issue for you?

[2019-11-03 20:10] harisubramoni commented on #4130
Hi, Hui.

Thanks for taking a look at this. This was a question raised by one of our users.

The only question is why is linking fortran dependencies into libmpi.so required when there is a separate libmpifort.so available when fortran is not disabled? Can't users requiring fortran use this instead of libmpi.so? Could you please let me know if there some other issue that I am missing here?

Thx,
H

[2019-11-03 20:24] hzhou commented on #4130
The decision is made in `Makefile.am` (https://github.com/pmodels/mpich/blob/d5504b874ddfb9e95c059be6eb62b39a1b930d81/Makefile.am#L69). We certainly can discard the `if BUILD_F77_BINDING` case and always use `$(CCLD)` for `lib_lib@MPILIBNAME@_la_LINK`. Then `libmpi.so` will not require FORTRAN linkage. As far as I know, there is only one fortran code -- `src/bindings/fortran/mpif_h/setbotf.f` is i

[2019-11-03 23:31] harisubramoni commented on #4130
Hi, Hui.

Thanks for the detailed feedback. If it would be possible and okay, can this be done?

Best,
Hari.

[2019-11-04 16:35] yfguo commented on #4135
I think the large questions here is if we are ready to adopt some C11
features in development. It depends on how widely is it supported in
old compilers. I recall our guideline is the compilers ten years ago
should have the support for the feature, if we are adopting. For C11,
this might be premature.

[2019-11-04 16:56] hzhou commented on #4135
I am not saying or suggesting adopting `C11`. I am only looking at this particular feature. An anecdote for the "10-year" guideline, `gcc-4` supports it even with `-std=c89` without warning.

[2019-11-04 18:49] minsii opened #4142 "object: refactor object API to distinguish user objects and internal objects"
The object API provides convenient object pool allocation. It is used for both user objects such as `comm` and `request`, and also for several internal objects such as `workq_elem` and `xpmem_seg`. Each object is associated with a 32-bit `handle` with several embedded attributes  (see structure below).

[code]

This design has several drawbacks:
- For internal objects, the `handle` is unneeded. `s

[2019-11-04 18:49] shintaro-iwasaki commented on #4135
Note that `gcc` (and supposedly other compilers) warns if `-Wc99-c11-compat` (warns if c11 features that do not appear not in c99 are used) is given. https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html

[2019-11-04 20:04] wesbland commented on #4142
Would this have an ABI impact? I guess it depends on how things are implemented.

[2019-11-04 22:50] minsii commented on #4142
@wesbland Let's discuss the refactoring at #4141

[2019-11-05 02:46] hzhou commented on #2156
`rlog` is no longer configured. `FUNC_ENTER/EXIT` are also beinging phased out.

[2019-11-05 02:46] #2156 closed

[2019-11-07 15:54] hzhou opened #4155 "hydra2: stalls on spawn"
Running jenkins tests with hydra2 and it stalls on `spawn/spawn1` (probably all of the spawn tests).

[code]

[2019-11-07 18:49] hzhou opened #4156 "build/jenkins: hydra2 test failures"
Following tests are failing when hydra2 is used:

[code]
[code]
[code]

[code]

[2019-11-11 20:05] KaimingOuyang opened #4163 "deadlock occurs in testing test/mpi/threads/pt2pt/multisend4"
**Issue description:**
When using ch4 device, deadlock will happen in the test `test/mpi/threads/pt2pt/multisend4`. The test code is located at `test/mpi/threads/pt2pt/multisend4.c`.

The easiest way to trigger this bug is as follows:

---

**Configuration:**
`./configure CC=gcc CXX=g++ --prefix=$HOME/ANL/installed/stdmpich-ch4 --with-device=ch4:ofi --disable-fortran --disable-ft-tests --with-libf

[2019-11-12 01:34] minsii commented on #4163
Can you please try to narrow down the bug reasons? E.g., does it happen without configure `--enable-strict`? Can it happen with smaller number of processes or number of threads? What is the simplest pattern to reproduce this deadlock?

[2019-11-12 01:37] minsii commented on #3512
Issue completed. Merged by PR #3452

[2019-11-12 01:37] #3512 closed

[2019-11-13 22:39] hzhou opened #4170 "bug: F08 makes array 0-based instead of the original 1-based"
It is reported by a user on `discuss@mpich.org`:

Hi there, My name is Pedro Ricardo and I'm currently a researcher at a Fluid Dynamics Laboratory in Brazil.
We have a CFD software with 12 continuous years of development mostly in Fortran, and we've been using Mpich and Openmpi since the very beginning.

Recently we started to refactor the code and write it using Fortran2008 standard and this incl

[2019-11-14 06:48] jxy opened #4171 "/bin/sh version of the mpicc mistreats quotes and attempts array expansion"
[code]

there's also the erroneous array expansion, `"${allargs[@]}"`, at https://github.com/pmodels/mpich/blob/c99bb8d563ee374beb652bf0af812931bbe0773d/src/env/mpicc.sh.in#L264-L266

[2019-11-15 16:21] hzhou opened #4173 "config: better handling of extension specific code"
As we focus on performance, some solutions will depend on specific extensions. The current code does that on a case by case bases. This has become messy. On one hand, we are always concerned about what we can use, preventing us to implement solutions that is typical on modern linux platforms. On the other hand, the feature management code is scattered, and it is difficult to understand where certa

[2019-11-15 22:48] gcongiu opened #4175 "Accelerator Pipelining Interface - Internode"
# Problem Statement
This issue describes the proposed data structures and interfaces for efficiently managing MPI communications when data is residing in GPU memory and the network hardware does not support GPU Direct RDMA. In such case the MPI implementation has to stage data through the host memory before it can hand it over to the network. To alleviate the cost inherent in the PCIe bus transfer

[2019-11-16 16:54] hzhou opened #4176 "hydra: need decide the direction of hydra and hydra2"
Currently we have both hydra and hydra2 active. Hydra is more mature and has been tested more thoroughly. Hydra2 addresses some of the shortcomings of hydra and a few partners had already adopted hydra2 and been actively developing it. Both hydra and hydra2 share large chunks of code that are duplicated in both subtrees. Bug fixes and feature changes often need be patched for both or discrepancy c

[2019-11-16 16:59] antoscha opened #4177 "Build for CH4:SHM is failed"
[code]
when being configured with
[code]

[2019-11-16 17:06] hzhou commented on #4177
POSIX shm is the default. The option to for shm is
[code]

[2019-11-16 22:52] antoscha commented on #4177
It works using
[code]
Thank you!

[2019-11-16 22:52] #4177 closed

[2019-11-20 16:21] wesbland commented on #4173
Don't we already use the argument for `--enable-foo=bar` for other things? For example:

* `--enable-izem=atomic,queue`
* `--enable-g=all`
* `--enable-threads=multiple`

When we're talking about libraries, we do:

* `--with-ofi=/path/to/foo`

So are you suggesting we duplicate the above example with:

* `--enable-ofi=1.5`

[2019-11-20 16:40] wesbland commented on #4176
cc: @ddurnov

[2019-11-20 16:44] hzhou commented on #4173
`--enable--xxx` is about turning on/off features. So if we are adding code that specific to ofi 1.5 and would like to turn it on/off even when ofi 1.5 or later is used, then `--enable-ofi=1.5` may be appropriate.  But even when we add that option, it does not replace `--with-ofi=/path/to/foo`, which is merely for the availability of the library.

[2019-11-20 16:51] wesbland commented on #4173
What about the other places where we already have `--enable` options. I'm just afraid that this won't actually improve clarity.

[2019-11-20 16:58] hzhou commented on #4173
Actually, I don't think it is a bad idea have both `--with-xxx` and `--enable-xxx` options for all *optional* libraries. It is a common practice that projects double use `--with-xxx` for enable/disable the libraries. This often bring issues as it is not clear to the user whether a dependency is desirable or optional. If we have both options, then user will easily tell whether a library is optional

[2019-11-20 16:59] wesbland commented on #4173
Ok. If you’re comfortable with it, that’s fine with me.

[2019-11-20 16:59] hzhou commented on #4173
I would like to note that the discussion of library config option is irrelevant to this issue.

[2019-11-20 20:53] raffenet commented on #4171
@jxy after the changes in #4184:
[code]
I believe this is the expected output. Can you confirm?

[2019-11-20 22:11] jxy commented on #4171
I'm not set up for testing, but here is a quick unit test for you.
[code]

[2019-11-21 16:49] hzhou commented on #4170
Follow up:
Slightly modified the test program to also print "1st" element:
[code]
Test with:
[code]
* Tried with `gcc-9.2`, it confirms the issue:
[code]
* Tried with `icc` (ver. 19.0.3):
[code]

[2019-11-21 16:52] raffenet commented on #4171
Looks good to me.
[code]

[2019-11-21 16:58] hzhou commented on #4170
I probably will look into it further and identify the exact issue, but it appears to be an issue with current `gfortran` implementation.

Cross referencing in issue #3820, there reveals also a discrepancy related to the Fortran iso-c-binding between `gfortran` and `ifort`. In that case, our code works for `gfortran` but fails `ifort` (for legacy reason), even though I believe `ifort` is more corre

[2019-11-21 17:20] jxy commented on #4171
Great!  Let's convince ourselves with an elaborate unit test:

[code]

[2019-11-21 18:00] hzhou commented on #4171
The issue is with `mpicc.sh` (the portable shell script, vs. the bash script), and when an argument contains both single quote and double quote, the simplistic approach -- assumes the argument won't have both quotation marks simultaneously -- fails.

The bash version is immune to this as bash have extensions that properly handle arrays and can properly quote individual argument.

The ultimate fix

[2019-11-21 18:23] aingerson opened #4185 "ofi: provider ofi_rxd not working"
I'm trying to run the ofi_rxd provider and am getting some sequence errors when running the mpi_stress test.

I have investigated and found the issue being that MPICH is calling RMA reads for larger messages which will be out of order, causing the sequence errors.

RXD settings are not defined in src/mpid/ch4/netmod/ofi/globals.c causing it to go through the default settings. While the default set

[2019-11-21 21:44] raffenet commented on #2758
A new proposal is to add device hooks for collective initialization per-comm. See #4172 for eventual solution. Closing this issue due to lack of activity.

[2019-11-21 21:44] #2758 closed

[2019-11-21 21:55] aingerson opened #4187 "ofi: provider verbs;ofi_rxm with mlx hangs on osu_acc_lantency"
I'm getting the following hang on the osu_acc_latency only when running verbs;ofi_rxm over mlx not over hfi. Is this known/is there something extra I need to set?

mpirun -n 2 -ppn 1 osu_acc_latency
OSU MPI_Accumulate latency Test v5.5
Window creation: MPI_Win_allocate
Synchronization: MPI_Win_flush
Size          Latency (us)
1                       2.95
2                       2.93
4

[2019-11-21 21:58] aingerson opened #4188 "ofi: provider tcp;ofi_rxm is not being picked up"
When trying to run MPI with tcp;ofi_rxm, I usually set FI_PROVIDER=tcp which automatically picks up tcp;ofi_rxm. Intel MPI and Open MPI work with this method, but MPICH fails with ENODATA. If I specifically set FI_PROVIDER="tcp;ofi_rxm" it is fine. Is this expected? Does MPICH check provider names again and fail?

[2019-11-21 22:56] hzhou commented on #4188
I believe `FI_PROVIDER` is a flag checked directly by `libfabric`; MPICH does not check this flag. It depends on how libfabric is installed. Currently the default in MPICH is use embedded libfabric, which will have the provider statically compiled in -- hence, `ENODATA` if you ask to load provider modules dynamically. To set provider during configure time, you may try: `--with-device=ch4:ofi:tcp,o

[2019-11-21 23:25] aingerson commented on #4188
Thanks for the help, @hzhou
Sorry I think I misspoke and messed up my different tests. I've been experimenting with the environment variables and this is what I'm finding:
- Setting MPIR_CVAR_OFI_USE_PROVIDER=tcp does not pick up tcp;ofi_rxm
- Setting FI_PROVIDER=tcp does pick up tcp;ofi_rxm

Is this the expected behavior?

[2019-11-21 23:34] hzhou commented on #4188
`MPIR_CVAR_OFI_USE_PROVIDER` is used by MPICH to specify desired provider within the loaded providers. `FI_PROVIDER` asks `libfabric` to load specific provider modules. Seems you are using a libfabric installation that uses dynamic provider modules; so if you do not specify `FI_PROVIDER`, none of the modules will be loaded.

I believe your described behavior is expected behavior.

[2019-11-22 00:11] aingerson commented on #4188
tcp;ofi_rxm is the ofi format for layering a core and utility provider. Tcp is the main protocol being used, but the ofi_rxm utility provider is layered on top to support FI_EP_RDM endpoint types like MPI uses. Utility providers should not get filtered out if FI_PROVIDER is used to select a specific provider. In other words, if I set FI_PROVIDER=tcp and ask for hints->ep_attr->type = FI_EP_RDM, it

[2019-11-22 01:36] hzhou commented on #4188
@aingerson Thanks for the explanation. I am not familiar how libfabric works. All `FI_xxx` variables are controlled by libfabric, so I am surprised it would behave differently between MPICH, OpenMPI, or IntelMPI. Are you sure you were testing with the same libfabric installation?

As for MPICH side, I just realized that I am not sure which configuration we are discussing. Could you provide your fu

[2019-11-22 02:03] aingerson commented on #4188
If MPIR_CVAR_OFI_USE_PROVIDER just gets passed into hints, then I would guess tcp;ofi_rxm does get returned. I'm using ch4 so if what you say about trying to match the name exactly is true, then I'm guessing that's probably the issue - tcp gets passed into hints, libfabric returns tcp;ofi_rxm, and then ch4 filters out tcp;ofi_rxm because it does not match MPIR_CVAR_OFI_USE_PROVIDER exactly. Do you

[2019-11-22 02:17] hzhou commented on #4188
Currently, MPICH ofi code is mostly tested on socket and psm2 providers, mostly the former. I suspect the default capability set is constructed based on the capability of socket provider. My local testing with only ethernet always picks the socket provider even `tcp;ofi_rxm` was the first provider `libfabric` returned. Looking at debug log, `tcp;ofi_rxm` was rejected because it "doesn't support ta

[2019-11-22 02:58] Conan-Wolf opened #4189 "cant get /opt/mpi/bin/mpirun -f nodesips -n 2 python test.py to work"
the file i have all the ips of the nodes are in nodesips the hostnames of the pi's are Slave1-3 with the master being called Master

version 3.1.3

i followed this website's tut https://raspberrytips.com/raspberry-pi-cluster/

    Operating system/version: Raspbian/Debian-based
    Computer hardware: raspberrypi 4
    Network type: LAN cat6

[code]

[2019-11-22 13:08] hzhou commented on #4189
@Conan-Wolf Could you paste your `nodesips` file?

[2019-11-22 15:14] raffenet commented on #2332
This was fixed in 4b7d553b4cbcd54ec6f4a6365871db267aac63ea.

[2019-11-22 15:14] #2332 closed

[2019-11-22 17:18] ChristopherHogan opened #4192 "MPI_Init_thread fails when using Argobots"
What is the status of argobots support? The 3.3.1 README says it's supported, but it doesn't seem to work.

### MPICH info
[code]

### Argobots info
Version `v1.0rc1`

### Reproducer
[code]

[2019-11-22 17:25] aingerson commented on #4188
tcp;ofi_rxm definitely supports tagged messages. I'm guessing you're looking at the tcp output alone. Here are my debug logs when I use MPIR_CVAR_OFI_USE_PROVIDER="tcp"

libfabric:97545:core:core:fi_getinfo_():966<debug> fi_getinfo: provider tcp returned success
...
libfabric:97545:core:core:fi_getinfo_():966<debug> fi_getinfo: provider ofi_rxm returned success

So it looks like it does pick up tc

[2019-11-22 17:27] shintaro-iwasaki commented on #4192
Thank you for reporting a bug! Maybe the recent init refactoring broke something. I will take a look at it today (or at latest this weekend).

[2019-11-22 17:47] ChristopherHogan commented on #4192
I realized I forgot to add `--enable-threads=multiple` to the `configure` call. However, that didn't have any effect on the error.

[2019-11-22 17:55] Conan-Wolf commented on #4189
192.168.0.20 Slave1
192.168.0.21 Slave2
192.168.0.22 Slave3

[2019-11-22 18:02] Conan-Wolf opened #4194 "please delete this i messed up"
wops please delete

[2019-11-22 18:03] #4194 closed

[2019-11-22 18:03] Conan-Wolf commented on #4189
i meant to quote not create new issue

[2019-11-22 18:03] Conan-Wolf commented on #4189
cat nodesips

192.168.0.20 Slave1
192.168.0.21 Slave2
192.168.0.22 Slave3

[2019-11-22 18:56] wesbland commented on #4185
@aingerson Can you put in your basic `./configure` command? Specifically, are you using `--with-device=ch4:ofi` with the environment variable `MPIR_CVAR_USE_PROVIDER=ofi_rxm` or are you trying something else?

[2019-11-22 19:12] aingerson commented on #4185
Configure:
./configure --prefix=/home/aingerson/mpich --disable-oshmem --enable-fortran=no --with-device=ch4:ofi --enable-ch4-direct=netmod --with-libfabric=/home/aingerson/workspace/install/libfabric/head

MPIR_CVAR_OFI_USE_PROVIDER="verbs;ofi_rxd"
Run command:
mpirun -n 16 -ppn 8 -hosts n108,n109 ./mpi_stress -dcr

[2019-11-22 19:15] hzhou commented on #4189
Remove the hostnames, just list the IPs in your host file. If you hostname works (ie you can ssh to that hostname), then you may also just list the hostnames without IPs.

[2019-11-22 19:21] wesbland commented on #4188
@aingerson @hzhou

I believe (though I have not tested to confirm) that utility providers probably don't jive well with our capability sets system that we use to make sure that the particular version/provider combination that we get from OFI has all of the needed features. We also use it to ask for the "best" set of features that we know for a particular provider.

One of the potential problems he

[2019-11-22 19:23] wesbland commented on #4185
It's possible that this is related to #4188

[2019-11-22 19:23] wesbland commented on #4187
It's possible that this is related to #4188

[2019-11-22 19:31] aingerson commented on #4188
Hmm yeah, sounds like there needs to be a little work done to improve support for utility providers in MPICH. There is no one maintaining sockets so the sooner you can move to tcp the better. For what it's worth, not setting the MPICH provider variable and instead setting FI_PROVIDER="tcp" lets all of our MPI tests pass. Same with setting it to "verbs;ofi_rxm" - though, as noted in #4187 I'm seein

[2019-11-22 19:34] Conan-Wolf commented on #4189
with just IPs
[code]

[2019-11-22 19:34] Conan-Wolf commented on #4189
with just hostnames
[code]

[2019-11-22 19:40] hzhou commented on #4188
@wesbland I agree that we really need to support the `tcp` provider, since it is more actively developed than `socket` provider.

@aingerson Since we do not do partial name matching, setting `MPIR_CVAR_OFI_USE_PROVIDER` to `tcp` essentially is the same as not setting it. So it is all up to capability matching. The `tcp;ofi_rxm` currently fails at this check:
[code]
For `tcp;ofi_rxm`, `FI_TAGGED` i

[2019-11-22 19:57] hzhou commented on #4188
@wesbland @raffenet I think our current provider matching code is a bit too complex and not contributing to the ease of user in practice. Here is the suggestion:

* Remove `MPIR_CVAR_OFI_USE_PROVIDER`. If `FI_PROVIDER` works in picking specific provider, then another variable in MPICH name space is redundant and potentially confusing.

* Only match the capability with `MINIMAL` set, hopefully this

[2019-11-22 20:40] hzhou commented on #4188
I think it is better to leave these as separate open issues until we know exactly the causes. I'll re-open them.

[2019-11-22 21:06] hzhou commented on #4189
@Conan-Wolf You need add your hostnames -- `Master, Slave1, Slave2, Slave3` -- into DNS, i.e. `/etc/hosts`. Make sure you can do `ssh Slave1` etc. without entering password.

[2019-11-22 21:30] hzhou commented on #4188
@aingerson This what I found:
* `FI_PROVIDER='tcp;ofi_rxm' mpirun -n 1 ./cpi` works fine.
`libfabric` returns 5 lists, all with the same name `tcp;ofi_rxm`. I don't understand what are the differences of these 5. They will fail the round when MPICH tries to match with "default" capability set, but the first one will get picked in the second round when MPICH tries to match with "minimal" capability

[2019-11-22 21:57] Conan-Wolf commented on #4189
ssh: Could not resolve hostname slave1: No address associated with hostname
but yet in /etc/hosts they have the appropriate hostname

all of them consist of this in the hosts file
[code]

[2019-11-22 22:04] hzhou commented on #4189
`127.0.1.1` is your loopback address, and won't work for connecting to other nodes.

Try these in your hosts file:
[code]

In your host file, `nodesips`:
[code]

The dominant MPI programming model is "Same-Program-Multiple-Data", rather than the "Master-Slaves". So you may consider name your nodes something like `node1, node2, node3, ...`, but any names, as long as the DNS look up works, will work

[2019-11-22 22:17] Conan-Wolf commented on #4189
WOW its working now :) thank you

[2019-11-22 22:17] #4189 closed

[2019-11-22 22:19] hzhou commented on #4189
@Conan-Wolf You are welcome! Enjoy your `rpi-cluster` :)

[2019-11-22 22:21] Conan-Wolf commented on #4189
one quick question if i wanted my master to also do the work do i just add the master's hostname to the nodesips?

[2019-11-22 22:22] hzhou commented on #4189
Yes.

[2019-11-22 22:23] Conan-Wolf commented on #4189
kk thank you

[2019-11-22 23:16] aingerson commented on #4188
In regards to your previous question about whether libfabric returns the "best" provider, that's sort of right. The problem is that providers will not set capabilities or features if an app did not request them but they do support them. For example, rxm supports FI_TAGGED and FI_DIRECTED_RECV but if you request the minimal support, rxm will not set FI_TAGGED or FI_DIRECTED_RECV because it does not

[2019-11-22 23:23] hzhou commented on #4188
Ahh I recall this issue come up before and probably is the source of current code. It makes sense for libfabric and its providers coded flexible. But MPICH also want to be flexible. Flexible + Flexible apparently makes a mess :(

[2019-11-22 23:32] aingerson commented on #4188
Yeah I imagine this is the source of the issue... I'm not sure if there's an elegant solution.

In terms of libfabric filtering out capabilities that are not requested and MPICH requesting the minimal set, I think it makes sense to add rxd MPICH settings so that we can let MPICH be flexible for its minimal settings but at the same time optimize for what rxd needs.
At the same time, there seems to

[2019-11-23 21:01] hzhou commented on #4188
@aingerson First an update: there was a bug in MPICH code that results in the wrong provider being selected when none of the providers matches a default capability set. It should go on to try match with minimal capability set, but the bug resulted in picking the last provider. The fix is in PR #4197.

Second, a question: when we call `fi_getinfo` without hint, will the providers set "maximal" capa

[2019-11-24 00:31] hzhou commented on #4188
Refer to https://github.com/pmodels/mpich/pull/4197#issuecomment-557844163. Moving to `tcp:ofi_rxm` from `sockets` means we no longer can test MPICH's TAGGED and RMA path on machines with only ethernet. That would be a bummer.

[2019-11-25 07:35] shintaro-iwasaki commented on #4192
It seems like a bug of mutex initialization order. I created a patch #4198.
Thanks for reporting a bug!

[2019-11-25 13:00] wesbland commented on #4188
I don't have a problem with this on its own, but I think we might use `MPIR_CVAR_OFI_USE_PROVIDER` to do string matching if the user requests a specific provider.

This would cause problems for the original reason we had the capability sets (to be able to remove a bunch of branches at compile time that we don't need if we know what the OFI provider will do).

"I want to believe." I've always seen

[2019-11-25 14:32] hzhou commented on #4188
@wesbland Now that I refactored the provider selection code in PR #4197, I think we can keep the current code logic for now.

[2019-11-25 15:16] wesbland commented on #4188
I’m probably not going to be able to review this until I’m back from vacation next week.

[2019-11-25 17:22] aingerson commented on #4188
Thanks @hzhou for the fix. I'll pull in the changes and update you on what I'm seeing.

I don't know if I understand why you wouldn't be able to test TAGGED and RMA. tcp;ofi_rxm supports both.

Without hints at all, the provider should return all functionality, ie a "maximal" set of capabilities.

[2019-11-25 20:11] aingerson commented on #4188
@hzhou I tried your changes and am still getting an error when using the MPICH variable to select the provider but it still works with the FI_PROVIDER variable. Is that the intent of the change? Should we still be using the libfabric environment variable instead of the MPICH one?

[2019-11-25 20:15] hzhou commented on #4188
@aingerson What is MPICH variable value that you tried?

[2019-11-25 20:22] aingerson commented on #4188
MPIR_CVAR_OFI_USE_PROVIDER

[2019-11-25 21:05] hzhou commented on #4188
"tcp" won't match `tcp:ofi_rxm` and the `tcp` (without utility provider) won't meet the minimum provider capability.

[2019-11-25 21:07] aingerson commented on #4188
So if I want to specify "tcp" as the provider and have it automatically pick up "tcp;ofi_rxm" like Intel MPI and Open MPI do, I still need to use FI_PROVIDER instead of the MPICH internal variable?

[2019-11-25 21:17] hzhou commented on #4188
Is "tcp" matching "tcp;ofi_rxm" desirable? If user wants wildcard-like behavior, then not to set MPIR_CVAR_OFI_USE_PROVIDER and let MPICH try to match the providers with capability is, in my opinion, the right approach.

[2019-11-25 21:22] hzhou opened #4200 "ofi: tcp:ofi_rxm provider turns off TAGGED and RMA support"
According to comment in Issue #4188, `tcp:ofi_rxm` provider is supposed to support both `FI_TAGGED` and `FI_RMA` capability, but current MPICH code turns both settings off when `tcp:ofi_rxm` provider is selected. We need follow-up to resolve the exact issues, and potentially fix it.

EDIT: `verbs:ofi_rxm` has the same issue

[2019-11-25 21:22] hzhou commented on #4188
We will follow up on this with this issue: #4200

[2019-11-25 21:43] aingerson commented on #4188
Ok, that makes more sense. So in our case, we want to make sure to test the correct provider, so we should definitely use FI_PROVIDER to select the correct provider. Do we lose anything (performance, functionality, or testing scope) by only setting that and not setting `MPIR_CVAR_OFI_USE_PROVIDER`?

[2019-11-25 21:45] aingerson commented on #4187
This is fixed by #4197 , specifcally commit 2980cf1e71a0eb006787dd7ff93c6224f22a24fa
Based on the commit message, I'm guessing it was somehow selecting an incorrect provider. Not sure exactly why, but applying that commit gets rid of the hang on MLX.

[2019-11-25 21:46] hzhou commented on #4188
Short answer, no. MPICH will try to use the default capability set (richer set) first before fall back to minimum set.

[2019-11-25 21:48] aingerson commented on #4188
Do you mean default for rxm or default/maximal capabilities in general?

[2019-11-25 21:54] hzhou commented on #4187
Thanks @aingerson for confirmation. I'll add this issue to the fixes list in #4197.

Could you also test it while setting `MPIR_CVAR_CH4_OFI_CAPABILITY_SETS_DEBUG=1` and pasting the printout here? Since it fails the default capability set matching (assume that resulted in the bug manifest) I suspect it there may be some issues in the MPICH matching logic, similar to issue #4200.

[2019-11-25 21:57] hzhou commented on #4188
default/maximal capabilities in general.

[2019-11-25 22:02] aingerson commented on #4188
Ok great that should work. Then I think we will just switch our testing to use FI_PROVIDER="tcp" and let MPICH use the best capability set out of the providers. I think this specific issue can be closed then since it seems like we were not using `MPIR_CVAR_OFI_USE_PROVIDER` as intended. But let's track the tcp;ofi_rxm TAGGED and RMA issue with the other issue you opened.

[2019-11-25 22:06] hzhou commented on #4188
@aingerson This issue shall be closed automatically when #4197 merges.

[2019-11-25 22:37] aingerson commented on #4187
Before fix/With hang:
[code]

After fix/No hang:
[code]

[2019-11-25 22:38] aingerson commented on #4187
That's with only the one patch, by the way. Not with all 5 patches from your PR. Would you like the output with all 5 applied, too?

[2019-11-25 22:42] aingerson commented on #4187
With all 5 patches, output is the same except it says before the capabilities:
[code]

[2019-11-25 22:44] hzhou commented on #4187
Not really. The rest of the 4 patches are mostly refactoring.

It is using the minimal capability set. I am sure `verbs;ofi_rxm` supports more than that, right? Could you try both
[code]

[2019-11-25 22:52] aingerson commented on #4187
`MPIR_CVAR_OFI_USE_PROVIDER='verbs;ofi_rxm'` gives the same set of capabilities.

Yes, verbs;ofi_rxm should definitely support tagged messages and RMA

[2019-11-25 23:02] hzhou commented on #4187
Thanks, I'll attach to the issue #4200

[2019-11-26 19:28] aingerson commented on #4185
@hzhou your PR #4197, (commit 2980cf1 again) seems to fix this issue as well. Thank you!

[2019-11-27 01:28] #4188 closed

[2019-11-27 01:29] hzhou commented on #4187
Closed by #4197

[2019-11-27 01:29] #4187 closed

[2019-11-27 01:30] hzhou commented on #4185
Closed by #4197

[2019-11-27 01:30] #4185 closed

[2019-11-27 02:14] aingerson commented on #4200
@hzhou more information for you:
I have been experimenting with different combinations of MPICH and providers and have found that there seems to be some issues that were introduced between MPICH 3.3 (what I was using before) and master/master + your fix. I've compiled them below. After applying your fix, I'm seeing some inconsistent errors when running the stress test. I'll have to look into the d

[2019-11-27 02:46] hzhou opened #4203 "thread: use MPIR-layer global mutex for non-performance critical path"
Currently all our thread critical section code goes through macros in `src/mpid/common/thread/mpidu_thread_fallback.h`. As we implement and experiment with different thread models, every critical section is being affected, resulting in recursive locking and multiple locking (for different models). The code become complex and difficult to move forward.

We need to recognize that there are in genera

[2019-11-27 03:02] hzhou commented on #4200
@aingerson
Thanks for the report. It is helpful. Seems the inconsistent error is a result of using "minimal` capability set. I wonder what will happen if we use `MPIR_CVAR_OFI_USE_PROVIDER=minimal` and use `FI_PROVIDER` to select `sockets` or `psm2`.

What is the difference between `ofi_rxm` and `ofi_rxd`?

[2019-11-27 14:51] hzhou opened #4204 "bug/jenkins: argobots test failures"
test:jenkins/custom
config=argobots

`ch3:nemesis`,  46 failures:
[code]

[2019-11-27 15:25] wesbland commented on #4203
cc: @sagarth

[2019-11-27 19:03] aingerson commented on #4200
We're having some issues with our lab right now but I'll try that when it starts working again.

ofi_rxm and ofi_rxd are options to layer over core providers for added functionality. rxm is 'RDM over MSG' and rxd is 'RDM over DGRAM' so the idea is given a core provider that supports msg endpoints, you can layer rxm over it to add RDM functionality and given a core provider that supports dgram endp

[2019-11-27 21:07] aingerson commented on #4200
@hzhou See the results for the requested combinations below.
Looks like requesting MPIR_CVAR_OFI_USE_PROVIDER results in ENODATA for both psm2 and sockets
![mpich_psm2-sockets](https://user-images.githubusercontent.com/10183414/69759396-de9ceb80-1116-11ea-9899-b3cec85ecac1.PNG)

[2019-11-29 15:26] hzhou opened #4205 "bug/jenkins: sporadic rma/manyget timeout"
I just encountered a timeout failure in a review test that I don't believe it is related to my PR #4159
![image](https://user-images.githubusercontent.com/1496702/69878212-e29d4a80-1289-11ea-8c52-03cb44eb7b75.png)

I recall seeing this failure from time-to-time. Normally it should finish in 2-4 seconds, but it timed out at 5 minutes in this case. The time-out was set to 5 minutes instead of the de

[2019-12-05 05:08] hzhou commented on #4204
Update: 39 failures after refactor in #4199
[code]

[2019-12-05 23:48] aingerson commented on #4200
Following up with this issue and updating status.
The previous data collected was a spot check and only collected over mlx hardware. We tried enabling all of the tests on our CI which tests all combinations of providers and hardware over all tests which resulted in the following:
![mpich_status](https://user-images.githubusercontent.com/10183414/70283522-4934d380-1776-11ea-881a-82cf846e456b.PNG)

[2019-12-07 19:21] hzhou opened #4219 "thread: outline of per-VCI thread model"
This issue outlines the work to be done for the per-VCI thread model.

It is a work-in-progress.
* [x] Finalize a clean set of TODO/check list.

## Background
* Previous work separates the communication path from the global lock scheme and uses a global vci lock
* PR #3921 Further splits the global vci lock by "VCI" that is assigned to each communicator.

## Two main components
There are two main

[2019-12-07 20:47] hzhou opened #4220 "GPU: outline of GPU integration"
This is a retake on issue #3519. While Issue#3519 is still relevant, this issue tries outline from a top-view.

## Communication components
There are three communication paths: pt2pt, RMA, and collectives.

### Collectives
Collectives all dissolve into pt2pt operations, therefore, it does not need to worry about the GPU integration in the actual communication. However, to better utilize the lower

[2019-12-08 01:56] hzhou opened #4221 "ch4: refactor ANYSOURCE handling"
## Background

When user issues a `recv` from `ANYSOURCE`, we  spawn both `MPIDI_SHM_mpi_irecv` and `MPIDI_NM_mpi_irecv`, and both requests have a `MPIDI_REQUEST_ANYSOURCE_PARTNER` linked to the other request.

This setup singlehandedly tangles NETMOD and SHMMOD at multiple levels. It constrains each implementation and complicates the code. It has been the source of multiple difficult-to-track bug

[2019-12-08 01:56] hzhou commented on #4221
tag @raffenet

[2019-12-09 19:01] harisubramoni commented on #4130
Hi, Hui.

I am just following up here to see if there is any update here. We are trying to finalize a release soon and was wondering if there is a self contained patch we can take in.

Thx,
Hari.

[2019-12-09 19:37] wesbland commented on #4219
cc: @sagarth

[2019-12-09 19:38] wesbland commented on #4220
cc: @zhenggb72 @shawnccx

[2019-12-09 19:45] wesbland commented on #4221
So you want to remove the part where the netmod informs the shmmod about a matched request in the callback handler?

[2019-12-09 21:12] hzhou commented on #4130
Hi Hari,

Both GitHub PR #4140 and PR #4149 seems work and clears the fortran dependence. #4140 is trivia in code change, simply removes the dependency from linker, which is most likely what user is seeking. However, it contains object from fortran code, so there is a risk that it breaks the toolchain and officially we are reluctant to support. #4149 went deeper refactoring and separates the code

[2019-12-10 03:05] hzhou commented on #4221
Yes. The idea is to let `shmmod` always check `netmod` (in case of anysrc) before writing the buffer. The same effort that netmod to inform shmmod could be used to simply update complete counter, and have the same effect of canceling shmmod.

[2019-12-10 03:45] hzhou opened #4223 "mpiexec: unifying mpiexec behaviors"
Current MPI standard currently  recommends a standard `mpiexec` interface that includes following options
* `-n <numprocs>`
* `-soft <...>`
* `-host <...>`
* `-arch <...>`
* `-wdir <...>`
* `-path <...>`
* `-file <...>`
* and `mpiexec {...} : {...} : ... : {...}`, i.e. colon separated multiple command lines

However, implementations often supports additional options that users needed for better ut

[2019-12-10 03:47] hzhou commented on #4223
tag @raffenet @jsquyres

[2019-12-10 14:24] raffenet opened #4224 "hydra: Make HYDRA_TOPO_DEBUG independent of --enable-g"
Debugging process binding information is helpful in any build configuration. There virtually no overhead to supporting it in non-debug builds, so we should always enable it.

[2019-12-10 16:17] wesbland commented on #4223
If this is really that critical (and I'm not disagreeing that it is), maybe this is something that should be discussed with the MPI Forum to potentially add new behavior to the standard? Particularly as we now have years and years of prior art.

[2019-12-10 17:20] hzhou commented on #4219
## Current status
Current per-vci thread model roughly separate communication path with a coarse lock -- `MPIDI_global.vci_lock` and the rest of the path with `GLOBAL_ALLFUNC_MUTEX` (to be renamed to `VCI_GLOBAL_MUTEX`. The communication path can be further resolved into send path, recv path and progress path.

There are two dominant non-fast path components that intervenes with the communication

[2019-12-10 19:17] hzhou commented on #4223
I think it will go much faster and easier if we can get the implementations going *first*.

[2019-12-10 21:26] raffenet commented on #4224
After further testing, this appears to work fine already. I must have messed something up before.

[2019-12-10 21:26] #4224 closed

[2019-12-11 20:05] raffenet opened #4227 "mpl: Rename MPL_strncpy"
MPL_strncpy is *not* a portable version of ANSI C `strncpy`. It has different behavior, at least with regard to null-termination. We should rename it to avoid confusion.

I am not sure if it is 100% the same, but BSD `strlcpy` does implement similar null-termination behavior. Perhaps it is as simple as calling it `MPL_strlcpy`.

[2019-12-11 21:34] raffenet commented on #4227
There is one different between `MPL_strncpy` and `strlcpy`. It does not return the size of the string it tried to create in case of truncation. It only returns a binary success or failure. It should be trivial to align it with `strlcpy`.

[2019-12-13 11:02] shintaro-iwasaki opened #4228 "mpl/atomic: fix __sync implementation"
As discussed in #4222 (discussion about the OpenPA implementation of `__sync` and `__atomic`), the current implementation of `__sync` in mpl/atomic seems incorrect: https://github.com/pmodels/mpich/blob/master/src/mpl/include/mpl_atomic_gcc_sync.h

It should be fixed as soon as we find how to fix it.

[2019-12-13 18:17] wesbland commented on #4221
I was thinking about this some more today. How does the request on the shared memory side get cleaned up if the netmod matches? Since the netmod never tells the shared memory side, that request will sit around forever and never get matched or get cleaned up.

I don't think this causes a correctness problem (if the message is ever matched in the future, it'll get cancelled then), but if no other me

[2019-12-13 19:44] hzhou commented on #4221
The clean up happens at MPIR-layer (wait or test). If the request is of a composite type, it need free every sub-requests.

[2019-12-13 19:51] wesbland commented on #4221
I see. That makes more sense.

[2019-12-16 19:53] hzhou opened #4232 "ch4: Revamp active message path"
Active message path will be required for the GPU integration and potentially other protocols such as large message, chunked message, RDMA etc. The current active message infrastructure are designed with limited foresight of these new demand, and does not show a clean way of expand its scope; therefore, it is beneficial to try a new and simpler/cleaner revamp.

## Objective
* Simpler interface
  **

[2019-12-17 02:31] gcongiu commented on #4232
@hzhou can we rename `MPIDI_AM_send_callback -> MPIDI_AM_send_src_cb` and `MPIDI_AM_target_callback -> MPIDI_AM_send_dst_cb`? These are both callbacks for the send operation, using target is confusing as target is normally used in RMA operation. Modules will provide their own versions of these, e.g., for rndv `MPIDI_AM_rndv_send_src_cb` and `MPIDI_AM_rndv_send_dst_cb` that will be called by the ge

[2019-12-19 16:35] raffenet opened #4241 "hydra2: PMI2 client support"

[2019-12-19 18:32] #3595 closed

[2019-12-20 20:23] hzhou opened #4245 "bug/jenkins: test failures for ch3:nemesis on ARM"
The following 3 tests fails on softiron arm architecture:
https://user-images.githubusercontent.com/1496702/71260872-8f0aa380-2301-11ea-9217-da02ec106fb9.png

All tests timed out. There's question on whether the atomic operations used in nemesis queue implementation is sufficient enough for arm architecture. These test failures likely says it is insufficient.

[2020-01-03 15:14] roblatham00 opened #4248 "no PMPI version of conversion routines"
Michael Raymond reports:

 One of our testing scripts was looking at Fortran entry points and noticed that there are no PMPI versions of

MPI_CONVERSION_FN_NULL
mpi_conversion_fn_null
mpi_conversion_fn_null_
mpi_conversion_fn_null__

  Functions like MPI_COMM_DUP_FN have them. I don’t care about this and I don’t see why a customer would, but I thought I’d mention it.

[2020-01-03 17:39] hzhou commented on #4248
To my understanding, `MPI_CONVERSION_FN_NULL` is not an "MPI Function", it is a predefined constant. There are no PMPI versions of constants.

[2020-01-06 03:29] hzhou commented on #4096
Superseded by issue #4219

[2020-01-06 03:29] #4096 closed

[2020-01-07 16:03] kmccall882 opened #4252 "Launch non-MPI processes with MPI_Comm_spawn"
MPI_Comm_spawn() currently doesn't have a way to launch a non-MPI process, one that will never
call MPI_Init().    This would be essential when one needs to use MPI to manage programs that
call system() or fork(), since those functions may cause undefined behavior in MPI.

Suggest adding a flag to the MPI_Info argument to MPI_Comm_spawn().

[2020-01-07 16:33] raffenet opened #4253 "bug/jenkins: armci-mpi integration tests hanging with ch4/ofi"
Since the merge of #4242, tests having started hanging indefinitely. https://pmrs-jenkins.cels.anl.gov/job/mpich-master-ch4-armci-mpi/

[2020-01-07 20:37] wesbland commented on #4253
The specific test that's failing is `benchmarks/contiguous-bench`. The test is hanging at 16KB message sizes (removing performance numbers since they're irrelevent):

[code]

This is happening only when the new mode bits are set (i.e. what we used to call `FI_MR_BASIC`). Another good question is why the PSM2 capability set here is not detecting the capabilities of the provider correctly. The real

[2020-01-07 23:25] sagarth opened #4258 "thread: multi threaded iprobe + isendrecv tests time out for ch3/tcp"
Failing tests (from PR #4255 ):
threads/pt2pt/mt_iprobe_isendrecv 2
threads/pt2pt/mt_improbe_isendrecv 2

Configurations:
ch3/tcp freebsd64

[2020-01-07 23:34] sagarth opened #4259 "Probe + LMT fail for OFI"
Probe returns only the size of the first chunk, not the entire message. This results in problem when probe is used to find data size for pt2pt operations. This is being fixed in #4044

[2020-01-08 14:57] sagarth opened #4262 "thread: Multi-threaded bsend fail for ofi/ucx"
Failing tests (being added for multi-threading in #4255 ):
threads/pt2pt/mt_ibsendirecv_huge 2 -iter=8 -count=4096
threads/pt2pt/mt_bsendrecv_pers_huge 2 -iter=8 -count=4096

Configuration:
ch4/ucx

[2020-01-08 16:17] #4253 closed

[2020-01-10 12:14] gcongiu opened #4271 "Accelerator Pipelining Interface - Intranode"
# Problem Statement
This issue describes the proposed data structures and interfaces for efficiently managing MPI communications when data is residing in GPU memory and GPU Direct Peer-to-peer can't be used. In such case the MPI implementation has to stage data through the host shared memory before it can hand it over to the destination buffer. For collective reductions and one-sided operations th

[2020-01-13 22:48] #4192 closed

[2020-01-14 15:52] Mahdiehgh-osu opened #4278 "Wrong condition statement for return value of MPL_get_sockaddr in PMII_Connect_to_pm"
MPL_get_sockaddr returns 0 on success while PMII_Connect_to_pm assumes that it returns 0 on failure.

Here a simple fix for it:

$git diff
diff --git a/src/pmi/simple/simple_pmi.c b/src/pmi/simple/simple_pmi.c
index 4df33e9..ac60723 100644
--- a/src/pmi/simple/simple_pmi.c
+++ b/src/pmi/simple/simple_pmi.c
@@ -891,7 +891,7 @@ static int PMII_Connect_to_pm(char *hostname, int portnum)
     int q_wa

[2020-01-15 19:21] hzhou commented on #4278
Wait, `!ret` means `ret != 0`, which means error condition, right? I think the current code is correct.

[2020-01-15 19:22] hzhou commented on #4278
You are right, patches coming.

[2020-01-15 19:59] rzambre commented on #4113
@raffenet @hzhou What UCX transport is used for our Jenkins testing with `ch4/ucx`?

[2020-01-15 20:04] hzhou commented on #4113
`UCX_TLS=rc,mm,self`

[2020-01-16 14:56] #4278 closed

[2020-01-17 17:08] dmitrygx opened #4286 "compilation warnings with GCC 4.8.5 on RHEL 7.4"
[code]

[2020-01-17 19:59] #4259 closed

[2020-01-31 20:47] raffenet opened #4300 "Remove -fallow-argument-mismatch option for frotran compilers"
The upcoming Fedora release will include GCC 10 packages. In this version, gfortran will now consider mismatchs between function calls and procedure definitions to be an error, and require additional flags to allow.

The NAG compiler has been doing this for some time. MPICH configure suggests to the user flags to use to workaround the issue. Shall we continue to do this for GCC? Or do update the F

[2020-01-31 21:38] raffenet commented on #4286
What is your configuration? I think I've seen this before but am having trouble reproducing at the moment.

[2020-01-31 21:50] raffenet commented on #4286
For reference, it looks like adding hcoll is sufficient to reproduce.

[2020-01-31 22:20] raffenet commented on #4228
@shintaro-iwasaki this was fixed in #4233, right? Shall we close this? Or was there more that needs fixing?

[2020-02-01 01:02] shintaro-iwasaki commented on #4228
Yes, it has been fixed by #4223. Let's close this issue.

[2020-02-01 01:02] #4228 closed

[2020-02-01 10:50] dmitrygx commented on #4286
sorry, forgot to mention that hcoll was on my system, and configure detected it automatically

[2020-02-03 15:59] #4286 closed

[2020-02-05 15:12] wesbland commented on #4300
Sorry for not following enough of the discussion on the mailing list. Is changing this an MPI Standard problem? An MPICH problem? Does it have ABI implications?

[2020-02-05 16:20] raffenet commented on #4300
It's...complicated. The way to fix this involves non-standard Fortran features, which some argue is an overreach of the MPI Standard.  I'm not sure of the ABI impact. The C ABI should not be affected. We could do some tests with Fortran to understand better.

[2020-02-05 16:24] wesbland commented on #4300
Ugh...I withdraw my interest. 😄

[2020-02-06 15:44] abrooks98 opened #4307 "testing: make failure due to mpi_f08 module dependency issue"
Since #4199, dependency on the mpi_f08 module in `test/mpi` is not preserved during make. I believe when `mtest_f08.f` was moved from `test/mpi/f08/util` to `test/mpi/util` ([in this commit](https://github.com/pmodels/mpich/pull/4199/commits/13617eceba173327ba37dd0ddb33f489d57f8df6)), additional checks for making target `mtest_f08.$(OBJEXT)` were not added, causing make in `test` to fail when f08

[2020-02-06 23:28] hzhou opened #4308 "general: banish size_t and use MPI_Aint"
In working on PR #4306 today, I had a test error on `coll/gather_big`. By the time I fixed the bug, my entire day is nearly gone. The bug was an integer overflow, and the bug was not mine. It has been lurking in our code for quite a while. We test `gather_big` all the time, why it didn't fail before? Let me tell the story.

`gather_big` gathers from 8 processes count (of 27bit) long (4-8bit), so a

[2020-02-07 15:13] pavanbalaji commented on #4308
If the concern is between signed and unsigned, perhaps `ssize_t` might be better than `size_t` (`MPI_Aint` is, in practice, just a wrapper for `ssize_t`; configure does additional logic only because it was created in C89 world).  Although, I'm surprised that the compiler did not throw a warning for a `size_t` argument being passed to a function that takes an `int` parameter.  That's a downcast and

[2020-02-07 15:16] hzhou commented on #4308
Compiler would complain about signed/unsigned conversion, so developers get around by casting. E.g.
[code]
No warnings for that and negative numbers get lost.

[2020-02-07 15:18] hzhou commented on #4308
The concern with unsigned is its common values sits right at the boundary of under-flow. With `ssize_t` (or MPI_Aint as we already using it), the common values sits in the middle -- much safer.

[2020-02-11 02:11] raffenet opened #4315 "ch4/shm: glue layer function table and --disable-ch4-shm-inline"
In the original ch4/shm design, we envisioned multiple shmmods at the same level of netmods. Therefore, we built in the infrastructure to inline all shm code by default, but also give the ability to build multiple shmmods and use runtime selection using a function table.

The design evolved over time and now there is a non-optional ch4/shm "glue" layer which calls down to lower-level shm transport

[2020-02-11 20:50] raffenet commented on #4308
We should be able to easily catch these errors with the compiler, assuming we can clean up the code first 😄
https://github.com/pmodels/mpich/blob/d1665bb7594358251d82d44952ecd6afd4993092/confdb/aclocal_cc.m4#L472-L475

[2020-02-11 21:03] hzhou commented on #4308
If that is a warning about explicit `cast`, then I am not sure it will be a good idea. There are too many legitimate cases that we do down-sizing cast. In principle, explicit cast in C always means that the programmer knows better and the compiler should keep silence.

If that is a warning about "implicit" conversion, it is a good option. But I suspect that is not the case.

[2020-02-11 21:32] raffenet commented on #4308
[code]

[2020-02-12 03:42] junghans opened #4318 "INTERNAL ERROR: invalid error code fffffffe (Ring Index out of range) in MPID_nem_tcp_init:373"
This was reported twice on Fedora, once in https://bugzilla.redhat.com/show_bug.cgi?id=1793563 for the espressomd package and once in https://bugzilla.redhat.com/show_bug.cgi?id=1799473 for Gromacs. This is using mpich-devel-3.3.2-3.fc32.aarch64 for Gromacs.

[2020-02-12 03:46] junghans commented on #4318
To reproduce this on Fedora do:
[code]

[2020-02-12 05:03] hzhou commented on #4318
The bug report comment with detailed error message: https://bugzilla.redhat.com/show_bug.cgi?id=1799473#c7

[2020-02-12 05:04] hzhou commented on #4318
It is fixed in this commit: https://github.com/pmodels/mpich/pull/4181/commits/8d923937ec5d1362274817eee5228690da24e974

@raffenet Apparently we neglected to pick this commit on the ch3 branch last year.

[2020-02-14 02:53] raffenet opened #4329 "mpl: memory tracing"
I propose to remove internal memory tracing functionality in MPL (trmem). https://github.com/google/sanitizers/wiki/AddressSanitizer supports leak and OOB access detection (and more!) well and without dramatic performance penalty so that it can be run regularly in Jenkins (https://pmrs-jenkins.cels.anl.gov/job/mpich-master-address-sanitizer/). Note some timeout tweaks are still needed, but the ove

[2020-02-17 05:33] hzhou commented on #3915
I see the problem now: an active message recved in netmod is replying via shmmod. Must due to loss of `is_local` flag or mistake in getting the `is_local` flag in `recv_target_cmpl_cb`.

[2020-02-18 15:01] dschwoerer opened #4341 "MPI_Add_error_class limited number of calls?"
I am trying to call `PetscInitialize` several times (in unit tests) but it fails on the 128th time with:
[code]
openmpi has no issue with this.

The affected version is: `mpich-devel-3.2.1-9.fc30.x86_64`

[2020-02-18 15:17] gcongiu commented on #4341
@dschwoerer thank you for reporting this. It seems we statically allocate only 128 error classes in MPICH. As a quick fix can you try increasing the `MPIR_ERR_CLASS_SIZE` (and `MPIR_ERR_CLASS_MASK`) macro in `src/include/mpir_err.h` to the number of classes you need? Eventually, this should probably become a configurable parameter.

[2020-02-18 15:21] pavanbalaji commented on #4341
I think it's important to understand what the problem is before suggesting changing the number of error classes.  What is `PETScInitialize` doing to cause this?  Why are more classes being created?  Is it trying to reinitialize MPI without checking if it's already initialized?

@dschwoerer Do you have a simple MPI test (with no dependency on PETSc) that reproduces this?

[2020-02-18 16:06] dschwoerer commented on #4341
Thanks for the fast replies. PETSc is finalized, before it is initialised again. Thus it seems the PETSc behaviour is sound. I am not sure whether it is possible to remove error classes after they have been added, if so that could be another solution, but I don't know MPI that well.

I am perfectly happy with that number being finite, but does it need to be constant and a compile-time constant on

[2020-02-18 16:11] hzhou commented on #4341
I don't think one is allowed to initialize MPI again once it has been finalized, which I believe PETSc does when it is finalized. If the unit-tests are designed basing on multiple MPI-Init/Finalize cycles, then the tests need be redesigned.

[2020-02-18 22:54] #2063 closed

[2020-02-20 01:28] wesbland commented on #4329
I don't think I understand what you're proposing. Would one have to do something different to get memory tracing at this point? It's still helpful to have the warning when you have un-freed memory. If doing so requires an external tool, it's less likely to happen.

[2020-02-20 23:58] gcongiu opened #4348 "Recursive Lock Acquisition"
When MPICH is configured with `--enable-threads=multiple` it acquires a global lock at every MPI communication call. There are currently cases in which MPICH might acquire this lock recursively. One example is MPI generalized requests. The callback associated with a `MPI_Grequest` contains user defined code and is executed by the MPI progress engine when `MPI_Wait` is called on the greq handle, if

[2020-02-20 23:59] gcongiu commented on #4348
@hzhou

[2020-02-21 16:31] raffenet commented on #4329
Yes, you would have to build with the address sanitizer compiler options. We could add a configuration for it. There's already a Jenkins job.

However after I created this, I realized removing this code wouldn't be useful. Since we added statistics, converting `MPL_malloc` -> `malloc` is a no-go. The only benefit it would give is if another allocation function were to be added, a tracing version w

[2020-02-21 16:31] #4329 closed

[2020-02-22 22:22] raffenet commented on #4318
@junghans patches applied to the 3.3.x branch should fix the issue. We do not currently have a plan to cut a 3.3.3 release. Will that be a problem?

[2020-02-22 23:50] hzhou commented on #3794
Accidentally slipped through during PR #4349. So I took a look. Seems I can reproduce the deadlock even with 2 processes and 2 threads, and replacing `comm_idup` with `comm_dup`, with either `enable-thread-cs` to `global` or `per-vci`. So this is a bug in our comm creation.

[2020-02-23 18:20] junghans commented on #4318
No worries, we patched it in for now: https://src.fedoraproject.org/rpms/mpich/pull-request/2

[2020-02-25 03:24] #3915 closed

[2020-02-26 16:32] abrooks98 commented on #4307
@hzhou Could you take a look? We can't merge these commits until its resolved; In Jenkins we build the test directory.

[2020-02-26 16:34] hzhou commented on #4307
OK, I'll look at it.

[2020-02-27 13:53] ZedThree commented on #4341
We handle MPI ourselves by calling `MPI_Init` before `PetscInitialize`, which causes PETSc to not finalise MPI in `PetscFinalize`. `MPI_Init/Finalize` are called only once during the whole program. We can hoist the PETSc init/finialise calls up to the testing `main()`, so this isn't an insurmountable problem.

Is there some way of resetting the state of the error classes? I couldn't see any way to

[2020-02-27 14:03] pavanbalaji commented on #4341
@ZedThree You are right; the MPI standard does not give a way to remove error classes, which should probably be added.  Having said that, I still don't understand why you have to keep adding new error classes every time you initialize PETSc.  Are these completely new different error classes each time?

[2020-02-27 14:24] hzhou commented on #4341
I see. That makes sense. So it seems `PetscInitialize` is registering error classes each time. @pavanbalaji, looks like it would be useful to have an `MPI_Remove_error_class(int errorclass)` so PETSc can call that during `PetscFinalize`. @ZedThree, currently seems the solution is either not to Init/Finalize Petsc multiple times or patch Petsc not to register new error classes.

[2020-02-27 14:25] hzhou commented on #4341
I see. That makes sense. So it seems `PetscInitialize` is registering error classes each time. @pavanbalaji, looks like it would be useful to have an `MPI_Remove_error_class(int errorclass)` so PETSc can call that during `PetscFinalize`. @ZedThree, currently seems the solution is either not to Init/Finalize Petsc multiple times or patch Petsc not to register new error classes.

[2020-02-27 17:10] ZedThree commented on #4341
@pavanbalaji No, it's the same error class, it's just that PETSc can't tell it's already added it. It's handled by PETSc, we have no control over it.

@hzhou I've gone with the first option, but I wonder if the following would be suitable patch for PETSc:

[code]

If I understand correctly, `MPI_ERR_LASTCODE` is a constant and any user error class will be larger than this, so it's safe to use as a

[2020-02-27 17:13] pavanbalaji commented on #4341
@ZedThree Adding a `MPI_Remove_error_class` is probably the right option here, but it'll take a long time to get that into MPI (we are too late for MPI-4).  The best option at this point is to have PETSc internally keep track of the fact that it already added the error class and not add it again.

[2020-02-27 17:16] #4307 closed

[2020-02-27 17:23] hzhou commented on #4341
`MPI_ERR_LASTCODE` is a constant, i.e. static and never change. Therefore, you can't use it as a sentinel.

The patch need be able to load a persistent state to inform `PetscInitialize` that the error class has already been registered and use that persistent error code instead.

[2020-02-27 17:28] hzhou commented on #4341
On second thought, the solution may not be so bad. Just let `Petsc_Initialize` accept an additional parameter or check an environment variable that sets to the error code it supposed to use. Then in your application, just pre-register the error class and pass the error code in to Petsc.

[2020-02-27 17:32] ZedThree commented on #4341
BTW, here's a reproducer:
[code]
Compiled with `mpic++ -std=c++11 petsc_loop.cxx -o petsc_loop $(pkg-config --cflags PETSc) $(pkg-config --libs PETSc)`. I've been using MPICH 3.2 just because it was the most convenient installed version I have access to.

I tried my patch above and it seemed to work, but there may be consequences I've not seen. I'll go talk to the PETSc devs, see what they think i

[2020-02-27 19:19] jedbrown commented on #4341
The proposed patch looks fine to me. @hzhou What was your concern? The patch just depends on `MPI_ERR_LASTCODE` not changing. It could use an arbitrary predefined value (`MPI_ERR_UNKNOWN`, etc.) instead.

[2020-02-27 19:23] hzhou commented on #4341
I was thinking petsc library was reloaded in between -- a mis-thinking :)

[2020-02-28 16:58] ZedThree commented on #4341
I've opened a proposal for adding `MPI_Remove_error*` to the standard: https://github.com/mpi-forum/mpi-issues/issues/283 :smile:

[2020-02-28 17:05] hzhou commented on #4341
@ZedThree Is it OK to close this issue?

[2020-02-28 17:29] ZedThree commented on #4341
Yes, workaround implemented in our code, patch submitted to PETSc, and proposal submitted to MPI!

[2020-02-28 17:30] #4341 closed

[2020-02-28 17:32] skosukhin opened #4358 "The shared library is missing symbols from convenience libraries when built with NAG"
Currently, the shared version of the library built with NAG does not contain any symbols from the convenience libraries. A simplified example of why this happens is below.
[code]
The example above shows what happens when a static library `libbanana.a` is injected into a shared library `libmain.so` with NAG. Basically the resulting shared library does not contain symbols from the static one. The sa

[2020-03-02 08:33] tks2004 opened #4365 "Message combining algorithms for neighborhood collectives - #2631."
Is the commit "a0bd3416a798ded39c3fca0675bf575bbab06041" based on 3.3.1 version.

[2020-03-02 15:48] hzhou commented on #4365
You are referring to PR #3892?

No, that PR is based on master branch, in particular, commit "85dad9cc0" dated 6/26/2019.

[2020-03-02 15:52] tks2004 commented on #4365
Ok. Thanks! Will this be merged to the master branch?

[2020-03-02 15:55] hzhou commented on #4365
I don't think it will happen anytime soon. There is still debate on the pros and cons and the benefits toward practical applications.

[2020-03-02 15:59] hzhou commented on #4365
On the other hand, there is still enough interest to keep it alive. If you needed it and have trouble rebasing to a recent master or certain branch, ping us.

[2020-03-02 21:56] hzhou commented on #4365
@tks2004 Can this issue be closed?

[2020-03-03 09:24] tks2004 commented on #4365
If you can help with rebasing this commit with the master branch it will be helpful

[2020-03-03 13:13] hzhou commented on #4170
@pedro-ricardo We believe at this point this is an issue of `gfortran`.  Intel compilers (`ifort`) seems ok.

[2020-03-03 14:42] hzhou commented on #4365
tag @raffenet

[2020-03-03 16:21] pedro-ricardo commented on #4170
Can be isolated from MPICH and submitted as a issue to gcc?

Do you intend on making a workaround to enable `mpi_f08` with gfortran while the bug isn't solved there?

[2020-03-03 16:36] hzhou commented on #4170
The answer is probably yes. It will take some time (and unfortunately, some priority). Any help will be appreciated. If you would like to help, feel free to feed back to us on your effort. We'll be happy to discuss and provide pointers.

The work-around is to skip iso-c-binding and do it in a similar way as the f90 modules. Of course, doing that defeats the original purpose of the f08 interface --

[2020-03-05 18:23] herter4171 opened #4371 "It would be helpful to have more distinction on port range spec env vars in docs."
Hello,

I've just spent a good chunk of time trying to figure out why my processes in a container context were using random, incorrect ports to message back to rank zero in spite of me specifying `MPIEXEC_PORT_RANGE=2123:2127`.  Running [this](https://github.com/wesleykendall/mpitutorial/blob/gh-pages/tutorials/mpi-broadcast-and-collective-communication/code/my_bcast.c) sample code yields the foll

[2020-03-06 13:26] hzhou opened #4372 "bug/jenkins: timeout for comm_create_group_threads on freebsd debug build"
To reproduce on *freebsd 64*, build with `--enable-g=all` and run with
[code]

The program runs very slowly but does not dead lock.

Git bisect determines the bug is introduced in https://github.com/pmodels/mpich/pull/3897/commits/3f86e45e8d2f8a08085dbc5638432045bd6390af

Further experiments shows that the bug is produced in particular by `--enable-g=memarena`. More strangely, if we enable logging

[2020-03-06 13:30] hzhou opened #4373 "bug/jenkins: bcast_length in ch3:ofi"
This failure is probably introduced in https://github.com/pmodels/mpich/pull/3897. All `ch3:ofi` build fails this test.

![image](https://user-images.githubusercontent.com/1496702/76087725-5b442f00-5f7c-11ea-8682-c93c55ded7c3.png)

[2020-03-06 17:41] hzhou opened #4374 "bug/jenkins: F08 failures on osx"
[code]

[2020-03-09 06:34] shintaro-iwasaki opened #4383 "MPL/atomics: introduce a workaround for PGI compilers"
Currently, PGI compilers do not support MPL/atomics (i.e., C11, GCC `__sync`, and GCC `__atomics`), which forces a fallback to very inefficient lock-based atomics.

There are several ways to address this issue:
1. Introduce an OpenMP atomics layer since (as far as I remember) PGI supports OpenMP atomics.
2. Introduce an x86/64 assembly layer.
3. Create an OpenPA wrapper layer.
3.a. Use the current

[2020-03-09 16:01] hzhou commented on #4026
@shintaro-iwasaki Now I understand the situation better, it seems we need inter-process lock after all. Either that or remove lock-based MPL_atomic fallback altogether. The reason is MPICH depends on shared-memory atomics. Without inter-process lock emulation it is necessary to disable entire shared-memory support in MPICH, which currently there is no clean way of doing it.

If non-emulation atomi

[2020-03-09 16:07] hzhou commented on #4383
I vote for `3.b`. It is the most smooth solution, right?

Having the PGI compiler support crippled right now is enough a reason IMHO :)

[2020-03-09 16:12] hzhou commented on #4383
If we do `3.b`, I would recommend only enable it with explicit user option, i.e. `--with-mpl-atomic-primitives=openpa`, remove the `mpl` lock emulation option and raise error if user choose `auto` but we have to fallback.

If we only support explicit option, then we can easily setup and configure openpa from MPICH's configure, that will keep the amount of code change minimum and organization clean

[2020-03-10 01:35] shintaro-iwasaki commented on #4026
#### Does using CPU instruction guarantee inter-process atomicity?

This solution is not portable, since we do not know whether the `mmap`'ed memory is really atomically accessed like normal stack/head memory in a mulithreaded program. For example, `mmap` might cache `mmap`'ed data. I am not sure if `volatile` can address this issue.

In my opinion, introducing assembly code for this imperfect sol

[2020-03-10 02:00] hzhou commented on #4026
We know linux `mmap` is truly mapping to CPU-MEMORY-bus, right? Anyway, linux can always be verified. FreeBSD as well. We have to trust closed-source OSes. But if the OS do memory emulation, it probably will mention it somewhere, I hope. In the end, I believe pthread mutex is basing on the same assumption. It has to, right?

My understanding is for the inter-process lock, all we need is an explici

[2020-03-10 02:08] hzhou commented on #4026
I am drawing following preliminary conclusion:

* Because mpich uses atomics for shared memory operation, the only lock-emulated atomics that can work is an inter-process lock emulation. So MPL should provide by-lock atomics using mutex pointers that are to be initialized.

* MPL-should provide an OPA wrapper, enabled by `--with-mpl-atomic-primitives=openpa`. This provides a fallback when necessar

[2020-03-10 03:02] shintaro-iwasaki commented on #4026
We don't know how mmap mapping is implemented, but in most cases it should be directly mapped as you wrote.

2. Interprocess pthread mutex. https://linux.die.net/man/3/pthread_mutexattr_setpshared guarantees it. Maybe this implementation is based on this assumption, but anyway assuming such is not portable.

3. Adding an explicit `init` of the mutex pointer won't be complicated.

4. I will make a

[2020-03-11 03:44] simonbyrne opened #4388 "doc: MPIEXEC_PREFIX_DEFAULT doesn't work"
I tried using the `MPIEXEC_PREFIX_DEFAULT` environment variable (which is suggested on the [man page](https://www.mpich.org/static/docs/latest/www1/mpiexec.html)) but it doesn't seem to have an effect:
[code]

However the `-prepend-rank` option (which isn't mentioned on the man page, but _is_ mentioned under `mpiexec --help`) does work correctly:
[code]

(Discovered in https://github.com/JuliaPara

[2020-03-11 04:35] hzhou commented on #4388
Thanks for reporting.

[2020-03-11 19:14] raffenet opened #4396 "coll: memory leaks"
LeakSanitizer flags some unfreed memory. Looks to be mostly from the json library. Perhaps we are not fully destroying those resources in finalize.

https://pmrs-jenkins.cels.anl.gov/job/mpich-master-address-sanitizer/lastCompletedBuild/compiler=clang-8,jenkins_configure=asan,label=centos64,netmod=ch3-tcp/console

[2020-03-12 15:30] hzhou commented on #4396
Sigh...external dependency brings in so much hassle.

[2020-03-16 19:15] hzhou commented on #4365
@tks2004 I have rebased #3892 to the latest master. It compiles cleanly. If you have problems to get it working for you or have questions, please comment on that PR.

Closing this issue.

[2020-03-16 19:15] #4365 closed

[2020-03-17 09:08] tks2004 commented on #4365
Thanks! I was able to compile and run with this rebased version

[2020-03-19 15:13] hzhou opened #4408 "bug/jenkins: timeout for ch3:tcp on FreeBSD"
Discovered during testing in PR #4405

On FreeBSD-64, `ch3:nemesis`:
[code]

Potentially the same family of tests may have similar failures.
These are sporadic timeout failures so we often miss it during regular testing.

[2020-03-21 23:11] hzhou opened #4412 "cxx: not to enable CXX binding by default"
Since cxx binding has been removed from MPI-standard, I propose let's remove the cxx bindings from mpich 3.4. Instead of supporting legacy cxx bindings, we should instead provide `mpicxx` that works with c++ compiler and links to the standard `libmpi.so`.

[2020-03-22 14:01] hzhou commented on #4348
Added a commit taking off the global lock in PR #4385

[2020-03-23 02:53] wesbland commented on #4412
cc: @ddurnov

[2020-03-23 13:24] carsten-clauss opened #4413 "coll: ibcast fails with root !=0 for sched_scatter_ring_allgather pattern"
MPI_Ibcast occasionally fails when root rank is not zero and its _sched_scatter_ring_allgather_ is involved:
`Fatal error in PMPI_Waitall: See the MPI_ERROR field in MPI_Status for the error code`

Please check the attached test with np>1 and the following algorithm selections:
`MPIR_CVAR_IBCAST_INTRA_ALGORITHM=auto|sched_scatter_ring_allgather|sched_smp`

[ibcast_root.zip](https://github.com/pmod

[2020-03-27 07:46] coti opened #4417 "build: compiling MPICH with f18"
Hello,

I am trying to compile MPICH 3.3.2 using f18 as its Fortran compiler. I am using gfortran 8.1.0 as its backend compiler.

I am configuring MPICH with:
[code]
And I can check that:
[code]

When I compile, I get the following error:
[code]
Which is strange, because I read [here](https://gcc.gnu.org/bugzilla/show_bug.cgi?format=multiple&id=59276) that this error message is given by gfortran 4

[2020-03-27 15:24] hzhou opened #4419 "bug/jenkins: gtranksperf timing difference"
Seeing this failure sporadically for a few times. Let's track it with an issue:
[code]
This was on `centos32`.

Reference PR #4405

[2020-03-28 03:05] hzhou commented on #4417
@coti Could you attach `config.log` and maybe the generated `Makefile`?

[2020-03-28 03:25] coti commented on #4417
Sure! Thank you for your reply. Here they are. GitHub refused to upload a file called Makefile so I have renamed it as Makefile.txt.

[config.log](https://github.com/pmodels/mpich/files/4396562/config.log)
[Makefile.txt](https://github.com/pmodels/mpich/files/4396563/Makefile.txt)

[2020-03-30 09:58] shintaro-iwasaki opened #4422 "test/mpich/threads: MTest_init_thread_pkg() is not called."
### Problem

In MPICH multithreaded tests, `MTest_init_thread_pkg()` should be called in `MTest_Init_thread()` but it is not. This causes an uninitialized error when underlying threads require initialization (which is now applies to Argobots). In fact, it breaks tests with Argobots (see #4421).

### Reason

The following part is expected to initialize `MTest_init_thread_pkg()`, but it is ignored s

[2020-03-30 14:19] hzhou commented on #4422
My preference is to prefer "explicit" or "simple", so solution 2 fits the bill :)

[2020-03-30 14:23] hzhou commented on #4422
To expand, I would create `Makefile.common`. And in `Makefile.mtest`, include `Makefile.common` and add to `LDADD` `mtest_single.o`. And in `Makefile_threads.mtest`, just replace the include of `Makefile.mtest` with `Makefile.common`.

[2020-03-30 14:34] shintaro-iwasaki commented on #4422
@hzhou Thank you for your comment. Actually I implemented solution 0 by using refcount (see the last commit of #4421) and found it is not very complicated.

At present only Argobots uses `MTest_init_thread_pkg()`, which also imposes a restriction that all `MTest_thread_xxx()` (e.g., mutex creation) must be called between `MTest_Init_thread()` and `MTest_Finalize()`.  I am not sure if we should kee

[2020-03-30 14:57] hzhou commented on #4422
I think having an explicit `MTest_init_thread_pkg` is semantically clean. For example, if we want put some additional thread-related test initialization, we have an obvious place to go. Since we already have `Init/Finalize`, having the mentioned restriction is intuitive and I don't think it is an issue.

That said, I think I am fine with your solution 0.

[2020-03-30 17:01] hzhou commented on #3886
For send-recv am opearations, the solution is to have an alternative lmt protocol where the sender sends data in multiple segments and the recver do `MPIR_Typerep_unpack` for each segment.

It is much easier to implement this new lmt protocol once the refactoring PR #4323 gets merged.

[2020-03-30 20:41] eugeneswalker commented on #4417
I am seeing this same error, except I am using `gfortran 7.3.0` as the backend for `f18`

[2020-03-30 20:55] hzhou commented on #4417
Thanks @eugeneswalker for the additional data point. It probably due to `libtool` heuristics breaks down because it does not recognize `f18`. I'll investigate it later.

[2020-03-30 21:25] raffenet commented on #4417
This was fixed in master, but not in the 3.3.x branch. https://github.com/pmodels/mpich/pull/4164

[2020-03-30 21:58] eugeneswalker commented on #4417
Other than using master, is there anything else that needs to be done to take advantage of this fix? I just tried with a checkout of mpich@master and I actually get the same error. @raffenet

[2020-03-31 15:14] raffenet commented on #4417
Hmm, I did not have any issue when testing on Debian (buster and bullseye). I have not tested on RedHat, but can do some experiments. Is it possible to share your container image @eugeneswalker?

[2020-03-31 16:49] eugeneswalker commented on #4417
@raffenet The image is called `ecpe4s/mpich-f18-debug:latest` and it is now on Docker Hub.

It is using:
* Spack 0.14.1 to drive the builds, setup the build environments, and manage dependencies
* Ubuntu 18.04 - x86_64
* Clang 9.0.1 w/ F18

The way I am kicking off the mpich build is with Spack:
[code]
Specifying `mpich@develop` just tells Spack to checkout master branch. The build proceeds for qu

[2020-04-02 23:13] naromero77 opened #4427 "Supporting f18"
@raffenet

`f18`, the successor to `flang`, will be upstreamed into LLVM hopefully by the end of April 2020. I wanted to start the conversation going w.r.t. supporting f18 into the mpich build system. I tried to build mpich a couple of different ways with f18 -- it seems to mostly (>90%) work, but fails near the end when the building mpich Fortran modules. As best I can tell, f18 default extension

[2020-04-02 23:40] naromero77 commented on #4427
Also including @eugeneswalker in case he is interested

[2020-04-03 13:48] #4408 closed

[2020-04-03 15:35] roblatham00 opened #4428 "bug: memory leaks in json library"
version: mpich-master from within a few days ago (v3.4a2-503-g4156831a)

description: valgrind reports 700k of lost memory in json routines

expected behavior:  clean up all resources so that when I run valgrind I find only my errors

output:

here's the valgrind log.  I noticed this as part of a "mochi service" so please ignore the items about 'mochi' or 'bv'.

[bv-server.11564.vg.txt](https://gi

[2020-04-03 17:11] eugeneswalker commented on #4417
I tried building this time with llvm+f18 built a bit differently and managed to get to this point during `make`  stage for 'mpich@develop':

[code]

@raffenet

[2020-04-03 17:18] pavanbalaji commented on #4428
@roblatham00 Are you passing any special flags valgrind?  I'm not able to reproduce any memory leaks:

[code]

[2020-04-03 17:20] pavanbalaji commented on #4428
Or, is this a failure case of some sort, where we didn't clean up resources when something failed?

[2020-04-04 05:43] eugeneswalker commented on #4417
I can at least get a static library with configure options `--enable-static --disable-shared` ...

[2020-04-04 20:03] eugeneswalker commented on #4417
Related issue from 2018: https://github.com/pmodels/mpich/issues/3334 @raffenet @naromero77 @coti

[2020-04-05 17:18] eugeneswalker commented on #4417
It looks like part of the problem is that the libtool script is not setting the value of `wl` correctly for `FC` tag. For instance, instead of `-Wl,--whole-archive` libtool is just doing `--whole-archive`. Likewise, instead of `-Wl,-soname` it is doing `-soname`. Likewise libtool is not setting the PIC flag correctly for tag `FC`. If I manually edit the libtool script so that `-Wl,` and `-fPIC` ar

[2020-04-06 13:40] raffenet commented on #4428
Dup of #4396.

[2020-04-06 13:40] #4428 closed

[2020-04-07 19:21] raffenet commented on #4417
`libtool` is setup correctly in my experiments with the container image you provided. I am working with the MPICH master branch directly cloned from Github. Without #4164, then I would expect to see `libtool` setup incorrectly as you describe.

I do run into Fortran module issue @coti posted, and will continue to investigate.

[2020-04-07 20:30] raffenet commented on #4417
FWIW, I failed to build this simple module example with `f18`.

http://fortranwiki.org/fortran/show/Compiling+and+linking+modules

 It works fine with `gfortran`.

[2020-04-07 20:38] eugeneswalker commented on #4417
Are you saying you successfully compiled mpich@master with f18+llvm in that container? Did you set any environment variables other than CC, CXX, FC, F77, and F18_FC? The configure script just worked out of the box?

[2020-04-07 21:01] eugeneswalker commented on #4417
With `f18` I believe you should be using `-Mfree` instead of `-ffree-fortran` as suggested in the link you reference.

[2020-04-07 21:05] raffenet commented on #4417
[code]

[2020-04-07 21:09] raffenet commented on #4417
No, I was not successful. I am running into the same module issue that @coti posted. Given my experiment with a simple test module, I suspect the problem is not in MPICH.

[2020-04-07 21:15] eugeneswalker commented on #4417
Unfortunately the Spack-built version of f18 in `ecpe4s/mpich-f18-debug:latest` is not functional in some key respects. I did not know that when I posted it originally. However, that said, I have a new container on Docker Hub with f18 built outside of Spack, where this f18 CAN compile and link the module example you mention, as well as some other examples I have tested. The container is called `ec

[2020-04-07 21:19] naromero77 commented on #4427
I was out of the office yesterday and missed the excitement. I need to rebuild f18 and make sure that is working first, then will try to build mpich master.

[2020-04-07 21:29] hzhou commented on #4427
Why are we tracking two issues of the same effort simultaneously? Closing this issue and reference #4417. @naromero77 @coti , please follow the discussion there.

[2020-04-07 21:29] #4427 closed

[2020-04-08 14:54] #4422 closed

[2020-04-08 18:53] raffenet commented on #4417
I get this error when building the simple module example with `ecpe4s/mpich-f18-debug:latest`.

[code]

[2020-04-08 18:55] eugeneswalker commented on #4417
yes but like i said in my last post, the f18 is no good in that image. i apologize. the new image is ecpe4s/f18 and it does run the examples you linked to. i describe it in my last post. it also runs other basic fortran moi examples like ring and matmult.

[2020-04-08 18:56] raffenet commented on #4417
Sorry, I meant the latest image. Copy/pasted the wrong text.

[2020-04-08 19:09] raffenet commented on #4417
Just to confirm, this is now the location of `f18` that produces the new error.

[code]

[2020-04-08 19:17] eugeneswalker commented on #4417
You have to either use the wrapper script for f18, which is called `flang` and which is in the PATH, OR you have to manually add the arguments which the `flang` wrapper script adds for you. That is why I am using `flang` in the following snippet (it is just wrapping f18 and adding arguments which tell f18 where fortran intrinsics are and what the module suffix should be):

[code]

@raffenet

[2020-04-08 20:16] raffenet commented on #4417
Ah, OK. Then we are back to the libtool problem. Time to figure out why this configuration is not recognized...

[2020-04-08 20:23] eugeneswalker commented on #4417
I do not know much about how the rules are constructed for generating `libtool` BUT I was looking at what you did with https://github.com/pmodels/mpich/pull/4164 and I tried to verify that the patched case condition was being matched (From libtool.m4), and I think it may not be being caught. I was thinking this may be because:

[code]

I think the libtool generation rules may be relying on more ap

[2020-04-10 18:31] wesbland opened #4439 "MPI_COMM_SET_INFO Is Not Collective (But It Should Be)"
The MPI Standard says that `MPI_COMM_SET_INFO` is a collective call, but we don't implement it that way. If hints are set during communicator creation, we can rely on the built-in collectives involved in creating a communicator, but the call stack for `MPI_COMM_SET_INFO` doesn't include one.

Most likely, the solution here is to add an allreduce so each process knows the value of the other process

[2020-04-10 18:39] wesbland opened #4440 "Info Hints Need a Device-Level Callback Function"
There is not currently a clean way for the device to be notified about a communicator info hint changing value. The way this is currently done (in `MPIR_Comm_hint_init`) is to just take a callback function, but there is no way for that callback function to not be legally callable from the `MPIR` layer.

https://github.com/pmodels/mpich/blob/c726c3cdc7a518abb8c1de0089e2e080bf1af049/src/mpi/comm/com

[2020-04-10 20:43] raffenet commented on #4417
Another update: I found that if I use the system autoconf/automake/libtool, then the resulting libtool script generated by configure correctly recognized `flang`. I don't 100% know why the Spack autotools installation does not work. I suspect `libtool.m4` is being replaced somewhere during configure, possible because of the separate installation directory for each that MPICH warns about in `autoge

[2020-04-10 21:09] hzhou commented on #4440
The callback function is used when a device wants to create a custom hint.

Currently, device can check any hints inside the `comm_commit_hook`. If the hint value is non-zero, then user has set a hint; otherwise, the device can potentially customize the default hint.

`MPI_Comm_set_info` probably also need to invoke a device hook so the device can do the same check.

[2020-04-10 21:15] hzhou commented on #4439
My interpretation is the standard simply points out the collective semantics -- that every process needs call the same function. This is irrelevant to whether implementation ensures collective behavior. Since some hints need synchronization, so semantically it has to be a collective call. But if none of the hints in an implementation is actually synchronizing, I don't think it is obligated to do a

[2020-04-10 21:17] pavanbalaji commented on #4439
@hzhou Your interpretation of the standard is correct.  But I think @wesbland's point is that, the implementation should be correct even if some processes give a different value than others, and that might not be true for all hints.

[2020-04-10 21:23] hzhou commented on #4439
Yeah, we are aware of that. It is currently left as a `FIXME` todo item since currently none of the actual hints requires the same values. Once we had such hints, then we'll have to fix it.

From slack conversation, I think what @wesbland is proposing is to add something like `MPI_Barrier` to ensure collective behavior.

[2020-04-11 02:05] raffenet commented on #4417
I think the wrapper script might be causing issues during linking. I made a simple example where I attempt to link a Fortran program with a C object file. This mimics the mixed C/Fortran libraries of MPICH.
[code]
[code]
First compile the C file.
[code]
The flang script fails to link with the same error we saw before.
[code]
While using f18 has no problem.
[code]

[2020-04-11 03:29] eugeneswalker commented on #4417
Actually those steps worked for me:
[code]
I'm using `ecpe4s/f18:latest` ...

[2020-04-11 04:05] naromero77 commented on #4417
@eugeneswalker Are you using the flang which is a wrapper script or the real thing? (from what has been merged into LLVM upstream)

[2020-04-11 04:14] naromero77 commented on #4417
Ignore my last comment -- even though f18 has been merged into LLVM upstream, it hasn't been combined with the LLVM backend yet.

[2020-04-11 04:23] naromero77 commented on #4417
@eugeneswalker @raffenet I tried Ken's test using f18 compiled via Spack and I am getting a different issue.
[code]

[2020-04-11 04:36] naromero77 commented on #4417
OK, I got it to work this time. It was picking up the wrong linker `ld`.
[code]

[2020-04-11 04:36] naromero77 commented on #4417
I will try this with the PGI backend for f18 over the weekend.

[2020-04-11 04:52] eugeneswalker commented on #4417
The f18 built in docker image `ecpe4s/f18` is from https://github.com/flang-compiler/f18 and the llvm is from https://github.com/flang-compiler/f18-llvm-project. So I am using the flang wrapper script for f18, not the actual flang :) I know you said to ignore your comment but just wanted to be clear for anyone else. I did get mpich built to build, with some manual+surgical modifications to the gen

[2020-04-13 13:39] wesbland commented on #4440
Yeah, my thinking is that communicator creation should just call this function too to make things cleaner.

[2020-04-13 13:42] wesbland commented on #4439
We continued discussing this on Slack, but I want to slurp in that this should probably be an allreduce for a few reasons, most notably because there are some hints that you really want everyone to agree on or you could potentially lose the benefit of implementing them (e.g. `mpi_assert_no_any_source`).

[2020-04-13 13:51] hzhou commented on #4439
Probably. What "op" should we use?

[2020-04-13 13:57] wesbland commented on #4439
There's probably two ways it could be done:

1. Use an allgather to collect every processes's set of info keys to make determinations about how to use the optimizations.

2. Use an allreduce (sum) to total up how many processes set each info key and assume that if the total isn't the same as the size of the communicator, you just won't use the optimization anywhere (instead of trying to keep track

[2020-04-13 14:28] hzhou commented on #4439
I think the `allgather` option probably is the most flexible one. However, I would hate to run one collective per hint key. So I am thinking we can run a single `allgather` that gathers the entire hints array from all ranks, then go through each key to check for consistency. That means even when the user is only setting a single key, we'll be checking the consistency for *all* keys regardless. I t

[2020-04-13 14:31] wesbland commented on #4439
Yep. That's what I meant. I agree that it's more flexible, though I don't know if it makes a practical difference since we probably will only use optimizations when everyone sets them.

[2020-04-13 14:32] hzhou commented on #4439
What optimizations are you having in mind?

[2020-04-13 14:35] wesbland commented on #4439
I think this would apply to any optimizations you'd do for any of the assertions currently in the standard (`no_any_source`, `no_any_tag`, `allow_overtaking`). If both sides don't agree to the protocol, you can't add optimizations.

While you _could_ turn on optimizations on a process by process basis, it'd probably be a lot more practical to just do it if all processes turn them on. It also proba

[2020-04-13 14:42] hzhou commented on #4439
I see. What I was envisioning is to enable those runtime optimizations as runtime switch:
[code]
The idea is the consistency check will be orthogonal to the applying of optimizations. By the time of applying optimizations, we can assume the consistency check is already passed.

[2020-04-13 14:44] wesbland commented on #4439
That may or may not be possible. For instance, if you did something like `allow_overtaking` to use relaxed ordering requirements, you'd need both the sender and receiver to agree on whether that's ok. So just using the locally cached value wouldn't be enough (unless you only cache the value as true if everyone provides the same value).

[2020-04-13 14:48] hzhou commented on #4439
That means the key `allow_overtaking` has a consistency requirement. So we will check the consistency at `MPII_Comm_set_hints` time so that hint will never be inconsistent (or error at setting time). This is assuming the "allgather" check will be implemented replacing the current FIXME.

[2020-04-13 17:10] pavanbalaji commented on #4439
I don't know how `allreduce(sum)` will help.  We should probably add an internal op called `is_equal`.

[2020-04-13 17:20] raffenet commented on #4417
I recreated my container from scratch and had no issue either, so I guess it must have been something in my environment. Here is another test that I think better matches the problem during MPICH build. If I just add a single shared library via filename (as opposed to `-l<libname>`), something goes wrong.

[code]
[code]
[code]

[2020-04-13 17:49] wesbland commented on #4439
[code]

[2020-04-13 18:01] pavanbalaji commented on #4439
That'd only work for simple boolean values.

[2020-04-13 18:37] hzhou commented on #4439
That sounds like a good idea.

[2020-04-13 21:35] #4396 closed

[2020-04-15 18:07] hzhou opened #4445 "bug/jenkins: ch3 timeout failures on centos 32"
During tests on PR #4399, there are several timeout errors for ch3 on centos 32. I am sure those failures are not related to that PR (copyright stuff). This issue is to track them:

On ch3:sock centos32:

    ./threads/pt2pt/alltoall 4

On ch3:tcp centos32:

     ./cxx/io/writeordnosx 4
     ./f90/io/iwriteshf90 4
     ./f90/io/writeallf90 4
     ./threads/pt2pt/alltoall 4
     ./coll/allredmany 4

[2020-04-15 18:14] pavanbalaji commented on #4445
Is the I/O happening to local disk or NFS?

[2020-04-15 18:35] hzhou commented on #4445
Should be local disks. I don't see these errors before, so I am not sure what happened.

[2020-04-17 04:36] dqwu opened #4449 "bug/romio: potential division by zero in ADIOI_LUSTRE_Get_striping_info"
This SIGFPE was first reproduced on LLNL's quartz Cluster (lustre file system) with intel compiler and mvapich2/2.3 (based on mpich 3.2.1). It can also be reproduced with mpich 3.2.1 on NERSC's Cori and ALCF's Theta (both use lustre file system).

There is a simple PnetCDF test program to reproduce this issue, see https://gist.github.com/dqwu/5d68b869e1c424a1a6d34c748055fec2

It turns out that the

[2020-04-18 00:58] harisubramoni opened #4450 "MPI_REAL16 reductions not correctly supported for Fortran programs"
Hi,

This is an issue reported by our users. When doing a reduction using MPI_REAL16 in Fortran, the data seems to be getting lost in the conversion from Fortran to C (possibly due to differences in the real16 type in Fortran and the long double used to hold that on the C side).

On some debugging, what I observed was as follows

1. If the long double (say 'var') is interpreted as two doubles (var

[2020-04-18 00:59] harisubramoni commented on #4450
This could be similar to https://github.com/pmodels/mpich/issues/258

[2020-04-19 08:49] paulfons opened #4452 "Undefined symbol errors building on Mac OS X 10.15.4 with Intel Compilers"
I am trying to build mpich to run some first-principles fortran code on mac running 10.15.4. I have installed the (current) intel compilers icc and ifort version 19.1.1.216 20200306.  As there is no mpi library available for the mac os from intel, I decided to compile mpich to take advantage of the mkl cluster support for mpich that comes with the intel compiler, namely libmkl_blacs_mpich. I ran c

[2020-04-20 13:12] hzhou commented on #4452
Which version of mpich were you building?

[2020-04-20 13:41] haampie opened #4453 "Cannot build mpich 3.1.4 with clang 8"
I'm trying to build mpich 3.1.4 using clang 8, but it fails with:

[code]

It seems this is the commit that introduced this change between 3.1.3 and 3.1.4: https://github.com/pmodels/mpich/commit/82c14ecd3ae8aa9b66db6ede46ec79fb138ec851

Building mpich 3.1.3 with clang 8 works fine.

To reproduce:

[code]

[2020-04-20 13:53] hzhou commented on #4450
@harisubramoni Could you upload the test program (`test.f90`)? I am slightly confused. You only mentioned this single fortran source, right? Where is the C side?

[2020-04-20 14:00] hzhou commented on #4453
Hi @haampie, may I ask why are you particularly interested in building ver 3.1.4 with clang 8?

[2020-04-20 14:05] paulfons commented on #4452
openmpi-4.0.3

Paul Fons
paulfons@keio.jp

Keio University, Faculty of Science and Technology, Department of Electronics and Information Engineering

〒223-8522 3-14-1 Hiyoshi, Kohoku-ku, Yokohama, Kanagawa 223-8522, Japan
Keio University Faculty of Science and Technology Yagami Campus.

〒223-8522　横浜市港北区日吉3-14-1 慶應義塾大学理工学部電子工学科

[2020-04-20 14:09] haampie commented on #4453
On the cluster I'm working with there is a vendor-specific version of libmpi.so installed which is ABI compatible with mpich 3.1.x, so I tried locally to build and link against mpich 3.1.4.

[2020-04-20 14:13] hzhou commented on #4452
That is OpenMPI -- https://github.com/open-mpi/ompi?

[2020-04-20 14:16] hzhou commented on #4452
The original description does appear to come from mpich. @paulfons Please double check which mpich version were you building?

[2020-04-20 14:18] paulfons commented on #4452
I apologize for copying the openmpi version (I have been using both).  The version of mopish is mpich-3.3.2 .

Paul

Paul Fons
paulfons@keio.jp

Keio University, Faculty of Science and Technology, Department of Electronics and Information Engineering

〒223-8522 3-14-1 Hiyoshi, Kohoku-ku, Yokohama, Kanagawa 223-8522, Japan
Keio University Faculty of Science and Technology Yagami Campus.

〒223-8522　

[2020-04-20 14:39] hzhou commented on #4453
The latest mpich is 100% ABI compatible to ver 3.1.4, according to this site: https://abi-laboratory.pro/index.php?view=timeline&l=mpich

[2020-04-20 14:40] hzhou commented on #4452
Could you try the latest master?

[2020-04-20 14:58] haampie commented on #4453
Thanks. I was building 3.1.4 because then I conveniently know at compile-time I'm not using any new or breaking features.

[2020-04-20 16:02] harisubramoni commented on #4450
Hi, @hzhou .

Apologies. I thought I had uploaded the fortran program.

Frotran program

[code]
C Program
[code]

[2020-04-20 18:19] hzhou commented on #4450
Thanks @harisubramoni , I have reproduced error.

That issue is still open, does it mean we never fixed the issue? It looks like the case. Anyway, I looked into it, it appears FORTRAN does not simply pass `REAL16` type argument as a pointer to `long double`, so the buffer get miss-interpreted as soon as it enters C. We'll need to understand how exactly FORTRAN handle `REAL16` argument to hack the

[2020-04-20 18:22] hzhou commented on #4450
I am going to close #258 and use this issue to track instead. To make the referencing easier, I am duplicating the comment from #258 below:

A possible fix for this is to use Fortran to process the Fortran-specific types, including REAL16 and COMPLEX32. The code might be faster as well.

What we might want to do is to change the way we invoke the routines for the predefined operations on the prede

[2020-04-20 18:23] hzhou commented on #258
Closed to reduce duplication. Track the issue with #4450.

[2020-04-20 18:23] #258 closed

[2020-04-20 18:25] hzhou commented on #1770
Closed to reduce duplication. Track the issue with #4450.

[2020-04-20 18:25] #1770 closed

[2020-04-20 18:29] hzhou commented on #4450
Wait, this is using `mpi_f08`, which definitely not the old issue is complaining.

[2020-04-20 18:41] hzhou commented on #4450
With `use mpi` (F90), The program also fails -- probably the same issues as complained by #258 and #1770. However, the behavior has slight difference. With `use mpi`, it ended up with Segfault.

[2020-04-20 19:13] hzhou commented on #4450
Value `1.0` is much more illuminating:

* with `f08`: `000000000000ffffffff3f0000000000000000`
* `use_mpi`: `000000000000ffffffff3f0000000002000000`
* `1.0` in C: `00000000000000ffffff80ffffffff3f000000000000`

[2020-04-20 19:50] harisubramoni commented on #4450
Hi, @hzhou

If you can point me to the portion of the code that generates the fortran bindings, I could also take a look at it.

Thx,
Hari.

[2020-04-20 20:08] hzhou commented on #4450
With `f90` and `f77`, I think it just directly links the fortran code to the C code, relying on the  calling convention. The generated binding code for `f90/f77` should be `src/binding/fortran/mpif_h/reducef.c`, generated by `buildiface` perl script in the same directory.

With `F08`, there are both a fortran part and c part and uses iso_c_binding to convert types in-between. The FORTRAN part is i

[2020-04-20 20:24] harisubramoni commented on #4450
Thanks!

[2020-04-20 22:55] hzhou commented on #4450
Did some study, apparently `long double` is 16-byte in size, but in binary a 10-byte floating point.

[2020-04-20 23:06] harisubramoni commented on #4450
Hi,

Does this ring any bells?

https://software.intel.com/en-us/forums/intel-fortran-compiler/topic/267926
[code]

[2020-04-20 23:54] paulfons commented on #4452
Sure thing.  I will give it a try.

Paul Fons
paulfons@keio.jp

Keio University, Faculty of Science and Technology, Department of Electronics and Information Engineering

〒223-8522 3-14-1 Hiyoshi, Kohoku-ku, Yokohama, Kanagawa 223-8522, Japan
Keio University Faculty of Science and Technology Yagami Campus.

〒223-8522　横浜市港北区日吉3-14-1 慶應義塾大学理工学部電子工学科

[2020-04-21 00:49] hzhou commented on #4450
Yes, it confirms my suspicion :smiley:

I think here is a potential solution (a version of *gropp*'s comment): At initialization, fortran register a set of "op" functions to C for a set of fortran-specific datatypes, and we call them in `MPIR_op`s when the datatype is in this fortran specific group.

[2020-04-21 01:25] harisubramoni commented on #4450
That sounds like a good option to me :-). Can you please let me know if I can help in anyway to come up with a patch?

[2020-04-21 13:59] hzhou commented on #4450
A quick patch can be: create an `src/binding/fortran/mpif_h/fortran_ops.f`, inside which define subroutines such as `real16_sum(A, B, N)`, `real16_prod(A, B, N)`, etc. Add this file into `mpi_sources` (in `Makefile.mk`). That will make these routines available for the MPICH's C part to call.

For the C part, in `src/include/mpir_op_util.h`, remove `MPI_REAL16` from the `FLOATING_POINT_EXTRA` group

[2020-04-21 14:19] hzhou commented on #4450
@harisubramoni I created a draft PR as a demonstration of how this may work. The proper PR will take a while (due to priorities).

[2020-04-21 16:07] harisubramoni commented on #4450
Hi, @hzhou

Could you please let me know how the new file `fortran_ops.f` gets linked in? I am not sure if I am missing anything here.

Thx,
hari.

[2020-04-21 16:12] harisubramoni commented on #4450
Hi, @hzhou

Could you please let me know how the new file `fortran_ops.f` get linked in? Am I missing something here?

Thx,
Hari.

[2020-04-21 16:30] hzhou commented on #4450
Yes. :wink:

I missed something. Now added :wink:  `Makefile.mk` is generated by `buildiface` script, so need patch `buildiface`.

PS: sorry for the delay. Typing messages in the middle of a github outage, I almost thought I caused the heavoc :smile:

PS2: for questions regarding the patch, we should discuss in the PR #4454.

[2020-04-21 16:38] harisubramoni commented on #4450
Hi, @hzhou

Thanks! I did not realize github was down. I was trying to comment in the PR, but it did not allow me. Then, I tried here. I guess when github came up, this one was still in process.

Let me move to the PR for further discussion.

Thx,
Hari.

[2020-04-26 19:42] pavanbalaji opened #4468 "ch4/ofi implementation incorrect for RMA"
The `ch4/ofi` implementation seems to be functionally incorrect for RMA in a few cases, and is designed in a way that is impossible to extract performance from in a few other cases.  Here is a rough survey of some of the issues that I found:

1. In [some cases](https://github.com/pmodels/mpich/blob/master/src/mpid/ch4/netmod/ofi/ofi_rma.h#L442), we are not respecting the `max_msg_size` attribute o

[2020-04-27 19:25] pavanbalaji opened #4469 "MPICH install targets"
The install target in mpich seems to be installing a bunch of unrelated files from our embedded submodules (`json`, `libfabric`: I haven't tested `ucx`).  For example:

[code]

[code]

[code]

[code]

[2020-04-27 20:30] balay commented on #4300
I'm encountering this issue with building mpich and gcc/gfortran 10 now

[2020-04-28 17:47] raffenet commented on #4468
Is it worth keeping the current non-contig implementation around at all? I've been looking at it and wondering if we should just revert to AM for all non-contig cases to start. The we can add ch4/ofi native carve outs for cases we think we perform better. This way we can delete a lot of this overly complex stuff right off the bat and make changes more easily.

[2020-04-28 18:20] hzhou commented on #4468
Of course currently the ofi am path are handling the non-contig case using IOVs as well. I have a PR (#4423) to fix the pt2pt am lmt path. It might be a good time to review that PR first. The non-contig rma am path currently is also using iovs at ch4-generic layer. We'll need some refactoring there first before addressing at the ofi layer.

[2020-04-28 18:47] pavanbalaji commented on #4468
That makes sense to me.  But I think the AM code does not handle the IOV path (i.e., it always packs).  So we'd lose performance in some cases.  Presumably you mean you'll add that back?

[2020-04-28 18:56] raffenet commented on #4468
Yes, in a more targeted fashion that's hopefully easier to grok.

[2020-04-28 18:56] pavanbalaji commented on #4468
To be clear, there are four cases that would need to be handled:

1. Both origin and target datatypes are low density (each individual contiguous chunk is small).  In this case, I think the OFI netmod should simply use pack/unpack.  Offloading this case to the AM layer might be OK as we cannot benefit from hardware RDMA anyway.

2. Both origin and target datatypes are high density (each individual

[2020-04-28 18:56] hzhou opened #4474 "jenkins: async pingping tests"
In the `pingping` tests, one process blindly sends and the other process recv. Without barrier between batches, and when the recv side can't keep up posting the `MPI_Recv` -- such is the case when async progress thread is enabled and the `MPI_Recv` is constantly interrupted by the progress thread -- huge message queue may accumulate on the recv side. Currently, both libfabric and ucx have trouble

[2020-04-28 19:13] hzhou commented on #4468
For am pt2pt, it always packs on the send side, but currently always do iov (rdma-read) on the recv side. For am rma, it always do iov by ch4-layer.

[2020-04-28 19:14] pavanbalaji commented on #4468
This issue is for RMA communication, although similar problems might exist in the send/recv path too.

[2020-04-28 19:17] hzhou commented on #4468
Right. Just for information, the am RMA path always do iov for non-contig datatypes and is having the same issue dealing with large sparsely segmented data.

[2020-04-28 23:30] #3511 closed

[2020-04-29 15:39] raffenet commented on #4468
As far as density goes, this is probably something we want to sort out at type creation time, right? I was thinking put some ch4/ofi specific fields in netmod private area of the datatype. If successful, we can generalize for other transports.

[2020-04-29 15:46] raffenet commented on #4468
Or is density just as simple as `size / max_contig_blocks`?

[2020-04-29 16:02] hzhou commented on #4468
I think this covers majority of the cases. It is rare to have non-uniform non-contig datatypes.

[2020-04-29 19:21] pavanbalaji commented on #4468
Density is just `size / max_contig_blocks`.  It's very quick to calculate.

[2020-04-30 03:23] hzhou opened #4477 "bug/jenkins: intermittent failure of `./ft/isenddead 2`"
Seen this failure for a few times, seems intermittent:

[code]

[2020-04-30 15:02] hzhou opened #4479 "bug/jenkins: async ch3-sock rma/atomic_get_2int"
Intermittent test failures during async tests:
[code]

[2020-04-30 15:54] raffenet opened #4480 "jenkins: Move ofi testing to tcp provider"
The sockets provider is deprecated in favor of the new "tcp" provider in libfabric. We should change our testing to use it and/or the verbs provider which share the same RxM utilities.

[2020-05-01 22:13] hzhou opened #4483 "bug/jenkins: rma/accpscw1"
[code]

[2020-05-01 22:19] hzhou commented on #4483
This one currently only triggers on our Solaris node. However, I believe it is a datatype bug not unique to solaris. The reason it doesn't show up on other tests is probably due to random number generator that somehow we failed to generate this bug case.

Nemesis sends data in 256KB segments. When the first level datatype block exceed this size and the next two sub-datatype is of resized type with

[2020-05-01 22:21] pavanbalaji commented on #4483
@hzhou  It might be useful to create a simple non-DTPools based test for this, so it's easier to debug on other platforms.

[2020-05-01 22:27] hzhou commented on #4483
Alternatively, we should have a DTP interface to create custom datatypes, which will also make reproducing bugs much easier.

[2020-05-01 22:28] pavanbalaji commented on #4483
It's hard to do that with the way DTP works.

[2020-05-01 22:32] hzhou commented on #4483
I am thinking we could just create a separate function to do that. It is probably simpler than trying to reuse the exisiting code since the existing code is mostly dealing with random stuff.

[2020-05-04 14:55] raffenet commented on #4468
In implementing #4 for MPI_Put, I still utilize `MPIR_Typerep_to_iov` function to get the size and offset of the contiguous chunks at the target. Is there any better way I am missing before I start on #2?

[2020-05-04 14:56] wesbland commented on #4480
We've been investigating this (in the context of `verbs;ofi_rxm`. There are currently still some known shortcomings of the RXM provider, but we're working on this with the OFI developers. Hopefully we'll have something we could share soon.

[2020-05-04 15:03] hzhou commented on #4468
In this case, we need send in packed data plus the target IOV -- utilize `MPIR_Typerep_to_iov` seems fine; even when yaksa provide alternative serialization, it should be drop in replacement -- and the remote side need to `MPIR_Typerep_unpack`. We can't do hardware RDMA because the origin side is low density and RDMA will be fragmented and inefficient.

[2020-05-04 15:36] raffenet commented on #4468
The reason I ask is that scenario 2 could get complex with two high density types. What I envision is creating two sets of iovecs and iterating over both, always issuing the minimum size contiguous RDMA operation. Hopefully for the common case, the chunks are of ~equal size and therefore there isn't a lot of fragmentation.

[2020-05-04 17:02] pavanbalaji commented on #4468
Yes, you'd need to convert each high density type (origin and/or target) to an IOV and then do the individual RDMA operations.  You'd have some fragmentation (because density is the average of the contiguous lengths), but I don't think it'd be too much.

[2020-05-04 19:51] minsii commented on #3515
Last update on 2020-04-21

[2020-05-05 14:13] bknaepen commented on #4452
The latest master compiles on Mac OS X 10.15.4 with the latest intel compilers.

[2020-05-05 14:21] devreal opened #4492 "Error in system call ABT_mutex_free: Not a directory"
I am trying to run an application with MPICH compiled with the Argobots integration. When I finally found how to enable it (the flag `--with-thread-package` does not appear in the help output of `configure`) I was able to build and install MPICH 3.3.2. When I try to run an application, it fails with the following error:

[code]

Any idea what might cause this? The path in which the `libabt.so` lib

[2020-05-05 16:32] shintaro-iwasaki commented on #4492
Thank you for reporting the issue!

Unfortunately, Argobots support in MPICH 3.3.2 was almost broken so please use one in the master. I hope the recent bug fixes will be cherry-picked into 3.3.x, but it is not really guaranteed.
We finally started testing it regularly (https://jenkins-pmrs.cels.anl.gov/view/bolt/job/mpich-weekly-ch4-argobots/), so the recent one in the master branch should work (a

[2020-05-05 17:37] bknaepen opened #4496 "Linking issue with yaksa"
I have compiled the latest (5726ff7) master branch on a Mac running MacOS 10.15.4 using the latest versions of the intel compiler. If I then try to compile a standard helloworld-mpi.c program, the linking phase fails. To succeed I have to explicitly mention add the yaksa library. Is this the intended behaviour?

Here are the details:

[code]

[2020-05-05 19:58] hzhou opened #4497 "config: MPICH should filter configure options before passing to submodules"
Currently we pass all configure options to all submodule configures. This is a sloppy practice, it creates noise when we investigate configure issues as we are not sure what options matters and what are just being ignored. In addition, when sometime the submodule, often from third party, uses the same configure options as mpich but parses the value differently, it will certainly misconfigure or ca

[2020-05-05 20:56] pavanbalaji commented on #4496
@bknaepen   Can you give some more detail on your configure options?  I don't see this error on our mac machines.  Also, my `libpmpi.dylib` correctly has a dependency on the yaksa library.

[code]

[2020-05-05 21:03] bknaepen commented on #4496
I build mpich using:

source /opt/intel/bin/compilervars.sh intel64
export CC=icc
export FC=ifort
export F77=ifort
export CXX=icpc
./autogen.sh
./configure  --enable-fortran --enable-shared=no --with-device=ch3 --prefix=/opt/mpich3/intel-19.1.1.216/
make -j 12

[2020-05-06 00:09] hzhou commented on #4496
We are not embedding `yaksa` by default?

[2020-05-06 00:43] pavanbalaji commented on #4496
Hmm.  We do.  I wonder why it's showing up as a dependency then.  Let me investigate this.

[2020-05-06 17:57] wesbland commented on #4480
cc: @atulkulk

[2020-05-06 19:46] devreal opened #4504 "Build of 3.4a2 fails with hwloc 1.11.9"
I configured MPICH 3.4a2 with `--with-hwloc-prefix=` pointing to an installation of hwloc 1.11.9. Configure succeeds but the build fails:

[code]

If the hwloc 1.x series is not supported anymore `configure` should error out or ignore it.

[2020-05-06 19:55] devreal commented on #4492
Thanks for the hint, I will try `master`. I just gave 3.4a2 a shot and it fails with the same error. I guess the fixes have not been backported there?

[2020-05-06 20:06] shintaro-iwasaki commented on #4492
Unfortunately these fixes are merged quite recently. They will appear in the next 3.4x release since it will be based on the latest master.

[2020-05-06 20:10] gcongiu commented on #4504
Hello Joseph, thank you for reporting this. You are right, we only support hwloc 2.x. There were major changes between 1.x and 2.x versions. Please use the embedded hwloc or a compatible version.

[2020-05-08 10:07] bknaepen commented on #4496
Commit ccd708e solves this issue on my side. Thanks to all...

[2020-05-08 12:59] #4496 closed

[2020-05-08 20:48] harisubramoni opened #4514 "Adding support for REAL16 fortran operations"
Hi, Hui.

We have been working on this internally and would like to contribute a series of patches back to you guys so that it can be enhanced and upstreamed. I would also appreciate it if you guys could provide any feedback you have.

* Reference -   https://github.com/pmodels/mpich/pull/4454

* Patch 1 - Adding support for more operations
[code]
* Patch 2
[code]
* Patch 3
[code]
* Patch 4
[code]

[2020-05-08 20:57] hzhou commented on #4514
@harisubramoni Can you open a "Pull Request" 😃 ? That way we can directly comment and discuss on the code, as well as we can contribute to the same code.

[2020-05-08 22:44] tarudoodi opened #4515 "threads/pt2pt: mt_* tests intermittently segfault"
The tests in `threads/pt2pt` directory intermittently segfault with `gcc, xpmem, sockets, debug` build, with the `odd-even-cliques` disabled. We started seeing this on our jenkins testing and were able to reproduce it in master with the following configuration:
[code]
The particular test that fails might vary but some test will definitely fail once every 10 runs.

The backtrace points to the `MPID

[2020-05-08 22:45] tarudoodi commented on #4515
@KaimingOuyang We were hoping you could take a look at this.

[2020-05-08 23:03] harisubramoni commented on #4514
Ah- OK. Give me some time. I will have to do some work for that.

[2020-05-09 00:11] hzhou opened #4516 "bug/jenkins: spawn/disconnect 3 hangs with shmem config"
With `ch4:ofi` and without `MPIR_CVAR_ODD_EVEN_CLIQUES=1`:
[code]

[2020-05-09 00:21] hzhou commented on #4516
It hangs due to one of the process finalize and exit before an ofi lightweight send data gets flushed out and consequently the receiving process hangs at `MPI_Recv`.

In `MPIDI_OFI_finalize_hook`, we currently use an "allreduce" to flush all send data out. This works when two processes are consistently communicate over netmod or shmmod. Those two processes on a same node never communicate over ofi

[2020-05-10 21:38] shintaro-iwasaki commented on #4492
I update the MPICH-wiki information. Thanks!
https://wiki.mpich.org/mpich/index.php?title=MPI%2BArgobots

[2020-05-11 00:57] KaimingOuyang commented on #4515
Hi Taru,
Thanks for reporting this. I tried to reproduce this bug using your configuration; however, I cannot get any error from that. The execution command is:

[2020-05-11 01:20] tarudoodi commented on #4515
@KaimingOuyang
This is an intermittent failure that shows on different `mt_*` tests. I would recommend running `make testing` about 10 times in the `threads/pt2pt` directory and see what fails.
To get the same test to fail maybe run them a 100 or 1000 times.

[2020-05-11 02:28] KaimingOuyang commented on #4515
@tarudoodi
I have tried what you recommended. I still cannot find any error :(
Could you please tell me what CPU you are using? If possible, can you add `printf` in MPIDI_XPMEM_do_lmt_coop_copy to output `cur_chunk`, `total_chunk`, `num_local_copy`, `src_buf`, and `dest_buf` values before crash and put up here? Thank you!

[2020-05-11 20:23] jxy commented on #4300
Google gave me this: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=91731
I see that macports got the fix in as above.

For anyone got here, use `FFLAGS=-fallow-argument-mismatch` as a workaround.

[2020-05-11 20:30] pavanbalaji commented on #4300
We should probably update the Fortran bindings to avoid this issue, if that's an option.

[2020-05-11 20:49] tarudoodi commented on #4515
@KaimingOuyang
I am running it on a Xeon CPU (Intel(R) Xeon(R) Gold 6139 CPU @ 2.30GHz)
These are the values from the core dump.
[code]

[2020-05-11 20:52] tarudoodi commented on #4515
You will need to add more debug configure flags in the config line I shared, the core dump created by that build had optimized out the variable values. This fails with debug build as well so that will be helpful.

[2020-05-11 21:11] hzhou commented on #4300
That is difficult. The issue is caused by MPI standards allow user defined attribute functions and these functions have different signatures in FORTRAN and C binding. I need refresh myself to recall the details, but I remember it has always been the pain. In fact, our f08 is currently broken also due to this issue and because gfortran and ifort interpreted the iso binding differently. We implement

[2020-05-11 22:21] hzhou commented on #4514
Closing this "issue", as it should be re-submitted as a pull request.

[2020-05-11 22:21] #4514 closed

[2020-05-11 22:28] hzhou commented on #4300
By the way, I am not exactly sure about the nature of this issue, is it for `use mpi` (FORTRAN 90) or `use mpi_f08`? The former has a C layer that should be able to turn the type mismatch to the C side, which is more lenient on casting function pointers. For `f08`, we may have to also add a C glue just for these user function passings. I'll investigate more when I get a chance.

[2020-05-12 14:13] raffenet commented on #4300
`use mpi` module. The C backend is not the issue. It is that we do not generate all possible type TKR combinations for the Fortran interfaces, or use non-standard features to disable argument checking for choice buffers.

[2020-05-12 14:18] pavanbalaji commented on #4300
If someone can explain what needs to be generated, I can probably script it out.

[2020-05-12 16:36] harisubramoni commented on #4300
Hi, Guys.

I am also interested in this issue since it affects MVAPICH2 as well. Please let me know if I can help.

Best,
Hari.

[2020-05-13 04:41] simonbyrne opened #4533 "MPI_Comm_connect fails when run outside mpiexec"
Based on the [examples from the MPI standard](https://www.mpi-forum.org/docs/mpi-3.1/mpi31-report/node248.htm#Node249):

`server.c`:
[code]

`client.c`:
[code]

When the processes are launched directly as singletons (i.e. outside of `mpiexec`), I get the following error:
[code]

This was previously discussed on [this thread](https://lists.mpich.org/pipermail/discuss/2018-March/000023.html) and a p

[2020-05-13 04:45] pavanbalaji commented on #4533
This has been a low priority for us as the use cases for this are very few.  We generally recommend users to launch with `mpiexec` or wrap it with a script that internally launches the program with `mpiexec`.

[2020-05-13 05:02] simonbyrne commented on #4533
Thanks. My motivation is that I wanted to have one process be run interactively in a terminal, which doesn't seem possible when running inside `mpiexec`.

[2020-05-13 05:04] pavanbalaji commented on #4533
`mpiexec` will forward stdin/stdout/stderr.  Is there something else you wanted in the interactive run?

[2020-05-13 05:22] simonbyrne commented on #4533
In my case I want to be able to run `mpiexec -n 1 julia`, which hangs (you can replace `julia` with any other interactive terminal, e.g. `python`, `bash`, etc.).

[2020-05-13 12:13] hzhou commented on #4533
For interactive terminal applications, it is not just forwarding, it needs "prompt" forwarding, i.e. match the buffering scheme that those terminal applications expect. I think it is complicated for `mpiexec` to support that.

[2020-05-13 18:03] brianjmurrell opened #4534 "FAIL: test_json_pointer"
Running `make check VERBOSE=1` on b0c0ec7a3 produces:

[code]

Is this known/expected?

[2020-05-13 22:07] hzhou opened #4536 "bug/jenkins: sporadic threads/spawn/th_taskmaster timeout"
We are seeing sporadic time out in `ch4/ofi` review tests in `./threads/spawn/th_taskmaster`, both `1` and `2` process versions.

I reproduced it locally, but it is very rare, in fact I failed to reproduce it twice. We'll track this. Each time we see the failure, add a record here, until we have some clue.

<img width="636" alt="image" src="https://user-images.githubusercontent.com/1496702/8187077

[2020-05-14 14:54] longb commented on #4300
Just to point out that assumed-type and assumed-rank dummy arguments were put into the Fortran standard, largely based on requests from the MPI community, to avoid the problems of including generic interfaces with specifics to cover all TKR combinations, if the ultimate callee was a C function anyway.   The MPI module should be using these.

[2020-05-15 05:38] yfguo opened #4541 "Cleanup trailing whitespaces"
Some files that still have trailing whitespaces. A list of these files can be found in #3429

[2020-05-15 16:44] hzhou opened #4542 "ch4: global mutexes need better organization"
Currently we define several global mutexes as part of the mutex array in `MPIDI_global` in `ch4_types.h`. Some of these mutexes are from old code that now is removed, such as `MPIDIU_THREAD_PROGRESS_MUTEX`, some of them are stale usage, such as `MPIDIU_THREAD_UTIL_MUTEX` are used for `pobj` thread granularity but the `pobj` hasn't been maintained and will be removed at some point. Some of the mute

[2020-05-15 17:39] thananon commented on #4061
Is there any update on this issue?

[2020-05-16 00:41] gcongiu opened #4545 "GPU fallback: incorrect release of host staging buffer at request completion"
The existing GPU fallback code for OFI (as well as the GPU AM fallback) relies on `MPIDIU_request_complete` to release the host staging buffer used to store GPU data. This is only called by `recv_event` in `ofi_events.c` and not, for example, by `recv_huge_event`. So in some cases the received data is never moved to the destination buffer in GPU memory and the host buffer never released.

It is no

[2020-05-16 00:41] gcongiu commented on #4545
@shawnccx @hzhou

[2020-05-16 00:45] shawnccx commented on #4545
`recv_huge_event` uses `recv_event` when 0 bytes left. See: https://github.com/pmodels/mpich/blob/master/src/mpid/ch4/netmod/ofi/ofi_events.c#L285

[2020-05-16 00:48] hzhou commented on #4545
Looks like `MPIDIU_request_complete` is a lightweight version of `MPID_Request_complete` that when it is certain there isn't any resource freeing checks. I think having this "light" version really confuses the code. For example, at one point we are certain that `ofi` direct path never allocates any dynamic resources that needs freeing, but at any point of development, we may start to add them.

[2020-05-16 00:55] gcongiu commented on #4545
Isn't `MPID_Request_complete` only for active messages and shmmod?

[2020-05-16 00:56] hzhou commented on #4545
There is nothing in the name to suggest so. In fact, its usage is all over the place

[2020-05-16 00:57] gcongiu commented on #4545
Right, but still we need this to work also for UCX. UCX does not have a dedicated event handling as OFI. So when staging data in UCX_AM we still need to manage the buffer appropriately at request completion

[2020-05-16 00:58] gcongiu commented on #4545
Right, I was looking at CH4.

[2020-05-16 00:59] gcongiu commented on #4545
I think your idea of using only `MPID_Request_complete` is the best option.

[2020-05-16 01:02] hzhou commented on #4545
After #4524, `MPID_Request_complete` is only used inside device layer, so maybe we should consider rename it to `MPIDI_Request_complete` , and we can have another version called `MPIDIG_am_request_complete`, that will make its usage/purpose clear.

[2020-05-16 01:03] hzhou commented on #4545
I still don't understand why `ofi` gpu fallback don't simply fallback to `ch4` layer, similar to the way it fallback to the AM path?

[2020-05-16 02:03] shawnccx commented on #4545
In that case it is making things very pessimistic. The only missing part is GPU-aware, but moving to `AM` also gives up hardware tag matching in `ofi`, which makes more complicated.

[2020-05-16 02:25] hzhou commented on #4545
Hehe, I think I am more of optimistic. I want the best option -- direct native GPU support. When that is not available, I don't think it matters. There is the overhead of GPU memory transfer, will the "hardware tag matching" really matter with that backdrop?

I was thinking that just have a GPU am fallback protocol, you can use the same active message handling infra structure which is already ther

[2020-05-16 02:48] shawnccx commented on #4545
You are bringing up this topic again, requiring more people to be involved.

[2020-05-16 02:52] hzhou commented on #4545
Right. 😄

[2020-05-16 14:28] gcongiu commented on #4545
I think yours is just a matter of preference. It will not change in any way how the fallback happens just where it happens. I think we decided to avoid falling back to the generic layer as we were going down the same direct netmod path anyways but adding one function call in the path (the one for `gpu_fallback.c`. The AM fallback is a separate path and is dealt with in this PR: https://github.com/

[2020-05-16 14:54] gcongiu commented on #4545
Actually, UCX also calls `MPIDIU_request_complete` so there should not be any problem. For the AM path I just need to add request handling in `MPID_Request_complete`. But the all request completion is a little confusion currently.

[2020-05-16 14:56] hzhou commented on #4545
I guess the current GPU fallback is a simple `cudaMemcpy` to a stage buffer? I was in the mindset that the functionality may grow, for example, chunks pipe-lining, or GPU direct, which will involve additional protocols. Having two (and more) separate paths will making extension difficult and ugly. Even now, you need take care of the releasing of stage buffer in two places with no obvious clues for

[2020-05-16 15:34] hzhou opened #4548 "jenkins: tests extremely slow on Solaris and some"
Our Jenkins Solaris node has exact the same hardware as the centos nodes, however, the tests are running nearly 5 times slower on Solaris than centos. It has always been slower, but lately seems it is getting worse. Need investigate.

Separately, `ch4-ofi` with intel compiler and external `libfabric` runs up to 8 hours. Typically `ch4-ofi` finishes tests in a hour.

[2020-05-16 21:11] #4536 closed

[2020-05-18 13:59] wesbland commented on #4542
cc: @sagarth

[2020-05-18 14:04] wesbland commented on #4548
It's very strange that ch4/ofi would run for hours with ICC and an external libfabric. We build it that way now and a job is done in 1:45 (not sure if that was scheduled immediately or had to wait in the Slurm queue).

[2020-05-18 14:16] hzhou commented on #4548
The slow probably is coming from the compiling -- although why it is slow there needs investigate.

Anyway, I just realized how critical `make all` in testing is important. I always thought the tests are small and takes negligible time to make compared to the actual testing. I was very long. Turns out, some of the test is very slow to compile and it is duplicately used in many tests. In particular

[2020-05-18 15:15] gcongiu commented on #4545
Right, at the moment we actually do packing of the GPU buffer into the host buffer directly using typerep. Concerning the why, we internally had a similar discussion for AM fallback. I think keeping fallback at the netmod level is best for several reasons; just to mention a few:
- there is no reason to fallback to the generic layer only to do packing. We always do packing at the lowest level; For

[2020-05-20 15:28] hzhou opened #4562 "bug/jenkins: rma/atomic_get_float_int with ch3-sock"
Shows up occasionally with `mpich-async-ticketlock` tests:

[code]

Encountered during PR #4499, but has shown up before.

[2020-05-21 15:57] minsii commented on #3514
The current active PR is at https://github.com/minsii/mpich/pull/1

[2020-05-21 17:33] hzhou opened #4565 "shm: better inline/noinline framework for eager modules"
The current posix eager module framework uses two macros -- `POSIX_EAGER_INLINE` and `POSIX_EAGER_DISABLE_INLINES`. This is confusing. We should try consolidate them into single macro or more clearer semantics.

It also created weird patterns that misleads some compiler -- reference https://github.com/pmodels/mpich/pull/4556 -- which introduces more clumsy code patterns.

[2020-05-21 19:50] minsii commented on #4515
@tarudoodi @zhenggb72 : @KaimingOuyang is discussing this issue with me. He cannot reproduce this bug on our machine (open source XPMEM) and Cori (Cray XPMEM) with several thousands of runs.

Based on the above core dump, the data access of `src_buf+cur_offset` looks correct to me (`cur_offset = 7503872`, `data_sz=16777216`). Thus, we guess that it might be caused by the Intel's XPMEM version.

Ca

[2020-05-21 21:45] roblatham00 commented on #1578
I am going to close this one.  I look at memory leaks and overheads a lot and am pretty sure I would have found this one from 2016.

[2020-05-21 21:45] #1578 closed

[2020-05-26 13:36] wesbland commented on #4565
This isn't just a shm/posix problem. This is how all of our inlines work:

[code]

[2020-05-26 16:00] hzhou commented on #4565
Yep, it is terrible :) I really like to hide all these with a autogen script generation, so we don't have to manually maintain them.

[2020-05-27 03:54] hzhou commented on #4204
@shintaro-iwasaki How about an update on current status?

[2020-05-27 03:57] hzhou commented on #4221
It is less of an issue now that anysource code in ch4 has been refactored.

[2020-05-27 03:57] #4221 closed

[2020-05-27 04:41] shintaro-iwasaki commented on #4204
Thanks for reminding me. I totally forgot this.
Currently we only tested CH4, which seems working well. I should add the CH3 test and see if it is fixed.
https://jenkins-pmrs.cels.anl.gov/view/bolt/job/mpich-weekly-ch4-argobots/

Could you keep this issue for now (e.g., another week)? I will add this to the weekly test and if the problem still exists, I will create a PR.

[2020-05-27 14:32] hzhou opened #4595 "bug/jenkins: sporadic time-out in multi-thread dup_leak_test"
Seen a few times:
[code]

Very difficult to reproduce -- in fact, I haven't reproduced it after 100 times repeat.

[2020-05-27 22:54] hzhou commented on #4595
Cranked up threads up to 16. Didn't produce the error. But it appears only three threads are able to advance a a time. The first three threads finish all the iterations, then next 3, ...

[2020-05-28 03:19] hzhou commented on #4595
If we look at the test history, the time varies from 30 seconds to over 3 minutes (timeout). This is definitely a mutex unfairness issue.

[2020-05-28 03:24] hzhou commented on #4595
For reference, `ch4:ucx` only take 2 seconds for this test. Need check the algorithm

[2020-05-28 14:33] bjpalmer opened #4599 "hydra: unable to connect on RHEL6 using slurm"
I've encountered a problem when upgrading from MPICH-3.3.1, which works fine, to MPICH-3.3.2. I'm also having similar problems running MPICH-3.4a2.

I'm trying to use MPICH-3.3.2 on our old Infiniband cluster running the RHEL6 operating system and the slurm scheduler. Applications are consistently hanging in MPI_Init when I try and run on more than one node, sometimes with the error

[code]

Runni

[2020-05-28 19:40] hzhou commented on #4599
Hi Bruce, thanks for filing the issue. Let's first establish what was working -- could you rebuild `MPICH-3.3.1` and verify it is working for you? The tarball link for `3.3.1` is http://www.mpich.org/static/downloads/3.3.1/mpich-3.3.1.tar.gz.

[2020-05-28 20:33] bjpalmer commented on #4599
I was just using MPICH-3.3.1 this morning. It seems to be working fine.

Bruce

From: Hui Zhou <notifications@github.com>
Reply-To: pmodels/mpich <reply@reply.github.com>
Date: Thursday, May 28, 2020 at 12:40 PM
To: pmodels/mpich <mpich@noreply.github.com>
Cc: "Palmer, Bruce J" <Bruce.Palmer@pnnl.gov>, Author <author@noreply.github.com>
Subject: Re: [pmodels/mpich] MPICH 3.3.2 hangs in MPI_Init (#

[2020-05-28 20:45] hzhou commented on #4599
Did you build it from source? Could you list the configure line and how you were launching jobs?

[2020-05-28 21:32] bjpalmer commented on #4599
I’m building from source. The configure line is

./configure --prefix=/people/d3g293/mpich/mpich-3.3.1/install --with-device=ch4:ofi:sockets --with-li

bfabric=embedded --enable-threads=multiple --with-slurm CC=gcc CXX=g++

and my environment is

[d3g293@constance03 mpich-3.3.1]$ module list

Currently Loaded Modulefiles:

  1) gcc/5.2.0             3) cmake/3.8.2           5) mkl/15.0.1

  2) pyt

[2020-05-28 21:38] pavanbalaji commented on #4599
@bjpalmer   Why are you passing `--with-slurm` if you are using `mpirun`?

[2020-05-28 21:55] bjpalmer commented on #4599
I don’t know anything about schedulers so I’m blindly going with what has worked in the past. Our cluster uses slurm for job launching. I’          ve tried using srun to launch jobs, but it just doesn’t work on our machine. As far as I can tell, if you launch on N processes, you get N independent launches and each launch is running on a MPI_COMM_WORLD of size 1.

There is a moderately long email

[2020-05-28 22:00] pavanbalaji commented on #4599
@bjpalmer  You might not need it, but the error seems to be orthogonal to slurm usage.

Based on the error message, I have two guesses: (1) firewalls or (2) the `/etc/hosts` file on `node168.local` is not correctly setup to recognize `node100.local`.  Since you have already checked for firewalls, let's go down the `/etc/hosts` path a little bit.  The question is why is the proxy on `node168.local`

[2020-05-28 23:20] hzhou commented on #4599
I think I got a clearer a picture now. Let's focus on this:

Is `node00.local` a valid hostname? For example, if you try to `ssh node100.local` from another compute node, will it succeed?

I suspect that `.local` part is added by the OS which makes it an invalid host name. What is the OS by the way?

[2020-05-29 15:05] jedbrown commented on #3361
I seem to be encountering this issue on two different generic Linux x86-64 machines using 3.4a2 and 3.3. The variable `HYDRA_TOPO_DEBUG=1` propagates to the ranks, but nothing is printed.

[2020-05-29 15:36] raffenet commented on #3361
@jedbrown just double checking you are actually setting a binding with `--bind-to=<foo>`? I'm looking at the code and it never checks for debug in the default case.

[2020-05-29 15:38] jedbrown commented on #3361
For example:
[code]

[2020-05-29 15:39] raffenet commented on #3361
OK, let me see if I can reproduce.

[2020-05-29 16:57] hzhou commented on #4595
There are two contention spots. First is the contention on `MPIR_THREAD_VCI_CTX_MUTEX`; then there is the usual contention on multi-thread blocking `MPIR_Allreduce`. Two critical sections interweave each other only makes things worse.

The contention on `MPIR_THREAD_VCI_CTX_MUTEX` can be alleviated with atomic variable `eager_in_use` and `mask_in_use`, essentially two spin-locks on global `context

[2020-05-29 17:24] bjpalmer commented on #4599
The OS is RHEL 6. I tried launching a test job using 3.3.2 and it hangs. I then checked standard out and saw the error message about being unable to connect. I then ssh’d to the two compute nodes using the names in the error message and was able to log on with no problem. The output is below.

Bruce

[d3g293@constance03 testing]$ squeue | grep d3g293

          13405559     short bruce.jo   d3g293

[2020-05-29 17:44] hzhou commented on #4599
You are connecting from `constance03.local` to `node008.local`? Is `constance03` an alias of `node#`? Otherwise, if possible, could you try ssh from one compute node `nodexxx.local` to another `nodexxx.local`?

[2020-05-29 18:23] pavanbalaji commented on #4599
My suspicion is that this is an MPICH fault with how we detect hostnames: that's what is likely causing `.local` to appear.  Hence my request for the output of the `-verbose` option.  It'll show what hostname `mpiexec` is passing down to the proxies.

[2020-05-29 18:31] raffenet commented on #3361
Can reproduce with CentOS 7. One solution would be to move all the envvar processing in the proxy up to `mpiexec` and convert to proxy launch arguments. I'll try and work up a patch for this.

[2020-05-29 18:49] hzhou commented on #3361
@raffenet Last time we were hung up on this:

Anyway, all the envvar has been passed to proxy via `--global-inherited-env #count "A=.." "B=.." ...`.  and ...

will just add another commandline syntax/protocol between `mpiexec` and `proxy`, and you still need add code in the proxy to parse that commandline. So instead of doing this, why don't we directly add that code in the proxy to directly parse

[2020-05-29 18:54] hzhou commented on #3361
I guess what I was suggesting is in the place that I did `MPL_putenv(str)`, we set a global debug variable instead, and then where we check `HYDRA_TOPO_DEBUG` using `getenv`, we can directly check that debug variable.

[2020-05-29 21:17] gcongiu commented on #4545
This issue should be resolved now.

[2020-05-29 21:35] raffenet commented on #3361
That could work, but I think it's cleaner to capture this information in `mpiexec` and forward it to proxies as explicit arguments as I propose in #4604.

[2020-05-30 02:13] pavanbalaji commented on #4515
This looks like an issue with the closed-source XPMEM version that Intel is using.  Closing this issue till there is more information available on it.

[2020-05-30 02:13] #4515 closed

[2020-05-30 02:16] pavanbalaji commented on #306
The use case for this is very limited.  It's not worth optimizing right now, unless the extra copy is really hurting real applications.

[2020-05-30 02:16] #306 closed

[2020-05-30 02:17] pavanbalaji commented on #192
Closing issue because of limited use cases.

[2020-05-30 02:17] #192 closed

[2020-05-30 17:06] hzhou commented on #4595
`ch3` uses global lock and its progress probe often less than 1us.
`ch4:ucx` progress is also quick, often between 1-10 us.
`ch4:ofi:sockets` progress is very heavy and never immediately complete on recv even when the unexpected message is waiting. Its progress often take hundreds of us, making the mutex unfairness a very pronounced issue.

[2020-05-31 19:26] shintaro-iwasaki commented on #4204
I set up a weekly test for ch3 as well. Although one test fails, I believe it is different from what you mentioned above (https://jenkins-pmrs.cels.anl.gov/view/bolt/job/mpich-weekly-argobots/).

I will look into this failure, but for now I will close this issue.

[2020-05-31 19:26] #4204 closed

[2020-06-01 01:46] hzhou commented on #3794
Both tests seem to be suffering from posix mutex monopoly. If we substitute posix mutex with `--enable-posix-mutex=ticketlock`, both deadlocks disappear.

[2020-06-02 00:56] hzhou commented on #4595
The issue become more pronounced as soon as the server load gets high (even before subscription)

[2020-06-02 15:39] bjpalmer commented on #4599
Hi,

I submitted a two node job to the queue with the --verbose option. The results are attached. I also tried logging into the nodes running the hung job. The results are below, but it appears that you can ssh into the nodes from both the login node and from each other without any problems.

Bruce

[d3g293@constance03 testing]$ squeue | grep d3g293

          13455281     short bruce.jo   d3g293

[2020-06-02 15:49] pavanbalaji commented on #4599
@bjpalmer  You'll need to login to GitHub and upload the file, rather than email it.  I don't see the attachment.

[2020-06-02 17:58] bjpalmer commented on #4599
Okay, hopefully this shows up.

[test.txt](https://github.com/pmodels/mpich/files/4718870/test.txt)

[2020-06-02 18:56] pavanbalaji commented on #4599
As suspected, mpiexec is not able to detect that it is running on one of the compute nodes.  So it's querying for the local host again and getting `node015.local` instead.  That address does not seem to appear on `node016`'s `/etc/hosts` or name server resolution, so the connection is failing.

This patch seems to be the culprit: https://github.com/pmodels/mpich/commit/46da9453d505340db65c9f267c2c

[2020-06-03 16:04] raffenet commented on #3251
@minsii how can I re-run the benchmarks used in the issue description? I would like to compare performance the current master with RMA non-contig changes included.

[2020-06-03 16:15] bjpalmer commented on #4599
I checked out 619164f (the parent of 46da945) and copied the mpl_host.c file from this branch to my 3.3.2 build. I’m still getting a hang. I will try the 619164f and 46da945 branches and see if either of them work.

From: Pavan Balaji <notifications@github.com>
Reply-To: pmodels/mpich <reply@reply.github.com>
Date: Tuesday, June 2, 2020 at 11:57 AM
To: pmodels/mpich <mpich@noreply.github.com>
Cc:

[2020-06-03 17:01] pavanbalaji commented on #4599
You can also try using the `mpiexec` from mpich-3.3.1 to run the job (even if the application is compiled with mpich-3.3.2).

[2020-06-04 03:24] minsii commented on #3251
I think I used the MPI tutorial code. Can you try this: [stencil_lock_put.c](https://github.com/pmodels/mpi-tutorial-examples/blob/master/rma/stencil_lock_put.c)

[2020-06-04 04:10] hzhou commented on #3434
There is no fundamental difference passing the parameters as an key-val bag or individual argument, just different parsing mechanism. I think parse them into a string hash table is much simpler code, especially when there is no performance concern (for the extra string parsing), but that has nothing to do with the interface between `mpiexec` and `hydra_pmi_proxy`.

[2020-06-04 16:28] bjpalmer commented on #4599
I reverted the source tree and tried the 46da945 image and the code still hangs. Both 3.3.2 and 3.4a2 work if a I use the mpirun from 3.3.1.

Bruce

From: Pavan Balaji <notifications@github.com>
Reply-To: pmodels/mpich <reply@reply.github.com>
Date: Wednesday, June 3, 2020 at 10:05 AM
To: pmodels/mpich <mpich@noreply.github.com>
Cc: "Palmer, Bruce J" <Bruce.Palmer@pnnl.gov>, Mention <mention@norep

[2020-06-05 15:15] tks2004 opened #4616 "Process binding"
is there an environment variable/an option to bind the MPI processes using lesser CPUs per node in a balanced way. For example, a node with 2 sockets, each socket having 24 cores, total is 48 cores/node.
If I want to run 24 cores/node using 12 cores/socket, how do I bind the MPI processes in this balanced approach.

[2020-06-05 15:26] pavanbalaji commented on #4616
You might want to look at the `-bind-to` and `-map-by` options.  `-bind-to` is the width of your binding and `-map-by` is the stride to jump for binding the next process.  So, `mpiexec -bind-to core:12 -map-by socket` will bind process 0 to the first 12 cores of socket 0, process 1 to the first 12 cores of socket 1, process 2 to the next 12 cores of socket 0, and process 3 to the next 12 cores of

[2020-06-05 15:26] #4616 closed

[2020-06-05 16:37] tks2004 commented on #4616
I had tried with -bind-to and -map-by, but it is not contiguous, it binds cores in a round-robin way based on the number of numa nodes.
Which is the user option that I can specify exact cores

[2020-06-05 17:50] pavanbalaji commented on #4616
Sorry, maybe I misunderstood what you were looking for.

You can see the full output of all the options and their usage with `mpiexec -bind-to -help`.  Pasted it below too.

[code]

[2020-06-06 14:12] tks2004 commented on #4616
Thanks! this helps

[2020-06-09 18:03] WinformTJU opened #4627 "MPI_Bcast with MPI_Type_create_struct leads to segment fault using new version GCC"
I'm trying to update my wsl2 from Ubuntu-16.04 to Ubuntu-20.04, only to find out that our CFD program encountered with a segment fault at MPI_Bcast() with MPI_Type_create_struct() under Ubuntu-20.04.
I extracted the relevant part of code and reorganized it as below:
[code]
And the segment fault repeated when compiled under Ubuntu-20.04 (MPICH-3.3.2 and GCC-9.3.0)
[code]
[code]
But the code above w

[2020-06-09 19:38] hzhou commented on #4627
In here:
[code]
You are assigning a `MPI_Aint` to an `int`. What are trying to do?

[2020-06-09 20:13] yfguo opened #4629 "libOpenCL.so dependency leak to mpiexec when MPICH is configured with `--with-cuda`"
Building `--with-cuda` results in `mpiexec` (`hydra_pmi_proxy` to be specific) depends on `libOpenCL.so.1`.

When tested on JLSE GPU machines, it somehow failed to load the library and causing the program to hang.

I will do more investigation.

[2020-06-09 20:20] raffenet commented on #4629
I guess this is from the MPL linked into Hydra/mpiexec.

[2020-06-09 20:21] raffenet commented on #4629
In JLSE I manually set `LD_LIBRARY_PATH` to include the CUDA library directory, since I don't know of a module you can load to do it for you.

[2020-06-09 20:25] yfguo commented on #4629
I see. It probably it from MPL.

I am not sure about the relations between the handling and the lib. I tried LD_PRELOAD and it still complains and hangs. So I wasn't sure what was really going wrong.

I just ended up using a separate build of hydra.

[2020-06-09 20:28] raffenet commented on #4629
One thing we ran found was that proxies do not inherit the environment from `mpiexec` on some platforms (including JLSE). That could explain why. We'll need to fix this for the release.

[2020-06-10 00:28] WinformTJU commented on #4627
@hzhou , I'm sorry to bother you with this question without checking the code very carefully. I guess I miss this because that we have been using these code for a long time and it used to work fine. Again, I'm sorry to bother you without checking the code very carefully.

[2020-06-10 00:33] hzhou commented on #4627
@WinformTJU There is nothing wrong filing issues. In case you misunderstood by my question (`What are you trying to do?`) I was asking what is the intention of the code, since it seems you just want to set `disp[0]` to `0`.

[2020-06-10 00:34] #4627 closed

[2020-06-10 01:28] raffenet commented on #4629
related to #4604

[2020-06-10 02:41] WinformTJU commented on #4627
@hzhou And thank you for pointing out the error. That helps a lot.

[2020-06-10 13:03] hakostra opened #4631 "SIGBUS in accessing shared memory from MPI_Win_allocate_shared (3.3.2)"
I receive a SIGBUS when I try to write to a portion of memory allocated by MPI_Win_allocate_shared, when the memory segment exceed a certain threshold (66568192 bytes works - exceeding this lead to SIGBUS when writing into memory).

An example program is attached. Notice that only rank 0 request to allocate memory and only this rank ever touches the memory (the idea is that after the memory is set

[2020-06-10 13:42] #4631 closed, assigned to nobody

[2020-06-10 19:14] simonbyrne opened #4632 "Cannot write to `/dev/stdout` using MPI_File_write_shared"
MPICH isn't able to write to `/dev/stdout` using `MPI_File_write_shared` (or indeed, any `MPI_File_write_XXX` operations).

The following code works with Open MPI 4.0.2, but fails with MPICH 3.3.2 on MacOS:
[code]
gives the following error:
[code]

[2020-06-11 16:30] yfguo commented on #4629
@raffenet I tried on my own machine with CUDA, it seems setting `LD_LIBRARY_PATH` does solve the problem. Through the same solution does not work on JLSE, which might be a problem of its local env setup.

[2020-06-11 17:53] raffenet commented on #4629
It seems to happen in CentOS 7 reliably. I was able to reproduce the HYDRA_TOPO_DEBUG problem in the upstream CentOS 7 Docker container.

[2020-06-11 18:18] hzhou commented on #4629
I think only certain job control software (e.g. slurm) will propagate environment upon launching jobs. If we directly use `mpiexec`, hydra is not setting up environment by default.

[2020-06-11 19:25] ericch1 opened #4635 "Bug with MPI_Ibcast/MPI_Wait since 2020-02-14 on mpich/master"
Hi,

first, sorry for the delay.  We noticed a failure with mpich/master since 2020-02-14.

Our nightly tests showed errors with MPI_Ibcast/MPI_Wait.

On 2020-02-13, always on mpich/master, everything was fine with SHA 44013c5f60 .

On 2020-02-14, our nightly tests tested cf1f4046798a and it was faulty.

Fortunately, the bug is very simple to reproduce: I happens only if the "root" of MPI_Ibcast i

[2020-06-11 22:02] hzhou commented on #4635
@ericch1 Thanks for the bug report! I have located the bug. Patch will follow soon. The bug in in `src/mpi/coll/ibcast/ibcast_intra_smp.c`. There is a check of recved length but we somehow checked on both on send-side and recv-side. The send-side, of course, is garbage.  As far as I can tell, the bug existed for years. But somehow it only triggers by some unrelated commits.

We'll make sure we cov

[2020-06-12 00:04] ericch1 commented on #4635
Ok thanks! That was fast! :)

[2020-06-12 15:46] #4635 closed

[2020-06-13 12:14] ericch1 commented on #4635
Tests are 100% good this morning.  Thanks! :)

[2020-06-15 13:49] raffenet opened #4639 "test/mpi: Failures in DTPools tests on 32-bit CentOS"
These specific failures were evinced during the addition of GPU support to the testsuite. There is a segfault during buffer initialization inside DTPools. 32-bit CentOS, ch3/tcp configuration.
[code]

[2020-06-15 13:51] pavanbalaji commented on #4639
Is this failing without GPU support?

[2020-06-15 13:51] raffenet commented on #4639
Yes.

[2020-06-15 14:00] raffenet commented on #4639
I should say the sefault during initialization is only for the `sendrecv1` test. The RMA test is crashing during an `MPI_BARRIER`.
[code]

[2020-06-20 23:54] hzhou opened #4649 "agenda: multi-threading support in 3.4"
Release 3.4a3:
* [x] Bug fixes for async progress
* [x] Granular locks, ref:  #4425 #4472
* [x] Per-VCI Request pool. ref: #4285 #4499 #4550
* [x] Per-VCI Progress. ref: #4618 [In Review]
* [x] Enable multiple-vci in OFI netmod. ref: #4590
* [x] Multiple-VCI for collectives, ref: #4650
* [x] Enable multiple-vci in UCX netmod, ref: #4648

Release 3.4
* [ ] MUltiple-VCI for active messages
* [x] Mul

[2020-06-21 00:00] hzhou commented on #3356
This issue is now obsolete. We have shifted the VCI mapping to the lower netmod/shmmod/active-message layer. CH4 upper layer simply maintain an abstract VCI concept mainly for coordination between sub-layers and for efficient per-vci progress. The VCI pool and attributes are no longer necessary.

[2020-06-21 00:00] #3356 closed

[2020-06-21 00:01] hzhou commented on #3591
This is done.

[2020-06-21 00:01] #3591 closed

[2020-06-21 00:03] hzhou commented on #3950
We have added `asan` tests in our nightly Jenkins.

[2020-06-21 00:04] hzhou commented on #3949
MPICH now has fully migrated to MPL atomic. Dependency on OPA has been removed.

[2020-06-21 00:04] #3949 closed

[2020-06-21 00:05] hzhou commented on #4348
Recursive locking has been eliminated.

[2020-06-21 00:05] #4348 closed

[2020-06-21 00:07] hzhou commented on #4026
@shintaro-iwasaki Shall we close this issue?

[2020-06-21 00:11] hzhou commented on #3649
I guess we need use `atomic` for `MPIDI_CH4_global.sigusr1_count`.  Do we need it to be a "count"? Can we simply use a "flag"?

[2020-06-21 00:16] hzhou commented on #3537
Haven't seen this bug since we moved to new Jenkins server. I think @raffenet probably was correct that this is to do with old libraries. Closing this issue.

[2020-06-21 00:16] #3537 closed

[2020-06-21 00:19] hzhou commented on #2870
`per-object` granularity has been replaced with `per-vci` in `ch4`.

[2020-06-21 00:19] #2870 closed

[2020-06-21 00:20] hzhou commented on #2809
@shintaro-iwasaki Does argobots work with async tests now?

[2020-06-21 00:22] hzhou commented on #2441
Obsolete.

[2020-06-21 00:22] #2441 closed

[2020-06-21 00:24] hzhou commented on #2341
`per-object` granularity has been replaced with `per-vci` in ch4 and there is no plan to continue support it in ch3.

[2020-06-21 00:24] #2341 closed

[2020-06-21 00:26] hzhou commented on #1797
I am pretty sure this is obsolete.

[2020-06-21 00:26] #1797 closed

[2020-06-21 00:34] hzhou commented on #1109
I think there is merit in keeping the base case simple, i.e. default to `MPI_THREAD_SINGLE`. The complication is not just in implementation, it is also in user assumptions and understanding. Less assumptions, less confusions. Since user always can ask for higher thread level explicitly, I don't think there is any urgency for higher defaults.

Since no one believe or has plan to work on this anyway

[2020-06-21 00:34] #1109 closed

[2020-06-21 21:28] #4026 closed

[2020-06-21 21:28] shintaro-iwasaki commented on #2809
I have not tested it yet. I will work on it soon.

[2020-06-23 01:07] ax3l commented on #3950
Thanks a lot @hzhou! This is great for us using `asan` downstream!
In practice, I found `ubsan` to be also very helpful as a 2nd sanitizer, too (needs an independent ci job though since they usually do not work together).

[2020-06-23 01:22] hzhou commented on #3950
Sounds good. I'll leave the issue open until we add the `ubsan` test then.

[2020-06-24 06:31] yfguo opened #4659 "MPICH does not allow using MPI_DATATYPE_NULL in isend/irecv"
MPI standard allows MPI_DATAYPE_NULL to be used in communication. However, when I was trying to run a test for this use case, the test failed immediately complaining "Datatype for argument datatype is a null datatype".

Here is a simple code to produce the problem.

[code]

[2020-06-24 13:50] hzhou commented on #4659
@yfguo Could you cite the reference to standard?

[2020-06-24 16:50] pavanbalaji commented on #4659
Yanfei's test above is correct.  This does look like a bug in MPICH.  The MPI standard explicitly allows `count` to be `0`.  It doesn't directly say anything about the datatype and buffer, and it stands to reason that those parameters would be ignored when `count` is `0`.

But I'm a little confused by thus bug.  This is a common usage pattern that several applications (including GFMC at Argonne) u

[2020-06-24 23:26] hzhou commented on #4659
I see. It is not exactly that `MPI_DATATYPE_NULL` is allowed, but it should be *ignored* when count is `0`. I'll push a PR to fix this.

[2020-06-24 23:31] pavanbalaji commented on #4659
Correct.  The test can be further improved by setting `buf` to `NULL` too, because that should be ignored too.

[2020-06-24 23:33] hzhou commented on #4659
@yfguo Could you contribute your test to test suite? You can push it onto PR #4661.

[2020-06-24 23:35] yfguo commented on #4659
Will do

[2020-06-24 23:42] hzhou commented on #4659
All send versions (e.g. `MPI_Rsend`) and all recv versions suffer the same issue. @yfguo You test may need cover all send/recv varieties.

[2020-06-25 20:58] hzhou opened #4663 "bug/jenkins: slow performance of rma/large_acc_flush_local"
This test currently times out in `nofast` build on `ch3:sock`, `ch3:tcp`, and `ch4:ucx`. `ch4:ofi` has been xfailed this for all build already linking issue #3251. Since that issue is not specific, we create this issue for better tracking of xfails.

[2020-06-29 02:45] liwenhui-soul opened #4669 "can't build mpich 3.2.1 with pmi2"
run script like this
`./configure --with-pic --enable-static --enable-g=debug --with-pmi=pmi2 --enable-shared --disable-fortran --disable-mpi-fortran --enable-mpi-thread-mutliple`
and recieve the error:
`configure: error: The PM chosen (hydra) requires the PMI implementation simple but pmi2 was selected as the PMI implementation.`

[2020-06-30 15:26] hzhou opened #4677 "ch4/comm: consolidate tainted flag and pure_intracomm attribute"
PR #4650 introduced a `tainted` flag to mark a communicator that may contain processes may be originated from dynamic process. The purpose is to restrict the vci to 0 since multiple vci is only supported on the original set of processes. This is essentially the same as the attribute ` pure_intracomm` used in `ch4_comm.c` and `ch4r_proc.c`. Now we embed this flag in the communicator itself, we prob

[2020-06-30 15:27] hzhou commented on #4677
Tagging @yfguo

[2020-06-30 21:36] raffenet commented on #4669
Are you able to use a newer release? The 3.2.x series is not actively maintained at this time. This configuration should work with MPICH 3.3.2.

[2020-07-02 13:37] hzhou commented on #4130
Very related: https://bitbucket.org/mpi4py/mpi4py/issues/162/mpi4py-initialization-breaks-fortran

[2020-07-17 16:08] jakebolewski opened #4710 "gethostbyname error on macos 10.15 (github actions vm)"
We are seeing a github action macos 10.15 vm issue (with mpich 3.3.2) where calling MPI.Init() fails:

Fatal error in MPI_Init: Invalid group, error stack:
MPIR_Init_thread(586)..............:
MPID_Init(224).....................: channel initialization failed
MPIDI_CH3_Init(105)................:
MPID_nem_init(324).................:
MPID_nem_tcp_init(175).............:
MPID_nem_tcp_get_business_car

[2020-07-17 18:00] hzhou commented on #4710
Could you try the latest version: https://www.mpich.org/downloads/ , either v3.3.2 or v3.4a3?

[2020-07-17 18:09] jakebolewski commented on #4710
Sorry I had a typo in the version number, this is using v3.3.2 which should be the latest stable release.

I'm working on testing the pre-release version, but it's not packaged so it's taking longer.

[2020-07-17 18:23] hzhou commented on #4710
You could try v3.4a3, which is very close to the edge.

[2020-07-17 20:40] simonbyrne commented on #4710
What's the timeline for the 3.4 release?

[2020-07-17 20:55] hzhou commented on #4710
The plan is to release 3.4b in a couple months, then 3.4 another month after.

[2020-07-21 15:33] jakebolewski commented on #4710
running `mpiexec -host localhost` seems to fix the issue with `env MPICH_INTERFACE_HOSTNAME=localhost` also set

[2020-07-21 15:41] hzhou commented on #4710
The root issue seems that mac would set arbitrary local hostname that can't be resolved by `getaddrinfo`. Curiously, were you running inside a docker container?

[2020-07-21 15:54] jakebolewski commented on #4710
We were running inside a github action osx image (for CI) which is a VM I believe although it's not clear how they instantiate the running environment.

They do create an arbitrary localhost, and sadly this can also change during the runtime I believe:

There are similar reported issues for Azure Pipelines (which I believe is shared backing infrastructure with GitHub Actions):
* https://github.com

[2020-07-22 13:49] Gunavaran opened #4712 ""Host key verification failed." error when running on an mpi cluster"
I have been trying to create an mpi cluster by connecting two laptops. I configured everything according to https://medium.com/mpi-cluster-setup/mpi-clusters-within-a-lan-77168e0191b1. I am able to ssh to other nodes without password. However when I run `mpiexec -n 2 -hosts manager,worker ./main` I get the following error.
[proxy:0:1@gunavaran-HP-Pavilion-Notebook] HYDU_sock_connect (utils/sock/so

[2020-07-22 13:55] hzhou commented on #4712
Could you try setting your laptops' hostname to `manager` and `worker` respectively?

[2020-07-22 15:17] wesbland commented on #4712
I'd recommend using the original version of that webpage: https://mpitutorial.com/tutorials/running-an-mpi-cluster-within-a-lan/

The one you're using seems to have been directly (and badly taken from that website).

On that page, it gives you some advice for this:

[code]

You will need to change the IP address to whatever is correct for you and you can change the hostname to whatever you like.

[2020-07-24 09:06] liwenhui-soul commented on #4669
ok I'll try

[2020-07-28 20:16] leofang opened #4716 "How to query if CUDA awareness is actually turned on or not at runtime?"
Hello, I work with the mpi4py developer @dalcinl on supporting CUDA awareness, and we would like to request a feature to detect the CUDA support at runtime. This query needs to know
1. Is the library compiled with CUDA support?
2. Is CUDA support enabled "right now" (for some definition of "right now", likely after `MPI_Init()`)?

It seems MPICH already has preliminary CUDA support based on UCX, w

[2020-07-28 20:17] leofang commented on #4716
cc: @chingking from MVAPICH2

[2020-07-29 02:44] pavanbalaji commented on #4716
@leofang While I understand the intent of your suggestion, I'd urge the community to come up with a model that is broader than just CUDA.  For example, Intel and AMD GPUs, or other memory subsystems (byte-addressable NVRAM, etc.).  `MPIX_Query_cuda_support` from its name is specific to CUDA.

Generally speaking, any memory that is CPU accessible for load/store access is assumed to be supported by

[2020-07-29 02:48] Gunavaran commented on #4712
@wesbland Sorry for the late reply. I followed the original version as you suggested and facing the same problem again

[2020-07-29 02:56] Gunavaran commented on #4712
@hzhou I tried changing the hostname. Now that problem is resolved. Thank you so much.

[2020-07-29 02:56] #4712 closed

[2020-07-29 07:36] dev-zero commented on #4300
Did you open a GCC Bugzilla issue for that? Just for reference.

[2020-07-29 15:56] shawnccx opened #4717 "test/mpi/configure is using mpicc to detect GPU libs"
GPU libs are detected in configure of `test/mpi`.
For config.log, `mpicc` in install path is used to test and verify CUDA availability.
However, `mpicc` is not ready at that time, which causes GPU libs detection failure.

For example:
[code]

Currently, I think users have to do `test/mpi/configure` with GPU lib path one more time, after `make install`, in order to detect GPU libs and create GPU te

[2020-07-29 17:51] raffenet commented on #4717
Is this addressed by this PR? https://github.com/pmodels/mpich/pull/4652

[2020-07-29 18:10] shawnccx commented on #4717
I have cherry-picked that PR for our downstream repo.
Let me rerun main branch on the cluster and verify again.

[2020-07-29 18:26] shawnccx commented on #4717
@hzhou
You mentioned PR #4652 is fixing standalone build of test suite, that is, configure after make install.

This issue I posted here is for building src and test suite together case.

[2020-07-29 18:50] shawnccx commented on #4717
My local build of main branch had same issue, because `mpicc` is used to check at `configure:30239: checking for cudaStreamSynchronize in -lcudart`.

Let me re-clarify this issue.

If mpich test suite is a stand-alone build, this is not a issue. Because users have to configure mpich test suite after `make install`, `mpicc` is ready by then.

This issue rises when users configure mpich src code and

[2020-07-29 18:59] shawnccx commented on #4717
The problem is that user has to run test/mpi/configure explicitly again, to enable gpu tests, even if --with-cuda is given to configure option for mpi src.

[2020-07-29 19:17] shawnccx commented on #4717
I just talked with @hzhou , will post future update.

[2020-07-30 02:50] liwenhui-soul commented on #4669
I try to build MPICH 3.3.2 in Mac os, but got this error:

[code]

how can I fix it?

[2020-07-30 13:06] hzhou commented on #4669
@liwenhui-soul You need to checkout the submodules:
[code]

[2020-07-30 15:49] #4717 closed

[2020-07-30 18:22] leofang commented on #4716
Hi @pavanbalaji Thanks for your reply. Sorry I know MPICH very little, so perhaps I'm being naive and please do correct me if I'm wrong 🙂

Is any of these currently being explicitly supported by MPICH? My impression is we do not yet have a production-quality support of "ROCm awareness", "Intel awareness", etc, do we? However, CUDA awareness is already the status quo in other MPI libraries like Ope

[2020-07-30 20:26] brandongc opened #4720 "mpich 3.4a3 with ch4:ofi:gni hangs at message size > 8192 on Cori"
[code]

[code]

[code]

[code]

Some samples with `perf record -g --pid <pid>` of

## rank 0

[code]

## rank 1

[code]

## separate libfabric

I also built my own libfabric 1.10.1 with

[code]

MPICH 3.4a3 built against this has the same issue. If I instead use the verbs provider and verbs compatibility on Cray I get bad performance, but all message sizes work:

[code]

### libfabric only

The st

[2020-08-01 20:06] swepettax commented on #4005
I ran in to the same problem today, using Arch Linux on my RPI. Any solution yet?

[2020-08-01 21:50] pavanbalaji commented on #4716
I think this is essentially a decision between a simple solution that we know has very limited scope vs. a more generic solution for multiple devices that would take longer to define/implement.  Given that Open MPI and MVAPICH already support the `MPIX_Query_cuda_support` function, I think we can add that to MPICH too.  It's obviously super hacky, but adding it for now might give users a path forw

[2020-08-04 17:25] aolia-0303 opened #4727 "MPICH build failed, ‘HASH_ADD’ undeclared"
I was trying to build mpich on the following commit:
[code]

Here is the configuration that I have just used.
[code]
My problem is that, when I am running the `make` command to build the package, I got the following error:

[code]

[2020-08-04 18:35] raffenet commented on #4727
Is there a `uthash.h` installed somewhere in your default include path? E.g. /usr/include? I suspect there may be a conflict with the internal `uthash.h` with MPICH modifications.

[2020-08-04 18:43] aolia-0303 commented on #4727
There is not a file called `uthash.h` in `/usr/include`

[2020-08-04 18:58] hzhou commented on #4727
Potentially some other package may install `uthash.h` in your include path. Try `locate uthash.h` and see if any of them is in one of your paths.

[2020-08-07 19:00] thananon opened #4730 "MPI_Probe hang with intercommunicator."
When using inter-communicator with ch4/ofi, the application hang in MPI_Probe.

- When placing one process per node (inter-node) -- application hangs.
- When placing every process on a single node (intra-node) -- application runs to completion.
- MPI_Probe hangs with specific rank/tag and MPI_ANY_SOURCE/ANY_TAG.
- When replace MPI_Probe with MPI_Recv, application runs to completion.

The reproduce

[2020-08-07 22:38] hzhou commented on #4730
in `MPIDI_OFI_do_iprobe` it uses `comm->context_id` instead of `comm->recvcontext_id` as it shouild. We also had a similar bug in `MPIDIG_mpi_probe`. I'll make a PR to fix this and also add this test to our testsuites.

[2020-08-07 22:41] hzhou commented on #4730
@thananon You are welcome to make the PR contributing the test so we can put the credit where it is due :smile:

[2020-08-08 15:51] hzhou commented on #4730
@thananon Could you verify whether PR #4731 fixes the issue?

[2020-08-10 15:01] thananon commented on #4730
@hzhou This fixed the hang for the reproducer. Thank you for looking at this.

[2020-08-12 04:17] thananon commented on #4730
After #4731 patch, my small reproducer ran to completion. However, I reran full (MPMD)application and unfortunately it still hangs. I put some prints on tag creation and I see something weird. In this particular application, everyone sends to rank 128. I see `contextid` mismatch. This is the same intercomm. Could there still be a bug?

[code]

I am trying to come up with a simple reproducer but I

[2020-08-12 12:00] hzhou commented on #4730
The match_bits indeed mismatches. @thananon Could you dump both `context_id` and `recvcontext_id` ?

[2020-08-15 18:45] #4716 closed

[2020-08-26 12:23] rodarima opened #4757 "hfi_userinit_internal: assign_context command failed: Device or resource busy"
Not sure why MPICH with ch4:ofi fails to run with more than 24 processes
[code]

With `strace` I see the ioctl call in `/dev/hfi1_0` return EBUSY:

[code]

Not sure if it's related to the number of contexts, but I see 48 in hfi1:

[code]

The kernel is 4.4.59-92.20-default and hfi1 driver version is 0.9-294. Running with SLURM 17.11.7 via pmi2. MPICH 3.3.2 configuration flags:

`Configuring MPICH

[2020-09-04 20:39] raffenet opened #4773 "config: Unable to use --enable-fast=O3,ndebug"
Reported by @wgropp to discuss@mpich.org.

[2020-09-04 20:49] hzhou commented on #4773
We could fix this in MPICH, which is messy as we need decide what option is safe and should be passed down. I would prefer to simply strip away all options (except for `MPL`), and only pass down a few hand picked options.

Alternatively, we could file an issue at yaksa and fix it in yaksa.

[2020-09-08 23:23] IgorGayday opened #4777 "Program freezes after MPI_Init (Fortran)"
The following Fortran program freezes when it tries to execute `print *, print_test()`

[code]
If you add another `print *, print_test()` before the call to `MPI_Init` then it freezes during the first `print *, print_test()`, so it doesn't even need to execute the call to `MPI_Init`. The call just needs to be in the program. The same effect can be achieved by using `MPI_Initialized` in place of `M

[2020-09-09 03:12] hzhou commented on #4777
I am not exactly sure how it "freezes", but you are not supposed to call `print` recursively -- calling `print` then `print_test`, which calls `print` again -- according to this stack overflow answer: https://stackoverflow.com/questions/7646278/function-call-stopping-hanging-when-containing-a-write-statement-but-only-when/7662569

[2020-09-09 03:37] IgorGayday commented on #4777
You're right. It didn't occur to me recursive printing could be the issue here. Thank you :)

[2020-09-09 03:37] #4777 closed

[2020-09-12 00:17] rblake-llnl opened #4785 "Requesting a maintainer for the spack mpich package."
I'm a developer over on the [spack](https://github.com/spack/spack) project, which is a package manager for building software like MPI on HPC systems. Spack is used on many US national laboratory supercomputers.

We have a package for [mpich](https://github.com/spack/spack/pull/18330) that needs a maintainer. We need someone to answer questions and make sure we're feeding sane configure options to

[2020-09-12 00:22] yfguo commented on #4785
@rblake-llnl I can help with that.

[2020-09-12 00:31] correaa commented on #1045
This feature is important to script/cmake compilation of mpi programs with `nvcc` and other exotic compilers. The current behavior with mpich 3.3.2 is

[code]

At best they are all giving the same information, which is hard to process and deconstruct to pass to the proper compiler and linker.

Compare with the OpenMPI (4.0.3) behavior

[code]
https://www.open-mpi.org/doc/v3.0/man1/mpicc.1.php#sect

[2020-09-12 14:41] hzhou commented on #1045
I agree this should be re-considered. It is a easy fix. I'll reopen it to accumulate demand.

[2020-09-12 14:42] hzhou commented on #3950
Both `asan` and `ubsan` are in our nightly tests and they are mostly clean.

[2020-09-12 14:42] #3950 closed

[2020-09-12 14:44] hzhou commented on #4727
@aolia-0303 Have you resolved your issue?

[2020-09-12 14:47] hzhou commented on #4730
@thananon Is this issue still pending?

[2020-09-12 15:56] hzhou commented on #4669
@liwenhui-soul Has this issue been resolved?

[2020-09-12 16:02] hzhou commented on #4639
@raffenet Could you update the status of this issue? In particular, which test with which config option?

[2020-09-13 16:08] aolia-0303 commented on #4727
Yes. Issue resolved.

[2020-09-13 16:08] #4727 closed

[2020-09-14 05:52] rblake-llnl commented on #4785
Thank you so much @yiguo !

[2020-09-14 05:52] #4785 closed

[2020-09-15 07:57] carsten-clauss opened #4787 "Support for NVIDIA HPC Compilers (NVHPC)"
This is just for documentation: NVIDIA has recently renamed the acquired PGI compilers (pgcc -> nvc, pgc++ -> nvc++, pgf90/pgfortran -> nvfortran, but PGI aliases are still in place). [https://docs.nvidia.com/hpc-sdk/compilers/hpc-compilers-user-guide/index.html](https://docs.nvidia.com/hpc-sdk/compilers/hpc-compilers-user-guide/index.html)
However, MPICH's configure does not yet support these new

[2020-09-15 20:42] raffenet commented on #4639
There is nothing to update at this time. The issue description contains the tests and configuration options. Are you looking for something else?

[2020-09-15 21:59] hzhou commented on #4639
I wonder since I don't recall seeing the failures in nightly Jenkins.

[2020-09-15 22:13] raffenet commented on #4639
They are seed specific. The particular seed value was only used during development. It did not make it into the merge.

[2020-09-15 22:15] hzhou commented on #4639
I see. Yaksa is not 32-bit clean at the moment, which may be related.

[2020-09-16 01:37] yfguo commented on #4787
Thanks for submitting. I will take a look at this. We could start by adding that libtool patch so we don't need to wait for upstream.

[2020-09-16 08:33] oushu1fengsihan1 commented on #4669
I got the same error with 3.3.2 release. Should I update MPICH to the latest commit of 3.3.2?

[2020-09-16 13:24] hzhou commented on #4669
Could you try with `--with-pmi=pmi2/simple`?

[2020-09-16 17:49] yfguo commented on #4787
I have a preliminary branch that adds the libtool patch. Status:

- [ ] build with embedded OFI
- [ ] build with embedded UCX
- [ ] build with external OFI (not with CXX bindings, link failure)
- [ ] build with external UCX (presumably to work)

[2020-09-17 17:20] yfguo opened #4794 "Proposal to change POSIX EAGER interface to avoid extra packing buffer"
POSIX_am_isend today create a pack buffer for non-contiguous data and passes that buffer to POSIX_eager_send.

https://github.com/pmodels/mpich/blob/77199f67bfe2c3663e6c37476c9866479a6ef68c/src/mpid/ch4/shm/posix/posix_am.h#L130

For iqueue eager module, it will internally copies from the pack buffer into the cells. To me, this pack buffer is just an extra cost. This buffer should have been regist

[2020-09-19 16:12] hzhou opened #4795 "bug/jenkins: coll/nonblocking3 timeout with xpmem debug"
[code]
It shows up on nightly tests consistently since 9/16/2020. Potential PRs that introduced the bug: #4786 #4788

I wasn't able to manually reproduce it.

[2020-09-21 02:23] oushu1fengsihan1 commented on #4669
Thanks. It works.

[2020-09-21 02:26] #4669 closed

[2020-09-21 20:12] raffenet commented on #4710
@jakebolewski I believe this commit now in `main` may have resolved this issue (https://github.com/pmodels/mpich/pull/4788/commits/51ab64ee77d5e961e0037d791304145114974e46). Can you confirm?

[2020-09-21 22:08] KaimingOuyang opened #4796 "ch4/ofi: unorder active message bug"
Bug Description:
In file `ofi_events.c` function `am_recv_event`, when arriving active message is not expected, it will be enqueued.
However, we should store the data from `wc->buf` instead of from `am_hdr` since there is a buffer copy due to the alignment requirement and `am_hdr` only contains the message header.

Another bug is when the active message type is `MPIDI_AMTYPE_SHORT`, we need to dis

[2020-09-22 02:52] hzhou commented on #4042
Here is a new thought --

The current way of implementing collective error checking is very complex, yet only with limited benefits. I think we should regard this feature as part of error checking. If we regard error checking as something that we can turn off for production run, then the cost of error checking is less of a concern relative to the cost of code complexity and maintenance. With that

[2020-09-22 03:10] hzhou commented on #4042
Reviewing the past comments, one of the concern is dead lock when one of the process went away. That is a general fault tolerance topic that needs more strategic solution. I just thought that one of the solution may be --

When we are in a progress loop for certain iterations with no progress (assuming we are trying to receive from a remote process), we should ping PMI server for whether the targe

[2020-09-22 13:46] hzhou commented on #4796
@KaimingOuyang Could you check if PR#4797 fixes the issue?

[2020-09-22 20:09] wesbland commented on #4042
What if the user sets `MPI_ERRORS_RETURN`?

[2020-09-22 20:15] hzhou commented on #4042
`MPI_ERRORS_RETURN` has no quick and easy solutions :( I am tempted to run an `allgather` error checking if user want `MPI_ERRORS_RETURN`.

[2020-09-24 03:00] #4796 closed

[2020-09-24 03:48] hzhou opened #4807 "config: unintuitive and inconsistent library options"
Currently we do not have a uniform and intuitive way of configuring external libraries which in turn will enable or disable certain features. A few examples:

* `libxpmem` will be added to the link list if it is in the library path and even when user didn't enable `xpmem`
* `libslurm` will be added and used if found in the library path even when user don't want to include it.
* `--with-pmix` will

[2020-09-24 20:56] IgorGayday opened #4812 "mpi_gather is not explicitly declared with implicit none (external) in Fortran"
Consider the following Fortran program:
[code]
An attempt to compile with `mpifort test_prg.F90 -ffree-line-length-0` (gfortran 10.2, mpich 3.3.2) results in the following error message:
[code]

Note, that there are no problems with `MPI_Init` and `MPI_Finalize`. The same program works with `mpi_f08`. So is `MPI_Gather` actually not explicitly declared in `mpi` or is this a `gfortran` bug?

[2020-09-24 22:55] hzhou commented on #4812
The difference between `MPI_Init` and `MPI_Gather` is the latter contains "choice" argument -- the `source`, `dest` can be any type. So internally `MPI_Gather` is exposed as an "interface" rather than a direct procedure name. I guess `gfortran` in this case doesn't regard the interface name as an imported name and only links them at later stage? So I am not sure whether this is a compiler bug or m

[2020-09-24 23:22] IgorGayday opened #4813 "MPI_Gather crashes (or hangs) when receiving buffer is not allocated on sending processes"
Consider the following Fortran program

[code]

Compiled with gfortran 9.3.0 and mpich 3.3.2, the program hangs during execution of `MPI_Gather`. Sometimes, instead of hanging, it prints:
[code]
and crashes.

If I uncomment the allocation of receiving buffer on sending processes, then the program works. But this should not matter, according to MPI spec.

[2020-09-24 23:38] IgorGayday commented on #4812
I tried the following test case and it worked:
[code]
Is it different from how it `MPI_Gather` is declared internally?

[2020-09-24 23:46] hzhou commented on #4812
We didn't use the the "generic " feature -- the code base was developed before "generic" is available. Strictly speaking, our usage is not standard conforming but Fortran compilers have been lenient so far :).

If we use "generic" interface, how do we express that the "choice" argument could be *any* type?

[2020-09-25 00:10] IgorGayday commented on #4812
Well, that depends on what Fortran standards need to be supported. When you say _any_ type, do you mean arbitrary derived types as well? I'm not too familiar with all the requirements and caveats, but maybe something like `class(*)` could work? But it was introduced in Fortran 2003 (I think).

[2020-09-25 00:18] hzhou commented on #4812
It is the C equivalent of `void *`, so yeah, anything goes.

[2020-09-25 00:21] hzhou commented on #4813
`MPI_Gather` collects data from each process, so certainly you need have the actual data on each process?

[2020-09-25 00:22] IgorGayday commented on #4813
I have the actual data to send (in `local`)

[2020-09-25 00:27] IgorGayday commented on #4813
Wait, I just realized there's a bug -- I reference `global` in the do loop. I think that explains it.

[2020-09-25 00:49] IgorGayday commented on #4813
Well, yes, that was the only issue here. Sorry to post it.

[2020-09-25 00:49] #4813 closed

[2020-09-25 01:27] raffenet commented on #4812
MPICH does not declare function prototypes with choice buffers in `use mpi`. This is technically against what the MPI standard mandates, but it is the current state of the library.

[2020-09-29 15:18] shintaro-iwasaki opened #4815 "Issues on running MPICH on Summit"
## Problem
The current MPICH does not run in the current Summit environment with `jsrun`. It causes an error in PMIx_Init().

## How to reproduce the issue
I used the latest MPICH and used the default MPI (IBM's spectrum MPI and its PMIx) and compile the following after loading CUDA and its GCC modules:
[code]
It shows the following error when I run `cpi`.
[code]
When I use GDB on a compute node,

[2020-09-29 15:34] hzhou commented on #4815
It was caused by Darshan, use `module unload darshan-runtime` to skip it.

[2020-09-29 16:48] shintaro-iwasaki commented on #4815
Thanks. I will check it.

[2020-10-06 15:54] Picolau opened #4827 "Question about MPICH equivalent constant of MVAPICH constant"
Good afternoon!

Although my issue is big, i just have a simple question.

I am currently developing with mpich and was running some latency and bandwidth tests using one process per GPU in a big server with multiple nodes. I am currently using the OSU benchmark and some of the tests I did worked perfectly. The problem is that some others tests, which involve CUDA managed memory or memory allocate

[2020-10-06 16:45] raffenet commented on #4827
Assuming you are building MPICH with Hydra, which is the default `mpiexec` included with MPICH, then you can use `PMI_RANK`.

[2020-10-06 16:49] raffenet commented on #4827
Oh, sorry, I misread that you were actually looking for the node-local rank. In that case, you should look for `MPI_LOCALRANKID`.

[2020-10-06 20:35] shintaro-iwasaki commented on #4815
It worked. Thanks, @hzhou! I updated the MPICH wiki: https://wiki.mpich.org/mpich/index.php/Summit

I will close this issue.

[2020-10-07 19:25] Picolau commented on #4827
Ok, will try! Thank you very much.

[2020-10-08 14:40] wesbland commented on #4042
I don't think it's easy either. That's why we have put a bunch of work into error propagation. Is this a problem of not wanting to maintain error handling code or being concerned about performance?

[2020-10-08 14:42] huanghua1994 opened #4832 "CUDA-aware MPICH 3.4b1 failed"
Hardware: Xeon Gold 6226, Mellanox ConnectX-5 ERD IB
Software: RHEL 7.6, ICC 19.0.5, CUDA 10.1, more information about IB driver see [here](https://github.com/huanghua1994/HPC_Playground/blob/master/CUDA/CUDA-aware_MPI_debug/mv2-bug-report/sys-info.txt)

Test code: simple `MPI_Sendrecv` for GPU memory buffer, code is available [here](https://github.com/huanghua1994/HPC_Playground/blob/master/CUDA/

[2020-10-08 14:57] hzhou commented on #4042
It is mainly out of concern of code maintenance and development. Currently the error propagation code is weaved inside every algorithm. It is difficult to maintain and affects the development of algorithm as well. In fact, the error checking part is still in complete as we have these collective length xfails with no sight of being fixed. I am just brainstorming here. If we can separate the error h

[2020-10-08 15:02] raffenet commented on #4832
Can you provide `src/mpl/config.log`?

[2020-10-08 15:04] huanghua1994 commented on #4832
Using which device, or all three devices?

[2020-10-08 15:08] raffenet commented on #4832
Any of them will shed some light on the issue. For actual MPICH+CUDA usage at the moment, I would recommend ch4:ucx.

[2020-10-08 15:24] huanghua1994 commented on #4832
ch4:ucx `src/mpl/config.log` uploaded [here](https://github.com/huanghua1994/HPC_Playground/blob/master/CUDA/CUDA-aware_MPI_debug/mpich-bug-report/ch4ucx-src-mpl-config.log). It seems that `conftest.c` has some problems.

[2020-10-08 15:29] raffenet commented on #4832
Those errors in the log are normal. `configure` does lots of test compiles that might fail in order to set things up internally. CUDA looks correctly detected in `src/mpl`. Can you also provide `modules/yaksa/config.log`?

[2020-10-08 15:37] huanghua1994 commented on #4832
For `modules/yaksa/config.log` please see [here](https://github.com/huanghua1994/HPC_Playground/blob/master/CUDA/CUDA-aware_MPI_debug/mpich-bug-report/ch4ucx-modules-yaksa-config.log).
For `modules/libfabric/config.log` please see [here](https://github.com/huanghua1994/HPC_Playground/blob/master/CUDA/CUDA-aware_MPI_debug/mpich-bug-report/ch4ofi-modules-libfabric-config.log)

[2020-10-08 15:40] raffenet commented on #4832
It looks like yaksa failed to fully detect CUDA. It was unable to successfully test `nvcc`, so it disabled support. Can you try adding `--with-cuda=<path/to/install>` to your configuration line instead of setting flags?

[2020-10-08 16:11] wesbland commented on #4042
But if we separate them (as you proposed with using an allgather), that's the same as removing them. Of course no one will turn on the "make my performance terrible" switch, but when there's some sort of fault that occurs, they'll wonder why they've deadlocked.

I would argue that those algorithms are incorrect. Part of designing any code is specifying which cases you want to handle and which ones

[2020-10-08 16:20] hzhou commented on #4042
I disagree. I would argue that this is in the same category  of `address-sanitizer`. There  is plenty of motivation to configure the code in a more thorough but performance non-great way and do a small scale test run before, for example, a 1 million-core-hour run.

The collective length errors are usage errors that should be caught by test runs, right?

[2020-10-08 16:23] wesbland commented on #4042
I think we're arguing for different things. I don't care about the length checking. You can take those out. It's good to have, but user errors are not what we're trying to correct.

What I don't want to see taken out is the proper returning of errors that occur during a collective call, regardless of what they are (length, out of memory, communication failure, etc.). We still need to correctly set

[2020-10-08 16:35] huanghua1994 commented on #4832
Adding `--with-cuda=<path/to/cuda/install>` works for yaksa. When I ran `./configure --help` in MPICH top directory, the output help message did not mention using `--with-cuda`, and later I saw the configuration successfully detected CUDA header files. I checked `modules/{yaksa, ucx, libfabric}/configure --help`, they all have the option `--with-cuda`. So I will suggest that also put this option i

[2020-10-08 16:47] hzhou commented on #4042
I see.

But we have to talk about the  source of the errors. Generally speaking of it blurs the question.

Case 1, dead lock from algorithm error (with correct user code). That should be fixed as bug, not the concern of error behavior.

Case 2, dead lock due to error in user program. That should be fixed by user, by employing debugging instrumentation or enabling extra error checking options. Sinc

[2020-10-08 17:27] wesbland commented on #4042
This is the part I disagree with. You're combining too many things into this category. I understand if you don't want to do excessive **fault detection** (e.g., incorrect data or fancy agreement algorithms). That's difficult and expensive.

What I *do* expect from MPICH is to do reasonable **fault propagation**. If you see an error, tell the other processes about it. This isn't hard and isn't expe

[2020-10-08 17:52] raffenet commented on #4832
I believe a similar issue already exists here: https://github.com/pmodels/yaksa/issues/114. Your info would be helpful to confirm the problem.