[2022-03-24 09:15] ThemosTsikas commented on #5892
We are thinking through simpler alternatives.

[2022-03-24 09:33] ThemosTsikas commented on #5892
Although I tried providing MPICHLIB_FCFLAGS and MPICHLIB_FFLAGS (to "-f2018 -mismatch"), configure fails telling me I also need FFLAGS set. Is that a feature or a bug?

Also, the determination of the compiler directory probably shouldn't be done at build time or installation time but at mpif90 execution time. Is that supported?

[2022-03-24 13:38] hzhou commented on #5892
It is a side effect of testsuite configure requiring `FFLAGS`. This will be fixed in the next major release.

[2022-03-24 13:40] hzhou commented on #5892
Also the `-mismatch` flag is for `mpif90` wrappers to be able to compile Fortran applications. `MPICHLIB_FCFLAGS` will not be included in the wrapper scripts.

[2022-03-24 14:46] ThemosTsikas commented on #5892
I am not sure you want to include "-mismatch" in the installed mpif90 & scripts. Standard-compliant Fortran programs will lose some of the checking abilities of the NAG Compiler if that option is passed silently.

[2022-03-24 18:45] hzhou commented on #5885
@ashwinraghu Maybe I missed it, could you provide a reproducer program?

[2022-03-25 10:03] ThemosTsikas commented on #5892
The NAG Compiler ignores IGNORE_TKR pragma.

[2022-03-25 13:49] hzhou commented on #5892
That is unfortunate. That means we have to put `-mismatch` in `mpif90` wrapper or most users won't be able to compile their Fortran MPI code.

[2022-03-25 16:55] ashwinraghu commented on #5885
Do you have the test noncontig_coll.c ?
You'll need to modify the invocations of MPI_File_set_view() to use external32 like this for instance:
...
MPI_File_set_view(fh, 0, MPI_INT, newtype, "external32", MPI_INFO_NULL);
...

[2022-03-25 17:14] hzhou commented on #5885
@ashwinraghu Got you.

[2022-03-25 17:14] ashwinraghu commented on #5885
Meanwhile, with the user's benchmark I am able to reproduce the problem using your branch built with dataloop instead of yaksa.
On running valgrind against this build I see several instances like this:
Invalid write of size 8
  at ??? (in ./benchio)
  by index_m2m (in looputil.c:644)
  by MPII_Segment_manipulate (in segment.c:664)
  by MPIR_Segment_unpack (in looputil.c:427)
  by MPIR_Typerep_unpa

[2022-03-25 18:14] ThemosTsikas commented on #5892
A better solution might be to include the option
-mismatch=MPI_xxx,MPI_yyy,MPI_zzz
which suppresses consistency checking for the specified procedures.

[2022-03-25 18:27] ThemosTsikas commented on #5892
The "-indirect <filename>" option will read options from the named file, so you can collect all of the MPI_xxx routines in a file and use that, keeping the command line relatively clean.

[2022-03-25 18:29] hzhou commented on #5892
I see. How can we do that neatly in the wrapper script -- `mpif90`?

[2022-03-26 00:05] #3910 closed

[2022-03-26 10:38] ThemosTsikas commented on #5892
First, you construct a file with the contents

and you save it in the installation directory (share subdirectory, perhaps, or bin). Then, you modify the Fortran compiler command line in the mpif90 script to include "-indirect $prefix/<filename>" in the options passed to the compiler. You can repeat the -wmismatch=<proclist> option to add more names.

[2022-03-26 14:03] hzhou commented on #5892
Okay, we'll give it a try.

[2022-03-29 09:51] chenjunyu66 opened #5914 "mplconfig.h not found."
When I make, the following error occurs, how can I solve it, thank you.
[root@localhost mpich-3.4.3]# make -j 2
  MOD      src/binding/fortran/use_mpi_f08/mpi_c_interface_types.stamp
  MOD      src/binding/fortran/use_mpi_f08/mpi_f08_types.stamp
  MOD      src/binding/fortran/use_mpi_f08/mpi_f08_compile_constants.stamp
  MOD      src/binding/fortran/use_mpi_f08/mpi_f08_callbacks.stamp
  MOD      s

[2022-03-29 12:58] dalcinl commented on #5854
Looks like the issue was bad test code in my side. I was missing synchronisation calls before deallocating (MPI-allocated) memory buffers. See mpi4py/mpi4py#185.

I apologize for the noise. I was bitten (again) by MPI RMA semantics!

Thanks for you patience, @hzhou. I'm closing this issue.

[2022-03-29 12:58] #5854 closed

[2022-03-29 13:36] hzhou commented on #5914
An earlier configure step had an error. Could you attach your `src/mpl/config.log`?

[2022-03-30 01:37] chenjunyu66 commented on #5914
Thank you very much for your reply, below is the content of /src/mpl/config.log.
This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by MPL configure 0.1, which was
generated by GNU Autoconf 2.69.  Invocation command line was

  $ ./configure --disable-option-checking --prefix=NONE --disable-versioning --enab

[2022-03-30 01:48] hzhou commented on #5914
Thanks. `config.log` looks ok. It must be the step `prefix-config` went wrong. If you have the console log during configure, check any error message. The command executed is:
[code]
And that step wasn't successful. Do you have Perl installed?

[Next time, do not paste large amount of log directly to the comment. Rather, drag the file into the comment and github will attach it. I am going to hide a

[2022-03-30 02:24] chenjunyu66 commented on #5914
Thank you very much for your reply, when I installed perl I make successfully. Since this is my first time asking a question, sorry for paste large amount of log.

[2022-03-30 02:27] hzhou commented on #5914
No worries. I am glad you resolved your issue. Can we close this issue?

[2022-03-30 02:27] #5914 closed

[2022-03-30 22:32] hzhou commented on #5788
Essentially the request is to provide an `MPIX` function that queries another process's status. This is useful for fault-tolerance in general.

[2022-03-31 03:33] zeus-cht opened #5920 "Non blocking IO problems"
About the non blocking write operation, which is MPI_File_iwrite, I wonder how to use this function correctly? In my expection, when I call MPI_File_iwrite, it should immediately return, and the process can do some computing. In this case, the IO operation and the computing operation are overlapped, and when the computing ends, I call MPI_wait to finish the IO operation. If the compute time is lon

[2022-03-31 08:07] zeus-cht commented on #5920
The code is like this:
[code]

[2022-03-31 18:35] roblatham00 commented on #5920
Your expectations about non-blocking I/O are reasonable, but that's not quite how non-blocking I/O operations are implemented in MPICH.

We have two kinds of asynchronous progress here:
-   the I/O operation makes progress when the I/O library works on the operation.  In linux libc, the AIO routines spawn a thread and work on I/O in the background.  DAOS relies on `daos_event_test` to make progres

[2022-04-01 01:26] hzhou commented on #5788
Proposed routine:
[code]

[2022-04-01 01:41] hzhou commented on #5788
Ref: https://github.com/mpiwg-ft/ft-issues/issues/15

[2022-04-01 02:02] hzhou commented on #5788
`status` can be confused with `MPI_Status`. My preferred name is `MPIX_Comm_check_alive` -- more intuitive.

[2022-04-01 02:04] hzhou commented on #5788
`MPIX_Comm_failure_ack` (proposed in ULFM) can be renamed to `MPIX_Comm_check_alive_all` 😃

[2022-04-01 14:21] abouteiller commented on #5788
Have you looked at https://www.sciencedirect.com/science/article/pii/S0167819118303867 ?

[2022-04-01 15:02] FRTL1 commented on #5788
All,

And it’s supporting FAILED images in Intel Fortran which we are talking about now.

Note that GNU Fortran uses Open Coarrays.   Intel Fortran uses Intel MPI and would like to be able to use MPICH.

               -John

From: Hui Zhou ***@***.***>
Sent: Friday, April 1, 2022 10:23 AM
To: pmodels/mpich ***@***.***>
Cc: Bishop, John E ***@***.***>; Manual ***@***.***>
Subject: Re: [pmodels/mpi

[2022-04-01 15:59] raffenet commented on #5788
Hydra supports a `"PMI_dead_processes"` key in both PMI1 and PMI2 servers. It returns a comma separated list of world rank values that the processes manager has detected to have failed. We used it to support the MPICH ULFM implementation in the past.

[2022-04-01 16:02] hzhou commented on #5788
The proposed `MPIX_Comm_get_failed(comm, &fgrp)`  (https://fault-tolerance.org/2019/08/26/simplifying-the-ack-get_acked-couple/) seems to be most straight forward interface for this purpose (discovery only, mitigation later). I am trying to get a gauge on how promising is this to be final and make into the standard at some point.

[2022-04-01 16:11] raffenet commented on #5788
Actually we still have `MPIR_pmi_get_failed_procs` in the PMI utils to get this information. Just need to glue it up with whatever API we choose to expose.

[2022-04-04 15:35] hzhou commented on #5631
I am going to close this issue. The error message is coming from lower layer due to system resource failure. To predict and control these errors at higher layer is not easy and likely adding undesirable complications -- it essentially asks to break the layer abstractions. Ultimately, this is a usage error, that we should improve our user documents to advise users.

[2022-04-04 15:35] #5631 closed, assigned to nobody

[2022-04-04 15:52] hzhou commented on #5631
As for testing, I suggest either limit number of vcis or add those tests to xfails.

[2022-04-04 20:23] #5788 closed

[2022-04-05 11:48] zeus-cht commented on #5920
Thanks！ @roblatham00 But the MPI_Test() will also  block when using DAOS file system. So I run the same test using Lustre file system, and the results met my expectations：
[code]
Thus, I think there are some problems in my way of using DAOS.

[2022-04-06 14:28] mchaarawi commented on #5920
yes indeed currently MPI_test correponds to a daos_event_test with WAIT for the function to complete.
on my side, which i implemented this, i observed that there was a hang if i added a NO_WAIT test:

[2022-04-06 14:37] mchaarawi commented on #5920
so i think ideally you want to apply this patch::
`diff --git a/src/mpi/romio/adio/ad_daos/ad_daos_io.c b/src/mpi/romio/adio/ad_daos/ad_daos_io.c
index 91ed858..10c56c4 100644
--- a/src/mpi/romio/adio/ad_daos/ad_daos_io.c
+++ b/src/mpi/romio/adio/ad_daos/ad_daos_io.c
@@ -170,14 +170,14 @@ int ADIOI_DAOS_aio_poll_fn(void *extra_state, MPI_Status * status)
     bool flag;

     /* MSC - MPICH hangs

[2022-04-06 14:53] mchaarawi commented on #5920
i'll try to do that once i get other urgent things off my plate.
as for a machine at ANL with DAOS servers, yes you have a system called Presque. you can contact Kevin H. for access to that i believe.

[2022-04-06 23:47] #2106 closed

[2022-04-07 13:59] #5885 closed

[2022-04-08 14:23] Mengjintao opened #5936 "unknown type name ‘regex_t’ compiling slurm_query_node_list.c"
I download mpich-3.3.2.tar.gz and configure it with "./configure --enable-fortran=no".
the "make" command is terminated with the following information.   Can you help me to fix this install issue?

 CC       tools/bootstrap/external/slurm_query_node_list.lo
tools/bootstrap/external/slurm_query_node_list.c: In function ‘list_to_nodes’:
tools/bootstrap/external/slurm_query_node_list.c:55:5: error: u

[2022-04-08 14:27] hzhou commented on #5936
Could you attach `src/pm/hydra/config.log`?

[2022-04-08 21:59] hzhou commented on #5867
I am trying this on Cori with the current main branch, but I can't even get past the init:
[code]
Turning on `FI_LOG_LEVEL=debug` shows:
[code]
Quite mysterious to me. I'll try static configuration (`--with-device=ch4:ofi:gni`) next.
[code]

[2022-04-09 07:18] dalcinl opened #5937 "pm: cannot build gforker and remshell"
All my builds using `--with-pm=gforker` are broken: https://github.com/mpi4py/mpi4py-testing/actions/runs/2139048195

For example, look this log: https://github.com/mpi4py/mpi4py-testing/runs/5951439920?check_suite_focus=true

[code]

In addition, you can see the following unrelated format warnings:

[code]

[2022-04-09 15:58] hzhou commented on #5937
Thanks for the report. Hopefully, PR #5939 fixes it. I'll do a separate PR to fix the warnings.

[2022-04-11 16:43] mchaarawi commented on #5920
it sounds like this issue was fixed at some point, as my tests with nowait pass now. ive created a PR for this fix:
https://github.com/pmodels/mpich/pull/5941

[2022-04-11 23:32] #5937 closed

[2022-04-12 03:42] Mengjintao commented on #5936
Hi hzhou,
     I just attached src/pm/hydra/config.log[config.log](https://github.com/pmodels/mpich/files/8469348/config.log)
     Please check, thanks for your reply.

Jintao

[2022-04-12 05:00] hzhou commented on #5936
Try edit `src/pm/hydra/tools/bootstrap/external/slurm_query_node_list.c` line `12` , replace "HAVE_SLURM_SLURM_H" with "HAVE_LIBSLURM".

The later versions should have this fixed already.

[2022-04-12 13:12] mchaarawi commented on #5920
@roblatham00 @hzhou could you please inspect the patch? i don't have permission to add reviewers there. thanks

[2022-04-13 15:53] #5835 closed

[2022-04-13 18:06] hzhou commented on #5936
@Mengjintao Did you resolve this issue?

[2022-04-15 14:09] #5827 closed

[2022-04-15 14:50] #5871 closed

[2022-04-15 16:37] hzhou commented on #5936
Close due to lack of response.

[2022-04-15 16:37] #5936 closed

[2022-04-16 16:36] dalcinl opened #5952 "configure: wrapper rpath/runpath"
I'm using latest tarball release. MPICH's configure used to accept `--disable-wrapper-rpath`, which is not gone. I tried configuring with either `--enable-wrapper-dl-type --with-wrapper-dl-type=none` or `--disable-wrapper-dl-type`. No matter what I try, I always get:
[code]
so the compiler wrapper is always passing `-Wl,-rpath -Wl,$PREFIX` to the backend C compiler.

Am I missing something? How I

[2022-04-16 17:00] dalcinl commented on #5952
I got confused. Passing `--with-wrapper-dl-type=none` does the expected thing. Sorry for the noise.

[2022-04-16 17:00] #5952 closed

[2022-04-19 20:13] hzhou commented on #5600
Currently the `am-only` path is hardwired to use vci 0. That may have some incompatibility since the window synchronization may use a different vci.

[2022-04-21 13:54] ashwinraghu opened #5962 "Improve scalability of MPI_Win_allocate_shared"
### Discussed in https://github.com/pmodels/mpich/discussions/5931

<div type='discussions-op-text'>

<sup>Originally posted by **ashwinraghu** April  6, 2022</sup>
A field report noted the execution time of MPI_Win_allocate_shared() increasing with the amount of memory being allocated. e.g. on a single node with 4 ranks, it takes 3 secs for 8GB, 6 secs for 16GB and 12 secs for 32GB.
I did some in

[2022-04-21 14:01] ashwinraghu commented on #5962
Note that MPI_Win_allocate() will still need to ensure the symmetry of the allocation across ranks and so check_maprange_ok() may yet need to be improved upon. E.g. doing msync() on multiple pages instead of one at a time might be worth looking at.

[2022-04-21 18:06] Samg381 opened #5964 "Debug Event Logging Issue"
Hello all,

I have just built MPI from scratch in Linux with the -enable-g  flag enabled, and am looking to obtain the MPI log file for a python program I wrote.

Unfortunately, I receive the error “Could not open log file log/templog…” when using mpiexec to run the program.

I am executing the program with the following arguments: mpiexec -n 4 python3 test.py

Any assistance would be appreciated.

[2022-04-21 18:14] hzhou commented on #5964
Please read the guide on [debug event logging](https://wiki.mpich.org/mpich/index.php/Debug_Event_Logging).

Did you set `MPICH_DBG_FILENAME` to `log/templog`? If so, make sure you have or create the `log` directory.

[2022-04-21 18:18] Samg381 commented on #5964
Thank you for the prompt reply! I did read the guide, and I changed the `MPICH_DBG_FILENAME` environment variable to `log/templog`, however I do not know where to check for / create the `log` directory - could you point me to the right location? I am using Debian linux.

[2022-04-21 18:20] hzhou commented on #5964
You should create the `log` directory from your working directory -- where you launch `mpiexec`. You also could simply set `MPICH_DBG_FILENAME` to `templog`, then it should dump the log file to your current working directory.

[2022-04-21 18:28] Samg381 commented on #5964
Thank you so much- very silly error on my part. I set the `MPICH_DBG_FILENAME` environment variable to `templog` and got the log file I was looking for! Really appreciate the help.

Now to dissect these logs...

[2022-04-21 18:28] #5964 closed

[2022-04-21 23:03] hzhou commented on #5962
I am pretty sure it is not intentional to try symmetric allocation on the shared window since it only has a single allocation anyway. I believe this is either a bug in the original implementation or we have somehow introduced the bug at some point.

This is curious. I suspect the proportion might be co-incidence. A larger size may result in more attempts to find a suitable range from random genera

[2022-04-22 14:35] hzhou commented on #5962
@ashwinraghu Could you test https://github.com/pmodels/mpich/pull/5966?

[2022-04-25 19:45] raffenet opened #5971 "ch4/rma: Possible bug in lockall/unlockall protocol"
When extending `test/mpi/threads/perf/mt_rma_msgrate.c` to use lockall for synchronization (#5693), ch4 with multiple VCIs would hang or crash during the test with high frequency. Adding `MPI_MODE_NOCHECK` resolved the crashes, but it should work without it. Creating this issue to dig into the lockall/unlockall mode and find out what is causing the bad behavior.

[2022-04-25 21:19] hzhou commented on #5971
When it crashes, can we obtain a backtrace?

[2022-04-26 13:53] raffenet commented on #5971
Yes. I'll capture some and paste here.

[2022-04-26 15:29] raffenet commented on #5971
Example 1:
[code]
Example 2:
[code]
Also these warnings from UCX occasionally show up, indicating maybe some self messages are not completing as expected?
[code]
Disabling the UCX `self` transport eliminates the hangs and crashes. Will try with ch4:ofi next...

[2022-04-26 16:19] raffenet commented on #5971
No crashes with ch4:ofi configuration. I recall having issues with `ch4:ucx` active messages over the self transport in the past, but I thought they had resolved. Will dig around some more...

[2022-04-26 16:27] raffenet commented on #5971
I think I found the issue. Patch coming.

[2022-04-27 14:54] nitbhat opened #5975 "ch4/ofi: p_red times out with psm3"
I've seen these psm3 timeout for some other tests too. This was seen during the per-commit testing of the PR that adds the psm3 capability set. (https://github.com/pmodels/mpich/pull/5864)

[code]

[2022-04-27 17:44] hzhou opened #5976 "stream: remaining issues and todos"
This issue identifies the remaining TODOs on MPIX streams. Ref. PR #5953

* [x] am-only fallback paths to use multiple vci
       Currently, it is hard-wired to use vci 0.
* [x] inherit streams on `MPI_Comm_dup` etc and inherit streams for internal communicators.
* [ ] More collective testing
* [ ] More RMA testing
* [x] MPIX_Start_progress_thread / MPIX_End_progress_thread

[2022-04-27 18:20] #5971 closed

[2022-04-27 18:35] Piccions opened #5977 "Segmentation fault on Mrecv()"
MPICH 4.0.2 segfaults when Mrecv-ing an asynchronously sent message whose request has been freed.
I reproduced the bug both on MacOS Catalina and Ubuntu 20.

Here I include a minimal reproducer program.

[code]

[2022-04-27 19:03] raffenet commented on #5977
I'm pretty sure the bug is in the ch4 "self" protocol. If you send-recv between 2 different ranks, does the test succeed?

[2022-04-27 19:12] Piccions commented on #5977
Hello! Yes, the test does indeed succeed between two ranks.

[2022-04-27 20:55] raffenet commented on #5977
@Piccions thanks for the report and follow-up. I have created a PR that should fix the issue in `main`.

Would you allow us to adapt your reproducer code to our test suite? We'd require a signed contributors agreement, if so. See https://www.mpich.org/documentation/contributor-docs/.

[2022-04-27 21:10] Piccions commented on #5977
Sure, I just sent the completed form via email. Please, do as you wish with that small snippet of code.
Thanks for the extremely quick fix!

[2022-04-27 21:40] hzhou opened #5980 "ch4: cancel_recv need be nonblocking in ofi"
I am revisiting PR #4430. The motivation was valid. We probably just need flag in `MPIDI_NM_mpi_cancel_recv` indicating whether it need be blocking or nonblocking. Potentially we need fix it if we want `MPIDI_anysrc_try_cancel_partner` work with other netmod, e.g. UCX.

I see. Then it seems me that a redesign of `MPIDI_anysrc_try_cancel_partner` and its usage in shmod and AM is required.

_Origina

[2022-04-28 13:56] ashwinraghu commented on #5962
First attempt at cherry-picking wasn't successful. Lots of conflicts to deal with. Busy with some high priority issues currently as well..

[2022-04-29 09:22] pistachio-xin opened #5982 "Some bugs when running mpiexec"
Hi, everyone,
When I run the code 'mpiexec - n 90 ./lcode sampler.cfg', there are some bugs as following.
![image](https://user-images.githubusercontent.com/81011698/165917947-eedf9cc1-17c4-402e-993d-08099c7cce67.png)
Thank you very much If anyone can help me.

[2022-04-29 12:58] hzhou commented on #5982
Which MPICH release is this? Does it work with less processes? Could you try with the latest release (https://www.mpich.org/downloads/)?

[2022-04-29 13:34] pistachio-xin commented on #5982
Thank you a lot!
I will try the latest MPICH as you share.
Here is my MPICH release,
![image](https://user-images.githubusercontent.com/81011698/165954260-4f0f6234-1f83-422d-9145-3511a726db1f.png)
And maybe it is the main error:
![image](https://user-images.githubusercontent.com/81011698/165954432-dee3c93e-5667-4c45-9527-6e1ac6facd0f.png)

[2022-04-29 13:37] hzhou commented on #5982
You should contact Intel support for Intel MPI. We can help but we won't be able to resolve your issue.

[2022-05-02 22:21] #5977 closed

[2022-05-04 04:16] hzhou opened #5987 "ch4/ofi: libfabric psm3 causing segfaults"
We used to have this error, ref. https://github.com/pmodels/mpich/pull/5499#issuecomment-900388091.  Now that https://github.com/pmodels/mpich/pull/5864 reenabled psm3, we are seeing this error again with nightly tests `noweak` config.
[code]

The error is in the psm3 deconstructor where it frees memory allocated during init. Somehow, the deconstructor is being called twice.

[2022-05-04 06:23] cuiyc2000 opened #5988 "MPICH and load balancing"
When running my code using MPICH in cluster， is there any possibility to use LVS or other tools to load balancing?

[2022-05-04 15:35] cuiyc2000 commented on #5988
Oh!  I see. Many thanks.

[2022-05-05 05:11] #5988 closed

[2022-05-06 14:52] gcorbin opened #5991 "f08: Undefined reference to mpi_op_create_c"
Here is a small working example.

This can be compiled:
[code]

And this can also be compiled:
[code]

But linking those (MPICH 4.0., gcc 9.4) gives an

Doing the same for MPI_Op_create (without _c) works.

Also, this
[code]
results in

The same applies to mpi_register_datarep_c.
As far as I can tell, these are the only cases (I am working on an MPI wrapper and have configure checks that compile a

[2022-05-06 16:32] hzhou commented on #5991
That was an omission. Thanks for reporting.

[2022-05-06 19:45] hzhou commented on #5975
The failing test was:
[code]

In particular, following tests passed:
[code]

[2022-05-06 19:52] hzhou commented on #5975
np=4 pass, but np=5 fail

[2022-05-06 20:19] hzhou commented on #5975
Backtrace:
[code]

[2022-05-06 20:21] hzhou commented on #5975
KARY = 3 --
[code]

[2022-05-06 20:29] hzhou commented on #5975
Just did a test run -- looks very much like a compiler optimization bugs
![image](https://user-images.githubusercontent.com/1496702/167212157-4ad031dc-902b-4446-8ce5-59167c5dc466.png)

[2022-05-07 10:26] dalcinl opened #5995 "[mpi4py] Regression in ch3 builds with indexed datatype test"
All builds: https://github.com/mpi4py/mpi4py-testing/actions/runs/2285899461

From one of the failing ch3 build logs:

[code]

[2022-05-07 14:17] hzhou commented on #5995
FYI: there were no changes to ch3 or datatype related last week in MPICH. Also, our nightly tests are clean -- https://jenkins-pmrs.cels.anl.gov/job/mpich-main-mpi4py/label=centos64,netmod=ch3-tcp/
We test from the default branch in https://github.com/mpi4py/mpi4py.

[2022-05-08 08:10] dalcinl commented on #5995
I found the problem, and I believe it is not mpi4py's fault.

My CI builds configure MPICH with `--disable-fortran`. However, in the installed `mpi.h` header file, I see the following:

[code]

and there is the problem, `MPI_LOGICAL` is not the null datatype. mpi4py test suite is not prepared for non-null but non-functional predefined datatype with size zero:

[code]

Any chance this regression is

[2022-05-08 08:27] dalcinl commented on #5995
Also, this probably means that something in ch3 is broken in `MPI_Type_indexed_c` for the case of zero-size datatypes.

Here you have a reproducer:

[code]

[2022-05-08 14:15] hzhou commented on #5995
Ahh, indeed, the fault (with logical) is on us :)

I'll check. My gut feeling is that zero-size datatype shouldn't be allowed.

[2022-05-08 14:54] hzhou commented on #5995
Other than `MPI_Type_create_resized`, I think creating any other derived datatype based on a zero-sized datatype should result in a zero-sized datatype. I.e.  in `src/mpi/datatype/type_create.c`, we should check for base datatype size and return `MPII_Type_zerolen(newtype)` when base size is 0. @raffenet What do you think?

[2022-05-08 15:31] dalcinl commented on #5995
What about datatype decoding?

[2022-05-08 15:35] hzhou commented on #5995
I guess you are referring to `MPI_Type_get_content`? That is separately maintained, and should be not be affected.

[2022-05-10 01:46] jbsparks opened #5999 "vbdujibejlrciuerviiehgblrvuculncut"

[2022-05-10 02:33] #5999 closed

[2022-05-10 04:18] #5995 closed

[2022-05-11 19:38] #5975 closed

[2022-05-12 19:52] dalcinl opened #6004 "pt2pt: MPI_Isendrecv with MPI_PROC_NULL"
I'm adding missing tests for the MPI-4 `Comm.Isendrecv[_replace]` methods in mpi4py.

Looks like the new MPI-4 routines `MPI_Isendrecv[_replace]_c`  from MPICH (maint branch) do not handle `MPI_PROC_NULL` properly.

If you try to run the reproducer below, it deadlocks at the `Wait()` for the requests. If you comment out the line `src = dst = MPI.PROC_NULL`, the script finishes to completion.

[cod

[2022-05-12 19:57] dalcinl commented on #6004
Looks like the gforker+ch3 combination works, but not the others.
https://github.com/mpi4py/mpi4py-testing/actions/runs/2313993117

[2022-05-13 00:41] hzhou commented on #6004
Looks like we missed the case when both `src` and `dst` are `MPI_PROC_NULL`.

[2022-05-13 12:46] FRTL1 commented on #5788
What does this mean for a user of MPICH?   Is MPIX_Comm_get_failed implemented?   Will it be part of the MPI standard or an MPICH extension?

[2022-05-13 13:57] hzhou commented on #5788
Yes, `MPIX_Comm_get_failed` is implemented in MPICH, available in mpich-4.1a1. Until the ULFM proposal be voted in, it will remain an MPICH extension.

[2022-05-14 04:31] #6004 closed

[2022-05-15 14:03] gongshuaiqi opened #6008 "cpi test failed on arm and x86, thanks"
my english is not good, i am sorry ^_^
i test cpi by four processes (-n 4), two of them are on x86(node 1) and two are on x86(node2), it is ok.
i test cpi by four processes (-n 4), all of them are on x86(node 1) but master are on x86(node2), it is ok.
i test cpi by four processes (-n 4), all of them are on x86(node 1) but master are on arm(node3, nvidia tx2), it is ok.
i test cpi by four processes

[2022-05-15 15:18] hzhou commented on #6008
Heterogeneous computing is not supported at this point.

[2022-05-16 11:12] gongshuaiqi commented on #6008
thank you！

---- Replied Message ----
| From | Hui ***@***.***> |
| Date | 05/15/2022 23:18 |
| To | ***@***.***> |
| Cc | ***@***.******@***.***> |
| Subject | Re: [pmodels/mpich] cpi test failed on arm and x86, thanks (Issue #6008) |

Heterogeneous computing is not supported at this point.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you auth

[2022-05-16 16:34] hzhou commented on #5987
This is due to namespace collisions and was fixed by libfabric upstream. It is now fixed by https://github.com/pmodels/mpich/pull/6006

Ref:
* https://github.com/ofiwg/libfabric/issues/7757
* https://github.com/ofiwg/libfabric/pull/7521

[2022-05-16 16:35] #5982 closed

[2022-05-17 10:50] zsalvet opened #6010 "TCP ports are always bound to INADDR_ANY"
TCP ports are always bound to INADDR_ANY (open to Internet)
even when user asks for specific interface or address (like localhost)
via MPIR_CVAR_NEMESIS_TCP_NETWORK_IFACE or MPIR_CVAR_CH3_INTERFACE_HOSTNAME.
Connection attempt from any external entity can trigger an assert
easily (e.g. in recv_id_or_tmpvc_info()) , there is absolutely no authentication
involved.

[2022-05-17 12:43] hzhou commented on #6010
What is your use case that this is an issue?

[2022-05-17 13:24] zsalvet commented on #6010
Security port scans appear to crash an app using MPICH on our cluster ocassionally
(there is also potential of abuse between different users, it is difficult to secure such
ports externally without large performance and functionality impact, IMO).

[2022-05-17 14:01] zsalvet commented on #6010
Unfortunately, we are getting assertions in ch3:nemesis much more often than in hydra:
 Assertion failed in file src/mpid/ch3/channels/nemesis/netmod/tcp/socksm.c at line 572: hdr.pkt_type == MPIDI_NEM_TCP_SOCKSM_PKT_ID_INFO || hd        r.pkt_type == MPIDI_NEM_TCP_SOCKSM_PKT_TMPVC_INFO

I made simple hotfix by replacing failing assert path with "*got_sc_eof = 1; goto fn_exit;"
(was able to apply

[2022-05-17 14:09] hzhou commented on #6010
OK, I'll investigate and see to add some basic checks for ch3. Note that device ch3 are legacy device and only will receive minimum maintenance. If deploying new MPICH is an option, we strongly recommend using the ch4 device.

Hehe, `HYD ` is a secret word. It should serve the same purpose as any other secret word for the purpose of preventing port scans. If you are aiming to defend against *delib

[2022-05-17 14:44] zsalvet commented on #6010
Can you give me some pointer to "best" or standard practice, if MPI is the wrong layer ?

[2022-05-17 14:53] hzhou commented on #6010
I would suggest preventing accessibility to your cluster from external internet altogether. You can launch your jobs using a login node or launch node.

[2022-05-17 15:14] zsalvet commented on #6010
Acessibility from external internet is the easy part. We would like to allow our (many) users to connect
to running jobs where desirable (imagine e.g. interactive Jupyter notebook or  RStudio lanching MPI backend
computations, visualizations running in Cactus framework etc.) and allow running multiple smaller jobs (owned by different
users, potentially) on single (manycore) machine. If connections

[2022-05-17 20:08] Samg381 opened #6013 "MPICH will not build with MPE"
When configuring MPICH with the following command:
`./configure --with-mpilibs="[-L$PREFIX/lib] -lmpich -lmpl" --with-mpiinc="-I$PREFIX/include" --with-mpicc=$PREFIX/bin/mpicc`

The configuration completes, however with the following error:
`configure: WARNING: unrecognized options: --with-mpilibs, --with-mpiinc, --with-mpicc`

How do I configure MPICH with MPE enabled?

[2022-05-17 21:36] roblatham00 commented on #6013
Wow, MPE is old school.  I hope it still works but we have not touched that code since 2015.

We don't build MPICH with MPE enabled.   Instead, think of MPE as an external library that uses MPI

Please try https://github.com/pmodels/mpe

For example, I was able to configure MPE against my MPICH installation like this

    configure CC=mpicc FC=mpifort MPI_F77=mpifort

[2022-05-19 16:25] Samg381 commented on #6013
I will be testing this shortly and reporting back. Appreciate the responses thus far- I will close if I have success.

[2022-05-24 14:25] #5626 closed

[2022-05-24 14:29] hzhou commented on #4258
@sagarth The nightly ch3-FreeBSD tests has been clean for a while. Is this still an issue or should we close it?

[2022-05-24 14:34] hzhou commented on #5553
@sagarth Do you still see these failures? I suspect this is of the same nature as https://github.com/pmodels/mpich/issues/5975. Could you try add `psm2` to the following branch and see if it fixes the issue? --https://github.com/pmodels/mpich/blob/36aaebbf6db2bb5a15a5ea8b7e18422f12d61e18/src/mpid/ch4/netmod/ofi/ofi_init.c#L864-L869

[2022-05-24 15:27] hzhou commented on #3957
The direction has been moved toward always build testsuite after installing mpich. In fact, we have made the testsuite a stand-alone package (https://github.com/pmodels/mpich/pull/5067, https://www.mpich.org/downloads/).

There is a separate `make check` target that is intended for simple verification for a build before the install stage. Currently, it is very basic -- it just runs the `cpi` examp

[2022-05-24 17:46] hzhou commented on #3469
The handle leak still can happen with the ch4:ofi netmod. Unlike ucx, libfabric will happily close its resource without checking for pending communications. Thus, we'll need our separate mechanism to keep track of pending requests.

It can be reproduced with current main branch. Just build with `--enable-g=all` and run the test in a loop. It reproduces the leak failure 1/100 or so. If we replace a

[2022-05-24 19:51] brianjmurrell commented on #3957
Q: https://github.com/pmodels/mpich/issues/3957#issuecomment-519132400
A: https://github.com/pmodels/mpich/issues/3957#issuecomment-519145129

If it's the latter, why?

We want to use the tests to test the DAOS ROMIO driver.

[2022-05-24 20:00] hzhou commented on #3957
I see. In that case, I think having a stand-alone testsuite will fit your goal nicely. You can just run the `io` tests from the testsuite. It remain a todo to port the entire ROMIO tests into testsuite. That is on my todo.

[2022-05-24 21:15] sagarth commented on #5553
@hzhou In our internal code, we have been using this barrier for psm2. The barrier has helped resolve this problem.

[2022-05-24 21:18] sagarth commented on #4258
@hzhou  We do no test ch3 locally. If it is clean at Argonne's testing, that's probably a good sign that these failures are resolved and that we can close this issue now.

[2022-05-24 21:35] hzhou commented on #4258
Sounds good

[2022-05-24 21:35] #4258 closed

[2022-05-24 21:37] hzhou commented on #5553
Ahh, then we should apply the fix to the main branch.

[2022-05-26 16:16] Samg381 commented on #6013
I was able to build MPE with the help of this thread - thank you @roblatham00
**Unfortunately, I failed to realize MPE is no longer compatible with Python which is a requirement for my project.**

Could someone recommend a logging library that would allow me to instrument a Python application? I am specifically trying to capture communication events between threads.

Any recommendations would be a

[2022-05-26 16:21] hzhou commented on #6013
Could you elaborate? Are you sending self messages between threads?

[2022-05-26 16:44] Samg381 commented on #6013
Certainly. I have a simple Python program with a few `comm.Bcast` and `comm.Gather` calls that I would like to have logged. I am interested in how long each thread takes to complete the task. **I am trying to accomplish this without having to touch the source code**, as there may come a time where I need to capture the same data from a program whose source code is not available. Ideally this would

[2022-05-26 16:50] hzhou commented on #6013
@dalcinl Do you know/recommend any easy way to do profiling in Python?

[2022-05-26 21:55] #5980 closed

[2022-05-27 03:14] #2795 closed

[2022-05-27 07:53] dalcinl commented on #6013
@Samg381 I guess you are attempting to use MPE to do MPI profiling while using mpi4py?

MPE could still be used with mpi4py, as long as you manage to build MPE as a shared library. I had a lot of code to do that automatically in mpi4py, but given that MPE has lagged behind, I eventually removed some stuff.
Again, MPE can still be used easily within mpi4py, as long as you have MPE built as a shared

[2022-05-27 08:44] dalcinl opened #6028 "MPI-4: Issues with the MPI_ERRORS_ABORT error handler"
I'm wondering why `MPI_ERRORS_ABORT` was defined with a last '3' in the hex value. Too late to change, this would affect the ABI.

[code]

I was adding more tests to mpi4py, and this is obviously causing problems. MPICH has no current test (?), otherwise you would have catched the issue before.

[code]

[code]

I guess bumping  `MPIR_ERRHANDLER_N_BUILTIN`  to 4 would fix it? It would be bit weird,

[2022-05-27 14:04] hzhou commented on #6028
That must be a typo. We were burning thin in the rush of getting 4.0 out. We should've always added a test no matter how trivial it is. Thanks! @dalcinl

[2022-05-27 15:43] hzhou commented on #6028
Actually -- https://github.com/pmodels/mpich/blob/b17b04db1dbc3afd00349c72be48ef56d0b97db9/src/include/mpi.h.in#L423-L430
We have `MPIR_ERRORS_THROW_EXCEPTIONS` defined with `0x54000002`. The mistake was forgetting to raise `MPIR_ERRHANDLER_N_BUILTIN`.

Now I revisiting the issue, we haven't really implemented the semantics `MPI_ERRORS_ABORT` correctly. Let me try fix it, and add some tests.

[2022-05-27 18:34] wkliao opened #6030 "valgrind messages"
I got some valgrind warning messages when running MPICH 3.4.3 and later, including
the main branch. There is no warning message when using 3.4.1. Below shows the
messages when using the latest main branch.
[code]

[2022-05-27 18:59] hzhou commented on #6030
I am not able to reproduce it. It's clean on my end
[code]
Any chance to translate those backtrace addresses?

[2022-05-27 19:37] wkliao commented on #6030
As you can see from the output of mpichversion, I have already used option `--enable-g=dbg`.
Apparently that option is not propagated into PMI (assuming PMI is what mpiexec is built ..?).

I can run 3.4.1's mpiexec command using the a.out compiled with the main branch without valgrind messages, i.e.
[code]

[2022-05-27 19:48] hzhou commented on #6030
That's interesting. Could you confirm that everything the same, but 3.4.1's mpiexec works and 3.4.2's mpiexec leaks?

[2022-05-27 19:57] wkliao commented on #6030
I confirm that 3.4.1 works but not the latest main branch 511d942

How do I check whether hwloc is installed on my system?
I am not using embedded hwloc, as you can see the configure command
used from my mpichversion output.

When I run valgrind on mpiexec, I got the followings.
[code]

[2022-05-27 20:01] hzhou commented on #6030
There are a lot changed between 3.4.1 and the current main branch, but if you can confirm between 3.4.1 and 3.4.2 or 3.4.3, we can significantly narrow down the changes.

Simply `ldd Github/bin/mpiexec` and `ldd a.out` can tell the external linkage.

[2022-05-27 20:27] wkliao commented on #6030
I am building 3.4.2 now and will let you know.
In the meantime, please check this new valgrind message.
It is because test_loc is not freed properly. I was able to heck and silence it.
[code]

[2022-05-27 20:32] hzhou commented on #6030
@wkliao Could you check above in the meantime? I recall we have switched from default embedded hwloc to external hwloc at some point and I vaguely recall older hwloc is not valgrind clean. That may explain why I don't see the leaks on my end.

[2022-05-27 20:34] wkliao commented on #6030
[code]

[2022-05-27 20:38] hzhou commented on #6030
Could you try configure `main` branch with `--with-hwloc=embedded` (and confirm the result with `ldd`)? I suspect the leak is from `/lib64/libhwloc.so.15`, which also explains why the address is not in symbols.

[2022-05-27 20:40] wkliao commented on #6030
I found that 3.4.2 yield the similar valgrind messages as the latest main branch.
[code]

[2022-05-27 20:49] wkliao commented on #6030
Here are the ldd outputs when configuring the main branch with --with-hwloc=embedded
[code]
valgrind still spews the similar messages.
[code]

[2022-05-27 20:51] hzhou commented on #6030
Could you try `Github/bin/mpiexec -n 1 valgrind --quiet --leak-check=full ./a.out`?

[2022-05-27 20:54] wkliao commented on #6030
Similar message.
[code]

[2022-05-27 20:59] hzhou commented on #6030
My suspicion is in `libpciaccess.so.0 => /lib64/libpciaccess.so.0 (0x00007f4c1ccda000)`

[2022-05-27 21:09] hzhou commented on #6030
@wkliao Could you try pass configure options `--with-hwloc=embedded --disable-pci`?

[2022-05-27 21:18] wkliao commented on #6030
Same messages
[code]

[2022-05-27 21:20] hzhou commented on #6030
Well, not exactly the same, the call stack gets shallower :) Could you confirm with `ldd` again?

[2022-05-27 21:24] wkliao commented on #6030
I just skip the long messages by showing the first few lines. Here is the full message.
[code]

[2022-05-27 21:45] hzhou commented on #6030
Could you try setting `CFLAGS=-g`  on the configure line to just make sure the flags pass down to sub modules. I am almost sure this is from hwloc. Let's try to confirm it first.

[2022-05-27 21:48] wkliao commented on #6030
I have been using -g all the time.
[code]

[2022-05-27 21:57] hzhou commented on #6030
Alright, back to square zero. The changes from 3.4.1 to 3.4.2 are:
[code]

[2022-05-27 22:01] hzhou commented on #6030
Very strange, there is no `hydra` changes (the only two commits were reverted) between 3.4.1 and 3.4.2

[2022-05-27 22:42] hzhou commented on #6030
It is also very strange that that valgrind has no clue about the address, not even which binary the address is from. @wkliao do you have any preloaded library (e.g. `LD_PRELOAD` environment)? Frankly, I have exhausted clues.

[2022-05-27 23:09] wkliao commented on #6030
`LD_PRELOAD` is not set in my environment.

[2022-05-27 23:36] wkliao commented on #6030
I added `--with-pm=gforker` into my configure command line
and now the valgrind messages are gone.
[code]

[2022-05-28 00:03] wkliao commented on #6030
I notice that gforker is must slower than hydra on my redhat machine.

[2022-05-28 18:00] wkliao commented on #6030
I just found out my 3.4.1 was built with `--with-pm=gforker`.
So, I guess my valgrind problem happens to all MPICH versions using hydra.

[2022-05-28 19:42] wkliao commented on #6030
I added `--keep-debuginfo=yes --num-callers=100` to valgrind command
which prints out more call stacks. Do they reveal anything to you?
[code]

[2022-05-29 00:36] hzhou commented on #6030
Yes, it says the memory allocated in `getaddrinfo` (https://github.com/pmodels/mpich/blob/316d72adeded3e3c42c69d2c7d7d1ae3c782dc49/src/mpl/src/sock/mpl_sockaddr.c#L101-L112) is leaked. But as you can see, we did call `freeaddrinfo`. So I am not sure what went wrong.

[2022-05-30 06:10] dalcinl commented on #5413
@hzhou @raffenet Should we reopen this issue? As I do not have access to the in-development MPI standard documents, I'm not really sure whether `MPI_Status_set_elements_c` was added as an errata to 4.0 or an upcoming revision 4.1. Note that the MPI-forum issue do have a `mpi-4.0` label.

[2022-05-30 13:54] dalcinl opened #6034 "Datatype: MPID_THREAD_CS_ENTER in getter routines"
Do you really need to MPID_THREAD_CS_ENTER in the following getter routines?

[code]

[2022-05-30 14:35] hzhou commented on #6034
I think we can skip the critical section for `MPI_Type_get_envelope`. `MPI_Type_get_contents` need update the reference count of the datatypes it returns. `MPI_Type_get_name` need protect against `MPI_Type_set_name`.

[2022-05-31 16:23] hzhou commented on #6030
Good effort in digging out the real source of the leaks! @wkliao

[2022-05-31 16:55] wkliao opened #6037 "mpiexec runs much slower than OpenMPI in Github Actions"
I run two github action workflows for PnetCDF. One is using MPICH and the
other OpenMPI. They both run many small 4-process jobs (command: make ptest)
and all MPI jobs run on the same local host node. The MPICH version is always much
slower than OpenMPI. The times of the latest runs show
* [1h 17m 43s](https://github.com/Parallel-NetCDF/PnetCDF/runs/6664740690?check_suite_focus=true) for MPICH and

[2022-05-31 17:24] wkliao commented on #6030
Thanks for looking at this!

[2022-05-31 17:40] hzhou commented on #6037
I have two tips:
* `export HWLOC_XMLFILE=path/to/hwloc.xml`
   `MPICH` will probe hardware from each process that can be very slow at init time. Supply a pre-geneated hwloc config XML file should by pass it. https://www.open-mpi.org/projects/hwloc/doc/v2.3.0/a00353.php

* If gpu awareness is not required, disable it by e.g. `--without-cuda`.

[2022-05-31 18:25] wkliao commented on #6037
Could you please help me with an example for creating the xml file?
I wonder how come OpenMPI does not have such problem.

[2022-05-31 21:55] wkliao commented on #6037
The HWLOC_XMLFILE approach does not improve. I am still getting a similar long time.
I am building mpich 4.0.2.

[2022-05-31 22:54] wkliao commented on #6037
I used `--with-device=ch4` and make hangs at `Making install in modules/yaksa`.
[code]

[2022-05-31 23:51] hzhou commented on #6037
Did you somehow hide the lines such as `CC xxx.lo`? `make` in yaksa is going to take a while, are you sure it is hanging?

[2022-06-01 02:03] wkliao commented on #6037
I re-ran to build MPICH with ch4, which took 31 minutes.
PnetCDF's `make ptest` is still slow, taking 1 hour 9 minutes.

[2022-06-01 14:54] wkliao opened #6038 "make distclean error"
Got the following errors when running VPATH `make distclean`. Main branch is used.
[code]

[2022-06-01 15:00] hzhou commented on #6037
I just tried building PnetCDF on my local linux, and `make ptest` only took 38 sec. @wkliao Could you check the attached make log and see if I am missing anything?
[t.log](https://github.com/pmodels/mpich/files/8815328/t.log)

[2022-06-01 15:23] hzhou commented on #6037
Somehow every test seems ran twice:
[code]

[2022-06-01 15:30] wkliao commented on #6037
This is because configure option `--enable-burst_buffering` is used.
It runs each test twice, once for using burst buffering feature, one not.

What puzzles me is why the same configure settings used in both
OpenMPI and MPICH and MPICH is much slower than OpenMPI.

[2022-06-01 15:34] wkliao commented on #6037
I believe it is because github actions are running on a virtual environment.

[2022-06-01 15:39] wkliao commented on #6037
If that is the case, then I have no idea why github actions is slower.
The issue remains: OpenMPI's mpiexec runs faster than MPICH.

[2022-06-01 15:48] hzhou commented on #6037
Is there a way to show timestamp of each test?

[2022-06-01 16:17] wkliao commented on #6037
Yes. On the top-right corner, click the gear icon and click show timestamps and full screen.

[2022-06-01 20:43] ghost opened #6040 "configure: automatically add -std=legacy to FFLAGS & FCFLAGS"
Good afternoon,
Not sure if this has occurred or been talked about yet but on Ubuntu 22.04 there is a compiler error that occurs when using mpich 4.0.2
The error is:
"Error: Rank mismatch between actual argument at (1) and actual argument at (2) (rank-1 and scalar)
make: *** [Makefile:40: bio_emiss.o] Error 1"
The fix to this is to add the flag -std=legacy to FFLAGS & FCFLAGS. 

https://www.scivis

[2022-06-01 21:12] hzhou commented on #6040
Which function in `bio_emiss` triggers the error? Is it using `include 'mpif.h'` or `use mpi`? Could you also verify `mpif77 -show` and `mpifort -show`?

[2022-06-01 21:20] whatheway commented on #6040
Not 100% certain what you are asking but I will include what I think you are asking...sorry not a programmer just a meteorologist.

My version of mpich is 4.0.2.

compilers: gfortran/gcc/g++ version 11.2.0
mpich built in directory $HOME/WRF/Libs
zlib v1.2.12
jasper 1.900.1 (only version supported by WRF)
libpng 1.6.37 (only version supported by WRF)

./make_util megan_bio_emiss

[2022-06-01 21:22] whatheway commented on #6040
Correction bio_emiss is for a different bug.  The one related to this topic.  Let me post the correct bug. I apologize

[2022-06-01 21:25] roblatham00 opened #6041 "romio: extend binding generation to ROMIO"
the info hints block are processed by python binding layer. Currently that does not include ROMIO. :disappointed:

So, you can't do info hints block in ROMIO yet. Not until someone extends the binding generation to ROMIO

Currently ROMIO does its own binding layer logic and it does not conform to how mpich does it.

[2022-06-01 21:26] whatheway commented on #6040
[configure.output.txt](https://github.com/pmodels/mpich/files/8818893/configure.output.txt)

[2022-06-01 21:28] whatheway commented on #6040
However, I found that -fallow-argument-mismatch is only a GCC10 and above flag.  For GCC9 or less -std=legacy is the flag.  Also -std=legacy also is available in GCC10 and above.

[2022-06-01 21:30] hzhou commented on #6040
Also find `mpif77` and `mpifort` from your mpich installation directory then run
`path/to/mpif77 -show`
`path/to/mpifort -show`
and show the output.

[2022-06-01 21:34] whatheway commented on #6040
[code]
[code]

[2022-06-01 21:35] hzhou commented on #6040
Oh, you are referring to the error in configure. Just rerun the configure as prompoted:

[2022-06-01 21:38] whatheway commented on #6040
Sorry for the confusion.  I found that -fallow-argument-mismatch works only with gfortran/g++/gcc10+ for my gfortran/g++/gcc9 build I have to use -std=legacy.

-std=legacy is compatible with all version of gfortran/gcc/g++ so my request is that be added to the FFLAGS & FCFLAGS by default so it runs without having to rerun the configure.

Again sorry for all the confusion.

[2022-06-01 21:44] hzhou commented on #6040
Adding these flags have consequences of compiling user Fortran code, not just mpich, that's why we do not automatically add these flags. User have to explicitly add them so they are aware of the consequence -- ignoring the argument checking.

We improved the logic in mpich-4.1a1 that we automatically add this flag in `mpif77` and removed the need of adding this flag in `mpifort`. If your source co

[2022-06-01 21:48] #6040 closed, assigned to nobody

[2022-06-02 15:13] #6028 closed

[2022-06-03 04:13] #6034 closed

[2022-06-10 06:25] BenWibking opened #6049 "hydra: cannot build with PBS support"
I tried to configure MPICH with `./configure --with-device=ch4:ucx --with-ucx=/apps/ucx/1.12.0 --with-pbs=/opt/pbs/default`, but it fails with:

[code]

This cluster uses PBS Pro... is that supported, or does PBS support in MPICH actually mean PBS/torque?

[2022-06-10 12:28] BenWibking commented on #6049
It looks like changing `torque` to `pbs` on this line https://github.com/pmodels/mpich/blob/dad7946b2df04f26f7edcb01e1da1bb01f4bfa2e/src/pm/hydra/configure.ac#L256

allows `configure` to succeed. This builds and appears to work fine with PBS Pro.

[2022-06-10 12:46] hzhou commented on #6049
As you discovered, that is the case. I guess we should probe both `-lpbs` and `-ltorque`.

[2022-06-10 13:42] hzhou commented on #6049
@BenWibking Would you be able to verify the fix in #6050?

[2022-06-10 14:26] BenWibking commented on #6049
It configures successfully:
[code]

but it also emits a spurious (?) warning message:
`configure: WARNING: unrecognized options: --with-pbs`

The build then fails:
[code]

[2022-06-10 16:12] hzhou commented on #6049
@BenWibking The warning message of unrecognized options is spurious since that is passed down to `hydra`'s configure. I updated the patch in PR #6050, could you give it another try?

[2022-06-11 03:37] BenWibking commented on #6049
I still get:

[code]

[2022-06-11 03:56] hzhou commented on #6049
That looks fine. Does `make` succeed?

[2022-06-11 03:57] BenWibking commented on #6049
Yes, it builds now.

[2022-06-11 04:01] #6049 closed

[2022-06-11 05:53] samyaghoubi opened #6053 "mpich error in WRF installing"
Hi
I tried for installing mpich 4.0.2 but there was a configure error and was not built makefile for installing. my ubuntu version is 22.04 LTS. i have sent our error photo.
thanks
sam

[error-terminal.zip](https://github.com/pmodels/mpich/files/8883343/error-terminal.zip)

[2022-06-11 14:40] hzhou commented on #6053
Please try
[code]

[2022-06-12 11:09] samyaghoubi commented on #6053
Hi, dear hzhou
thanks so much. my problem was solved.you are excellent. where i can acquire information about this problem?
the best
sam

[2022-06-12 23:29] hzhou commented on #6053
The requirement of setting these flags has been removed in the development branch. For stable release, the error message should have stated what needs to do.

[2022-06-15 14:37] hzhou commented on #6053
@samyaghoubi Shall we close this issue?

[2022-06-15 19:47] #6053 closed

[2022-06-16 13:39] oshkosher opened #6056 "bug: Memory leak in MPI_Irecv with strided datatype and MPI_ANY_SOURCE"
In mpich-4.0.2 there seems to be a memory leak in MPI_Irecv when using
a strided datatype and MPI_ANY_SOURCE.

ZIP file with sample program, config, make, and make install logfiles (c.txt, m.txt, mi.txt) attached:
[irecv_leak.zip](https://github.com/pmodels/mpich/files/8919310/irecv_leak.zip)

This is happening when running test jobs on a single Linux machine.

I noticed it first from some automat

[2022-06-16 16:35] hzhou commented on #6056
We issue both a shm receive and netmod receive. Upon shm matching, we internally cancel the netmod receive. There is more clean up missing in the ofi cancel path, causing the leaks.

Thanks for reporting! @oshkosher

[2022-06-17 04:36] praveenvatsh opened #6060 "problem during mpich2 make with slurm and pmi2"
src/util/mpir_pmi.c:842:53: error: unknown type name 'PMI_keyval_t'
  842 | static int mpi_to_pmi_keyvals(MPIR_Info * info_ptr, PMI_keyval_t ** kv_ptr, int *nkeys_ptr);
      |                                                     ^~~~~~~~~~~~
src/util/mpir_pmi.c:843:30: error: unknown type name 'PMI_keyval_t'
  843 | static void free_pmi_keyvals(PMI_keyval_t ** kv, int size, int *counts);
      |

[2022-06-17 14:26] hzhou commented on #6060
This has been fixed in the current main branch and in 4.1a1.

mpich-4.0.1 should work with Slurm with the default PMI-1. @praveenvatsh What is your configure line?

[2022-06-17 14:44] praveenvatsh commented on #6060
@hzhou

./configure --prefix=/home/psingh.iitr/library/mpich2/mpich2.install --with-slurm=/usr/include/slurm --with-pmi=pmi2 --with-pm=no --with-pmi-libdir=/usr/lib64/slurm CPPFLAGS=-I/usr/include/slurm LDFLAGS=-L/usr/lib64/slurm

Got the same error with the ver 4.0.2, also.

[2022-06-17 16:00] praveenvatsh commented on #6060
@hzhou

[psingh.iitr@login06 mpich-4.1a1]$ srun --mpi=list
srun: MPI types are...
srun: cray_shasta
srun: none
srun: pmi2

I need pmi2 because pmi1 is not available.

Got error with ver 4.1a1 also,

make[2]: Entering directory `/home/psingh.iitr/library/mpich2/mpich-4.1a1'
  CC       src/util/lib_libmpi_la-mpir_pmi.lo
src/util/mpir_pmi.c: In function 'MPIR_pmi_set_threaded':
src/util/mpir_pmi.c:25

[2022-06-17 17:37] hzhou commented on #6060
Could you try
[code]

Slurm supports both pmi-1 and pmi-2. They use `pmi2` to refer to both.

[2022-06-17 20:53] #6056 closed

[2022-06-17 22:52] praveenvatsh commented on #6060
make[3]: Leaving directory `/home/psingh.iitr/library/mpich2/mpich-4.0.2/src/mpi/romio'
make[2]: Leaving directory `/home/psingh.iitr/library/mpich2/mpich-4.0.2/src/mpi/romio'
Making all in .
make[2]: Entering directory `/home/psingh.iitr/library/mpich2/mpich-4.0.2'
  CC       src/binding/c/attr/lib_libmpi_la-attr_delete.lo
In file included from ./src/include/mpiimpl.h:82,
                 from sr

[2022-06-17 23:52] hzhou commented on #6060
The slurm `pmi.h` is usually packaged separately. For Ubuntu, try `apt install libpmi0-dev`.

With mpich-4.1a1, you can also try `--with-pmi=pmi2 --with-pmilib=slurm` to use pmi2 with Slurm. While it works, last time I checked, slurm will spew warning messages due to some internal glitches.

[2022-06-20 06:36] praveenvatsh commented on #6060
@hzhou

Thank you
Problem is resolved

[2022-06-20 06:36] #6060 closed

[2022-06-23 10:09] bilias commented on #6060
Is this solved with mpich-4.1a1 or with mpich-4.0.2 as well?

--with-pmi-libdir is not listed in configure of 4.0.2, neither --with-pmilib (I guess these are new options).
--with-pmi=slurm loads pmi.h and not pmi2.h, at least this is what I see in src/pmi/slurm/subconfigure.m4

  CC       src/util/lib_libmpi_la-mpir_pmi.lo
src/util/mpir_pmi.c:842:53: error: unknown type name ‘PMI_keyval_t’; did yo

[2022-06-23 14:46] hzhou commented on #6060
@bilias This is only fixed in the main branch and mpich-4.1a1. For mpich-4.0.2 and older releases, your suggested patch should work. However, I would recommend simply configure mpich with `--with-pmi=slurm`, which, I believe, will use use PMI1. What Slurm calls "PMI2" in fact includes both PMI1 and PMI2, and to my knowledge, PMI1 works more stable than PMI2.

[2022-06-27 07:32] D-teg opened #6068 "Error in building MPICH"
my platform and prerequisites：
mpich-4.0.2
Ubuntu：5.4.0
Gcc，G++，GNU Fortran：10.3.0

I use the
` ./configure --prefix=/home/.../mpich-4.0.2/mpich-install   FFLAGS=-fallow-argument-mismatch  FCFLAGS=-fallow-argument-mismatch --with-cross=/home/home/.../mpich-4.0.2/cross`
to configure successfully.

But when I build MPICH,error comes from the source file.
For example
`src/gpu/mpl_gpu_cuda.c: In funct

[2022-06-27 17:42] hzhou commented on #6068
If you do not need cuda support, try configure with `--without-cuda`.

[2022-06-28 21:26] AtlantaPepsi opened #6070 "Problems configuring MPICH tests (and questions for stream tests)"
Hello, I'm currently trying to build MPICH 4.1 to test the GPU stream triggered communication APIs, I'm building on Perlmutter with modules supporting cuda 11.5 and GPUDirect. And I've encountered several issue so far.

After building MPICH, I first tried to build the MPICH test suites with `./configure --enable-gpu-tests-only --with-mpi={PATH_TO_MPI}`, and I received following message:
[code]
wei

[2022-06-29 01:12] hzhou commented on #6070
checking for gcc... ~/opt/pm-2022.05.0/mpich/4.0/ofi/1.0/nvidia/20/x86-milan_nvidia80//bin/mpicc
checking whether the C compiler works... no
[code]

[2022-06-29 01:22] hzhou commented on #6068
@D-teg As for the cuda error, it is possible that cuda version mismatch. What is your cuda version?

[2022-06-29 07:51] D-teg commented on #6068
Thank you for your advise, I use `--without-cuda` when configuring and then build MPICH successfully.
My cuda is V7.5.17. And what what kind of version is appropriate？

[2022-06-29 13:50] hzhou commented on #6068
MPICH is tested with cuda 10.0 and above.

[2022-06-29 15:29] AtlantaPepsi commented on #6070
Sure, I'll paste all of it at the end of this comment with environment variables, sorry for the load

It kept saying `~/opt/pm-2022.05.0/mpich/4.0/ofi/1.0/nvidia/20/x86-milan_nvidia80//bin/mpicc: No such file or directory`, but it very literally is there:
[code]

It's the `MPIR_Assert` 3 lines down that failed, I don't know what's the actual cuda error. Speaking of which, is there any convenient w

[2022-06-29 16:03] hzhou commented on #6070
No problem. Here is a link (https://www.gnu.org/software/autoconf/manual/autoconf-2.69/html_node/Setting-Output-Variables.html) to explain that. The variable substitution is a bit overused in our case.

[2022-06-29 17:05] AtlantaPepsi commented on #6070
Great! It works (although I have no idea why since both ~ and $HOME refers to same path).

I finished building the stream tests under `impls/mpich/comm`, it reports "No Errors" so I might have written/run something wrong in my own code using stream APIs. I'll just look deeper into the example code and perhaps try cuda error checks from MPL.

Anyway, thank you so much for your help and advice @hzho

[2022-06-29 17:51] hzhou commented on #6070
Let's close this issue and open new ones if necessary. Alternatively, try github Discussions.

[2022-06-29 18:20] raffenet commented on #6037
Also I guess I should try to clarify, why do we think that `mpiexec` is the slow part? Is there some additional breakdown of time spent showing that its `mpiexec` that is slow? Or are we just comparing MPICH vs. OpenMPI and their associated launchers?

[2022-06-29 19:55] #6070 closed

[2022-06-29 22:25] wkliao commented on #6037
The trick of `-with-device=ch3:sock` seems to work.
The time has been significantly reduced from 1h 30 m to 19 m.

[2022-06-30 16:03] raffenet commented on #6037
Thanks for confirming. This an another piece of evidence supporting adding a configuration in ch4 that can run without busy-polling. Whether that is ch4:sock or something else.

[2022-07-10 17:44] #6037 closed

[2022-07-11 18:51] lykke-li opened #6075 "hcoll: mpiexec -env MPIR_CVAR_ENABLE_HCOLL=1 issue"
When run MPI program with `-env MPIR_CVAR_ENABLE_HCOLL=1` , it will call Segmentation fault.

For example, I tried the broadcast with osu benchmark (I didn't change the code) with `mpiexec -np 2 -bind-to core:2 -env MPIR_CVAR_ENABLE_HCOLL=1 -env LD_LIBRARY_PATH=$LD_LIBRARY_PATH -genv MPIR_CVAR_NOLOCAL=1 ./osu_bcast`,  the output is:
[code]

and when I remove the `MPIR_CVAR_ENABLE_HCOLL` and run wi

[2022-07-11 20:00] hzhou commented on #6075
@lykke-li Could you try change this line - https://github.com/pmodels/mpich/blob/3e9d72b0d74321fd7eb023ade57e6dd3dc918bcf/src/mpid/common/hcoll/hcoll_init.c#L105

to `MPIR_Add_finalize(hcoll_destroy, 0, 6);` ?

[2022-07-11 21:16] lykke-li commented on #6075
@hzhou thanks for your reply! But I still meet the same fault after pulling the 3e9d72b and changing the line of code.

and I noticed there are some warnings while I build the MPICH (but didn't call errors):
for the `make`:
[code]
for the `make install`:
[code]
Do they have any relationship with the hcoll fault?

[2022-07-12 16:57] raffenet commented on #6075
@lykke-li those warnings can be ignored. They are just related to some non-existent paths in the libhcoll.la file which is out of our control. Make is still able to link the library. There should be no impact on runtime.

[2022-07-12 22:46] hzhou commented on #6075
I am not sure what is going on in `hcoll_finalize()`. Since it is in finalize, you can try just comment out https://github.com/pmodels/mpich/blob/3e9d72b0d74321fd7eb023ade57e6dd3dc918bcf/src/mpid/common/hcoll/hcoll_init.c#L105 to suppress the segfaults.

[2022-07-13 03:39] hzhou commented on #6075
We finalized the builtin comms, esp. comm_world, before calling hcoll_finalize. `hcoll_finalize` still accesses comm_world (for world size and rank).

[2022-07-13 17:54] #6075 closed, assigned to nobody

[2022-07-15 20:42] #1620 closed

[2022-07-15 23:43] #6068 closed

[2022-07-16 00:59] eschnett opened #6080 "Add generic MPI pkgconfig descriptors"
cmake recently gained support to use pkgconfig to detect MPI options (see https://gitlab.kitware.com/cmake/cmake/-/merge_requests/6537/diffs). This is useful e.g. when cross-compiling.

This patch looks for pkgconfig setups called `mpi-c`, `mpi-cxx`, and `mpi-fort`. It would be good if MPICH provided such configuration, in addition to the `mpich.pc` that it already provides.

[2022-07-16 01:13] hzhou commented on #6080
I see. So essentially to split/duplicate `mpich.pc` into `mpi-c`, `mpi-cxx`, and `mpi-fort`. Is it `mpi-c` or `mpi-c.pc`?

[2022-07-16 01:45] eschnett commented on #6080
I believe it should be `mpi-c.pc`. Of course, the proof of the pudding will be in the eating, i.e. making a modern version of `cmake` find the correct build options even when `mpicc` is absent or (intentionally) broken.

[2022-07-16 02:14] hzhou commented on #5976
The remaining todo on testing are more open-ended and it is less productive for this issue to track. Closing.

[2022-07-16 02:14] #5976 closed

[2022-07-16 02:35] hzhou commented on #5171
Closing this issue since we merged #6074 and we replaced all `MPIR_gpu_malloc_host` with `MPL_malloc`. It is still worth pursuing to use genq pool and pipelining. Moving this issue into internal todo.

[2022-07-16 02:35] #5171 closed

[2022-07-16 02:47] hzhou commented on #5600
I believe this is fixed by commit 8dc3ca94987d46507ee27cfca5bc0b647507be28

[2022-07-16 02:47] #5600 closed

[2022-07-16 02:49] hzhou commented on #4417
Close issue due to stale and lack of response.

[2022-07-16 02:49] #4417 closed

[2022-07-16 02:50] hzhou commented on #3665
ch3:ofi has been removed. Use ch4:ofi instead.

[2022-07-16 02:50] #3665 closed

[2022-07-16 03:01] hzhou commented on #3562
I believe the issue was a misunderstanding, or no longer true. When we need send non-contig data via IOVs, we use separate pack buffer for iov array rather than the fixed `iov[3]` in am headers. The fixed `iov[3]` are specifically for am headers and data payload, which is finite by code design. In another word, the iov_limit and FI_ASYNC_IOV is decoupled.

[2022-07-16 03:01] #3562 closed

[2022-07-16 03:06] hzhou commented on #3975
If we define macros in `mpichconf.h` such as `MPIDI_DEVICE_CH3`, `MPIDI_DEVICE_CH4_OFI`, etc. then we could macro-guard `mpir_cvar.h` and `mpir_cvar.c`, hopefully, achieve what is intended by this issue.

[2022-07-16 03:09] hzhou commented on #4480
We are now default to test `psm3`.

[2022-07-16 03:09] #4480 closed

[2022-07-16 03:12] hzhou commented on #4371
It may be cleaner to let hydra accept an option `-portrange low:high`, and set appropriate netmod portrange variables. With libfabric, each providers have their own variables. It'll be a mess trying to explain all these to the user.

[2022-07-17 14:26] dubf commented on #5811
Greetings MPICH team

I am trying to build mpich-4.0.2 from MacPorts, it is a dependency for the Octave math software I'm trying to install.
It always fails with the same error message given by the OP:

I have tried adding these flags manually to the command as well as to several of the configure & make files (in the macports build directory: `/opt/local/var/macports/build/_opt_local_var_macports_

[2022-07-17 16:20] hzhou commented on #5811
@dubf Try set environment variables
[code]

[2022-07-18 06:15] k202077 opened #6083 "bug: MPI_MIN and unsigned integer types"
Hello,
It looks like reduce operations using `MPI_MIN` interpret unsigned integers as signed ones in MPICH 4.0.2 (e.g. for `MPI_UNSIGNED_LONG`: `MIN(0, ULONG_MAX) = ULONG_MAX`). The following C-code reproduces this issue:
[code]

[2022-07-18 07:43] dubf commented on #5811
@hzhou Thanks a lot for your reply.

I had tried your suggestion in a similar way before; unfortunately it doesn't work. These are the last 11 lines of the `main.log` when I run `sudo port install mpich`:

I've attached [main.log](https://github.com/pmodels/mpich/files/9130174/main.log) and [config.log](https://github.com/pmodels/mpich/files/9130189/config.log).

Two things have caught my attentio

[2022-07-18 15:26] raffenet commented on #5811
You're environment settings are likely getting lost because of `sudo`. You could try doing `sudo -E port install mpich` to preserve the flags. I'm not sure if this will cause other issues with MacPorts, however.

[2022-07-18 15:33] hzhou commented on #6083
I tried your code and did not reproduce your failures. The test ran without any error output. Could you attach your `config.log` and `mpi.h`?

[2022-07-18 16:10] dubf commented on #5811
@raffenet Interesting idea, thanks for the input. It didn't make any difference though.

[2022-07-18 16:22] hzhou commented on #5811
How about `sudo FFLAGS=-fallow-argument-mismatch FCFLAGS=-fallow-argument-mismatch port install mpich`?

[2022-07-18 16:43] dubf commented on #5811
@hzhou Had tried that one already. Just confirmed it gives the same result.

[2022-07-18 17:31] hzhou commented on #5811
Ahh, thanks. Apparently, macport always blindly overwrites user-set compiler flags. I took a look at their repository -- https://github.com/macports/macports-ports/blob/3dcd708af94761a0e313f4acdddf631cb4443a87/science/mpich/Portfile#L286-L293
They only check whether the C compiler is `gcc-10` or `gcc-11`. In your case, the C compiler is `clang`, but `gfortran` is from `gcc`.
You may try build mpic

[2022-07-18 18:00] dubf commented on #5811
@hzhou Thanks a lot for finding that out! I'll file an issue at MacPorts.

Could you tell me how exactly I replace `clang` with `gcc` for compiling?

[2022-07-18 18:32] dubf commented on #5811
I just tried building it manually, using the options macports provided. Had to remove several flags which weren't recognized:
`-isysroot`
`-stdlib`
`-arch`
`-m64`

Added the flags:
`FCFLAGS=-fallow-argument-mismatch`
`FFLAGS=-fallow-argument-mismatch`
`CC=/opt/local/bin/gcc-mp-12` (not sure if this is correct)

So this was the command used:
`sudo ./configure --prefix=/opt/local --disable-dependenc

[2022-07-18 20:04] hzhou commented on #1650
I believe this issue is resolved with #5929

[2022-07-18 20:06] #5991 closed

[2022-07-18 20:19] hzhou commented on #2184
Just tested with the current main branch with `ch4:ofi`, the performance degradation no longer shows:
[code]

[2022-07-18 20:23] hzhou commented on #2184
Recompile with ch3 (dataloop), it confirms the issue:
[code]

[2022-07-18 20:36] hzhou commented on #2184
With `ch3`, commenting out the `struct` datatype --
[code]
Thus, the issue lies in the struct datatype in dataloop

[2022-07-18 21:03] hzhou commented on #2184
I am closing this issue since `dataloop` code is in maintenance mode and we understand the root cause of this issue now.

[2022-07-18 21:03] #2184 closed

[2022-07-18 21:12] hzhou commented on #1987
I have no clue what this is about. Searching `MPIU_INSTR_` digs up this page: https://github.com/pmodels/mpich/blob/main/doc/wiki/design/Internal_Instrumentation.md

[2022-07-18 21:16] jeffhammond commented on #2184
Thanks for the detailed analysis. Agree on not fixing.

[2022-07-19 12:41] dubf commented on #5811
@hzhou @raffenet
Reporting back:

- Building mpich manually worked, but macports did not recognize it as installed (hardly a surprise), so it was no solution.
- Was able to get macports to build mpich by modifying the portfile, thanks to @hzhou's hint.

I copied
- `configure.fflags-append -fallow-argument-mismatch`
- `configure.fcflags-append -fallow-argument-mismatch`

outside of the [if-statemen

[2022-07-19 15:00] k202077 commented on #6083
Attached are the `config.log` and `mpi.h` from two different system, which showed this issue.

[check_mpich.zip](https://github.com/pmodels/mpich/files/9142271/check_mpich.zip)

[2022-07-19 15:36] raffenet commented on #1987
It looks like the old instrumentation code was removed in https://github.com/pmodels/mpich/commit/606f9b687230dcd3537e538e6983f8e7b573cd76. My best guess for this issue is that the author wanted a way to print out any active PVARs at finalize with an environment variable. Should be fairly straightforward.

[2022-07-19 16:32] hzhou commented on #6083
Those logs looks okay. Could you show a console log of running the test on your system?

[2022-07-19 16:55] raffenet commented on #1987
Just nitpicking this is for PVARs, not CVARs. Maybe we should just add both.

[2022-07-20 05:27] k202077 commented on #6083
[code]

[code]

[2022-07-20 12:43] dalcinl opened #6084 "Possible minor regression: singleton MPI initializatino and MPI_APPNUM"
This is with MPICH 3.4.3:
[code]
Note: mpi4py returns `None` when an attribute is not set.

This is with mpich/main:
[code]
This time, the attribute is set to zero.

I personally like the former behavior, as it allowed users to know whether the the process was running under singleton MPI initialize mode.

PS: Sorry for being so picky. Some mpi4py tests relied on APPNUM not being set to figure out

[2022-07-20 12:50] dalcinl commented on #6084
For example, name publishing with singleton MPI init is not working:

[code]

Then, in my testing for singleton MPI init support, I could figure out that I have to disable name publishing tests if the `MPI_APPNUM` attribute is not set.

[2022-07-20 13:01] dalcinl commented on #6084
On a somewhat related issue, under singleton MPI init, now MPICH sets the `MPI_UNIVERSE_SIZE` of `MPI_COMM_WORLD` to `1`. This could quite misleading. Perhaps it is better not to set the attribute at all?

I do have code depending on whether the attribute is set or not [[link]](https://github.com/mpi4py/mpi4py/blob/master/src/mpi4py/futures/_lib.py#L951). Although this code uses a fallback value o

[2022-07-20 14:05] #5207 closed

[2022-07-20 14:34] hzhou commented on #6083
I found the bug. I appreciate your patience. I was testing on the current main branch, which contains a not directly related patch that hides the bug. The bug is in the new `MPIR_Typerep_reduce`. I will try to fix it shortly.

[2022-07-20 16:39] dalcinl opened #6086 "session: fix MPI_Session_get_nth_pset out-of-bound check"
[code]

[2022-07-20 18:16] #6083 closed

[2022-07-20 19:17] hzhou commented on #6084
Hmm, I am not seeing it.

[code]

[2022-07-21 06:06] dalcinl commented on #6084
@hzhou Sorry, you are definitely right, I screwed up. I was probably using an mpi4py build linked with Open MPI.

[2022-07-21 06:06] #6084 closed

[2022-07-21 06:53] k202077 commented on #6083
Thanks for fixing this issue!

During my initial investigation, I noticed that the MPICH unit tests did not cover this case...

[2022-07-22 13:58] dalcinl opened #6089 "PingPong performance: comm_world vs (parent + spawn)"
See the attached reproducer [pingpong.c.txt](https://github.com/pmodels/mpich/files/9167929/pingpong.c.txt).

This example is a Send+Recv (PingPong) test between a pair of MPI processes, considering the following two scenarios:
* If run with two MPI processes, PingPong between ranks 0 and 1 of COMM_WORLD.
* If run with one MPI process, a new child process is spawned with MPI_Comm_spawn, and then P

[2022-07-22 15:36] hzhou commented on #6089
The communications with spawned processes go through netmod while COMM_WORLD uses shared memory for intra-node.  The netmod performance depends on the libfabric provider. The default sockets provider is not particularly optimized. I am not sure why ch4 shared memory latency is so much higher in ch4 (18.63 vs 3.94). We'll investigate.

[2022-07-22 20:32] dalcinl commented on #6089
That's what I was suspecting. Would it be too much complicate for parent and children processes to connect via the faster shared memory channel if parent and child run on the same node? Dynamic process management has always been a sort of second class citizen in MPI world :disappointed:.

[2022-07-22 20:43] dalcinl commented on #6089
I just did a manual build of `mpich/main` with `ch3:nemesis`, and I got similar latency as with v3.4.3 from the Fedora package. So yes, `ch4:ofi` seems to have significantly higher latency than `ch3:nemesis`, at least in my workstation.

[2022-07-22 20:56] hzhou commented on #6089
It will be much more complicated. If we need to put dynamic processes to the first class, we'll need to redesign the library, so maybe ch5. Every shift of focus in redesign, we gain something and lose something. The shared memory performance you are witnessing between ch3 and ch4 is of this nature.

I think dynamic process in HPC will always be of second class. But maybe we can propose something i

[2022-07-25 16:33] hzhou commented on #6089
@dalcinl Refer to my testing in https://github.com/pmodels/mpich/pull/6072. `ch4` design polls both netmod progress and shm progress individually in each progress loop, thus if an empty netmod progress poll is significant, this may explain the large shm latency penalty you observed. The effect of this ch4-design penalty may be amplified by relative latency between shm performance and netmod empty

[2022-07-25 16:39] hzhou commented on #6089
It may be interesting if you compare the `ch3` vs `ch4` numbers on the macOS. Different architectures have different shm and sockets latency, which may exhibit different latency effects.

[2022-07-25 19:15] #6086 closed

[2022-07-25 19:33] dalcinl commented on #6089
Is there any easy way to disable netmod polling to verify (maybe commenting source code if needed)? Any pointers?

[2022-07-25 19:36] dalcinl commented on #6089
I compared ch4 from Homebrew with ch3 from conda-forge on Apple Silicon (M1), and ch4 is faster by a factor of 3 for 64KiB messages. But take that with a grain of salt, as Homebrew is built with -O3 and conda-forge with -O2, the compiler version are not the same, etc. I should to try a manual builds of ch3 and ch4 with same optimization flags and compiler.

[2022-07-25 19:39] hzhou commented on #6089
I commented out these lines in my testing - https://github.com/pmodels/mpich/blob/1c277e198ce838f5afa711f3cb2baa30844da94b/src/mpid/ch4/src/ch4_progress.h#L96-L100

[2022-07-25 19:41] hzhou commented on #6089
That's interesting.

[2022-07-25 19:48] hzhou commented on #6089
One thing to note is on X86 some atomic operations can be as fast as non-atomic operations, that can be a very significant factor in shm performance. I believe ARM atomic operations may be slower (because it cheats less).

[2022-07-27 17:05] brandongc opened #6094 "C++ datatype availability coupled to C++ binding support"
From MPI 4.0

[code]
Table 3.4 lists
`MPI_CXX_{BOOL|FLOAT_COMPLEX|DOUBLE_COMPLEX|LONG_DOUBLE_COMPLEX}`

In `configure.ac` the flag to enable the C++ bindings

[code]

Also controls if those datatypes are enabled

[code]

Should the availability of those data types be decoupled from support of the C++ bindings?

[2022-07-27 18:21] hzhou commented on #6094
I personally agree. We'll have a discussion on this.

[2022-08-01 14:05] hzhou commented on #6089
@dalcinl Is it okay to close this issue?

[2022-08-01 14:36] dalcinl commented on #6089
Well, if you guy do not plan to take any immediate action on it, then feel free to close it.

[2022-08-01 14:57] hzhou commented on #6089
I am afraid no immediate action can be taken. Let me convert this into a discussion, to accumulate priority while collecting ideas.

[2022-08-02 15:45] dalcinl opened #6101 "Sessions: Issues after second init/fini round without MPI_Init"
# Reproducer

[code]

# Unexpected Behavior
[code]

[2022-08-02 16:41] hzhou commented on #6101
Thanks for reporting. We are waiting for users to report this issue to motivate us to complete the grunt work of fully clean finalizing :). I suspected we have quite a few places where we do not re-initialize the data to a clean state after finalizing.

[2022-08-02 18:49] jjellio commented on #6094
Sandia Lab's Trilinos has hit this - and we absolutely would like C++ interop to work - and we have no desire for the deprecated C++ bindings. (we hit it through Cray's mpich)

@lukebroskop @alanw0 @JaredCrean2

[2022-08-02 18:54] hzhou commented on #6094
We have discussed and we are on board with the proposal. Expect pull request soon.

[2022-08-02 18:56] jjellio commented on #6094
Great! Thanks. I mentioned our HPE rep (luke) - as well as the code team that hit it on our end. Thanks for the quick response!

[2022-08-03 19:20] #6094 closed

[2022-08-04 15:01] tonyzinger opened #6105 "test: Invalid test results files when testing is terminated."
I have a Jenkins job that is executing the mpich tests.  When the Jenkins job hits its time limit and kills the mpich testing jobs, the summary.xml and summary.junit.xml files are invalid and incomplete.

The summary.xml file begins with :
[code]

and ends with (depending on when it gets terminated):
[code]
The last <MPITEST> entry is not completed, i.e. ends with a </MPITEST>.
And it does not hav

[2022-08-04 15:17] hzhou commented on #6105
When a Jenkins job hits its time limit, the script can't wrap the XML file since the script is killed by Jenkins. We only support complete XML report if the runtests script runs to completion.

Maybe you can add a post processing job step to cleanup/wrap the partial `summary.xml` when the job is killed by timeout?

[2022-08-08 17:08] hzhou commented on #6105
@tonyzinger Did you find the above answers helpful?

[2022-08-08 18:20] tonyzinger commented on #6105
@hzhou No because I do not know what XML entry is being written or partially written.  So I do not know what I need to add to close out the last entry.  Also, I do not know what the test results information to put into the <testsuite ... entry.

Would it be possible to add a try block round the test execution script to catch various errors, i.e. timed out?
This is probably not related but I notice

[2022-08-08 18:31] hzhou commented on #6105
The time-out is set by Jenkins,and the test script is killed by Jenkins, thus, there is nothing the test script can do once it is killed. Whatever the solution should come from the Jenkins side -- either increase the timeout setting or modify the job parameters so that the tests can finish within the timeout.

The mpich test script runs each test with some timeout setting as well. When the test fa

[2022-08-08 19:46] tonyzinger commented on #6105
The stage in the jenkins job that I am executing the Mpich tests in has a timeout value of 15 hours.  This was a sufficient amount of time in most test sessions even with many Mpich tests timing out.  For example, "350 tests failed out of 2464 (total runtime: 813 min 46 sec)".  But more often than not this is not enough time.  Since I do not understand the Mpich tests it is very difficult to deter

[2022-08-08 20:12] hzhou commented on #6105
I see. Could you try add an additional Jenkins job step with following shell code --
[code]
Hopefully, when Jenkins kills the job, it is in the middle of running a test rather than in the middle of writing `summary.junit.xml`.
If your summary.junit.xml is in a different relative path, adjust accordingly.

[2022-08-08 20:20] tonyzinger commented on #6105
If the test run is terminated, then the <testsuites>, <testsuite>, </testsuite> and </testsuites> entries are not in the xml file.  So all 4 of these lines would need to be added to the xml file.  2 of them at the beginning of the xml file and 2 of them at the end of the xml file.

[2022-08-08 20:55] hzhou commented on #6105
I see. Maybe try --
[code]
Hopefully Jenkins will be able to parse the XML and report something.

Usually when large amount to tests timeout, something severe is wrong and you should be able to catch that with a subset of tests. How about create a separate Jenkins tests where you run a customized `testlist`, for example
[code]
before `make testing`.

You should only run the whole test suite after

[2022-08-09 19:29] hzhou commented on #2022
Hmm, I tried it again today and can't reproduce it --
[code]

[2022-08-09 19:48] jedbrown commented on #2022
Still a problem for me.
[code]

This still works correctly with ompi.
[code]

[2022-08-09 19:53] hzhou commented on #2022
@jedbrown I am checking the current main branch. Somewhere between `v4.0` and current `main` fixes it.

[2022-08-09 20:05] jedbrown commented on #2022
Okay, I can confirm that 4.1a1 works for me.

[2022-08-09 20:11] hzhou commented on #2022
Bisecting a fix is weird -- "good" means "bad" and "bad" means "good" 😄
[code]
Definitely an unsuspecting fix.

[2022-08-09 20:15] hzhou commented on #2022
The commit https://github.com/pmodels/mpich/pull/5751/commits/e4ccac1679217724ea8f59a48b20b0422a079db5
And the man page on `SIGTTIN`:
[code]

[2022-08-09 20:18] jedbrown commented on #2022
Hah, that explains it. Thanks for investigating, and thanks @raffenet for the inadvertent fix. Seems we can close this issue now; fixed in v4.1 (which I assume is coming soonish).

[2022-08-09 20:18] #2022 closed

[2022-08-09 20:21] hzhou commented on #2022
It is weird that in this case, we want `SIGTTIN` to kill the process. I guess sending SIGTTIN is the mechanism how shell works in this case.

[2022-08-09 20:43] hzhou commented on #2213
@hymanjd Is this still an issue for you?

[2022-08-09 20:48] raffenet commented on #2213
@balay we suspect this issue might be fixed now after refactoring sockets usage in Hydra. Do you think it's possible to confirm if the issue is resolved?

[2022-08-09 21:01] jedbrown opened #6108 "mpich-4.1a1 build failure with ch4:ucx, gcc-12"
I just tested an update to the archlinux package and got this build failure. I can't reproduce this moment, but let me know if you can't reproduce and I'll try reducing.
[code]

[code]

[2022-08-09 21:19] hymanjd commented on #2213
Yes, it was resolved. There were some mac paths that were the issue.

[2022-08-09 22:09] hzhou commented on #6108
Is there an archlinux package for ucx and could you try using that as a dependency? I believe mpich will use external ucx if detected.

[2022-08-09 22:12] hzhou commented on #6108
Also could you try without those flags? We have updated our fortran binding so that those flags are no longer necessary.

[2022-08-09 22:13] jedbrown commented on #6108
There is. It didn't work with mpich when I first tried it (a year or two ago), but I'll try again.

[2022-08-09 22:46] balay commented on #2213
@raffenet I don't have a good way to reproduce this issue. But if there is a new report on this issue - will post here.

[2022-08-09 23:26] hzhou commented on #2213
Since there is no new reproducer, I am closing this issue. Feel free to reopen if there is new report.

[2022-08-09 23:26] #2213 closed

[2022-08-09 23:31] hzhou commented on #4599
Closing the issue due to lack of response. Feel free to reopen if similar issues are encountered.

[2022-08-09 23:31] #4599 closed

[2022-08-10 14:27] raffenet commented on #2022
We are still ignoring `SIGTTIN` after the patch, just not with the custom handler. I'm surprised it made any functional difference, but maybe I'm not seeing the whole picture. I should clean up the comments in that function, because they don't really match the code any more.

[2022-08-10 14:51] hzhou commented on #2022
I am not entirely sure about it either. I'll try to dig it a bit deeper...

[2022-08-10 15:43] raffenet commented on #2022
It is possible that the `read` call was just restarting endlessly?
[code]

[2022-08-10 16:17] raffenet commented on #2022
FWIW, the zero byte `read` call does not seem to reliably do what the comment says it should, which is return an error with `errno = EINTR` when our handler was installed. On my macOS laptop, there is no SIGTTIN when doing zero byte `read` from `stdin` when in the background. So the output of `HYDT_dmxi_stdin_valid` is questionable still...

[2022-08-10 17:45] hzhou commented on #2022
Here is what I gathered -
* The process stack is like:  `sh` (foreground)  --> `t.sh &` (background) --> `mpiexec` (background)
* When mpiexec test STDIN with read, `SIGTTIN` is generated
* `mpiexec` handles `SIGTTIN` and continue without issue and in fact exit normally
* _It appears_ `SIGTTIN` is delivered to both `t.sh &` and `mpiexec`. The latter handles it and continue to exit, but the former

[2022-08-10 18:42] raffenet commented on #2022
I checked a toy program running in the background on macOS and Linux. On macOS, the zero byte read from stdin always succeeds regardless of signal handler settings. On Linux, if we use our custom handler, we get `errno=EINTR`. With the current `SIG_IGN` setting, we get back `errno=EIO`. The output of the function only cares if the call succeeds or fails and doesn't verify the errno setting, so I g

[2022-08-10 22:25] hzhou commented on #4937
This is insufficient --
[code]
There are more io descriptors open between the MPI process and process manager. I am not sure what is the best practice, but something like --
[code]
should truly detach the forked child.

[2022-08-10 22:35] hzhou commented on #1812
We use `tm_spawn` to launch `hydra_pmi_proxy`, which seems to always launch into a new process session. I guess we need check whether the proxy is on the same node as `mpiexec` and use `fork` instead when it's on the local node.

[2022-08-11 10:32] jeffhammond opened #6110 "ch4/ucx: MPI_Win_allocate causing NWChem problems again"
See https://github.com/nwchemgit/nwchem/issues/633#issuecomment-1211754575 for the initial report. This is very similar to what I saw that led to https://github.com/pmodels/mpich/commit/bad898f9df13b5060cbf43ee4acdb3b7b4c9a0f7.

I don't know when I'll have time to bisect this.  Can somebody look at RMA and see if there were any nontrivial changes to shared-memory atomics recently?

[2022-08-11 12:39] jeffhammond commented on #6110
It was working as of v3.4.1 but is broken in 4.x branches currently tested by Debian: https://github.com/nwchemgit/nwchem/issues/633#issuecomment-1211931953.

[2022-08-11 15:51] tonyzinger commented on #6105
When I try to use the summary.junit.xml file to display the test results in a Jenkins job using xinit, it returns that the xml file is invalid and does not display any test results.
I have made a couple of changes to the Junit XML output file to get it to display correctly.
The changes are:
[code]

Would it be possible to make these changes?
Thanks.

[2022-08-11 16:09] hzhou commented on #6105
Sure. I can make a PR with these changes. You are also welcome to contribute the PR yourself. For new authors, we just require signing [contribution agreement](http://www.mpich.org/documentation/contributor-docs/)

[2022-08-11 16:12] hzhou commented on #6105
On a second thought, maybe it is possible for `runtests` to trap the kill signal and wrap XML report. I'll give it a try later.

[2022-08-12 18:19] jeffhammond opened #6113 "build: libfabric opx provider failed compile on aarch64"
Source reference: 99ea5a276c9fc061666ca57dd857d5ea918609c0

I am on Ubuntu 20.04 AArch64.  OFI does not compile, apparently for any platform that isn't x86.

Is MPICH really not testing the default config on AArch64 right now?

# Specific configure recipe
[code]

# Build error
[code]

# Cause of the problem
[code]

[2022-08-12 18:25] jeffhammond commented on #5866
I thought Rob took care of most/all the internal count issues with ROMIO when we wrote the BigMPI paper.  One can always test it for internal correctness using the BigMPI concept, i.e. user-defined datatypes that contain more than `INT_MAX` elements.

[2022-08-12 18:34] hzhou commented on #6113
We have nightly test for aarch64. It should work with libfabric. There must be some glitches in the configure since the timer functions should be disabled if the feature isn't available. Could you post `modules/libfabric/config.log`?

Can you also try build libfabric separately? If that fails, directly filing the issue with libfabric may resolve the issue faster.

[2022-08-12 18:37] raffenet commented on #6113
It's coming from the opx provider, which is kind of a mess. Add `--disable-opx` to configure. I'll submit a PR to libfabric to disable that provider on anything but x86 for now.

[2022-08-12 18:41] raffenet commented on #6113
We should consider adding these to our submodule branch
https://github.com/ofiwg/libfabric/commit/e40039839fe88a432f1e42ec7c3d7628a0439bdf
https://github.com/ofiwg/libfabric/commit/020f8663254baae5dd1cff61286ee9113d7d56f9

[2022-08-12 18:48] tjhei commented on #5866
Using a custom data type with more than 2^31 elements works correctly, but using the MPI_File_*_c functions with a bigger count directly does not.

[2022-08-12 18:56] jeffhammond commented on #6113
Cornelis should just implement the equivalent of RDTSC for all the other architectures. It's not hard. The code is probably somewhere in MPICH already.

[2022-08-12 18:58] jeffhammond commented on #5866
That means the asserts are _probably_ unnecessary, or mostly so.

[2022-08-12 19:03] jeffhammond commented on #6113
[config.log](https://github.com/pmodels/mpich/files/9329300/config.log)

[2022-08-12 19:39] jeffhammond commented on #6113
This is a crude patch to make OPX more portable.  They would have to determine if sequentially consistent atomics are actually required for their uses.  I didn't bother to implement cycle counters for other architectures, but they are easy to write.  Kaz has PowerPC on his website.

[code]

[2022-08-12 19:41] hzhou commented on #6105
@tonyzinger Could you try https://github.com/pmodels/mpich/pull/6111?

[2022-08-12 19:42] jeffhammond commented on #5413
@dalcinl we can fix that

[2022-08-12 19:44] hzhou commented on #6113
@jeffhammond The patches should be submitted to https://github.com/ofiwg/libfabric/. We do not directly maintain libfabric.

[2022-08-12 19:45] jeffhammond commented on #6113
I know. I'm not actually trying to contribute the fixes to OFI, but rather, to show how trivial it would be Cornelis to make their code portable, so they feel bad and fix the problem.

[2022-08-12 19:50] wesbland commented on #5413
Welcome to the club and congratulations. 😄

[2022-08-12 20:05] hzhou commented on #5866
Many of the higher level internal functions are still using `int`, for example
[code]
Someone need spend the time convert all those signatures. Feel free ping us every once a while to give us some needed pressure :)

[2022-08-12 20:05] tonyzinger commented on #6105
@hzhou I will give it a try.  It will probably be Monday before I can verify it.  Thanks.

[2022-08-12 22:46] hzhou commented on #6110
https://github.com/nwchemgit/nwchem/issues/633#issuecomment-1211754575 mentions this is a regression between v4.0.0 and v4.0.1 --
[code]
The likely offending commit is "b1ada30eab 03/15 22:24 ch4/posix: workaround for inter-process mutex on FreeBSD" from https://github.com/pmodels/mpich/pull/5894

[2022-08-12 23:03] hzhou commented on #6110
@jeffhammond I suspect this is potentially an issue with `armci-mpi`. Does it assume `MPI_Win_allocate` allocates shared memory on intra-node? `ch4:ucx` does not have shm enabled.

[2022-08-13 06:25] jeffhammond commented on #6110
It's not ARMCI-MPI.  The code has not changed significantly in the past 8 years, and has been tested literally thousands of times with NWChem against every RMA implementation out there, usually in tortuous single-node circumstances.  ARMCI-MPI works fine with many other versions of MPICH.  The bug is in MPICH:Ch4:UCX or UCX.

[2022-08-13 06:27] jeffhammond commented on #6110
ARMCI-MPI does not assume MWA allocates shared-memory, because there is a no standard-compliant way to do that.  I have [proposed](https://github.com/mpi-forum/mpi-issues/issues/23) a solution to that for the MPI standard.

[2022-08-13 06:31] jeffhammond commented on #6110
This, and the corresponding difference with `free` are the _only_ differences in ARMCI-MPI when MWA is used.  None of the communication code depends on this in any way.
[code]

[2022-08-13 06:56] jeffhammond commented on #5719
I am working on a new implementation of MPI F08 that is completely separate from the MPI library.  It should allow this sort of thing pretty easily.  I don't know when it will be >50% complete but I might get to the features that most people actually use by the end of the year.

https://github.com/jeffhammond/standalone_mpi_f08_module

I don't know about the MPI (F90) module but I can think about

[2022-08-13 17:10] hzhou commented on #5241
In `mpir_pmi.c`, the `put_ex/get_ex` is essentially `put_binary/get_binary`, so yes, we should directly use PMIx binary put/get.

[2022-08-13 18:54] hzhou commented on #5185
I think overwriting `MPIR_CVAR_ENABLE_GPU` should be okay since we are doing it during init before any other GPU functions.

[2022-08-14 21:02] hzhou commented on #1474
I determined that the reported issue no longer exist. The check of `default_striping_factor` has been removed already.

[2022-08-14 21:05] #1474 closed

[2022-08-14 22:23] hzhou commented on #2182
The size of `flat` is proportional to the number of contiguous blocks. We probably should set a threshold and use some generic fallback for the case such as reported here.

[2022-08-14 23:45] hzhou commented on #3957
We have made the mpich testsuite stand-alone already. I am going to close this issue and open new one for "porting the romio tests to testsuite".

[2022-08-14 23:45] #3957 closed

[2022-08-14 23:50] hzhou opened #6118 "romio: port tests to mpich test suite"
The tests in `src/mpi/romio/test` are partially ported to `test/mpi/io`. We should port all ROMIO tests to `test/mpi/io` and then remove `src/mpi/romio/test`.  Since MPICH testsuite are distributed separately, it can serve the use cases where ROMIO is built outside MPICH.

Reference: issue #3957

[2022-08-15 00:00] hzhou commented on #1896
There currently is no plan to add Hadoop yarn support and it is not clear how needed is this feature. I am closing this issue now. Reopen with more details of use case.

[2022-08-15 00:00] #1896 closed

[2022-08-15 00:03] hzhou commented on #1952
Close this issue as it overlaps with #5204

[2022-08-15 00:03] #1952 closed

[2022-08-15 00:48] hzhou commented on #2214
Shouldn't `MPI_File_open` be a collective and thus okay for a barrier?

[2022-08-15 02:42] hzhou commented on #6108
I believe `PTR` is just `void *`. It is probably an internal macro defined in one of the binutil headers that has gone away in the recent releases.

[2022-08-15 03:20] hzhou commented on #6108
The same issue was in the comment here - https://aur.archlinux.org/packages/openucx

[2022-08-15 03:24] hzhou commented on #6108
Solution 1: add configure option `--without-bfd`. UCX lose the ability of printing detailed backtrace (that I never find helpful) in case of segfaults.

Solution 2: `sed -i -e 's/\<PTR\>/void */' modules/ucx/src/ucs/debug/debug.c`

[2022-08-15 04:36] hzhou commented on #6108
https://github.com/openucx/ucx/pull/8450

[2022-08-15 10:33] jeffhammond opened #6120 "comment: assumptions about the size of shared memory domains"
It is not uncommon to have shared-memory domains of 128 or more processes.  Many HPC systems have dual-socket AMD 64-core nodes, and ARM-based HPC nodes can have more (e.g. Ampere Altra Max CPUs have 128 cores per socket).

If ~200 is still a small number for your purposes, then it's fine, but I'd be careful about such assumptions going forwards.

[code]

[2022-08-15 14:27] roblatham00 commented on #2182
in 2005 Rob Ross wrote "mpitypes" code (also know as 'dataloop' code) which did a more clever job of maintaining datatype state and information.  Instead of flattening the entire type the segment processing code could just return the "next" segments.

I'm not familiar with Yaksa but surely it's more clever than the flattening code.   Rewriting ROMIO to use Yaksa would be a pretty big undertaking.

[2022-08-15 14:54] hzhou commented on #2182
There is typerep api (for both dataloop and yaksa) to get a list noncontig segments in a range as an IOV array. The fallback I have in mind is to call this API on demand rather than statically store the whole list. It is not efficient especially in yaksa, but as a fallback I think it is better than out-of-memory. At least it become a yaksa optimization issue.

Currently typerep APIs are not expose

[2022-08-15 15:45] tonyzinger commented on #6105
I copied you runtest script from your PR into my Jenkins directory for test execution.  I set the Jenkins Mpich Testing Stage to 15 minutes.  The Jenkins job reached the timeout value and terminated.
[code]
 The resulting summary.junit.xml file did NOT have the following lines at the beginning of the file:
[code]
And it did NOT have the following lines at the end of the file:
[code]
The file just

[2022-08-15 16:05] hzhou commented on #6105
I tested using Jenkins' "Run with timeout" job step, and the console log are -
[code]
What timeout  mechanism do you use? Do you see `Killed:` in the console log? That is something printed by `runtests` from the signal handler.

[2022-08-15 16:13] hzhou commented on #6120
The comment doesn't make sense and probably should be deleted. The code it commented on is just adding up local sizes. It is likely the "allreduce" comment was meant on replacing the allgather of shared table. But it appears the shared table need to be allgathered anyway. The comment serves as a red herring.

[2022-08-15 16:29] tonyzinger commented on #6105
No.  I did not see any messages written by runtests.  The only lines that I saw were:
[code]
The Last line is from the "Post Always" from the Mpich Testing Stage.

And I did verify that your version of the runtest was installed in the test/mpi directory.  It contains the lines:
[code]
I also looked at the summary.xml file to see if the RunPostMsg() was called and it appears that it was not.  The s

[2022-08-15 16:45] hzhou commented on #6105
If the script can't catch the signal (e.g. SIGKILL), then there is nothing the script can do. Currently -- https://github.com/pmodels/mpich/blob/108b611d6fdef3f6268be42e93f4b0320f96a6d5/test/mpi/runtests#L1133-L1135

If you can find out which signal Jenkins' used to kill processes, then we can add it to the list.

[2022-08-15 16:55] jedbrown commented on #6108
Thanks. In a fresh build of mpich-4.1a1 with this ucx patch, I get SEGV. This is on an AMD laptop with ROCm tools installed, and I guess it's either ucx or rocm misconfiguration, though I haven't seen other observable issues. Do you have suggestions for how to debug efficiently?
[code]

[2022-08-15 18:12] hzhou commented on #6108
The backtrace doesn't make sense -- how would `MPIR_Err_create_code -> MPII_Op_set_cxx -> MPII_Grequest_set_lang_f77 -> ucp_worker_create`? That is why I don't find ucx's backtrace ever useful. Simply try `gdb ./initnull` and see if you can get a better backtrace.

[2022-08-15 19:23] jedbrown commented on #6108
Here's a gdb trace. I'd have to rebuild with better debugging symbols to make it nicer.
[code]

[2022-08-15 19:26] hzhou commented on #6108
Use `--enable-g=dbg` to add `-g` option to the compiler.

[2022-08-15 20:05] #5185 closed

[2022-08-15 20:30] tonyzinger commented on #6105
I have not been able to determine which signal is being sent on a timeout.

I missed your question about the timeout mechanism that I use.
This is a simplified version of the Mpich testing stage:
[code]

[2022-08-15 20:35] hzhou commented on #6105
I don't have much clue, but could you try the step without `try-catch`?

[2022-08-15 21:20] tonyzinger commented on #6105
As you suggested by removing the try-catch block, it works.  When a timeout occurs the summary.junit.xml file has the correct entries at the beginning and the end of the file.

One other suggestion, when you print out the the testcase test number in the junit format, could you make this a 5 digit number with leading zeros.  I ask this because when the test cases are displayed via the junit command

[2022-08-15 21:34] hzhou commented on #6105
Sure. I'll add the patch.

2464 - 336 - 26 = 2102 tests passed

The numbers should be accurate. The numbers depend on the number of tests loaded from all testlist files, and it may depend configure checks and options. `2464` seems to be a reasonable number.

[2022-08-15 21:38] tonyzinger commented on #6105
The g_total_run variable is not incremented in the SkippedTest function.  So I believe that my calculation is correct.

[2022-08-15 21:41] hzhou commented on #6105
Yes, you are right :)
https://github.com/pmodels/mpich/blob/108b611d6fdef3f6268be42e93f4b0320f96a6d5/test/mpi/runtests#L120-L125

[2022-08-16 10:11] dalcinl opened #6121 "ROMIO and MPI-4: Broken large-count datatype decoding"
### Description
Current mpi4py@master use the large-count MPI-4 APIs exclusively for all operations, including the construction of user-defined datatypes. However, looks like the datatype decoding infrastructure in ROMIO was not updated to cope with datatypes created via the large-count MPI-4 APIs.

### Reproducer
[code]

[code]

CC: @mengaldo

[2022-08-16 13:08] hzhou commented on #6121
The error seems familiar -- https://github.com/pmodels/mpich/issues/2182

We'll look into it.

[2022-08-16 13:43] hzhou opened #6122 "env: mpichversion to dump from MPI_Get_library_version"
We currently export a bunch of internal variables, e.g.
[code]
just to allow mpichversion to print them. In fact the same text is available in MPI_Get_library_version. `mpichversion` supports options to only print part of the text. We can parse and split the text to support the options.

[2022-08-16 16:30] dalcinl commented on #6121
I'm not sure... Please note the test I posted uses really small arrays.

[2022-08-16 16:38] dalcinl commented on #6121
I patched my working copy with the following:

[code]

and next run again my reproducer:

[code]

I'm running this under mpi4py. By default, mpi4py sets the error handler of `COMM_WORLD` to `ERRORS_RETURN`. That's the reason I was not getting a proper failure. I was not aware the ROMIO implementation doesn't check return values in some MPI calls :disappointed:.

After this evidence, I believe my i

[2022-08-16 16:44] dalcinl commented on #6121
@jsquyres Just FYI. I'm not sure whether you still support the ROMIO backed in Open MPI. If yes, you guys may need to eventually update it to properly support MPI-4.

[2022-08-16 16:44] hzhou commented on #6121
For large count created datatypes, we need use `MPI_Type_get_envelope_c`. Maybe we should return a special `combiner` to indicate that rather than return error, which may abort the application by default.

[2022-08-16 16:46] hzhou commented on #6121
Well, `MPI_Type_get_envelope_c` should always work. I guess that makes `MPI_Type_get_envelope` useless now.

[2022-08-16 16:48] dalcinl commented on #6121
Indeed. And depending on whether `num_counts > 0`, you have to chance the way to parse the arrays, see [mpi4py sources](https://github.com/mpi4py/mpi4py/blob/master/src/mpi4py/MPI/Datatype.pyx#L576) for most of the rules.

[2022-08-16 16:58] jmcave opened #6124 "Hydra: Calls to MPI_Init{_thread} hang if any other process exits without calling init"
Consider a program where one process calls init and another process exits without calling init:

`$ cat mpitest.cpp`
[code]
`$ mpic++ mpitest.cpp -o mpitest`
`$ mpiexec -np 2 -l ./mpitest`
[code]
The program hangs, with rank 0 waiting forever for the other process.

The behaviour is much nicer with the old SMPD PM:
`$ mpiexec -np 2 -l ./mpitest`
[code]

SMPD notices that some processes have called

[2022-08-16 18:01] hzhou commented on #6124
Yeah, we can fix it.

[2022-08-17 16:33] jmcave commented on #6124
Brilliant, thanks!

[2022-08-17 18:03] jedbrown commented on #6108
I'm not following why it still swallows. I added `--enable-g=dbg` and added `-O -g` to `MPICHLIB_CFLAGS`. (`-O0` conflicts with fortify, and thus fails.)

[code]
I don't know why the extra `-O2` gets slapped on at the end, but that wouldn't prevent basic debugging in the trace. Are my other configure flags somehow conflicting?
[code]

[2022-08-17 18:22] hzhou commented on #6108
Nevertheless, they consistently point to the ucx stack during `Init`. We may get better luck escalating to the UCX folks.

[2022-08-17 21:18] #6105 closed

[2022-08-18 02:18] hzhou commented on #6124
Hmm, I couldn't reproduce the issue:
[code]
The error message is different from `SMPD PM`, which throws error in `PMI_Init`, but essentially similar behavior. I don't see it hangs.

[2022-08-18 16:26] jmcave commented on #6124
Sorry, I'd been using mpich installed via apt, which was v3.3a2 from last year. I just tried again using v4.0.2 and get a similar result to you (except with exit code 6).

I do still get the hang with v4.0.2 if instead of throwing something I `return 1`. I think it makes sense for Hydra to treat that the same way.

[2022-08-18 16:31] hzhou commented on #6124
I confirm that if one process `return`  we will hang. Let me see if I can fix that.

[2022-08-18 17:11] hzhou commented on #6124
The code in question is here - https://github.com/pmodels/mpich/blob/e09f4cd9df7a1f238f9eee17a5f0fb80bc16ea52/src/pm/hydra/proxy/pmip_cb.c#L308

If we remove the `HYD_pmcd_pmip.downstream.pmi_fd_active[pid]` condition, then the exit without `PMI_Init` will trigger the same cleanup  behavior. We need discuss within the team on its implications

[2022-08-18 17:50] hzhou commented on #6124
In general we do not desire non-MPI process' exit to terminate other processes. It is common to use hydra to launch non-mpi processes and expect each process to proceed independently. However, we should be able to update "dead_processes" in this case and prevent the other MPI processes to hang.

[2022-08-22 21:35] #6122 closed

[2022-08-23 13:19] #5241 closed

[2022-08-24 03:52] Maple-yhj opened #6129 "I have executed MPI_Init() and it succeeded, but the program says it is not initialized"
The code of my program is as follows:
`  int process_id =0 , process_size=0;`
`int Init_code=MPI_Init(&argc, &argv); `
`if(Init_code == MPI_SUCCESS)`
  ` std::cout<<"MPI SUCCESS"<<std::endl;`
`MPI_Comm_size(MPI_COMM_WORLD, &process_size);`
`MPI_Comm_rank(MPI_COMM_WORLD, &process_id);`
The result are as follows:
`MPI SUCCESS`
`Attempting to use an MPI routine (internal_Comm_size) before initializin

[2022-08-24 04:25] hzhou commented on #6129
Could you upload your complete test code?

[2022-08-24 05:39] Maple-yhj commented on #6129
It's a big complete project so I can't upload the whole thing.

I didn't have the problem when I ran the separate test code, but I used the `ldd` command to see that there was no difference between the two linked libraries

[2022-08-24 13:32] hzhou commented on #6129
Is your application multithreaded? I suspect you have called `MPI_Finalize` in one thread thus resulting in another thread accessing MPI after `MPI_Finalize`. Make sure to run a thread barrier before `MPI_Finalize`.

[2022-08-25 00:50] Maple-yhj commented on #6129
The same program works fine for me on the other server, so I think it's an environment problem, but I can't find out the difference in the environment between the two servers

[2022-08-25 01:50] hzhou commented on #6129
Try to build mpich with `--enable-g=all` (configure option). Then set environment variables (ref: https://github.com/pmodels/mpich/blob/main/doc/wiki/design/Debug_Event_Logging.md):
[code]

Could you upload the log files?

[2022-08-25 06:23] Maple-yhj commented on #6129
![image](https://user-images.githubusercontent.com/71971448/186590043-fe26caba-7788-4d80-b4b3-cec70cfb6877.png)
I would like to know where to configure it with --enable-g=all.
Thank you for your time

[2022-08-25 06:52] Maple-yhj commented on #6129
`./configure --prefix=/home/<USERNAME>/mpich-install  --enable-g=all`
Is this way to use it?

[2022-08-25 08:59] Maple-yhj commented on #6129
![1661417654774](https://user-images.githubusercontent.com/71971448/186621061-6809aac7-87b5-4b48-8c35-a9b922243bc8.png)

This is the result of a new run of my program after configuring logging for mpich, which does not collect on error messages. I have used this command in a test program to ensure that it generates logs to the .exe file directory.
I implore you to get back to me when you receive.T

[2022-08-25 09:03] Maple-yhj commented on #6129
![1661418173055](https://user-images.githubusercontent.com/71971448/186622981-408b7146-4c1b-4998-a3a8-0a719f12eebc.png)

This is my main function

[2022-08-25 11:45] Josh-Cottingham-Arm opened #6131 "debugger: Message Queue Dumping not showing any pending operations"
Hello my name is Josh Cottingham, and I work for Arm.

This is **new issue with MPICH 4.1a1** and is not experienced with MPICH 4.0.2. Possibly due to a change in #5757, it appears as though even with a simple scenario our calls to `mqs_pending_operation` are always returning non zero (`mqs_end_of_list`) after the operation iterator is set up (even when there is definitely expected to be a pending

[2022-08-25 11:46] Josh-Cottingham-Arm commented on #6131
Also worth noting that we were hitting a separate issue with MPICH 4.0.x. This was a bug in `mqs_image_has_queues` where offsets were wrong for `MPIDI_Devreq_t` (following an incorrect structure), which caused it to read from the wrong parts of memory and giving bad rank/tag values. This is no longer present with the changes in #5757. Not sure is there is a plan to release any more support release

[2022-08-25 14:36] raffenet commented on #6131
I suspect we aren't tracking blocking operations with the changes to the message queue code. I'll try a fix today and tag you once I have something to try.

[2022-08-25 14:40] hzhou commented on #6131
@raffenet can confirm, but I believe we will have more support releases for 4.0.x, at least a last one right before we mark 4.1 as stable.

[2022-08-25 14:49] Josh-Cottingham-Arm commented on #6131
Thanks @hzhou, will wait till @raffenet confirms before raising that issue then.

[2022-08-25 14:56] hzhou commented on #6129
This does not look like MPICH messages. Were you running OpenMPI by accident?

[2022-08-25 14:58] hzhou commented on #6129
That looks fine. If you search `MPI_Finalize` over your entire project code, do you see any other instances?

[2022-08-25 17:46] raffenet commented on #6131
Another bugfix release in 4.0.x is a good idea. I'll have to check whether fixing that bug in place is worth the effort, or if we can just backport the new queue dumping code as a whole.

[2022-08-25 18:06] raffenet commented on #6131
@Josh-Cottingham-Arm I created #6133 to hopefully address this issue. Since it applies to the binding generation code, you need to run `./autogen.sh -do=gen_binding_c` from the base source directory, then re-compile in order for the change to take effect.

[2022-08-25 18:30] hzhou commented on #6124
@jmcave I am about to mark this issue as "wontfix". Launch a set of processes with mixed MPI processes (i.e call `MPI_Init`) and non-MPI processes are incorrect usage. The MPI processes hang in init waiting for the rest of the processes to call `MPI_Init` is the correct behavior. This is different from some of the process abnormally exit before able to call `MPI_Init`. This works as shown in https

[2022-08-25 18:48] #5866 closed

[2022-08-25 21:07] hzhou opened #6136 "ch4/am: optimize MPIDIG_req_ext_t to 256 bytes"
This commit https://github.com/pmodels/mpich/pull/6125/commits/050d6f06cfb14afd168c472b43a8ed4548661a35 increased `MPIDIU_REQUEST_POOL_CELL_SIZE` from 256 to 512 because `MPIDIG_req_ext_t` slightly bumped the maximum request header buffer size above 256 bytes. I believe we can optimize and shrink the maximum size back to 256 bytes again.

[2022-08-26 01:01] Maple-yhj commented on #6129
![image](https://user-images.githubusercontent.com/71971448/186794271-01c15859-8568-4509-9f04-db801e98f06d.png)

My program did accidentally use Openmpi, here is the result of my corrected run. I have searched my entire project to make sure that only MPI_Finalize() and MPI_Init() are called in the main function. My program also doesn't output a log file, which bothers me.
Thank you for your time.

[2022-08-26 01:21] Maple-yhj commented on #6129
![image](https://user-images.githubusercontent.com/71971448/186796282-aee8327c-b375-4de0-8953-5d6a0d937980.png)

This is the result of the execution of my ldd command

[2022-08-26 01:30] hzhou commented on #6129
Likely you didn't configure it correctly. What is your `mpichversion` output?

[2022-08-26 01:31] hzhou commented on #6129
If your code is under git, what is your `git grep MPI_Finalize`?

[2022-08-26 02:25] Maple-yhj commented on #6129
![image](https://user-images.githubusercontent.com/71971448/186803146-260a5ac5-8eb3-4584-b357-211b8bb12375.png)

[2022-08-26 02:34] hzhou commented on #6129
@Maple-yhj Your `ldd` shows it is dynamically linked to `/data/yehj/mpich-install`, but your `mpichversion` shows it should be `/data/yehj/mpi-install`. Make sure you are using the right binary by double check your `LD_LIBRARY_PATH`.

You `git grep` results are weird, did you put binary DLLs in git but the source code are not? For example, your `main` source code should contain `MPI_Finalize` but

[2022-08-26 02:57] Maple-yhj commented on #6129
That's because I changed the folder name from mpi-install to mpich-install after the MPICH installation was complete.

[2022-08-26 02:58] Maple-yhj commented on #6129
That's because I changed the folder name from mpi-install to mpich-install after the MPICH installation was complete.

[2022-08-26 03:01] hzhou commented on #6129
You should not do that. The prefix is hard coded into the scripts and binary during configuration. Changing them after installation often has mysterious glitches.

[2022-08-26 03:05] Maple-yhj commented on #6129
Is it OK for me to change it to mpi-install and change the environment variables now?

[2022-08-26 03:17] hzhou commented on #6129
You can try that.

At this point, I am fairly certain that you have code calling `MPI_Comm_size` outside `MPI_Init/MPI_Finalize`. There are two possibilities. You have code in a different thread calling extra `MPI_Finalize`. Or you have code after the `MPI_Finalize` in `main` that still uses MPI. Producing call logs is just one way to confirm the fact. Searching the code base is another way. Or yo

[2022-08-26 03:27] Maple-yhj commented on #6129
I initially agreed with you, but after checking the source code I don't think I made this mistake and I will double check it again later. Now after changing the filename and environment variables, my program is reporting a new error as follows.

![image](https://user-images.githubusercontent.com/71971448/186811310-43a603a3-84af-4634-a656-e0bbfc4169ce.png)

[2022-08-26 03:36] hzhou commented on #6129
Your `YikeSim_parallel` is in your current directory, not in `out/build/mingw-build/`, the error message is telling you that.

[2022-08-26 03:41] hzhou commented on #6129
Okay, here is one way that may be easier for you to try. Find `src/mpi/errhan/errutil.c` and locate `MPIR_Err_uninitialized` function, insert `MPIR_Assert(0);` before `exit(1);`, rebuild and install. This time `MPIR_Assert` may show a backtrace that may offer some clues.

[2022-08-26 07:20] Maple-yhj commented on #6129
I tried this method you mentioned, but the output did not change. I think it was a problem with my system environment and I decided to reinstall my system and try again. Thank you very much for taking the time out of your busy schedule to give me a reply!

[2022-08-26 11:01] dalcinl commented on #6121
I managed to put a fix together. It is not the definitive solution, as my implementation just translates the large-count datatypes to the small-count format, checking in the process for overflow in the `MPI_Count` -> `int|MPI_Aint` conversion via assertion.

My work is in the following branch: [dalcinl/mpich@dalcinl/romio](https://github.com/dalcinl/mpich/commits/dalcinl/romio).
New tests added to

[2022-08-26 12:26] dalcinl commented on #6121
I'm getting this following output from `make testing`, most likely unrelated to my fixes.

[code]

[2022-08-26 12:56] hzhou commented on #6121
Yeah, the issue is known  - https://github.com/pmodels/mpich/issues/3469

[2022-08-26 22:34] #1085 closed

[2022-08-27 20:42] liam-clink opened #6138 "autoconf `subsys_include.m4': No such file or directory"
I'm trying to build the most recent release (4.0.2, also tried with most current commit) of MPICH on windows using MSYS2, and when I run autoconf, it fails

[code]

After all, this file does not exist like it does in [this MPICH project](https://github.com/ultrarisc/mpich/blob/master/subsys_include.m4)

Why is this file being included when it doesn't exist? Well in this different project, the inst

[2022-08-28 00:14] hzhou commented on #6138
The README is targeting users build MPICH from distributed release tarballs, which already all files generated. To build from fresh git checkout, run
[code]

We have more files are generated than just autoconf.

[2022-08-28 05:03] #6138 closed

[2022-08-29 20:37] #6121 closed

[2022-08-30 14:35] hzhou commented on #6118
1. Identify a list of tests that are already ported to `test/mpi/io`
2. Identify a list of tests in `romio/test` that need to be ported
3. Remove the tests in `romio/test` that has already been ported

[2022-08-30 14:57] Josh-Cottingham-Arm commented on #6131
Hey @raffenet , thanks for the quick response and sorry for the delay (was off on holiday). I tried the fix provided in #6133 (making sure to re-generate the c bindings) but it appears that the issue is still present and it always returns 2 (mqs_end_of_list).

Just for clarity, we were getting returns of mqs_ok with MPICH 4.0.2 (just that the returned info contained incorrect data because of the b

[2022-08-30 15:16] Josh-Cottingham-Arm opened #6141 "debugger: Message Queue Dumping showing incorrect data for rank, tag etc for MPICH 4.0.x"
Hello my name is Josh Cottingham, and I work for Arm.

This currently only occurs with MPICH 4.0.x (MPICH 4.0.1, MPICH 4.0.2). See #6131 for more context.

There is a bug in _dll_mpich.c_ where _mqs_image_has_queues_ is setting up the wrong offsets for MPIR_Requests. This causes the Message Queue Dumping to give incorrect results for the pending message ranks/tags etc.

Specifically, this was noti

[2022-08-30 15:17] Josh-Cottingham-Arm commented on #6131
Created #6141 for the 4.0.x bug

[2022-08-30 15:27] hzhou commented on #3366
MPICH uses a set of macros for checking and jumping on errors, that removed most of the unchecked errors in MPICH. ROMIO doesn't have one at the moment. I propose to add similar macros, e.g. `ADIO_ERROR_CHECK`, and adopt the convention of using `fn_fail` and `fn_exit` labels. Once the macros are available, it is a simple matter of dropping it after every call.

[2022-08-30 16:14] hzhou commented on #4852
I am going to close this issue and link it to the corresponding discussion - https://github.com/pmodels/mpich/discussions/6142, since it is more on how to work with a specific system rather than a clear issue. If we identify clear issues from the discussion, we can re-open or open a new issue.

[2022-08-30 16:14] #4852 closed

[2022-08-30 16:39] roblatham00 commented on #2800
We fixed the ASan errors at some point and the NFS_READSTRIDED.. this is done I think?  I moved the test case out of this bug and into pnetcdf -- can't add it directly to ROMIO

[2022-08-30 16:39] #2800 closed

[2022-08-30 16:43] roblatham00 commented on #4449
This was fixed in release 3.2.2

[2022-08-30 16:43] #4449 closed

[2022-08-30 17:05] raffenet commented on #1909
Closing this as stale. We can consider again if someone is trying still attempting to build with the Cray compiler.

[2022-08-30 17:24] raffenet commented on #4066
This has been fixed for some time. ch4/ofi 32-bit nightly tests in Jenkins are clean.

[2022-08-30 17:24] #4066 closed

[2022-08-30 17:25] #1909 closed

[2022-08-30 17:30] raffenet commented on #2659
Fixed in #5685.

[2022-08-30 17:38] hzhou commented on #2197
This will open a flood gate. Do we support "MiB", "MB", "M", "m", .... I think applications can easily manage with their own macro or utility for this convenience. MPI is a lower level library and I think it is better to keep it simple.

[2022-08-30 17:38] #2197 closed

[2022-08-30 17:46] hzhou commented on #2166
We currently have very little support for dynamic window optimizations. I am renaming this ticket since detecting or creating mechanism for optimized shm path for dynamic window is the the first step of any optimization

[2022-08-30 18:07] #2262 closed

[2022-08-30 18:17] raffenet commented on #5111
Going to close this as wontfix since the issue is upstream (https://github.com/openucx/ucx/issues/6576). We recommend using an external UCX when building MPICH with NVHPC compilers.

[2022-08-30 18:17] #5111 closed

[2022-08-30 18:36] hzhou commented on #2248
[code]

[2022-08-30 18:37] hzhou commented on #2248
I can't reproduce it. It is likely the os fixed the issue as the history suggested. Closing.

[2022-08-30 18:37] #2248 closed

[2022-08-30 19:31] #2252 closed, assigned to nobody

[2022-08-30 19:40] #5413 closed

[2022-08-30 19:46] hzhou commented on #2278
Closing this issue as ch3 is in maintenance mode and new features will not be developed

[2022-08-30 19:46] #2278 closed

[2022-08-30 19:58] hzhou commented on #2279
Looks like we can pass info hints "shmem" to `MPI_Win_alloc`. If that enables shared memory RMA, then that is a much easier option to add to the tests.

[2022-08-30 20:15] yfguo commented on #2279
Looking at the test mentioned in the example, I don't think the use of of `shmem` info hint was the intention. The point of using `MPI_Win_allocate` is that processes on the same node could allocate shared memory in the window, so the RMA between them is shared memory access.

But for this particular test `reqops.c`, it shouldn't make any difference because only rank 0 allocates the memory.

[2022-08-30 20:16] yfguo commented on #2279
Need to check what other tests beside `reqops.c` need this change.

[2022-08-30 20:33] dalcinl commented on #5413
Guys, just a quick question. What the exact meaning of the "errata" label in the forum repo? Is this new routine part of MPI-4.0 or an upcoming minor revision MPI-4.1 ?

[2022-08-30 20:40] yfguo commented on #2279
I am going to cherry-pick the RMA changes from #5725 and go from there.

[2022-08-30 20:41] wesbland commented on #5413
If something is labeled as “errata”, it was an error in a previous version of the standard and therefore it’s immediately applicable to the version where it occurred when it passes a vote. So in this case, MPI 4.0 now includes the changes to fix the missing function.

That being said, the PDF doesn’t change and the amendment is in a separate document where we include all of the errata.

[2022-08-30 20:41] bertwesarg commented on #2659
AFAICS, #5685 does **not** add the `TYPE(C_PTR)` interface. What am I missing that this issue was closed?

[2022-08-30 20:42] #2230 closed

[2022-08-30 21:06] roblatham00 commented on #2307
We seem to have fixed this at some point:  i routinely build with GPFS support on my laptop to compile-test the driver

[2022-08-30 21:06] #2307 closed

[2022-08-30 21:10] roblatham00 commented on #3736
we fixed this in #5604 yay!

[2022-08-30 21:10] #3736 closed

[2022-08-30 21:22] raffenet commented on #2659
You are right. This was closed by mistake.

[2022-08-30 22:42] hzhou commented on #2347
[code]

[2022-08-31 01:32] raffenet commented on #3972
I couldn't reproduce this on the current Jenkins nodes with `main`. Going to remove the xfails and see how testing goes.

[2022-08-31 05:13] jeffhammond commented on #5413
I'll note that this is consistent with the centuries old practice with errata in printed books, for better or worse.

[2022-08-31 06:26] dalcinl commented on #5413
We are talking about a 1K pages document that will never appear in printed form.... And

My real concern is with this practice of adding band-new functions to the standard in a retroactive way. Now the `MPI_VERSION` and `MPI_SUBVERSION` macros cannot be used to rely on whether `MPI_Status_set_elements_c` is available or not. Moreover, a major MPI implementation (MPICH) was already released to the

[2022-08-31 06:33] jeffhammond commented on #5413
Yeah, I understand the practical consequences, but @jedbrown will tell you not to use MPI version macros anyways, since many implementations state they support a version of the standard when their implementation contains numerous defects, including intentional features omissions.

In your case, just keep using `MPI_Status_set_elements_x`, which is identical.  You overload `MPI_Status_set_elements`

[2022-08-31 11:24] #3972 closed

[2022-08-31 13:03] hzhou commented on #4252
@raffenet So for this issue, all we needed is a non-standard hint so that we skip intercomm connect/accept?

[2022-08-31 14:00] raffenet commented on #4252
Yes, I think adding it is a good idea. Open MPI uses "ompi_non_mpi" as the key. So maybe "mpich_non_mpi"?

[2022-08-31 21:12] roblatham00 commented on #5902
@adammoody take a peek at https://github.com/roblatham00/mpich/commit/285c7805714984c25db9700ea50bd6d6071e5d0f and if it looks good to you i'll merge to mpich main

[2022-08-31 21:55] adammoody commented on #5902
Looks good to me.  Thanks, @roblatham00 .

[2022-09-01 12:58] dalcinl opened #6154 "Singleton spawn on CH3 still broken"
Looks like the singleton spawn changes a while ago fixed all the issues with ch4. Unfortunately, ch3 is still broken, [see the following builds](https://github.com/mpi4py/mpi4py-testing/actions/runs/2971535954).

I'm not sure where you actually care about fixing this leftover issue on ch3.
If not, I'll just skip these tests and move on.

[2022-09-01 15:27] #5902 closed

[2022-09-01 16:09] jmcave commented on #6124
I agree that mixed MPI and non-MPI processes as you described is an incorrect usage. It would be helpful though if `mpiexec` could identify that it's running invalid code and terminate the processes.

[2022-09-02 11:54] cs0731 opened #6157 "Is there no IB channel in the mpich3 release?"
I tried to deploy mpich3 in the Infiniband HDR network. Everything was normal in the deployment process, but the point-to-point bandwidth test program(osu benchmark) was only 170MB/s. If the test bandwidth is used through UCX + mpich3, it is expected. Is there no IB channel in the mpich3 release?

[2022-09-03 04:17] jedbrown commented on #3591
@hzhou What does it mean that this is "done"? The PR (https://github.com/pmodels/mpich/pull/3683) was not merged and I don't see the symbols in MPICH. Are you aware of any endpoints implementations that are ready for friendly users? Is the Forum still interested in the concept?

[2022-09-03 04:42] hzhou commented on #3591
We should've added more comments for context. We have evaluated the endpoints proposal and decided to pursue implicit vci mapping back in 2020. Implicit vci mapping exploits the inherent parallel information within MPI-3 specification to achieve good scalability.

The forum is no longer pursuing the endpoints proposal. However, we still believe an explicit solution to address MPI+Thread has its me

[2022-09-03 04:47] hzhou commented on #6157
Which MPICH release are you referring? If you are using mpich-3.2, you may try `--with-device=ch3:nemesis:ofi`. `ch4:ucx` should be available in mpich-3.3 and newer.

[2022-09-03 17:00] jedbrown commented on #3591
Thanks for your reply. This is very informative, though Endpoints is really what we were excited about. The issue is that we'd like to use the MPI programming model across threads within a library. But the library has callbacks to user code and implementing those callbacks in a different process (as with internal `MPI_Comm_spawn`) requires the calling application to "think MPI" and design their da

[2022-09-03 17:11] hzhou commented on #3591
@jedbrown You should check out the new MPIX stream proposal - https://arxiv.org/abs/2208.13707. It is available in the current MPICH main branch. We believe it supersedes the features in the endpoints proposal. We'd like to hear feedback from actual use cases, especially where you think the new proposal falls short.

[2022-09-05 13:46] jedbrown commented on #3591
Thanks. I think this describes the key distinction.

programmer, a process and a thread are separate concepts. Between threads the memory is shared, and thus there is no need for explicit data exchange. Between processes, explicit messaging is needed, and that is where MPI is used. Thus, the process concept and its identification using ranks are important. With the endpoints proposal, the process

[2022-09-05 14:47] hzhou commented on #3591
I see. Originally when I wrote the quoted paragraph, I was imagining that if the user wants "shared nothing" semantics between threads, then they can simply use the "MPI-everywhere" pattern, launching multiple processes on a single node.  From your comment, I see this is impractical when the application and libraries are not co-designed.

Thanks for explaining the pattern. What you are seeking is

[2022-09-05 17:20] hzhou commented on #3591
Your example is helpful. But I am not sure I understand it yet. Let me ask some (silly) questions.

The overhead is the repeated spawn/join of threads or just repeated thread synchronization?

If you put the parallel region at the top of `main`, then it is an `MPI-everywhere` pattern, right? Sounds like an endpoints communicator with its lifetime with parallel region should work here, right?

I am

[2022-09-05 17:55] jedbrown commented on #3591
Thanks, I'm happy to discuss.

Yes. Note that threading systems usually have pools so it's not really creating a new OS thread, but it still needs to hand off work, which involves some communication primitives that usually scale worse than log(T) where T is the number of threads.

Yes, though possibly error-prone since that constraint would need to be conveyed to user code written by people unfami

[2022-09-06 00:26] hzhou commented on #3591
Ok, I think I get it. The parallel region is in `NonlinearSolver::solve(...)` but outside the `while(!converged)`. `self.F` is a user callback function. You would like `F` to take a communicator but is ignorant of whether it is being called inside a thread-parallel context or process-parallel context. Am I close?

In this case, the endpoints communicator is created at the start of `solve` and dest

[2022-09-06 13:36] cs0731 commented on #6157
I try to deploy mpich-3.3.2. The OFED version installed in the current host environment is 5.1-2.5.8, the operating system is CentOS 7.4, and the kernel version is 3.10.0. Then use  --with-device=ch3: nemesis:ofi. After executing configure, the system prints error: "RDMA/fabric.h or libfabric library not found."

[2022-09-06 19:04] raffenet commented on #6131
Here is what I see using the test program and my PR branch. Process 1 is paused at line 34, so the MPI_Ssend has not yet begun. Process 0 is paused inside the MPI_Recv, which is shown in the message queue info.

<img width="1483" alt="image" src="https://user-images.githubusercontent.com/1410792/188717619-7108ba01-da0c-4733-b7f2-4f2351d0d0bd.png">

[2022-09-06 19:09] raffenet commented on #6131
After stepping Process 0 into the MPI_Ssend far enough to expose the uncompleted request to the debugger:
<img width="1484" alt="image" src="https://user-images.githubusercontent.com/1410792/188719022-653dfb23-9641-4f31-92ee-3744542d4ffb.png">

[2022-09-07 14:45] hzhou opened #6161 "ch4/ipc: enable collective traffic in the IPC path"
The current IPC path does not have code to adjust collective context_offset and propagate errflags. We should add them so that we can enable collective traffic in IPC. It obviously has a significant performance impact.

### reference
* It is disabled in this commit https://github.com/pmodels/mpich/pull/5950/commits/603f47928d4bf89be4a04a7a4b0f23178c9ee721#r856577218

[2022-09-07 18:34] #2715 closed

[2022-09-07 21:03] hzhou commented on #2182
The datatype in this issue is a *contig* type of `count = 1073741832`. For the purpose of file view, this is equivalent to a single inner type. I think this can be optimized.

[2022-09-07 21:31] hzhou commented on #2182
With the MPIX_Type_iov extension (#6139), it is not difficult to do a dataloop-like code. However, all the current aggregation IO algorithms are tied to the flatlist (iov segment list). It will be a major overhaul -- yes, big undertaking.

In this particular example, the file type is essentially a huge "type_contig", which can be optimized into an equivalent single element. But I guess potentially

[2022-09-08 15:13] hzhou opened #6165 "doc: add PMI-1 document"
Currently if one searches for documentation and literature on "PMI", all the will find is PMI-v2 document. For example
* https://github.com/pmodels/mpich/blob/main/doc/wiki/design/PMI_v2_API.md
* https://github.com/pmodels/mpich/blob/main/doc/wiki/design/PMI_v2_Design_Thoughts.md
* https://github.com/pmodels/mpich/blob/main/doc/wiki/design/PMI_v2_Wire_Protocol.md

and

* https://www.mcs.anl.gov/pa

[2022-09-08 15:59] raffenet commented on #6110
Just to confirm @jeffhammond, I believe #6140 fixed this issue?

[2022-09-08 16:06] jeffhammond commented on #6110
That's what I've been [told](https://github.com/nwchemgit/nwchem/issues/633#issuecomment-1231890316) by Edo, who is authoritative on all NWChem issues.

[2022-09-08 16:20] raffenet commented on #6110
👍

[2022-09-08 16:20] #6110 closed

[2022-09-08 17:28] s-sajid-ali opened #6166 "Build issue: mpich@develop on m1 mac"
I'm seeing the following error when building mpich@develop on an M1 Mac:

[code]

This error does not occur when I disable the cxx bindings, but I do require the mpicxx compiler wrapper. Is there a way to get the compiler wrapper without the c++ bindings?

Complete build logs for failing build with spack are here : [spack-logs.tar.gz](https://github.com/pmodels/mpich/files/9529353/spack-logs.tar.g

[2022-09-08 20:55] hzhou commented on #6166
`mpicxx` wrapper will be installed even when c++ bindings is disabled, as long as you have a working CXX compiler.

[2022-09-09 15:49] s-sajid-ali commented on #6166
Thanks for the information! That works for me.

Regarding the above build failure, it could have something to do with my compiler configuration as when I use llvm-14 from homebrew without lld, I am able to build mpich with no issues.

[2022-09-09 15:52] hzhou commented on #6166
@s-sajid-ali Good to hear it works out! Thanks for finding out the cause of the failure. It shall be useful when people encounter similar issues.

Can we close the issue?

[2022-09-09 15:58] #6113 closed

[2022-09-09 16:08] s-sajid-ali commented on #6166
Yes. Thanks again!

[2022-09-09 16:08] #6166 closed

[2022-09-09 17:54] stevenrbrandt opened #6167 "build: wl variable set wrong for mpif90 when building with oneapi"
Hello. I attempted to build mpich 4.0.2. using Intel oneapi via spack (spack install intel-oneapi-compilers). The "mpif90" script that gets generated has `wl=""` instead of `wl="-Wl,"`. Manually editing the script to fix this allows mpif90 to work. Any idea what is going wrong here? Thanks.

[2022-09-09 18:11] raffenet commented on #6167
You need this patch, which is only in `main` at the moment. I'll add it on the list of backports to 4.0.x.

c4e999add5017f57f0bf20010dfc31e952174ccb

[2022-09-09 21:03] raffenet commented on #6167
Yes, this patch was added to the MPICH Spack file in https://github.com/spack/spack/issues/31678.

[2022-09-09 21:05] raffenet commented on #6167
Sorry, that was the issue. The PR that added it was https://github.com/spack/spack/pull/31740

[2022-09-12 17:56] raffenet opened #6173 "ch4/ucx: multiple vcis causes ucp worker crash"
When global progress is triggered in `MPIDI_progress_test` with ch4/ucx, it can cause a crash in ucp for simultaneously entering progress from more than one thread.

Backtrace:
[code]

[2022-09-15 22:20] AtlantaPepsi opened #6177 "Null MPI_Request for stream enqueued Waitall"
If I'm not mistaken, `MPIX_Waitall_enqueue()` would crash if the array contains a regular MPI_REQUEST_NULL due to failed [assert](https://github.com/pmodels/mpich/blob/895e74a6fd81a27ac6c07734fe465a0b464daf62/src/mpi/stream/stream_impl.c#L768).

Conventionally given a list a communication tasks and array of requests, we would initialize any entry in the array to MPI_REQUEST_NULL that doesn't have

[2022-09-16 03:40] hzhou commented on #6177
The requests passed to `MPIX_Waitall_enqueue` must be from `MPIX_Isend_enqueue` or `MPIX_Irecv_enqueue`, and they have to be all enqueued to the same gpu stream.

[2022-09-16 22:31] AtlantaPepsi commented on #6177
@hzhou but shouldn't null requests be acceptable and handled like [non-enqueued Waitall](https://github.com/pmodels/mpich/blob/889c27ee7f364af9b3b9c54c538194fc113a4d4a/src/mpi/request/request_impl.c#L919)? I can't find this specified in the standard, but I think null requests are accepted generally including in MPICH, and often used that way?

If every process has a request array, allocated same w

[2022-09-16 22:38] hzhou commented on #6177
Yes, `MPI_REQUEST_NULL` is accepted in `MPI_Waitall`. The use case is for applications that may use `MPI_Test` before and it is inconvenient to track which requests have already been completed and become `MPI_REQUEST_NULL`. Note that there is no `MPI_Test_enqueue`. The stream enqueue semantics does not allow non-deterministic completions as with `MPI_Test`. Thus we believe there isn't a valid use

[2022-09-19 06:31] dalcinl opened #6181 "hydra: Singleton mode and hydra_pmi_proxy"
I'm having issues with mpi4py's singleton tests on GitHub Actions if using `ch4:ofi|ucx`. Here you have the [[logs]](https://github.com/mpi4py/mpi4py-testing/actions/runs/3071820934), but they are not really informative, everything seems to be fine but things eventually fail in VM cleanup stages that I do not have control of as a user.

After some spending some time enabling and disabling tests, I

[2022-09-19 06:37] dalcinl commented on #6181
@hzhou This may be related to your changes in #6172. I first noticed this regression within mpi4py about 2 days ago [[link]](https://github.com/mpi4py/mpi4py-testing/actions/runs/3071820934), 9 days ago everything was OK [[link]](https://github.com/mpi4py/mpi4py-testing/actions/runs/3026446183).

[2022-09-19 14:00] #6173 closed

[2022-09-19 15:10] #6167 closed

[2022-09-19 16:10] dqwu opened #6182 "[MPICH4] fd->comm in ADIOI_W_Exchange_data might be corrupted with a simple test using ADIOS2 BP5 engine"
This issue is only reproducible with MPICH 4.x (not reproducible with MPICH 3.x or OpenMPI).
Below are detailed steps to reproduce it.

[Build and install MPICH 4.0.2]
[code]

[Add installed MPICH to $PATH]
`export PATH=/path/to/mpich/installation/bin:$PATH`

[Build and install ADIOS2 2.8.3]
[code]

[Build and run the test program]
[code]

[Example output]
[code]
Content of the test program (test_

[2022-09-19 16:12] dqwu commented on #6182
@roblatham00 This is the simplest reproducer I have so far, which still requires linking to ADIOS2 lib. I will try to replace the ADIOS2 code in the test program with all-MPI code if I can.
* It might be a bug with ADIOS2 BP5 engine code (not reprodubile with BP4) which creates and frees a lot of MPI communicators.
* It might be a bug with MPICH 4.x (not reprodubile with MPICH 3.x or OpenMPI), ass

[2022-09-19 16:48] dqwu commented on #6182
Valgrind output on ANL GCE nodes (Ubuntu 20, GCC 9.4.0)
[code]

[2022-09-19 17:05] hzhou commented on #6182
@dqwu Could you try reproducing this with 4.0.x romio + 3.4.x mpich or vice versa? I think you can do this by manually swapping the `src/mpi/romio` folder in the source tree. This should narrow it down to whether ROMIO or MPICH contains the breaking changes.

Is the creating of `fh1` critical in the reproducer?

[2022-09-19 17:57] hzhou commented on #6181
As far as I can tell, the bug was always here since we re-enabled the singleton init. PR #6183 should fix it.

[2022-09-19 19:13] dalcinl commented on #6181
OK. Then this is probably some sort of regression in GitHub Actions. It is a bit weird that a rogue process would not allow the runner to properly shutdown. On the good side, this issue allowed you to quickly spot the flaw and promptly address it :smile:.

[2022-09-19 19:56] hzhou commented on #6181
Yes, the failures are good. :) Thanks for testing the singleton init. I was planning to add some of our own tests but never get to it :(.

PS: looks like I will be able to fix the ch3-singleton init as well

[2022-09-19 20:21] dalcinl commented on #6181
All mpi4py test [passed](https://github.com/mpi4py/mpi4py-testing/actions/runs/3084965848) with your first commit.

I did not test this one, but as ch3 was not failing, I'm not sure whether it would make sense to run it again. Should I?

[2022-09-19 20:25] hzhou commented on #6181
I was referring to issue #6154 . I see you have ch3 singleton tests disabled at the moment. It'll be good if you can confirm with the tests.

[2022-09-19 20:27] dalcinl commented on #6181
Oh, sorry. Yes, I can check the fixes in a branch and run a build. You will get the results by tomorrow.

[2022-09-19 20:30] dqwu commented on #6182
@hzhou
I tried to build MPICH 4.0.2 with ROMIO copied from MPICH 3.4.3, but there are some build errors:
[code]

mplconfig.h can be found in the src directory, though.
[code]

[2022-09-19 21:01] hzhou commented on #6182
Let's try some hacking --
[code]

[2022-09-19 21:20] dqwu commented on #6182
This workaround works, but there are some linking errors:
[code]

[2022-09-19 21:23] hzhou commented on #6182
More hacking:
[code]

[2022-09-19 21:32] dqwu commented on #6182
Thanks, I was able to build MPICH 4.0.2 with ROMIO of MPICH 3.4.3, and this issue is not reproducible.

I will try MPICH 3.4.3 with ROMIO of MPICH 4.0.2 later.

[2022-09-19 21:34] hzhou commented on #6182
I guess that points the fault to the changes in ROMIO

[2022-09-19 21:48] dqwu commented on #6182
I tried to build MPICH 3.4.3 with ROMIO of MPICH 4.0.2, the build errors are:
[code]
Any hacking for this build issue?

[2022-09-19 22:07] hzhou commented on #6182
Yeah, paste in `src/include/mpi.h` after the line `#define MPI_CONVERSION_FN_NULL ((MPI_Datarep_conversion_function *)0)`
[code]

[2022-09-20 00:00] dqwu commented on #6182
Thanks, this works to build MPICH 3.4.3 with ROMIO of MPICH 4.0.2.

Unfortunately, MPICH 3.4.3 with ROMIO of MPICH 4.0.2 cannot reproduce this issue.

In summary (tested on my laptop with Ubuntu 18 and GCC 7.4.0):
MPICH 4.0.2 + default ROMIO: reproducible
MPICH 4.0.2 + ROMIO of MPICH 3.4.3: not reproducible
MPICH 3.4.3 + default ROMIO: not reproducible
MPICH 3.4.3 + ROMIO of MPICH 4.0.2: not repro

[2022-09-20 04:50] dqwu commented on #6182
@hzhou @roblatham00
Actually MPICH 4.0b1 cannot reproduce this issue but MPICH 4.0rc1 can.

MPICH 4.0b1 + default ROMIO: not reproducible
MPICH 4.0rc1 + default ROMIO: reproducible
MPICH 4.0b1 + ROMIO of MPICH 4.0rc1: reproducible
MPICH 4.0rc1 + ROMIO of MPICH 4.0.b1: not reproducible

This points the fault to the changes in ROMIO (between 4.0b1 and 4.0rc1, number of different files: 16).

It seem

[2022-09-20 06:43] dalcinl commented on #6181
I enabled the ch3 tests. It is all [green](https://github.com/mpi4py/mpi4py-testing/actions/runs/3087746784) now!

[2022-09-20 10:10] Josh-Cottingham-Arm commented on #6131
Sorry for the long response, have not yet been able to pick up testing this again.

Perhaps the issue I was facing was due to me incorrectly building (I did regenerate the binding code with `./autogen.sh -do=gen_binding_c` but couldn't build from source as was struggling with automake version mismatch). I instead patched the 4.1a1 source tar with this change and rebuilt.

One note that is interest

[2022-09-20 19:43] raffenet commented on #6131
Which numbers in particular? To my knowledge, some information such as local-to-global rank translation has never been implemented in MPICH, so those fields can't be trusted. Tag and length look good. "Actual" values, I'll have to take a closer look at.

I do plan on getting the local-to-global translation working at some point, it just hasn't been very high priority.

[2022-09-21 04:03] dqwu commented on #6182
@hzhou @roblatham00
Finally I was able to find a potential bug inside ADIOS2 BP5 engine code
[code]
For the 2nd comm.Irecv call, the argument "rank - 1" should be "comm.Size() - 1" (the source parameter of MPI_Irecv).

Due to this bug (maybe a typo), rank 0 will not receive the integer sendToken from rank 3 (the value is set to 3 on rank 3), and this pending data will be received later inside the

[2022-09-21 04:13] dqwu commented on #6182
@hzhou @roblatham00
I have a simple all-MPI test program to reproduce this issue now (only reproducible with MPICH 4.0rc1 or later when a constant tag 0 is used for collective write, since ADIOS2 BP5 engine code or this test program also uses tag 0 for MPI_Irecv/MPI_Irecv).

I think this issue can be closed later, but it will be helpful that newer versions of MPICH can detect an invalid source arg

[2022-09-21 04:16] hzhou commented on #6182
@dqwu Good job locating the bug!

Unfortunately `-1` is `MPI_PROC_NULL` in MPICH, and `MPI_PROC_NULL` is valid use by MPI standard.

[2022-09-21 04:21] dqwu commented on #6182
Thanks for the information. As you can see, this bug is not easy to reproduce with MPICH 4.x. Actually, if we delete dupcomm1, dupcomm2, dupcomm3 in the latest test program, this bug cannot be reproduced (the ADIOS2 BP5 engine code creates a lot of MPI comms).

[2022-09-21 13:03] dqwu commented on #6182
@hzhou @roblatham00
This issue can be closed since it turns out to be a bug of ADIOS2 BP5 engine code. PS, it has been fixed on ADIOS2 master branch, with added error checks in Comm send/recv wrapper functions to throw an error in case of bad source/dest, see https://github.com/ornladios/ADIOS2/pull/3345

[2022-09-21 14:41] hzhou commented on #6182
@dqwu Thanks for the all-MPI reproducer. It did reveal an issue in mpich. What happens is -- there is a pending send message in `dupcomm4` from `simulate_ADIOS2_BP5_engine_code`. It lingers because there is currently no mechanism for canceling sent messages. The later `io_comm2` reuses the same internal `context_id` since `dupcomm4` was freed already. The extra communicators in the reproducer are

[2022-09-21 14:49] hzhou opened #6184 "ch4: lingering sent message interferes with later communicator"
Issue https://github.com/pmodels/mpich/issues/6182 shows a case where a sent message from one communicator may interfere with traffic from a different communicator later. This is due to the communicator was freed after the send is completed and the later communicator can pick up the same `context_id`. Because the send message is still in the receiver's unexpected message queue, it matches later tr

[2022-09-21 14:53] hzhou commented on #6184
I am not sure how to fix it.

One solution is to allocate a few bits in the match bits and set them to a sequence number of the communicator. But that simply mitigates the issue since the sequence number will wrap around and collide as well.

[2022-09-21 14:56] hzhou commented on #6182
Close this issue. The lingering send message issue is tracked in new issue #6184

[2022-09-21 14:56] #6182 closed

[2022-09-21 15:28] dqwu opened #6185 "Valgrind reports some still reachable bytes in MPI_File_open"
Reproduced on Ubuntu 18 with default GCC 7.4.0

[Build MPICH 4.0.2 with -g flag
[code]

[Run a simple test with Valgrind]
[code]

[Sample output]
[code]

Test program (test_mpiio.c)
[code]

[2022-09-21 15:28] dqwu commented on #6185
@hzhou Is this a known issue?

[2022-09-21 15:46] hzhou commented on #6185
Not really. Could you try the main branch of mpich? https://github.com/pmodels/mpich/blob/main/doc/wiki/source_code/Github.md

[2022-09-21 16:23] roblatham00 commented on #6184
I don't know nothing about anything but if the `context_id` is getting reused, can you somehow delay re-issuing the same `context_id`?  I imagine in practice wrap-around is perfectly fine - we know of only one case (NEC5k about ten years ago) that made tons and tons of communicators.

[2022-09-21 16:33] raffenet commented on #6184
It's tricky when matching is done below the MPI library, since the receiver doesn't know what unexpected messages might be in the queue. With software matching, we could add a reference the comm at the receive side and prevent the context_id from being reused.

[2022-09-21 16:37] dqwu commented on #6185
It seems that the leaks from MPI_File_open have been fixed by latest main branch.
Below are possible remaining leaks reported by Valgrind.
[code]

[2022-09-21 18:01] raffenet commented on #6184
Maybe we can do the equivalent to an MPI_ANY_TAG/MPI_ANY_SOURCE probe when freeing the communicator and keep it around if something is found in the queue? Debug builds would warn the user about the unreturned comm handle at finalize. Or we could do a truncated recv to remove the unmatched entry and issue some other warning.

[2022-09-21 18:52] #6154 closed

[2022-09-21 18:52] #6181 closed

[2022-09-21 19:09] hzhou commented on #6184
That may not be a bad idea. I think a anysrc/anytag probe should work.

[2022-09-21 19:11] raffenet commented on #6184
I'll hack up a patch and post it to try.

[2022-09-23 16:17] Josh-Cottingham-Arm commented on #6131
Ah apologies, I was not aware that the local-to-global rank translations have not been implemented yet for MPICH. In that case please ignore that comment there, everything looks as expected.

Am still interested as to why when I tried the fix that I did not see the same. Out of curiosity does it show nothing in the Message Queue dialog without this fix (i.e. with 4.1.a1)?

[2022-09-23 18:26] raffenet commented on #6131
That's interesting. My patch should only affect the visibility of the `MPI_Ssend` operation, as it was previously ignored by the debug interface. AFAICT, the blocking MPI_Recv should have been visible even in 4.1a1.

[2022-09-23 19:34] raffenet opened #6191 "hydra: pmi wire buffer not large enough"
I tried running an MPI program fully subscribed on two nodes of JLSE skylake.
[code]

[2022-09-23 19:39] raffenet commented on #6191
MPICH configure (main branch):

[2022-09-23 19:58] hzhou commented on #6191
For now try manually increase `MAX_TMP_BUF_SIZE`. I am going to address it after the pmi_msg refactor, something like this one https://github.com/pmodels/mpich/pull/6168/commits/6d09656ccb9dd8cc4bdd055a067f414919258559

[2022-09-26 15:23] cs0731 commented on #6157
I deployed mpich-3.3.2 and libfabric version 1.15.2. Then I tried to use "-- with device=ch3: nemesis: ofi". The measured bandwidth of osu_bw is only 5GB/s, far below the expected performance.

[2022-09-26 15:25] hzhou commented on #6157
@cs0731 ch3 is in maintenance mode. Is it possible for you try ch4 using later MPICH releases?

[2022-09-27 12:36] gcorbin opened #6195 "MPI_Pready_list: missing const in declaration"
The Standard specifies the C-binding as

`int MPI_Pready_list(int lenght, const int array_of_partitions[], MPI_Request request)`

but `mpi_proto.h` defines it without the const specifier, i.e.:

`int MPI_Pready_list(int lenght, int array_of_partitions[], MPI_Request request)`.

[2022-09-27 14:00] cs0731 commented on #6157
Thank you! I have deployed mpich-3.3.2. Using ch4: ucx, the network performance test is normal.

[2022-09-27 14:19] raffenet commented on #6195
@gcorbin thanks for the report! #6196 should fix.

[2022-09-27 14:20] raffenet commented on #6195
If you want to test the patch locally, you can run `./autogen.sh -do=gen_binding_c` after applying it.

[2022-09-27 16:06] raffenet commented on #6195
Actually now you also need to run `./autogen.sh -do=ch4_api`. Or you can just run `./autogen.sh` with no options.

[2022-09-27 18:13] #6195 closed

[2022-09-28 01:41] cathaysia opened #6198 "Q: How to get the process status on compute node"
Hello, I use mpich to execute my program on a compute node. I now need to write a program to display the execution status of processes on each node, is there anything I can do?

I know that hydra is mpich's process manager, so can I get the status of a process from hydra? Or is hydra not exposing the interface, and I have to modify hydra to achieve this?

[2022-09-28 13:24] hzhou commented on #6198
There is a debugger interface, documented in the [MPIR Process Acquisition Interface, Version 1.1](https://www.mpi-forum.org/docs/mpir-specification-03-01-2018.pdf) and https://www.mpi-forum.org/docs/msgq.5.pdf. If you have access to a parallel debugger such as [Arm DDT](https://www.arm.com/products/development-tools/server-and-hpc/forge), the debugger should have those information.

You also can

[2022-09-29 00:36] cathaysia commented on #6198
Thanks, please give some to read these documents.

[2022-09-29 01:27] cathaysia commented on #6198
I was told that a protocol called pmi is used to hydra get information about the process, but this protocol does not appear to be public. I'll continue to look at the MPIR protocol today, but if you're interested, can you talk to me about the pmi protocol?

[2022-09-29 03:24] hzhou commented on #6198
Sure. You can read the PMI documentation here: https://flux-framework.readthedocs.io/projects/flux-rfc/en/latest/spec_13.html

PMI protocol is used by MPI internally and it is between MPI process and Process manager during init.

[2022-09-29 11:41] cathaysia commented on #6198
Thanks. I have a few days off next. If you don't mind, can you please leave the question off？:)

[2022-10-04 02:25] pop-yasigi commented on #5380
How do I create a "cross" file?

[2022-10-04 02:36] hzhou commented on #5380
You can try --
[code]
Since we are cross-compiling, the generated file may not be correct. You can either run the script on the target system, or you may manually edit the file with the correct values.

[2022-10-06 20:46] #6191 closed

[2022-10-08 03:28] hzhou commented on #6177
@AtlantaPepsi Do you have further questions regarding this issue?

[2022-10-09 09:44] cathaysia commented on #6198
Hello, today I took a closer look at the PMI protocol and the MPIR protocol. But the PMI protocol is too simple to function, and MPIR is too complex (after all, I don't want to write a debugger). I think it's easier to modify the source code directly. I want to do this by modifying the proxy's code so that it periodically sends information about processes on the current node. But I don't know wher

[2022-10-09 12:18] pistachio-xin opened #6205 "build: configure problem of mpich"
hi, everyone,
I met a problem when I run the code './configure --prefix=/home/user/mpich4/mpich_install 2>&1 | tee c.txt' in the process of installing mpic, there have the following error:
configure: error: working directory cannot be determined.
So, if somebody can help me to solve this problem, I will be thanks very much.

[2022-10-09 13:22] hzhou commented on #6198
@cathaysia Could you describe more on your application? In particular, what execution status you are looking for?

[2022-10-09 13:26] hzhou commented on #6205
@pistachio-xin Could you upload `c.txt`? We'll need more context to troubleshoot.

[2022-10-09 13:31] pistachio-xin commented on #6205
@hzhou
[c.txt](https://github.com/pmodels/mpich/files/9741658/c.txt)
yes, but there just have one error: "configure: error: working directory cannot be determined."

[2022-10-09 13:41] hzhou commented on #6205
What do you get when you type `pwd` at the command prompt?

[2022-10-09 13:45] pistachio-xin commented on #6205
@hzhou
![批注 2022-10-09 214501](https://user-images.githubusercontent.com/81011698/194760344-0fa2c268-33f7-48dc-a0db-21d08582f640.jpg)
Can you see this picture?

[2022-10-09 13:47] hzhou commented on #6205
Yes. That looks all right.

[2022-10-09 13:53] hzhou commented on #6205
Okay, try this then --
[code]

This is what in the `configure` script that produced the error. See if you can reproduce it.

[2022-10-09 13:57] pistachio-xin commented on #6205
@hzhou
![11](https://user-images.githubusercontent.com/81011698/194760930-c8c6e5bc-f629-4371-ba92-e31218eae9c0.jpg)
Is it right?

[2022-10-09 13:59] hzhou commented on #6205
Good, you reproduced the error. Now manually try one command at a time and try to figure out which step failed.

[2022-10-09 14:05] pistachio-xin commented on #6205
@hzhou Very sorry that I have not understood the method. Which command I need to try?

[2022-10-09 14:10] hzhou commented on #6205
I'll be busy for a while. Meanwhile, please try some online shell scripting resources until you fully understand the command you just tried. I'll help you later if you still couldn't figure it out.

[2022-10-09 14:13] pistachio-xin commented on #6205
@hzhou Ok, thanks for your help! I will try to understand those command.

[2022-10-09 18:21] hzhou commented on #6205
@pistachio-xin Here is a list of commands you can try:
[code]

I suspect it is `cd $ac_pwd` has issue, so also try `cd /home/user/mpich4/mpich-4.0.1`

[2022-10-10 01:03] cathaysia commented on #6198
My program needs to get the following information:

- the running status of processes on compute nodes
- the number of processes on each compute node
- the startup information of processes.

Since my program may start later than mpich, my plan is for the proxy to send this information periodically.

[2022-10-10 01:45] pistachio-xin commented on #6205
@hzhou I think maybe you want to verify that the pwd directory is the current directory. If yes, the directory id must be the same, but it seems like doesn't has issue.
![22](https://user-images.githubusercontent.com/81011698/194789551-e0614695-e26c-4529-8ebd-46c766cf2ffb.jpg)

[2022-10-10 01:53] hzhou commented on #6205
Looks like
[code]
returned non-zero. And why `cd ` prints the directory listing? Did you had `ls` and `cd` aliased into something?

[2022-10-10 02:05] pistachio-xin commented on #6205
@hzhou Nope, I have checked the .bashrc file, there didn't aliased ls and cd.
![44](https://user-images.githubusercontent.com/81011698/194790554-58810527-e31c-4dea-9970-d32337840e47.jpg)

[2022-10-10 02:32] hzhou commented on #6198
The `main` function of proxy is here: https://github.com/pmodels/mpich/blob/main/src/pm/hydra/proxy/pmip.c. I don't think hacking hydra is the easy way, but good luck.

[2022-10-10 02:35] hzhou commented on #6205
Try
[code]

[2022-10-10 02:44] pistachio-xin commented on #6205
@hzhou
![5](https://user-images.githubusercontent.com/81011698/194792739-d85b7b04-b465-4307-ab89-720a3b1c1f38.jpg)

[2022-10-10 03:17] cathaysia commented on #6198
yes, hack hydra is not the easy way, but I cannot find another better way. :(
Thanks for your help. :)

[2022-10-10 03:20] hzhou commented on #6205
The error code of 255 is the issue. What is your system and could you upload the man page of your `ls`?

[2022-10-10 03:33] pistachio-xin commented on #6205
@hzhou My system is Centos7, and the man page of ls is showing in the following file.
[output.txt](https://github.com/pmodels/mpich/files/9743237/output.txt)

[2022-10-10 04:15] hzhou commented on #6205
Does your `ls` always return 255? Try -
[code]

[2022-10-10 04:17] hzhou commented on #6205
I am not sure what's going on with `ls` on your system. You may try hack the `configure` script. Just edit and search for the error message and remove the error checking.

[2022-10-10 04:47] pistachio-xin commented on #6205
@hzhou

Yes, and in the another pc, there are also 255, but that pc doesn't have the problem of configure.

Ok, thank you very very much, I will try to check the configure script.

[2022-10-11 09:01] #6198 closed

[2022-10-11 12:39] ocelotStride opened #6206 "Issues Building with AOCC (AMD Optimising C Compilers) --- Linking to Flang"
The build itself proceeds without issue, but libtool cannot link to flang during the install step. How can this be corrected? I found an issue from 2018 regarding this issue but some of the changes described in that post do not match what is currently in the files. The AMD compiler typically installs into /opt and is loaded by exporting the path to the environment.

Update: I was able to bypass th

[2022-10-11 13:29] hzhou commented on #6206
Could you paste some console log? I am not sure I fully understand the issue. Is it missing an LD_LIBRARY_PATH?

[2022-10-11 13:44] ocelotStride commented on #6206
The LD_LIBRARY_PATH is pulled from my environment. The issue occurs during `sudo -E make install`. The libtool linking steps for clang, clang++, and flang fail to find the command and I had to manually change the path in libtool to `/opt/AMD/.../bin/clang` and so on

[2022-10-11 13:57] hzhou commented on #6206
I see. I guess that is due to clang's path was not in `root` user's environment. You also can set `CC`, `CXX`, `FC` to the full path during the configure step.

[2022-10-11 14:01] ocelotStride commented on #6206
Is this not the purpose of `sudo -E`? It is strange that it picks up the other environment variables like the LD for example. Is putting the full path during configure the intended solution?

[2022-10-11 15:07] hzhou commented on #6206
Generally, automake does not use full paths in Makefile. So if there is a particular reason to use the full path, we need explicitly do so.

[2022-10-11 18:59] hzhou commented on #6185
The `hwloc` leak is tracked here - https://github.com/open-mpi/hwloc/pull/547

[2022-10-11 21:59] hzhou commented on #6185
I don't see the libfabric `_dl_open` leak -- maybe because I am building embedded libfabric -- but I do see some leaks from `prov/opx`. Tracked here - https://github.com/ofiwg/libfabric/issues/8091

[2022-10-11 22:08] #6177 closed

[2022-10-11 22:09] #6157 closed

[2022-10-11 22:11] hzhou commented on #6161
This is fixed by https://github.com/pmodels/mpich/pull/6162

[2022-10-11 22:11] #6161 closed

[2022-10-11 22:16] hzhou commented on #6129
I am closing this issue since the last response is a few months ago. @Maple-yhj If you still need help, please feel free to re-open the issue.

[2022-10-11 22:16] #6129 closed

[2022-10-12 02:54] #6124 closed

[2022-10-12 02:59] hzhou commented on #5377
This issue is addressed by https://github.com/pmodels/mpich/pull/5870 (at least it was supposed to). If some of the details are still missing, either reopen with specific details or open a new issue.

[2022-10-12 02:59] #5377 closed

[2022-10-12 03:08] hzhou commented on #6205
I am closing this issue since it is not related to MPICH. @pistachio-xin  If you still need help, feel free to reopen it.

[2022-10-12 03:08] #6205 closed

[2022-10-12 03:14] hzhou commented on #4937
Close the issue due to staleness. @bnicolae If the issue is still relevant, please re-open

[2022-10-12 03:14] #4937 closed

[2022-10-12 03:28] hzhou commented on #3945
I am not sure this is something we need to fix. I think the count includes duplicated or extra counts anyway, for example `realloc`, `free(NULL)`. Since there is no leaked memory or double free, I think we are clean.

[2022-10-12 03:28] #3945 closed

[2022-10-12 14:35] #6120 closed

[2022-10-12 15:14] #6184 closed

[2022-10-12 16:53] raffenet commented on #6141
#6204 backported the new MQD support (and fixes from #6200) to 4.0.x. It will be included with the 4.0.3 release. Marking this issue as done.

[2022-10-12 16:53] #6141 closed

[2022-10-13 02:41] #6206 closed

[2022-10-17 16:03] raffenet commented on #4358
@skosukhin MPICH 4.0.x and the upcoming 4.1 releases, to my knowledge, no longer use the Fortran compiler to link lib(p)mpi.so. All the Fortran related code has been moved to `libmpifort.so`, which does not depend on any convenience libraries. So I believe this issue is resolved for MPICH >= 4.0.

[2022-10-17 17:16] hzhou commented on #4358
The shared library should not contain symbols from internal convenience libraries. What am I missing?

[2022-10-18 09:17] tjahns commented on #5391
I just noticed that, months after this was closed, MPICH 3.4.3 was released, not including the fix. We are currently distributing a fix at https://gitlab.dkrz.de/dkrz-sw/yaxt/-/blob/master/config/checkpatch/mpich_3.4_yaksa_hindexed.patch that works for the older yaksa used in mpich 3.4.x

[2022-10-18 13:51] Josh-Cottingham-Arm commented on #6131
I have had a bit more time to investigate this and turns out we were building our MPICH packages with _--with-device=ch3:sock_ and this seems to have been what has caused us to see the issue to begin with. Not sure this is really needed in our case anyway and using default settings appears to work fine.

[2022-10-18 14:22] #6165 closed

[2022-10-18 14:37] #6136 closed

[2022-10-18 18:18] rhino-taur opened #6216 "Installation guide"
There is a couple steps missing in the install steps.

I tried with downloading the source code but got stuck at module hwloc missing and no info on how to fix it.
So I git-cloned MPICH instead. Got stopped at the same spot, hwloc missing. But it did say I could run: git submodule update --init

./configure still did not run. I had to run ./autogen.sh
In short, these are the steps I took before ru

[2022-10-18 18:25] hzhou commented on #6216
Historically the official documentation assumes users are building from a release tarball. The git fresh checkout process is documented in our wiki https://wiki.mpich.org, first link. But I agree that at the least, we need provide pointers in the main document.

[2022-10-18 18:46] raffenet commented on #6216
@rhino-taur did you download one of the github generated tarballs? Those lack submodules and a `configure` script. I wish there was a way to disable them from being shown. We do upload official MPICH release tarballs to Github. You should download those instead, e.g. `mpich-4.0.2.tar.gz` from https://github.com/pmodels/mpich/releases/tag/v4.0.2.

And you can always get official releases on our web

[2022-10-20 15:19] louisespellacy-arm opened #6221 "build: configure fails for libfabric with NVHPC compiler"
Hello my name is Louise Spellacy, and I work for Arm.

We have observed a issue with building MPICH 4.0.2 with the NVIDIA SDK compiler.
`-Wno-missing-field-initializers` is not a supported switch by nvhpc compiler.

With the configure line:
[code]

The configure build fails on the step:
[code]

When you observe the `config.log` for `libfabric` you can see the steps are failing on:
[code]

To compl

[2022-10-20 16:13] hzhou commented on #6221
@louisespellacy-arm What if we pass `--disable-debug` to the configure line?

[2022-10-20 17:22] louisespellacy-arm commented on #6221
If I replace `--enable-debug` with `--disable-debug` the issue doesn't appear.

[2022-10-20 18:01] hzhou commented on #6221
We could pass `--disable-debug` to libfabric by default, and turn it on under `--enable-strict` or `--enable-g=debug`. That seems more inline with the main mpich configure.

[2022-10-20 19:13] louisespellacy-arm commented on #6221
Yes that sounds like a possible solution! What would the impact been for having now debug for libfabric - or is this similar approach used for other dependencies?

[2022-10-20 20:32] ericch1 opened #6222 "mpich/master MPI I/O assertion `num_iovs > 0' failed since October 18"
Hi,
we are testing our test suit against mpich/master each night, compiled in debug mode.

Since October 18, we have many tests failing like this:
[code]
It also gives the exit code 134.
I do not yet have the backtrace, tell me if you need it or maybe it is something obvious for someone?

We tested the following commits:
bug is present in or before commit: ebebd9a43ff3509335244b50e00c04c2f211fe05

[2022-10-20 20:53] WHMHammer opened #6223 "[Question] Is there an alternative version of MPIR_Reduce_local?"
The [`MPIR_Reduce_local(inbuf, inoutbuf, ...)`](https://github.com/pmodels/mpich/blob/main/src/mpi/coll/reduce_local/reduce_local.c#L48) function stores the result of `inbuf ⨂ inoutbuf` (where ⨂ represents the operation) into the `inoutbuf`. Is there a version that stores the result of `inoutbuf ⨂ inbuf` (which is potentially different from `inbuf ⨂ inoutbuf` when `⨂` is non-commutative) into the

[2022-10-21 02:08] raffenet commented on #6221
I created a PR on the libfabric repo to treat `-Wno-missing-field-initializers` differently during configure. Now the script should test if it is accepted by the compiler before adding it to `CFLAGS`.

[2022-10-21 02:49] hzhou commented on #6222
@ericch1 If you could find out the datatype used in the failing tests and get a reproducer, it will help greatly. The code should be reliably reproducible as long as the same datatype is set.

Reference code:
[code]

[2022-10-21 10:11] ericch1 commented on #6222
I will not have time to give a reproducer until a week, but I now have the full backtrace and clues.

The bug arise when writing :
[code]
here we have:
[code]
That means We have an example with the first process that have nothing to write but the second on have data to write.
This is a normal situation which can occur in collective I/O.
Maybe it is just the assertion that should be:
[code]
To allo

[2022-10-21 22:14] hzhou commented on #6222
Sounds plausible. We added that assertion because our initial implementation of `MPIX_Type_iov_len` often had bug resulting in zero `num_iovs`. I guess there are legitimate cases of empty datatypes. If you (later) can provide a reproducer that confirms it is always an empty datatype, that will help our understanding.

[2022-10-22 06:28] ericch1 commented on #6222
ok, but I'll do that only in a week.

[2022-10-22 23:25] WHMHammer commented on #6223
Thank you for your reply @hzhou. I understand that `MPIR_Reduce_local` assumes ***associativity***, and thus `(a⨂b)⨂c` and `a⨂(b⨂c)` are equivalent. However, to my understanding, `MPIR_Reduce_local` does assume ***commutativity***, so `a⨂b` and `b⨂a` can not be assumed to be equivalent. The current (only) version of `MPIR_Reduce_local` always stores the result of the operation in the second operan

[2022-10-23 00:07] hzhou commented on #6223
If you are hacking, nothing prevents you from cloning an MPIR_Reduce_local that reverses the accumulation buffer. That said, an algorithm can always pick a variation that works with one of the MPIR_Reduce_local accumulation directions.

[2022-10-23 21:46] #6223 closed

[2022-10-24 14:38] matooley opened #6227 "bug: segmentation fault in MPI_Barrier with > 128 ranks"
I have encountered a highly repeatable failure when attempting to use over 128 ranks on a single node with the Posix SHM backend.  The code included below is sufficient to demonstrate this issue.

MPICH needs to have been built without UCX and the failure has been observed with multiple versions of GCC and Clang.

[code]

MWE:

[code]

Build with e.g `mpicxx -o barrier_test barrier_test.cpp`, and

[2022-10-24 14:52] hzhou commented on #6227
What is the output of `mpichversion`?

[2022-10-24 14:54] matooley commented on #6227
Sorry - now edited in above

[2022-10-24 14:57] hzhou commented on #6227
Could you try the 4.1a1 release or the main branch from github? Your test program seems to run fine on my end.

[2022-10-24 15:01] hzhou commented on #6227
I can confirm 4.0.2 segfaults. The bug must be fixed recently. Let me see if I can locate the commits...

[2022-10-24 15:15] matooley commented on #6227
I still get the identical segfault with the latest main:

[code]

[2022-10-24 15:42] hzhou commented on #6227
Alright, I confirmed the bug. I must've been testing ch3 or ucx when I was first checking out. I'll look into the bug. Thanks for reporting! @matooley

[2022-10-26 09:05] louisespellacy-arm commented on #6221
@raffenet That sounds like a better approach as I think there are other switches that are not supported but this is just the first instance that fails.

[2022-10-26 18:18] #6227 closed

[2022-10-27 11:03] tjahns opened #6233 "bug: incorrect data transfer when using MPI_Neighbor_alltoallw"
The followiing test program demonstrates a problem we found in recent MPICH versions when configured with mostly default settings (and is also reproducible in full debugging configuration using --disable-fast) including the recent main branch at f111fdf33578e590d617ed304fa7d6b8052bef7e.

Build options (for gcc/gfortran 8.4.1):

[code]

-------------->8----------------------------
[code]
----------

[2022-10-27 13:00] tjahns opened #6234 "Problem with YAKSA when creating zero-length MPI_Contiguous"
The following reproducer my colleague created demonstrates a problem we found in recent versions of MPICH when using YAKSA:

[code]

Building and running this with

[code]
yields a program that terminates with division by zero:
[code]
But this works with OpenMPI and older releases of MPICH or builds using the dataloop engine. This was tested on RHEL 8.4 with the system compiler. The error is repro

[2022-10-27 13:02] tjahns commented on #6234
Running the test program in valgrind gives:
[code]

[2022-10-27 15:22] hzhou commented on #6234
We probably should pre-check the zero-length cases before it enter the data engine. What is the semantics of packing/unpacking a zero-length datatype? Is it equivalent to a no-op?

[2022-10-27 18:27] tjahns commented on #6234
It's certainly an edge case that is not expected to occur in well formed operations, but since count is specified as non-negative in the standard it's an allowed use that should work. And, yes, since 0 elements are transferred this effectively constitutes a no-op.

[2022-10-27 23:36] sergey-v-kuznetsov opened #6239 "bug: MPI_Reduce for large derived datatype causes FPE exception"
We've been trying to test ScaLAPACK 2.2.0 and ScaLAPACK  2.1.0  https://netlib.org/scalapack and we found out that BLACS tests crash with MPICH 4.0.2. Our investigation showed that seg faults happen while calling MPI_reduce for  MPI_DOUBLE_COMPLEX  for computing max or min absolute value of a double complex precision.  Here are steps to reproduce:
1. Download ScaLAPACK 2.2.0 or ScaLAPACK 2.1.0
2.

[2022-10-28 14:52] hzhou commented on #6239
Thanks for reporting the issue. We'll look into it.

[2022-10-28 14:53] hzhou commented on #6239
Reproduced the bug. Backtrace:
[code]

[2022-10-28 15:13] hzhou commented on #6239
@sergey-v-kuznetsov Could you try to apply the patch in #6240 and rebuild MPICH?

[2022-10-30 22:25] ericch1 commented on #6222
Hi @hzhou,

here is the promised reproducer.

Is it possible to transform it into some kind of unit test?

Thanks,

Eric

[code]

[2022-10-30 22:33] ericch1 commented on #6222
A "funny" historical note: I submitted a bug report for the same issue in 2013 on OpenMPI discussion list, but it was then using romio driver from mpich if I am right...

https://www.mail-archive.com/search?l=users@lists.open-mpi.org&q=subject:%22%5C%5BOMPI+users%5C%5D+assert+in+opal_datatype_is_contiguous_memory_layout%22&o=newest&f=1

[2022-10-31 16:14] hzhou commented on #6222
Thanks @ericch1 for providing the reproducer! I have adapted it into our test suite in #6241

[2022-10-31 16:26] #6234 closed

[2022-10-31 22:05] ericch1 commented on #6222
Very nice @hzhou !  Thanks a lot for taking time to adapt it to the test suite! :)

[2022-11-01 21:43] joshfisher-cornelisnetworks opened #6246 "ch4: Inconsistency in choosing providers based on progress mode"
Found that for some reason, when a provider returns an info lists only containing AUTO as the capable progress mode, but tries to run forcing progress to MANUAL it will work, but the other way around will not. Not sure if this is the intended outcome or not for the latter.

[2022-11-01 23:44] sergey-v-kuznetsov commented on #6239
Unfortunately I was unable to check out the git branch due to a  security problem on our side.  And I got compilation errors if the pull request's changes are incorporated into the mpich 4.0.2 package. Sorry, I'll  have to wait for a mpich release.

[2022-11-01 23:56] hzhou commented on #6246
I thought we always set `FI_PROGRESS_MANUAL`. How are you forcing it to AUTO?

[2022-11-02 07:50] ericch1 commented on #6222
Just to inform that everything is now working fine again on our side, thanks! :)

[2022-11-04 14:23] #6239 closed

[2022-11-04 15:24] hzhou commented on #6233
Sorry for the delay. I'll look into this today.

[2022-11-04 17:44] hzhou commented on #6233
I confirmed the bug. Fix coming.

[2022-11-07 14:48] tjahns commented on #6233
I'm currently trying to understand the effect of the fix, but running autogen.sh seems to update lots of files in a way that creates things diff picks up but which are inconsequential in terms of library functionality, like the order of functions implementing reductions and so on. Is there some switch or method to calling autogen.sh that will create reproducible changes?

[2022-11-07 15:03] hzhou commented on #6233
@tjahns Could you upload the diffs you get? The script should generate reproducible code to my understanding.

[2022-11-07 15:17] tjahns commented on #6233
Not sure why that's true for you but I figured it out in the meantime by searching for "reproducible builds automake". When running the script like this
[code]
all that randomness seems to go away. Perhaps these variables are set by default in your environment?

[2022-11-07 15:17] tjahns commented on #6233
There is still some timestamps inserted into generated headers but those are few enough to not blur the bigger picture.

[2022-11-07 15:28] #6233 closed

[2022-11-07 15:41] tjahns commented on #6233
And yes, applying the fix works as expected.

[2022-11-09 15:16] hzhou commented on #6246
@joshfisher-cornelisnetworks Could you elaborate on this ticket?

[2022-11-10 21:17] louisespellacy-arm commented on #6221
@raffenet What version will your change be available in?

[2022-11-10 21:46] raffenet commented on #6221
I just picked the upstream commit into our embedded submodule. The fix didn't make 4.0.3, but we should be able to include in 4.1b1 which should be out either this week or next.

[2022-11-11 03:53] #6221 closed

[2022-11-11 21:01] hzhou opened #6264 "jenkins: timeout in ch3:sock io async tests"
These F77 and F90 io tests routinely timeout during the night async tests for the `ch3:sock` device.

[code]

The `iwriteshf` fails most often, but `writeshf`, `writeordf`, `iwriteordf` also fails sometime. Typical runtime is around or less than 10s, and it also sometime fails with the ticketlock build. Thus this is potentially a real bug for the ch3:sock device.

[2022-11-12 06:15] prj- opened #6266 "Incorrect detection of python3"
On a macOS box, my Python binary is at `/opt/homebrew/bin/python3`. On a Debian Sid box, my Python binary is at `/usr/bin/python3.11`. On both of these machines, `configure` chokes because the test for detecting Python seems too restrictive to me.
[code]
Could it be possible to pass the Python binary to `configure`, e.g., with `./configure PYTHON=/opt/homebrew/bin/python3`, and then not hardwire `

[2022-11-12 17:18] hzhou commented on #6266
That's an excellent suggestion! We'll do that

[2022-11-14 11:54] dalcinl opened #6269 "mpi4py: Regression running testsuite on GitHub Actions"
* All build using `hydra` fail in singleton init mode [[logs]](https://github.com/mpi4py/mpi4py-testing/actions/runs/3449138542). Unfortunately, the failure prevented GH Actions for generating a proper, informative logs.
* The build using `gforker` and `ch4:ofi` failed with the following assertion:
[code]

It is not easy for me right now to try to reproduce these issues with local builds.

[2022-11-14 15:46] hzhou commented on #6269
I'll look into it

[2022-11-14 17:57] jacobrking opened #6270 "Fortran MPI_Waitany uses 0-based indexing"
I'm using mpich 4.0.2 and the mpi_f08 module. The output request index from MPI_Waitany is now 0-based, instead of 1-based. This differs from mpich 3.4 and other mpi implementations.

This is reflected as a change in the documentation to omit that Fortran uses 1-based indexing in the output indx:
https://www.mpich.org/static/docs/v3.4/www3/MPI_Waitany.html
https://www.mpich.org/static/docs/v4.0/ww

[2022-11-14 18:14] samuelpmishLLNL opened #6271 "question: disabling LTO flags"
Hi, I recently upgraded to ubuntu 22.04, where the default `mpich` available is
[code]
as opposed to ubuntu 20.04's
[code]

It looks like `mpic++` in the newer version has link-time optimization flags on by default (this was not the case with v3.3 + ubuntu 20.04):
[code]
but unfortunately, there are some bugs in gcc-11 and gcc-12 when using link time optimization. Is there a way to reconfigure mpi

[2022-11-14 19:40] hzhou commented on #6270
I believe this was fixed by https://github.com/pmodels/mpich/pull/5763. Unfortunately, this patch didn't make into 4.0.3 release. Could you try the 4.1b1 release (https://www.mpich.org/downloads/)?

[2022-11-14 19:46] hzhou commented on #6271
I believe these lto flags are added by ubuntu maintainers. The compiler wrappers are just bash scripts. You can try make a copy and edit the flags out -- look for `final_cppflags`. These flags are inherited from when the maintainers build the packages. I believe it is safe to overwrite.

[2022-11-14 20:45] jacobrking commented on #6270
I can confirm that it works in 4.1a1. Thanks for pointing out the patch.

[2022-11-14 20:45] #6270 closed

[2022-11-15 03:14] hzhou commented on #6269
We also see the failure in our Jenkins:
[code]
However, when I manually (logged on to the server and using the same build) run `python3 runtests.py`, it always complete successfully. Puzzling...

[2022-11-15 03:19] hzhou commented on #6269
This one has more error message:
[code]

[2022-11-15 05:23] hzhou commented on #6269
At least Jenkins can reliably reproduce the singleton init failure: https://jenkins-pmrs.cels.anl.gov/job/mpich-review-custom/990/console

[2022-11-15 17:23] samuelpmishLLNL commented on #6271
@hzhou Thanks for the suggestion, modifying the compiler wrappers works like a charm!

[2022-11-16 12:13] jeffhammond opened #6280 "testsuite: MPI_Delete_error_string isn't an MPI function yet"
MPI_Delete_error_string has not been voted into MPI 4.1 yet (https://github.com/mpi-forum/mpi-standard/pull/166).  It should not be used in the test suite, particularly not as an MPI 4.0 feature.

[code]

[code]

[2022-11-16 12:19] jeffhammond opened #6282 "testsuite: ft tests include MPIX features in spite of strictmpi"
When the strict MPI option is used, the test suite should not build MPIX features.

[code]

[code]

[2022-11-16 12:37] jeffhammond opened #6284 "testsuite: ./datatype/struct_no_real_types.c and MPI_LB"
./datatype/struct_no_real_types.c uses MPI_LB, which was deleted.  I have no idea what this test is supposed to do, but it shouldn't do this.

[code]

[2022-11-16 14:32] jeffhammond opened #6287 "testsuite: f77/pt2pt/issendf.f and f90/pt2pt/issendf90.f90"
There is a problem in these tests, but I cannot figure out how to resolve it.

The signature of `MPI_TESTANY` requires an array of requests and a single status object, which of course in F77/F90 means an an `INTEGER` array of dimension `MPI_STATUS_SIZE`.

The test works fine with F77.  With F90, specifically Open-MPI's module, gfortran 12.2.0 fails to find a matching procedure.

The first fix is t

[2022-11-16 16:23] hzhou commented on #6287
It seems there is a separate variable `status` and it should be used in `MPI_Testany` instead

[2022-11-16 16:28] hzhou commented on #6284
`MPI_LB` (and `MPI_UB`) is allowed in a struct and it defines its lower bound (and upper bound). The code in the test is defining an empty datatype, which is non-sensical, but it is allowed by the standard. You'll be surprised that there are plenty of real code do that. Having empty datatypes on some processes allow the application to write one code for all processes.

[2022-11-16 16:36] hzhou commented on #6282
@jeffhammond Could you give the linked PR a try?

[2022-11-16 17:42] jeffhammond commented on #6284
MPI_LB and MPI_UB were deleted.  I do not see how one can use them in MPI 3+.

[2022-11-16 17:51] hzhou commented on #6284
I see. We can guard the tests from `--enable-strictmpi`. There are too many legacy applications using explicit MPI_LB/MPI_UB, thus we are likely to keep supporting it.

[2022-11-16 22:52] #6269 closed

[2022-11-17 14:35] hzhou commented on #6269
@dalcinl The `hydra+ch4:ofi` failure is strange, there isn't any log? The singleton init is only triggered by the test to get unversize_size, so it should show some log before then. And as far as hydra goes, its singleton init is working as the other tests succeeded. Let's see if this failure reproduces.

Could you open a separate ticket for the TestRMASelf failure?

[2022-11-17 15:24] #6280 closed

[2022-11-17 20:01] #6282 closed

[2022-11-17 20:14] hzhou commented on #6269
@dalcinl For your reference, here is the result of our nightly test:
https://jenkins-pmrs.cels.anl.gov/job/mpich-main-mpi4py/335/

The 64-bit tests are clean. The 32-bit tests fails with ---
[code]

[2022-11-18 07:16] correaa commented on #2360
Is `PMI_SIZE` equivalent to `OMPI_COMM_WORLD_SIZE` or to `OMPI_COMM_WORLD_LOCAL_SIZE`? (same for `_RANK`)

[2022-11-18 12:04] dalcinl opened #6292 "[mpi4py] Regression in RMA test"
gforker + ch4:ofi: There is a RMA regression respect to about two weeks ago [[logs]](https://github.com/mpi4py/mpi4py-testing/actions/runs/3449138542/jobs/5835947548#step:17:1391)
[code]

[2022-11-18 14:17] hzhou commented on #2360
`PMI_SIZE` should correspond to `OMPI_COMM_WORLD_SIZE`.

[2022-11-18 14:55] dalcinl commented on #6269
@hzhou Sorry for the slow response.

Sorry, GitHub actions is indeed not producing any logs.

May be the hang is somehow related to the RMA issue?
With this [patch ](https://github.com/mpi4py/mpi4py/commit/612519390a23bae2b99f5632f112bfeb53bd39be) to skip tests, the standard mpi4py singleton tests that were failing before now run to completion for all build variants [[logs]](https://github.com/mpi

[2022-11-18 21:38] dalcinl commented on #6292
@hzhou I managed to find the commit introducing the regression

* Everything is OK up to commit 2e0db58f5c1ce60d6e3eb87e86b3b00368fedd00 (from #6250) [[logs]](https://github.com/mpi4py/mpi4py-testing/actions/runs/3499054867/jobs/5860168058).
* The singleton deadlocks and RMA failure both happen after 06a69645bdbf2837d014f0b6ddeb6548a7cd653b (from #6251) [[logs]](https://github.com/mpi4py/mpi4py-te

[2022-11-19 03:17] hzhou commented on #6292
The failure is related to the per-vci lock. However, I don't think your test is a multithreaded test, right? So it is probably not a race condition. The assertion failure is likely saying a double locking condition. It should be easy to trace once I reproduce the failure...

[2022-11-19 12:43] dalcinl commented on #6292
You are right, most of my tests do not involve threads, and that's particularly the case of the failing RMA test. It should be a double-locking situation. I'll try to reproduce locally.

[2022-11-19 16:46] dalcinl commented on #6292
@hzhou I'm able to reproduce the issue locally. I manage to get a quick fix for `MPI_Rget_accumulate()` with runs using one MPI process (singleton or not), see https://github.com/dalcinl/mpich/commit/8ca02b7af5e248e728db85e9468837946bfa767c. The problem was not double-locking, but rater the lack or locking. Note my fix does not add the missing cs_enter/exit, but rather use a lightweight completed

[2022-11-19 16:55] hzhou commented on #6292
@dalcinl Thank you for your debugging. That is very helpful. I'll investigate this issue after I wrap up another one that I am currently in the middle of. It is strange that our Jenkins didn't trigger it -- https://jenkins-pmrs.cels.anl.gov/job/mpich-main-mpi4py/337/ -- but good news that 32-bit is clean!

[2022-11-19 19:00] dalcinl commented on #6292
Please note I configure my builds with `--enable-g=all --enable-fast=none`. Are the mpi4py tests being run with an MPICH build configured with `--enable-g=all`? If not, that would explain why the assertion does not trigger in your Jenkins.

[2022-11-19 19:24] hzhou commented on #6292
Ahh, of course!

[2022-11-21 06:25] k202077 opened #6297 "Fatal error with 3.4.x (yaksa)"
The following reproducer causes a fatal error in MPICH 3.4.x when used with YAKSA:
[code]
Building and running with:
[code]
This produces the following error:
[code]

This problem only occurs for counts above a certain threshold. The datatype that is being transfered contains a "hole". If you switch the order of the members of the datatype and adjust the derived MPI datatype accodingly, the proble

[2022-11-21 15:33] hzhou commented on #6297
@k202077 Thank you for the reporting. Could you try the latest mpich release and verify if the bug still exist?

[2022-11-21 15:41] k202077 commented on #6297
This bug does not occur in MPICH 4.0a1 or later.

[2022-11-21 15:47] hzhou commented on #6297
The 3.4.x branch is no longer being updated. Can you move on to later MPICH releases?

[2022-11-21 15:55] skosukhin commented on #6297
@hzhou it was my initiative to report this because I thought there would be new releases of the `3.4.x` branch. Please, fill free to close this if `3.4.3` was the last one. Thank you.

[2022-11-21 15:58] #6297 closed

[2022-11-21 20:21] #6287 closed