[2021-06-17 04:25] cesarpomar opened #5372 "MPI_Allreduce Segmentation fault Docker"
I try to run the application https://github.com/LLNL/LULESH inside a single Ubuntu 20.04 Docker Container. When I increase the number of MPI process, the process abort with Segmentation fault. The core dump trace say that the error is the function MPI_Allreduce (lulesh.cc).  I recompile mpich with  “--enable-g=dbg,log” and the error is in:

.........
0	0	7f04a38bf700[35]	2	2.827156	src/mpid/ch4/ne

[2021-06-17 05:37] hzhou commented on #5372
Beware docker by default limit shared memory to 64MB.

[2021-06-17 18:36] cesarpomar commented on #5372
Hi, I increased the --shm-size=1GB (I checked /dev/shm to be sure) and nothing changed.

[2021-06-17 18:44] hzhou commented on #5372
I see. Thanks for checking. Do you use any special cpu affinity binding?

[2021-06-17 18:48] cesarpomar commented on #5372
No, it is my docker container inspect.
`
[
    {
        "Id": "8c870b0c81cfde096f1c7fd7a4cfa987f1a08bbbdc4d825c786384f02dfdcc91",
        "Created": "2021-06-17T18:31:12.123755829Z",
        "Path": "ignis-server",
        "Args": [
            "5000"
        ],
        "State": {
            "Status": "running",
            "Running": true,
            "Paused": false,
            "Restarting":

[2021-06-17 18:50] hzhou commented on #5372
Could you try set environment variable `MPIR_CVAR_DEVICE_COLLECTIVES=0`?

[2021-06-17 18:57] cesarpomar commented on #5372
If a set this variable, proccess fails with "Abort(566543): Fatal error in PMPI_Init: Other MPI error, **cvar_val MPIR_CVAR_DEVICE_COLLECTIVES 0"

[2021-06-17 18:59] hzhou commented on #5372
Which mpich release are you using?

[2021-06-17 19:00] cesarpomar commented on #5372
3.4.1

[2021-06-17 19:25] cesarpomar commented on #5372
coredump trace:

Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x00007fd26104e47b in MPL_atomic_release_store_uint64 (val=8, ptr=0x180) at /tmp/mpi/mpich-3.4.1/src/mpl/include/mpl_atomic_c11.h:103
103     /tmp/mpi/mpich-3.4.1/src/mpl/include/mpl_atomic_c11.h: No such file or directory.
[Current thread is 1 (Thread 0x7fd25e7ad700 (LWP 66))]
(gdb) where
#0  0x00007fd26104e47b in MP

[2021-06-17 20:28] hzhou commented on #5372
Could you try `MPIR_CVAR_DEVICE_COLLECTIVES=none`?

[2021-06-17 20:44] cesarpomar commented on #5372
It seems to work, I'll do more testing to make sure. How MPIR_CVAR_DEVICE_COLLECTIVES affect to the mpich performance, i am testing multiple scientific applications and need the best posible results.

[2021-06-17 20:57] hzhou commented on #5372
Alright, so we identify the issue is only related to the `release-gather` algorithms. Next, let try identify why it fails in the docker. Could you run the application outside docker?

[2021-06-17 21:12] cesarpomar commented on #5372
Yes and it works, how can I help to find the error?

[2021-06-17 21:36] zhenggb72 commented on #5372
Just trying to narrow down the issue, can you run with
export MPIR_CVAR_ENABLE_INTRANODE_TOPOLOGY_AWARE_TREES=0

to disable topology-aware tree with release_gather?

[2021-06-17 21:46] cesarpomar commented on #5372
If I remove export MPIR_CVAR_DEVICE_COLLECTIVES=none and iIuse export MPIR_CVAR_ENABLE_INTRANODE_TOPOLOGY_AWARE_TREES=0. The program fails again with the same error.

[2021-06-17 22:01] zhenggb72 commented on #5372
Just saw the stack trace above. It looks like the following call may fail and so the MPL_atomic_release_store_uint64 was called with invalid pointer.  It may related to what @hzhou  mentioned about the limit?

[code]

[2021-06-17 22:06] cesarpomar commented on #5372
I increased the limit with --shm-size=1GB and the problem was the same.

[2021-06-17 22:09] zhenggb72 commented on #5372
Did you build MPICH from source?

[2021-06-17 22:11] cesarpomar commented on #5372
Yes, "./configure --with-device=ch4:ofi --with-libfabric=embedded --enable-g=dbg,log --enable-thread-cs=per-vci --with-ch4-max-vcis=${MPICH_THREADS}"

[2021-06-17 22:16] hzhou commented on #5372
@cesarpomar Could you print the `mpi_errno` right after
[code]
So we can confirm whether it is shared memory allocation issue?

[2021-06-17 22:23] zhenggb72 commented on #5372
Also it may help to print the value of "flags_shm_size". This is the size MPICH tried to allocate, it does increase as number of ranks increases.

[2021-06-17 22:29] cesarpomar commented on #5372
mpi_errno is printed in the log

                mpi_errno =

                    MPIDU_shm_alloc(comm_ptr, flags_shm_size,

                                    (void **) &amp;(release_gather_info_ptr-&gt;flags_addr), &amp;mapfail_flag);

                if (mpi_errno || mapfail_flag) {

                    /* for communication errors, just record the error but continue */

                    err

[2021-06-17 23:08] hzhou commented on #5372
I think it points to the shared memory allocation failures. How many ranks did you try to run before the segfault happen?

[2021-06-17 23:11] cesarpomar commented on #5372
only works with 2 ranks

[2021-06-18 03:45] cesarpomar commented on #5372
I have narrow the problem to a base case. If I launch all processes in the same Docker Container, no problem apared. If I launch the processes spread over two containers fails.

Normal functions like send, recv, gather, scatter always work, but MPI_Allreduce  fails with shm problem. May be Mpich try to use shared memory betwen the proccesses in diferent container. I tried to launch the containers

[2021-06-18 05:05] cesarpomar commented on #5372
Looking MPICH source code and using the previous trace, I think that the error is in MPID_Allreduce(/src/mpid/ch4/src/ch4_coll.h) that should call MPIR_Allreduce_impl but call MPIDI_Allreduce_intra_composition_gamma. When used MPIR_CVAR_DEVICE_COLLECTIVES=none, MPICH call MPIR_Allreduce_impl function in MPIR_Allreduce(src/mpi/coll/allreduce/allreduce.c) so it works.
The function MPIDI_Allreduce_in

[2021-06-18 05:19] hzhou commented on #5372
Now I see what you are doing. Apparently, you don't want to use shared memory in this case. I guess processes launched in different containers are in different namespace and they can't access the same shared memory anyway. So set MPIR_CVAR_DEVICE_COLLECTIVES=none probably is what you want

[2021-06-18 14:36] raffenet commented on #5372
Does your app create/free a lot of communicators? There was a known issue with leaking release_gather resources that was fixed in https://github.com/pmodels/mpich/pull/4864.

If you update to MPICH 3.4.2, it has the fix included.

[2021-06-18 17:03] hzhou opened #5376 "shm: processes from diffierent world try to use shared memory"
In issue #5372, user report --

Processes from different world cannot use shared memory due to missing init shm initialization. We need debug how did it happen and fix it.

[2021-06-18 17:04] hzhou commented on #5372
Processes from different MPI_COMM_WORLD cannot use shared memory (due to missing collective initialization). @cesarpomar I opened a separate issue #5376 tracking it.

[2021-06-18 17:08] hzhou commented on #5372
@cesarpomar Just to confirm that this is not particular to docker, if you try do the same outside docker -- on a single node launch processes separately and connect with open/accept/connect, does it result in the same issue?

[2021-06-18 20:16] yfguo opened #5377 "hydra: Add assignment option for GPU"
We could do something similar like SLURM did with CUDA https://slurm.schedmd.com/gres.html#GPU_Management.

Also need to investigate the assignment approach for AMD and Intel GPUs.

[2021-06-21 23:45] cesarpomar commented on #5372
yes, same issue. I will try MPICH 3.4.2

[2021-06-22 07:02] chen-coco opened #5380 "Fortran: cross compile"
I needed Fortran Compiling，But it's a cross compilation
`configure: error: Unable to configure with Fortran support because configure could not determine the size of a Fortran INTEGER.  Consider setting CROSS_F77_SIZEOF_INTEGER to the length in bytes of a Fortran INTEGER`
so i use
[code]
but just same ， enclosed log
[config.log](https://github.com/pmodels/mpich/files/6691935/config.log)

[2021-06-22 13:09] hzhou commented on #5380
Create a "cross" file with content e.g.
[code]

Then configure with option `--with-cross=path-to-cross-file`.

[2021-06-22 15:15] hzhou opened #5381 "fortran: need test options that promotes integers"
Many Fortran compilers have options to automatically promote INTEGER to 64 bit instead of 32 bit. While in principle MPICH should work with whatever INTEGER size, we should routinely test it, nevertheless.

With gfortran, there is option:
[code]

[2021-06-22 16:00] hzhou commented on #5377
Reference, `--gpus-per-proc` was added in this commit https://github.com/pmodels/mpich/pull/4862/commits/2aa2a6cdf8bbce92fa3a3023efdb175a1cf2f8bc

[2021-06-22 16:10] hzhou commented on #5377
`-bind-to gpu:1` is also supported, reference --
https://github.com/pmodels/mpich/blob/7f8eefd25fe603ddf0e3ef6fdcabfc829a6d8890/src/pm/hydra/tools/topo/hwloc/topo_hwloc.c#L268-L287

[2021-06-22 19:19] #5371 closed

[2021-06-23 01:35] chen-coco commented on #5380
it's can be worked!Tanks!
But why does this happen?

[2021-06-23 03:00] hzhou commented on #5380
When cross-compiling, we don't have a reliable way to detect Fortran datatype sizes, thus require a cross file to supply that information.

[2021-06-23 03:25] chen-coco commented on #5380
I understand. Thank you again

[2021-06-23 03:25] #5380 closed

[2021-06-23 04:36] #2216 closed

[2021-06-23 21:13] hzhou commented on #4171
Okay, I am going to give it another try. The offending lines are:
[code]
The rule of thumb is 1. can't use double quote since it contains too many unsafe chars. 2. single quotes need be singled out.

[2021-06-23 22:10] jeffhammond commented on #5139
I was able to get this to work:
[code]

[2021-06-23 22:10] #5139 closed

[2021-06-23 22:19] hzhou commented on #5139
Great!

Separately but related, #5337 removed `F77` and `FFLAGS`. Just set `FC` and `FCFLAGS` from now on (with latest git repo).

[2021-06-23 22:21] cesarpomar commented on #5372
After upgrading to MPICH 3.4.2, nothing changes. If I remove "MPIR_CVAR_DEVICE_COLLECTIVES = none" processes crash.

[2021-06-23 22:53] hzhou commented on #5372
@cesarpomar How many minimum processes are needed to reproduce the issue?

[2021-06-25 18:17] #1045 closed

[2021-06-25 18:17] #4171 closed

[2021-06-26 01:24] hzhou commented on #5366
Here is the excerpt: https://github.com/pmodels/mpich/blob/9f160df3deb88a57ce088ec014fbc17095b969a0/test/mpi/runtests.in#L439-L442

It first assumes the file in the current path, which is your build path in the VPATH build. If not found, it will check in the source path and use that path instead.

[2021-06-26 01:31] hzhou commented on #5377
Are we looking options such as `mpiexec -bind-to {cuda1,cuda2,ze1,ze2}` etc.? If `hwloc` supports it, then it is just a matter of adding the name/alias into `topo_hwloc.c`. @yfguo @abrooks98 @zhenggb72 , can you confirm?

[2021-06-28 03:58] garzaran commented on #5377
Yes, we are looking for options similar to the -bind-to socket, but in this case to setup the affinity masks in the ranks based on the mapping of ranks to sockets and the GPUs connected to each socket. I do not think that the flats need to specify anything about the GPU type itself, although underneath, we will need to discover the type of GPUs that we have

[2021-06-28 08:28] tjahns opened #5391 "Problem creating derived datatypes with MPI_Type_indexed"
We found an incorrect handling of derived datatypes created with `MPI_Type_indexed`. My colleague created a quite minimal reproducer. Please see the below file for easy to read code that exhibits the problem. He traced the issue down to how `MPI_Type_indexed` was handled, I verified that the issue exists in 3.4 and later releases of MPICH, but not in 3.3.1 or other implementations.

Note: The prob

[2021-06-28 13:50] hzhou commented on #5391
Thanks for the issue. I confirmed the bug. It is due to a bug in how yaksa checks whether the datatype is contiguous. I'll make the fix soon. In the meantime, use configure option `--with-datatype-engine=dataloop` to bypass the issue.

[2021-06-28 22:30] garzaran commented on #5377
BTW, support for Level Zero should be in the master branch or HWLOC 2.5.

[2021-06-28 23:24] hzhou commented on #5372
@cesarpomar I still need some details to reproduce the failures. Do you think you can have a minimal reproducer (ideally outside docker)?

[2021-06-29 11:34] cesarpomar commented on #5372
Sorry,
Create Three processes (at least one in a different host) and join in an intra-communicator. If you use functions like Allgather or Allreduce, the application will crash.

[2021-06-29 23:05] #5265 closed

[2021-07-01 13:04] spickartz opened #5397 "bug: MPI_Reduce may overwrite receive buffer for non-root ranks in v3.4.2"
When passing a non-`NULL` receive buffer at a non-root to `MPI_Reduce()`, this buffer may be overwritten if the receive buffer resides in GPU memory. This happens as the staging is always performed without checking for the root rank:

https://github.com/pmodels/mpich/blob/0ad21edcecdeaa3db8b71fa82b2a211b469d7e0c/src/mpi/coll/reduce/reduce.c#L301-L305

For the current `main` branch it seems that th

[2021-07-01 13:49] hzhou commented on #5397
Indeed!

[2021-07-01 14:05] ashwinraghu commented on #5339
Hi. I would like to post an update at the customer site that reported this issue. Do we have any potential solutions that might be available soon? Are we looking at a different strategy to fix this compared to the fix in commit 313289a?

[2021-07-01 16:02] hzhou commented on #5339
@ashwinraghu I am not as familiar with the MPI-IO code but I agree that the fix should be similar. Would you like to contribute a PR?

[2021-07-02 16:33] dalcinl opened #5399 "MPI-4: Bad C binding for MPI_Info_create_env()"
The MPI-4 C binding for `MPI_Info_create_env` should be
[code]

I believe that is a typo, it should really be like a C `main` function argument list:
[code]

In any case, in MPICH we currently have:
[code]

[2021-07-02 16:37] dalcinl opened #5400 "MPI-4: Missing MPI_MAX_STRINGTAG_LEN"
MPICH is currently missing the definition of `MPI_MAX_STRINGTAG_LEN`

See MPI-4.0, Annex A, page 860, last table. Also other pages of the document.

[2021-07-02 16:38] dalcinl opened #5401 "MPI-4: Mising MPI_MAX_PSET_NAME_LEN"
MPICH is currently missing the definition of `MPI_MAX_PSET_NAME_LEN`

See MPI-4.0, Annex A, page 860, last table. Also other pages of the document.

[2021-07-02 16:41] dalcinl opened #5402 "MPI-4: Missing MPI_Session_{c2f|f2c}"
MPICH is currently missing the definitions of `MPI_Session_{c2f|f2c}`.

See MPI-4.0, Chapter 19, page 842, last two lines.

[2021-07-02 16:43] dalcinl opened #5403 "MPI-4: Missing MPI_ERR_VALUE_TOO_LARGE"
MPICH is currently missing the definition of `MPI_ERR_VALUE_TOO_LARGE`

See MPI-4, Chapter 9, page 472, third to last entry (line 40) in Table 9.2.

[2021-07-02 16:47] dalcinl opened #5404 "MPI-4: Missing MPI_ERRORS_ABORT"
MPICH is currently missing the definition of the new predefined error handler `MPI_ERRORS_ABORT`.

See MPI-4.0, Section 9.4, page 459, lines 19-26.

[2021-07-02 16:51] dalcinl opened #5405 "MPICH_NAME value is still 3"
What's the plan regarding the value of the `MPICH_NAME` macro? Going back to the origins of the project and its evolution, looks like it should be bumped to `4` to match the `MPICH_NUMVERSION`. Am I correct?

[2021-07-03 08:38] dalcinl opened #5406 "MPI-4: Missing MPI_Intercomm_create_from_groups"
MPICH is currently missing the implementation of `MPI_Intercomm_create_from_groups`.

See MPI-4.0, Section 7.6.2, page 360, line 15.

[2021-07-03 11:00] dalcinl opened #5407 "MPI-4: Bad error checking in MPI_Reduce_init"
Look at the generated  `internal_Reduce_init()` routine. In the **INTRA**communicator case, the `recvbuf` argument can be NULL at non-root processes (IOW, recvbuf should be ignored). However, right now `MPI_Reduce_init` errors. This is the error for a two process run passint root=0 to the reduce call.
[code]

In short, the following line in `internal_Reduce_init()` is wrong:
[code]
Error checking

[2021-07-03 15:20] hzhou commented on #5399
@dalcinl I think you are correct.

@raffenet Is this issue already raised in the MPI Forum?

[2021-07-04 11:08] dalcinl opened #5412 "MPI-4: Bad error checking in MPI_P{send|recv}_init"
If `count` is zero, then passing `NULL` for `buf` should not error. However:

[code]

[2021-07-04 13:41] dalcinl opened #5413 "MPI-4: Missing MPI_Status_set_elements_c"
This is technically not  an omission MPICH. Looks like MPI standard forgot to add a new `MPI_Status_set_elements_c` routine. However, it would make a lot of sense to add it provisionally, at minimum a as #define to the `_x` routine in mpi.h.

@raffenet Comments?

[2021-07-04 16:31] hzhou commented on #5413
I am not sure that MPI forum "forgot" or intentionally didn't introduce "MPI_Status_set_elements_c", and mpich as an implementation, is not going to introduce the new routine. The best we can do is to use `MPIX_Status_set_elements_c`. But user can add that macro if so desired, so I think we are reluctant to add that.

[2021-07-04 16:45] dalcinl commented on #5413
I believe they forgot. Otherwise why would MPI-4.0 have the following two getter routines with exactly the same signature, but only one for the setter?

[code]

In any case, I understand your concerns and rationale. Let's wait for a errata, or more likely a fix in MPI 4.1.

[2021-07-06 11:31] dalcinl opened #5414 "MPI-4: Missing MPI_Sendrecv_c"
The following MPI-4 routines are currently missing:

* `MPI_Sendrecv_c`
* `MPI_Sendrecv_replace_c`
* `MPI_Isendrecv_c`
* `MPI_Isendrecv_replace_c`

[2021-07-06 19:38] roblatham00 commented on #5339
Sorry for the inconsistent state of the code.  both ROMIO and I have been around long enough to have seen both "ok to free null" and "not ok to free null" policies in place.   How does https://github.com/pmodels/mpich/pull/5416 look to you?

[2021-07-07 05:17] ashwinraghu commented on #5339
#5416 looks right to me, Rob. I noticed the differing styles wr.t. braces though. Out of curiosity, does ANL's coding style prefer one over the other?

[2021-07-07 05:24] hzhou commented on #5339
There is no official requirement on this yet, but I personally *strongly* prefer always use explicit curly braces for the case of single statement `if` or `for`.

[2021-07-07 13:58] raffenet commented on #5399
No, I don't think so. I'll create an issue.

[2021-07-07 14:02] raffenet commented on #5413
I feel like rather the addition of `MPI_Get_elements_c` was a mistake, but I'm not sure. In any case, I'll take it up with the forum to discuss.

[2021-07-07 14:20] dalcinl commented on #5413
Well, that's certainly a valid way to see it. But for the sake of consistency on naming conventions, adding `MPI_Status_set_elements_c` would also makes sense, doesn't it?

BTW, with the addition of `MPI_Get_elements_c` as a variant, some of the discussion in the text referring to `MPI_Get_elements_x` looks a bit outdated.

[2021-07-07 14:22] dalcinl commented on #5414
@hzhou I believe your current changes are not enough, I cannot build your branch on my side.

[2021-07-07 14:23] hzhou commented on #5414
Yeah, the tests all failed. I'll fix it.

[2021-07-07 15:40] raffenet commented on #5412
I would like to clarify with the forum if zero length partitioned communication is allowed before we make this change.

[2021-07-07 16:02] raffenet commented on #5412
Confirmed via Slack that zero length is intended to work. We should fix this 😅.

[2021-07-07 16:08] dalcinl commented on #5412
Otherwise the standard would need an amendment, as both `partitions` and `count` are described as "non-negative integer".

[2021-07-07 20:53] #5407 closed

[2021-07-07 22:10] hzhou commented on #5366
@sudheer9 Could you verify that whether out-of-tree build and (gpu) testing works?

[2021-07-08 07:33] spickartz opened #5423 "CUDA-aware v3.4.2 build fails to start on non-GPU nodes"
When I configure MPICH 3.4.2 using the following flags:

[code]

then it fails to initialize with the following message on non-GPU nodes:
[code]

Even setting `MPICH_ENABLE_GPU=0` does not help. Is this intended behavior? Or is there a way to use a CUDA-aware build in heterogeneous setups with GPU and non-GPU nodes?

[2021-07-08 13:46] hzhou commented on #5339
https://github.com/pmodels/mpich/pull/5416#issuecomment-876145180

We need check whether offsets are NULL initialized.

[2021-07-08 14:09] raffenet commented on #5423
Can you try one of the 4.0 alpha releases? I believe Yaksa lazy initialization should be working there. Unfortunately its not a trivial backport to 3.4.x.

[2021-07-08 16:18] hzhou commented on #5423
I just confirmed that setting `MPICH_ENABLE_GPU=0` will bypass `yaksuri_cuda_init_hook` with the current `main` branch.

[2021-07-09 12:48] spickartz commented on #5423
Thanks for testing, I will double-check myself. Are there any plans to back port this to `v3.4.x` or will this only be part of a version 4 release?

[2021-07-09 14:42] raffenet commented on #5423
It depends on how much work it will be to backport. We have a yaksa maintenance branch now, so perhaps it won't be as bad as I originally thought. I'll try to look into it next week.

[2021-07-09 18:09] #5414 closed

[2021-07-09 18:15] #5412 closed

[2021-07-10 01:37] hzhou opened #5427 "session: remaining items for MPI sessions"
MPI Sessions has been implemented and we expect all correct programs should work as expected. However, there are a few remaining items to fully meet the semantics.

* Update `ref_count` in the session structure to account for all communicators created within a session and error check at MPI_Session_finalize
* MPI_Abort only aborts locally in session
* Make `MPI_THREAD_SINGLE` work with session.
*

[2021-07-10 01:45] #5400 closed

[2021-07-10 01:45] #5401 closed

[2021-07-10 01:45] #5402 closed

[2021-07-10 01:45] #5403 closed

[2021-07-10 01:45] #5404 closed

[2021-07-10 01:45] #5405 closed

[2021-07-12 21:31] #5397 closed

[2021-07-15 00:45] cesarpomar commented on #5372
My Source code in C++:

[code]

Process 1:

[code]

Process 2:

[code]

Process 3:

[code]

comm is the result Intracomm with size=3. If you execute a Gather, Bcast work but a AllReduce crash.

[2021-07-15 01:10] cesarpomar opened #5437 "bug: collectives block on some procesess"
As explained in #5372 with MPIR_CVAR_DEVICE_COLLECTIVES=none dynamic process can execute Allgather and Allreduce without crash. Codes thats run successfully with MPIR_CVAR_DEVICE_COLLECTIVES=percoll (default value) blocks some procesess. The function that blocks the process depends of the execution order, but always at least a process it's blocked when the remainders finish without problems. Note

[2021-07-15 02:24] hzhou commented on #5437
Are you using `ch4:ofi` device? This may be related to the libfabric sockets provider not automatically flush injected messages. You may try the `tcp` provider by setting `FI_PROVIDER=tcp;of_rxm`. The tcp provider also have some different issues, but maybe your applications are not touching those issues.

Unfortunately, our dynamic process support is a bit weak. It is on our agenda to revamp them.

[2021-07-15 02:28] hzhou commented on #5372
Thanks for your code. We'll look into it.

[2021-07-15 15:20] #5399 closed

[2021-07-16 00:40] hzhou commented on #5372
@cesarpomar Because you are using the same `port` to accept multiple peers, how do you prevent process 3 connect before process 2?

[2021-07-16 02:14] cesarpomar commented on #5372
This code is part of my phd thesis framework where multiple executors run Big Data codes using MPI inside Docker containers. Executors are synchronized with RPC call from a master, so the group is created step by step and when P1 and P2 return the RPC call, a new call is made with the three processes.
To reproduce the bug, I launched manual processes in order using a print to known when P1 accepts

[2021-07-16 02:45] hzhou commented on #5372
ok

[2021-07-16 03:50] hzhou commented on #5372
I just tested with 3 processes on two nodes. Either process 0 or 1 or 2 located on a separate node all works fine.

I used slightly different testing code:
[code]
Launch on first node with
[code]
launch on 2nd node with
[code]
Adjust the skip process list to test different scenarios.

They all seem run fine with my tests. Which mpich version were you testing with?

[2021-07-16 04:20] cesarpomar commented on #5372
Could it be the way the group is created? your way is simpler and cleaner than mine. In my example code, I use three function to create the final intercomunicador (Merge, Create Intercom, Merge) and you only use MPI_Intercomm_merge. Moreover, I don’t call accept on process in the group, only process 0 call accept and the new process connect.

it could be that my implementation creates communicator

[2021-07-16 04:30] hzhou commented on #5372
Once you have the intra-communicator, it should work the same, I believe. I was more worried about the interference during your connections. Can you confirm that they are not interfering? But before we do the guessing game, can you try my example and confirm it is working (or not)?

[2021-07-16 04:32] cesarpomar commented on #5372
ok, i'm testing it

[2021-07-16 09:09] cesarpomar commented on #5372
I just tested your code and works. After compare with my code, I found a way that the code fails. After compare it with my code, I found a way that your code fails, only a MPI_Allreduce works but if we add more the error appears.

[code]
tc.c:80 is the last MPI_Allreduce.
[code]
MPIDI_POSIX_mpi_release_gather_comm_init is the same problematic function.

[2021-07-16 13:23] hzhou commented on #5372
Yes, I have reproduced the bug.

[2021-07-16 16:32] hzhou commented on #5372
@cesarpomar Could you try apply the patch in #5440 to see if it fixes the issue?

[2021-07-16 18:36] cesarpomar commented on #5372
Yes. All works perfectly. No bugs, no segfault.
Thank you very much for all your efforts

[2021-07-16 19:12] hzhou commented on #5376
Redundant to #5372.

[2021-07-16 19:12] #5376 closed

[2021-07-16 20:39] hzhou commented on #5437
@cesarpomar Is this also being fixed by #5440 or it is still an issue?

[2021-07-18 23:36] mquinson opened #5443 "Ireduce: assertion failure for invalid root values"
Hello,

providing a root that is larger than the communicator size to MPI_Ireduce (as in
[this code](https://github.com/pmodels/mpich/files/6837106/Ireduce_RootTooLarge.c.txt)) leads to an assertion failure. This code is obviously wrong, but the other collective return a proper MPI error in this case. Ireduce should probably behave the same.

Here is the full output I get when running the provided

[2021-07-19 03:38] hzhou commented on #5443
Yes, we agree. This has been fixed in the current main branch, as well as the 4.0a2 release.

[2021-07-19 08:58] jenny-cheung opened #5444 "Potential error due to the released lock &mpi_lock before program eixt"
Hi, developers, a small error (could be harmless) happen when the program exit with the lock `&mpi_lock` unreleased. The fix is to insert pthread_mutex_unlock(&mpi_lock); before `exit(0)`. Could be fixed for high code quality. Thank you!

https://github.com/pmodels/mpich/blob/94b1cd6f060cafbf68d6d83ea551a8bcc8fcecd4/examples/developers/threads.c#L87
https://github.com/pmodels/mpich/blob/94b1cd6f06

[2021-07-19 13:21] hzhou commented on #5444
A better fix is probably not to use `exit()` in the thread function.

[2021-07-19 14:21] jenny-cheung commented on #5444
@hzhou  Thank you for your detailed reply.

Thus, the better fix should be below? Could I pull a request for this?

[code]

[2021-07-19 14:25] hzhou commented on #5444
I was thinking that we should just remove the `exit` call. In the `else` branch, return without the `MPI_Send` will leave the other process hanging.

[2021-07-19 14:41] ashwinraghu commented on #5339
Replicating the comment I posted in the pull request:
in ADIOI_GPFS_Calc_my_req() we have:

522 if (count_my_req_per_proc[i]) {
523     my_req[i].offsets = (ADIO_Offset *)
524           ADIOI_Malloc(count_my_req_per_proc[i] * 2 * sizeof(ADIO_Offset));
525     my_req[i].lens = my_req[i].offsets + count_my_req_per_proc[i];
526      count_my_req_procs++;
527 }

So, if count_my_req_per_proc[i] is zero

[2021-07-19 17:58] cesarpomar commented on #5437
yes, I prefer use MPIR_CVAR_DEVICE_COLLECTIVES=percoll. On the other hand  FI_PROVIDER=tcp;of_rxm works with MPIR_CVAR_DEVICE_COLLECTIVES=percoll if anybody need it.

[2021-07-19 18:10] cesarpomar opened #5446 "MPI_Comm_connect with port_name==NULL fails in no-root nodes"
Code to reproduce the error:

[code]

Execute with:
[code]

ouput:
[code]
proccess  :id=1, rank=1, size=2 exit with backtrace:

[code]

https://www.mpich.org/static/docs/latest/www3/MPI_Comm_accept.html says that port name (string, used only on root), Is it correct to use NULL on no-root processes?

[2021-07-19 18:26] hzhou commented on #5446
Yes, it is ok to use NULL on non-root processes. Could you try the latest `main` branch or the mpich-4.0a2 release? I think I fixed something like this not long ago.

[2021-07-19 21:26] cesarpomar commented on #5446
yes, it works on mpich-4.0a2. I prefer to use port_name in all processes and wait for a stable version of mpich 4.0.
Thanks

[2021-07-20 05:40] jenny-cheung commented on #5444
OK, Thank you!

[2021-07-20 17:01] cesarpomar commented on #5446
It would be possible for you to tell me the commit that corrects the error, I need to use a stable version and some libraries that I have use are in python and mpi4py use always NULL in not root processes.

[2021-07-20 17:06] hzhou commented on #5446
Try this PR https://github.com/pmodels/mpich/pull/5168/commits

[2021-07-20 19:01] #5372 closed

[2021-07-20 19:07] #5406 closed

[2021-07-20 19:24] rzambre opened #5450 "Ensuring ENABLE_GPU is set"
I compiled MPICH with

`../configure --prefix=/home/rozambre/mpich/debug-install --with-device=ch4:ucx --with-ucx=path/ro/ucx/install --enable-fast=O0 --enable-g=dbg --with-hip=/opt/rocm`
[config.log](https://github.com/pmodels/mpich/files/6850760/config.log)
[mpl_config.log](https://github.com/pmodels/mpich/files/6850761/mpl_config.log)

but upon debugging (through a gdb session), I see that `ENA

[2021-07-20 19:32] rzambre commented on #5450
Never mind, I missed a step, but I am running into a different error. I will investigate it before I find a need to reopen this.

[2021-07-20 19:32] #5450 closed

[2021-07-21 03:05] mengyuwei opened #5453 "How to use rlog to generate log files?"
S.O.S

I want to get time statistics log of each function in mpich.

By the guidance of logging.pdf(located in mpich/doc/logging), I ran the configure as "./configure --prefix=mylocation   --with-device=ch3   --enable-timing=log   --with-logging=rlog   --enable-timer-type=gettimeofday". Then I ran mpirun -n 3 myapp, but got no log such as log0.irlog/log1.irlog/log2.irlog.

After checking for a whi

[2021-07-21 03:54] hzhou commented on #5453
Follow https://wiki.mpich.org/mpich/index.php/Debug_Event_Logging may give you what you want. `rlog` is no longer supported. The current function logging is incomplete -- quite some internal functions are missing the logging macros. But if you are only looking for top-level functions, most of them are logged. There are a couple of attempts to get more complete coverage -- PR # 4139 and PR #4276. I

[2021-07-21 20:09] tarudoodi commented on #5133
Same failure also seen in  `-bind-to core:2` binding. I tested bcast, allreduce and barrier. It always ends in a segfault at `MPIDI_SHM_topology_tree_init`. This is in a CPU-only sockets build with gcc.
Build as:
[code]
Run as:
[code]

If we use `-bind-to socket` this failure does not happen.

Trace for bcasttest shared here, its similar for allreduce and barrier. It picks a shm composition and fa

[2021-07-21 21:20] hzhou opened #5455 "autogen: abort when encouter errors"
Currently `autogen.sh` will blissfully continue when some of the command fails. We should abort when error is encountered. This could be as simple as adding `set -e` and `set pipefail` (or something like that).

[2021-07-22 13:23] cesarpomar commented on #5437
I need to reopen the issue.

Using mpich 3.4.2 with #5440 patch and compiled with ` ./configure --with-device=ch4:ofi --with-libfabric=embedded` some processes arbitrary stuck in collectives while others advance the execution.  Error changes on each machine and I have not been able to replicate on my laptop.

If I compiled with `./configure --with-device=ch4:ofi:tcp;of_rxm --with-libfabric=embedde

[2021-07-22 13:39] hzhou commented on #5437
You probably want to use a high bandwidth provider on the production cluster. Use `--with-device=ch4:ofi`, could you set the environment variable `MPIR_CVAR_CH4_OFI_CAPABILITY_SETS_DEBUG=1` to show more details on the provider selections?

Let's focus on the issue of collectives getting stuck. Could you try to find a minimal reproducer?

[2021-07-22 14:59] cesarpomar commented on #5437
With MPIR_CVAR_CH4_OFI_CAPABILITY_SETS_DEBUG=1:
[code]

The problem is a library that use the sequence send/rcv, Bcast, send/rcv, Gather and Gatherv in this order. I tested using a code with print before and after each MPI function. Rank=1 ends the sequence and runs library code,  rank=0 is stuck in Gatherv(epoll_wait). When rank=1 executes again the sequence, rank=0 unlocks and executes library c

[2021-07-22 15:14] hzhou commented on #5437
I see. The issue probably is related to a libfabric sockets provider issue that we are aware of. Unfortunately, we don't have a solution yet. In the meanwhile, you may try `ch3` (`--with-device=ch3`), which uses native socket implementation. What is the network interlink on your production cluster? Is it Infiniband or just ethernet?

[2021-07-22 15:58] cesarpomar commented on #5437
ethernet and I use ch4 because in the past, ch3 had some problem with dynamic process in accept/connect "unknown process info" or something like that. can we test ofi:tcp? or has ucx implemented accept/connect  yet?

[2021-07-22 16:10] hzhou commented on #5437
I see. We could try ofi tcp provider. You can configure with runtime selection (with `--with-device=ch4:ofi`) and select the tcp provider by setting `FI_PROVIDER=tcp;ofi_rxm`. Can you show the debug information by setting `MPIR_CVAR_CH4_OFI_CAPABILITY_SETS_DEBUG=1`?

[2021-07-22 16:25] cesarpomar commented on #5437
compiled with `-with-device=ch4:ofi`
launched with:
[code]
only shows:
[code]

[2021-07-22 16:28] hzhou commented on #5437
Could you try with latest `main` branch?

[2021-07-22 16:29] cesarpomar commented on #5437
v4.0a2 is enough?

[2021-07-22 16:29] hzhou commented on #5437
3

Sure. Try that

[2021-07-22 17:31] cesarpomar commented on #5437
In my laptop:
[code]
In the cluster no changes
[code]

[2021-07-22 18:22] hzhou commented on #5437
That isn't from `4.0a2`.

[2021-07-22 18:41] cesarpomar commented on #5437
Why?, I compiled from https://www.mpich.org/static/downloads/4.0a2/mpich-4.0a2.tar.gz

[2021-07-22 18:44] hzhou commented on #5437
You'll need rebuild your test programs for mpich 4.0a2. It build `libmpi.so.0.0` (due to the alpha status) rather than `libmpi.so.12`

[2021-07-22 19:04] cesarpomar commented on #5437
When I compile https://www.mpich.org/static/downloads/4.0a2/mpich-4.0a2.tar.gz only *.so.12 are created, and version in v4.0a2/src/include/mpi.h is:

[code]

am I doing something wrong?

[2021-07-22 20:10] hzhou commented on #5437
Try delete the old installation from the install path before the rebuild.

[2021-07-22 20:30] cesarpomar commented on #5437
Ok, now "tcp;ofi_rxm" works but Mpich blocks at the same point. I've been looking around and if I add more functions to the sequence it always hangs on the last one.
Two processes always the rank=0.

If the last function is a Gather:
[code]
If I add a Bcast after Gather, the Gather ends a block in the Bcast:
[code]

[2021-07-22 20:33] hzhou commented on #5437
You stack trace is showing code in the "socket" provider, not the tcp provider.

[2021-07-22 20:47] cesarpomar commented on #5437
Using MPIR_CVAR_CH4_OFI_CAPABILITY_SETS_DEBUG=1, The two processes print this at start:
[code]

[2021-07-22 21:23] hzhou commented on #5437
Okay, does it still block at the collective progress?

[2021-07-22 21:36] cesarpomar commented on #5437
Yes, as I said before Allreduce and Allgather unlock the process, but the normal execution,  it still block. I only use `Gather, GatherV, Reduce, Bcast, Send and Recv`, so  I think that a dynamic group of two process that executes a long combination of these functions with root=0 should get stuck at some point.

[2021-07-22 23:30] hzhou commented on #5437
I see. So the issue may not be what I thought. Please try to get a reproducer. Without it our ability to pin down the issue is limited.

[2021-07-23 18:54] wesbland commented on #5359
This happens in the regular configurations, but it's probably the same issue.

[2021-07-26 14:41] ashwinraghu commented on #5339
Hi. Would like to know if the above suggestion to fix the initialization is doable and can be incorporated?

[2021-07-26 21:13] hzhou commented on #5133
With `-bind-to user:0,1,2+3,4+5`, P0 and P1 are at depth 6 (`topo_depth=7`), while P2 and P3 are at depth 2 (`topo_depth=3`)

Reference:
This graph can explain the "depth" concept in hwloc: https://www.open-mpi.org/projects/hwloc/doc/v2.3.0/diagram.png

[2021-07-27 03:55] tarudoodi commented on #5133
Thanks for sharing this diagram, it is very helpful!

[2021-07-27 03:59] hzhou commented on #5339
I'll take a look tomorrow. Sorry for the delay.

[2021-07-27 12:47] hzhou commented on #5133
To show the issue in inconsistent `topo_depth`:
[code]
As we see here, P2 and P3 are filling in at wrong positions and positions `14-26` are left as uninitialized garbage.

[2021-07-27 13:17] hzhou commented on #5133
It is not segfaulting because of it allocates `shm_size = sizeof(int) * topo_depth * num_ranks + sizeof(int) * 5 * num_ranks;`.  It only needed `max(topo_depth, 3) * num_ranks * sizeof(int) + 1`. So it over allocates (with the magic number `5`) to prevent segfaults. The data is still corrupted, but the consequence is just to run the algorithm with bad topotree.

[2021-07-27 13:30] hzhou commented on #5133
One of the history commit: https://github.com/pmodels/mpich/pull/3594/commits/5726f5b4da5bb3d2245b1f162a0a2b801591f5b7

[2021-07-27 13:54] ashwinraghu commented on #5339
Thanks. That'll help.

[2021-07-27 14:26] hzhou commented on #5339
@ashwinraghu At line 334 -- https://github.com/pmodels/mpich/blob/60be52c7de1b7c9c76395c28ea21162fa6adc854/src/mpi/romio/adio/common/ad_aggregate.c#L334
The `offsets` is always set to `ptr`, so I believe the code is okay. In fact, I am not sure the fix in #5416 was needed.

Do you have a reproducer for the original reported issue?

[2021-07-27 14:38] ashwinraghu commented on #5339
GPFS uses the initializers in ad_gpfs_aggrs.c. doesn't it, when GPFS_MPIIO_TUNEBLOCKING is set,(set by default )
Yes, I have a reproducer for the original reported issue.

[2021-07-27 14:49] hzhou commented on #5339
I see. Now I am looking at `ADIOI_GPFS_Calc_my_req`. It seems each `my_req[i].offsets` is individually allocated, thus in https://github.com/roblatham00/mpich/blob/3662196ece110cc8982a327f1fd5e4cd6aadcc7a/src/mpi/romio/adio/ad_gpfs/ad_gpfs_rdcoll.c#L413 it is insufficient to just free `my_req[0]`?

[2021-07-27 15:07] ashwinraghu commented on #5339
That's correct as well and is what I've captured (tried to) in https://github.com/pmodels/mpich/issues/5340.

[2021-07-27 15:11] hzhou commented on #5339
Okay. Thanks for the confirmation. Let me try fix it.

[2021-07-27 15:48] hzhou commented on #5339
@ashwinraghu Can you review #5471 and verify whether it fixes the issue?

[2021-07-28 02:30] #5444 closed

[2021-07-28 02:42] hzhou commented on #1502
This issue touches ch3 design issue. Since ch3 is in maintenance mode and ch4 has not problems for this, I am marking this issue is `won't fix`.

[2021-07-28 02:42] #1502 closed

[2021-07-28 03:04] hzhou commented on #4412
Apparently, there are some users who like using the CXX bindings. Since there are no good reasons for one way or another, I am closing this issue.

[2021-07-28 03:04] #4412 closed

[2021-07-28 03:11] hzhou commented on #3584
Reference #5293 and #5445

[2021-07-28 03:11] #3584 closed

[2021-07-28 13:54] #5455 closed

[2021-07-28 13:55] hzhou commented on #5446
@cesarpomar Can this issue be closed?

[2021-07-28 13:56] hzhou commented on #5443
@mquinson Can this issue be closed?

[2021-07-28 13:57] hzhou commented on #5423
@spickartz Is this issue resolved?

[2021-07-28 13:58] hzhou commented on #5413
@dalcinl Shall we close this issue?

[2021-07-28 14:32] dalcinl commented on #5413
Yes, sure.

[2021-07-28 15:18] ashwinraghu commented on #5339
Sure can. Stay tuned for updates.

[2021-07-28 16:45] #5133 closed

[2021-07-28 18:39] mquinson commented on #5443
Sure, if it's a known issue that is fixed in a released version, then feel free to close it.

Cheers, Mt

Le 28 juillet 2021 14:56:33 GMT+01:00, Hui Zhou ***@***.***> a écrit :
***@***.*** Can this issue be closed?

--
Envoi mobile. Veuillez excuser ma brièveté.

[2021-07-28 18:43] #5443 closed

[2021-07-28 21:43] hzhou commented on #3582
This is stale and all the fallback paths have completed.

[2021-07-28 21:43] #3582 closed

[2021-07-30 17:07] cesarpomar commented on #5446
Yes, thanks

[2021-07-30 17:07] #5446 closed

[2021-07-30 17:49] #1704 closed

[2021-08-02 17:26] hzhou commented on #5366
@travisk1154 has confirmed that `make testing` works with vpath build. All the `testlist.gpu` files are located in the source tree and `runtests` is able to find testlist files in both the build tree and source tree.

[2021-08-02 17:26] #5366 closed

[2021-08-02 17:27] hzhou commented on #2313
We have confirmed the out-of-tree build and `make testing` works with the current main branch.

[2021-08-02 17:27] #2313 closed

[2021-08-03 23:01] Yiltan opened #5483 "Fatal error in internal_Precv_init: Invalid communicator, error stack"
Hi, I am having the following error when running [Example 4.2 (Equal partitioning on send-side and receive-side using threads)](https://www.mpi-forum.org/docs/mpi-4.0/mpi40-report.pdf) from the MPI-4 standard. I example is using the communicator `MPI_COMM_WORLD` so am unsure why I am getting an error

[code]

I have installed MPICH as so:
[code]

[2021-08-03 23:14] hzhou commented on #5483
Looks like you info and comm parameters are swapped

[2021-08-03 23:30] Yiltan commented on #5483
Thank you, I didn't notice the mistake in the example

[2021-08-03 23:30] #5483 closed

[2021-08-04 05:04] #5339 closed

[2021-08-04 05:04] #5340 closed

[2021-08-04 13:39] raffenet commented on #5483
Neither did the Forum until after it was published 😅. There is a ticket to correct the error (requires permission to view): https://github.com/mpi-forum/mpi-issues/issues/509

[2021-08-06 02:19] hzhou commented on #3583
Status: The intra-node IPC is implemented for both pt2pt and rma. For pt2pt, only when sender is from device is implemented. Sending from host buffer and receiving from device buffer is in the plan.

GPU Direct to RDMA is via netmod native path when ucx and libfabric supports it. There is no plan to implement it in MPICH otherwise.

Unified virtual addressing is *assumed*.

Since this ticket is qu

[2021-08-06 02:19] #3583 closed

[2021-08-06 20:31] Yiltan commented on #5483
I've gone through the examples in standard and everything seems to work fine. I've also tested some simple send/recv with GPU buffers.

But if I use GPU buffers for partitioned communication I get:
[code]

I assume as of now, MPICH's partitioned communication does not support GPUs even when using UCX?

Since it doesn't give the most helpful error message would anybody give some insight as to where

[2021-08-06 20:34] raffenet commented on #5483
You are right. I have a branch that should support partitioned comm with GPU buffers when using UCX, but it hasn't been approved yet. https://github.com/pmodels/mpich/pull/5462

[2021-08-06 21:29] Yiltan commented on #5483
Thank you, I've installed that branch my application runs with no issues.

[2021-08-12 12:48] spickartz commented on #5423
Actually, I face issues running `autogen.sh` on the `3.4.x` Branch when extracting error messages:
[code]

It complains about many redefinitions (which are ignored) and I struggle to find the actual root cause of this error. Could you please tell me what to watch out for?

BTW: Running it with the `--without-errmsgs` yields the same issue.

[2021-08-12 13:11] spickartz commented on #5423
Yes, something like this (and even more):
[code]

Or do you want me to post the whole output?

[2021-08-12 13:32] hzhou commented on #5423
The `src/binding/c` files are generated in the main branch that 3.4.x branch shouldn't have. Try delete the `src/binding/c` or try with a clean repository.

[2021-08-14 23:09] hzhou commented on #4976
Shows up again in #5496

[2021-08-15 02:12] hzhou commented on #4976
Got backtrace after thousands of repeat:
[code]
It is getting corrupted data in `MPL_free(MPIDIG_REQUEST(req, req->greq.flattened_dt));`

[2021-08-15 02:16] hzhou commented on #4976
Reproduces with `rma/win_dynamic_rma_flush_get` as well. So this has nothing to do with collective `MPI_Win_attach`.

[2021-08-15 15:41] hzhou commented on #4976
Seems depend on some machince conditions -- I no longer can reproduce it no matter how many times I tried.

[2021-08-16 11:53] spickartz commented on #5423
This seems to work now. Thanks!

However, I still see the following output from hwloc (resulting in a non-fatal error):
[code]

[2021-08-16 21:11] janciesko opened #5498 "Configuring with autoconf fails on several systems with "required file 'libhydra/topo/hwloc/hwloc/include/private/autogen/config.h.in' not found""
We have auto tools in different locations. All versions comply with requirements. On Lassen (LLNL), ```autogen.sh``` fails with:

[...]
[code]

Checking libtool version shows:
[code]

A reproducer:
[code]

The autoconfig output of the first lines is as follows:

[code]

Any idea what is wrong? Seems like the version check fails and the actools do not generate config.h.in file.

[2021-08-17 03:18] hzhou commented on #5498
We did warn that having autotools from different locations may lead to failures in some unexpected ways :)

What likely happens is autoconf not being able to load or find the macros that automake installed, resulting in those `AM_xxx` macros not being found. You may be able to figure out how autoconf configure and finds its macro paths and correct it appropriately, but our advice is to just run `a

[2021-08-17 15:37] #5391 closed

[2021-08-17 18:14] janciesko commented on #5498
Warning received :) I was able to work around it. Thanks Hui.

[2021-08-17 18:49] #5498 closed

[2021-08-18 02:58] hzhou commented on #4383
We have migrated atomics to MPL. This issue is stale. If necessary, open a new one with more specific descriptions.

[2021-08-18 02:58] #4383 closed

[2021-08-18 15:58] hzhou commented on #5423
In the `main` branch, we have chosen to configure embedded hwloc without the `cuda` or `nvml` dependency. Since as you said, this only results in a non-fatal error, I think we probably will leave the 3.4 branch as now.

[2021-08-18 15:59] #5423 closed

[2021-08-19 16:08] wesbland opened #5505 "Incorrect Warning Types Being Passed to Debugger Queues"
After the changes in https://github.com/pmodels/mpich/pull/5280, the types of request objects being stored in the CH4 posted and unexpected list changed from `MPIDIG_rreq_t` to `MPIDI_Devreq_t` in an effort to unify the request types:

https://github.com/pmodels/mpich/commit/25ba182b4e443#diff-a6edde392088cb02a7b9c47ab8ae2cbe8bc9072319f035131cd41510e25b9160L273-L274

Unfortunately, this causes pro

[2021-08-20 15:20] hzhou opened #5507 "ch4/ofi: need check libfabric versions for multi-nic feature"
Apparently older versions of libfabric doesn't have the `nic` field defined in the `struct fi_info`. I was trying to build on `Bebop`, which, according to the `/usr/include/rdma/fabric.h`, is version 1.6, and the build breaks due to missing struct field.

We need either raise the minimum version, or (more preferably) check and set macros to disable the multi-nic feature.

[2021-08-20 15:25] wesbland commented on #5507
Which version of OFI is in your distribution on that machine and how old is that distribution? Is it worth having a discussion about requiring OFI versions > 1.6? We've already said we require at least 1.5.

[2021-08-20 15:42] wesbland commented on #5507
I misread your statement. So the `nic` field was added to the `fi_info` struct in v1.7.0:

https://ofiwg.github.io/libfabric/v1.7.0/man/fi_getinfo.3.html

So we'd be updating the required version of OFI for MPICH from 1.5 to 1.7.

Technically, I don't think we have a configure time check at the moment to make sure that MPICH is being compiled with an OFI library greater than anything. We used to h

[2021-08-20 15:46] wesbland commented on #5507
More inconsistencies between reality and me. We do still have at least some of the 1.5ism checks:

https://github.com/pmodels/mpich/blob/a36d1be7b970cf88a3c6e4a91eb8726a02ecf9bf/src/mpid/ch4/netmod/ofi/init_settings.c#L65-L69

The check for the `nic` field would have to be done at configure time though.

[2021-08-20 15:52] hzhou commented on #5507
I think I prefer to have configure-time version check and disable the multi-nic code. It feels a shame to abandon otherwise perfectly performing system libfabric for the feature that it does not need.

[2021-08-20 15:57] raffenet commented on #5507
Agree. I'd rather the system library be used in this instance.

[2021-08-20 17:48] hzhou commented on #5507
There are more issues with the multi-nic code. The code build with `--with-libfabric=embedded`, but it fails the `MPIDI_OFI_nic_is_up(prov)` test. After I remove that check, I suspect somewhere else down the line with the nic stuff is still messing it up, since I got this from the debug output:
[code]

[2021-08-20 17:49] hzhou commented on #5507
@wesbland ☝️

[2021-08-20 18:02] hzhou commented on #5507
It might be easier to have a configure options `--enable-ch4-ofi-multinic` and have it disabled by default. @wesbland , what do you think?

[2021-08-20 18:18] wesbland commented on #5507
That does mask the problem and mean the the code will never be compiled again, but I'd rather actually fix it. 😄

[2021-08-20 20:57] hzhou commented on #5507
It's possible that the recent libfabric psm2 provider had some digressions. @wesbland you guys always tested on psm2, right? Did you update libpsm2 at some point?

[2021-08-20 20:58] #5309 closed

[2021-08-20 21:15] raffenet commented on #3469
Here is simplified version of the test that fails consistently.
[code]
According to my comment (https://github.com/pmodels/mpich/issues/3469#issuecomment-447376549), past me thinks this is a correct MPI program. UCX is shutting down without completing the request, and also complaining about the leak, so delaying the checks is not a solution.
[code]
What we could do it internally track all requests

[2021-08-20 21:26] raffenet commented on #3469
Here's a slightly stronger example.
[code]
Should the output of this be? I'll take it up with the forum...
[code]

[2021-08-20 23:51] hzhou commented on #3469
I think it should be undefined. But still, we shouldn't leak memory.

[2021-08-23 15:27] wesbland commented on #5507
I just realized that I had put in a quick fix in our internal version and forgot to upstream it. 😞 I've submitted it now in https://github.com/pmodels/mpich/pull/5512.

[2021-08-23 18:51] raffenet commented on #3469
I edited the test a bit and sent it on the MPI Forum Slack. As I suspected, the Forum believes that this is a correct program and that the output is well defined. In short, `MPI_FINALIZE` guarantees completion of the freed request.

[2021-08-24 16:24] #5507 closed

[2021-08-24 17:36] #5505 closed

[2021-08-25 16:51] hzhou commented on #4795
@sagarth was able to reproduce the failure independent of xpmem: https://github.com/pmodels/mpich/pull/5375#issuecomment-904988673

[2021-08-28 01:01] eschnett opened #5529 "MPI_Initialized returns false after calling MPI_Finalize"
I find that `MPI_Initialized` returns false when called after calling `MPI_Finalize`. The MPI standard says it should return true. (See e.g. section 8.7 of the MPI 3.1 standard.)

The implementation of `MPI_Initialized` checks whether the current state is `MPICH_MPI_STATE__POST_INIT`. It should probably also check for `MPICH_MPI_STATE__POST_FINALIZED`.

[2021-08-28 01:20] eschnett opened #5530 "mpicc should not put `-flat_namespace` into linker options on macOS"
On macOS, `mpicc` etc. add the linker option `-flat_namespace`. I think this is wrong, because this does not only affect the way MPICH's libraries are linked; it affects the overall way an application or a plugin behaves.

In my case, I want to compile a plugin, i.e. a shared library that will be explicitly opened via `dlopen`. I want the symbol resolution in the plugin – which uses MPICH – to be

[2021-08-28 02:27] hzhou commented on #5530
Hi @eschnett , did you try configure mpich with `--enable-two-level-namespace`? Looks like that option was added just skip `-flat_namespace`.

[2021-08-28 02:40] hzhou commented on #5529
Yes, you are correct.

[2021-08-28 19:00] eschnett commented on #5530
I did not; I didn't see that option. Thanks!

[2021-08-28 22:30] hzhou commented on #5530
@eschnett Please let us know if that option works for you, so we may close the issue.

[2021-08-29 17:51] eschnett commented on #5530
Yes, this option works for me.

[2021-08-29 17:51] #5530 closed

[2021-09-01 12:59] raffenet commented on #4976
So is there a switch between ch4 AM and ofi AM somewhere in this scenario? Neither of the ch4/ofi active message types have origin-side callbacks, so I'm not totally following how we end up where an origin cb is executed in the RDMA read protocol. I'm not saying this fix is wrong, just wanting to understand a bit more.

[2021-09-01 13:46] hzhou commented on #4976
The test runs an `MPI_Get` of a large message. P0 first sends a short am message `MPIDIG_GET_REQ` and P1 responds with `MPIDIG_GET_ACK` with the data payload.

When the "ACK" data arrives at P0, the origin callback of `MPIDIG_GET_REQ` may have not run yet. In preparing for RDMA read the "ACK" data, ofi clears the request object, and overwrites the `handler_id` from `MPIDIG_GET_REQ` to `MPIDIG_GET_

[2021-09-01 13:49] #5529 closed

[2021-09-01 15:21] raffenet commented on #4976
I guess I am questioning whether we need an origin-side callback for `MPIDIG_GET_REQ`. I don't know what purpose it serves, since the request can only be completed with the data actually arrives.

It looks like `MPIDIG_get_origin_cb` just calls `MPID_Request_complete`. Is this for the cc increment here? https://github.com/pmodels/mpich/blob/a742d14682e5df7a8f7b348f011f1385c029695d/src/mpid/ch4/src

[2021-09-01 15:28] hzhou commented on #4976
Whether it needs origin-side callback -- i.e. what the origin callbacks do -- is a ch4-layer (or protocol) question. For the transport layer (e.g. ofi), it can't make that decision but assume it always need call the origin-callback.

[2021-09-01 15:34] hzhou commented on #4976
Potentially yes. But that's a separate question irrelevant to the OFI layer.

[2021-09-01 16:26] raffenet commented on #4976
So it seems like this part is the underlying source of the issue:
[code]
But I don't think we're preventing the origin callback for `MPIDIG_GET_ACK` from being called in error with the fix, right? We're just making it so it doesn't impact ongoing work by the request?

[2021-09-01 16:33] hzhou commented on #4976
We are. See https://github.com/pmodels/mpich/pull/5523/files#r700380616

[2021-09-01 21:39] #4976 closed

[2021-09-02 13:52] hzhou commented on #1670
@travisk1154 Can you run the above-mentioned test?

[2021-09-03 09:46] tomgao56 commented on #5111
I have met the same problem.

[2021-09-08 20:02] raffenet commented on #5110
The UCX module in `main` is now based on v1.11.1, which contains the upstream fix for this.

[2021-09-08 20:02] #5110 closed

[2021-09-08 20:04] raffenet commented on #5111
I don't have access to aarch64 hardware at the moment, but I can confirm the bug using a multiarch docker container on my laptop. I'll submit an issue to the UCX repo.

[2021-09-10 04:22] hzhou commented on #4497
There isn't a general method to filter the options other than going through an explicit option list, which will be difficult to maintain. Since there is no good solution, I am closing this ticket. We'll just do manual patches on a case-by-case basis.

[2021-09-10 04:22] #4497 closed

[2021-09-10 04:42] hzhou commented on #4038
I believe this issue no longer exists.

[2021-09-10 04:42] #4038 closed

[2021-09-10 04:46] hzhou commented on #3503
This issue is for old system and I believe it is outdated. I am closing this for now. If there is still issue regarding pgi compilers (must be, that is full of issues), open a new issue with specific descriptions.

[2021-09-10 04:46] #3503 closed

[2021-09-10 04:59] hzhou commented on #2064
As previous comment (https://github.com/pmodels/mpich/issues/2064#issuecomment-253889546), it is not clear that there is enough motivation to fix this issue. I am adding "won't fix" label now. If there is argument for otherwise, feel free to re-open the ticket (with rationale).

[2021-09-10 04:59] #2064 closed

[2021-09-10 13:35] hzhou commented on #2326
The table need be updated

[2021-09-10 15:11] #2331 closed

[2021-09-10 21:11] sagarth opened #5551 "ch4/ofi: init fails when using multi-vci + SEP with psm2"
All tests fail when using with more than one vci (/endpoint) and SPE with using psm2.

E.g.,:
[code]

Tests: many, e.g, including simple tests such as test/pt2pt/attr.

Note: fix patch is on the way.

[2021-09-10 21:15] sagarth opened #5552 "ch4/ofi: assertion failure during address exchange under multi-NIC"
Config: psm2 + multi-nic + mult-vci (passes for single vci)
Replicated with SEP, have not tested with mutiple-domains

(error goes away with single NIC:  env: export MPIR_CVAR_CH4_OFI_MAX_NICS=1)

[code]

Finding: Address exchange is failing when using multiple-nics are used. Address entry returned by `get_av_table_index` is not matching an expected value. Tests run fine after removing the av tabl

[2021-09-10 21:22] sagarth opened #5553 "ch4/ofi/psm2: psm2_ep_connect intermittently failing for some coll tests"
Some collective tests are failing intermittently, during finalize step. Problem reported during a local debug run.

Config: psm2 + multi-vci + SEP (--disable-ofi-domains)

Error:
[code]
tests: `./coll/opbxor 5` `./coll/bcastzerotype 5 MPIR_CVAR_BCAST_DEVICE_COLLECTIVE=0 MPIR_CVAR_BCAST_INTRA_ALGORITHM=scatter_recursive_doubling_allgather` `./init/session_mult_init 4` etc.

Finding: Problem occurs

[2021-09-10 21:24] hzhou commented on #5553
@sagarth Can you reproduce the issue without multiple VCI? We need to determine whether the issue is vci specific.

[2021-09-10 21:26] sagarth commented on #5553
@hzhou Actually yes. It just replicated for single-vci too.

[2021-09-10 21:27] hzhou commented on #5553
Does it depend on SEP?

[2021-09-10 21:28] sagarth commented on #5553
Yes, SEP dependent.

[2021-09-10 21:29] hzhou commented on #5553
With single vci, what is the difference between SEP and ofi domain?

[2021-09-10 21:37] sagarth commented on #5553
It seems one class of difference is the flags that are passed to ofi. But let me take back the statement about SEP. I'm not fully sure if I've tested it with multiple-domains.

[2021-09-10 21:39] hzhou commented on #5553
To clarify, since it can be reproduced with single vci, there is nothing to do with multiple-domains, right?

[2021-09-10 21:42] sagarth commented on #5553
Right, problem has been replicated with a single domain and SEP enabled. Haven't tested with SEP disabled.

[2021-09-10 21:45] carns opened #5554 "superfluous .pc files installed for embedded libraries"
MPICH 3.4.2 installs several *.pc (pkgconfig) files in the `<prefix>/lib/pkgconfig` directory.  The mpich.pc one appears to be correct, but I also see libfabric.pc and yaksa.pc as well from a stock installation on my laptop.

Anecdotally it looks like some platforms also get json-c.pc and izem.pc.  There may be others that get installed depending on what features are enabled in MPICH?

At any rate

[2021-09-10 22:02] hzhou commented on #5554
Could you try the 4.0a2 release -- https://www.mpich.org/downloads/? Many of the extra .pc files has been fixed there already. Probably `yaksa.pc` is the only remaining need to be fixed.

[2021-09-12 23:08] kloczek opened #5557 "3.4.2: mpich is not autoconf 2.71 ready"
Exact order of some changes should be:
- s/AC_HELP_STRING/AS_HELP_STRING/ (most of the warnings are about that macro) -> commit
- run `autoupdate`
- carefouly review all `[obsoleted]` parts and make decisions about each change-> if everything will be ok commit

Correcly implemended changes will be working as well with olser autoconf.

Full log of the of the build on the system with autoconf 2.71 i

[2021-09-13 13:55] hzhou commented on #5557
We are not going to make significant changes to the 3.4.x branch. Could you check the main branch?

[2021-09-13 14:00] hzhou commented on #5282
We are not going to make significant changes to the 3.4.x branch. The main branch and the upcoming 4.x branch should work with autoconf 2.7 already.

[2021-09-13 14:00] #5282 closed

[2021-09-13 14:10] hzhou commented on #5552
@sagarth Could you add a debug print to show which entries were mismatched? If you log `r`, `nic`, `vni`, and both mismatched values, that would be helpful.

[2021-09-13 15:03] hzhou commented on #5552
Oh, I think we neglected the SEP mode in `get_av_table_index`. With SEP, we only insert av for a single vni since they all share the address. patches coming.

[2021-09-13 15:13] hzhou commented on #5552
@sagarth Could you verify if #5558 fixes this issue?

[2021-09-13 15:43] kloczek commented on #5282
How close is to release 4.0.0?

[2021-09-13 15:46] hzhou commented on #5282
This November.

[2021-09-13 16:46] sagarth commented on #5552
@hzhou Yes it fixes the issue.

[2021-09-14 13:36] carns commented on #5554
Thanks @hzhou !  I confirmed that at least the libfabric.pc file is no longer being installed in 4.0a2:

[code]

There is indeed still a yaksa.pc file, though I'm not likely to encounter that one in my build stack.

I'm curious about json-c.pc, but I'm not sure what would potentially trigger that to be installed in my own local build.

[2021-09-14 15:36] wesbland commented on #5554
@hzhou Do you know which patch fixed this? At least in my build, I'm still seeing this. I'd rather not reimplement a fix if you already have one.

[2021-09-14 15:40] hzhou commented on #5554
We had a patch applied to the json-c module -- https://github.com/pmodels/json-c/commit/c496a735ec7312a22c1484ac6950f12fc8712b2f

[2021-09-14 16:20] wesbland commented on #5554
I see. I might have been looking at an older build. I just recompiled and I'm only seeing pc files for izem, mpich, and yaksa, which I think is fine.

[2021-09-14 19:02] #5552 closed

[2021-09-16 21:39] #5551 closed

[2021-09-21 20:42] roblatham00 opened #5564 "Automake-1.15 and newer perl"
The release script (`maint/release.pl`) has a strict dependency on `automake-1.15`.  automake-1.15 and perl-5.26 (default perl on newer linux machines) are no longer compatible  with each other  (see https://unix.stackexchange.com/questions/238539/automake-error-unescaped-left-brace-in-regex-is-deprecated ).

`maint/release.pl` should require `automake-1.15.1`, which fixes this interdependency,  i

[2021-09-22 04:09] hzhou commented on #5564
Indeed, according to -- https://github.com/pmodels/mpich/blob/fa85431ceb1917ee6b1bc277d39ba8afbb6e433b/maint/release.pl#L154-L159

I would like to understand the details of the claim though.

[2021-09-22 04:12] hzhou commented on #5564
@roblatham00 Since it seems there is a good reason to keep `release.pl` with rather strict environment, I am going to mark this issue as wont fix. For your purpose -- to create convenient release tar ball, you can simply manually change into any newer version and it should work.

[2021-09-22 13:51] hzhou opened #5565 "test: rma_contig timeout under multiple-vci in ch4:ofi"
In test `rma/rma_contig 2`, it runs roughly following tests:
[code]
The barrier is over vci 0 while the rma operation and window synchronization happens in vci 1. This test runs very slowly due to lack of progress on target process. It still progresses only due to we polls global progress. The rate of tests is proportionally affected by how often we poll global progress.

[2021-09-22 15:59] roblatham00 commented on #5564
Isn't the fix to put a hard dependency on perl-5.22 ?  the next time someone cuts a release they are going to run into this problem...  building perl is kind of a pain but spack at least makes it  set-and-forget

[2021-09-22 16:10] raffenet commented on #5564
I'm skeptical of this claim, at least for C ABI. I don't think it is actually a concern.

[2021-09-22 16:45] hzhou commented on #5564
`perl-5.22` (and earlier versions) is a dependency of `automake-1.15`. The check is included in the automake check.

We probably will update that script to `automake-1.16` at the time we release mpich-4.0. Let me reopen this ticket as a reminder.

[2021-09-25 17:40] dalcinl opened #5568 "bug: handle leaks for predefined datatypes"
From my understanding of the MPI standard, `MPI_Type_create_f90_{integer|real|complex}()` return unnamed but nonetheless **predefined** datatypes. As they are predefined, we should not `MPI_Type_free()` them, right?.

Please consider the following code:

[code]

So, decoding a dupe of a F90 datatype returns the same F90 datatype handle (the `assert` line confirms that). Therefore, we should not fr

[2021-09-27 04:31] hzhou commented on #5568
I think we can do that.

[2021-09-27 14:51] hzhou commented on #5568
The same issue exists for pair types.

[2021-09-27 15:31] hzhou commented on #5568
The text in MPI specification is --
[code]
I think this is problematic. How would user know whether a datatype obtained from `MPI_Type_get_contents` is a predefined type or not?

[2021-09-27 19:10] dalcinl commented on #5568
Of course it is! I've been dealing with this mess since MPI-2 added support for datatype decoding.
Similar issues arise in MPI-IO, in `MPI_File_get_view()`.

Of course, in the MPI-IO case, the wording does not force implementors to return a predefined (equal to a constant) datatype, they could choose to return a duped datatype, although that additional indirection would make decoding these datatyp

[2021-09-27 19:12] dalcinl commented on #5568
Yes, indeed, although note that pair types are **named** datatypes, so for the point of view of a user, they are should be handled as any other named datatype like `MPI_INT` or `MPI_DOUBLE`.

[2021-09-28 03:21] hzhou opened #5574 "ch4/ofi: ssend reply is not safe with multiple messages"
In the native path, ssend receiver sends ack to the sender via a direct tag match. When the sender sends multiple ssends to the receiver with the same tag, the reply is not guaranteed to match the original send.

The current multi-thread ssend tests in `test/mpi/threads/pt2pt` is insufficient to catch this issue because the test doesn't really check the semantics of send -- difficult to check. The

[2021-09-28 14:30] hzhou commented on #5574
There 64 bits in the matchbits, lower 32 bits for tag, up to 20 bits for context id, then at least 4 bits for misc flags, so we only have 8 bits left, which isn't enough to hold request handle.

I am thinking that wen cq_data size is 8 -- seems typical, we could use cq_data for both the source rank and request handle. I am experimenting this in https://github.com/pmodels/mpich/issues/5574

[2021-09-28 14:30] raffenet commented on #5574
You don't need context id or tag in this case. Just sync bit and request handle, right?

[2021-09-28 14:32] hzhou commented on #5574
Oh, it's about sending the `sreq` handle to the receiver in the first place. If receiver doesn't have the `sreq` handle, it can't use it in the ack.

[2021-09-28 14:32] raffenet commented on #5574
Oh, right. I get it now.

[2021-09-28 15:51] wesbland commented on #5574
There are also some cases where you don't get all 64 bits. I don't remember bits bits we use for a request handle.

[2021-09-28 16:03] hzhou commented on #5574
Yes. For those cases, we have to resort to direct tag matching. But if we have the extra cq data bits, we can use it for more robustness. In PR #5574, we choose the mechanism based on runtime cq_data_size.

[2021-09-28 22:36] hzhou commented on #5574
When multiple `ssend` with the same tags is on the fly, because all the `SYNC` packets coming back are identical, so it doesn't really matter which one is going to which, as long as in the end all the `SYNC` packets will be accounted for. The timing will be off, but in the end all will get completed. I don't think there is anything the user can detect anything wrong.

[2021-09-28 22:37] #5574 closed

[2021-09-29 13:49] #5568 closed

[2021-10-04 16:20] hzhou commented on #5381
Actually the correct option for gfortran is
[code]

[2021-10-06 04:36] jczhang07 opened #5589 "MPI_IN_PLACE bug with Fortran"
I met an error with "mpich-3.4 (or above) + petsc + mumps". The error does not show up with either mpich-3.3 or openmpi.

To reproduce it, we need to build petsc

[code]

You can set a breakpoint on line 149 of sol_common.F from arch-linux-dbg/externalpackages/git.mumps/src/sol_common.F

[code]
and you can see GLOBAL_MAPPING got a wrong result after this call.

[2021-10-06 14:05] hzhou commented on #5589
@jczhang07 Could you verify with `mpich-4.0a2`?

[2021-10-06 14:13] jczhang07 commented on #5589
Yes, tested both with 3.4.2 and 4.0a2.

[2021-10-06 15:27] jczhang07 commented on #5589
Yes, the segfault is an effect of the wrong MPI_Allreduce result.

[2021-10-06 18:25] hzhou commented on #5589
To summarize, the issue is `MPI_Init` is being called in C, so `mpirinitf_()` was skipped. I guess the solution is to ignore `HAVE_MPI_F_INIT_WORKS_WITH_C` and always do the lazy init.

[2021-10-07 21:16] sagarth opened #5591 "rma: multiple rma tests failing under SEP + multi-vci"
Multiple rma tests failing under multi-vci, (e.g., `n_vci = 4`) with `psm2` provide.
[code]
tests: `/rma/win_flavors 3` `./rma/win_info 4` `./errors/rma/cas_type_check 2` etc. (Note: tests with higher number of processes fail easily)

Findings: MPICH is allocating a scalable endpoint when an RMA window is created (for a given `ctx_id` ; calling `fi_scalable_ep` in `win_init_sep`).  It does not tra

[2021-10-08 15:09] hzhou opened #5592 "jenkins/bug: ch4-ofi-freebsd64 - errors/pt2pt/truncmsg1"
[code]

The failure is triggered by the new test added in https://github.com/pmodels/mpich/pull/5567/commits/bfd68e60a85545ae221d3f97b935260daa787eaa. When P0 send `100000 MPI_INT` and receiver posted a small buffer, the sender will get this error.

[2021-10-11 16:08] pmav99 opened #5594 "hydra: segmentation fault with incorrect arguments"
[code]

[code]

Nevertheless when giving incorrect arguments it segfaults

[code]

Even this segfaults:
[code]
This was built using the AUR package: https://aur.archlinux.org/packages/mpich/

Probably related to: https://github.com/conda-forge/mpich-feedstock/issues/61

[2021-10-11 22:59] hzhou commented on #5594
Thanks for reporting. Just to clarify, the desired behavior is some kind of error message, right?

[2021-10-13 14:43] hzhou opened #5600 "ch4: active message fallback may not be multiple-vci safe"
Need to add testing for multiple vci with am-only. I suspect there are some issues with RMA path when multiple vci is used.

_Originally posted by @hzhou in https://github.com/pmodels/mpich/pull/5599#issuecomment-942359000_

[2021-10-14 01:26] #2115 closed, assigned to nobody

[2021-10-14 01:32] hzhou commented on #1637
The mentioned code no longer exists in the current code.

[2021-10-14 01:32] #1637 closed

[2021-10-14 02:02] hzhou commented on #1769
Confirmed. This bug appears to be separate from support of `__float128`, which was fixed in https://github.com/pmodels/mpich/pull/4561

[2021-10-14 02:06] hzhou commented on #2321
This is stale and the logs are now inaccessible. Close for now

[2021-10-14 02:06] #2321 closed

[2021-10-14 02:33] hzhou commented on #5437
@cesarpomar Are you able to provide something so that we can reproduce the issue? Otherwise, we can't really make any progress on it and may close this issue.

[2021-10-14 15:45] ashwinraghu opened #5604 "ROMIO:ad_gpfs hang in collective write due to inconsistent state of gpfsmpio_tuneblocking"
A user reported a hang when running an application that does collective MPI-IO on a GPFS file system.
On reproducing the issue, I can see that the ranks are waiting on 2 different collectives in their execution path, which shouldn't have been. On examining why, it appears the global gpfsmpio_tuneblocking seems to be inconsistent across the ranks.

From a run on 1 node with 4 ranks:

Rank with lowe

[2021-10-14 18:30] roblatham00 commented on #5604
You've been able to reproduce the problem which is tremendous.  Is this a pure MPI-IO stack or is some other library involved?   Setting "romio_no_indep_rw" suggests tremendous familiarity with ROMIO.

[2021-10-14 21:32] roblatham00 commented on #5604
dang, there it is.  `ADIOI_GPFS_Open` *also* calls ad_gpfs_get_env_vars.  and yeah, only aggregators will call that one in the deferred open case.

The code has been structured that way for a long long time, but I admit we don't test deferred open aggressively enough.

I'm surprised gpfs_tuneblocking was not set as part of MPI_File_open:  even though the non-aggregators will skip the call to ADIOI

[2021-10-14 21:57] yurivict opened #5605 "Prints "PCI: Failed to initialize libpciaccess with pci_system_init(): 6 (Permission denied)""
Version 3.4.2 always prints many such messages:
[code]

OS: FreeBSD 13

[2021-10-14 22:28] hzhou commented on #5605
This is a know issue from `hwloc` -- https://github.com/open-mpi/hwloc/issues/456. According to the comment, upgrading to version 2.5 should fix it. Stay tuned.

[2021-10-14 22:47] hzhou commented on #5605
@yurivict Could you test PR #5606?

[2021-10-14 22:57] yurivict commented on #5605
On FreeBSD mpich uses external hwloc2. I just verified that hwloc2-2.5.0 solves this problem.
I also submitted the update request to update the port to ```2.5.0```.

Thank you!

[2021-10-15 14:18] nusislam opened #5607 "pt2pt anysrc tests segfault with multiple NICs"
[code]

[2021-10-15 20:41] #5594 closed

[2021-10-19 20:31] roblatham00 commented on #5604
wow, that's a subtle mess....

Ok, so we identified the two places that ROMIO's gpfs driver consults environment variables:  at open time and at info processing time.    Unfortunately, only on PE or BGQ do we process gpfs specific hints.  Here's ad_gpfs.c:

[code]

this is redundant:  any PE or BlueGene specific code in ADIOI_GPFS_SetInfo is ifdef gaurded

(also BlueGene specific code is guarded b

[2021-10-21 00:01] hzhou opened #5616 "bug: timeout in atomic_get_pairtype tests"
Let me investigate.

EDIT: pasting the failures messages for reference:
[code]

_Originally posted by @hzhou in https://github.com/pmodels/mpich/issues/5612#issuecomment-947748508_

[2021-10-21 03:54] hzhou commented on #5437
Close due to lack of response and confirmation. Please reopen with a reproducer.

[2021-10-21 03:54] #5437 closed

[2021-10-21 03:59] hzhou commented on #5359
This is fixed by #5567

[2021-10-21 03:59] #5359 closed

[2021-10-21 21:22] #5607 closed

[2021-10-27 18:36] sagarth opened #5624 "bug: mt_*sendrecv_huge fail under shm"
Failing tets: multi-threaded huge sendrecv, e.g.,  `mt_sendrecv_huge`, `mt_bsendrecv_huge`

Observed with: `sockets` and `psm2` when `export MPIR_CVAR_ODD_EVEN_CLIQUES=0`, on a single node.

Finding/observation: when making progress for vci=0 (=>lock is taken for vci 0), request from `pool != 0` is being freed.

Output:
[code]

Call Stack:
[code]

[2021-10-27 21:50] sagarth opened #5626 "pt2pt/probe_unexp times out under multi-vci"
Test: `pt2pt/probe_unexp 4`

Fails under `SEP` + `multi-vci` but passes under `single vci`.

Test prints `No-Errors` and is stuck during finalize. Out of 4 ranks, 2 ranks were stuck. One rank was stuck in `MPIDI_NM_mpi_finalize_hook` whereas another was stuck in `MPIDU_Init_shm_finalize`.

Replicated locally with `psm2` and `netmod` on a single node. Jenkins showed problem with `auto` as well.

[2021-10-27 22:53] sagarth opened #5627 "mt_*probe_sendrecv_huge hangs intermittently under multi-vci + netmod + psm2"
Replicated with `netmod`, `psm2`, SEP (`--disable-ofi-domain`) and `vci=2` or `vci=4`.

Local testing showed intermittent behavior. When hanging, one rank was stuck at `MPIDI_OFI_mpi_finalize_hook`. Other rank completes the test and exits without reporting any error. It prints `No Errors` before hanging.

Failing tests:
`./threads/pt2pt/mt_probe_sendrecv_huge 2 -iter=64 -count=4194304 MPIR_CVAR_CH

[2021-10-28 13:18] tjahns opened #5628 "Calling MPI_Comm_dup for a graph communicator fails in assertion."
Compiling the attached source file [graph_comm_dup.c.gz](https://github.com/pmodels/mpich/files/7434352/graph_comm_dup.c.gz) leads to an assertion failure (and nothing in the standard suggests it should):

[code]

[code]

[2021-10-28 22:10] sagarth opened #5631 "coll tests failing during init under multi-vci + psm2"
Multiple coll tests failing during init.
[code]
(Note: it has a similar underlying problem as the RMA bug(https://github.com/pmodels/mpich/issues/5591), but from different places in MPICH.)

It was observed with `Scalable Endpoints`, but it should probably replicate with `multiple domains` as well.

Tests:
[code]
[code]
[code]
Finding: the tests seemed to be trying to open too many endpoints than

[2021-10-29 18:12] #5604 closed

[2021-10-29 22:06] hzhou commented on #5624
Found the bug. It is due to missed setting vcis in `MPIDI_IPCI_handle_lmt_recv`, which is only triggered when IPC is enabled, e.g. with `xpmem` or `gpu`.

[2021-10-30 03:21] hzhou commented on #5626
@sagarth I am not able to reproduce this. There are too many irrelevant configure options and variables. Could you narrow it down until we find the minimum condition? That should help me pin it down.

[2021-10-30 03:50] hzhou commented on #5627
`src/mpid/ch4/netmod/ofi/ofi_init.c:881`:
[code]

Another hard-coded vni now should use per-vni variable.

[2021-10-30 03:56] hzhou commented on #5627
@sagarth Could you verify if the patch works?

[2021-10-30 04:13] hzhou commented on #5631
Looks like psm provider limit `tx_ctx_cnt` and `rx_ctx_cnt` to the number cores on a node.

[2021-10-30 04:35] hzhou commented on #5631
Observation on Bebop, which has 36 hardware threads --

First process get `domain_attr->tx_ctx_cnt 36`, the next one gets `35`, and so on.

[2021-10-30 20:54] hzhou commented on #5631
Note that MPICH didn't crash in this case, it is returning error and the default MPI error handler is aborting the application.

While we could try track the system limit, but this limit is ultimately a provider specific behavior and any attempt on the MPICH side is taking assumptions that may change at some point.

We probably can update the error message to advise user that this is probably due

[2021-11-01 14:40] #5624 closed

[2021-11-01 19:22] sagarth commented on #5627
@hzhou This patches from https://github.com/pmodels/mpich/pull/5634 seem to help during the local testing.

[2021-11-01 19:22] #5627 closed

[2021-11-01 19:30] hzhou commented on #5631
I am marking "wontfix" for now. Potentially we can improve the error message so user can understand the reason for failures. However, the `fi_endpoint/fi_scalable_ep` may fail for multiple reasons. In fact, libfabric itself only give very vague error message --
[code]
So I am not sure we should provide a "guessed" reason to the user.

[2021-11-01 19:37] sagarth commented on #5631
That's right. It is actually not a crash but we can possibly refine the error message (e.g., if we can detect that the error is coming because we crossed the system limit).

[2021-11-01 19:38] hzhou commented on #5565
It's not clear what we should do here. The lack of progress in passive RMA is more a design issue that it's unlikely to have a real fix in ch4. In fact, the MPI_Barrier with single VCI that helps the RMA progress is more accidental than an intention.

We probably should provide user a CVAR to control how frequent we like to invoke global progress. The current default is once every 256, set interna

[2021-11-01 20:26] sagarth commented on #5626
This failure was under the same config as: https://github.com/pmodels/mpich/issues/5627. I think https://github.com/pmodels/mpich/pull/5634 should have fixed this issue as well. I did some local testing with those patches and this test passed.

[2021-11-01 20:28] hzhou commented on #5626
Sounds good. Feel free to close issue once you confirm with testing.

[2021-11-01 21:30] sagarth commented on #5626
It is passing. However, I noticed one difference that under vci=4 (compared to vci=1), it is taking longer to complete, after printing `No Error`.

[2021-11-02 19:37] #5628 closed

[2021-11-02 19:45] #5554 closed

[2021-11-02 20:12] hzhou commented on #5592
I believe this is what happens --

P0 is sending a huge message, but P1 only expected to receive a tiny one. P1 will quickly acknowledge and exit, resulting P0 connection errors sending the remaining segments.

[2021-11-02 21:39] hzhou opened #5638 "jenkins: ucx+gpu fails coll/reduce and coll/allred2"
Both triggers UCX internal error due to invalid stream handle:
[code]

[code]

[2021-11-03 14:44] #5592 closed

[2021-11-04 14:07] Yiltan opened #5643 "Yaksa issues when using GPU buffers for MPI_Allreduce"
Hello,

From [this table](https://github.com/pmodels/mpich/wiki/GPU-Support-Matrix-(3.4.x)), I _think_ that using MPI_Allreduce with GPU buffers are supported when using UCX. I am running into this issue with both MPICH `mpich-4.0a2` and `mpich-3.4.2`. I have tested point-to-point communication with GPU buffers and everything seems to work fine for that.

This is my setup for MPICH:
[code]

And th

[2021-11-04 14:17] raffenet commented on #5643
Can you share `src/mpl/config.log` from your build directory?

[2021-11-04 14:26] Yiltan commented on #5643
[code]

[2021-11-04 14:39] Yiltan commented on #5643
Thank you for the help

That log is:
[code]

[2021-11-04 15:13] hzhou commented on #5643
Try add `--with-cuda=<cuda install path>`

[2021-11-04 15:21] hzhou commented on #5643
It's in yaksa configure --
[code]

[2021-11-04 15:29] raffenet commented on #5643
Is `nvcc` required or can yaksa fallback to host-based pack/unpack if not available? Configure reports
[code]
so some logic may need need fixing?

[2021-11-04 15:38] raffenet commented on #5643
Oh, I see now in `src/backend/cuda/subconfigure.m4` that `HAVE_CUDA` is only defined if `nvcc` is found and working.

[2021-11-04 15:39] hzhou commented on #5643
`nvcc` is required to compile cuda backend. The contig cases may be able to by-pass cuda kernels -- maybe that's something worth optimize in the code structure since the contig case is the common optimization target.

[2021-11-04 19:13] Yiltan commented on #5643
@hzhou I don't think MPICH has the `--with-cuda=<cuda install path>` flag available. When you run `./mpich/configure --help | grep -i cuda` it does not return anything.

`nvcc` is correctly in my path as I'm able to compile other programs.

I still tried with that flag and explicitly setting the `NVCC` environment variable but still not luck. Any other thoughts?

[2021-11-04 20:17] hzhou commented on #5643
@Yiltan Could you try the latest `main` branch? You can use the following steps to build:
[code]

[2021-11-05 20:55] QiaoK opened #5648 "I/O Test Bigtype fails on NERSC Cori Lustre"
These are the exact steps I reproduce this issue on Cori after login. In step 9, the program is copied to a Lustre folder, so the I/O driver used is Lustre. KNL node is used to run the job. Note I have tested ch4:ofi on OLCF Summit. In a GPFS folder, the same test passes. Therefore, I suspect it is a problem specific to Lustre or Cori.

0. module unload darshan
1. git clone git@github.com:pmodels/

[2021-11-05 21:50] hzhou commented on #5648
The tag `131100` (`0x2001c`) does look strange, it exceeds the safe limit mandated by MPI standard, which is 16 bits. If that tag is not due to corruption, then it must be due to the smaller tag limit on `gni`.

[2021-11-06 01:09] wkliao commented on #5648
https://github.com/pmodels/mpich/blob/180bf1d24fd9dd1f7993c9d688d064c2376b1580/src/mpi/romio/adio/ad_lustre/ad_lustre_wrcoll.c#L809-L810

Here is the only place that calls `MPI_Irecv` in ad_lustre driver.
For large I/O requests, two-phase I/O is performed in multiple rounds,
where `iter` is the round ID.

Argument `tag` in MPI_Irecv is of type `int`, but its value is bound by `MPI_TAG_UB`.
If the

[2021-11-06 01:32] hzhou commented on #5648
Currently, GNI uses 20 tag_bits, but 2 bits are used for passing errors, and 1 bit used for mark collectives, so only 17 bits for users. `0x2001c` indeed exceeds that limit.

It's worth a try. @QiaoK Could you test that?

But the formula seems a bit hacky. For example, `100` is very arbitrary.

[2021-11-06 06:34] QiaoK commented on #5648
I tried to replace all MPI_Irecv (along with MPI_Issend and MPI_Isend) calls's tag arguments with (myrank + i + 100 * iter) % MPI_TAG_UB in adio/ad_lustre/ad_lustre_wrcoll.c and adio/common/ad_read_coll.c.

Then I changed the modulus value from MPI_TAG_UB to 1024. The same issue happens. The Lustre setting is stripe count 4 and size 1M.

However, if I tune the Lustre stripe size to 16MB and count

[2021-11-06 07:08] wkliao commented on #5648
I just realized the right way to get the value of `MPI_TAG_UB` is through a call to
`MPI_Comm_get_attr()`. For example,
[code]
Then use `tag_ub` in MPI_Irecv, MPI_Issend, etc.
[code]

[2021-11-06 15:28] wkliao commented on #5648
In #3471 , `MPI_Isend` is replaced with `MPI_Issend` which limits the number
of pending send requests to one round of two-phase I/O, i.e. `nprocs`, the
number of processes. Thus we can safely change the tag to the sender's
rank `i` for MPI_Irecv and `my_rank` for MPI_Issend.
[code]

[2021-11-06 15:47] wkliao commented on #5648
The test program [bigtype.c](https://github.com/pmodels/mpich/blob/main/test/mpi/io/bigtype.c) writes 2 GIB in a single write call. When Lustre stripe size is 1 MiB and you only ran one process, the number of two-phase rounds is 2000, which makes (100 * 2000), bigger than the MPICH's limit, 131071.

[2021-11-07 01:30] hzhou commented on #5648
#3471 is already merged (behind github), right? Does that mean we can safely change tag to the `rank` now? Also, do we even need set tag to the rank since different ranks are from a different sources and they won't be mismatched any way?

[2021-11-07 03:48] wkliao commented on #5648
MPI_ANY_TAG should do just fine.

[2021-11-07 09:18] QiaoK commented on #5648
By limiting the tag size, the test can pass. The problem is indeed caused by the overflow of tag values with thousands of rounds of collective loops.

[2021-11-08 13:01] raffenet commented on #5648
FWIW, MPI sets a minimum tag upper bound of 32k. If the tag value doesn't go over that, it should be portable to any implementation.

[2021-11-08 16:41] koomie opened #5653 "slurm nodelist fail"
It looks like support for simple hostnames was dropped in newer v3.4 releases.  The new error message suggests to try with the `slurm_nodelist_parse.c` standalone utility and report failures.  Here is what I see with v3.4.2 using a simple example derived from a slurm environment with hostnames (c1,c2,c3,...):

[code]

[2021-11-08 21:42] hzhou commented on #5653
Thanks for reporting!

[2021-11-09 16:36] hzhou commented on #5557
Close due to lack of response.

[2021-11-09 16:36] #5557 closed

[2021-11-09 16:47] hzhou commented on #5191
@roblatham00 This ticket is fixed by https://github.com/pmodels/mpich/pull/5184, right?

[2021-11-09 17:33] hzhou commented on #5643
@Yiltan Any update?

[2021-11-09 22:54] roblatham00 commented on #5191
indeed.  great!  closing

[2021-11-09 22:54] #5191 closed

[2021-11-10 02:02] koomie commented on #5653
Thanks for the quick fix. I can confirm the patch from #5657 resolves job launch issues observed with slurm.

[2021-11-10 07:31] dalcinl opened #5661 "MPI_Neighbor_alltoallw() with MPI_BOTTOM"
I recently added some test to mpi4py that involve using `MPI_Neighbor_alltoallw()` and `MPI_BOTTOM`. I basically pass `MPI_BOTTOM` in the send/recv buffer arguments, and I pass the base address plus offset via the displacement array.

With current `mpich/main` (configure with `--enable-fast=none --enable-g=all`) I'm getting the following failures:

[code]

Looking at MPICH source code, looks like

[2021-11-10 14:52] hzhou commented on #5661
We'll discuss this use case. But I think it should be allowed since MPI let users use `MPI_BOTTOM` in the first place.

[2021-11-10 15:09] hzhou commented on #5661
@dalcinl Can you check if #5663 fixes the issue?

[2021-11-10 15:09] dalcinl commented on #5661
For your reference, this [MPI tutorial form HLRS](https://www.hlrs.de/about-us/media-publications/teaching-and-training-material/MPI-course-material/) has example code using `MPI_Neighbor_alltoallw()` exactly in the way I described.
In fact, I added support for this in mpi4py (mpi4py/mpi4py#137) to properly support the Python implementation of these tutorial examples.

@RolfRabenseifner FYI.

[2021-11-10 15:14] dalcinl commented on #5661
I see what you are doing, but prima facie, I 'm not sure I like it. Anyway, I'll test it and report back to you.

[2021-11-10 15:35] dalcinl commented on #5661
@hzhou Wouldn't it be better to embed the `disp == 0` logics within the `MPIR_ERRTEST_USERBUFFER()` macro by passing an additional `disp` argument to it? For now, you could keep the `disp == 0` logic to decide whether to perform or not the actual check, but in the future it could be extended to properly to the absolute address out of buf, disp, lb(datatype). This change will require to change the

[2021-11-10 15:45] hzhou commented on #5661
The point of `MPIR_ERRTEST_USERBUFFER` is only to catch the common case that user accidentally passes `NULL` to `buf`. To allow `MPI_BOTTOM`, we are only checking the case when `buf == 0 && true_lb == 0 && disp == 0`. Having `buf + disp + true_lb == 0` but one of them non zero is not a common error and it is not our intention to catch it early -- it will segfault down the path.

[2021-11-10 19:54] #5564 closed

[2021-11-11 00:13] #5661 closed

[2021-11-11 17:36] hzhou commented on #5638
A narrowed-down reproduce:
[code]
If we omite the smaller counts, the bug doesn't reproduce.

[2021-11-11 18:09] hzhou commented on #5638
Just tried the latest ucx master (commit 68fa8ee661deafc826716a72be88d629e5f41f38) and the test passed. Looking through the log, it is not clear which patch fixed it, but there were a few patches touching the am rndv path.

[2021-11-14 14:22] albestro opened #5674 "Shared libraries not built if no fortran compiler is available"
I'm building `mpich~fortran`, i.e. without fortran support, using spack on macOS with `apple-clang`.

I decided to report here the issue because I think it is not related in any way to spack.  At first I thought the problem was related to disabling fortran support, but investigating a bit more I feel the problem is in the configure process of mpich itself.

I configured spack to get two different

[2021-11-14 19:31] hzhou commented on #5674
[code]
This is suspicious. I don't the autotool handles `None` well. @albestro Do you the output from `make`?

[2021-11-14 20:58] albestro commented on #5674
Here it is the build output for the toolchain without the fortran compiler set. [4vs4lt3 spack-build-03-build-out.txt](https://github.com/pmodels/mpich/files/7534572/spack-build-03-build-out.txt)

I'm not sure what you mean with your comment; what you report is what spack sees, but then the build environment is arranged according to that configuration, but it does not mean that the fortran compile

[2021-11-14 21:20] hzhou commented on #5674
In the `config.log` I see
[code]
It appears that spack is setting the fortran compiler to some non-functional dummy. Mpich should abort Fortran checking right there, but somehow didn't, then the logic goes into the weeds.

A correct spack formula should pass option `--disable-fortran` when Fortran compiler is not available, but the config logic in MPICH should also be improved.

[2021-11-14 21:28] albestro commented on #5674
Yes, exactly! It is what I meant in my previous comment: spack compiler wrapper acts as an existing compiler on the filesystem (because it can be executed), but as result it just prints out the error message
[code]

It already does. Here it is the configuration parameters for that build.

`
--disable-silent-rules --enable-shared --with-hwloc-prefix=/Users/ialberto/spack/opt/spack/darwin-bigsur-sky

[2021-11-14 21:32] hzhou commented on #5674
I see. We need fix that.

[2021-11-14 21:50] hzhou commented on #5674
@albestro I just tried on my linux machine with hoaxing a `gfortran` using current `main` branch, and it builds and installed the shared library. I'll try the older release see if I can reproduce it.

[2021-11-14 21:59] hzhou commented on #5674
`3.4.2` also builds fine for me, need to look more into it.

[2021-11-14 22:27] hzhou commented on #5674
The suspicious line from config.log:
[code]
Somehow the same linker `/Library/Developer/CommandLineTools/usr/bin/ld` returns `no` for this check, but in my testing it returned `yes`.

[2021-11-15 10:54] albestro commented on #5674
Thanks for the support @hzhou!

I think that it is a good idea to completely skip the check for fortran as you proposed in PR #5675.

Trying to give you useful information, I did another test by running the configure script in and out the spack build environment. In both cases a `gfortran` executable is available, but just in the latter one it is an actual fortran compiler.

Unfortunately, I was n

[2021-11-15 16:17] Yiltan commented on #5643
Sorry for the slow response. I seem to have the same issue with the master branch. On other systems, things seem to work fine.

[2021-11-15 16:39] hzhou commented on #5643
@Yiltan Does `nvcc -ccbin gcc testfile.cu` works for compiling cuda kernels?

[2021-11-15 19:53] raffenet opened #5679 "jenkins: ch3 sometimes fails io/i_hindexed"
This failure occurred on 3.4.x (847a4ced82e6d340d51f719beb7a405dffb77451) with the ch3 stable special tests. The configuration was `--enable-debuginfo`, but that is unlikely the cause of the failure. We should investigate with `main` and `4.0.x` to see if it can be reproduced. Error output pasted below.

[code]

[2021-11-15 21:16] #5648 closed

[2021-11-15 23:19] #5643 closed

[2021-11-15 23:19] Yiltan commented on #5643
As suspected there were some enviroment isssues. I have solved it now

[2021-11-16 03:54] hzhou opened #5680 "errorchecking: MPI_Type_create_struct need check MPI_DATATYPE_NULL"
`MPI_Type_create_struct` currently skips checking `MPI_DATATYPE_NULL` in the types array, resulting cryptic errors during `MPI_Type_commit` (due to user using a fortran datatype when fortran was disabled). This is reported over discuss mailinglist:

[code]

[2021-11-16 19:36] #5680 closed

[2021-11-17 03:44] hzhou commented on #4374
These are external global variable linkage issues. `libmpifort.dylib` and `libpmpi.dylib` each contains e.g. `MPIR_C_MPI_UNWEIGHTED` and it is not resolved (or resolved wrong) during dynamic linking.

[2021-11-17 03:59] hzhou commented on #4374
Currently
[code]
If we swap the order into `-lmpi -lpmpi -lmpifort`, the test passes

[2021-11-18 11:51] dalcinl opened #5684 "Possible bug in MPI_Type_create_struct on i386/i686"
This is a follow up of mpi4py/mpi4py#105.

I believe there is a bug on `MPI_Type_create_struct` for a C struct with the following layout `struct s {char a; long double b; char c;};` (on i386, `long double` has size 12 but alignment is 4, so `sizeof(struct s)` is 20). Creating a corresponding MPI struct datatype, you get a datatype with different extent than `sizeof(struct s)`.

I tried my struct e

[2021-11-18 14:52] hzhou commented on #5684
Thanks @dalcinl for posting the ticket. I was setting up 32-bit CI for mpi4py and got interrupted (due to need a step from system to set up 32-bit CI for `mpi4py`). We'll follow up.

[2021-11-18 18:03] drew-parsons commented on #5684
For me the symptom shows up in the mpi4py tests,
[code]
Let me know if there's any code tests or patches you'd like me to run.

[2021-11-18 18:46] hzhou commented on #5684
We ran the mpi4py tests on 32-bit linux. With ch3, we get:
[code]
I guess we need install numpy for that test?

With ch4, it is interrupted by an assertion:
[code]
This is being addressed in https://github.com/pmodels/mpich/pull/5686.

We'll check it again once we resolve them.

[2021-11-19 04:57] dalcinl commented on #5684
Yes, please. Installing NumPy will enable more tests. If you are using system Python, just use the system pkg manager to install numpy.

[2021-11-19 06:17] #5674 closed

[2021-11-19 17:26] balay opened #5687 "misc: warnings on MPI_STATUS_IGNORE etc with gcc-11.2.1"
I'm not sure if this is a compiler issue - or code isse [occurs with mpich - but not openmpi]

This is a 32bit build with `gcc (GCC) 11.2.1 20210728 (Red Hat 11.2.1-1)` on Fedora 35

[code]

I see mpi.h has:
[code]
Changing this '0' gets rid of the warning (openmpi uses this) [same issue with 'MPI_STATUS_IGNORE']
[code]

[code]

[2021-11-19 20:39] balay opened #5688 "mpich-4.0b1 build error in 32bit mode.."
Attempting a 32bit build on Fedora 35 with `gcc (GCC) 11.2.1 20210728 (Red Hat 11.2.1-1)`

[code]
And get:
[code]
CFLAGS isn't getting passed down to hwloc?

[config.log](https://github.com/pmodels/mpich/files/7572805/config.log)
[make.log](https://github.com/pmodels/mpich/files/7572806/make.log)

[2021-11-19 21:00] balay commented on #5688
Switching to the following gets the build going.
[code]
But then:
[code]

[2021-11-20 16:23] balay commented on #5687
Ah - I see this with regular 64bit builds aswell..

[2021-11-22 16:59] hzhou commented on #5687
While many compiler warnings are helpful, I hate to be forced to add the complexity of workarounds just to appease the dumb part of the compiler. :disappointed:

I see a few solutions:
1. Silence the warning with `-Wno-stringop-overflow`. Not really a solution.
2. Define the constants to `0`. It's only a fix because compiler made this an exception. It cornered us to not able to add additional cons

[2021-11-22 17:02] balay commented on #5687
Right now - I'm using `-Wno-stringop-overflow` [as I'd like to use '-Werror' to catch issues in CI]

[2021-11-22 17:05] hzhou commented on #5687
@raffenet What do you think regarding https://github.com/pmodels/mpich/issues/5687#issuecomment-975729787?

[2021-11-22 18:15] raffenet commented on #5687
Unfortunately we're hamstrung by ABI with these values for now. We should definitely add them to the ABI wishlist.

If we do decide to change ABI, I think using `0` or `NULL` (solution 2) is OK. I guess an advantage to using a dummy struct (solution 3) is that we could throw and error on `NULL` usage, since that is not allowed by the specification.

[2021-11-22 18:21] raffenet commented on #5687
Added a bullet onto the ABI wiki: https://github.com/pmodels/mpich/wiki/ABI-Change-Wishlist

[2021-11-22 18:37] hzhou commented on #5687
Good point that this is an ABI change, and at least for now, keeping it backward compatible is probably more significant than fixing a warning. That leaves option 1. I guess we can add `-Wno-stringop-overflow` to `configure` and add a note in README to advise application to do the same if they desire to use `-Werror`.

In fact, the more I look at this, the more I convinced this is a `gcc` regressi

[2021-11-23 03:57] hzhou commented on #5684
I tested under ubuntu-18.04-i386 under `qemu`, need manually install `cython` to build `mpi4py`. With `ch3`, got this error:
[code]
But after skipping this test, the rest of the tests all passed, including `testStruct4`.

[2021-11-23 11:49] dalcinl commented on #5684
I ran my tests on Debian 11 i686 (VM in Gnome Boxes). Perhaps different MPICH version? Reminder: I used system MPICH installed with `apt`. Did you install NumPy?

In any case, there is no need to install mpi4py to test for the issue. Just create a struct datatype corresponding to `struct s {char a; long double b; char c;}`, and check that the datatype extent matches `sizeof(struct s)`.

[2021-11-23 17:08] hzhou commented on #5684
Looks like both current main branch is fine with both `ch3` and `ch4`. I'll check at which point we fixed it.

[2021-11-23 21:46] dalcinl commented on #5684
Perhaps it was #5144?

[2021-11-23 21:48] hzhou commented on #5684
Plausible. Treating alignment the same as type size will certainly fail the test you mentioned.

[2021-11-23 21:56] dalcinl commented on #5684
And that would explain the datatype extent being `24`.

@drew-parsons Looks like the issue is already fixed in `mpich/master`. Any chance you could try MPICH from a git checkout? Right now I do not have convenient access to my hardware and VMs at home.

[2021-11-23 21:59] hzhou commented on #5684
FYI we have released mpich `4.0b1` https://www.mpich.org/downloads/

[2021-11-23 22:21] raffenet opened #5694 "Improve support for `mpi_minimum_memory_alignment` info hint"
The way MPICH currently implements `mpi_minimum_memory_alignment` is to take the requested alignment from the user and add it to the size of the allocation, then manually align after the fact. In MPL, we have `MPL_aligned_alloc` which uses an alignment aware allocator (e.g. `posix_memalign`) and will fail if the requested allocation cannot be granted. This should be straightforward to integrate to

[2021-11-23 22:24] raffenet commented on #5694
Edited the description to reflect the fact that MPICH currently manually aligns the allocation for the user. So the request is honored, but potentially at the cost of extra memory allocation.

[2021-11-24 12:35] drew-parsons commented on #5684
Thanks guys. Will need some days to get on to it, but will test the patch or new release.

[2021-11-26 15:41] roblatham00 opened #5697 "mpl: openbsd does not know about AI_V4MAPPED"
Building on OpenBSD-7 and I get a compile-time error:

[code]

and it's true there is no mention of AI_V4MAPPED in the openbsd man page

[2021-11-26 16:09] roblatham00 opened #5698 "ch3: no `pthread_mutexattr_setpshared` on openbsd"
more openbsd porting!   OpenBSD pthread does not have mutexattr_setpshared so we get the below warning at compile time and then a link failure

[code]

[2021-11-26 23:53] eschnett opened #5700 "Segfault in MPI_Reduce"
I encounter a weird segfault in `MPI_Reduce`. This is reproducible with a simple code:

[code]

I believe this code is correct. The two noteworthy items are (1) the root is not process 0, and (2) the receive buffer pointer is null on non-root processes.

When I build this on macOS with MPICH 3.4.2 installed via Homebrew or via MacPorts, and then run with more than 1 process, the code segfaults in

[2021-11-27 04:18] hzhou commented on #5700
@eschnett Is it possible to get a backtrace?

[2021-11-27 17:36] eschnett commented on #5700
It's difficult since `mpiexec` doesn't propagate `ulimit` settings, so I don't know how to get a core file. I have added a delay after startup and attached two debuggers to the running processes. Here are the respective stack traces (running with 2 processes):

The failing process (rank 0):
[code]

The other process (rank 1):
[code]

As I mentioned, I couldn't reproduce the problem when building M

[2021-11-27 17:47] hzhou commented on #5700
@eschnett Thanks for the backtrace. I believe this bug was fixed in https://github.com/pmodels/mpich/pull/5409/commits/10cb9c99a9720795f5e6d5af5cfc15b3ac237bd2
The latest release 4.0b1 contains that fix. The stable release of 4.0 will come out in a few weeks.

[2021-11-29 04:43] hzhou commented on #5688
Indeed. Our negligence. Fix coming up. Now let me check https://github.com/pmodels/mpich/issues/5688#issuecomment-974468662

[2021-11-29 05:39] hzhou commented on #5688
I am not reproducing this error. @balay Do you encounter similar error with 64-bit build?

[2021-11-29 06:39] balay commented on #5688
Hm - [I don't have my prior builds] - so did a rebuild - and can't reproduce this [with either 32bit or 64bit]. So don't know what went wrong with my previous build.

And I don't see `PMPI_Delete_error_code` type symbols - but see `PMPIX_**`..

[code]

[2021-11-29 14:45] hzhou commented on #5688
I suspect it was due to the interruption of configure due to https://github.com/pmodels/mpich/issues/5688#issue-1058900326, but not sure how it happened. We'll ignore this until it resurfaces :)

[2021-11-29 16:45] hzhou commented on #5694
How do we deal with the case when `MPL_aligned_alloc` fails due to both `aligned_alloc` and `posix_memalign` being unavailable?

[2021-11-29 16:52] hzhou commented on #5687
@raffenet I am tempted to label this issue as `won't fix`. It is just warning annoyances. I am also convinced this is really a compiler regression issue. Your opinion?

[2021-11-29 16:57] raffenet commented on #5694
We could fallback to `malloc` and manual alignment like we have now. In fact, we could put that fallback code in MPL. But we would have to do some work to also make it work for device allocations as the current ch4 code does. Its not as straightforward as I originally assumed 😞.

[2021-11-29 17:04] hzhou commented on #5694
We have to manage the pointer in order to use the fallback manual alignment. The current `MPL_free` is just `free` without memory tracing options, so it won't work generally. Currently `MPL_aligned_alloc` isn't being used anywhere probably due to this fallback concern. Since we currently only needed in `MPI_Alloc_mem`, I think it is better to keep the code as now rather than complicate with the de

[2021-11-29 17:29] raffenet commented on #5687
I agree. My only question is do we submit feedback to the GCC folks?

[2021-11-29 17:33] hzhou commented on #5687
It will be nice to do that. @travisk1154 Are you interested in submitting the ticket to GCC?

[2021-11-29 17:38] hzhou commented on #5694
@travisk1154 Could you take care of this issue? Here is what need to be done: refactor `MPID_Alloc_mem` in
https://github.com/pmodels/mpich/blob/main/src/mpid/ch4/src/ch4_init.c#L601 to --
[code]

[2021-11-29 19:26] raffenet commented on #5679
After I reported this, I manually ran in the same configuration many thousands of times and wasn't able to reproduce the issue. I think it's safe to close this until it pops up again.

[2021-11-29 19:26] #5679 closed

[2021-11-29 22:40] #5697 closed

[2021-11-29 22:48] #5698 closed

[2021-11-30 21:24] travisk1154 commented on #5687
Sure thing!

[2021-12-06 06:11] simonbyrne opened #5716 "MPIX_Query_cuda_support triggers assertion error"
Calling `MPIX_Query_cuda_support()`  on a Mac triggers an assertion error:
[code]
Seen in both the homebrew version, and the Julia BinaryBuilder-built one

[2021-12-06 15:04] hzhou commented on #5716
Did you call `MPIX_Query_cuda_support()` after `MPI_Init`?

[2021-12-06 16:59] simonbyrne commented on #5716
Apologies, I was incorrect: the homebrew one is fine, it only affects the Julia BinaryBuilder one. I have opened an issue there (https://github.com/JuliaPackaging/Yggdrasil/issues/4039), but if you have any suggestions for what to look for, the build script is here:
https://github.com/JuliaPackaging/Yggdrasil/blob/a6ad87971cc8bc11de301cc3e53cb8bfb4d5bcfb/M/MPICH/build_tarballs.jl

[2021-12-06 21:28] simonbyrne commented on #5716
Actually, I think the issue is that it is built with debug enabled, which enables assertions: there is an assertion on the error code returned by `PMPIX_GPU_query_support`:
https://github.com/pmodels/mpich/blob/4e5ce994675370015145f50f4eff5efc3a2e5aa8/src/binding/c/misc_api.txt#L173-L174
i.e. it is asserting a non-zero return value, but `MPI_SUCCESS == 0`. Should this be changed to
[code]
?

[2021-12-06 21:36] hzhou commented on #5716
You are absolutely correct!

[2021-12-06 21:38] wesbland opened #5719 "Support Application Compile-time Selection of Integer Size"
I recently heard from an ALCF user that there might be some use cases where someone would want to be able to select the size of a Fortran 90 `integer` type at application compile time (as opposed to MPICH compile time, which is easier).

Apparently this is a feature that Intel MPI supports by passing `-i8` to `mpif90`. However, I think the solution used there won't work in today's MPICH anymore be

[2021-12-06 21:54] hzhou commented on #5719
Note that MPICH can be built with either default INTEGER size 4 or INTEGER size 8 by setting appropriate compiler flags. However, this require the built mpich binary be consistent with the user binary, i.e. with the same integer sizes. A easy solution is to build both versions, then use a compiler wrapper to pick the correct one at compile time -- I suspect this is the solution taken by Intel Suit

[2021-12-08 21:45] #5716 closed

[2021-12-15 13:16] jeffhammond opened #5727 "use -fallow-argument-mismatch automatically when necessary"
I think MPI Fortran bindings require this behavior, so if MPICH configure detects that it is necessary, why not just automatically set the flags, rather than fail and force the user to do it.  Given the user has no option in this case, why bother asking?

[code]

[2021-12-15 13:22] jeffhammond commented on #5719
While this is user-friendly and I understand it's generous of Intel MPI to do it, it teaches Fortran programmers to do bad things.

Real Fortran experts like Bill Long will tell you that `-i8` and similar are abominations and never shouldn't have been supported.  If somebody wants an `INTEGER*8` (or more correctly, an `INTEGER(KIND=INT64)`), they should use that.

Using the MPI F08 module with MPI

[2021-12-15 16:14] hzhou commented on #5727
Hopefully https://github.com/pmodels/mpich/pull/5685 will obviate the need of this flag.

[2021-12-16 17:10] hzhou commented on #4374
@raffenet The correct link order is to link the higher-layer library before lower one. Since `libmpifort.so` is on top of `libmpi.so`, so `-lmpifort -lmpi -lpmpi` is the correct order.

The reversing order is really a hack and not supposed to be guaranteed to work.

[2021-12-16 17:13] raffenet commented on #4374
OK, got it. I agree the reverse order is not something we should use.

[2021-12-16 17:32] SteveO-Cray commented on #5719
I forwarded this discussion to Bill Long and he sent back this comment which might be of interest:

I think when Bill said:

I think he was saying the same could be done for the F90 "use mpi" module.

[2021-12-16 17:40] hzhou commented on #5719
I don't disagree 😄 But it's quite a chore. If enough people are interested in this, it can be more motivated.

[2021-12-16 18:34] giordano commented on #5716
Am I correct to say this isn't fixed in the just released v3.4.3?  In the [`v3.4.3`](https://github.com/pmodels/mpich/tree/v3.4.3) tag I still see
https://github.com/pmodels/mpich/blob/7aeecca034b145d82a35f9f3cad20534e792ac6c/src/mpi/misc/gpu.c#L90

[2021-12-16 18:39] raffenet commented on #5716
Correct, it is not fixed in 3.4.3. The fix will be part of a soon to be released 4.0rc1 (and new releases). Apologies for the delay.

[2021-12-21 00:08] SteveO-Cray commented on #5719
Sorry - should have said that I'm not advocating changes, just making you aware of a possible avenue if you decide to work on this area.  Bill, on the other hand, would advocate making the changes, but then he's the Fortran guy ... 😄

[2021-12-21 12:53] ryancaicse opened #5735 "misc: resource leak problems"
`fclose(fileh_std) ` should be put before Line 83?
https://github.com/pmodels/mpich/blob/94b1cd6f060cafbf68d6d83ea551a8bcc8fcecd4/src/mpi/romio/test/external32.c#L89-L98

[2021-12-21 12:55] ryancaicse commented on #5735
Also, it seems `fclose(fp)` is missing in the method `MPIE_ReadMachines`.
https://github.com/pmodels/mpich/blob/94b1cd6f060cafbf68d6d83ea551a8bcc8fcecd4/src/pm/util/rm.c#L244-L254

[2021-12-21 15:38] raffenet opened #5736 "jenkins: 32-bit compile failure with sanitizers + F08 binding"
Using our Jenkins Singularity container w/ GCC 9.1.0.

[code]

[2021-12-21 15:39] raffenet commented on #5736
This is in 4.0.x branch. `main` seems to compile fine.

[2021-12-21 15:44] raffenet opened #5737 "jenkins: ch4:ofi segfault with PGI compilers + huge pt2pt tests"
This appears to be an issue in `main` as well as `4.0.x`. The failure looks like it was introduced between 10/31/21 and 11/7/21.

[code]

[2021-12-21 15:54] raffenet opened #5738 "jenkins: SIGBUS on FreeBSD64 strict build"
Occurs with both GCC and Clang compilers on 4.0.x branch. `main` doesn't test this configuration, so unclear if the problem exists there, too.

[code]

[2021-12-21 16:06] hzhou commented on #5736
Is there a `diff` of `maint/local_python/binding_f08.py` between `4.0.x` and `main`?

[2021-12-21 16:12] raffenet commented on #5736
Nope, doesn't appear to be.

raffenet@mcswl036:main/ (main*) $ git diff origin/4.0.x maint/local_python/binding_f08.py
raffenet@mcswl036:main/ (main*) $

[2021-12-21 16:13] hzhou commented on #5737
[code]

[2021-12-21 16:23] hzhou commented on #5736
Do you have the link to the failing Jenkins job?

[2021-12-21 16:27] raffenet commented on #5736
https://pmrs-jenkins.cels.anl.gov/view/mpich-stable-nightly/job/mpich-stable-sanitizers/

[2021-12-21 16:39] hzhou commented on #5736
Is this for 3.4.x or 4.0.x? From this https://pmrs-jenkins.cels.anl.gov/view/mpich-stable-nightly/job/mpich-stable-sanitizers/compiler=gnu,jenkins_configure=asan,label=centos32,netmod=ch4-ofi/lastSuccessfulBuild/artifact/mpich-stable/c.txt
[code]
It is still doing embedded hwloc configure, which we have separated in 4.0.x.

[2021-12-21 16:48] raffenet commented on #5736
That's from the last successful build, which is 3.4.3. Check the artifacts from a failed build and it should report 4.0b1 version.

[2021-12-21 16:49] raffenet commented on #5737
Looks to be introduced in #5634 from quick manual testing.

[2021-12-21 16:50] hzhou commented on #5736
Right :face_with_spiral_eyes:

[2021-12-21 17:01] hzhou commented on #5736
In config.status:
[code]
`fint-size` was missing. Need figure out why...

[2021-12-21 17:10] hzhou commented on #5736
It is missing this commit https://github.com/pmodels/mpich/pull/5676/commits/6fc06471cd870a74b0b293f2fc53bf50ec408bb1

[2021-12-21 18:10] raffenet commented on #5736
Thanks, I'll pick it up for the next PR.

[2021-12-21 18:55] hzhou commented on #5738
Let me add the `strict` test to `main` as well.

[2021-12-21 19:35] raffenet commented on #5738
Hm, ok. I'll see if upgrading the external version on those nodes to match the embedded one makes the issue go away.

[2021-12-21 20:41] raffenet commented on #5735
The file is opened in line 89. It looks OK to me. How are you detecting the leak?

[2021-12-21 20:50] raffenet commented on #5736
Fix included with #5732.

[2021-12-21 20:50] #5736 closed

[2021-12-21 21:08] natshineman opened #5739 "Error in Intel MPI 1.0 Benchmarks with libgfortran.so.4"
When running the IntelMPITEST-1.0 benchmarks (which are very old and tough to find, please let me know if you need a copy) the MPI_Get_elements_basic_type/node test fails when compiled with versions of gfortran that link to a version of libgfortran.so less than 5. For instance gcc 7.3.0 which links to libgfortran.so.4. When built with libgfortran.so.5 (ie gcc 8.3.0) the benchmark passes normally.

[2021-12-21 21:57] hzhou commented on #5739
[code]
Without seeing the code, the culprit might be why we are receiving a 0-sized message here.

[2021-12-21 21:58] hzhou commented on #5735
It leaks when it returns on line 93 due to an unexpected eof

[2021-12-21 22:01] raffenet commented on #5735
Ah, OK. That makes more sense.

[2021-12-22 00:23] natshineman commented on #5739
Here is the benchmark:
[code]

[2021-12-22 03:05] ryancaicse commented on #5735
Yes, I made a typo. Thank you very much.

[2021-12-22 15:27] hzhou commented on #5739
@natshineman Is there an info level that you can set to dump more debug messages?

[2021-12-22 16:04] hzhou commented on #5739
Never mind. I downloaded the intel test suite. I'll take a look.

[2021-12-22 19:36] hzhou commented on #5739
I tried with both gfortran-7 and gfortran-9 with current main branch. Both had a bunch of warnings for `lib/libmpitestf.F` but both passed the tests fine.

@natshineman Which mpich version did you test with? Just to remove the obvious -- you build mpich and the tests with the same `gfortran`, right? Mix the gfortran version probably won't work.

[2022-01-03 14:14] natshineman commented on #5739
Hi @hzhou, sorry for the delay here. Yes, I did build both mpich and the tests with the same version of gfortran. I used the latest release version, 3.4.3.

[2022-01-04 02:46] raffenet opened #5744 "compile issue with gcc 11.2.0"
As reported to discuss@mpich.org. Platform from report is macOS 12.1 (Monterey), M1 silicon. MPICH version 3.4.3.
[code]

[2022-01-04 18:03] raffenet commented on #5744
This was fixed in 4.0.x and up by ec1c2bb8bf56bb7471fc537c527d8d8dffeec471.

[2022-01-04 18:03] #5744 closed

[2022-01-04 20:23] raffenet commented on #5738
Confirmed this is fixed with the right external libfabric library.

[2022-01-04 20:23] #5738 closed

[2022-01-05 01:06] lindsayad commented on #5688
I am getting identical undefined references to what @balay experienced
[code]
Here is some more information
[code]
I initially  had a configure that terminated due to not passing `-fallow-argument-mismatch` to `FCFLAGS`. However, given @balay 's experience I made sure to reconfigure from a fresh build directory, but the undefined references still persist

[2022-01-05 16:15] raffenet commented on #5737
It may be due to the static CQ buffer list. Using only the dynamic list does not cause a segfault.

[2022-01-05 16:30] raffenet commented on #5688
@lindsayad thanks for the the report. What OS are you building on?

[2022-01-05 16:38] raffenet commented on #5688
Oh, duh. It says Ubuntu right there. We'll take a look...

[2022-01-05 19:12] raffenet commented on #5737
This might just be a compiler bug. This patch resolves the issue locally for me, but it should not be functionally different.
[code]
IMO, if AddressSanitizer can't find an issue with this then we shouldn't worry about it. I'll see if there's an upgrade available, otherwise I'll put in an xfail.

[2022-01-05 19:19] raffenet commented on #5688
@lindsayad just to confirm, are you also building on 32-bit?

[2022-01-05 19:59] lindsayad commented on #5688
Sorry I should have made it clear... I am not. I'd be happy to open a new ticket. I am also happy to send the config.log although I'll need to regenerate it since I nuked that build directory when I chose to rebuild with 3.4.2

[2022-01-05 20:50] raffenet commented on #5688
`config.log` would be helpful. Let's start with that and decide if a new ticket is warranted. Please also confirm the git hash or tarball you are building from.

[2022-01-05 20:59] hzhou commented on #5688
Ah, I think I know the culprit, `load_mpix_txt()` in `maint/local_python/mpi_api.py` failed to consider out-of-tree builds. Let me make a patch...

[2022-01-06 13:38] #5688 closed

[2022-01-06 16:27] raffenet commented on #5737
New compiler does not reproduce the error. Jenkins scripts should automatically pick it up from the new default hpc_sdk module. Closing.

[2022-01-06 16:27] #5737 closed

[2022-01-06 16:30] hzhou commented on #5739
MPICH 3.4.3 worked fine for me --
[code]

[2022-01-06 17:06] hzhou commented on #5700
@eschnett Can you check or confirm that the issue is fixed in the latest release?

[2022-01-06 17:22] hzhou commented on #5694
@raffenet Revisiting this issue and I think I am leaning toward closing it without changing the current code. Since we need to support multiple `buf_type`, we'll need to maintain the hash lookups for each memory we allocate. Since we already have this hash lookup of metadata, using `MPL_aligned_alloc` does not save much complexity -- in fact, it adds complexity since we still need worry about the

[2022-01-06 17:44] #5735 closed

[2022-01-06 23:01] hzhou commented on #5687
Apparently `gcc` now is making a difference between
[code]
and
[code]

[2022-01-06 23:49] hzhou opened #5750 "jenkins/bug: ch3 nemesis atomic rma on freebsd64"
Here is the strange symptom: The first window we create works as expected. When we free that window and create another one, atomic operations start to break as if the interprocess mutex is not working. If we create new window without freeing the old ones, it still works.

test:mpich/ch3/tcp ❌
test:mpich/ch4/ofi ✔️

With ch3-tcp:
5 failures on freebsd64:
[code]

When freebsd frees a window and recr

[2022-01-07 15:36] hzhou commented on #5687
@balay Could you verify the patch in #5749 resolves the issue?

[2022-01-07 16:31] raffenet commented on #5737
Interestingly, one of these tests failed in a new way in a multi-VCI configuration last night in the stable tests. Perhaps there is some underlying issue that is hard to detect.
https://pmrs-jenkins.cels.anl.gov/view/mpich-stable-nightly/job/mpich-stable-special-tests/compiler=gnu,jenkins_configure=fast,label=centos64,netmod=ch4-ofi-vci/28/testReport/junit/(root)/summary_junit_xml/_____threads_pt2

[2022-01-07 16:34] hzhou commented on #5737
The multi-vci thread tests always suffer from the lock monopoly issue and the TIMEOUT may be sporadic.

[2022-01-07 16:57] hzhou commented on #5750
On freebsd64, `sizeof(MPIDI_CH3I_SHM_MUTEX)` is `8`. That looks like a pointer. Allocating a pointer on a shared memory most likely will not work as an inter-process mutex. I wonder how the first window worked 😕

[2022-01-07 17:04] hzhou commented on #5750
The pointer issue was referenced here -- https://lists.freebsd.org/pipermail/freebsd-threads/2009-March/004513.html. I wonder whether it has been resolved.

Potentially, they resolved it by a hack that only works the first time.

[2022-01-07 17:17] hzhou commented on #5750
So one solution is to implement freebsd mutex using the lower-layer primititive umtx directly: https://www.freebsd.org/cgi/man.cgi?query=_umtx_op&sektion=2&n=1

[2022-01-07 17:17] balay commented on #5687
@hzhou Thanks! I've tried manual edit to mpi.h [with this change] - and that works!

[2022-01-07 17:58] #5687 closed

[2022-01-10 19:42] raffenet commented on #5694
I'm OK with closing it. I underestimated how much the current code was doing when I wrote the issue, so it's probably not worth the trouble.

[2022-01-10 19:42] #5694 closed

[2022-01-12 15:37] edric-e commented on #4853
Hi, just wanted to say: I'd love to see this feature implemented, we would definitely take advantage of it immediately. (Right now, we have to work around this by manually wrapping our application in "mpiexec" - this is rather awkward).

[2022-01-12 15:46] hzhou commented on #4853
Acknowledged. I have some code to make this work -- #5162. We'll try to merge it next.

[2022-01-12 22:55] #4853 closed

[2022-01-12 23:02] #5750 closed

[2022-01-14 08:28] ReyRen opened #5762 "MPI_Send:MPID_nem_tcp_connpoll(1845): Communication error with rank 1: Connection refused"
## Describe

The code I used is [tutorials/mpi-send-and-receive/send_recv.c.](https://github.com/mpitutorial/mpitutorial/blob/gh-pages/tutorials/mpi-send-and-receive/code/send_recv.c) But All I get is:
[code]
host_file and ssh for passwordless all done.

I commented all of MPI_Send(), and MPI_Recv(), and my program worked. In other hand, I commented either MPI_Send() or MPI_Recv(), and I still got

[2022-01-14 13:55] gcorbin commented on #4170
@pedro-ricardo: Have you submitted the bug to GCC yet?

[2022-01-14 17:28] hzhou commented on #5762
The output does not match the provided test. For example, the message "recv and send from processor node3, rank 0 out of 4 processors" is not from the given source code.

[2022-01-16 15:15] pedro-ricardo commented on #4170
Hello @gcorbin, No I did not.

[2022-01-16 20:50] pgrete commented on #4815
I tried to follow the instructions on the wiki but didn't get it working (trying both the commit mentioned on the wiki as well as current `main`).
The error I get is:
[code]

As far as I can tell this is different from the errors reported so far. Shall I open a new issue or keep it here (as the issue title still fits).

[2022-01-17 02:17] ReyRen commented on #5762
Yes,it is. This source code ran executed by a python script, which is [tutorials/run.py](https://github.com/mpitutorial/mpitutorial/blob/gh-pages/tutorials/run.py).

thanks anyway, is there any clue can help me explain this error?

[2022-01-17 14:22] IgorBaratta opened #5764 "Duplicating an existing neighbor communicator fails"
The error is caused by a failing assertion in  https://github.com/pmodels/mpich/blob/3.4.x/src/mpi/topo/topoutil.c#L93
Tested with mpich 3.3.2 and 3.4.2.

MWE (2 MPI processes):
[code]

[code]

[code]

[2022-01-17 14:37] hzhou commented on #5764
This bug has been fixed in https://github.com/pmodels/mpich/pull/5629

[2022-01-17 15:03] hzhou commented on #5762
Please try --
[code]

[2022-01-17 15:09] #5764 closed

[2022-01-17 15:19] hzhou commented on #5739
@natshineman As my previous comment, I couldn't reproduce the issue. Could you try it again, preferably build mpich fresh with gcc-7 and gfortran-7, and confirm the issue?

[2022-01-18 01:53] ReyRen commented on #5762
**root@node4:~/mpiLab/mpi-send-and-receive# mpirun -n 2 ./send_recv**
[code]
**root@node4:~/mpiLab/mpi-send-and-receive# mpirun -n 2 -f ../host_file ./send_recv**
[code]
**root@node4:~/mpiLab/mpi-send-and-receive# cat ../host_file**
[code]

[2022-01-18 03:02] hzhou commented on #5762
Is there a firewall between node3 and node4?

[2022-01-18 03:14] ReyRen commented on #5762
No. I commented all of MPI_Send(), and MPI_Recv(), and my program worked. In other hand, I commented either MPI_Send() or MPI_Recv(), and I still got that error.

[2022-01-18 03:14] ReyRen commented on #5762
No. I commented all of MPI_Send(), and MPI_Recv(), and my program worked. In other hand, I commented either MPI_Send() or MPI_Recv(), and I still got that error.

[2022-01-18 03:22] hzhou commented on #5762
If you don't do communication, the process doesn't need connect to each other. The error message says that the process is not able to establish connections. You can use `MPIR_CVAR_CH3_PORT_RANGE` to control the port process use to make connections: https://wiki.mpich.org/mpich/index.php/Frequently_Asked_Questions#Q:_How_do_I_control_which_ports_MPICH_uses.3F

[2022-01-18 06:07] hzhou commented on #3833
It is tricky to make `dist` target work since we use intermediate variables, e.g. `mpi_core_sources`, which include generated code that should not be distributed. In any case, the `release.pl` script should serve the purpose. Closing this issue now.

[2022-01-18 06:07] #3833 closed

[2022-01-18 06:59] ReyRen commented on #5762
I tried, the error still there. I don't thinks this is a port usable problem.

I catch that. The error is because the hostname I specified in `host_file`  also exist in `/etc/hosts` with "127.0.0.1/127.0.1.1 node3/node4" . So, they would communicate with themselves when they try connecting with others.

Thanks hzhou, I will close this one.

[2022-01-18 06:59] #5762 closed

[2022-01-18 16:25] hzhou commented on #4170
Minimum reproducer:
`t.f90`:
[code]
`cdesc.c`:
[code]
Run with:
[code]

Results:
[code]

[2022-01-18 16:49] hzhou commented on #4815
@pgrete Which mpich version were you testing?

[2022-01-18 16:54] hzhou commented on #4170
Reported to GCC bugzilla: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=104100

[2022-01-18 17:08] hzhou commented on #4170
For users who encounter this issue, try allocate your arrays with explicit lower bound and upper bound as a work around

[2022-01-18 17:17] #3289 closed

[2022-01-18 18:32] haampie opened #5768 "configure fails when combining clang and gfortran"
I tried to compile mpich 3.4.2 with clang for C / C++ and gfortran for Fortran.

In some of the Fortran tests (e.g. checking Fortran integer size) a Fortran function calls a C function. The linker fails with

I managed to reduce it to the following MWE:

conftest.c
[code]

conftest.f
[code]

[code]

It does work when the optimization flags are dropped, or when only gcc/gfortran are used (instead o

[2022-01-18 21:16] #4787 closed

[2022-01-18 22:40] hzhou commented on #4170
It will be fixed in the upcoming gcc-12.0 according to the reply in the above bugzilla report.

[2022-01-18 22:40] #4170 closed

[2022-01-19 02:09] ericch1 opened #5772 "romio: MPI_File_open error with specified filesystem is not available"
Hi,

Our nightly tests were ok on Jan 7 with commit a92ce59da2d429664570779d1e693288bd40e40f .
But on Jan 8, we compiled with commit ea9b0c7e61602eecd08b6ca9953077beb173485a

and now we have a lot of errors like this one:
[code]
issued by a `MPI_File_open`

everything is fine with mpich-3.2.1 and OpenMPI-3.x, OpenMPI-4.x and OpenMPI-5.x

Just saw the commit f77d6f71b902410ba99e9c01dd003f5afba7f0c0

[2022-01-19 05:05] hzhou commented on #1670
Rather than create extra integer group, I am leaning toward combining all integer type into a single INTEGER group. Individual datatypes are wrapped with `MPIR_OP_TYPE_MACRO_HAVE_...` macros anyway so there is really no need to differentiate between `C_INTEGER` and `FORTRAN_INTEGER`.

Anyway, this is at most some cosmetic clean up. Close for now.

[2022-01-19 05:05] #1670 closed

[2022-01-19 05:20] hzhou commented on #2254
This is obsolete by #5696. We no longer support `--without-bindings` option. The new binding script that generates the binding sources are fairly fast, which makes this option less useful.

[2022-01-19 05:20] #2254 closed

[2022-01-19 05:39] hzhou commented on #2659
Actually, the current `mpi_f08` binding only supplies the `C_PTR` interface. We'll need a `MPIR_F08_C_PTR_2_AINT` C routine to provide the AINT interface. This is doable.

[2022-01-19 05:41] hzhou commented on #2988
We no longer require libxml2 in embedded hwloc and we no longer use Fortran compiler link libmpi.so.

[2022-01-19 05:41] #2988 closed

[2022-01-19 06:00] hzhou commented on #4417
I am linking this issue with PR#5771, as I tested there with `f18` compiler, and it works fine. The issue is probably fixed earlier.

[2022-01-19 15:10] hzhou commented on #1908
I closed #3833 on the base that `maint/release.pl` replaces the need fore `dist` target, and it is duplicate to this ticket. On a second thought, since the `dist` target is well recognized, it would be nice to do that same job as `release.pl`, thus making our release process more canonical. I am not sure whether that is feasible. Let's leave this issue open while we give it a try.

[2022-01-19 16:04] hzhou commented on #4417
The compilation produces both `mpi_constants.mod` and `mpi_constants.f18.mod`. It appears `f18` need the latter but loaded the former. Is there any specific flag to instruct it?

[2022-01-19 16:18] hzhou commented on #4417
I am marking this issue as `wontfix` since it appears to me an issue on the `f18` side -- it can't consistently create `.mod` and load them. I am tested this with LLVM-13.0 release tag.
@coti @eugeneswalker @naromero77 Do you think there is something we should do on the MPICH side?

[2022-01-19 17:21] ericch1 commented on #5772
I am on Suse Leap 15.3.

The MPI_File_open call is made on a file into a encrypted partition on a local disk (no NFS here).

I have 428 failures on 1555 tests.  So some tests are able to open the files, other not...

I am investigating by hand 2 tests (let's say A and B):

A)
  i. If I launch with `mpiexec -n 1` the test is ok!
  ii. I launched with `mpiexec -n 2 valgrind ...` but discovered only

[2022-01-19 17:40] hzhou commented on #2346
This is fixed by PR #5629. Duplicated issue #5764

[2022-01-19 17:40] #2346 closed

[2022-01-19 17:43] hzhou opened #5774 "maint: produce testsuite tarball with release.pl"
Now that testsuite can be used independently, we should release separate tarballs just as we did for hydra.

[2022-01-19 17:45] hzhou commented on #2314
Reference the new issue #5774.

Make dist will not work (or it's too much hassle to make it work).

[2022-01-19 18:27] hzhou opened #5775 "ch4: MPI_Cancel stalls MPI_Wait"
Reported on discuss mailinglist:

Hi,

Running one of our test programs using MPICH 3.4.3 and ch4:ofi, I notice that MPI_Wait on an MPI_Request that has been MPI_Cancelled never completes (it does when using ch3). (The documentation for MPI_Cancel states "If a communication is marked for cancellation, then a MPI_WAIT call for that communication is guaranteed to return, irrespective of the activiti

[2022-01-19 18:53] raffenet commented on #5774
The `make dist` is supposed to work for the testsuite. It should be simple enough to add it to the release script. It's actually on the release wiki checklist to verify that it works, but I don't know if it has always been strictly followed.

[2022-01-19 19:02] hzhou commented on #5774
Maintaining the `dist` target is quite a burden as we constantly adding scripts and tests. On the other hand, build the tarball in release.pl is very simple. I am amending PR #5773 to cover this issue.

[2022-01-19 19:22] hzhou commented on #1833
@dalcinl Hi Lisandro, can you confirm whether this is still an issue with mpich?

[2022-01-19 19:47] dalcinl commented on #1833
@hzhou I just run a quick test on macOS with MPICH 3.4.3 from Homebrew, and the issue is gone.  Calling (blocking) neighbor collectives on `MPI_COMM_SELF` does not segfault but errors the proper MPI way. I believe you can close this issue.

[2022-01-19 19:48] #1833 closed

[2022-01-19 19:56] roblatham00 commented on #5772
In my modifications I made a `romio_statfs` routine to hide all the many different ways operating systems do `stat`.    I would look at that routine -- the output value `file_id` should be a file system "magic value"  like the ones enumerated in https://github.com/pmodels/mpich/blob/main/src/mpi/romio/adio/common/ad_fstype.c#L73  or `UNKNOWN_SUPER_MAGIC` which should tell ROMIO "i could not find a

[2022-01-19 19:58] roblatham00 commented on #5772
It sounds from your description (fails on output file) that I need to look more closely at the "check parent dir if given file is not found" logic  (https://github.com/pmodels/mpich/blob/main/src/mpi/romio/adio/common/ad_fstype.c#L401)

[2022-01-19 21:16] ericch1 commented on #5772
Hmm, talking of "parent dir" reminds me that since a long time ago, we got an issue with `MPI_File_open` with very long paths... since then we always call `chdir` before any call to `MPI_File_open`... and the switch back to the pwd with `chdir` (the ticket was in 2014: https://github.com/pmodels/mpich/issues/2212)...

[2022-01-19 23:58] hzhou commented on #2130
@roblatham00 IBM never manage to give us the test code for the last 5 years? Do we still have contact with the original team or should we just close this ticket?

[2022-01-20 00:02] hzhou commented on #2159
We no longer provide libmpichxxx.so links. I am closing this issue now. If there is application that need those targets, re-open the ticket and we'll address it.

[2022-01-20 00:02] #2159 closed

[2022-01-20 00:04] hzhou commented on #2175
Singleton init has been added via #5162

[2022-01-20 00:04] #2175 closed

[2022-01-20 00:09] hzhou commented on #2191
Libpthread is linked via dependency when dynamic linking libmpi.so, and it should be included internally if built statically. If user code uses pthread, it should explicitly add `-lpthread` themselves since we can't assume every application that link to us need pthread (what we internally use is irrelevant).

[2022-01-20 00:09] #2191 closed

[2022-01-20 01:43] hzhou commented on #2195
As the code today, `mpl` configure will define `HAVE_BROKEN_VALGRIND` which will result in not including valgrind headers in `src/mpl/include/mpl_valgrind.h`. This is not the same as doing nothing.

In any regard, I don't think it is worth the effort to maintain this as a debugging convenience. I don't think kind of valgrind hacking is common these days.

Close for now. Reopen if there are still i

[2022-01-20 01:43] #2195 closed

[2022-01-20 01:51] hzhou commented on #2205
Just tested with `ch3:nemesis` today, and client went through MPI_Finalize without hanging.

[2022-01-20 02:02] ericch1 commented on #5772
ok, just tried a very simple example on my system and it just fail at "MPI_File_open" call with the compiled mpich/master...

See file attached...

[fo.txt](https://github.com/pmodels/mpich/files/7901695/fo.txt)

If I source mpich/master compiled/configured as above:
[code]
with older mpich 3.3.2:
[code]

[2022-01-20 03:42] hzhou commented on #2205
With `ch4:ofi`, we have the usual issue of `MPI_Send` doing inject but the message never get out until some progress, resulting Server waiting for the client to wait up before receiving the initial message. But otherwise, no hanging.

Since we no longer exhibit the initial issue, closing this ticket.

[2022-01-20 03:42] #2205 closed

[2022-01-20 15:14] roblatham00 commented on #5772
that's a wonderfully simple test case.   Of course it prints 'Success' for me and not an error.

Can you run `stat -f` on this directory?  for example on my laptop I see

[code]
or on my worksatation I see
[code]

both of which seem to handle your case just fine

[2022-01-20 15:28] ericch1 commented on #5772
Here I have:
[code]

[2022-01-20 15:31] ericch1 commented on #5772
It works on NFS:
[code]

[2022-01-20 19:17] roblatham00 commented on #5772
hah!  thank you that must be the key.  'xfs' is a special case:  a file system that might contain XFS-specific optimizations (some work our SGI friends contributed ...back when SGI was a thing) but should normally be treated like a regular posix file system.

OK, i can patch this up thanks for the information!

[2022-01-20 20:29] hzhou commented on #2142
I am consolidating multiple tests, including `rma/fetch_and_op`, into a single test with command line parameters in https://github.com/pmodels/mpich/pull/5725.

[2022-01-20 22:05] roblatham00 commented on #5772
give https://github.com/pmodels/mpich/pull/5781 a shot .  I'm running it through the integration tests now.

[2022-01-21 03:10] hzhou commented on #2326
We no longer do this check. The similar check should be covered by ABI tests.

[2022-01-21 03:10] #2326 closed

[2022-01-21 03:15] hzhou commented on #4445
We haven't seen these failures. The current ch3 centos-32 nightly tests are clean. The reported failures maybe incidental. Closing the issue.

[2022-01-21 03:15] #4445 closed

[2022-01-21 03:17] hzhou commented on #3434
This is more of a refactoring idea than an issue. Close for now.

[2022-01-21 03:17] #3434 closed

[2022-01-21 04:24] hzhou commented on #4548
According to this comment https://github.com/pmodels/mpich/pull/5645#issuecomment-995039127, the likely reason for slow is the MPI_Init time. PR https://github.com/pmodels/mpich/pull/5725 should address this issue.

[2022-01-21 04:24] #4548 closed

[2022-01-21 17:05] hzhou commented on #2659
PR #5784 will fix for the `mpi_f08` module. However, this ticket was referring to the `mpi` module. That will wait after #5685.

[2022-01-21 18:17] hzhou commented on #5739
Close due to lack of response and non-reproducibilty. @natshineman Feel free to reopen if necessary.

[2022-01-21 18:17] #5739 closed

[2022-01-21 18:18] VictorEijkhout opened #5786 "Sessions info thread level"
Somewhere in my private notes I have that there is an info key “mpi_thread_level_support” for MPI_Session_init.

However, the standard document (September 17 2021) says “thread_level”.

But the rc3 accepts the former, not the latter.

Where does the truth lie?

The only mention I could find of the longer name is issue 332 in the forum.

[2022-01-21 18:21] hzhou commented on #5786
@VictorEijkhout The truth always lies in the standard document. Thanks for reporting. We'll fix it.

[2022-01-21 20:19] raffenet opened #5788 "supporting Fortran coarrays"
This issue comes from an email discussion with some Fortran compiler devs. There exists today support in Intel MPI to enable Fortran coarrays. The Fortran runtime does some additional handshake with MPI to support the STOPPED IMAGES and FAILED IMAGES features. Here are some of the handshake/query details.
[code]
The actual information here is probably provided by Hydra via `PMI_Get`, if I had to g

[2022-01-22 13:08] ericch1 commented on #5772
It is now working for the little test shared with you.  :)

I now test our whole test suite and will comme back in a few hours...

Thanks a lot!

[2022-01-22 19:57] ericch1 commented on #5772
@roblatham00 all of tests are ok now with your fix, thanks a lot! :)

http://www.giref.ulaval.ca/~cmpgiref/dernier_mpich/2022.01.22.07h42m08s_config.log
http://www.giref.ulaval.ca/~cmpgiref/dernier_mpich/2022.01.22.07h42m08s_config.system
http://www.giref.ulaval.ca/~cmpgiref/dernier_mpich/2022.01.22.07h42m08s_mpich_version.txt
http://www.giref.ulaval.ca/~cmpgiref/dernier_mpich/2022.01.22.07h42m08s

[2022-01-24 02:03] hzhou commented on #1679
This bug was fixed with https://github.com/pmodels/mpich/commit/7811a43f8eaf6296584779d89c189de7f2f6af61. The comment calls the fix temporary, which is why this ticket is still open. However, the fix is fine. It is only a hygiene preference at this point. Since ch3 is in maintenance mode, there is no motivation to fix it unless it is broken. Closing this issue now.

[2022-01-24 02:03] #1679 closed

[2022-01-24 20:11] balay opened #5791 "mpich-4.0 static build failure on macos"
[code]
[config.log](https://github.com/pmodels/mpich/files/7928568/config.log)

[2022-01-24 21:35] #5772 closed

[2022-01-24 21:41] roblatham00 commented on #2130
At this point I'd say it's a lost effort.  I don't think we know anyone at IBM any longer.    #2126 has a significant chunk of the test case.

[2022-01-24 21:44] balay opened #5793 "mpich-4.0 option to disable F08"
I have a box with python2 [but not python3]. And I get the following error:

[code]

Release notes has:
[code]
I see the relevant configure options is:
[code]

Perhaps there should be a way to say ` --enable-fortran=f90` for `f03` so that `f08` interface  build and requirements can skipped?

[2022-01-24 21:48] hzhou commented on #2130
Ok, I am closing this issue. There is no benefit have lost cause hanging :)

[2022-01-24 21:48] #2130 closed

[2022-01-24 22:49] hzhou commented on #5793
Use `--enable-fortran=f90` to disable `f08` is not obvious to an unfamiliar user. How about we add a separate `--enable-f08` option so users can disable f08 specifically?

[2022-01-25 02:46] #4374 closed

[2022-01-25 02:53] #5786 closed

[2022-01-25 02:57] raffenet commented on #5793
Does that even work? We used to control the fortran bindings individually, but I believe all that was removed for a simple yes/no w/ detection.

[2022-01-25 03:06] hzhou commented on #5793
I am in the process of PR #5794, which become a bigger than expected clean-up, and we'll see if works :)

The simplified scheme:
   * By default, enable every fortran interface, and run checks to disable f08 if compiler missing support
   * All fortran options is to let user selectively disable features
       * --disable-fortran: disable everything fortran, no fortran compiler needed
          ot

[2022-01-25 03:07] raffenet commented on #5793
We should try to match the options that were removed in this commit e9b1a32566703e729d37530e1617d53764c1c100.

[2022-01-25 03:12] hzhou commented on #5793
Previously `--enable-fortran={yes,all,f90}` means the same, and `--enable-fortran=f77` means only build `mpif.h`.

[2022-01-25 15:43] hzhou commented on #2258
Both Solaris and osx nightly tests have been clean especially the ch3 jobs. I believe the issue no longer exist. Close now.

[2022-01-25 15:43] #2258 closed, assigned to nobody

[2022-01-25 15:48] hzhou commented on #2436
@balay Could reconfirm this issue with MPICH 4.0?

[2022-01-25 17:12] balay commented on #2436
Sorry - I'm unable to build build mpich-4.0 to test - due to https://github.com/pmodels/mpich/issues/5791

[2022-01-25 17:21] hzhou commented on #2436
Of course. https://github.com/pmodels/mpich/pull/5795 should fix it. Maybe you can try that patch?

[2022-01-25 17:26] hzhou commented on #3903
@MrSmile It appears this is the issue with your test case. Could you confirm? Should we close this issue?

[2022-01-25 17:46] VictorEijkhout opened #5797 "how do I obtain submodules such as hwloc?"
I'm trying to build from a git clone. I get from `autogen.sh`:

[code]

Directory `modules/hwloc` is empty. I assume I need to do some recursive clone? I could use a hint.

[2022-01-25 17:47] hzhou commented on #5797
`git submodule update --init`

[2022-01-25 18:02] #5797 closed

[2022-01-25 18:09] balay commented on #2436
Can you point me to instructions to build MPICH from git? Or do you a patch that I can apply to relase tarball?

[2022-01-25 18:29] hzhou commented on #2436
https://patch-diff.githubusercontent.com/raw/pmodels/mpich/pull/5795.patch should give you the patch. I think it should apply cleanly to the 4.0 tarball. You may need manually delete the meta data at the beginning of the patch file.

[2022-01-25 19:05] balay commented on #2436
Thanks! I still get build errors:
[code]

[2022-01-25 19:08] hzhou commented on #2436
Thanks! I'll investigate it. However, this is a different error (albeit the same linking error) from the original ticket.

[2022-01-25 20:15] MrSmile commented on #3903
Yes, random offsets are not supported by the standard (but some implementations do work in that case), so my test was wrong.

[2022-01-25 20:15] #3903 closed

[2022-01-25 21:42] hzhou commented on #2436
@balay Add `-fno-common` should fix all this static linking issue. Fundamentally I believe it is either broken `clang`, or broken `ar`, or broken `ld` on osX. I'll see if we can easily detect this issue in configure.

[2022-01-25 21:51] hzhou commented on #2436
A quick test shows both `gcc` on linux and `clang` on mac produce common symbols, so that is not fundamentally broken. It must be `ranlib` or the linker then.

[2022-01-25 22:36] balay commented on #2436
yeah - we [petsc] use `ranlib -c` on mac

[2022-01-25 22:37] hzhou commented on #2436
Do you patch libtool? Or maybe you guys don't use libtool at all?

[2022-01-25 22:39] hzhou commented on #2436
Well, this ticket has been open for 5 years. There was an early comment that MPICH patch individual global symbols to avoid common symobles, a very hacky fix.

[2022-01-25 22:43] balay commented on #2436
We don't use libtool. Our configure is in python - and does a check for 'ranlib -c' before using it.

Ah yes. this issue was previously confined to MPI-IO usage. Now it breaks at build time.

[2022-01-25 23:34] balay commented on #2436
This also worked.

[2022-01-26 01:19] hzhou commented on #1590
Thanks for the comment. I believe in mpich-4.0, we no longer need those hacks. I'll verify and update.

[2022-01-26 16:08] #1908 closed, assigned to hzhou

[2022-01-26 16:08] #2210 closed

[2022-01-26 16:08] #2314 closed, assigned to nobody

[2022-01-26 16:08] #5774 closed

[2022-01-26 21:38] VictorEijkhout opened #5805 "MPI_Comm_compare fails with world/session commworld if single process"
The attached code works fine on more than one process, but with 1 process:
[code]
[mix.zip](https://github.com/pmodels/mpich/files/7945748/mix.zip)

[2022-01-27 04:18] hzhou commented on #5805
Thanks. PR #5806 should fix this.

By the way, are you sure we are allowed to mix communicators from a session with world model? I believe the intention for session is to provide isolation. I.e. the code within a session is not supposed to interact with objects from another session or world model. Although our current implementation took a shortcut and does not enforce this isolation, future imple

[2022-01-27 08:38] VictorEijkhout commented on #5805
On , 2022Jan26, at 22:18, Hui Zhou ***@***.******@***.***>> wrote:

are you sure we are allowed to mix communicators from a session with world model?

Good question. The standard says that multiple sessions, or the world model and session model, may b active at the same time, but also that “MPI objects derive from the Sessions Model shall not be intermixed in a single MPI procedure call with MPI o

[2022-01-27 16:32] dpuleri opened #5808 "Duplicate symbol linker error with versions >3.3.2"
With newer versions of mpich (>3.3.2) on macOS, such as 4.0, I get linker errors that look like the following:

[code]

My colleagues who use older versions of mpich (e.g., 3.3.2) do not run into the linker error compiling the same code. Additionally, the code compiles under openMPI and under different compilers on other x86 and POWER9 systems.

My compiler configuration when using `mpixx -show` s

[2022-01-27 16:50] hzhou commented on #5808
Try `--enable-two-level-namespace` when configuring mpich. Or try delete the `-Wl,-flat_namespace` from the installed `mpixx` scripts.

Reference issue: https://github.com/pmodels/mpich/issues/5530

`-Wl,-flat_namespace` is used so another Fortran dynamic library that uses MPI can have consistent MPI constants resolution. Unfortunately, this also has the side effects of sometimes users wanting to

[2022-01-27 17:52] dpuleri commented on #5808
Thanks for the help and the references to those previous issues!

I deleted `-Wl,-flat_namespace` from the installed `mpicc` and `mpicxx` scripts on my machine, but that didn't seem to resolve the issue. Would it be best if I reinstalled mpich using the two-level namespace option? I originally installed from homebrew so I am not sure if I will need to build form source to enable that option.

[2022-01-27 17:56] hzhou commented on #5808
[code]

Re-reading your issue, I realize maybe this is different since apparently you are doing static linking. Is `lib.a` one of your own static library? Is it Fortran library or C library?

[2022-01-27 18:38] dpuleri commented on #5808
Yes, `lib.a` is our own static library primarily in C which we link up to our main code that is primarily in C++. There is no Fortran linked in or in the main code.

[2022-01-27 19:16] jirikraus opened #5810 "Avoid creating CUDA resources during MPI_Init"
Currently MPICH creates GPU specific CUDA resources during `MPI_Init`. A consequence of this is that it is necessary to select the GPU to be used by an MPI rank before `MPI_Init` is called. In case GPU affinity is not handled external to the MPI program, e.g. by a launcher setting `CUDA_VISIBLE_DEVICES`, programs need to rely on `getenv` and non standard environment variables to determine informat

[2022-01-27 19:58] hzhou commented on #5808
How is `_abs_integer` defined?

[2022-01-27 20:23] lindsayad commented on #5768
I just hit this exact issue 👍

[2022-01-27 22:32] dpuleri commented on #5808
Okay, I think I figured it out.

`_abs_integer` comes from an inline function in a C header file which is properly guarded and included in multiple C source files within our C library which we link in to the rest of our C++ code.

Looking again at output for `mpicc -show`, I saw that `-fgnu89-inline` is there for mpich 4.0.

[code]

I tried deleting that compiler option and once I delete that from

[2022-01-27 22:35] hzhou commented on #5808
I see. I guess we enabled that as default optimization since our code's performance is significant depending on inlining. However, that CFLAGS shouldn't leaked the `mpicc` wrappers. We'll patch it. Thanks for the digging!

[2022-01-27 22:36] dpuleri commented on #5808
No problem, thank you for your patience when discussing.

[2022-01-27 23:24] hzhou commented on #5808
@dpuleri Actually I can't locate where `-fgnu89-inline` and `-wno-deprecated` flags were added. How did you configure mpich? What are your `CC` and `CFLAGS` variables?

[2022-01-27 23:28] #2436 closed

[2022-01-27 23:28] #5791 closed

[2022-01-27 23:37] hzhou commented on #5775
Just tested with the latest `main` branch:
[code]

[2022-01-28 00:02] #2946 closed

[2022-01-28 02:07] dpuleri commented on #5808
@hzhou. I also searched the repo here and couldn't find references to `-fgnu89-inline`. I installed mpich through homebrew on macos using the [current formula](https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/mpich.rb).

I'm not sure who maintains the formula for homebrew, but now I see that it's in that formula at [line 73](https://github.com/Homebrew/homebrew-core/blob/c12a1c4fed7c931

[2022-01-28 02:08] hzhou commented on #5808
That makes sense. Thanks for tracing it down.

[2022-01-28 13:22] mathrack opened #5811 "Error message when the Fortran compiler needs -fallow-argument-mismatch"
https://github.com/pmodels/mpich/blob/9d9d208011b7714daf9ef680f015bb18ff3aa5b6/configure.ac#L1995

It might be helpful to replace `Rerun configure with FCFLAGS=$addarg` with `Rerun configure with FFLAGS=$addarg and FCFLAGS=$addarg`

[2022-01-28 13:49] pszi1ard commented on #5810
A related use-case specific to GROMACS: during device detection prior to assigning a devices MPI ranks, device and rimtune sanity checks are carried out which implicitly create a context. This is later destroyed to avoid issues when the GPUs are in process-exclusive mode. As the hardware detection happens after `MPI_Init()`, this will conflict with the resource allocation of the MPI runtime. A laz

[2022-01-28 13:57] raffenet commented on #5810
Looking at the yaksa code some more, I am assuming not only the stream creation needs to be delayed, but also any calls to `cudaDeviceEnablePeerAccess`. Is this correct? If so, does that call allocate resources on just the current device? Or does it also involve some creation on the peer device?

[2022-01-28 14:51] hzhou commented on #5811
MPICH now only need `FC` and `FCFLAGS`. Both `F77` and `FFLAGS` are ignored. Did you encounter issues? What version of MPICH did you try?

[2022-01-28 14:59] mathrack commented on #5811
I was compiling the last release of mpich-4.0 with gcc-11.2.0 :
[code]
This leads to
[code]
Using
[code]
does not produce any error

[2022-01-28 15:35] hzhou commented on #5811
I see. That error is from configuring the test suite. The main branch detached the test suite from the main mpich configure, so it wouldn't be an issue anymore.

@raffenet We probably should patch the error message in the 4.0.x branch since the `FFLAGS` still matters there in the test/mpi/configure.

[2022-01-28 16:40] dpuleri commented on #5808
Would you all mind if I submitted a pull request to homebrew to remove `-fgnu89-inline` and `-wno-deprecated` from the build configuration?

[2022-01-28 16:41] hzhou commented on #5808
Not at all. I am curious why they added the flags in the first place.

[2022-01-28 17:07] raffenet commented on #5811
Will add it to the list of 4.0.x fixes needed.

[2022-01-28 18:27] dpuleri commented on #5808
Perfect, thanks again! I'll close the issue here.

[2022-01-28 18:27] #5808 closed

[2022-01-28 21:48] raffenet opened #5814 "pmi2: Fix spawn support"
Our Jenkins scripts add `--disable-spawn` when configured to use `--with-pmi=pmi2/simple`. When run by hand, several of the tests in the test/mpi/spawn directory are failing.

[2022-01-29 10:20] carlocab commented on #5808
Those flags were actually added in https://github.com/Homebrew/homebrew-core/commit/4147fa2734ee1aaae7fc3fff73a4eec832471333#diff-149934847c28be6d1b8561b848f1defe5f1d725f788493a8ca0d5f6e4fdb8b1a -- my understanding at the time was this was needed to compile MPICH on ARM macOS.

Either I was mistaken or they're no longer necessary with the newer GCC. Thanks for the fix, @dpuleri.

[2022-01-30 05:36] hzhou opened #5815 "ch4/ofi: better error handling in MPI_Comm_{accept,connect}"
In `MPIDI_OFI_dynamic_send` and `MPIDI_OFI_dynamic_recv`, when error happens, we should try cancel the send or recv. Otherwise, we may leave or accumulated unclosed handle in libfabric.

Separately, when both functions time out, we should return proper error code rather than just `MPI_ERR_PORT`.

[2022-02-01 21:42] hzhou commented on #5775
I labeled this issue as `wontfix` since `MPI_Cancel` on send is deprecated in the standard. However, on second read, I see this real issue is when we try `MPI_Cancel` an `ssend`, we failed to cancel the pending receive for the ack. While the support for the canceling sends will remain limited, I think it is possible to make this issue behave a bit better.

I'll try to come up with a fix.

[2022-02-02 00:01] hzhou commented on #5775
I am putting back the `wontfix` label. While it may be possible to fix the behavior, the fix will be very messy due to current `ch4`'s design. I am closing this issue for the following reasons:

* Cancelling send is deprecated in MPI-4
* The potential fix will be very messy
* On the other hand, it is probably easier to work around in application

If there is strong argument for supporting the fix,

[2022-02-02 00:01] #5775 closed

[2022-02-02 04:02] #3334 closed

[2022-02-02 04:02] #5768 closed

[2022-02-02 04:06] hzhou commented on #5700
Lack of response. Assume it is fixed. Close now.

[2022-02-02 04:06] #5700 closed

[2022-02-02 17:52] raffenet opened #5821 "doc: manpages showing wrong function signature"
Example from MPICH 4.0 HTML docs https://www.mpich.org/static/docs/latest/www3/MPI_Send.html:
[code]

[2022-02-02 17:58] hzhou commented on #5821
I can do a quick patch. But really, I think we should generate the man pages separately. Mixing it with code is really not providing us any benefit.

[2022-02-04 18:23] #2342 closed

[2022-02-04 19:19] #5805 closed

[2022-02-04 19:21] hzhou commented on #5811
This is fixed in the 4.0.x stable branch via PR #5820

[2022-02-04 23:44] #4812 closed

[2022-02-04 23:49] hzhou opened #5827 "testsuite: configure modifies f90/profile/profile1f90.f90"
PR https://github.com/pmodels/mpich/pull/5685 solves the f90 profile tests by substituting distributed source code. That is not ideal since it will break when users run configure multiple times with different environments.

Refer to comments (and its following discussions): https://github.com/pmodels/mpich/pull/5685#discussion_r791188949

[2022-02-04 23:52] hzhou commented on #5827
One potential solution is for script `f77tof90` generate `.f90.in` files, then in configure we use `sed` to generate `.f90` files from `.in` files.

[2022-02-05 14:18] hzhou opened #5829 "qmpi: failed to build in mpich-4.0"
From discuss mailinglist:

Hi Mpich team,

I see the following issue with the latest 4.0 release of MPICH while adding QMPI support at configure time?

make[2]: Entering directory `/scratch1/05231/aruhela/libs/mpich/tar-mpich-4.0'
  CC       src/binding/c/attr/lib_libmpi_la-attr_delete.lo
src/binding/c/attr/attr_delete.c(63): error: attributes are not permitted in a function definition
  int QMPI_

[2022-02-07 15:49] #5829 closed

[2022-02-07 15:54] #5821 closed

[2022-02-07 16:01] #2194 closed

[2022-02-07 22:28] raffenet opened #5835 "MPI_Comm_spawn in Slurm environment"
Originated from user email https://lists.mpich.org/pipermail/discuss/2022-January/006360.html.

~1. MPICH + Hydra + PMI1 (crashes)~ Fixed in #5838
~2. MPICH + Hydra + PMI2 (works but ignores "hosts" info key)~ Fixed in #5849.
3. MPICH + srun + PMI2 (crashes)

[2022-02-08 00:59] Dave-Allured opened #5836 "4.0: Did not detect mismatched length or operator"
I am trying to make a simple MPICH install on a 6-core Mac Pro running OSX 10.15.7.  This is for single-machine development, in preparation for a cluster deployment elsewhere.  I chose version 4.0 because the advertising sounded good.  Configure, make, and make install all seemed okay.  Make testing had a few failures.

Here are a few summary excerpts from **make testing**.  I have also attached a

[2022-02-08 01:14] Dave-Allured commented on #5836
Oh, this might be relevant, although I would guess it is only a coincidence.  My selected compiler was Apple clang version 12.0.0 by default.  I had to use these configure flags to fix some compile errors.

Other than a non-default prefix, these were the only special customizations that I used.  Everything else was a "default" install of MPICH.

[2022-02-08 05:08] hzhou commented on #5836
The collective length tests are known failures. These tests try to detect user errors due to inconsistent collective usage. The MPI standard does not require implementations to detect usage errors, thus we do not consider them as bugs. The tests are added to test this feature, but it is incomplete yet. We probably should disable these implementation-specific tests by default.

This has been tracke

[2022-02-08 14:17] #5793 closed

[2022-02-08 15:55] Dave-Allured commented on #5836
@hzhou, thank you for the quick reply.  I should have tried harder to find these failures on Github.  Rather than disabling these tests, I suggest adding a log file comment line for each of these 11 tests, that simply informs the user that these are expected possible failures.

Knowing this, it looks like my install of MPICH 4.0 on OSX 10.15.7 is successful.

[2022-02-08 15:55] #5836 closed

[2022-02-08 19:48] raffenet commented on #5835
More details:

  Crashes during `MPIDU_Init_shm_init();` in the spawned root process.

    PMI2 Spawn is not supported. Both of these configurations will call `MPIR_Assert(0);` in src/util/mpir_pmi.c.

[2022-02-09 14:57] phil-blain opened #5841 "testsuite: missing include/mtest_mpix.h"
Hi !

I'm not sure if this is actually a bug or "working as designed", but I thought I'd mention it.

I cloned the MPICH repository to run the test suite against Intel MPI. I then followed these steps:
[code]

The compilation of test programs then fails because of a missing `include/mtest_mpix.h`.

I then went and read https://wiki.mpich.org/mpich/index.php/Getting_And_Building_MPICH, ran the top-

[2022-02-09 17:32] phil-blain commented on #5841
Thanks for the quick response! :)

[2022-02-09 23:01] #4300 closed

[2022-02-09 23:01] #5727 closed

[2022-02-09 23:07] #5841 closed

[2022-02-10 22:27] hzhou commented on #5841
Hi Philippe, `configure` will detect the supported mpi versions and set `MPI_VERSION` and `MPI_SUBVERSION` in the config header, and the tests use new API is supposed to guard with the version macros. Apparently, we didn't do a good job keeping consistent this practice. Please file separate issues and we will fix them.

[2022-02-14 15:03] hzhou commented on #2022
Just tested it with the current `main` branch, and it seems the issue no longer exist. @jedbrown Would you like to confirm before we close this issue?

[2022-02-14 15:20] hzhou commented on #1627
From linux man page:
[code]

I am not sure what we are supposed to do here. I am closing this ticket. Reopen with a specific test case.

[2022-02-14 15:20] #1627 closed

[2022-02-14 15:28] #2095 closed

[2022-02-14 18:00] jedbrown commented on #2022
I still see it with mpich-4.0. Please use my script as written. Pavan's comment above changed to have the script launch one background job and one foreground. My script is meant to be launched in the background, with both lines blocking inside the script.
[code]
Here, I press enter when it's hung after printing `Linux`.
[code]
This works with Open MPI:
[code]

[2022-02-14 18:08] hzhou commented on #2022
I see. I managed to reproduce it on the Centos system. I was running it on my local ubuntu, which seems to work fine. Okay, I'll investigate.

[2022-02-16 23:00] hzhou commented on #2308
I believe this issue has been fixed by https://github.com/pmodels/mpich/pull/5838. I confirmed with `mpich-4.0` the test hangs. With latest `main`:
[code]

[2022-02-16 23:00] #2308 closed

[2022-02-17 13:19] dalcinl opened #5854 "[mpi4py] RMA tests failing on macOS 10.15"
mpi4py RMA tests are failing on macOS 10.15 (Catalina) in GitHub Actions hosted builders [[log]](https://github.com/mpi4py/mpi4py/runs/5232286551?check_suite_focus=true#step:12:1123).

I'm also seeing failures on macOS 10.15  Azure Pipelines [[log]](https://dev.azure.com/mpi4py/mpi4py/_build/results?buildId=544&view=logs&j=a0083e77-3230-5b23-fc54-ed42accf898e&t=2c61ff11-aff9-5464-2e07-a91e258ee0af

[2022-02-17 21:36] hzhou commented on #5835
Attach the console output

[2022-02-17 21:58] dalcinl commented on #5854
No, I'm not, I was just pointing out that I'm not in a position to try to reproduce the issue locally.
I still have to run the test on macOS Monterrey. I'll be back to you with the outcome.

[2022-02-17 23:29] raffenet commented on #5835
From what I can tell, not all the nodes are able to launch proxies via ssh, so the processes that did launch are waiting in PMI_Barrier. I recommended `-launcher ssh` because using the default (srun) was throwing an error
[code]
It would be preferable to launch using the default, but we might be missing an option. Or there needs to be a configuration change.

[2022-02-18 03:35] hzhou commented on #5835
When user do `mpiexec -np 20 ...`, hydra will launch 1 proxy on each of the node, right? So hydra could simply launch the new spawned process using the existing proxy rather than spawning new one, right? If the above message is from `mpiexec` launch a new `proxy`, I guess that means user's slurm setting is preventing `srun` more than 1 job on a given node.

[2022-02-18 08:43] dalcinl commented on #5854
@hzhou About my local testing on macOS 12 Monterey, all mpi4py test pass just fine. However, it is not the first time that the relative slowness of the CI buiders trigger a race condition that you don't usually catch in local actual hardware.

I tried running on macOS 11 Big Sur in GitHub Actions. Same issues as in macOS 10.15 Catalina. I'll try again with all RMA tests disabled.

[2022-02-18 12:15] dalcinl commented on #5854
The broken tests involve the fetch-and-op and compare-and-swap RMA operations. After disabling these tests ([commit](https://github.com/mpi4py/mpi4py/commit/66e9a985a0a6da6210eb791d5e21dffb26e5784d)), everything went smooth and builds are green ([logs](https://github.com/mpi4py/mpi4py/actions/runs/1864193976)).

For the time being, I'll keep these tests disabled for the MPICH 4.0.x series if runni

[2022-02-21 15:24] #4388 closed

[2022-02-21 22:53] #1769 closed

[2022-02-23 01:41] dqwu opened #5863 "mpich-4.0 memory leaks on Ubuntu 20 with default gcc 9.3.0"
This issue is reproducible on most ANL CELS GCE nodes with Ubuntu 20 (e.g. compute-10.cels.anl.gov)

[code]
Steps to reproduce
[code]
LeakSanitizer report
[code]
Valgrind report
[code]
This issue is not reproducible with mpich-3.4.3

LeakSanitizer report
No output

Valgrind report
[code]

[2022-02-23 18:41] raffenet commented on #5791
The fix for this is included in MPICH 4.0.1 https://github.com/pmodels/mpich/releases/tag/v4.0.1.

[2022-02-23 18:43] raffenet commented on #5793
In MPICH 4.0.1 (https://github.com/pmodels/mpich/releases/tag/v4.0.1), you can use `--disable-f08` and `--disable-collalgo-tests` to avoid any Python 3 dependencies at configure time.

[2022-02-23 18:43] raffenet commented on #5829
The fix for this is included in MPICH 4.0.1 https://github.com/pmodels/mpich/releases/tag/v4.0.1.

[2022-02-23 19:52] tjhei opened #5866 "romio: Need support large count functions"
I wanted to try out the new ``MPI_File_write_ordered_c`` with a ``count`` larger than the size of the maximum signed int. With release 4.0 I am hitting the assert
[code]
It still exists in master today here:
https://github.com/pmodels/mpich/blob/908c021ce04359826086518e4accf4fb603fffd8/src/mpi/romio/mpi-io/write_ord.c#L86
It looks like the code just forwards to ``MPI_File_write_ordered``, which ca

[2022-02-23 20:25] hzhou commented on #5866
cc @roblatham00

[2022-02-24 01:38] haampie opened #5867 "ch4:ofi:gni hangs"
Using mpich 3.4.3, libfabric 1.14.0, ch4:ofi:gni, I'm getting an issue similar to #4720.

mpichversion:

[code]

perf output:

[code]

[code]

[code]

[code]

[code]

[2022-02-24 01:42] haampie commented on #5867
Oh, I got the impression https://github.com/pmodels/mpich/pull/5085 was targeted at 3.x, but it only landed in 4.0? I can try mpich 4.x soon.

[2022-02-24 02:02] haampie commented on #5867
Issue persists on mpich 4.0.1 :(.

[2022-02-24 19:12] raffenet commented on #5863
The leak appears to be coming from the system `hwloc` linked to MPICH. Can you try adding `--with-hwloc=embedded` to your configure and confirm the leak goes away?

[2022-02-24 19:41] raffenet commented on #5863
This simple hwloc program leaks memory with the system hwloc library. Will try and report to Ubuntu. FWIW the same program doesn't leak with hwloc built from source v2.1.0 tag.
[code]

[2022-02-24 19:44] dqwu commented on #5863
Thanks for the information. I tried that option and the memory leak goes away.

[2022-02-24 19:47] hzhou commented on #5863
Can this issue be closed?

[2022-02-24 19:48] raffenet commented on #5863
Submitted bug report upstream https://bugs.launchpad.net/ubuntu/+source/hwloc/+bug/1962215.

[2022-02-24 19:49] dqwu commented on #5863
I think so if this is confirmed to be an issue related to Ubuntu 20. Thanks.

[2022-02-26 09:26] dalcinl opened #5871 "MPI_Type_get_extent_x() and threads"
I recently merged MPI-4 support in mpi4py. As a consequence of these changes, now I'm using large count APIs exclusively. For example, I replaced all the usages of `MPI_Type_get_extent()` in favor of `MPI_Type_get_extent_x()`.

I'm running Fedora 35 and MPICH v3.4.1 (ch3:nemesis) from system packages. I get some strange failures in my `MPI_Op` tests. FYI, my tests are calling `MPI_Type_get_extent_

[2022-02-26 09:29] dalcinl commented on #5871
Clarification: My test code does not involve threads in any way. The tests call `MPI_Allreduce()`, which in turns calls user-defined reductions, and these callbacks in turn call `MPI_Type_get_extent_x()`. So it looks like the `MPI_Allreduce()` call holds the mutex, but then `MPI_Type_get_extent_x()` is called with the mutex held.

[2022-02-27 00:56] hzhou commented on #5871
Yes, I agree that the global critical section is not needed in `type_get_extent_x`. In fact, it appears that this inconsistency is still there in mpich 4.0 and the current main branch. However, in 4.0, we made sure to exit the critical section before calling user op functions, thus preventing the assertions (on recursively entering critical sections). And before 3.4, we kind of allowed recursive c

[2022-02-27 05:26] dalcinl commented on #5871
So this issue I'm having will only happen with the 3.4.x releases. Good to know! I may implement some version-specific workaround then.

You have a point. Likely not worth the fix. Feel free to close this issue.

[2022-03-01 16:46] sfilippone opened #5875 "fortran: missing ELEMENTAL in eq/neq operator functions"
Please see discussion at
https://github.com/open-mpi/ompi/issues/10057
and
https://lists.mpi-forum.org/pipermail/mpiwg-fortran/2022-March/003613.html

the same issue applies to MPICH (at least the versions I tried 3.4.1  from Fedora packaging, 3.4.3 from source, have not yet tried the latest)

Cheers
Salvatore

[2022-03-01 20:23] hzhou commented on #5875
@jsquyres Thanks for sharing with us. We'll take a look.

[2022-03-01 20:37] hzhou commented on #5875
@sfilippone Can you provide a simple Fortran test program?

[2022-03-01 22:19] hzhou commented on #5875
@sfilippone Thanks for the example and discussions over https://github.com/open-mpi/ompi/issues/10057. We'll fix it.

[2022-03-01 22:26] jsquyres commented on #5875
@hzhou You might want to wait for some comments from the Forum Fortran WG, per https://lists.mpi-forum.org/pipermail/mpiwg-fortran/2022-March/003613.html.  I'm not a Fortran expert, so I thought I'd ask the Rolfs of the world to see if there are any implications of adding ELEMENTAL.

[2022-03-01 22:29] hzhou commented on #5875
@jsquyres Sure. Meanwhile, it's easier to have a patch to test it out. I'll make a note to wait for the feedback before merging it.

[2022-03-01 22:37] hzhou commented on #5875
@sfilippone FWIW, I just tested the patch in PR #5876 against your example. As expected, adding `elemental` to the interface functions works as you suggested. We'll wait for the feedback from MPI Forum.

[2022-03-02 13:23] knjmooney opened #5877 "Unable to attach a debugger to a one process job."
Hi,

I'm trying to use the MPIR Acquisition Process Interface (https://www.mpi-forum.org/docs/mpir-specification-03-01-2018.pdf) to attach a debugger to a one process job.

Using the following program
[code]

Compile with
[code]

Launch 1 process by running the starter process to MPIR_Breakpoint, and then inspect MPIR_proctable for the pid of the MPI process.
[code]

With MPICH 3.2.1, I can now at

[2022-03-03 11:56] massimiliano-leoni opened #5879 "Possible bug in MPI_Put/Get"
Hello, I have a piece of code like
[code]
in which I first distribute some data with `MPI_Put`, then do some work on it and finally send it back with either `MPI_Get` or `MPI_Put`.

This code works fine on my Ubuntu 20.04-based OS with OpenMPI 4.0.3, but it doesn't work on a CI bot running Ubuntu 20.04 with MPICH 4.0.
In particular, the first loop works fine: I compared rank-wise the data received

[2022-03-03 14:26] hzhou commented on #5879
Yes, please provide the reproducer with docker image. Meanwhile, please continue trying to get a minimal reproducer.

[2022-03-03 16:26] massimiliano-leoni commented on #5879
Ok!
Here is how to reproduce with a docker image.
Download the relevant code and the docker image with
[code]
Then, inside the docker image, paste
[code]
Once it has run, you'll see some output like
[code]
where all the numbers should be very small but only rank 0 works fine.

Now, an explanation of what's happening. The code that runs is in `dolfinx/cpp/test/unit/interpolation.cpp`.
Line 62,
[cod

[2022-03-03 17:39] sfilippone opened #5880 "Strange behaviour with MPI_F08"
Hi there,
I am experiencing a very strange bug with MPICH
The test code:
[code]

[2022-03-03 17:40] sfilippone commented on #5880
The behaviour:
[code]

[2022-03-03 17:41] sfilippone commented on #5880
There must be something wrong in the ALLTOALL code since it is altering the vector bounds, transforming a vector with range (1:2) into a vector with range (0:1)
For reference, the same code behaves correctly with other MPI implementations (most notably, with OpenMPI)

[2022-03-03 17:56] hzhou commented on #5880
This is a known gfortran bug. It will be fixed in the next gcc release (gcc-12). Our `mpi_f08` interface utilizes the `CFI_cdesc_t` interface, which supports Fortran array slices.

Ref: https://github.com/pmodels/mpich/issues/4170, https://gcc.gnu.org/bugzilla/show_bug.cgi?id=104100

[2022-03-03 17:57] hzhou commented on #5880
As a workaround, try Intel compilers.

[2022-03-03 18:12] sfilippone commented on #5880
Ah, ok, makes sense
Thanks

[2022-03-03 18:14] #5880 closed

[2022-03-03 18:18] hzhou commented on #5880
Or, if you are willing modify the code, use 0 for lower bound -- ugly, but at least that will allow gfortran to work.

[2022-03-03 18:23] sfilippone commented on #5880
Don't worry, I'll figure it out

[2022-03-03 20:36] knjmooney commented on #5877
Hmm, I'm reproducing on multiple machines. Did you try to connect to
pid 3297984
after printing MPIR_proctable (the pid of a.out)? That's where the issue
is, a.out should be held inside MPI_Init.

On Wed, 2 Mar 2022, 15:26 Hui Zhou, ***@***.***> wrote:

[2022-03-03 21:13] hzhou commented on #5877
I see. Could you try set the environment variable `MPIR_CVAR_DEBUG_HOLD=1`? That shouuld hold the MPI process in a busy loop. Once you attach to the process, you can set `hold=0` to proceed.

[2022-03-04 02:04] knjmooney commented on #5877
That sounds promising. I'm away atm, but I will try on Monday.

Thank you,
Kevin

On Thu, 3 Mar 2022, 21:14 Hui Zhou, ***@***.***> wrote:

[2022-03-04 18:28] nitbhat opened #5882 "jenkins/bug: Partitioned pingping fails assertion"
I saw this issue during our jenkins run and also locally. This was seen for a `ofi-psm2-gnu-noam-netmod-debug-nogpu-cpu-gpu-runtime-vci1-async-single-nopmix` build.

Mpich configure line: `+ ./configure -C --prefix=/tmp/jenkins.tmp.pYXPlMO6/_inst --with-custom-version-string=drop45 --disable-ofi-domain -with-fwrapname=mpigf -with-file-system=ufs+nfs -enable-timer-type=linux86_cycle -with-assert-le

[2022-03-04 23:25] hzhou commented on #5882
@nitbhat Please provide `test/mpi/config.log`

[2022-03-04 23:47] adammoody opened #5883 "Question about synchronizing sync"
@roblatham00 , could we move the optional barrier here to come after the ``fsync`` rather than before?

https://github.com/pmodels/mpich/blob/e85b3f9b544fa50200a081ef771bd673321e554a/src/mpi/romio/adio/common/ad_flush.c#L17-L26

I take it this hint is so that someone can replace something like:
[code]
with a single:
[code]
based on this advice to users from the MPI standard:

For a file system tha

[2022-03-07 14:30] ashwinraghu opened #5885 "Buffer overflow in MPI-IO with external32 data representation"
A user reported a crash in an MPI-IO benchmark when using the "external32" data representation.
A sample stack trace of a process aborting due to heap corruption looks like this:
free(): invalid size
double free or corruption (out)
#5  0x00007f060c73925a in MPIR_Typerep_unpack ()
#6  0x00007f060af8092f in PMPI_Unpack ()
#7  0x00007f060cf02e6e in MPIU_write_external32_conversion_fn ()
#8  0x00007f0

[2022-03-07 17:39] knjmooney commented on #5877
I tried the above. The environment variable holds the process, but unfortunately, after attaching to a.out, there are no debug symbols (I used the default configuration options), so I can't set hold to 0.

To give some context, this is for Arm Forge, a debug and profiling tool. We'd be aiming for a solution that avoids any special configuration. If MPIR_CVAR_DEBUG_HOLD is the preferred way for a d

[2022-03-07 17:49] hzhou commented on #5877
I always assumed if a user wants to debug his application, he would either build or link to a library with debug symbols. I am not sure there is a (clean) way to just add debug symbols for a single file. And even if there is, it can't prevent systems to strip their libraries.

@knjmooney Is there a better mechanism that you may suggest to hold a process?

[2022-03-07 17:54] hzhou commented on #5877
Maybe we can expose, e.g. `MPII_Debug_continue()`?

[2022-03-07 18:04] knjmooney commented on #5877
My understanding is that MPAI (https://www.mpi-forum.org/docs/mpir-specification-03-01-2018.pdf) is the semi-standard way to attach a tool to an MPI process. This is how we do it with other MPIs, previous versions of MPICH, and MPICH 4 when attaching to more than 1 process. I understand it's non-trivial to support MPAI, especially as there are likely no tests considering it's not working atm.

Thi

[2022-03-07 18:05] hzhou commented on #5885
@ashwinraghu This sounds familiar, likely it is fixed in https://github.com/pmodels/mpich/pull/5163. Has that PR been made into the branch you are working with? If not, give it a try.

[2022-03-07 18:18] hzhou commented on #5877
Looks like `MPIR_CVAR_DEBUG_HOLD` is a separate mechanism from MPAI. Did you build mpich with `--enable-debuginfo`? The debugger support is only built with that option.

[2022-03-08 11:26] knjmooney commented on #5877
Configuring with `--enable-debuginfo`
* MPIR_CVAR method still doesn't work because gdb doesn't know about `here`
* MPIR_Breakpoint method still doesn't hold the process when there's only 1.

[2022-03-08 19:38] ashwinraghu commented on #5885
@hzhou PR #5163 has not made it to the branch I am on. I had a look at the changes and they don't port over easily to our branch which is based off of 3.4.x. Any chance the fix can be ported to 3.4.x?

[2022-03-08 19:41] hzhou commented on #5885
Yeah, I suspected it was not easy to pick. Let me give it try (porting to 3.4.x)

[2022-03-08 21:06] nitbhat commented on #5882
I ran this test again locally and through jenkins, and I am not seeing it show up. I'm wondering if there was something else that was wrong on our end. I'll keep an eye out for this bug if it shows up again. I'll close it for now.

[2022-03-08 21:06] #5882 closed

[2022-03-09 05:58] hzhou commented on #5885
@ashwinraghu Give https://github.com/pmodels/mpich/pull/5888 a try.

[2022-03-09 15:18] massimiliano-leoni commented on #5879
Never mind, it's all my fault because I was using `sizeof(MPI_DOUBLE)` and the like instead of `MPI_Type_size`. Sorry for the mess!

[2022-03-09 15:21] hzhou commented on #5879
No worries :) . I am glad you resolved the issue.

[2022-03-09 15:23] hzhou commented on #5879
In case you wonder how it worked with OpenMPI. The datatype handle is 4-byte integer in MPICH, but a pointer type in OpenMPI.

[2022-03-09 15:26] massimiliano-leoni commented on #5879
Thanks! I am learning this right now on my skin :D
Long live continuous integration!

[2022-03-10 22:50] Kerilk opened #5890 "Level Zero structures must be properly initialized"
Hello,

The fields `stype` and `pNext` of level zero structures that contain them must be initialized before passing them to the runtime.
This initialization is missing here:
https://github.com/pmodels/mpich/blob/8c779ac7d973b9f1c959bf76c57a58a20ba5ba76/src/mpl/src/gpu/mpl_gpu_ze.c#L114-L115
and there:
https://github.com/pmodels/mpich/blob/2ccf789c24663d3c780e622c27643be83f95beec/test/mpi/util/mte

[2022-03-10 23:56] hzhou commented on #5890
@Kerilk Do you want to contribute a pull request or would you rather we patch it and acknowledge?

[2022-03-11 00:12] Kerilk commented on #5890
I can make a pull request if this fix looks good to you.

[2022-03-11 00:16] hzhou commented on #5890
@zhenggb72 Requesting your review.

[2022-03-14 17:24] nncarlson opened #5892 "NAG 7.1 and the `mpi_f08` module"
The latest NAG 7.1 compiler finally includes the F2018 features needed to support the build of the `mpi_f08` module, but I ran into an issue when compiling MPICH 4.0.1.  I used GNU C/C++, but NAG for the Fortran compiler.  It compiled without error, but I ran into a missing symbol when linking a Fortran code against the MPI libraries.  The problem was that the MPICH build was picking up the `ISO_F

[2022-03-14 18:35] hzhou commented on #5892
I think setting `CFLAGS` is an okay solution. The only effect is to have the header files in the specified folder to take priority, and that is the exact intention no matter what solution we choose. We potentially can add the exact `CFLAGS` internally when we are configuring with `nagfor`. But that will depend on heuristics in guessing/probing where the nag include path is.

[2022-03-14 21:28] nncarlson commented on #5892
Thanks for your affirmation about `CFLAGS` @hzhou .  I think it would be ill-advised to have mpich try and guess where the nag include path is; much better to just have the user specify it explicitly.  This case with NAG may merit a special comment in the installation instructions, though, as it isn't at all obvious at first that the C code supporting `mpi_f08` relies on a header file from the For

[2022-03-14 21:37] hzhou commented on #5892
Yeah, if the C and Fortran compilers are from the same vendor, it will be easy for the vendor to make sure the inter-op works.

Adding some instructions in README is a good idea. We'll do that.

Ideally, NAG should provide some standard query interface for this. I would say this is their responsibility. Short of that, all other solutions are "workarounds".

[2022-03-14 22:16] nncarlson commented on #5892
Well actually, this is possible in an indirect, round-about way (but I'm *not* suggesting this is something mpich should necessarily do -- it still seems fragile).  In working out this issue with someone at NAG, they pointed out to me that you can actually feed C code to the compiler which it passes on to gcc, and the `-#` flag shows exactly what it does:
[code]
That second command line token will

[2022-03-15 16:11] hzhou commented on #5892
Keep this issue open until
* either README is updated and configure issues warning for the user
* or configure add nag include path when nagfor is used.

[2022-03-16 18:51] #5875 closed

[2022-03-18 02:28] hzhou commented on #4599
@bjpalmer This ticket has become stale, Are you still having the issue and interested in resolving it? From the discussion, since you have verified that you are able to ssh using `node016.local`, it rules out the hostname being a issue. So it narrows down to the suspicion that there is firewall blocking the port (43918 in your log). However, I admit it is curious that 3.3.1 were working for you. I

[2022-03-18 14:21] hzhou commented on #5863
Closing this ticket as the real cause has been identified.

[2022-03-18 17:12] #5883 closed

[2022-03-18 19:33] hzhou commented on #5877
Okay, I understand the issue now.

User break on `MPIR_Breakpoint` which pauses `mpiexec`. MPI_Processes that calls PMI calls that requires response from `mpiexec` will thus be held inside a poll loop waiting for PMI replies. In ch3, we call PMI_Barrier, which is were the PMI processes are being held. We don't always do that in ch4, thus the issue.

This mechanism will rely on a proper `PMI_Barrie

[2022-03-18 20:13] #3753 closed

[2022-03-18 22:31] drew-parsons commented on #5684
I've now built mpi4py 3.1.3 against mpich 4.0.1.  Looks like the patch has fixed dtlib for mpich:
[code]

[2022-03-19 00:48] hzhou commented on #5684
Sounds good. I am closing the issue.

[2022-03-19 00:48] #5684 closed

[2022-03-19 01:03] hzhou commented on #1102
There is no longer interest in pursuing this issue. Close for now.

[2022-03-19 01:03] #1102 closed

[2022-03-19 01:03] #5877 closed

[2022-03-19 01:06] hzhou commented on #2113
@raffenet We have a working tvtest in our test suite, right? Can we close this ticket?

[2022-03-19 01:25] hzhou commented on #2174
This has been fixed by https://github.com/pmodels/mpich/commit/1c121530dd6909e71b280d2d540072fd456b0ce6

[2022-03-19 01:25] #2174 closed

[2022-03-19 01:35] hzhou commented on #2232
https://github.com/pmodels/mpich/pull/5711 has made some of the updates on docs. Closing this ticket now.

[2022-03-19 01:35] #2232 closed

[2022-03-19 01:42] hzhou commented on #2325
I believe this has been fixed. Ref: https://github.com/pmodels/mpich/pull/5625

[2022-03-19 01:42] #2325 closed

[2022-03-19 02:14] hzhou commented on #2721
I believe this issue is obsolete by https://github.com/pmodels/mpich/pull/5757

[2022-03-19 02:14] #2721 closed

[2022-03-19 02:16] hzhou commented on #3139
I believe this is no longer of interest. If someone like this to be fixed, please re-open the issue.

[2022-03-19 02:16] #3139 closed

[2022-03-19 02:19] hzhou commented on #3515
These to-do items are either outdated or no longer being pursued.

[2022-03-19 02:19] #3515 closed

[2022-03-19 02:24] hzhou commented on #4866
Since there is no interest fixing this issue, close for now.

[2022-03-19 02:24] #4866 closed

[2022-03-19 02:26] hzhou commented on #4227
I am not sure we have a better name to rename and not sure the renaming will make the code any cleaner. Close for now.

[2022-03-19 02:26] #4227 closed

[2022-03-19 02:34] hzhou commented on #4315
I don't disagree. However, this is a minor to-do item that is only useful if someone is working on it. Since it is getting stale, I am closing it for now.

[2022-03-19 02:34] #4315 closed

[2022-03-19 11:20] drew-parsons commented on #5684
p.s. in case someone asks, here is the TestIOSelf record (passing) of the test log with mpich on i386.  It's still failing with openmpi (https://github.com/mpi4py/mpi4py/issues/105).
[code]

[2022-03-19 15:19] #5890 closed

[2022-03-19 15:28] hzhou commented on #4163
I did not reproduce this failure. This test is active in our test suite and we have not seen the failure for quite a while. Thus I assume it has been long fixed.

[2022-03-19 15:28] #4163 closed

[2022-03-19 20:08] hzhou commented on #3799
Using shell script to generate random configurations are just too hacky to maintain. I added in jenkins-script a Perl script `mpich/random.pl`, that should do a better job.

Test run here: https://jenkins-pmrs.cels.anl.gov/view/mpich-weekly/job/weekly-mpich-random/

Not a combination of options will work and we probably need add new options and remove obsolete options. But that is on-going work.

[2022-03-19 20:34] hzhou commented on #5616
I never get a chance to investigate. This test is in our regular review tests, and I don't recall we have been seeing it lately. I am closing it for now. Re-open with confirming cases.

[2022-03-19 20:34] #5616 closed

[2022-03-19 20:38] hzhou commented on #4562
This kind of error message indicates an inter-process shared mutex locking failure. We have not seen this error recently. I am closing this issue for now. Re-open with new incidence.

[2022-03-19 20:38] #4562 closed

[2022-03-19 20:40] hzhou commented on #4479
This is related or of the same nature as https://github.com/pmodels/mpich/issues/4562. It is stale and we haven't seen this error for a while. Close for now. Re-open with new incidence.

[2022-03-19 20:40] #4479 closed

[2022-03-19 20:43] hzhou commented on #4483
I believe this bug has been fixed. At least the nightly solaris tests have been clean.

[2022-03-19 20:43] #4483 closed

[2022-03-19 20:50] hzhou commented on #2221
Using the attached test case https://github.com/pmodels/mpich/issues/2221#issuecomment-253891888, I tested with the current `main`:

[code]

I believe the bug has been fixed already.

[2022-03-19 20:50] #2221 closed

[2022-03-19 21:12] hzhou commented on #3799
Out of 8, 7 failed to build, 1 unstable. This random thing is going to be tough to clean 😄

[2022-03-19 21:13] hzhou commented on #3799
Anyway, closing this ticket as now the random nightly test job is working.

[2022-03-19 21:13] #3799 closed

[2022-03-19 21:50] hzhou commented on #2106
Both hydra and ch3 will listen on a port and expect only valid client connect to it. `nmap` will give an unexpected connection and the default handler simple aborts (on any unexpected errors).

To confirm with hydra:
[code]
Separately, run `nmap`:
[code]

[2022-03-20 03:29] hzhou commented on #2013
All these checks and code were replaced by the adoption of `MPL_sockaddr` -- https://github.com/pmodels/mpich/pull/3363. The issue no longer exists.

[2022-03-20 03:29] #2013 closed

[2022-03-20 04:07] hzhou commented on #4372
I am pretty sure this is to do with the mutex monopoly. The logging may alter the collision window. Currently, both ch3 and ch4 freebsd64 nightly tests are clean. With ch4, we use ticketlock as the default pthread-lock often time out. Since this ticket is not particular and there is no immediate plans to address lock monopoly issue other than config with ticketlock, close now.

[2022-03-20 04:07] #4372 closed

[2022-03-20 04:10] hzhou commented on #3794
Since there is no plan to address the pthread mutex issue other than using the ticketlock, I am closing this ticket.

[2022-03-20 04:10] #3794 closed

[2022-03-20 04:12] hzhou commented on #4595
The cause was identified. There is no plan to fix the pthread mutex monopoly issue other than replace with ticketlock. Close for now.

[2022-03-20 04:12] #4595 closed

[2022-03-21 14:12] raffenet commented on #2113
Yes, `tvtest` is working and is run by Jenkins in `--enable-debuginfo` configurations.

[2022-03-21 14:13] #2113 closed

[2022-03-21 14:39] #289 closed, assigned to roblatham00

[2022-03-21 16:03] hzhou commented on #1085
[code]

[2022-03-21 16:07] hzhou commented on #1085
@roblatham00 Can we check the file size up front and adjust the parameter before the actual read?

[2022-03-21 16:15] hzhou commented on #1474
[code]
 Looks like it has been fixed?

[2022-03-21 16:17] hzhou commented on #1474
Oh, this is about `src/mpi/romio/test/file_info.c`

[2022-03-21 16:23] hzhou commented on #1474
@roblatham00 Could you take care of this (old) ticket?

[2022-03-21 17:51] hzhou commented on #1566
If you immediately erase your output, certainly you won't able to see anything. In addition, `fflush` after each proress print is crucial as the buffer mode to terminal and to pipe (in the `mpirun` case) is different. I made a few modification to the test code, and it seems run fine:
[code]
[code]

[2022-03-21 17:53] #1566 closed

[2022-03-21 17:57] hzhou commented on #1650
I think this can be implemented with a pre-defined KVS key. However, the value is likely to be very big. We need extend the current wire protocol to allow either binary data or arbitrary long values.

[2022-03-21 19:46] adammoody opened #5902 "romio: hint to allow avoiding extraneous MPI_File_sync calls"
When not running with atomicity mode enabled, MPI data consistency semantics requires one to call ``MPI_File_sync`` to expose newly written data to make those bytes visible to other processes.  However, since ``MPI_File_sync`` implies an ``fsync()``, it can be expensive.  Additionally, on POSIX-complaint file systems like Lustre, it is not actually necessary to call ``MPI_File_sync`` to expose new

[2022-03-21 19:48] adammoody commented on #5902
@roblatham00 , they can confirm, but I think this is something that I think the HDF team could use.

[2022-03-21 22:56] houjun commented on #5902
Yes, I think a new hint indicating whether HDF5 should call MPI_File_sync after a write (e.g. when using UnifyFS ROMIO driver) is necessary to support UnifyFS in HDF5.

[2022-03-22 13:57] roblatham00 commented on #1085
getting file size can be really expensive, but MPI_File_open is collective and we already stat the file if no file system prefix is provided.    We should be able to collect some information about the file at open time from one processor and broadcast to everyone else.

not every file system supports stat.  For non-posix file systems, we should add another member to the function pointer struct.  W

[2022-03-22 14:10] roblatham00 commented on #5902
see https://github.com/pmodels/mpich/blob/main/src/mpi/romio/adio/common/ad_hints.c#L129  for one approach:  client code sets the hint, and ROMIO will respond either with "i don't know what that is" (by not adding it to the returned info object) or give the green light by setting it to "enabled"

Does the read-only hint  `romio_visibility_immediate`  (`true` or `false`) work for you?  Prefer a dif

[2022-03-22 18:36] kmccall882 opened #5903 "MPI_Comm_spawn -- too many file descriptors"
When a job spawns many subprocesses via MPI_Comm_spawn, the job can fail with the error below.  MPICH currently launches an individual proxy for each spawn, which probably attributes to the flood of file descriptors on the server.

**[mpiexec@n002.cluster.pssclabs.com] HYDU_create_process (../../../../mpich-4.0.1/src/pm/hydra/utils/launch/launch.c:21): pipe error (Too many open files)
[mpiexec@n00

[2022-03-22 19:43] hzhou commented on #5903
Thanks @kmccall882 for the report.

Currently, `hydra` launches separate `hydra_pmi_proxy` for each  new "spawn". This simplifies the code design that "proxy" will only deal with local processes within a single "process group" or `MPI_COMM_WORLD`. However, it is common for applications that utilize MPI dynamic processes to spawn one process at a time. Launching proxies is a bootstrapping process a

[2022-03-22 19:44] adammoody commented on #5902
Thanks, @roblatham00 .  That sounds good to me.  It makes sense to be a read-only hint with a ``true/false`` value.

Regarding a hint name, "visibility" matches well with the MPI text:

@houjun , you could be the first to actually use this new hint.  What do you think?

[2022-03-22 20:38] raffenet commented on #5814
This was fixed in #5849.

[2022-03-22 20:38] #5814 closed

[2022-03-22 20:56] houjun commented on #5902
Sounds good!

[2022-03-22 21:26] hzhou commented on #5902
Is this issue resolved?

[2022-03-22 21:59] adammoody commented on #5902
I think we're settled on a solution.  Should we keep the issue open until the hint is added?  I'm fine either way.

[2022-03-22 22:00] hzhou commented on #5902
@roblatham00 I thought the hint was already added. No?

[2022-03-22 23:20] roblatham00 commented on #5902
@hzhou this is a separate issue.  We have a hint for the "synchronizing sync" behavior.  This hint would allow us to further separate "visibility" from "durability" .  As Adam points out, POSIX file systems provide more aggressive visibility than the MPI standard dictates.    If we're going to be stuck with stupid POSIX and its stupid consistency semantics, let's make some lemonade out of those le

[2022-03-22 23:25] hzhou commented on #5902
👍 Sounds good!

[2022-03-22 23:41] adammoody commented on #5902
While we're at it, the standard also says that ``MPI_File_close`` implies an ``MPI_File_sync``, which means closing the file also requires an ``fsync``.  It would be useful if we had a way to let a user declare that they don't actually require an ``fsync`` during ``MPI_File_close``.  Maybe another hint?

[2022-03-23 14:23] ThemosTsikas commented on #5892
Hello, I provide tech support for the NAG Fortran Compiler at NAG.  With a recent nagfor executable in the PATH, the following configure command has been tested on an x64/Linux system with mpich-4.0.1, when run in a directory that has the same parent as the mpich-4.0.1 directory. It helps when you use directory names without spaces for nagfor installation.

`../mpich-4.0.1/configure --with-device=

[2022-03-23 14:33] hzhou commented on #5892
@ThemosTsikas Thanks for chiming in. Is `$(nagfor -# foo.c 2>&1 |grep -o -e '\-I[^ ]*')` the best way to grab standard include path? We can add it to our configure logic to provide some convenience to users. It would be cleaner if `nagfor` can spit out the path without dummy source and `grep`, but we can work with that for now.

[2022-03-23 14:51] hzhou commented on #5892
User provided `FCFLAGS` is supposed to be included in the wrapper scripts (`mpifort`). I am not sure why `-mismatch` got dropped. I would say the CMake logic is broken as they shouldn't grab `mpifort` flags into `CFLAGS`.

If your application uses `mpi_f08`, you probably don't need `-mismatch` flags. With current `main` branch and the next major release, I believe you won't need that flag for lega

[2022-03-23 18:48] roblatham00 commented on #5902
ADIO drivers are welcome to implement `ADIOI_xxx_Close` if they have a file system specific way of pushing cached items to the file system.    PVFS2 for example implements an empty function

[2022-03-23 19:38] adammoody commented on #5902
Oh, I was thinking the Lustre ADIO path had an ``fsync``, which is what I was trying to avoid with this "no-fsync-on-close" hint.

Though, I don't see an fsync in either:
https://github.com/pmodels/mpich/blob/main/src/mpi/romio/adio/common/ad_close.c
or:
https://github.com/pmodels/mpich/blob/main/src/mpi/romio/adio/common/adi_close.c

So nevermind.

[2022-03-23 19:53] adammoody commented on #5902
Just to spell out my reasoning that led to that confusion, the standard says that ``MPI_File_close`` implies an ``MPI_File_sync``:

And I know the ``MPI_File_sync`` on Lustre calls ``fsync``.