[2020-10-08 20:51] raffenet commented on #4832
Are you linked against an external UCX library or the embedded one included with MPICH? I am wondering if an external library is being used that may not have CUDA-awareness builtin.

FWIW, I was able to build and test your code successfully on a GPU here at ANL.

[2020-10-08 21:46] huanghua1994 commented on #4832
Previously I was using the embedded one in MPICH.

I also tried compiling an external UCX 1.9.0 and use it to compile MPICH 3.4b1. UCX 1.9.0 configuration is as follow:
[code]
This version of MPICH 3.4b1 can run the sendrecv.cu on 2 nodes / 1 MPI process per node. But it cannot run the put_and_acc.cu on 2 nodes / 1 MPI process per node. Error message as follow:
[code]

[2020-10-09 02:58] hzhou commented on #4042
In the case of collective, this is complicated. It involves to continue issuing the pt2pt messages even though the data is incomplete which may keep generating more errors as we continue. And in the case of `-FI_EAGAIN` in `fi_tsenddata`, how do you prevent deadlock since the very process that we are trying to send to won't receive the message and it will keep waiting, right? How do we tell that p

[2020-10-09 03:03] hzhou commented on #4042
I think it depends on what we are thinking here. If we treat `MPI_ERRORS_RETURN` just a local process thing, that is certainly not hard and expensive. However, I think we are really talking about to return that `error` to a remote process -- that is very different.

[2020-10-09 13:35] raffenet commented on #4832
Well that's some progress 😄 .

For RMA, GPU buffers are not supported with native UCX. What you'll need to do is to force MPICH software emulation for RMA, which should work. To do this, add `--enable-ch4-am-only` to your configuration line.

Unfortunately, this option forces software emulation for **all** MPI features, including tagged send/recv with ch4:ucx. It would probably be a good idea for

[2020-10-09 14:45] raffenet commented on #4832
I tried this test on my machine and still ran into a crash in the software path. I will look into it.

[2020-10-09 14:48] huanghua1994 commented on #4832
I just tried it and got the same crash result.

BTW, I also tried MPICH 3.3.2 stable release with UCX 1.9.0, GPUDirect send and recv also work well. The embedded UCX in 3.3.2 does not work with CUDA 10.1.

[2020-10-09 19:54] raffenet commented on #4832
@huanghua1994 I believe I located the problem. I posted a PR (https://github.com/pmodels/mpich/pull/4835) that should address it. If you inclined to build from git source, it would be great if you could confirm the fix. I intend to backport to the 3.4.x branch so it will be included in a future release candidate.

[2020-10-09 21:20] hymanjd commented on #2213
Was a solution to this probelm obtained? I am running into this problem with petsc v3.13

[2020-10-13 14:46] raffenet commented on #4787
Fixed in #4802.

[2020-10-13 14:50] raffenet commented on #4545
Fixed in https://github.com/pmodels/mpich/pull/4464.

[2020-10-13 14:50] #4545 closed

[2020-10-13 14:57] #4452 closed

[2020-10-13 14:58] #4450 closed

[2020-10-13 15:06] raffenet opened #4838 "Potential ABI changes"
Now that `main` branch is targeting MPICH 4.0 development, it is a good time to consider ABI changes in MPICH. This issue will be the place to aggregate things we would like to change, and the reasons why, so they can be considered by members of the MPICH ABI Compatibility Initiative.

- Update MPI_Status struct definition
  - Simplify count hi/lo and cancelled fields.
- Increase MPI_MAX_INFO_VAL

[2020-10-13 18:45] jakebolewski commented on #4710
I'm working on building the artifacts to test it now that a new beta release has been tagged.

[2020-10-14 03:50] yfguo commented on #4794
I have created https://github.com/pmodels/mpich/pull/4839 as an example of what I proposed.

I would also point out that the existing eager implementation has many interdependencies between POSIX and EAGER iqueue. Iqueue would update data structures created by POSIX, and it relies on a implicit "agreement" between POSIX and iqueue on how these data structures are handle.

What I suggest that iqueu

[2020-10-14 14:44] ddurnov commented on #4838
Just would like to highlight that we were keeping ABI compatibility since 2014 https://www.mpich.org/abi/
What kind of value we get from the ABI changes?

Simplification of the fields doesn't feel like has enough weight vs a possibility to migrate between MPICH derived implementation w/o applicaiton recompilation.

We may think about compatibility mode/layer which would allow our users to avoid re

[2020-10-14 19:04] raffenet commented on #4838
@ddurnov agreed. I created this issue with the idea that we can edit it over time and come up with a detailed list of changes people might want to see in the ABI, backed up with use-cases and analysis. The currently listed changes, IMO, do not yet make a good case for breakage.

[2020-10-19 15:22] raffenet commented on #4832
I have drafted this wiki page to answer some common GPU support questions: https://github.com/pmodels/mpich/wiki/GPU-Support-Matrix-(3.4.x).

[2020-10-19 15:25] huanghua1994 commented on #4832
Can I use `--with-device=ch4:ucx` and `--enable-ch4-am-only` at the same time?

[2020-10-19 15:42] raffenet commented on #4832
Yes, but the caveat is that `--enable-ch4-am-only` will disable the "well supported" paths that `ch4:ucx` offers. It is clear that some more fine-grained control is needed to enable the best paths for all types of communication. We will work on putting those controls in place.

[2020-10-23 16:57] roblatham00 opened #4851 "Json-c and Jansson conflict"
I ran into a strange bug that seems to happen when an application's json library interferes with MPICH's internal json library.

The Mochi project just recently started using the 'jansson' library to manage JSON configuration.   jansson and json-c have at least one routine in common, and as a result I think MPICH's json parsing ends up making a surprising detour into the wrong library.

Symptoms:

[2020-10-23 18:00] hzhou commented on #4851
That is nice bug chasing!

I thought building json-c embedded and with hidden symbols, it should be immune  to this kind of collisions.

[2020-10-23 19:03] roblatham00 commented on #4851
json-c's private namespace was merged a few months ago:  https://github.com/json-c/json-c/pull/639   might be worth updating MPICH's  json-c fork.

[2020-10-23 19:53] roblatham00 opened #4852 "unable to use pmix master"
If i configure mpich like so on summit:

[code]

simple 'cpi' example fails to run, giving an assertion way down in the "hex" routine:

`Assertion failed in file /ccs/home/robl/src/mpich/src/util/mpir_pmi.c at line 1105: 0`

Backtrace:

[code]

I'm not using PMIX from spectrum mpi.  I thought I'd try `pmix@master` from spack.  I have no idea how divergent those versions are today.

[2020-10-23 20:40] raffenet commented on #4852
Is this reproducible on a regular Linux machine? I'm not sure how compatible OpenPMIx is with the Summit resource manager.

[2020-10-24 00:03] martinGHub opened #4853 "Singleton feature request"
Hi all.
I would like to request the singleton functionality in MPICH (i.e. runs without _mpirun_). I have an interactive application which uses ncurses library and it doesn't work with _mpirun_. Currently I'm using OpenMPI which supports this feature but I would like to make it work with this implementation too. I have understood that it's not a prioritary feature now, so I add this issue like as

[2020-10-27 17:34] raffenet commented on #4787
The applied patch broke existing PGI builds in Jenkins. This needs to be reverted and fixed.

[2020-10-28 15:20] raffenet commented on #4852
@jjhursey would you expect a PMIx client from OpenPMIx master to be compatible with the PMIx server on Summit?

[2020-10-28 22:09] brandongc commented on #4720
Same behavior with 3.4b1

[2020-10-29 11:20] jjhursey commented on #4852
Are they launching mpich with JSM on Summit?

The PMIx server on Summit is instantiated inside the JSM resource manager. So they would have to launch with `jsrun`. I have not tried to use PMIx master on the client-side to talk with the installed JSM. However, you can find out the PMIx level JSM (and Spectrum MPI) are using by issuing a `jsrun --version`. Below is the current output from Summit:
[c

[2020-10-29 13:41] raffenet commented on #4852
Yes, we have been launching MPICH with `jsrun` successfully by linking with the PMIx client library bundled with Spectrum MPI. I just wanted to check expectations before digging into this failure with `jsrun` + PMIx master from Spack. Trying 3.1.4 sounds like a good idea.

[2020-10-30 20:21] yfguo commented on #4794
@ddurnov #4839 is what I would like to merge as the refactor. Would like to have input from Intel team.

[2020-11-03 00:02] aolia-0303 opened #4865 "Error code ignored in "MPIR_Allreduce_intra_recursive_doubling""
I noticed that:

1. In `MPIR_Allreduce_intra_recursive_doubling()`, the return code of `MPIC_Sendrecv` is ignored

https://github.com/pmodels/mpich/blob/main/src/mpi/coll/allreduce/allreduce_intra_recursive_doubling.c#L127

2. When performing `fi_msg` operations, only `-FI_EAGAIN` is checked.

For example, in `MPIDI_OFI_send_normal `, `fi_tsenddata` has been called in the following way (https://gi

[2020-11-03 03:20] raffenet commented on #4865
We check for `-FI_EAGAIN` so the message can be retried until it succeeds, occasionally poking progress to free up resources. All other errors are treated as errors, and would either cause MPI to abort (default), or return the error to the user (MPI_ERRORS_RETURN). What behavior are you seeing that needs fixing?

[2020-11-03 15:40] raffenet commented on #4865
This return code is not ignored. Could you clarify what you mean?

[2020-11-03 17:04] roblatham00 commented on #4851
I took a stab at rebasing onto the 0.15 release but it is a giant pain and I gave up.

[2020-11-03 17:51] hzhou commented on #4720
NOTES:  I thought #4811 should've fixed this.

[2020-11-03 17:54] hzhou commented on #4853
Reference PR #3440. We need port that in hydra.

[2020-11-03 17:56] hzhou commented on #4773
Related issue #4497

[2020-11-03 18:02] hzhou commented on #4453
@haampie Is this issue still pending for fix?

[2020-11-03 18:10] hzhou commented on #4412
Originally this issue was motivated by configure issue when `--disable-cxx` won't build `ucx`. That is now fixed, so there isn't a pressing need for this issue now, and I think there is no reason to remove the binding just to give hard time to some old applications.

On the other hand, I think it is good idea to make `cxx` binding disabled by default -- I am renaming the issue.

[2020-11-03 18:19] hzhou commented on #4318
Looks like this issue is fixed.

[2020-11-03 18:19] #4318 closed

[2020-11-03 18:26] hzhou commented on #4232
Obsolete

[2020-11-03 18:26] #4232 closed

[2020-11-03 18:28] hzhou commented on #4219
superseded by #4649

[2020-11-03 18:28] #4219 closed

[2020-11-03 21:15] hzhou commented on #4130
fixed by #4149

[2020-11-03 21:15] #4130 closed

[2020-11-03 21:17] hzhou commented on #4063
fixed by #4102

[2020-11-03 21:17] #4063 closed

[2020-11-03 21:24] hzhou commented on #3497
I believe this issue is obsolete with #4550

[2020-11-03 21:24] #3497 closed

[2020-11-03 21:28] hzhou commented on #3322
We now test mpich with `-fsanitize=undefined` (as well as `-fsanitize=address`. This is now fixed.

[2020-11-03 21:28] #3322 closed

[2020-11-03 21:36] hzhou commented on #2787
Fixed by #3531

[2020-11-03 21:36] #2787 closed

[2020-11-03 23:20] hzhou opened #4866 "ch4: shm collective will run out of memory with too many comms"
We allocate a block a shared memory for each communicator when encountering `bcast` or `reduce` operations. When we have too many communicators doing such operation, we'll hit the threshold of total shared memory and encounter failures. Reference PR #4864. That PR fixes it by releasing the memory counter at the time of freeing the communicator. That fixes for some cases, but if an application is h

[2020-11-04 04:05] hzhou commented on #2566
fixed by #4102

[2020-11-04 04:05] #2566 closed

[2020-11-04 04:11] hzhou commented on #2170
fixed by #4523

[2020-11-04 04:11] #2170 closed

[2020-11-04 04:13] hzhou commented on #2192
portals no longer supported

[2020-11-04 04:13] #2192 closed

[2020-11-04 04:15] hzhou commented on #1604
rlog support has been dropped

[2020-11-04 04:15] #1604 closed

[2020-11-04 04:17] hzhou commented on #640
rlog support has been dropped.

[2020-11-04 04:17] #640 closed

[2020-11-04 04:17] hzhou commented on #498
rlog support has been dropped

[2020-11-04 04:17] #498 closed

[2020-11-04 08:50] haampie commented on #4453
If you're not supporting 3.1.x anymore, then I'm fine closing this. Otherwise the issue probably remains. I've just started using a newer release of mpich afterwards.

[2020-11-04 14:25] raffenet commented on #4866
Just want to say that context ids are not guaranteed to be unique, even on the same node. 2 disjoint groups of processes can have the same context id, so this scheme would need some additional id to avoid collisions.

[2020-11-04 14:30] hzhou commented on #4453
@haampie Any fix will go to newer release anyway, and they are ABI compatible to 3.1.4. It seems the newer release has been working for you? Otherwise, let us know. Closing this issue now.

[2020-11-04 14:30] #4453 closed

[2020-11-04 15:07] raffenet commented on #4866
Does MPICH crash, or just fallback to regular pt2pt collectives? I was under the impression it was the latter, which is not an issue for users. SHM is a limited resource.

[2020-11-04 15:11] hzhou commented on #4866
It falls back. But nevertheless it is undesirable, as it falls back when actually there are SHM resource available but just held up by non-active communicators.

[2020-11-04 15:21] hzhou commented on #4851
`json-c` uses visibility explicitly, thus exposes some of its symbols explicitly, oh well.

[2020-11-04 15:45] hzhou commented on #4851
Actually, we never compiles `json-c` with `-fvisibility=hidden`. Adding the visibility cflags fixes this issue.

[2020-11-06 06:13] pavanbalaji commented on #1985
Yaksa is already integrated into mpich at this point.

[2020-11-06 06:13] #1985 closed

[2020-11-06 06:22] pavanbalaji commented on #4639
@hzhou Yaksa is 32-bit clean.  Are you seeing some error on 32-bit systems?

[2020-11-06 14:53] hzhou commented on #4639
Yes. Currently Jenkins nightly tests is failing on `centos32` because of it. See https://jenkins-pmrs.cels.anl.gov/job/mpich-main-ch4-ofi/compiler=gnu,fabric_prov=sockets,jenkins_configure=default,label=centos32/lastCompletedBuild/testReport/

Last time I traced it, it appears in the generated pup functions, some of the assumptions of where elements start (alignment) is incorrect on 32-bit systems

[2020-11-06 15:06] pavanbalaji commented on #4639
I don't think this is a yaksa bug.  The user of yaksa (MPICH) is required to make sure the data buffer that's passed in is correctly aligned for the datatype being used.  If MPICH is not doing that (maybe because it copied something into a temporary buffer), then that's incorrect usage of yaksa.

Note that yaksa has that requirement for performance reasons.

[2020-11-06 15:16] hzhou commented on #4639
I only looked at one case a few months ago. The issue is with `long double`. On 32-bit systems, the alignment of `long double` is `4`, so it is correct to have e.g. displacement at boundary of 4 rather than 16. In `yaksuri_seqi_pup_blkhindx_hvector_long_double.c` it indexes with `array_of_displs[j1]/sizeof(long double)` become incorrect as it rounds off a fraction.

[2020-11-06 15:22] pavanbalaji commented on #4639
That is the user's (MPICH) responsibility.  For example, if the user passes a buffer to Yaksa as a collection of integers, then that buffer must be aligned for integers.  The below code would be incorrect, even though some platforms like x86 would allow the application to run correctly:

[code]

Before calling `yaksa_ipack`, the user must ensure that `bar` is correctly aligned to integer boundarie

[2020-11-06 16:26] raffenet commented on #4639
I can look at getting gcc-9 installed in the Singularity image. That should allow us to run ubsan on it and get some more info on possible alignment bugs.

[2020-11-08 02:19] oushu1fengsihan1 opened #4871 "Application aborted when I run it without mpixec.hydra"
MPICH is compiled with pmi2/simple and version is 3.3.x(3.3.2 actually).

According to the error information, MPID_Init called PMI2_Job_GetId and MPIDI_PG_InitConnKVS(which would call PMI2_KVS_Get).  And this caused error since PMI_Fd was -1.

I read the code and found getPMIFD would not set pg_size and pg_rank correctly when can't get value of PMI_PORT and PMI_FD. Also, there is not code for spec

[2020-11-08 02:20] oushu1fengsihan1 commented on #4871
If my solution is not tricky, should I make a pull request? :D

[2020-11-09 06:27] #4871 closed

[2020-11-09 17:09] raffenet commented on #4865
@aolia-0303 do you have any response to the questions above?

[2020-11-11 21:14] hzhou opened #4876 "mpi4: persistent collectives"
## Standard
link: https://github.com/mpi-forum/mpi-issues/issues/25
pdf: https://github.com/mpi-forum/mpi-standard/files/2352702/mpi32-report-ticket25-barcelona-vote-sep2018.pdf

## Action Items
* 21 new APIs
* Basic implementation
  ** Re-use nonblocking collective algos w/o freeing request at completion
  ** Modification to Requests, Schedules, MPI_START[ALL], MPI_REQUEST_FREE

* Advanced implem

[2020-11-11 21:20] hzhou opened #4877 "mpi4: MPI_T events"
## Standard
link: https://github.com/mpi-forum/mpi-issues/issues/79
pdf: https://github.com/mpi-forum/mpi-issues/files/3586358/mpi32-report.pdf

## Action items
* 27 new APIs
* Basic implementations
  ** Framework only, zero event or dummy event sources. Register callbacks but omit executions.
  ** Create new tests to verify API

* Advanced implementations
  ** Add implementations for some desirab

[2020-11-11 21:33] hzhou opened #4878 "mpi4: sessions"
## Standard
link: https://github.com/mpi-forum/mpi-issues/issues/103
pdf: https://github.com/mpi-forum/mpi-issues/files/4494244/mpi-report-ticket103-2020-APR-17-clean.pdf
## Action items
* 9 new APIs
* Basic implementations
  ** New MPI-level handle objects to encapsulate sessions
  ** Limit support to `mpi://WORLD` and `mpi://SELF`
  ** May limit to MPI_THREAD_MULTIPLE or `per-vci` granularity.

[2020-11-11 21:50] hzhou opened #4879 "mpi4: partitioned communication"
## Standard
link: https://github.com/mpi-forum/mpi-issues/issues/136
pdf: https://github.com/mpi-forum/mpi-issues/files/4913679/mpi40-report-ticket136-11jul20.pdf
## Action items
* 6 new APIs
* Basic implementations
  ** Simple adaptation from persistent request
  ** May do the actual communication when all partitions are ready.
  ** Basic tests
* Advanced implementations
  ** Send and track compl

[2020-11-11 21:58] hzhou opened #4880 "mpi4: large count"
## Standard
link:
   https://github.com/mpi-forum/mpi-issues/issues/137
   https://github.com/mpi-forum/mpi-issues/issues/327
pdf: https://github.com/mpi-forum/mpi-issues/files/5503687/mpi40-report-ticket137-711c32c-6Nov2020.pdf

PR:
    https://github.com/mpi-forum/mpi-standard/pull/268
    https://github.com/mpi-forum/mpi-standard/pull/152

## Action items
* Add large (_l) versons of C and F08 f

[2020-11-11 22:04] hzhou opened #4882 "mpi4: communicator info hints"
## Standard
link: https://github.com/mpi-forum/mpi-issues/issues/123

## Action Items
* Communicator info hints:
  ** `mpi_assert_no_any_source`
  ** `mpi_assert_no_any_tag`
  ** `mpi_assert_exact_length`
  ** `mpi_assert_allow_taking`
* Basic implementations
  ** accept hints without necessary behavior change
* Advanced implementations
  ** Optimize performance based on specific hints
  ** Evalua

[2020-11-11 22:09] hzhou opened #4883 "mpi4: memory alignment info key"
Link: https://github.com/mpi-forum/mpi-issues/issues/121

[2020-11-11 22:10] hzhou opened #4884 "mpi4: MPI_Neighbor_alltoall bug"
link: https://github.com/mpi-forum/mpi-issues/issues/153

[2020-11-11 22:13] hzhou opened #4885 "mpi4: functions to remove error objects"
link: [pending]

[2020-11-11 22:14] hzhou commented on #4885
@raffenet This is listed in your minor feature list. Could you find the link to the mpi forum issue?

[2020-11-11 22:15] hzhou opened #4886 "mpi4: deprecate MPI_SIZEOF"
https://github.com/mpi-forum/mpi-issues/issues/51

[2020-11-11 22:16] hzhou opened #4887 "mpi4: MPI_Info_get_string"
https://github.com/mpi-forum/mpi-issues/issues/146
https://github.com/mpi-forum/mpi-issues/files/3951818/misc-2_safe_get_changes.pdf

[2020-11-11 22:17] hzhou opened #4888 "mpi4: deprecate MPI_Info_get and MPI_Info_get_valuelen"
https://github.com/mpi-forum/mpi-issues/issues/146
pdf: https://github.com/mpi-forum/mpi-issues/files/3951818/misc-2_safe_get_changes.pdf

[2020-11-11 22:19] hzhou opened #4889 "mpi4: error behavior in init/finalize"
https://github.com/mpi-forum/mpi-issues/issues/102

[2020-11-11 22:20] hzhou opened #4890 "mpi4: add error class MPI_ERR_PROC_ABORTED"
https://github.com/mpi-forum/mpi-issues/issues/134

[2020-11-11 22:21] hzhou opened #4891 "mpi4: error functions need always be threadsafe"
https://github.com/mpi-forum/mpi-issues/issues/152

[2020-11-11 22:21] yfguo commented on #4794
fix in #4839

[2020-11-11 22:21] #4794 closed

[2020-11-11 22:23] hzhou opened #4892 "mpi4: do not implicitly propagate info in comm_dup"
https://github.com/mpi-forum/mpi-issues/issues/52

[2020-11-11 22:25] hzhou opened #4893 "mpi4: implement MPI_Comm_idup_with_info"
https://github.com/mpi-forum/mpi-issues/issues/53

[2020-11-11 22:25] hzhou opened #4894 "mpi4: non-catastrophic errors"
https://github.com/mpi-forum/mpi-issues/issues/28

[2020-11-11 22:26] hzhou opened #4895 "mpi4: non-catastrophic errors"
https://github.com/mpi-forum/mpi-issues/issues/28

[2020-11-11 22:28] hzhou commented on #4895
Accidental duplicate

[2020-11-11 22:28] #4895 closed

[2020-11-11 22:45] minsii commented on #4879
Will there be a timeline or deadline for each of the tasks?

[2020-11-11 22:47] hzhou commented on #4879
Let's put 1/31/2021 as the deadline for now.

[2020-11-12 06:23] #4773 closed

[2020-11-12 14:40] raffenet commented on #4885
https://github.com/mpi-forum/mpi-issues/issues/283

[2020-11-12 22:29] shintaro-iwasaki commented on #4887
I have a question about the implementation of `MPI_Info_get_string()`.

## Problem

According to https://github.com/mpi-forum/mpi-issues/files/3951818/misc-2_safe_get_changes.pdf, the behavior of MPI_Info_get_string() looks different between Fortran and C/C++.
[code]

So if `"MPI_KEY_XXX"` is mapped to `"abcdef"`, the straightforward behavior is:
### C version
[code]

### Fortran version (my synta

[2020-11-12 23:09] hzhou commented on #4887
You forgot to describe what is value of `buflen`, which is an `inout` parameter.

I think my current opinion is along your option `2`. But if we do that, for your fortran example, the return  of str is `abc\0'. I am not sure how Fortran deals with `NULL` character. Ideally, in the fortran binding, we should replace the `NULL` character with blank (space). Or in the binding, we could allocate a tem

[2020-11-12 23:21] shintaro-iwasaki commented on #4887
Thanks. Yes, you're right. The return value of `buflen` can be also different; for `"ABCDEF"` 7 will be set in C while 6 will be set in Fortran.

It seems that that character will be treated as "\0" character, which is different from a single whitespace.

I am not sure how I can create different versions for the same function. Can the current Fortran binding mechanism create a totally different fu

[2020-11-12 23:27] shintaro-iwasaki commented on #4887
PMPI wouldn't be an issue (https://www.mpi-forum.org/docs/mpi-3.1/mpi31-report.pdf p.561). I just need to write it down somewhere.

[2020-11-12 23:30] hzhou commented on #4887
We always use separate wrapper functions for the Fortran binding, ref. `src/binding/fortran/mpif_h/buildiface`, or reference one of the generated binding function, e.g. `sendf.c`.

Actually we have a precedent doing this. Reference https://github.com/pmodels/mpich/pull/4861/commits/11cfc75a679147f4bd6299d52d0fcfdce53681ce, where we use a `MPII_` function that supports an extra flag parameter.

[2020-11-12 23:38] shintaro-iwasaki commented on #4887
Thanks a lot! I now got how to implement this.

[2020-11-13 17:53] RolfRabenseifner commented on #4061
[ring_neighbor_alltoall_TEST.c.txt](https://github.com/pmodels/mpich/files/5538477/ring_neighbor_alltoall_TEST.c.txt)
[mpich-cla-individual-2016-11-25_RolfRabenseifner.pdf](https://github.com/pmodels/mpich/files/5538483/mpich-cla-individual-2016-11-25_RolfRabenseifner.pdf)

You can use the attached file for testing the correctness of your MPI_Neighbor_alltoall implementation.
Best regards
Rolf Rab

[2020-11-13 18:20] hzhou commented on #4884
It looks like we already have an issue open: https://github.com/pmodels/mpich/issues/4061
Also a PR maybe related to this: https://github.com/pmodels/mpich/pull/4902

[2020-11-13 21:56] raffenet commented on #4891
In the current implementation, I do not believe any thread safety is needed. But there is a dependency on https://github.com/pmodels/mpich/issues/4885, which will add the ability to remove error objects and thus require protection from races with threads querying vs. removing. Does that sound right?

In the meantime, I can easily remove the `MPIR_ERRTEST_INITIALIZED_ORDIE();` checks.

[2020-11-14 11:16] JAF130195 opened #4908 "Question: MPICH support for apple silicon"
Hello,

Hope all of you on the MPI dev team are doing well.

Apple has recently announced the arrival of their new ARM-based machines. I personally develop on mac and deploy to linux and I find it very useful to debug MPI programs for a small number of processes on my mac.

So my question is what level of support will there be for these new machines? I am no expert on processor architecture but th

[2020-11-14 14:26] hzhou commented on #4908
We support ARM in general. We have not tested on apple silicon in particular yet, but we currently expect it to work.

[2020-11-14 17:35] RolfRabenseifner commented on #4061
Caution: You should run the test with 1, 2 and 3 processes:
- 3 procceses have been never a problem, but of course be checked after any modification of the MPI library.
- 2 and 1 processes were implemented wrong in both mpich and OpenMPI.

[2020-11-15 10:26] JAF130195 commented on #4908
Ok, good to know! Thanks for getting back to me so quickly.

[2020-11-15 10:26] #4908 closed

[2020-11-16 14:59] #4886 closed

[2020-11-16 15:16] #4883 closed

[2020-11-16 15:36] #4885 closed

[2020-11-16 15:54] #4061 closed

[2020-11-16 15:54] #4884 closed

[2020-11-16 16:43] raffenet opened #4913 "libtool: Patch needed for macOS Big Sur"
https://lists.gnu.org/archive/html/libtool-patches/2020-06/msg00001.html

[2020-11-16 16:57] raffenet commented on #4865
Closing due to lack of follow-up.

[2020-11-16 16:57] #4865 closed

[2020-11-16 17:44] hzhou opened #4914 "mpi4: add HW_SUBDOMAIN type to MPI_Comm_split_type"
link:
  * https://github.com/mpi-forum/mpi-issues/issues/132
  * https://github.com/mpi-forum/mpi-issues/issues/156

[2020-11-16 17:45] hzhou opened #4915 "mpi4: support MPI_INFO_ENV before MPI_Init"
link:
* https://github.com/mpi-forum/mpi-issues/issues/143

[2020-11-16 17:46] hzhou opened #4916 "mpi4: nonblocking sendrecv"
link:
* https://github.com/mpi-forum/mpi-issues/issues/125

[2020-11-16 17:47] hzhou opened #4917 "mpi4: info query"
link:
* https://github.com/mpi-forum/mpi-issues/issues/63

It seems we don't need do anything for this issue. Will close once confirmed.

[2020-11-16 17:48] hzhou opened #4918 "mpi4: deprecate MPI_T_ERR_INVALID_ITEM"
link:
* https://github.com/mpi-forum/mpi-issues/issues/60

[2020-11-16 17:50] hzhou opened #4919 "mpi4: deprecate cancel send"
link:
* https://github.com/mpi-forum/mpi-issues/issues/26

Not sure what we need do. Maybe add code comments so we are aware of the deprecation.

[2020-11-16 17:52] hzhou opened #4920 "mpi4: implication of MPI_Comm_free"
link:
* https://github.com/mpi-forum/mpi-issues/issues/7

We should add error checking for use after MPI_Comm_free.

[2020-11-16 18:03] hzhou opened #4921 "mpi4: Update MPIR_being_debugged scope to include MPI processes"
link:
* https://github.com/mpi-forum/mpi-issues/issues/5

Not sure what we need do for this yet.

[2020-11-16 18:13] hzhou opened #4922 "mpi4: MPI_dims_create when ndims is zero"
link:
* https://github.com/mpi-forum/mpi-issues/issues/72
* https://github.com/mpi-forum/mpi-issues/issues/34

[2020-11-16 18:18] hzhou opened #4923 "mpi4: missing fortran constants in C binding"
link:
* https://github.com/mpi-forum/mpi-issues/issues/306
* https://github.com/mpi-forum/mpi-issues/issues/307

[2020-11-16 18:27] hzhou opened #4924 "mpi4: check misc clarifications"
link:
* https://github.com/mpi-forum/mpi-issues/issues/263
* https://github.com/mpi-forum/mpi-issues/issues/262
* https://github.com/mpi-forum/mpi-issues/issues/259
* https://github.com/mpi-forum/mpi-issues/issues/257
* https://github.com/mpi-forum/mpi-issues/issues/252
* https://github.com/mpi-forum/mpi-issues/issues/182
* https://github.com/mpi-forum/mpi-issues/issues/119

[2020-11-16 18:28] hzhou opened #4925 "mpi4: abort behavior"
link:
* https://github.com/mpi-forum/mpi-issues/issues/1
* https://github.com/mpi-forum/mpi-issues/issues/3

[2020-11-17 14:42] #4892 closed

[2020-11-17 15:39] raffenet commented on #4891
#4906 is complete for MPI-4.0 purposes. I am thinking more about the thread safety needs of these functions, and am not sure additional protection is needed.

For instance, if an application is removing a dynamic error code or class, then it is the application's responsibility to ensure it is not removed while it is still in use. I.e. if another thread might potentially query for more information,

[2020-11-17 16:09] hzhou commented on #4891
The particular issue "#152" only mentions the thread-safety rather than making those functions available before init, right? I believe it is another ticket mentions that. @raffenet  Could you find the link of that ticket and add to the description?

As for thread-safety, you are arguing for the practical reasons, which is beyond the scope of the standard. Per standard, we need ensure these functio

[2020-11-17 16:28] #4893 closed

[2020-11-17 16:32] raffenet commented on #4891
https://github.com/mpi-forum/mpi-issues/issues/102 made them available before/after init.

Yes, I agree they are already thread-safe. I think we are on the same page.

[2020-11-17 17:18] raffenet commented on #4915
One piece of background for this ticket: Sessions introduces the ability to manipulate Info objects before init (and after finalize) of MPI. MPI_T also will take advantage of this capability.

Because of the requirement to be available outside of initialization, all related Info manipulation functions must always be thread-safe.

[2020-11-17 18:52] shintaro-iwasaki commented on #4915
If it is the case, the problem would be using atomic operations for "thread-safety" before `MPI_Init()`.

[2020-11-18 14:55] #4891 closed

[2020-11-18 15:48] raffenet commented on #3054
This is resolved by the new pipeline AM interface added by @yfguo.

[2020-11-18 15:48] #3054 closed

[2020-11-19 15:49] shintaro-iwasaki commented on #4918
I'd like to ask an acceptable solution for this issue.

### Background

An error code `MPI_T_ERR_INVALID_ITEM` has been inadvertently added but this meaning is the same as `MPI_T_ERR_INVALID_INDEX`, so `MPI_T_ERR_INVALID_ITEM` should be "deprecated".  At present only `MPI_T_enum_get_item()` uses this error code in MPICH.

#### Solution 1: change `MPI_T_enum_get_item()` to return `MPI_T_ERR_INVALID

[2020-11-19 16:07] hzhou commented on #4918
The MPICH 4.0 is expected to create a new ABI.

[2020-11-19 21:32] #4922 closed

[2020-11-20 14:35] #4918 closed

[2020-11-23 20:34] #4913 closed

[2020-11-24 18:17] bnicolae opened #4937 "Hydra hangs waiting for children forked by MPI ranks (instead of only waiting for its own children)"
Hydra is waiting for detached forked processes even after all MPI ranks have exited (and thus become zombies). The following code reproduces the issue on mpich 3.3.2 when using more than one rank.

[code]

[2020-12-03 22:15] yfguo commented on #4787
@carsten-clauss I have tried the patched posted in https://www.mail-archive.com/libtool-patches@gnu.org/msg07391.html. Unfortunately, it seems breaking the C++ building of MPICH. After some digging and trying, I come up with a version that works with MPICH build. You can find it at https://gist.github.com/yfguo/5b7dc6edbf79e358a18e0d3dd72f8b94 . Does this looks good from your side?

[2020-12-04 07:40] rdietric opened #4944 "Broken check for errno after strtol"
The check of the `errno` value after `strtol` might lead to a wrong detected error:

https://github.com/pmodels/mpich/blob/934e9ebcf4de11ce03abc2c2d219f1d9a26eddbb/src/pm/hydra/pm/pmiserv/pmip_utils.c#L566

A previous library call could have set `errno`. Hence, `errno` should be set to zero `errno = 0;` before the call to `strtol`. The proposed check from https://linux.die.net/man/3/strtol:

[code

[2020-12-14 17:15] hzhou commented on #4920
The ticket essentially clarifies for the behavior we already do.

[2020-12-14 17:15] #4920 closed

[2020-12-14 17:17] hzhou commented on #4919
Will check and add notes to the man page

[2020-12-14 20:50] raffenet commented on #4882
These hints are already registered in `main` https://github.com/pmodels/mpich/blob/main/src/mpi/comm/commutil.c#L158-L168. I will create a PR to move the tests for setting/getting them from `test/mpi/impls/mpich` to `test/mpi/comm` and verify they are 4.0 standard compliant.

[2020-12-23 23:58] #2051 closed

[2021-01-04 20:26] hzhou opened #4976 "bug/jenkins: timeout with rma/win_dynamic_rma_flush_get_collattach"
Encountered this failure in PR #4974, only in `ch4/ofi - am-only` config.  I don't think it is related to the PR and it probably is intermittent. Creating this issue to track.

[code]

[2021-01-05 14:30] hzhou commented on #4976
another timeout with `ch4/ofi - am-only` in PR #4967 :
[code]

[2021-01-05 17:05] shintaro-iwasaki commented on #4917
I checked the discussion.  It seems that basically the change implied by the discussion forces the existing MPI implementation (e.g., `MPI_Comm_info_get()`) to return either ...
1. an exact value that was passed by the user (e.g., `MPI_Comm_info_set()`) if it is not ignored by the implementation, or
2. `NULL` (i.e., MPI_Info does not contain such a key) if it is ignored by the implementation.

Acc

[2021-01-05 17:53] hzhou commented on #4917
For the `set_info`:
<img width="961" alt="image" src="https://user-images.githubusercontent.com/1496702/103680987-899feb80-4f4c-11eb-828f-4526551d6c99.png">

For the `get_info`:
<img width="828" alt="image" src="https://user-images.githubusercontent.com/1496702/103681082-a5a38d00-4f4c-11eb-8ec5-d19e9ec7ba6f.png">

[2021-01-05 17:56] hzhou commented on #4915
[code]

[2021-01-05 18:00] shintaro-iwasaki commented on #4917
@hzhou Thanks a lot!

[2021-01-05 18:06] shintaro-iwasaki commented on #4917
Yes, according to the spec, the runtime should return `"1"` if the user passed `"1"` even if internally the runtime accepts it as `true`. For the same reason, it means that the runtime should return `"  1024 "` if the user passed `"  1024 "` even if MPICH accepts this as `1024`.

Does the solution 1 (save every user's hint string in addition to the actually used `int` value) look okay?

[2021-01-05 18:15] hzhou commented on #4917
That is pedantic to the point of making both "user" and "implementor"'s life miserable 😨

I would strongly try to "do nothing". @shintaro-iwasaki Could you cite the words and reasoning that would argue "do nothing" breaks the standard?

cc @raffenet

[2021-01-05 20:02] hzhou commented on #4917
As I read the discussions, it has always about whether the implementation can change the "*semantic*" values  of an info key to the more restrictive semantic meaning. There is nothing about whether user says 1, we reply "Yay, true". I.e. that is not a sematic change. Besides, I don't think the discussion is even about that, it is more about if the previous info hints value is "false", now the user

[2021-01-05 20:28] shintaro-iwasaki commented on #4917
I still believe it should return the original value as it is. From the users' perspective, if the value is changed (even if equivalence is obvious for humans), it is hard to programmatically check if the value is accepted or not especially because it is returned by "string".

Implementing this change is not a big deal (just creating a linked list or something), but I also agree that this change is

[2021-01-05 20:30] #4887 closed

[2021-01-06 16:39] roblatham00 commented on #4851
reopen.  this is not fixed on my laptop.  i'm sorry i did not test this before the 3.4 release.

When I run my modified cpi with calls to jansson routines and linked against spack-built jansson@2.13.1 i get a segfault in collective selections:

[code]

GDB says;
[code]

[2021-01-06 17:06] roblatham00 commented on #4851
`modules/json-c/config.log` confirms that json-c was build with the embeded option:

[code]

and I do see `-fvisibility=hidden` in the generated Makefile

[2021-01-06 17:07] roblatham00 commented on #4851
the `json-c` in my working repository looks pretty recent.  last commit was c496a735 of 18 december 2020.

[2021-01-06 18:52] thierry-FreeBSD opened #4979 "bad configure in the 3.4 package"
configure.ac seems correct, but the generated configure included in the 3.4 tarball fails.

The hereunder patch fixes it:

[code]

[2021-01-07 14:55] hzhou commented on #4851
@roblatham00 I just tested your modified `cpi` code with the latest `main`, it worked without an issue.

[2021-01-07 16:52] jschleus opened #4982 "Codespell report for "MPICH" (on fossies.org)"
The FOSS server [fossies.org](https://fossies.org) - supporting also the "MPICH" project - offers among others a feature named "[Source code misspelling reports](https://fossies.org/features.html#codespell)". Such reports are normally only generated on request, but as Fossies administrator I have just created for testing purposes such a [codespell](https://github.com/codespell-project/codespell) b

[2021-01-07 17:20] hzhou commented on #4982
This is nice!

[2021-01-08 15:19] raffenet commented on #4135
gavl tree in MPL uses anonymous struct/union, too. PETSc folks ran into this in their builds - they still use ch3. https://github.com/pmodels/mpich/blob/cd216a2a3af59cdddeca11ac3452e57dfa1869e8/src/mpl/include/mpl_gavl.h#L45-L53

I don't really see the point of using the union here, since it only saves 1 pointer worth of storage. I am going to propose flattening it completely.

[2021-01-08 15:24] hzhou commented on #4135
Union is semantically cleaner so we know the fields used exclusively for different purposes. I think we should just add name to the union and struct.

[2021-01-08 15:28] raffenet commented on #4135
Fair enough. We can use `u` for the union. Any suggestion for the struct portion?

[2021-01-08 15:29] hzhou commented on #4135
"s"? :)

[2021-01-08 15:34] raffenet commented on #4135
Heh, I'll go with that. I think if I spend any more time on this, I'll end up making a bunch more changes 😆 .

[2021-01-08 15:57] brandongc commented on #4720
Same issue with 3.4 release

[2021-01-08 22:32] roblatham00 commented on #4851
well you're right:  a clean environment (MCS GCE node) does not show this problem .   ok, thanks for fixing it.

[2021-01-08 22:32] #4851 closed

[2021-01-08 23:03] brianv0 opened #4987 "config.guess in release tarball is old for json-c and ucx modules, even after running autogen.sh."
Compiling mpich 3.4 in conda-forge recipe initially failed when cross-compiling for Apple arm64 in the json-c module. This seemed to me to be related to old versions of config.sub/config.guess in the release tarball in combination with autogen.sh not updating them (it seems like the force (timestamp on those files is 2014). autogen.sh seemed to also not update ucx module files as well.

I couldn't

[2021-01-11 23:11] mchaarawi opened #4990 "build: --disable-error-checking build broken"
when configuring with --disable-error-checking, i get a compile error:

[code]

[2021-01-12 18:20] pkubaj opened #4993 "Fails to build on FreeBSD/powerpc64"
Building mpich 3.4 on FreeBSD/powerpc64 with LLVM 11.0.1 errors with:
[code]

Indeed, clang doesn't define those. Instead, it defines:
[code]

[2021-01-14 02:41] hzhou opened #5002 "gpu: add info hints to disable gpu buffers"
The first step for GPU support is to query a buffer address whether the buffer is from CPU memory or device. This query overhead can be very big causing a significant slowdown for applications even when they are directly using CPU memory. Since a user often knows directly their memory origin or they may already paid the query cost, it is undesirable for a user to pay the cost again or again multip

[2021-01-15 05:45] jedbrown opened #5004 "vendored hwloc build fails when OpenCL headers are present"
The MPICH internal fork does not contain https://github.com/pmodels/hwloc/commit/3fabd821b3daed7814ce74322b98fdc5775f1dd0 and https://github.com/pmodels/hwloc/commit/b73267b119fb52e8329784c142e023bbb7ef8cf5, which removes dependence on `cl_ext.h` and definitions that are not consistently provided by vendors.
<details>

I encountered the build error below on Arch Linux with opencl-headers providing

[2021-01-19 22:57] #4915 closed

[2021-01-20 06:26] yfguo opened #5014 "build: configure failure for MPL with autoconf 2.70"
The configure step fails with the following message when using autoconf 2.70. It was working fine with autoconf 2.69.

[code]

As Ken has pointed out in an early Slack message that `https://github.com/pmodels/mpich/blob/main/src/mpl/configure.ac#L429` seems to be the cause.

It seems autoconf is doing a major update (https://lwn.net/Articles/834682/). According to the release note (https://lwn.net

[2021-01-20 14:28] #4888 closed

[2021-01-20 15:32] raffenet commented on #5014
The timer discovery macro is pretty messy (lots of unnecessary nesting). I think we should address it first, and worry about the warnings later.

[2021-01-22 14:21] #4916 closed

[2021-01-22 21:05] RaymondMichael opened #5020 "OFI receive code assumes invalid WC behavior"
The OFI receive code for huge receives incorrectly assumes that all OFI providers return the receive buffer address in the Work Completion object. MPIDI_OFI_get_huge_event() uses WC.buf as the receive buffer base address in the call to fi_read(). The man page for fi_cq(3) says though that the field is only valid when FI_MULTI_RECV was used. Storing the receive buffer address in WC.buf is convenien

[2021-01-22 22:03] eborisch opened #5021 "[DOC] MacPorts version is now at 3.4"
Also, I've dropped the development-tracking branch, so the _devel_ link can be removed on the download page under MacPorts.

Thanks for the excellent software!

[2021-01-22 22:04] hzhou commented on #5020
Interesting. Do we know any provider that doesn't set buffer address in cq entry?

[2021-01-25 12:49] RaymondMichael commented on #5020
HPE Slingshot does not put the buffer address in the CQ WC

[2021-01-25 22:08] scivision opened #5026 "MacOS Intel oneAPI config error"
I am using the latest Intel oneAPI 2021.1 compiler on MacOS 10.15 with latest xcode, with the MPICH 3.4 release.

[code]

fails with the following in config.log and console. I wonder if stdio.h is not getting included?
[code]

[code]

[2021-01-25 22:28] hzhou commented on #5026
Somehow the early test of `stdio.h` and `AC_HEADER_STDC` both failed. Could you locate the earlier config logs on that?

[2021-01-25 22:36] hzhou opened #5027 "misc: autogen the F08 interface"
Currently, the F08 interface are only partially generated by `./src/binding/fortran/use_mpi_f08/buildiface` and `./src/binding/fortran/use_mpi_f08/wrappers_c/buildiface`. We still need manually add entries for every function interface, very tedious. We should have script to generate the entire interface.

[2021-01-26 15:00] scivision commented on #5026
[config.log](https://github.com/pmodels/mpich/files/5874077/config.log)

[2021-01-26 15:18] hzhou commented on #5026
Thanks for the log, here is what I found:

Somehow `AC_HEADER_STDC` failed with Intel oneAPI. Here is a work around --

Locate both `aclocal_f77.m4` and `aclocal_fc.m4` in `contrib` folder, search all places that `#include <stdio.h>` that is guarded by `#if defined(HAVE_STDIO_H) || defined(STDC_HEADERS)`, remove the `if-`guard .

Let me know if that works for you.

I don't know what value of that

[2021-01-27 00:58] Masber opened #5028 "make faile because pmi.h file is missing"
Hi,
I am trying to install mpich 3.3.2 with slurm capabilities so I can run mpi through srun.
this is how I configure it

` ./configure --with-pmi=slurm --with-pm=no`

And this is the error I am getting when I run make:

[code]

Any idea how to solve this issue?

thank you

[2021-01-27 03:37] hzhou commented on #5028
Does it work if you add `CFLAGS=-Isrc/pmi/include`?

[2021-01-27 10:06] haampie opened #5029 "Build issue clang 6 w.r.t. float16"
To reproduce:

[code]

* **Spack:** 0.16.0-997-aa8e026242
* **Python:** 3.8.7
* **Platform:** linux-ubuntu20.04-zen2
* **Concretizer:** clingo

[code]

Seems like float16 support is detected for clang 6.0.0, but it leads to a linking error. Maybe it takes the wrong rt lib or something?

[2021-01-27 14:53] raffenet commented on #5028
You should be picking up a `pmi.h` file from the SLURM installation. The one in MPICH will not be compatible. You can specify `--with-slurm=<path/to/install>` if it is not available in the default environment.

[2021-01-27 15:26] Masber commented on #5028
Hi, I tried the following:
[code]
and process looks ok, however I can't run any program now:
[code]

[2021-01-27 15:30] hzhou commented on #5028
As @raffenet said, the pmi.h in `src/pmi/include` is the wrong header (my bad for suggesting it). Could you try `--with-slurm=path/to/slurm`? If it still can't find `pmi.h`, could you try locate where `pmi.h` is inside the `slurm` path?

[2021-01-28 06:16] yfguo commented on #4924
Checked the standard text and code, here are the results.

mpi-forum/mpi-issues#263 -- errata, no code change needed
mpi-forum/mpi-issues#262 -- clarification, no code change needed
mpi-forum/mpi-issues#259 -- clarification, no code change needed
mpi-forum/mpi-issues#257 -- errata, no code change needed
mpi-forum/mpi-issues#252 -- errata, no code change needed
mpi-forum/mpi-issues#182 -- errata, n

[2021-01-28 06:16] #4924 closed

[2021-01-28 19:11] shintaro-iwasaki opened #5036 "Global lock is taken recursively"
The following takes `MPID_THREAD_CS_ENTER(GLOBAL, MPIR_THREAD_GLOBAL_ALLFUNC_MUTEX)` recursively (`PMPI_Neighbor_alltoall()` and `MPII_Comm_get_attr()`), causing an issue.

[code]
It happened when coll/neighbor_alltoall + async threads + Argobots.

I ran into this issue with Argobots, so I'm not sure if this path is meant to be taken (all tests should have passed with the default MPICH + Pthreads)

[2021-01-28 21:25] hzhou commented on #5036
Thanks @shintaro-iwasaki I think the same failures are in the nightly async tests (with `pthreads`). In stead of calling `MPII_Comm_get_attr`, internally we should call `MPIR_Comm_get_attr_impl` instead.

I'll make a PR fix this.

[2021-01-29 14:30] #5029 closed

[2021-01-30 15:17] keszybz commented on #4534
This seems to be related to the patch that replaces vasprintf. The bundled json-c submodule has this patch: https://github.com/pmodels/json-c/commit/1f0713f80303154d07d9221a7398b6fbc5c0fa6d.
With this patch (version 3.4.1), I get the following:
[code]
Reverting 1f0713f80303154d07d9221a7398b6fbc5c0fa6d makes tests pass.

[2021-01-31 19:25] #5036 closed

[2021-01-31 23:13] eborisch opened #5041 "mpich 3.4.1 on OSX [Catalina]: mapped_table[i] != FI_ADDR_NOTAVAIL"
EDIT: (To avoid burying the lede) it's not related to which compiler is being used (there were other differences in play, described below).

Compiling with CH3 works, as well as CH4 with MPIR_CVAR_OFI_SKIP_IPV6=1 (at least in a single-system, multiple process test).

---
I'm the MacPorts MPICH package maintainer; thanks for the excellent software!

We're (as in myself and others) running into the

[2021-01-31 23:49] hzhou commented on #5041
If one compiler works and the other doesn't, then it is not the `ipV6` issue discussed in the referenced mailing list. I suspect this is due to some issue in the `libfabric` compilation. We used to have issues with `gcc` on mac, but it seems different again this time. If you can help us narrow it down, it will be very helpful. Does it work with previous MPICH versions, e.g. 3.4? Does it work with

[2021-02-01 01:24] eborisch commented on #5041
The other user who reported the issue was on 3.4, so that answers that question.

I will try gcc10; I unfortunately don’t have an older Mac to test on, and the fact that it compiles and installs OK means I can’t use MacPorts’ automated build infrastructure to inform us, either.

[2021-02-01 05:28] eborisch commented on #5041
Clang10 vs. native clang may have been a red herring; the _working_ clang10 version was built with some different options; let me run down which ones make it work and I'll get back to you. (I can make a not-working clang10 version, too.)

[2021-02-01 17:06] raffenet commented on #4534
Just for a little more background for when we come back to this issue:

**What is the failure:** This test failure is from the internal testsuite of the `json-c` submodule, which gets triggered via `make check` at the top level of the repo.

**How we got here:** Using a system `vasprintf` proved difficult on all our supported systems, so at some point I made the submodule default to the included f

[2021-02-01 17:26] hzhou commented on #4534
@raffenet do we know how to fix the "fallback" for Valgrind?

[2021-02-01 17:28] raffenet commented on #4534
No, I haven't spent any time looking in-depth. Looks like buffer overrun from the output.

[2021-02-01 18:55] keszybz commented on #4534
What systems were those? `vasprintf` is widely-available, so I don't think it makes sense to introduce a duplicate and most likely slower replacement for all users, when 99% don't need it.

[2021-02-01 19:17] raffenet commented on #4534
I don't remember the exact details. My guess is Solaris compilers, using strict flags, can make non-standard utilities unavailable.

The duplicate implementation was introduced by the upstream `json-c` developers, not the MPICH team.

[2021-02-01 19:58] raffenet commented on #5021
Downloads page is updated.

[2021-02-01 19:58] #5021 closed

[2021-02-01 22:52] eborisch commented on #5041
So it works when built with --enable-fast=all; which I believe sets -DNDEBUG and disables this assert. (I haven't had time to dig in to see if the condition being tested would still fail, but I would guess that it does.)

Caveat: On the mac, I develop and run only locally -- I run truly distributed only on linux; the "working" versions that I have I can only say are _for certain_ working with mult

[2021-02-01 22:56] hzhou commented on #5041
The assertion checks whether the address exchange -- thus establishing the libfabric connection -- is successful. So if that assertion fails, libfabric will fail later with more mysterious errors for sure. On a local node, all communication goes through shared memory, so libfabric is nearly entirely bypassed. Nevertheless, it will be an incorrect build.

[2021-02-01 23:01] hzhou commented on #5041
By the way, the big change in 3.4 release is we switched from default `ch3` to `ch4`. `ch3` uses native sockets by default. So if the target users for macports doesn't care about ch3 vs ch4, then `--with-device=ch3` is still available in 3.4 release and the future 4.0 release as well. The ch4 comes with new multi-threading support and gpu support. But typical mac users probably don't care either.

[2021-02-02 04:55] eborisch commented on #5041
That was my concern; I’ll update MacPorts to use ch3. If you have any other suggestions for settings, I’m always open to suggestions. Thanks again!

[2021-02-02 05:00] hzhou commented on #5041
You are welcome. We'll keep this ticket open until we resolve the issue with ch4 libfabric.

[2021-02-02 23:20] abrooks98 opened #5048 "gpu: direct-netmod builds fail due to lack of MPL_gpu_init call"
In #4640, the call to `MPL_gpu_init` was moved from `MPIR_Init_thread` to `MPIDI_GPU_mpi_init_hook`, resulting in `MPL_gpu_init` being called only if the GPU shmmod is enabled. As a result, GPU-enabled direct-netmod builds fail because `MPL_gpu_init` is never called.

In order to support GPUs in direct-netmod builds, `MPL_gpu_init` should either be moved to a generic location, or called in a direc

[2021-02-03 01:13] hzhou commented on #5048
@abrooks98 Could you describe which parts in netmod is failing because of this?

[2021-02-03 01:37] hzhou commented on #4878
The basic session implementation has been merged. Ref. #5016, #5013 #5015 #5025

[2021-02-03 04:08] titolagarto opened #5050 "Need help:Raspberry Pi Cluster"
i have ubunto desktop in master node and I configured everything but when I went to run a program in C these errors appeared.

Master Node: Raspberry pi 4 Model b+
Nodes: Raspberry pi 3  Model b+

I'm flowing this tutorial: https://help.ubuntu.com/community/MpichCluster

[code]

[2021-02-03 14:10] hzhou commented on #5050
Are the masters and nodes running the same version of MPICH?

[2021-02-03 15:03] abrooks98 commented on #5048
I believe only GPU-enabled tests are failing (i.e. anything from `testlist.gpu`s)

[2021-02-03 15:09] hzhou commented on #5048
Aha, I see. Maybe this is the reason that all the gpu tests are failing -- https://jenkins-pmrs.cels.anl.gov/view/mpich-review/job/mpich-review-ch4-gpu/compiler=gnu,jenkins_configure=default,label=gpu,netmod=ofi/26/console

[2021-02-03 15:38] titolagarto commented on #5050
now that I saw, no, the master is in version 3.3.2 and the nodes are in version 3.2
how can i update the nodes to the version 3.3.2?

[2021-02-03 15:45] hzhou commented on #5050
It will be much easier if you mount the shared folder on all nodes (including master) to the same path. For example, you may mount the shared folder to `/mirror` as well on master. Then you can install mpich to a path in `/mirror`. That way, you will always running the exact same binary on all nodes and master.

[2021-02-03 16:15] leofang opened #5051 "Installing 3.4.x fails with OS X + cmake + Fortran"
Hello, not sure if this is a duplicate of #5004: We (Conda-Forge) experienced several failures when downstream packages try to build MPI support against MPICH 3.4.x (we tested 3.4.0 and 3.4.1). The failure only happens with the following conditions:
- On OS X, non-M1 builds
- Using cmake
- Needs Fortran support

The build fails at cmake's FindMPI, here's a snippet of the error log:
[code]

Our wor

[2021-02-03 16:27] raffenet commented on #5051
Based on your experience, I would guess that it is related. Updating the `hwloc` submodule is on a shortlist of issues I plan to address for an upcoming 3.4.2.

[2021-02-03 16:43] leofang commented on #5051
@hzhou Unfortunately there's not much I can share other than directing you to the failed CI log (see below). We build MPICH for Linux (x86-64, ppcle64, aarch64) and Mac OS X (x86-64, arm64) and only this particular combination fails.

If it helps, this is the recipe for how we currently build MPICH (with the workaround flag added):
https://github.com/conda-forge/mpich-feedstock/blob/master/recipe/

[2021-02-03 23:58] titolagarto commented on #5050
well now is giving me another error

[code]

[2021-02-04 00:05] hzhou commented on #5050
One of your process had segfault. Does your program run without mpi, i.e. on a single process?

[2021-02-04 00:12] titolagarto commented on #5050
the output is:
[code]

the code is the file "hello.c" in the examples folder

[code]

[2021-02-04 00:25] hzhou commented on #5050
The program looks ok. Cound you try the latest mpich release?

[2021-02-04 00:26] titolagarto commented on #5050
how can i update mpich?

[2021-02-04 04:22] hzhou commented on #5050
It appears the stock mpich that came with raspberry pi is not good.  You can download the latest version from https://www.mpich.org/downloads/. Once unpacked, you may build it as:
[code]
I suggest disable fortran to make it build a bit faster on the raspberry -- well it will still be pretty slow.

Make sure you add `/mirror/bin` to your `PATH` and `/mirror/lib` to your `LD_LIBRARY_PATH`, and you s

[2021-02-04 05:28] titolagarto commented on #5050
ok just one more question, if i want to install on `/usr/bin` it´s just change in `--prefix=`?

[2021-02-04 07:40] titolagarto commented on #5050
i have installed on `/usr` for testing and runing on local with 4 cores is giving me this error:
[code]
now the version is 3.4

and when i try to run with the other nodes returns this:
[code]

[2021-02-04 07:44] titolagarto commented on #5050
A clean install of raspbian will help?

[2021-02-04 14:17] hzhou commented on #5050
You should confirm that you can run single process, i.e.`mpirun -n 1 ./mpi_hello` first.

Your `mpi_hello` may still be linked with old binary, you should recompile with your newly installed `mpicc`.

It is advisable to install mpi to a shared drive so the same binary and same path automatically works for all nodes.

[2021-02-04 15:02] RaymondMichael opened #5053 "MPI_*_init() functions do not support MPI_PROC_NULL"
None of the MPI_Send_init(), MPI_Recv_init(), etc functions support use with MPI_PROC_NULL. The functions return successfully, and MPI_Start() returns, but then MPI_Wait() hangs. This is because MPID_Startall() skips over any request with MPI_PROC_NULL. When MPI_Wait() later sees the request, it's still marked as incomplete but nothing is being done with it.

[2021-02-04 17:22] titolagarto commented on #5050
i compiled again and run on local with 4 cores it runs:

[code]

But when i run with multiple nodes returns me this error:

[code]
the error is from master or from the nodes?

[2021-02-04 17:30] hzhou commented on #5050
You are having inconsistent path between master and nodes.

[2021-02-04 17:31] titolagarto commented on #5050
so its the connection between the nodes and the master?

[2021-02-04 17:33] hzhou commented on #5050
The current design *require* mpich is installed at the exact same path across all nodes. Not only that, it requires the application that it launches have exact same path.

[2021-02-06 15:35] hzhou commented on #4889
Need support info hint `mpi_initial_errhandler`, which takes case insensitive value of
* `mpi_errors_are_fatal`
* `mpi_errors_abort`
* `mpi_errors_return`

For `MPI_Comm_spawn`, `MPI_Comm_spawn_multiple`, `MPI_Session_init`, and `mpiexec`.

[2021-02-06 16:19] hzhou commented on #4919
I don't think there is anything needs to be done for this deprecation, thus I am closing this issue.

[2021-02-06 16:19] #4919 closed

[2021-02-08 04:50] danielhollas opened #5058 "hydra_nameserver segfaults when multiple processes call MPI_Unpublish_name"
I have a somewhat untypical situation, where I am connecting separate programs via MPI.
I'm using the `MPI_Publish_name` and `MPI_Lookup_name` to establish communication via `hydra_nameserver`.
Here's roughly what I'm doing:

[code]

This works fine, until I try to launch two or more servers and want the client to establish communication with both of them:

[code]

In this case, `hydra_nameserver`

[2021-02-08 15:35] hzhou commented on #5058
Is it possible to obtain a backtrace?

[2021-02-08 16:48] roblatham00 commented on #4720
3.4.1 on cori using libfabric-1.11.0 seems even worse:

[code]

not sure why osu_latency is not working beyond 0 bytes.  'cpi' is working for me, though, as are a few of the MPI-IO benchmarks that I tried.

[2021-02-08 17:37] danielhollas commented on #5058
Here's what I'm getting from Valgrind running on MPICH 3.2.3 `hydra_nameserver`.

[code]

Note that with only 2 servers I've actually didn't see it crash, but it crashes reliably with 4 servers.

Sidenote: Is it okay to connect to `hydra_nameserver` with mpiexec with different MPICH versions? It seems to work...

[2021-02-08 17:53] hzhou commented on #5058
This seems buggy: https://github.com/pmodels/mpich/blob/fc7154c3952fd495461256d0344b0720b4e57e59/src/pm/hydra/tools/nameserver/hydra_nameserver.c#L213-L216

If you change the code to --
[code]
, does it fix the issue?

[2021-02-08 19:26] danielhollas commented on #5058
Ah, yeah, that does seem to fix that. :tada:  (tested on version `3.1.3`)

However, new problem appeared, sometimes the call `MPI_Lookup_name()` returns a port name that contains gibberish at the end. In that case, the `MPI_Comm_connect()` might still succeed. However, sometimes I get a complete gibberish and crash.
Valgrind doesn't return anything in this case.

For example, here's what I got as

[2021-02-08 19:43] danielhollas commented on #5058
Ah, look like this new issue has been already fixed in v3.3?

https://github.com/pmodels/mpich/commit/cb6deb3770a3c4a0ca1251190fcef59f2f6fd1f4

I'm currently compiling 3.4.1, will report how it goes.

[2021-02-08 20:27] danielhollas commented on #5058
Okay, so far 3.4.1 with the patch seems to work without issues. :tada:

@hzhou thanks for a quick diagnosis! LMK if you need anything more or if you want me to submit a PR.

While we're here, it would be great to update the documentation for the `hydra_nameserver`.
For example, the [hydra_nameserver.txt](https://github.com/pmodels/mpich/blob/fc7154c3952fd495461256d0344b0720b4e57e59/src/pm/hydra/to

[2021-02-08 20:55] hzhou commented on #5058
@danielhollas Glad it worked out for you! Yes, the documentations can be improved. PRs are welcome.

[2021-02-11 15:12] raffenet opened #5061 "binding/c: Skipping validation changes _impl function declaration"
In the MPI_T Events bindings, users are allowed to pass `NULL` to the `info` argument of `MPI_T_event_get_info` and `MPI_T_source_get_info`. I added `skip: validate-INFO` to remove a `NULL` check from the error-checking block. What resulted, in addition to the validation being removed, is the argument to `MPIR_T_[source|event]_get_info_impl` was incorrectly changed from `MPI_Info **info_ptr` -> `M

[2021-02-11 17:32] raffenet commented on #5061
@hzhou is the idea that the argument should just be passed thru and the _impl function will do any validation/conversion instead of the binding layer?

[2021-02-11 17:54] hzhou commented on #5061
The binding script processes handle conversion and parameter validation in a synchronized fashion, so `skip: validate-INFO` will skip both the validation and handle conversion. Typically `skip` means `_impl` wants to handle the original param directly.

Anyway, currently the binding script doesn't expect an "output" handle parameter can be `NULL`. If this is just a one-off thing (only one or two f

[2021-02-11 17:55] raffenet commented on #5061
OK, I can work with that.

[2021-02-11 17:55] #5061 closed

[2021-02-13 23:16] hzhou commented on #4812
@raffenet I finally located this text from MPI specification:
[code]
I guess what you were saying all along is: in `mpi_base.f90`, we currently are omitting "choice buffer" routines; and we could/should add them using above suggestions? Yeah, I think we can do that.

I guess the flip side is we may break compilers that doesn't support `IGNORE_TKR` extensions. Hopefully all our supported compilers

[2021-02-14 23:46] isuruf commented on #5051
Upstream report to cmake: https://gitlab.kitware.com/cmake/cmake/-/issues/21741

[2021-02-15 09:48] spickartz opened #5068 "Error while building the testsuite on MPICH 3.4.1"
After running

[code]

under `test/mpi`, `runtests` reports:
[code]

When running
[code]

instead, I get:
[code]

I tested this on the `mopish-3.4.1.tar.gz` release tarball. Do you have any idea what I am doing wrong here?

[2021-02-15 14:27] hzhou commented on #5068
Unfortunately in 3.4.1 `--without-Cuda` doesn't work. The only solution is either to ensure Cuda library doesn't get picked up by `configure` or use `--with-cuda=path-to-Cuda` to make sure Cuda library will be consistently picked up during the build. A future release will address this issue.

[2021-02-15 14:38] spickartz commented on #5068
Okay, thanks for the quick response! `--with-cuda=path-to-Cuda` seems to work for me.

[2021-02-15 14:38] #5068 closed

[2021-02-16 16:51] shintaro-iwasaki opened #5070 "Locks in MPIDI_set_progress_vci()"
## Problem

The current implementation of `get_vci_wrapper()` in `ch4_wait.h` returns `0` when a request is not "real". https://github.com/pmodels/mpich/blob/main/src/mpid/ch4/src/ch4_wait.h#L20-L21
This request will not be checked in the `MPIR_Test/Wait_xxx()` functions, but at least it takes a global lock (`vci[0]`'s lock) in  `MPIDI_set_progress_vci(_n)()`.
https://github.com/pmodels/mpich/blob

[2021-02-16 19:18] hzhou commented on #5070
The quoted code is for *persistent* request. When persistent request doesn't have a real request associated, it isn't even started. Only the real request need progress at the device layer. None device native request are entirely handled above device, thus doesn't have a vci association, at least not in the sense of virtual network interface contention. All non-dvice request need to use the same lo

[2021-02-16 19:24] hzhou commented on #5070
If we don't enter vci lock, wouldn't there be a risk of getting garbage value if another thread is updating the count?

`state->progress_counts[i]` is used to track when progress are made -- by comparing when `MPIDI_global.progress_counts[vci]` is advanced beyond `state->progress_counts[i]`. So they are not always the same.

[2021-02-16 19:54] shintaro-iwasaki commented on #5070
Thanks @hzhou!

This is quite counterintuitive to me since even `MPI_Send()` that uses a different communicator needs to refer to `vci[0]` although `MPI_Recv()`, for example, uses a VCI that is associated with that communicator. For example, `Waitall()` for `Isend()` seems taking `vci[0]`'s lock in `MPIDI_set_progress_vci_n()` while `Waitall()` for `Irecv()` takes another lock (e.g., `vci[3]`'s lo

[2021-02-16 20:48] hzhou commented on #5070
`MPI_Isend` and `MPI_Irecv` will only use the vci determined by hashing (currently by sequence number in the communicator). They do not always refer to `vci[0]`

[2021-02-16 21:45] shintaro-iwasaki commented on #5070
Thanks. After the discussion with @hzhou, the first problem seems happening because currently `MPI_Waitall()` does not have a request completion check and unnecessarily enters progress engine even though all/most of the requests have been completed (e.g., when requests are lightweight ones). I will investigate this issue.

The second question is not solved. I don't think this lock is necessary. I'

[2021-02-16 22:19] hzhou commented on #5070
`MPID_Progress_test` always returns (which is different from `MPID_Progress_wait` which have the concern of sticking in progress forever due to missed `progress_count`. What should be concerned here is the counts are not recent enough and `MPID_Progress_test` may skip device progress altogether due to progress made immediately. I am just commenting on the two issues that are of concern regarding t

[2021-02-17 18:11] kostukm commented on #4534
Hello, mpich 3.4.1 stable release fails to build on my system due to this test:
$ cat /etc/*release
CentOS Linux release 8.2.2004 (Core)
$ gcc --version
gcc (GCC) 8.3.1 20191121 (Red Hat 8.3.1-5)

[code]

Valgrind gives "Invalid write of size 1"

I will also report to json-c@googlegroups.com

Thank you

[2021-02-19 00:20] ARSanderson commented on #5041
I have nothing very substantive to add but I am currently running MacOS 11.2 (aka Big Sur) and ran into the same issue.  I am building my own version of MPICH using the native clang compiler (Xcode) and after adding the --with-device=ch3 flag to the configure my version worked as expected.

[2021-02-19 00:42] hzhou commented on #5041
Oh, on macos it is known that we need disable IPv6 for ofi sockets to work. You can do that by setting environment variable `MPIR_CVAR_OFI_SKIP_IPV6=1` -- if you ever want to retry ch4:ofi. Ch3 works.

--
Hui Zhou

From: ARSanderson <notifications@github.com>
Date: Thursday, February 18, 2021 at 6:21 PM
To: pmodels/mpich <mpich@noreply.github.com>
Cc: Hui Zhou <hzhou321@anl.gov>, Comment <comment@

[2021-02-19 00:44] hzhou commented on #5041
Sorry that I only recall the IPv6 issue now 😞

[2021-02-19 16:34] eborisch commented on #5041
Setting this to MPIR_CVAR_OFI_SKIP_IPV6=1 works (at least for single-machine test with multiple processes.)

[2021-02-22 04:32] scivision commented on #5026
this turned out to be the configure script needing CPPFLAGS to be defined even if C++ interfaces were not used. Thank you.

[2021-02-22 04:32] #5026 closed

[2021-02-23 18:20] minsii commented on #4720
Trying mpich/main with libfabric/master gni on Cori. I can reproduce the same issue that processes hang at 8K with osu_latency.  Looking into the problem now.

[2021-02-24 04:36] minsii commented on #4720
To narrow down this bug, I let rank 0 performs only `MPI_Send` while rank 1 performs only `MPI_Recv`. I also tried a single message size at a time (e.g., run ./osu_latency 16384:16384). Then, an assertion failure occurs when size >= 16384 (see below). Note that all smaller messages were fine.
[code]

The bug happens at the MPICH AM pipeline send/recv path with ofi/gni. Roughly speaking, it seems t

[2021-02-24 04:42] minsii commented on #4720
Btw, looks like ofi/gni supports both `FI_RMA ` and `FI_TAGGED` according to [provider matrix table](https://github.com/ofiwg/libfabric/wiki/Provider-Feature-Matrix-master). We should enable these capabilities in mpich/ofi. By doing so, the above bug might disappear too (hidden but not resolved)

[2021-02-24 04:48] hzhou commented on #4720
I think this is due to we deleted `GNI` capability set -- https://github.com/pmodels/mpich/pull/2985, In particular, this commit https://github.com/pmodels/mpich/pull/2985/commits/bb7c0f43e94d3d823cfcc09ef9ab1352816eff5e

@minsii Could you try revert that commit and try setting `MPIR_CVAR_OFI_USE_PROVIDER=gni` and see if it fixes it.

[2021-02-24 04:49] minsii commented on #4720
I can try. But as I said, it only hides the bug, but not really resolves it (i.e., it will no longer trigger AM pipeline with ofi/gni).

[2021-02-24 04:51] hzhou commented on #4720
I agree. We should keep following the real issue, but that shouldn't be an excuse for us to leave it broken.

[2021-02-24 23:17] #5053 closed

[2021-02-25 15:31] minsii commented on #4720
The issue is not completely resolved by #5085. We still need [libfabric #6593](https://github.com/ofiwg/libfabric/pull/6593) or make changes in mpich (e.g., passing a pointer to NULL rather than NULL as msg.desc).

[2021-02-25 15:39] raffenet commented on #4720
Thanks @minsii! I'll cherry-pick this back to the 3.4.x branch, as well.

[2021-03-01 19:13] raffenet commented on #5028
Closing due to lack of response.

[2021-03-01 19:13] #5028 closed

[2021-03-01 19:16] raffenet commented on #4979
So the issue is that `stddef.h` is not included when it should be for this test? `configure` is generated from `configure.ac` by autoconf, so this fix needs to made there. @sudheer9 maybe you could take a look?

[2021-03-01 19:18] raffenet commented on #4990
@sudheer9 should be somewhat straight-forward to investigate/fix this build issue.

[2021-03-01 19:49] hzhou commented on #4990
@sudheer9 Both files are now auto-generated. Make sure to check whether the error still exists in the `main` branch first.

[2021-03-02 02:50] #3820 closed

[2021-03-02 11:46] cesarpomar opened #5093 "Open_port and Connect fails on ch4:ofi"
I try to connect two process launched by mpirun using functions Open_port/Accept and Connect. The code works with ch3 but when I use the same code with ch4 not work. I have tried with two processes on the same and different hosts.

when I call the funcion connect the libfabric conn fails:
`Assertion failed in file src/mpid/ch4/netmod/ofi/ofi_spawn.c at line 581: conn != FI_ADDR_NOTAVAIL`

I try to

[2021-03-02 13:56] hzhou commented on #5093
Could you dump the port_name string?

[2021-03-02 14:15] cesarpomar commented on #5093
yes, "tag#0$connentry#02009296C0A8010D0000000000000000$"

[2021-03-02 15:01] hzhou commented on #5093
Thanks. That string looks okay. It just says "192.168.1.13:38546", which is a normal IP:port address. Did you try using embedded libfabric? For example, `--with-libfabric=embedded`

[2021-03-02 19:14] cesarpomar commented on #5093
Thanks. I recompile with `--with-libfabric=embedded` and no changes. I tested in my computer, in a cluster and inside a clear ubuntu docker image.

I use the following script:

[code]

[2021-03-02 20:09] hzhou commented on #5093
Thanks. I appreciate your patience. Do you have a simple test program that you can share? We have tests in our test suite and they are clean in our nightly tests. Maybe testing on the same test program can help narrow down the issue.

[2021-03-02 20:52] cesarpomar commented on #5093
Sorry, -with-libfabric=embedded it’s works, I forget recompile one of binaries.
Thanks for your support.

[2021-03-04 15:17] raffenet opened #5097 "mpl: Timer API should report max ticks"
For the MPI_T Events work, the MPL timer interface was updated to expose raw ticks and the number of ticks in a second. What is missing is an API to expose the maximum number of ticks a timer will report before the value rolls over. Propose to add a new API:
[code]
or
[code]

[2021-03-04 15:19] raffenet commented on #5097
@sudheer9 this should be a good issue to familiarize yourself with MPL (MPICH Portability Library) and how it fits into the MPICH architecture.

[2021-03-04 15:22] raffenet commented on #5097
Relevant FIXME in the code:
https://github.com/pmodels/mpich/blob/fee75f61b38e22720e23cbc88f7595c20cec78fe/src/mpi_t/events_impl.c#L73

[2021-03-04 16:47] hzhou commented on #1858
@raffenet Can we close this ticket once #5095 merges?

[2021-03-06 15:55] hzhou commented on #5050
@titolagarto I am closing this ticket. If you still need help, please feel free to re-open it and start a new ticket.

[2021-03-06 15:55] #5050 closed

[2021-03-06 15:57] hzhou commented on #5041
PR #5083 has set `MPIR_CVAR_OFI_SKIP_IPV6` to true by default, thus a separate user remedy is no longer needed.  I am closing this ticket now. Feel free to re-open or open a new issue if the problem persists.

[2021-03-06 15:57] #5041 closed

[2021-03-06 16:07] hzhou commented on #5004
MPICH main has been updated with hwloc 2.4.1 in #5059. I am closing this issue. If the problem persists, please feel free to re-open the ticket.

[2021-03-06 16:07] #5004 closed

[2021-03-06 16:27] hzhou commented on #4807
Close as #4819 is merged

[2021-03-06 16:27] #4807 closed

[2021-03-06 16:30] hzhou commented on #5027
F08 interface is now autogenerated with #5056

[2021-03-06 16:30] #5027 closed

[2021-03-06 20:12] hzhou commented on #4944
Thanks for reporting issue. Just opened a PR #5107 to fix it. From what I understand, just setting `errno` to `0` and check the non-zero status is sufficient for detecting error since we don't care about the exact cause of the error anyway.

Sorry it took so long for us to address the issue.

[2021-03-06 23:08] jeffhammond opened #5109 "v3.4.1 release tarball does not contain submodules"
What is the point of having GitHub releases if they do not include the submodules required to make the thing work?

If this is a bug in GitHub, I guess you should just close it, but it's rather disappointment that an explicitly Git oriented source hosting serving can't work properly with fundamental Git features like submodules.

[code]

[2021-03-07 01:33] jeffhammond opened #5110 "modules/ucx/src/ucm/malloc/malloc_hook.c", line 603: error #1902: use of a const variable in a constant expression is nonstandard in C"
This is a bug in UCX but it's blocking MPICH builds with the NVIDIA C compiler so I'm putting it here for tracking.

This was already reported to UCX in https://github.com/openucx/ucx/pull/5620 and https://github.com/openucx/ucx/issues/5602.

[code]

[2021-03-07 01:43] jeffhammond opened #5111 "build: ch4-ucx on aarch64"
# Error
[code]

# Reproduce
[code]

[2021-03-07 04:28] hzhou commented on #5109
The tarballs from GitHub release pages are generated by Github automatically -- presumably just snapshots of the tag point. The official release of MPICH is at https://www.mpich.org/downloads/.

[2021-03-07 22:03] hzhou commented on #4659
I just verified that this has been fixed by the new python C binding generations.

[2021-03-07 22:03] #4659 closed

[2021-03-08 00:23] hzhou opened #5115 "build: move binding generation to configure"
Currently, we generate the bindings, especially the Fortran bindings at autogen. Not only it wastes time when user doesn't need the Fortran binding, but it also cannot easily take configure options and selectively generate the correct code. In particular, this ticket https://github.com/pmodels/mpich/issues/4005.

To be able to properly fix the issue, we need to move the binding generation steps fr

[2021-03-08 07:38] dalcinl opened #5116 "Regression: MPI_Op_commutative() with MPI_NO_OP"
This is MPICH 3.4.1 with `ch4:ucx` built on Fedora 33 with GCC 10.2.1

[code]

Calling `MPI_Op_commutative()` with `MPI_NO_OP` fails internal assertion and aborts.

[code]

[2021-03-08 08:23] dalcinl opened #5117 "Regression: MPI_Start() and MPI_PROC_NULL"
This is MPICH 3.4.1 with `ch4:ucx`. I got a regression in mpi4py's testsuite.  Below a trivial reproducer. Same problem for `{S|B|R}send_init()`.  Additionally, `Recv_init()` deadlocks at `req.Wait()`.

[code]

[2021-03-08 08:59] dalcinl opened #5118 "Regression: Memory leaks in group operations returning the empty group"
This is MPICH 3.4.1 with `ch4:ucx` configured with `--enable-g=all`.

 I'm getting a bunch of memory leaks in mpi4py tests related to group operations that return the empty group. Looking at the source code in current master, the problem is rather obvious. The call to `MPL_free(flags);` should be done AFTER the `fn_exit:` label. Such fix will also prevent these memory leaks in case of errors going

[2021-03-08 09:17] dalcinl opened #5119 "Regression: Memory leak in MPI_Ireduce_scatter_block()"
This is MPICH 3.4.1 with ch4:ucx configured with --enable-g=all.

I'm getting a bunch of memory leaks in mpi4py tests related to `MPI_Ireduce_scatter_block()`.

[code]

Looking at the source code in current master, file `src/mpi/coll/ireduce_scatter_block/ireduce_scatter_block_intra_sched_recursive_halving.c`, the problem is rather obvious, if `total_count` is zero, you jump to `fn_exit` and the m

[2021-03-08 10:44] dalcinl opened #5120 "Regression: MPI_Open_port() returns garbage"
This is MPICH 3.4.1 with `ch4:ucx`.

MPI_Open_port() returns garbage.

Looking at the source code in function MPIDI_UCX_mpi_open_port, the `port_name` string is not initialized.

Could you please add a trivial `port_name[0] = 0;` line ?

[2021-03-08 11:36] dalcinl opened #5121 "Regression: MPI_Comm_disconnect() leaks memory"
This is MPICH 3.4.1 with `ch4:ucx`.

[code]

[2021-03-08 14:38] hzhou commented on #5117
Thanks for reporting the bug. I believe this bug is fixed by https://github.com/pmodels/mpich/pull/5074.

[2021-03-08 14:44] raffenet commented on #5109
I can upload official tarballs to Github just so there's something there that's usable.

[2021-03-08 14:55] jeffhammond commented on #5109
Don't do it for me, but I think it's going to eventually trip up someone who thinks that GitHub is the right place to download tarballs and doesn't know about the MPICH page.

I'm also profoundly disappointed that GitHub releases don't automatically comprehend submodules.

[2021-03-08 17:10] dalcinl commented on #5117
@hzhou Indeed, #5074 is the proper fix. Sorry for the noise.

[2021-03-08 17:10] #5117 closed

[2021-03-08 17:13] raffenet commented on #5117
I'll include the fix in a 3.4.2 release sometime soon.

[2021-03-08 17:26] raffenet opened #5123 "mpi_t: MPI_T_event_free_cb_function can be NULL"
MPICH should check if the user passed `NULL` and not try to execute a free callback function in that case.

[2021-03-08 17:51] dalcinl commented on #5116
Side note/question, with MPICH 3.3 I get the following:

[code]

I know commutativity is kind of irrelevant for these two operations, but form their definition, I would argue that they are not commutative. Should I open another issue?

[2021-03-08 19:33] hzhou commented on #5116
Thanks. I think we probably will fix both at the same time, so another issue is not necessary. Your follow-up comment is very helpful though.

[2021-03-08 22:39] sudheer9 commented on #4990
@mchaarawi @hzhou I tested configuring with --disable-error-checking in `main` branch and do not see the above error. The build passes successfully.

[2021-03-08 22:44] hzhou commented on #4990
@sudheer9 Could you check 3.4.1 release? -- Just for understanding.

[2021-03-08 23:36] jeffhammond opened #5131 "Cannot link MPICH 3.4.1 with embedded libfabric with NVC on ARM"
I do not understand this issue.  I wonder if NVC handles inline symbols differently than other compilers.

# Error
[code]

# Reproduce
[code]

[2021-03-09 05:33] sudheer9 commented on #4990
@hzhou checked with the 3.4.1 release and do not see the issue, could not reproduce the build error noted above.

[2021-03-09 15:32] hzhou opened #5133 "bug: shmem collective does not work with non-uniform proc binding"
There is a bug in `src/mpid/ch4/shm/src/topotree.c`, where each process allocates initial shared memory based on topo_depth. However, when the processes are bind to different levels, different processes will end up accessing different shmem size, resulting in memory errors.

For example, most collective tests involving the shmem collective path will fail when we pass hydra this binding option: ` -

[2021-03-09 16:17] hzhou commented on #4371
Just realized that `MPICH_PORT_RANGE` is to control "MPICH"'s behavior rather than `MPIEXEC`s behavior. I know this is a bit confusing. There are two different sets of connections. First, the process manager needs to connect to control processes. This connection is needed for coordinating process management. Then once the processes are launched, each MPI processes need to connect to each other ind

[2021-03-09 17:02] #5123 closed

[2021-03-09 17:32] mchaarawi commented on #4990
i just tried with latest main, and it worked for me. so it seems this issue was fixed at some point.

[2021-03-09 18:12] sudheer9 commented on #4990
Thanks @mchaarawi, closing the issue.

[2021-03-09 18:12] #4990 closed

[2021-03-09 22:29] #4914 closed

[2021-03-09 23:05] travisk1154 commented on #4388
I have submitted a [PR](https://github.com/pmodels/mpich/pull/5135) that fixes this issue. There was no code that handle this environment variable and we felt that it should stay so I've added some.

[2021-03-10 16:03] #5119 closed

[2021-03-10 16:09] #5120 closed

[2021-03-10 16:18] #5116 closed

[2021-03-10 21:49] jeffhammond opened #5139 "cannot link Fortran library on ARM with NVFortran: PIC not working as claimed"
Attempts to use PIC as instructed fail to have the desired result.  I cannot link MPICH Fortran libraries with NVFortran.

# Configuration
[code]

[code]

[code]

# Error
[code]

[c.log](https://github.com/pmodels/mpich/files/6119041/c.log)
[m.log](https://github.com/pmodels/mpich/files/6119043/m.log)
[m2.log](https://github.com/pmodels/mpich/files/6119044/m2.log)

[2021-03-10 23:39] #4944 closed

[2021-03-10 23:45] #5058 closed

[2021-03-10 23:49] danielhollas commented on #5058
@hzhou thanks for the fix! :tada: Do we know roughly when the fix becomes available in the next official release?

[2021-03-11 00:16] hzhou commented on #5058
It will come in the next 4.0a2 release in June. @raffenet will probably cherry pick this fix to the 3.4 branch and make it into 3.4.2 release as well. But I don't think we have decided when to make the 3.4.2 release yet.

[2021-03-11 12:51] dalcinl opened #5140 "MPI_Type_get_contents: assignment to array of size zero"
After running mpi4py's testsuite under valgrind with current main branch, I  got:

[code]

Looking at the source code, the issue is obvious: `array_of_datatypes` may be a pointer to an array of size zero, so it should not be unconditionally assigned to. Please protect the assignment with:
[code]

[2021-03-11 12:58] dalcinl commented on #5140
BTW, should't this routine also use `MPIR_ERRTEST_ARGNEG` with the thee `int max_*` arguments?

[2021-03-11 13:47] dalcinl opened #5141 "bug: valgrind warnings for ch4:ofi conn_manager_destroy"
This is current main with `ch4:ofi` on Fedora 33. Perhaps it is a consequence of using `-O2`, I'll build again without optimization and report back if there are any changes.

[code]

[2021-03-11 13:58] dalcinl commented on #5141
After reconfiguring with `--enable-fast=none`, now I get more output, but all pointing to the same line as before:

[code]

[2021-03-11 14:13] hzhou commented on #5140
We have completely revamped the C binding layer, which handles the parameter validations, in mpich 4.0 series. The mentioned protection of assignment has already been added. It is a good advice to also check `max_*` against negative values. Just pushed PR fix this. Thanks for the issue!

[2021-03-11 14:29] hzhou commented on #5141
Thanks for the report. I'll look into it.

[2021-03-11 14:46] dalcinl commented on #5140
@hzhou Sorry, I'm confused. Do you mean that the first issue above (assignment to `array_of_requests`) is already fixed in `main`? If yes, then I'm totally lost.

I just ran git pull, git clean, and then autogen.sh, then I see this:

[code]

Now I realize that this file is autogenerated. Well, then the error is somewhere else. I have to insist. Line 102 is wrong. If `max_datatypes` is zero, then `

[2021-03-11 14:50] hzhou commented on #5140
Oh, that is a bug. Sorry, I misunderstood it. I'll fix it.

[2021-03-11 15:00] dalcinl commented on #5140
Don't you guys have any tests that would catch this issue? I guess the problem is that you do not have any test explicitly passing `max_datatypes=0, array_of_datatypes=NULL`.

[2021-03-11 15:54] hzhou commented on #5140
We have, but, apparently, not complete.

[2021-03-11 16:05] dalcinl commented on #3174
@hzhou Looks like the previous issues I was experiencing are fixed in current `main`. However, I still see a few code leftovers, for example in function `MPIR_Typerep_create_resized()`:

[code]

Perhaps the `alignsize` gets overwritten at a later stage? Most likely not, I guess my testing is not so comprehensive to trigger the issue.

Maybe a trivial fix for the leftover I mention above (and other

[2021-03-11 16:10] hzhou commented on #3174
Thanks for reminding us. I'll look into it.

[2021-03-11 20:15] #4979 closed

[2021-03-11 20:52] travisk1154 commented on #4054
Rlog has been removed as of this [PR](https://github.com/pmodels/mpich/pull/5113). The documentation has been updated as well. Marking this issue as closed.

[2021-03-11 20:53] #4054 closed

[2021-03-12 00:23] minsii commented on #4815
After `module unload darshan-runtime`, I see a different PMI error when running with `mpich/main` + `jsrun`.

### MPICH/main configure:
[code]
Note: $MPI_ROOT was set by `spectrum-mpi/10.3.1.2-20200121`

### Compile test program:
[code]

### Execution command with an interactive allocation (two ranks running on a single node)
[code]

### Error
Abort at `src/util/mpir_pmi.c line 1105`:
[code]

###

[2021-03-12 00:25] minsii commented on #4815
@raffenet Can you please suggest the right fix for the above PMIx bug? I did a naive fix (increasing value of `pmi_max_val_size` ) on summit and now `mpich/main + jsrun` finally works.

[2021-03-12 00:25] minsii commented on #4815
TODO: Both hydra and jsrun works with mpich/main on Summit now. Going to write note to https://wiki.mpich.org/mpich/index.php/Summit

[2021-03-12 01:05] hzhou commented on #4815
Changing the `pmi_max_val_size` will still break if the business card exceeds the new limit, although seems unlike today.

In `put_ex`, we do the segmentation when `#if defined(USE_PMI1_API) || defined(USE_PMI2_API)`, but not when `USE_PMIX_API`. If you remove the `#if -` switch, and *always* do the segmentation, will it work?

[2021-03-12 02:06] hzhou commented on #3174
@dalcinl Oh, it is fixed because we switched to a different datatype engine (`yaksa`) in `ch4`. If you try `ch3`, you will see your old familiar bug 😄

[2021-03-12 02:20] hzhou commented on #3174
I am going to take your suggestion! In fact, I believe it was the intention when we added `MPIR_Datatype_builtintype_alignment()`, but at that time we were only looking at `struct`, thus neglected the other cases.

Thanks for not giving up on your old issue :)

[2021-03-12 02:30] minsii commented on #4815
`segmentation` does not seem to be the right solution to me. PMI1 and PMI2 had such approach because they have the `PMI2_MAX_VALLEN` limit and require the user to provide the recv buffer.
[code]
But such a limit does not exist in PMIx anymore (I don't read PMIx spec careful enough, please correct me if wrong). And now the temporary recvbuf is allocated by PMIx internally.
[code]
An initial thought

[2021-03-12 03:04] hzhou commented on #4815
The user still need allocate the recv buffer. I think the reason to have `MAX_VALLEN` is not so much as `PMI` can't deliver a huge message. It is mostly an interface thing. Without reasonable `MAX_VALLEN`, we'll always need extra API for the user to work -- first query the size, allocate the buffer, then copy value out.

[2021-03-12 03:17] hzhou commented on #4815
Oh, the tricky part is we are not put/get the original message directly, we are transmitting the encoded message, which is bigger than the original message and thus won't fit into the user-allocated buffer. I guess if we can assume the encoded message is double the size of original message and thus allocate that size for recv buffer. But honestly I don't think it is elegant either. The segmentatio

[2021-03-12 10:53] dalcinl commented on #3174
Oh! Of course! Thanks for your prompt action.

[2021-03-12 16:36] #4982 closed

[2021-03-12 16:47] #3174 closed

[2021-03-12 16:54] #5140 closed

[2021-03-12 18:25] minsii commented on #4815
@hzhou I don't understand the PMI code well enough, thus cannot make a design decision now. I will try to spend more time on it and fix later. I guess the fix is not super urgent as we can workaround it by either increasing the buffer or switching to hydra on Summit.

[2021-03-12 21:00] raffenet commented on #4815
One thing we can investigate with PMIx is using `pmix_byte_object_t` rather than string type for the business cards. We may be able to skip the encode/decode step entirely and just send the raw address+size in a single step.

[2021-03-13 00:06] minsii commented on #4815
@raffenet why do we have the encode/decode steps in PMI1/PMI2?

[2021-03-13 00:30] hzhou commented on #4815
Because the PMI1/PMI2 protocol only handles ascii strings, I believe.

[2021-03-13 00:46] #89 closed

[2021-03-13 00:47] #90 closed

[2021-03-13 00:49] #122 closed

[2021-03-13 00:50] #288 closed

[2021-03-13 00:51] hzhou commented on #289
@sudheer9 Do you think you can verify the status of this issue?

[2021-03-13 00:52] #304 closed

[2021-03-13 00:54] #411 closed

[2021-03-13 00:55] #594 closed

[2021-03-13 00:56] #608 closed

[2021-03-13 00:56] #621 closed

[2021-03-13 00:57] #631 closed

[2021-03-13 00:58] #730 closed

[2021-03-13 00:59] #773 closed

[2021-03-13 01:01] hzhou commented on #908
@sudheer9 Can you confirm the status of this issue?

[2021-03-13 01:07] hzhou commented on #933
Not in demand. Close for now.

[2021-03-13 01:07] #933 closed

[2021-03-13 02:14] #1036 closed

[2021-03-13 02:19] #1058 closed

[2021-03-13 02:20] #1067 closed

[2021-03-13 02:27] hzhou commented on #1074
Closing this issue as a duplicate to #4853. Leaving the newer issue for better motivation

[2021-03-13 02:27] #1074 closed

[2021-03-13 02:28] hzhou commented on #4853
Reference #1074 has more background discussions.

[2021-03-13 02:30] hzhou commented on #1087
No plan to update ch3.

[2021-03-13 02:30] #1087 closed

[2021-03-13 02:33] hzhou commented on #1124
No longer apply.

[2021-03-13 02:33] #1124 closed

[2021-03-13 02:34] #1155 closed

[2021-03-13 02:35] #1438 closed

[2021-03-13 02:36] #1459 closed

[2021-03-13 02:39] #1483 closed

[2021-03-13 02:43] #1526 closed

[2021-03-13 02:44] #1545 closed

[2021-03-13 02:45] #1548 closed

[2021-03-13 02:48] #1595 closed

[2021-03-13 02:49] hzhou commented on #1602
I believe this issue no longer exist.

[2021-03-13 02:49] #1602 closed

[2021-03-13 02:51] #1625 closed

[2021-03-13 02:52] #1632 closed

[2021-03-13 02:53] #1636 closed

[2021-03-13 02:57] hzhou commented on #1640
OPA has been removed

[2021-03-13 02:57] #1640 closed

[2021-03-13 03:00] hzhou commented on #1650
Seems we have adopted the solution of simply put hwloc to mpich. Wonder is there extra overhead of initializing hwloc that we wish to optimize? Anyway, close for now.

[2021-03-13 03:03] hzhou commented on #1654
@raffenet Can you provide more descriptions/background on this ticket? I am not clear on what is supposed to do here.

[2021-03-13 03:05] hzhou commented on #1669
I believe this is an old machine issue that we no longer interested in fix or even verify.

[2021-03-13 03:05] #1669 closed

[2021-03-13 03:07] hzhou commented on #1670
Need to verify the status of running Reduce OP using `MPI_AINT/MPI_COUNT/MPI_OFFSET` when Fortran is disabled.

[2021-03-13 03:11] hzhou commented on #1679
@minsii Does this issue only apply to ch3? Does it still exist? Do we still need to fix it?

[2021-03-13 03:16] hzhou commented on #1704
Is there value to keep `--enable-alloca` option? If we always deem it low priority and advise user not to use, then we should just remove the option.

[2021-03-13 03:17] hzhou commented on #1721
I believe it no longer applies now that we generate the C binding in a standard way.

[2021-03-13 03:17] #1721 closed

[2021-03-13 03:18] hzhou commented on #1735
`ch3` will not be updated for enhancements.

[2021-03-13 03:18] #1735 closed

[2021-03-13 03:20] hzhou commented on #1737
Close this issue unless there is new user request.

[2021-03-13 03:20] #1737 closed

[2021-03-13 03:22] #1750 closed

[2021-03-13 03:29] hzhou commented on #1767
I think many of the places referred to in this ticket may no longer there, especially since recent effort of embiggening for MPI4. Anyway, there is plane to make mpich clean with -Wconversion #5069, which should give us a better ticket or maybe just fix it once for all. So closing this issue for now.

[2021-03-13 03:29] #1767 closed

[2021-03-13 14:34] #1779 closed

[2021-03-13 14:35] #1780 closed

[2021-03-13 14:37] #1783 closed

[2021-03-13 14:44] #1790 closed

[2021-03-13 14:59] hzhou commented on #1789
With current `main` `ch4:ofi`,
[code]

[2021-03-13 15:09] hzhou commented on #1788
With `ch4` (`yaksa`),
`twovec` - OK
`nestvec` -
[code]
`nestvec2` -
[code]
`indexedpack` -
[code]

[2021-03-13 15:12] hzhou commented on #1788
We need somehow get these tests into at least nightly Jenkins tests.

[2021-03-13 15:15] hzhou commented on #1795
Seems ok on my local testing. I am closing this one for now. We should get `perf` tests run in nightly jenkins. That way we can keep the issue always updated.

[2021-03-13 15:15] #1795 closed

[2021-03-13 15:18] hzhou commented on #1799
I think this is not supposed to work. `localhost` can't be used for internode connection. Closing it for now.

[2021-03-13 15:18] #1799 closed

[2021-03-13 15:19] hzhou commented on #1803
There will be no plan to update ch3.

[2021-03-13 15:19] #1803 closed

[2021-03-13 15:21] hzhou commented on #1804
This has been fixed, I believe. We no longer use `MPI_Count` in `MPI_Status` structure. In stead, we always use uniform integers, splitting the `MPI_Count` into two integers for portability.

[2021-03-13 15:21] #1804 closed

[2021-03-13 15:24] #1818 closed

[2021-03-13 15:26] hzhou commented on #1818
I think this has been done. Current configure:
[code]

[2021-03-13 15:31] #1826 closed

[2021-03-13 15:38] hzhou commented on #1851
I am not sure this needs fixing. I think choosing a style that makes code read more easily -- e.g. `sizeof(id)` -- is not a bad style.

[2021-03-13 15:38] #1851 closed

[2021-03-13 15:41] hzhou commented on #1858
I want to link this PR https://github.com/pmodels/mpich/pull/5106, which adds better hydra testing.

Anyway, I think this ticket is now fixed. I didn't see any errors during testing. PR #5095, now merged, also added the option for ranges (https://github.com/pmodels/mpich/issues/1858#issuecomment-253876493).

Closing the issue.

[2021-03-13 15:41] #1858 closed

[2021-03-13 15:49] hzhou commented on #1888
This kind of error is more of a user error. 1. not common (as individually dependent) 2. better solved by "Stack Overflow" (a quick search, problem solved). I don't think adding complexity to mpich configure to account these corner cases (that can be more easily solved by the user) is a good idea. `configure` is already overly complex and extremely slow. And the complexity is adding more potential

[2021-03-13 15:49] #1888 closed

[2021-03-13 16:11] hzhou commented on #1949
Closed due to lack of specificity.

[2021-03-13 16:11] #1949 closed

[2021-03-13 16:12] hzhou commented on #1950
Closed to due to lack of specificity

[2021-03-13 16:12] #1950 closed

[2021-03-13 16:17] #2009 closed

[2021-03-13 16:24] hzhou commented on #2015
I am closing this issue for now as I am not sure the original issue is still relevant.

[2021-03-13 16:24] #2015 closed

[2021-03-13 16:36] hzhou commented on #2046
@minsii Do you think `MPI_Win_flush` is needed for correctness?

[2021-03-13 17:01] #2186 closed

[2021-03-13 17:04] hzhou commented on #2188
@minsii I believe we have this optimization in ch4 already, right?

I am closing this for now. Reopen if necessary.

[2021-03-13 17:04] #2188 closed

[2021-03-13 17:06] hzhou commented on #2194
I suspect https://github.com/pmodels/mpich/pull/4902 may have addressed this issue

[2021-03-13 17:08] hzhou commented on #2207
Close as I am not sure it is still relevant.

[2021-03-13 17:08] #2207 closed

[2021-03-13 17:19] hzhou commented on #2231
Seems #2733 fixed this issue.

[2021-03-13 17:19] #2231 closed

[2021-03-13 17:20] hzhou commented on #2246
I believe the current main branch is warnings clean

[2021-03-13 17:20] #2246 closed

[2021-03-13 18:43] hzhou commented on #2233
Closed for now as mentioned fault tolerance feature isn't being pursued.

[2021-03-13 18:43] #2233 closed

[2021-03-13 18:45] hzhou commented on #2236
I am marking the issue "stale" and closing it as we don't see clang build errors currently.

[2021-03-13 18:45] #2236 closed

[2021-03-13 18:47] hzhou commented on #2240
Marking stale and closing it due to no plan to further develop ch3

[2021-03-13 18:47] #2240 closed

[2021-03-13 18:48] hzhou commented on #2252
Need status update.

[2021-03-13 18:54] hzhou commented on #2274
Duplicate with #2022.

[2021-03-13 18:54] #2274 closed

[2021-03-13 18:58] hzhou commented on #2285
I believe this is no longer an issue. We routines do `-enable-g=all` testing

[2021-03-13 18:58] #2285 closed

[2021-03-13 18:59] hzhou commented on #2288
I am closing this issue as it is too broad. It should list the exact places that we think there is issue.

[2021-03-13 18:59] #2288 closed

[2021-03-13 19:01] hzhou commented on #2290
Not sure this is still relevant or worth pursuing. Close for now.

[2021-03-13 19:01] #2290 closed

[2021-03-13 19:05] hzhou commented on #2298
I think the issue is related to the make rules that triggers re-run of `buildiface` during make time. This probably will be fixed when we revamp the build rules for binding generation. I am closing this ticket now as it is unclear what is the solution or even what is the problem just based on the ticket.

[2021-03-13 19:05] #2298 closed

[2021-03-13 19:06] #2301 closed

[2021-03-13 19:12] hzhou commented on #2310
@raffenet is this ticket still relevant?

[2021-03-13 19:14] hzhou commented on #2313
The first step is https://github.com/pmodels/mpich/pull/5067 -- to configure test suite separately from building MPICH. It should simplify greatly.

[2021-03-13 19:17] hzhou commented on #2314
Potentially duplicate with https://github.com/pmodels/mpich/issues/2210. Both should be addressed at the same time anyway.

[2021-03-13 19:18] hzhou commented on #2315
Since it refers to ch3, I am closing it.

[2021-03-13 19:18] #2315 closed

[2021-03-13 19:21] hzhou commented on #2329
I am closing this as it is not clear if the issue is still relevant. Upon reopening, it should supply a reproducible case.

[2021-03-13 19:21] #2329 closed

[2021-03-13 19:48] hzhou commented on #2418
We have a VPATH nightly test now.

[2021-03-13 19:48] #2418 closed

[2021-03-13 19:53] hzhou commented on #2482
An alternative solution is to duplicate the CVAR definitions and let cvar scripts check duplications and warn if they are in conflict.

[2021-03-13 19:59] hzhou commented on #2529
This is currently being actively researched, but not directly linked to this issue. I am closing this issue now. The project can re-open this issue if they need tracking, hopefully with more relevant background.

[2021-03-13 19:59] #2529 closed

[2021-03-13 20:00] hzhou commented on #2530
Seems the issue is resolved by adding "bind-to" option. Thus I am closing this issue.

[2021-03-13 20:00] #2530 closed

[2021-03-13 20:01] hzhou commented on #2567
@raffenet Could you clarify this ticket?

[2021-03-13 20:04] hzhou commented on #2604
@raffenet Can this ticket be updated -- is it still relevant? Clarify what needs to be done?

[2021-03-13 20:07] hzhou commented on #2632
The mentioned FT functions are now generated in the `use mpi_f08` module.

[2021-03-13 20:07] #2632 closed

[2021-03-14 14:46] hzhou commented on #2657
[code]
The default is `all`

[2021-03-14 14:46] #2657 closed

[2021-03-14 14:54] hzhou commented on #3015
I think this has been fixed since it seems no longer an issue today.

[2021-03-14 14:54] #3015 closed

[2021-03-14 14:57] hzhou commented on #3357
Closing this issue as I believe we currently are warnings clean

[2021-03-14 14:57] #3357 closed

[2021-03-14 15:01] hzhou commented on #3365
I am going to close this as we are not going to resolve the discussion. Meanwhile, we are fixing the incompatibility on a on-going basis. Linking this PR https://github.com/pmodels/mpich/pull/5069, which aims to get `-Wconversion` warnings clean.

[2021-03-14 15:01] #3365 closed

[2021-03-14 15:07] hzhou commented on #3518
I think this is done.

[2021-03-14 15:07] #3518 closed

[2021-03-14 15:14] hzhou commented on #3573
We have added `--without-cuda` option.

[2021-03-14 15:15] hzhou commented on #3665
We should switch ch3:ofi to use embedded libfabric

[2021-03-14 17:28] hzhou commented on #4038
Need check build with external hwloc. If it works now then we should close this issue.

[2021-03-14 17:29] minsii commented on #2188
**MPIDIG** does not have such a storage. **OFI** already eliminates O(P) `MPIDI_OFI_WIN(win).winfo` based on runtime check, no matter the user hints are set or not. For **UCX**, looks like O(P) `MPIDI_UCX_WIN_INFO(win, i).disp` still exists and no optimization is applied. But, I would consider the memory optimization is minor and is not worth to optimize by paying the cost of more complex code.

[2021-03-14 17:29] hzhou commented on #4042
I think the plan now is to explore error-checking options to add more general collective error checking. Thus I am closing this ticket.

[2021-03-14 17:29] #4042 closed

[2021-03-14 17:32] minsii commented on #2046
Yes, I agree with Nathan that we need a flush to remotely complete `MPI_Rput`.

[2021-03-14 17:33] hzhou commented on #4135
The usage of anonymous struct in `mpl_gavl.h` has been fixed.

[2021-03-14 17:33] #4135 closed

[2021-03-14 17:34] hzhou commented on #4156
I think the direction is to abandon hydra2 and keep developing hydra. Thus, closing this issue

[2021-03-14 17:34] #4156 closed

[2021-03-14 17:35] hzhou commented on #2046
I see. That's a trivial fix. Let me push a PR for it.

[2021-03-14 17:37] minsii commented on #1679
I think it is a CH3 issue. Looks like I forgot to fix it (see task below). Would you mind helping me add the `-m64` job on jenkins so that we can catch similar error? I will try to finish the fix sometime next week.

There are actually other padding structures used in the current version (search padding | payload). Maybe it is the time to fix all together.
Besides, adding the -m64 flag in our jenk

[2021-03-14 17:40] hzhou commented on #2046
Actually, the current code already added `MPI_Win_flush`:
[code]

Closing this issue.

[2021-03-14 17:40] #2046 closed

[2021-03-14 17:44] hzhou commented on #4155
Closing `hydra2` issues

[2021-03-14 17:44] #4155 closed

[2021-03-14 17:45] hzhou commented on #4176
We'll focus on enhancing hydra rather than forking the maintenance over hydra2. Closing hydra2 issues.

[2021-03-14 17:45] #4176 closed

[2021-03-14 17:46] hzhou commented on #4241
Closing hydra2 issues.

[2021-03-14 17:46] #4241 closed

[2021-03-14 17:47] hzhou commented on #4142
#4141 has been merged. Closing this issue

[2021-03-14 17:47] #4142 closed

[2021-03-14 17:51] hzhou commented on #4173
This issue served its purpose for discussions. Since there is no clear action items, closing it for now.

[2021-03-14 17:51] #4173 closed

[2021-03-14 17:52] hzhou commented on #4220
The issue is now outdated.

[2021-03-14 17:52] #4220 closed

[2021-03-14 17:53] hzhou commented on #4203
Outdated.

[2021-03-14 17:53] #4203 closed

[2021-03-14 17:53] hzhou commented on #4175
Outdated

[2021-03-14 17:53] #4175 closed

[2021-03-14 17:54] hzhou commented on #4223
Close due to lack of response from OpenMPI team

[2021-03-14 17:54] #4223 closed

[2021-03-14 18:06] hzhou commented on #4227
It is not clear to me that there is such confusion exist or matters.

[2021-03-14 18:07] hzhou commented on #4245
The timeout is probably more due to the slow hardware on softiron.

[2021-03-14 18:09] hzhou commented on #4248
Closing it as it is not clear this requires a fix.

[2021-03-14 18:09] #4248 closed

[2021-03-14 18:11] hzhou commented on #4271
Outdated

[2021-03-14 18:11] #4271 closed

[2021-03-14 18:14] hzhou commented on #4300
The latest mpi_f08 module uses C proxy functions (the same mechanism as f90) rather than fortran proxy functions, thus we no longer relying on the compiler support of writing C-like functions (in particular, passing parameter by value) in fortran.

[2021-03-14 18:17] hzhou commented on #4300
Revised the title to reflect the goal of this ticket.

[2021-03-14 18:18] hzhou commented on #4308
Issue served its discussion purpose. Closing it since no immediate clear actions.

[2021-03-14 18:18] #4308 closed

[2021-03-14 18:21] hzhou commented on #4504
Added hwloc version check in https://github.com/pmodels/mpich/pull/5098

[2021-03-14 18:21] #4504 closed

[2021-03-14 18:23] hzhou commented on #4541
It is non-critical and easy to do, so one can just push a PR for it rather than leaving an issue that never will climb the priority list. Closing it for now.

[2021-03-14 18:23] #4541 closed

[2021-03-14 18:24] hzhou commented on #4542
Lowered to very low priority.

[2021-03-14 18:24] #4542 closed

[2021-03-14 18:25] hzhou commented on #4565
Closing due to (very) low priority.

[2021-03-14 18:25] #4565 closed

[2021-03-14 18:30] hzhou commented on #4649
Multiple-VCI for active messages is on-going. Meanwhile, this ticket served its purpose of tracking progress during 3.4 development. Thus closing it.

[2021-03-14 18:30] #4649 closed

[2021-03-14 18:32] hzhou commented on #4838
The consensus is to resist *any* ABI changes unless there is compelling reasons -- i.e. these isn't work around or with significant performance improvement.

Closing this issue for now.

[2021-03-14 18:32] #4838 closed

[2021-03-14 20:53] hzhou commented on #5109
Just uploaded the release tarballs for `mpich-4.0a1` and `mpich-3.4.1` to the github release page. I guess we'll always do this for the future release from now on.

Closing this issue unless more actions to be suggested.

[2021-03-14 20:53] #5109 closed

[2021-03-14 20:57] hzhou commented on #5093
If support for a specific pre-installed libfabric is required/desired, open separate issues as we will only support this on a case-by-case basis. Closing this issue.

[2021-03-14 20:57] #5093 closed

[2021-03-14 21:08] hzhou commented on #5014
It will require quite some effort. I think split this ticket into smaller issues may help to make progress. For example, we should --
* remove or replace (obsolete macros)[https://www.gnu.org/software/autoconf/manual/autoconf-2.69/html_node/Obsolete-Macros.html]
  This itself is quite daunting task, so further splitting down
  ** Identify a list of obsolete macros that we still uses
  ** replace `

[2021-03-14 21:13] hzhou commented on #4832
This issue has served its purpose for discussion/explanation. Since it doesn't point to immediate action, I am closing it.

[2021-03-14 21:13] #4832 closed

[2021-03-14 21:14] hzhou commented on #4677
Close due to lack of action and clear motivation.

[2021-03-14 21:14] #4677 closed

[2021-03-14 21:15] hzhou commented on #4730
Closing this issue now. Reopen if necessary.

[2021-03-14 21:15] #4730 closed

[2021-03-15 13:49] raffenet commented on #4815
That's right. Only PMIx supports binary blob data.

[2021-03-15 13:55] raffenet commented on #1650
There is definitely overhead in every process initializing hwloc. I think some folks on KNL-like systems actually have complained about this in the past. Hydra could share hwloc data over PMI. Or the node root could create a shm segment during init to share it. The latter is better for systems where Hydra isn't used.

[2021-03-15 14:15] hzhou commented on #1650
Have hydra create a shared memory sounds like a simple thing to do. It will allow mpich to skip the `init_shm ` creation as well. It can be provided as an optional feature thus won't break the backward PMI interface.

[2021-03-15 14:18] raffenet commented on #1650
But we still have to maintain the `init_shm` code for non-Hydra systems, right?

[2021-03-15 14:20] hzhou commented on #1650
Reopen the issue as the requested enhancement seems desirable.

[2021-03-15 14:33] raffenet commented on #1704
Probably OK to rip out the existing support. We can re-add it in a more targeted fashion if we decide there is a good use-case, i.e. for small buffer allocations in the communication path.

[2021-03-15 14:44] raffenet commented on #1804
Adding a note to say today we use integers for ABI purposes. Originally the status object had
[code]
We moved to the current scheme
[code]
to support larger counts without changing the makeup of the struct. We lucked out since the count and canceled values are only accessible thru API calls and not directly as struct members.

[2021-03-15 14:56] raffenet commented on #1654
Today, when users ask MPI to remap the ranks in a communicator with topology (to optimized nearest neighbor communication), MPICH does nothing. This ticket is supposed to track work to implement this functionality in MPICH.

The reality is that many applications handle this scenario themselves, since they cannot rely on a portable solution from MPI. The PR linked used the Scotch library, but my pr

[2021-03-15 15:00] raffenet commented on #2310
Not really. This is in the error checking realm and very low priority since any implementation would require additional data to be sent to the target for verification. I think we can just close it.

[2021-03-15 15:00] #2310 closed, assigned to nobody

[2021-03-15 15:05] hzhou commented on #1654
Thanks @raffenet . Can you amend the description to list the functions that we are supposed to enhance. Is it just `MPI_Cart_map`?

[2021-03-15 15:06] raffenet commented on #2567
I'm not entirely sure, to be honest. The description refers to how RMA windows cannot be created with inter-communicators, but I don't see how to distinguish an RMA context id at all in today's code. I'll look more closely to see if there's something I'm missing.

[2021-03-15 15:14] raffenet commented on #2604
`--with-pmi=bgq` fixed the issue they had. I don't think doing a Simple PMI client library module right now is the right use of effort since PMIx has much more traction.

[2021-03-15 15:14] #2604 closed

[2021-03-15 15:18] raffenet commented on #1679
I think we can rely on `ubsan` tests to find this error, so current Jenkins configurations should be sufficient.

[2021-03-15 15:22] raffenet commented on #4838
We should keep a list of these somewhere. It doesn't have to be an issue. Should we use a Github wiki page? Notes file?

[2021-03-15 15:26] raffenet commented on #1654
[code]

[2021-03-15 15:27] hzhou commented on #4838
Either is fine with me.

[2021-03-15 17:55] raffenet commented on #4838
Created https://github.com/pmodels/mpich/wiki/ABI-Change-Wishlist.

[2021-03-15 18:12] sscalpone commented on #5139
@jeffhammond I had good luck after adding FFLAGS=-fPIC to catch the F77 objects.

[2021-03-15 18:41] hzhou commented on #5139
I wanted to remove the F77 compiler dependency and always build mpich with `FC`. Haven't found a break to try it yet.

[2021-03-15 19:38] raffenet commented on #4245
Probably more accurate to say low core count. `ch3:sock` looks like it passes these tests consistently. I suspect due to lack of busy polling.

[2021-03-16 13:39] dalcinl opened #5147 "Issue with MPI_Issend() and MPI_Testall()"
This is with `ch4:ofi`, either 3.4.1 or main branch.

Consider the trivial code below. The last assertion fails. If I replace the synchronous-mode `Issend()` with the standard-mode `Issend()`, the the assertion pass.

[code]

PS: I left a comment to @hzhou in mpi4py/mpi4py#33 with a another example that used matched probes and receives, however that example fails with either `Issend()` or `Isend()

[2021-03-16 13:48] hzhou commented on #5147
@dalcinl `ch3` has a dedicated self-communication channel. In ch4, we haven't done that. There is no requirement from the standard that `Testall` needs to succeed on its first try even after the `recv` complete, right?

[2021-03-16 14:36] dalcinl commented on #5147
@hzhou LOL! Now you throw the standard in front of my face, too :rofl: !!! Yes, I believe your assessment is right. But I hope you agree such behavior is quite unintuitive, even more considering that the behavior changes by just replacing `Issend` by `Isend` (or is that just an accident?). The standard is large, it certainly has rough edges and corner cases, but its spirit has always been to align

[2021-03-16 15:01] dalcinl opened #5148 "MPI_WIN_SIZE attribute for dynamic windows in ch4:ofi"
Consider the following trivial code

[code]

Depending on the device, I get the following output printed:

| Device | Output |
| --- | --- |
| ch3 | `0 0` |
| ch4:ucx | `0 0` |
| ch4:ofi | `0 -1` |

May I request to fix `ch4:ofi` to also return size := 0 ?

[2021-03-16 15:07] dalcinl commented on #5147
With the current implementation, would it succeed in the second try? I'm still a bit confused, you said `ch4`..  Are both `ucx` and `ofi` supposed to behave similarly?

[2021-03-16 15:07] hzhou commented on #5147
It is a *side effect*, intuitive or not. The real question, is it of significance? Does the side effect allow better performance or simpler user code?

Semantically, send to self is no different from sending to peer. There may be optimizations with self-communication, but users can't depend on the "side effects" of optimization.

The difference between `Issend` and `Isend` is, the former need to w

[2021-03-16 15:10] hzhou commented on #5147
`ch4:ofi` has separate shared memory enabled. `ch4:ucx` handles shared memory inside `ucx` library.

[2021-03-16 15:17] hzhou commented on #5147
I am not sure. `Testall` will eagerly jump out of progress for any progress in order to shorten the latency. So it may take as many as the number of your messages to complete all of them.

[2021-03-16 16:00] dalcinl commented on #5147
OK, thanks for your explanations. This is all user code. Actually, it is test code, written on purpose that way. I'll update my testing accordingly.

[2021-03-16 16:00] #5147 closed

[2021-03-16 16:06] hzhou commented on #5148
Sounds reasonable :)

[2021-03-16 17:04] dalcinl opened #5149 "Accept/Connect failures with ch4:ofi"
I'm getting some Accept/Connect failures (segfaults) in mpi4py testsuite. Valgrind output is not clean. I get similar valgrind output with Spawn tests (with deadlock under valgrind). A a simple pure C code using MPI_Comm_spawn is also not clean under valgrind, similar output.

Any tips on how to provide more information to help sort this out?

[code]

[2021-03-16 18:54] hzhou commented on #5149
It is always a headache with Valgrind. We internally have moved to use `address sanitizer` and `undefined behavior sanitizer`. You can enable that with either `--enable-g=asan` or `--enable-g=ubsan`.

[2021-03-16 21:07] dalcinl commented on #5149
@hzhou Sorry, I got somehow confused, I think I found the real issue. I'm running main, debug, with ch4:ofi

The MPI standard says (my turn!) that for `MPI_Comm_connect()`, the `port_name` argument is used only at the root. I have some test code like the following:

[code]

and it fails this way:

[code]

`MPI_Comm_connect()` seems to be messing with `port_name` at non-root processes.  Perhaps an

[2021-03-17 14:32] leofang commented on #5149
Sorry for intruding. It is just so hilarious to see you guys throwing the standard at each other 😂

[2021-03-17 16:39] dalcinl commented on #5149
Well, we did not start this weaponization of the MPI standard. But now I'm trying to make a little fun out of it.

[2021-03-17 16:44] hzhou commented on #5149
It (the standard) is not just a weapon, it is mostly a shield. It makes your code more robust :)

[2021-03-17 19:35] #5148 closed

[2021-03-18 00:34] hzhou commented on #5149
@dalcinl You are correct. It is my negligence during the transition to the new binding generation infrastructure. Just pushed a PR to fix it. Thanks for the issue.

[2021-03-18 00:36] hzhou commented on #5149
Actually I am not sure what is causing this. Do you have a simple reproducer?

[2021-03-18 01:10] hzhou commented on #5051
I believe the dependency is picked up by `hwloc`. `hwloc` currently will pick a few libraries including `cuda`, `opencl`, `nvml`. I suspect mpich don't really depend on the features. @raffenet , should we disable all these during configure of the embedded hwloc?

[2021-03-18 07:08] dalcinl commented on #5149
The valgrind warning shows up with any trivial example that uses `MPI_Comm_spawn()`

[2021-03-18 07:51] dalcinl commented on #5149
@hzhou Would it be possible/reasonable for you guy to incorporate mpi4py's testsuite in your regular testing? I know it is a bit pretentious to ask this, after all mpi4py is a project maintained by a couple lone wolfs. But on the other side Python is nowadeays an extremely popular language, and for better of worse, mpi4py are the de facto Python bindings for MPI.

For example, I just run my testsu

[2021-03-18 08:05] leofang commented on #5149
Isn't that just you? 😂

Joke aside, if MPICH developers decide it's a valuable inclusion, if needed I am more than happy to work with you and help you set up a test infrastructure. I am sure @dalcinl will also be happy to share his experience in setting up a wide spectrum of CIs to get mpi4py tested against a couple of MPI implementations. IMHO in the long run it would make life easier for everyon

[2021-03-18 08:22] leofang commented on #5149
Perhaps I'm just repeating after Lisandro, but to further support this (although I believe it is an obvious fact) let me quote some statistics:
- Downloads last month: 85394 on PyPI (PyPI download stats https://pypistats.org/packages/mpi4py)
- Total downloads over time: 568446 on Conda-Forge (https://anaconda.org/conda-forge/mpi4py; I don't find breakdown statistics, if I do I'll update here)

Thi

[2021-03-18 13:41] hzhou commented on #5149
Sure, why not? :)

[2021-03-18 16:42] hzhou commented on #908
We currently do not directly support Windows. Close the issue for now.

[2021-03-18 16:42] #908 closed

[2021-03-18 20:42] sudheer9 commented on #3546
@hzhou I could not reproduce the reported behavior with the latest `master`.

[2021-03-18 21:01] hzhou commented on #3546
@sudheer9 Thanks. Could you try a few releases, e.g. v3.3.2, v3.4, v4.0a1, to get an idea at which point we fixed the bug?

[2021-03-18 21:03] sudheer9 commented on #2645
@dqwu @iulian787 if this is should still be an open issue. I could not reproduce this reported behavior with the lastet MPICH `master` on LCRC `Blues` system. I have tested with the latest available `gcc` `gcc/10.2.0` as well as with `gcc/5.3.0` on `Blues`.

[2021-03-18 21:43] dqwu commented on #2645
@sudhee9
See if you can still reproduce this issue with old mpich-3.2-gcc-5.3.0 module. However, if the latest MPICH module on Blues cannot reproduce it, we can consider closing this issue.

[2021-03-18 21:46] hzhou commented on #2645
@sudheer9 It is always good to test a few major release points to get an idea at which point we have fixed the issue.

[2021-03-18 21:56] sudheer9 commented on #2645
@hzhou sure, will test as suggested.

[2021-03-18 23:19] hzhou opened #5159 "testing: run mpi4py testsuite against mpich"
We should set up nightly/weekly tests for a few selected applications/libraries. It will help us discover more potential bugs/issues. It will also shorten the cycle of frequent bug-report-diagnosis-retry cycles. We'll start with `mpi4py`  -- thanks to the suggestion and offer to help by @dalcinl and @leofang. ref: https://github.com/pmodels/mpich/issues/5149

[2021-03-18 23:27] hzhou commented on #5159
Just checked out [mpi4py](https://github.com/mpi4py/mpi4py). First obstacle --
[code]

MPICH sets the datatype to `MPI_DATATYPE_NULL` when it is not available. And calling `MPI_Type_size_x(MPI_DATATYPE_NULL, ...)` is an error.

@leofang @dalcinl This line `@unittest.skipMPI('openmpi', MPI.CHARACTER.Get_size() == 0)` is the offending line. How do we do `@unittest.skipMPI(`mpich`, MPI_CHARACTER == M

[2021-03-19 02:26] #3308 closed

[2021-03-19 07:58] dalcinl commented on #5159
OK, so this is a relatively recent change, right? The fix is trivial:

[code]

PS: FYI, mpi4py's API is very close to the old C++ bindings.

[2021-03-19 08:01] dalcinl commented on #5159
Actually, the proper way should be the following:

[code]

This way the testsuite adjusts to the idiosyncrasies of both MPICH and Open MPI.

[2021-03-19 13:40] hzhou commented on #5159
Setting unavailable datatype to `MPI_DATATYPE_NULL` has always been in mpich. It is a behavior I personally not fond of. The issues only arise when I try to test MPICH build without Fortran binding. Thanks for the tip.

[2021-03-19 13:55] hzhou commented on #5159
I think there is another issue that I am having. How does `mpi4py` knows it is running MPICH`? I think the very issue is the check with 'openmpi' got run in the first place.

[2021-03-19 13:59] dalcinl commented on #5159
You are right, now I remember! I stopped testing special builds (without Fortran, without ROMIO, etc) gong ago. The testsuite kept evolving, mostly to workaround Open MPI bugs popping up release after release.

PS: Setting unavailable datatypes to `MPI_DATATYPE_NULL` is IMHO a good compromise, certainly much better than having a non-NULL but otherwise nonfunctional handle (like Open MPI does).

[2021-03-19 14:02] dalcinl commented on #5159
The `skipMPI()` decorator is implemented in `test/mpiunittest.py`. It uses the `MPI.get_vendor()` function, something I added long before `MPI.Get_library_version()` was added to the standard.

[2021-03-19 14:10] dalcinl commented on #5159
@hzhou Have you ever used Python's unitest framework? You can run the test scripts individually, pass `-v` for more verbose output, and also pass `TestClassName.testMethodName` to narrow down what you run. That's particularly useful while debugging and fixing stuff.

[code]

Another way to do it is the following. You use the runtests.py script, with `--include` and a regex for the test scripts nam

[2021-03-19 14:21] dalcinl commented on #5159
Did you notice that I edited my comment? My initial one contained wrong code, and that's what you probably got in your email.

That should not be a problem. Python's `or` operator shorts circuit, so if the datatype is really null, the `Get_size()` method should not be called. Please note that these checks for NULL are executed before the `skipMPI()` has its chance of checking that you are actually

[2021-03-19 14:24] hzhou commented on #5159
That's the understanding I am missing. Thanks.

[2021-03-19 23:25] hzhou commented on #5159
@dalcinl With PR #5161, I am able to pass the tests clean. Two notes:
* `test_datatype - testMatchSize`
   -> `@unittest.skipMPI('openmpi', MPI.CHARACTER == MPI.DATATYPE_NULL or MPI.CHARACTER.Get_size() == 0)`
   Passing invalid datatype `MPI_DATATYPE_NULL` to mpich is ok although the test didn't do much.

* `test_pack - testPackUnpackExternal`
  This one need skip the invalid datatype (or `MPI_DA

[2021-03-22 15:10] raffenet commented on #4987
I believe those files are imported from the automake installation used to generate the tarball. We'll make sure to use a newer automake for the 3.4.2 release.

[2021-03-22 15:17] hzhou commented on #4987
How old is too old? We should investigate and potentially update the version check in autogen.sh.

A side note, since our scripts are not updated with autoconf 2.70 yet, we should check against 2.70 in autogen as well.

[2021-03-22 15:35] sudheer9 commented on #3546
@hzhou tested this test program with v3.3.2, v3.4.1 and v4.0a1. The code segfault with v3.3.2 and works fine with v3.4.1 and later.

[2021-03-22 15:39] hzhou commented on #3546
Thanks! With that message, you can close this issue.

[2021-03-22 15:46] sudheer9 commented on #3546
The reported `segfault` behavior tested to be fixed from v3.4.1 and later MPICH releases.

[2021-03-22 15:46] #3546 closed

[2021-03-22 17:19] sudheer9 commented on #2654
The issue reported here is an Abort error when there is any CVAR that has the scope as `MPI_T_SCOPE_CONSTANT` or `MPI_T_SCOPE_READONLY` and when the test tries to write a value to it using `MPI_T_cvar_write`. The reported behavior was seen with v3.3.2 release. With the later releases and including the latest `master`, `MPI_T_cvar_write` on CVARs with readonly or constant scope, the test reports an

[2021-03-22 17:53] raffenet commented on #2654
I don't think we've solved the issue yet. The test case should either not try to write CVARs that are not writable, or if it does, it should expect an error and not fail the test because of it.

I think we should amend the test to not try to write read-only CVARs. We can add a separate test in the `test/mpi/errors/` directory to verify the error behavior, if desired.

[2021-03-22 22:20] #5141 closed

[2021-03-23 18:00] #2654 closed

[2021-03-23 18:29] #5159 closed

[2021-03-23 18:42] leofang commented on #5159
@hzhou Sorry for missing the fun here...I should have mentioned sooner that mp4ipy supports CUDA-aware MPI. If you install CuPy and/or Numba you can run the demo in https://github.com/mpi4py/mpi4py/tree/master/demo/cuda-aware-mpi. Our test suite also has GPU tests, ex: `mpiexec -n 2 python test/runtests.py --cupy`. Please give it a shot when you have time.

I expect this to be a bumpier journey th

[2021-03-23 18:48] hzhou commented on #5159
@leofang Sounds great. I'll give it try at some point.

[2021-03-23 19:17] dalcinl commented on #5159
@hzhou Current main is not OK. Is there any open PR that I'm missing?
https://github.com/mpi4py/mpi4py-testing/runs/2178191176?check_suite_focus=true

[2021-03-23 19:20] hzhou commented on #5159
Yes, this one was split during review: https://github.com/pmodels/mpich/pull/5168

[2021-03-23 19:31] zhenggb72 commented on #4516
Should we consider a counter-based scheme (or a quiescence detection algorithm) which keeps track of pending sends/receives to wait before starting finalizing?
I feel any reduction collective-based fix may work for one workload but may not work for the other. We may have to flush messages for both netmod and shmmod.

[2021-03-23 19:37] hzhou commented on #4516
@zhenggb72 `shmmod` doesn't need flush. The problem is not message sent over shmem got lost. It is the message sent over netmod -- the one sent to another process via intercom -- and ofi never flushed its queue since `Allreduce` goes through shmmod and didn't touch netmod message queue.

[2021-03-23 19:56] zhenggb72 commented on #4516
Why shmmod does not need flush? For example, if it is a IPC-based send, the receiver may still getting the data while the sender may end its execution without checking.

[2021-03-23 19:59] hzhou commented on #4516
With shmem, sender will not exit unless either the entire message is placed into the shared memory or the IPC has received ack from receiver. Either case the message is sent out before exit.

[2021-03-23 20:16] leofang commented on #5159
@hzhou Quick questions on MPICH's CUDA support:
1. Looking at the `configure` file, I suppose same as in Open MPI, MPICH doesn't care which CUDA version it is built against/run on, as long as it's fairly recent (9.2+)?
2. Why is `libmpi.so` and other shared libraries linked to `libcuda`/`libcudart`? Aren't they `dlopen`'d at runtime?
https://github.com/pmodels/mpich/blob/dec6cee8e7f2c9f2b600b7b9af

[2021-03-23 20:18] zhenggb72 commented on #4516
I am confused, I see we do have postponed queue for sends and progress_send in posix. And I thought we should also progress IPC as well when it is a non-blocking call (I see we don't, but why?).

[2021-03-23 20:35] hzhou commented on #5159
We haven't check what is the oldest version that we depend on yet. So for now, the answer is yes -- until user reports or we discover otherwise.

The current main support of gpu is actually coming from `yaksa`, which I think it is linked at compile time. The mechanism for mpich is not `dlopen` the library. The code you are quoting is to inject cuda memory hooks as an optional optimization. As such

[2021-03-23 20:41] hzhou commented on #4516
You are sidetracking. How about let's focus on the issue at hand and not to worry about *future* issues that we doesn't have at the moment?

Which part are you still confused? Are you still questioning whether the bug in this issue is from shmmod or ofi? Well, if it is in shmmod, the fix in OFI won't fix it, right? I think I proved that by PR #5167.

[2021-03-23 20:47] zhenggb72 commented on #4516
I am not sure what you mean by sidetracking. My comments above combines what I read here and the proposed fix PR (which does the flush send/recv, i.e. only flush netmod). Please read it again in case you missed my edits earlier.

While the old reduction-based implementation may be only doing shmmod "flush" (when on one node) and skipped netmod, the proposed fix only does netmod "flush", and hence

[2021-03-23 20:51] hzhou commented on #4516
So you will be pushing that PR?

[2021-03-23 20:53] zhenggb72 commented on #4516
You mean approve?

[2021-03-23 20:54] hzhou commented on #4516
I thought you are proposing a new solution, maybe I miss-read.

[2021-03-23 21:43] sudheer9 commented on #2645
I could not load the old  mpich-3.2-gcc-5.3.0  module on Blues. Given we cannot reproduce this reported error on latest `master` and this issue seem system or configuration specific, I propose to close this issue for now.

[2021-03-23 22:05] #2645 closed

[2021-03-23 22:30] minsii opened #5171 "am/gpu: need buffer pool when allocating staging buffer by using MPL_gpu_malloc_host"
**Problem description**: In current CH4 AM code, the host staging buffer is allocated by using `MPL_gpu_malloc_host` at each send/recv call (e.g., in UCX netmod `MPIDI_NM_am_isend` and `MPIDI_NM_progress` for send/recv side copy, respectively). When CUDA is enabled, it internally calls `cudaMallocHost`, at each send/recv.

The benefit to use `cudaMallocHost` is to leverage fast DMA based data tran

[2021-03-23 23:37] hzhou commented on #5171
The memory pool may be difficult to implement -- there isn't a fixed size for these messages, right? It kinda makes sense that we should not do these optimizations for one-time buffers. Anything we can do for one-time buffers, CUDA internally can always do better. I think we were just committing a case of pre-mature optimization.

[2021-03-24 00:24] minsii commented on #5171
@yfguo suggested that the overhead might go away once we apply genq to ucx am.

To @hzhou 's question, the overhead of creation the one-time buffer is about 1000ms. This is no pre-mature optimization in CUDA. It is like `mmap` -- always goes into kernel and maps the pages, no user space pool. Based on google results, CUDA recommends user maintains preallocation of these buffers to mitigate the cre

[2021-03-24 03:28] yfguo commented on #5171
Just putting my notes here. What we did for OFI is getting pack buffer from a preallocated pool for non-contig DT or GPU buffers. The implementation uses GenQ private pool and the pipeline. In UCX netmod, we still use the gpu_malloc_host to allocate the pack buffer at send time which is painfully slow. One solution to this is to employ the same GenQ+pipeline design.

[2021-03-24 18:37] minsii commented on #5171
@yfguo @hzhou Can we have an estimation when GenQ+pipeline can be applied for UCX? A workable PR is OK for me to continue evaluation, as long as isend/irecv and RMA work fine.

[2021-03-24 19:47] #4516 closed

[2021-03-24 20:05] hzhou commented on #5171
@minsii Wouldn't this allow you to continue evaluation?

[2021-03-24 20:49] minsii commented on #5171
Yes, I can make a quick workaround branch following this way. It at least can give me reasonable performance. But I would prefer a more optimal version (i.e., still getting benefit from `cudaMallocHost` for large data transfer via DMA while eliminating malloc overhead by using the preallocated pool). I think that the latency of large msg size can be further reduced by the latter approach.

Given s

[2021-03-24 20:50] #5149 closed

[2021-03-25 09:06] dalcinl commented on #5159
@hzhou Using `--with-pm=gforker`, name publishing is not working. While I understand that there is no much point on supporting publish/lookup for gforker, perhaps there is a quick way to make the MPI publish/lookup calls fail with error rather than deadlock?

https://github.com/mpi4py/mpi4py-testing/runs/2191431467?check_suite_focus=true
https://github.com/mpi4py/mpi4py-testing/runs/2191431490?che

[2021-03-25 13:07] hzhou commented on #5159
Sounds reasonable. I'll take a look.

[2021-03-25 19:42] sudheer9 opened #5174 "MPI_Sendrecv fails when both send and recv ranks are MPI_PROC_NULL"
`MPI_Sendrecv` with both send and recv ranks as `MPI_PROC_NULL` should be a valid operation as per the MPI standard.

[code]

this code results in
[code]

[2021-03-25 20:13] hzhou commented on #5174
Did you try it with the latest main branch? There is a recent patch supposed to fix this.

[2021-03-25 20:52] sudheer9 commented on #5174
yeah, tested with the latest branch. @raffenet mentioned that fix was related to the recv rank validation only.

[2021-03-25 21:11] hzhou commented on #5174
I just tested, it should work with the latest `main`. If you --
[code]
Otherwise, you are testing stale code.

[2021-03-25 23:49] sudheer9 commented on #5174
You are right, with the latest master, I do not see the issue.

[2021-03-25 23:49] #5174 closed

[2021-03-26 00:59] hzhou commented on #5159
@dalcinl Could you try configure `gforker` along with the option `--with-namepublisher=file`?

[2021-03-26 08:45] dalcinl commented on #5159
@hzhou It worked like a charm! https://github.com/mpi4py/mpi4py-testing/actions/runs/689281040

Is there any way to make this work automatically? I guess the real problem is `--with-pm=hydra:gforker` or `--with-pm=gforker:hydra`, if hydra is involved (even if listed second), you may want to keep PMI as the nameserver.

At least you you could do the following: if only `pm=gforker` is requested, the

[2021-03-26 13:16] hzhou commented on #5159
I guess we can (should) let gforker return PMI error rather than abort

[2021-03-27 03:56] hzhou commented on #4976
This time in PR #5176 , a free error:
[code]

[2021-03-29 18:25] #5002 closed

[2021-03-30 04:37] hzhou opened #5181 "datatype: add assertions for potential integer overflows"
Encounter a failure on centos32 -- https://github.com/pmodels/mpich/pull/5000/commits#issuecomment-809652697

DTPool generates a datatype with
[code]
The `hvector` `6553 * 819208` overflows, but the overflown bufsize endup as `1072572320`, which still appear to be a good datatype within the `maxbufsize` (default 1GB).

While we can blame this as a user error (here DTPool is the user), but having t

[2021-03-30 14:57] hzhou commented on #4827
Closing. Reopen if necessary.

[2021-03-30 14:57] #4827 closed

[2021-03-30 18:31] everythingfunctional commented on #4005
Found this issue today trying to build a Pi cluster for testing parallel Fortran code. Just made the fix myself, but it would be nice if the configure step could do it :wink:

[2021-03-31 18:04] raffenet opened #5185 "gpu: Disable GPU awareness if no devices are found"
A user suggested this for heterogeneous systems with CPU and GPU partitions. Some processes may be restricted from seeing GPU devices, in which case we should gracefully disable the GPU awareness.

[2021-03-31 20:10] raffenet commented on #5185
See #5054 for the addition of query API for the number of devices detected at initialization time. That would make a useful building block for this functionality.

[2021-03-31 21:40] hzhou commented on #5185
Currently, that will need to overwrite `MPIR_CVAR_ENABLE_GPU`, and it can get messy (modifying cvar at runtime in general). We probably will need a separate global variable, to replace the CVAR usage.

[2021-04-04 04:00] hzhou commented on #4374
`gcc-10` on `osx` just fails `dgraph_unwgtf90`:

[code]

Looks like the issue with `MPI_UNWEIGHTED` or `MPI_WEIGHTS_EMPTY`.

[2021-04-04 15:35] roblatham00 opened #5191 "ROMIO header include order"
Thanks for auditing:  for many years MPICH tried hard not to use _GNU_SOURCE , so it didn't matter when we included configure.h .  At some point _GNU_SOURCE was useful enough to check for but a lot of header files were not updated.

_Originally posted by @roblatham00 in https://github.com/pmodels/mpich/issues/5101#issuecomment-812260422_

[2021-04-04 15:37] roblatham00 commented on #5191
Relevant audit:  https://github.com/pmodels/mpich/pull/5101#issuecomment-810556138

[2021-04-07 18:42] shintaro-iwasaki commented on #5070
Thanks for your comment. I created a PR.

Yes, that should be a major concern of using atomic variables. That PR uses `atomic_relaxed_load/store`, which is very lightweight (actually no difference from a normal read/write) on most CPUs. So yes we use `atomic`, but `relaxed` ones are okay in terms of performance.

`relaxed` is still "atomic", so the value is updated atomically (I mean, we do not ob

[2021-04-08 03:46] sagarth opened #5200 "bug/threads: memory leak for multi-threaded test under multi-vci"
Some of the affected tests:
`mt_bsendrecv, mt_ssendrecv, mt_isendirecv, mt_ibsendirecv, mt_issendirecv, mt_mprobe_sendrecv, mt_probe_sendrecv_huge`

Output:
[code]

Corresponding code locations:
[code]

Configuration: num of vci > 1, no-odd-even, debug build

Helpful info to replicate the issue:
* Config string:
[code]
* Set runtime env variable:
[code]
* Run multi-threaded tests after building MP

[2021-04-08 03:52] hzhou commented on #5200
Thanks @sagarth for reporting the issue. I think I have located the bug. `MPIR_Add_finalize` is called both inside and outside MPI_Init and from different critical sections, and thus need its own lock-protection. PR coming.

[2021-04-10 20:20] SiebertChris opened #5204 "more efficient algorithm(s) for MPI_Comm_split"
Dear developers,

I was just checking your code for MPI_Comm_split() in src/mpi/comm/comm_split.c. Unfortunately, even after 10 years it still seems to use a very old and inefficient algorithm. Please switch to one (or more) of my much more efficient algorithms published in "Parallel Sorting with Minimal Data" (presented at the EuroMPI conference in 2011).

Short summary:
You're still using qsort(

[2021-04-11 01:51] hzhou commented on #5204
@SiebertChris Hi Christian, thanks for pointing out the inefficiency in our MPI_Comm_split algorithm. You are right that we should adopt a simple parallel sorting algorithm.

For reference, this issue has been pointed out to us before -- https://github.com/pmodels/mpich/issues/1952.

[2021-04-12 14:35] #5200 closed

[2021-04-12 15:05] hzhou opened #5207 "hydra2: Remove hydra2"
Hydra and hydra2 share a lot of cruft and this is adding significant maintenance burden whenever we fix some of them. At this point, hydra is much more mature than hydra2 and makes more sense to enhance rather than spending the effort in hydra2 to catch up. So I suggest remove hydra2 from the MPICH repository.

We should run some benchmarks to establish the baseline and understand what is lacking

[2021-04-12 17:39] cesarpomar opened #5208 "Use different communicators by threads at the same time"
I have a thread parallel application where each thread has its own communicator.  MPI was initiated with “MPI::Init_thread(argc, argv, MPI_THREAD_MULTIPLE);” and application runs without any errors. My problem started when I incremented the number of thread and the application was very slow, I checked the process with ps and only one thread is running at the same time, the others threads are in a

[2021-04-12 18:21] hzhou commented on #5208
Could you try build mpich with `--enable-thread-cs=per-vci --with-ch4-max-vcis=<N>`? I am assuming you are building with `ch4` device. `<N>` can go up to 64. At run time, set `MPIR_CVAR_CH4_NUM_VCIS=<N>` where `N` is the number of threads you are using.

[2021-04-12 19:50] cesarpomar commented on #5208
thanks, is there any documentation about these options?

[2021-04-12 20:16] hzhou commented on #5208
Just `./configure --help`. We will update README for the next release.

[2021-04-12 20:43] cesarpomar commented on #5208
If I have multiple communicators per thread, how can I be sure that the communicators of each thread shared the same vci. vci_method=MPICH_VCI__COMM is round-robin, so I suppose I should use MPICH_VCI__TAG.  I join a group of processes dynamically(connect/accept) and then with dup I make a copy for each thread.

How can I specify a different vdi in each dup?

[2021-04-12 21:22] hzhou commented on #5208
Currently there isn't a sure method to achieve this.

This is correct, and you can set the total number of VCIs using `MPIR_CVAR_CH4_NUM_VCIS`, so you may hack the behavior to some extent.

The "TAG" method is not enabled in 3.4. But with "TAG", The vci selection is independent of communicators. It allows you to explicitly control the vci selections by assuming a 15-bit tag value, where bit 14-10

[2021-04-13 11:41] #5070 closed

[2021-04-13 14:54] wesbland commented on #5207
cc: @ddurnov

[2021-04-19 19:23] shintaro-iwasaki commented on #2809
#4828 implemented this. I forgot to close this issue. Now MPICH+Argobots passes all the tests including the async configuration.

I will close this issue.

[2021-04-19 19:23] #2809 closed

[2021-04-19 19:27] #4917 closed

[2021-04-20 12:19] cesarpomar commented on #5208
Ok, Thank. I have implemented my own MPIDI_get_vci function.

[2021-04-20 12:19] #5208 closed

[2021-04-20 12:39] cesarpomar opened #5223 "Shared Memory Question"
I know that MPI_Win_create allow to perform shared memory RMA operations. I have an application than use gather and send to exchange data between process and I want to know that if all process are in the same host, will mpich perform any shared memory optimization over the communicator? or it uses the default communication like TCP. If there are some optimizations, how I can check that two nodes a

[2021-04-21 04:36] hzhou commented on #5223
MPICH will use shared memory optimization whenever possible unless it is explicitly disabled, e.g. with `MPIR_CVAR_NOLOCAL=1`. The best way to ensure the processes are on the same node is to use `MPI_Comm_split_type(comm, split_type=MPI_COMM_TYPE_SHARED, ...)`. The resulting comm will be guaranteed to be able to create and use shared memory.

[2021-04-21 11:09] minsii commented on #5223
As Hui suggested, you can first use `MPI_COMM_TYPE_SHARED` to determine if shared memory is enabled on your machine. `shm_size` will be the number of processes existing in the same shared memory domain.
[code]

In MPICH ch4/ofi build (if you configure with `--with-device=ch4:ofi`), we enable shared memory optimization for RMA whenever possible. There are three levels of optimizations:
- RMA over `

[2021-04-21 12:05] cesarpomar commented on #5223
Thank you both so much, I use ch4:ofi.

If I have understood correctly, first I must use MPI_Comm_split_type to select process in the same host. Then I must to use MPI_Win_allocate to shared memory between all local process.

Has the Memory to be MPI_Alloc_mem or can I use malloc? My application has internal buffers with malloc and it would be a bit difficult to change.

If I use MPI_send over the

[2021-04-21 12:10] minsii commented on #5223
If you use `MPI_Win_allocate`, the window buffer is internally allocated by this call. It does not accept pre-allocated buffer.

If you have to use `malloc` to allocate the buffers, then just use `MPI_Win_create`. The RMA will go through POSIX shared memory, still faster than socket.

[2021-04-21 14:54] #4005 closed

[2021-04-23 20:14] raffenet opened #5231 "MPI_PREADY* should be nonblocking"
The current implementation of MPI_PREADY* will block once all partitions have been marked as ready until a CTS message is received from the target process. A strict interpretation of the spec would not allow this behavior. I think the proper fix is to add a hook into `MPI_WAIT|TEST*` functions to check for a CTS and issue data, if needed.

[2021-04-23 21:08] raffenet commented on #5231
At the moment, in `ch4_wait.h` we get vci information from the requests being tested/waited on then call back up to MPIR. Once in the MPIR-layer, the actual requests are no longer known. I suppose we can amend the functions in `ch4_wait.h` to also check if the request(s) are partitioned send requests, and if so, check if a data transfer needs to be started. @hzhou what do you think?

[2021-04-23 21:10] hzhou commented on #5231
How about ADI and pass requests into progress?

[2021-04-26 14:07] raffenet commented on #5231
I think I'm getting a bit ahead of myself. This can be easily solved for the AM implementation by calling `MPIDIG_post_pready` in the CTS callback. I need to think thru the netmod-optimized implementation a little more before I propose any progress changes.

[2021-04-26 14:19] hzhou commented on #5231
Sounds good. Btw, I think adding whether it is a partitioned request into the progress state struct is okay.

[2021-04-26 14:27] raffenet commented on #5231
OK. I was also thinking we could enqueue the part requests on a communicator or VCI, kind of like how we do windows. But then I was thinking about how we treat request-based RMA and how it might be inefficient that we group them with other window requests... Again, a little ahead of myself 😄. I've got some other refactoring patches planned for partitioned along with this correctness fix. Then I'll

[2021-04-26 21:36] cesarpomar commented on #5223
Thanks

[2021-04-26 21:36] #5223 closed

[2021-04-27 07:21] ahori opened #5236 "ch4:ofi MPIDI_OFI_index_datatypes() must be called after calling create_vni_context()"
File: mpid/ch4/netmod/ofi/ofi_init.c
Func: int MPIDI_OFI_init_local(int *tag_bits)

I moved the MPIDI_OFI_index_datatypes() call just after the create_vni_context() call, but I do not know if this is the correct way to fix this issue (SIGSEGV when calling MPIDI_OFI_index_datatypes()).

[2021-04-27 15:51] hzhou commented on #5236
Yes. I think that is a correct fix. I only wonder why it didn't cause an issue in our testings.

[2021-04-27 20:23] #5231 closed

[2021-04-28 00:16] ahori commented on #5236
Yes, I also wonder too.  Thanks for the fix.

[2021-04-28 12:35] ddurnov commented on #5207
@hzhou As far as I remember ideas behind hydra2 it was more modular as well. We definetly interested in hydra2 so we could align what we have on our side with your changes easier. Our code is hydra2 based and we expected that you were going to invest into it and make it as MPICH's primary solution

[2021-04-28 12:59] irozanova commented on #5207
Hi @hzhou,
Do you have a list what `hydra` has, but missed is `hydra2`?

[2021-04-28 13:22] hzhou commented on #5207
First, I think it is clear that we are not able to simultaneously maintain both `hydra` and `hydra2`. Keeping `hydra2` has not resulted in the benefit of making downstream align to our changes easier because the changes are simply not going into `hydra2`. It has not happened for the past several years since the hydra2 inception, and I believe now it is even less likely to happen.

So the decision

[2021-04-28 17:01] jedbrown opened #5238 "System path for hwloc resolves too eagerly, causes linking conflicts"
This issue occurs in my [Arch Linux package](https://aur.archlinux.org/packages/mpich/), but is relevant elsewhere. We pass `--with-hwloc-prefix=/usr` to prefer the system hwloc, but this causes `-L/usr/lib64` to come first in the link path:
[code]
This means anything available in a default system path (such as `libhdf5.so`) will be preferred over more specialized libraries in user-specified paths

[2021-04-28 17:34] hzhou commented on #5238
With this patch https://github.com/pmodels/mpich/pull/4819, you may try `--with-hwloc` to use system hwloc without adding the library path.

@raffenet Is that patch being back ported to 3.4.x?

[2021-04-28 17:58] raffenet commented on #5238
I've selectively backported some patches from that branch, but not the hwloc change (yet). If it will fix this issue, I can grab it.

[2021-04-28 19:01] hzhou commented on #5238
@jedbrown If you can confirm https://github.com/pmodels/mpich/issues/5238#issuecomment-828643550 with the main branch, that will be nice.

[2021-04-28 22:20] #5236 closed

[2021-04-28 22:22] hzhou commented on #5115
This is fixed by #5205

[2021-04-28 22:22] #5115 closed

[2021-04-28 22:25] hzhou commented on #4877
This is done.

[2021-04-28 22:25] #4877 closed

[2021-04-28 22:27] hzhou commented on #4882
This is done.

[2021-04-28 22:27] #4882 closed

[2021-04-29 16:10] jedbrown commented on #5238
Yes, I built successfully with 4.0a1 and it has the desired behavior with respect to system paths.

[code]

[2021-04-29 16:18] hzhou commented on #5238
I still see `-L/usr/lib64` here. Was it a copy-paste mistake?

[2021-04-29 16:25] jedbrown commented on #5238
Yes, I'm not sure how that got into my clipboard. Fixed now.

[2021-04-30 19:24] raffenet opened #5241 "pmi: Remove unnecessary encoding for PMIx put/get values"
The PMIx put/get usage in MPICH converts values to string representation despite PMIx supporting binary blob data. It should be OK to remove this extra step without any loss of functionality.

[2021-04-30 20:08] hzhou commented on #5241
How much impact if we extend hydra/PMI1 to allow binary put/get? I would really like not to have to maintain two different mechanisms.

[2021-04-30 20:10] raffenet commented on #5241
Hydra is not the only PMI1/PMI2 implementation in use in the wild. I don't think extending it buys us anything.

[2021-04-30 20:15] hzhou commented on #5241
How about we treat it similar to MPIX, use the extended feature only if the Process manager supports it, otherwise we fallback. The fallback should allow the transition before the other PMI1/PMI2 implementation catches up. Having a universal mechanism makes the logic of business card exchange orthogonal to which PMI we use, I think it has its long-term benefits. For example, we can debug and compa

[2021-04-30 20:19] raffenet commented on #5241
So add a 4th and 5th put/get implementation?

[2021-04-30 20:26] hzhou commented on #5241
No. Just one put/get with hex encoding and maximum value length (the fall back version) and another put/get with binary and arbitrary size. The logic to select which version (based on CVAR and PMI capability) is orthogonal to the put/get implementations.

[2021-04-30 20:32] raffenet commented on #5241
Sure, but that means client and server implementations of binary put/get for PMI1 and PMI2 + the MPIR-layer client glue. Right now `put_ex|get_ex` in MPIR assume string encoding. Can we at least start small and remove that assumption to enable one binary-capable client (PMIx)?

[2021-05-01 00:27] hzhou commented on #5014
Just did a quick check. It appears #5206 has fixed the issue. I am able to use `autoconf` 2.70 and successfully build the current `main`, despite a lot of warnings on remaining obsolete macros.

[2021-05-03 14:05] raffenet commented on #5241
This seems reasonable. It should be no problem.

[2021-05-03 14:29] hzhou opened #5243 "mpl: avltree implementation bug"
The inserted base address is getting lost. Reproducer:
[code]

RESULT:
[code]

[2021-05-04 13:01] hzhou commented on #3793
Hasn't been seeing this for a while. Close for now.

[2021-05-04 13:01] #3793 closed

[2021-05-04 13:05] hzhou commented on #4090
Fixed by #5617

[2021-05-04 13:05] #4090 closed

[2021-05-04 13:17] hzhou commented on #4252
@kmccall882 , Have you tried `system()` or `fork()`? I think it will probably work.

[2021-05-04 13:27] hzhou commented on #3519
Outdated

[2021-05-04 13:27] #3519 closed

[2021-05-04 14:39] kmccall882 commented on #4252
This issue was discussed some months ago, and I don't remember the context.   I've been successful at using MPI_Comm_spawn()
to create processes.   I'm pretty sure that I read that system() and fork() can cause undefined behavior in MPI.

Kurt

From: Hui Zhou ***@***.***>
Sent: Tuesday, May 4, 2021 8:18 AM
To: pmodels/mpich ***@***.***>
Cc: Mccall, Kurt E. (MSFC-EV41) ***@***.***>; Mention ***@***

[2021-05-04 15:32] hzhou commented on #4252
`MPI_Comm_spawn` need return an inter communicator. How would that be possible if the spawned processes include non-MPI processes?

Since processes launched via `system()` or `fork()` are not properly registered with the process manager, it may mess up the process manager's handling of IO capturing or signal handling. But I suspect for "normal" operations, that the launching (MPI) process handles

[2021-05-04 15:45] kmccall882 commented on #4252
*   MPI_Comm_spawn needs to return an inter communicator. How would that be possible if the spawned processes include non-MPI processes?
Sorry Hui, I didn't know the context of the question.  It wasn't included in the message I received.   Thanks for the info about system() and fork().

Kurt

From: Hui Zhou ***@***.***>
Sent: Tuesday, May 4, 2021 10:33 AM
To: pmodels/mpich ***@***.***>
Cc: Mccall,

[2021-05-04 15:52] #4200 closed

[2021-05-04 15:59] raffenet commented on #4252
I believe OpenMPI added a non-standard hint to support non-MPI processes. That is, do not wait for intercomm creation.

Some libraries, like libibverbs, are not fork safe in all instances.

[2021-05-04 16:55] raffenet commented on #4252
Some links about libibverbs and fork support:
https://www.rdmamojo.com/2012/05/18/libibverbs/#Fork_safe
https://www.rdmamojo.com/2012/05/24/ibv_fork_init/

[2021-05-04 17:22] hzhou commented on #4252
Thanks for the reference. I think the relevant note is:

[2021-05-05 00:25] #5243 closed

[2021-05-05 02:52] hzhou commented on #3741
This is now fixed with #5190

[2021-05-05 02:52] #3741 closed

[2021-05-05 02:59] hzhou commented on #2952
PR #5233 now will adjust global settings based on the final provider info returned from `fi_getinfo` (with hints set from the `ofi_capability_sets.h`). If the runtime libfabric return less capability, the global settings will be adjusted down. In particular, reference https://github.com/hzhou/mpich/blob/bc5a69e3a47d7d62ea64dc3e254bf616acf19ec5/src/mpid/ch4/netmod/ofi/init_settings.c#L326-L328. Thu

[2021-05-05 02:59] #2952 closed

[2021-05-05 03:04] hzhou commented on #3670
I am closing this issue since there is no way of retrieving the issue details at this point. Advice for filing issues, try paste some synopsis or attach some log files with the issue. Do not assume links will stay alive.

[2021-05-05 03:04] #3670 closed

[2021-05-05 03:09] hzhou commented on #3770
This issue was most likely memory issue. We haven't seen this error for a while, and there isn't a clear action that need to be done. So I am closing this issue for now. Re-open or create a new issue when necessary.

[2021-05-05 03:09] #3770 closed

[2021-05-05 03:12] hzhou commented on #4373
The nightly tests is clean at the moment, so this issue must've been fixed for quite a while.

[2021-05-05 03:12] #4373 closed

[2021-05-05 03:15] hzhou commented on #5048
I believe this issue is fixed by #5054

[2021-05-05 03:15] #5048 closed

[2021-05-07 07:37] albestro opened #5259 "op: assertion error in user op functions with THREAD_MULTIPLE"
## Problem
Calling `MPI_Type_get_contents` inside a custom defined `MPI_Op` throws an assertion error with the message "Assertion failed in file src/mpi/datatype/type_get_contents.c at line 124: 0".

## Environment
I'm facing the problem with
- MPICH 3.4.1
- built with `Apple LLVM version 10.0.1 (clang-1001.0.46.4)` (via spack)
- on macOS Mojave.

## Minimal Reproducible Example
I was able to narr

[2021-05-07 13:07] hzhou commented on #5259
Thanks for the report. The assertion error is caused by recursively taking locks. We should exit the lock before entering user-defined op functions.

[2021-05-09 15:34] hzhou opened #5265 "coll: remove TSP abstraction"
The idea of the TSP abstraction is to swap the transport scheduling system without modifying the actual algorithm. However, we are not implementing multiple transports, and the current abstraction creates a lot of clutter and makes code reading very difficult. And if we ever will create multiple transports, then the different transports has to be visible to the algorithm selection layer, thus nece

[2021-05-09 15:37] hzhou commented on #5265
cc @wesbland @tarudoodi

[2021-05-10 13:05] albestro commented on #5259
Thanks for the quick feedback and support!

If you want me to give a test to a particular branch, just let me know 😉

[2021-05-10 14:17] tarudoodi commented on #5265
+ @zhenggb72

[2021-05-12 15:39] raffenet commented on #5238
Reading thru this issue again, with the old `--with-hwloc-prefix` option, you can use `--with-hwloc-prefix=system` to avoid the issue you ran into. Our library macros did not handle `=/usr` very well, but this should be improved in MPICH 4.0. For 3.4.2, I'm going to be a bit conservative and stick with the old configure option to avoid some *new* issues I ran into during testing 😄.

[2021-05-15 14:11] hzhou commented on #4976
Need check whether https://github.com/pmodels/mpich/pull/5249 fixes this failure.

[2021-05-15 14:16] hzhou commented on #4795
Nightly tests have been clean for a while. It must be fixed at some point.

[2021-05-15 14:17] hzhou commented on #3844
I believe this has been fixed by #3851.

[2021-05-15 14:17] #3844 closed

[2021-05-16 05:14] yfguo commented on #5014
fix is confirmed.

[2021-05-16 05:14] #5014 closed

[2021-05-16 11:35] kloczek opened #5282 "3.4.1: mpitch source tree is not autoconf 2.71 ready"
- During regenerate all GNU autotools files there emitted a lot of warnings
- To regenerate all files should be used only `autoreconf -fiv` and what is implemented in `autoge.sh` proves that whole GNU autotools support is impended not as it should be
- When to regenerate all files is used `autoge.sh` configure fails.
- When `autoreconf -fiv` is used some files are mot regenerated and configure fai

[2021-05-16 13:24] hzhou commented on #5282
The `main` branch should work with autoconf 2.7x now.

[2021-05-16 16:38] #5259 closed

[2021-05-16 16:56] kloczek commented on #5282
OK.
May I ask about ET when new version out of main branch will be released?

[2021-05-16 17:01] hzhou commented on #5282
Alpha release 4.0a2 that will contain the mentioned fixes will come out early next month.

@raffenet Do you think we should port the autoconf fixes to `3.4.x`? It is mainly #5206 and #5244

[2021-05-16 17:04] kloczek commented on #5282
That really depends how quickly will land 4.0.0.
If it would be few weeks I think that backporting may not be necessary.

[2021-05-16 17:06] hzhou commented on #5282
We are probably looking at early next year for the stable 4.0 release.

[2021-05-16 17:08] hzhou commented on #5282
@kloczek By the way, if you are looking at official releases, which is a source tarball format, why would you be concerned with running `autoconf`?

[2021-05-16 17:26] kloczek commented on #5282
To be honest I don't need official tar ball (remember generate it not by `make dist` but by `make distcheck`).
In my building procedure I'm using tar ball basing on autogenerated from git tag downloaded over github REST interface (starting from which is way better suited to apply patches from git commits downloaded as same over github REST interface).
On release probably will be used a bit older s

[2021-05-16 17:30] kloczek commented on #5282
I see that first PR fixes most critical changes and `autogen.s` + `./consigure` are able to pass full GNU autotools regeneration.
So if you would be planning to make new 3.4.x release that first PR should be IMO included as absolute minimum :)
I think that because that first PR added most critical fixes we can close that ticket (feel free to do that).

Thank you for info about these PRs :)

[2021-05-16 17:54] kloczek commented on #5282
Because you are using buggy libtool.

[2021-05-16 18:22] kloczek commented on #5282
Just checked 3.4.x branch and I see that only in that branch is already +100 commits since 3.4.1. IMO you should ASAP make new 3.4.2 release (I'm assuming those commits are only bugfixes) and with that rate of the commits each next minor release should monthly .. top every 3 months.

Yet another advice.
I would recommend to make new devel release as `dev/3.99.1` and rename `v4.0a1` to `dev/3.99.0`

[2021-05-16 18:24] kloczek commented on #5282
I'll try ASAP to build my own package with 3.4.1 + all commits from 3.4.x branch to check that branch.
Will back shortly :)

[2021-05-16 18:49] kloczek opened #5284 "3.4.1: test suite ios failing in json-c test units"
[code]
Q: Why library  which is packaged in every possible U*x distribution is included in mpich source tree and additionally is bundlev very old version? (latest is 0.15).
json-c provides pkgconfig file and it can be detected over autoconf using pkgconfig.

Would you accept PR with unbundle that library?

[2021-05-16 18:53] kloczek commented on #5284
Just checked content `modules/` IMO all that stuff should be removed and in autoconf shpuld be added detection of exact minimum versions of those (now) bundled libraries.

[2021-05-16 20:31] hzhou commented on #5284
@raffenet

[2021-05-17 06:51] kloczek opened #5285 "3.4.x branch: compile time warnings"
Summary stats about warnings
[code]
Hmm .. looks like not to many people have been building mpich with LTO.🤔
Without fixing those LTO related warnings LTO optimistation cannot be applied.
Full warnings log in attachment [mpich_warnings.txt](https://github.com/pmodels/mpich/files/6491699/mpich_warnings.txt)

[2021-05-17 14:01] hzhou commented on #5285
Most of these warnings are in the Fortran bindings, which is linked separately from the `libmpi.so`.

What is your compilation process to obtain the `mpich_warnings.txt`?

[2021-05-17 14:15] kloczek commented on #5285
I'm building everything using rpm so that log is part of the `rpmbuild -ba mpich.spec --quiet` output (--quiet redirects stdout to /dev/null so only stderr is in th output)
I think that below script shlud allow you to reproduce LTO optomised build (and all LTO warnings).
Just in case I'm using gcc 11.1.0.
[code]
BTW ..
[tkloczko@barrel mpich-3.4.1]$ find . -name configure.ac
./modules/hwloc/tests/

[2021-05-17 14:22] raffenet commented on #5282
I'd rather not, since 3.4.x is only a maintenance branch and not actively developed.

[2021-05-17 14:23] raffenet commented on #5282
Renaming a public release is not something we typically consider.

[2021-05-17 14:24] raffenet commented on #5282
Can you explain your use-case and why you choose not to use tarball releases?

[2021-05-17 14:26] hzhou commented on #5285
The direction is to converge into a single `configure.ac` but some parts are more independent than other parts, and merging them will increase the maintenance complexity. You can think of them more like internal "modules". For example, both `hydra` and and `romio` are being used in external projects.

[2021-05-17 14:44] kloczek commented on #5285
That is OK .. if you are aware of the possible simplification and someone started working on that that is all wat I need to know. Thank You :)
Nevertheless if some of those subdirectories are used in some external projects as submodules all those configure.ac files can stay where they are now. All what in this case needs to be modfied is just main configure.ac and Makefile.am :)

[2021-05-17 14:45] kloczek commented on #5285
Just in case .. if you will have any problems with reproduce LTO warnings please let me know.

[2021-05-17 14:55] hzhou commented on #5282
I think it makes some sense if they maintain internal patches and some of those patches are for `configure.ac`.

[2021-05-17 14:56] kloczek commented on #5282
That first PR is IMO absolutly safe from point of view maintainance 3.4.x releaes. All ac 2.71 changes are backward compatible. Including it in next 3.4.x release would allow people who already started using ac 2.71 to regenerate all autotools files and not have some errors on that process.

[2021-05-17 15:06] raffenet commented on #5282
This is not a situation we or our downstream partners are currently in. I'd like to understand more how you are using the software before committing effort to this kind of work in the maintenance branch.

[2021-05-17 15:09] kloczek commented on #5282
- as I wrote you are using buggy libtoot
- second thing is that on use as base resource tagged tar ball and additional patches downloaded over gitlab/github REST interface I havve 100% guarantee that those parches will be appliet as dist tar ball may not be identicall to state of the resorces on which git patches needs to be applied.
I can give you glimpse of my mp[ich.spec file which I'm usimg to

[2021-05-17 15:13] kloczek commented on #5282
I just realised that I'm not using in case mptch tagged tar ball bacause submodules :P
Nevertheless my goal is to maximise use of above approach as it opens many other gates to not obviouse possibilities :)

[2021-05-17 15:16] raffenet commented on #5282
What do you mean?

[2021-05-17 15:27] kloczek commented on #5282
Just to let you now .. "more patches added since last release than more likely that your hands will be shaking" :)
And "we are living in world where all available software is not enouhg tested".
From that point of view only matters how quicly maintar(s)a re reacting on spotted issue and smaller batches of fixes allows better observe exact impact of miltiple fixes (number of those interractions is

[2021-05-17 15:40] kloczek commented on #5282
It means that https://github.com/pmodels/mpich/archive//v4.0a1.tar.gz does not contain all files listed as inked git submodules .. only beacause linked repos do not have git tag(s) which have beed added mpich git repo.

[2021-05-17 15:44] raffenet commented on #5282
GitHub generated tarballs are not official MPICH releases. http://www.mpich.org/static/downloads/4.0a1/mpich-4.0a1.tar.gz contains all the needed source files to build MPICH. We may consider publishing official MPICH tarballs to GitHub in the future. I will there was a way to disable GitHub's automated generation from tags, because it often confuses users who are not familiar with its shortcomings

[2021-05-18 18:43] raffenet commented on #5284
We want users to be able to download and use standalone tarballs to install MPICH on their systems. We tend not to make assumptions about the availability of dependencies, nor the access users have to package managers.

The json-c `make check` failures are fixed by this PR (https://github.com/pmodels/mpich/pull/5245), which will be included in 3.4.2 and the next 4.x series release. https://github.

[2021-05-18 18:48] raffenet commented on #5284
Duplicate of https://github.com/pmodels/mpich/issues/4534.

[2021-05-18 18:48] #5284 closed

[2021-05-20 10:24] adrianreber opened #5292 "Running mpich in combination with Podman"
I just opened a issue in the Podman repository about running mpich in combination with Podman:

https://github.com/containers/podman/issues/10409

It is possible to use Podman in combination with Open MPI (https://podman.io/blogs/2019/09/26/podman-in-hpc.html). This works by Podman copying all environment variables from the host into the container. With mpich this does not seem to work.

My curren

[2021-05-20 11:29] marcodelapierre commented on #5292
I have just open another Podman issue, detailing the error in attempting to use Podman with MPICH:

https://github.com/containers/podman/issues/10410

[2021-05-20 12:58] hzhou commented on #5292
`hydra` -- the default process manager used by mpich -- can use both `PMI_FD` (default) or `PMI_PORT` (tcp socket connection) for PMI (process management interface) communications. To use latter, pass in the option `--pmi-port`. E.g.
[code]

[2021-05-20 13:08] adrianreber commented on #5292
Perfect. That was easy and that works out of the box. Thanks.

[2021-05-20 13:08] #5292 closed

[2021-05-20 15:19] dschwen commented on #3120
This issue is triggered if the MPI wrapper adds an option

[code]

to the compiler commandline.

[2021-05-23 03:21] hzhou commented on #4894
The text encourages implementation not to return error code with `MPIR_ERR_FATAL` as long as the implementation is still in a state that can continue to return error. Currently, `ch4` already uses `MPIR_ERR_RECOVERABLE` everywhere. The exception is in `MPID_Startall`.

This ticket probably have to be assessed on a case by case basis and it is difficult to plan a clear todo list. Thus, I am closing

[2021-05-23 03:21] #4894 closed

[2021-05-25 19:50] baueriodoctor opened #5299 "MPI_Type_create_struct missing from mpipr.h"
While profiling an MPI job I notice that mpi_stats_type() in ad_opencoll.c calls MPI_Type_create_struct but does not get converted to PMPI_Type_create_struct as the needed define does not exist in mpipr.h

I went back and found all the non profile MPI_ references in romio/adio/common/*.c
                 U MPI_Ialltoall
ad_aggregate.o
                 U MPI_Type_free_keyval
ad_end.o

[2021-05-26 14:38] #4440 closed

[2021-05-29 11:19] AlimAkhtar opened #5309 "ch3/nemesis: assertion failed on Cortex-A75"
Hello
I am facing an issue when running mipbench on ARM's Cortex-A75 CPUs. By default MPI Bench was compiled for using CH3.
On searching mpi mailing list, got some suggestion to use ch4 instead of ch3.

Recompiled mpibench to use ch4 and that works well on this architecture.
This wad observed only when using multiple CPUs (with one CPU core, ch3 works well)

The failure signature looks like below:

[2021-05-29 19:22] #4879 closed

[2021-05-29 19:27] #4880 closed

[2021-05-30 14:51] hzhou commented on #5309
@AlimAkhtar I suspect it is due to the atomics used in nemesis is not strong enough on this chip. Could you try the attached patch to see if it fixes the issue?

[t.patch.txt](https://github.com/pmodels/mpich/files/6566379/t.patch.txt)

[2021-06-01 17:54] raffenet commented on #4720
https://github.com/ofiwg/libfabric/pull/6593 was merged into libfabric, so I think we can close this and let users know to grab a recent libfabric in order to run MPICH.

[2021-06-01 17:54] #4720 closed

[2021-06-02 00:02] hzhou commented on #2878
@wesbland Can this issue be closed?

[2021-06-02 00:11] wesbland commented on #2878
If you like. I still think it would be a valuable feature.

[2021-06-02 00:18] hzhou commented on #2878
https://github.com/pmodels/mpich/issues/2878#issuecomment-478625939 What would be the difference between what proposed and what described in this comment?

[2021-06-02 00:47] hzhou commented on #1755
Just tried with the current main, and apparently, this has been fixed.

[2021-06-02 00:47] #1755 closed

[2021-06-02 00:57] hzhou commented on #1754
I checked a few lines that referenced in the description, it seems we have fixed that to all use `MPI_Aint` now. I am going to close this issue for now.

[2021-06-02 00:57] #1754 closed

[2021-06-02 01:49] hzhou commented on #1502
In the attached `inter_create_merge.c`, there is a typo in line 48 where `MPI_Recv` should recv from rank `0` rather than from rank `1`. Other than that, the code runs fine with `ch4:ofi` on the current `main`.

[2021-06-02 04:08] AlimAkhtar commented on #5309
Hi Hzhou
Yes, this patch fixes the issues on this architecture. Are you going to apply this on mpi repository?

So, what does this mean, is that was an issue with the mpi-bench or there are some architecture problem that this patch adding a work around for?

[2021-06-02 04:21] hzhou commented on #5309
@AlimAkhtar Thanks for the confirmation. The issue was different architectures have differences in the atomic semantics. The patch swaps all atomics into the strongest semantics, thus are more likely to work but potentially is overkill and may negatively affect performance. The next step is to identify exactly which instruction is the offending ones in our algorithm and to identify whether we need

[2021-06-02 05:30] AlimAkhtar commented on #5309
ok, so what do you suggest, how to proceed on this? Will you be able to check the compiler part?
I understand you are not going to add this patch in mpi-bench, right?

[2021-06-02 13:12] wesbland commented on #2878
That's fine too. Pavan raised a good point that whatever we do won't be portable in the places that it matters most. I guess I would be more likely to advocate for centers to set some default environment variables that could be overwritten (e.g., ALCF setting some default QMPI tools or having a default set of collective algorithms).

[2021-06-02 13:17] hzhou commented on #5309
It will depend on your use case. Is using `ch4` not an option? Is managing your own patch (before we work out the final solution) not an option? By the way, what is `mpi-bench`?

[2021-06-02 13:35] hzhou commented on #2878
I guess I am not quite clear on which case "that it matters most".

CVAR should be mainly used for debugging purposes or at least always be set by users explicitly. I imagine CVARs set by system admins can be very frustrating for users as they will see different behaviors from system to system and even to their own testing and have no clue on what is going on.

That said, there is nothing preventi

[2021-06-02 13:38] wesbland commented on #2878
Maybe, but not all of the time. For instance, QMPI will rely on environment variables to specify which tools to load. Some of the multi-nic features can be enabled/disabled by environment variables. Collective algorithms can be selected via environment variables (though they also have a separate JSON file system, so it's not a perfect example.

I agree. This is a power-user feature. Anyway, I thin

[2021-06-02 13:38] #2878 closed

[2021-06-02 13:40] dalcinl opened #5318 "Possible bug or regression in spawn"
@hzhou Please see the following logs for full details: https://github.com/mpi4py/mpi4py-testing/runs/2727215069?check_suite_focus=true

[code]

[2021-06-02 13:49] hzhou commented on #5318
Is this test always broken or did we just broke it?

[2021-06-02 13:50] hzhou commented on #5318
From our nightly log:
[code]

[2021-06-02 14:47] dalcinl commented on #5318
@hzhou I ran it a second time, it failed again: https://github.com/mpi4py/mpi4py-testing/runs/2728290234?check_suite_focus=true

This test was passing about a month ago: https://github.com/mpi4py/mpi4py-testing/actions/runs/809263593

Hold on! Look carefully at your output. It says `skipped 'mpich'`. The test is not actually running. Perhaps you are executing the tests without `mpiexec -n <np> pyt

[2021-06-02 15:01] hzhou commented on #5318
Yes, we are just using `mpi4py@master` for now. Ideally, we'd like to test against a stable branch or tag. Would you recommend one?

[2021-06-02 15:08] AlimAkhtar commented on #5309
Well using ch4 does work and even we can have this patch for ch3.
Can you put some light on why ch4 work and not ch3? Does ch4 already using strong atomic instruction? if so, why not ch3?
Basically I am interested in root causing this, if this is a compiler issue or a real CPU issues.

[2021-06-02 15:09] dalcinl commented on #5318
I would recommend to keep using `mpi4py@master` for now, things are quite stable. Alternatively, I could create a branch, let say `testing/mpich` you can point to. Perhaps I should give you write access to mpi4py repo? If you ever want it, just ask for it.

About `mpiexec -n 4`, that should suffice. However, if you can do `mpiexec -n 5 ...`, that would be even better. Ages ago I catched an MPICH b

[2021-06-02 16:22] dalcinl commented on #5318
@hzhou Should I merge mpi4py/mpi4py#37 into `mpi4py@master`? You should test MPICH with the changes from that PR (branch `mpi4py@testing/mpi`). Note however that  if I merge that PR into master, the builds within your our CI infrastructure may start failing. Should I want until you investigate and resolve this spawn issue? Please advise.

[2021-06-02 16:26] hzhou commented on #5318
Either way, it's fine. The mpi4py nightly tests are not blocking our development, so it's ok to have them fail. You should make the merging decision purely based on your side.

[2021-06-02 16:29] dalcinl commented on #5318
OK, merged! Now you can try to reproduce.

[2021-06-02 21:40] #4878 closed

[2021-06-03 02:53] hzhou commented on #5309
Yes, ch4 uses a slightly different queue design and uses stronger atomics. Ch3 has been widely tested on leading supercomputers, so it is not wise for us to blindly replace the atomics without a thorough understanding of the cause and performance impact.

[2021-06-03 15:57] shintaro-iwasaki opened #5323 "MAX_FINALIZE_FUNC is too small"
## Problem

When many VCIs (e.g., 64 VCIs) are used, it hits the upper limit of `MAX_FINALIZE_FUNC`.

## Reason

The assertion happens in the following function:
https://github.com/pmodels/mpich/blob/main/src/mpi/init/init_util.c#L37-L38

MPICH can register only 64 finalization functions now.
https://github.com/pmodels/mpich/blob/main/src/mpi/init/init_util.c#L29

This `MPIR_Add_finalize()` is cal

[2021-06-03 18:30] hzhou commented on #5323
Last time we increased from 32 to 64 (in 2008) and that lasted for 13 years until now. So I think it is not a bad solution to increase that number again.

[2021-06-03 18:56] #5323 closed

[2021-06-04 01:02] hzhou commented on #4710
This issue is stale. If it is still relevant, please re-open it.

[2021-06-04 01:02] #4710 closed

[2021-06-04 01:18] hzhou commented on #4469
I believe this has been all addressed by now.

[2021-06-04 01:18] #4469 closed

[2021-06-04 01:19] hzhou commented on #4468
Multiple fixes have been merged and I believe this ticket has served its discussion purposes.

[2021-06-04 01:19] #4468 closed

[2021-06-04 09:31] brianjmurrell commented on #4534
This is still failing on 032b3aeb2.

Can this be reopened?

[2021-06-04 16:41] raffenet commented on #4534
Looks like the submodule update was accidentally reverted in that commit. Will push a fix.

[2021-06-04 17:11] raffenet commented on #4534
Should be fixed with https://github.com/pmodels/mpich/pull/5329.

[2021-06-04 17:11] #4534 closed

[2021-06-04 19:48] brminich opened #5330 "Integer overflow in redscatinter and redscatbkinter tests"
redscatinter and redscatinter fail when running on more than 256 processes.
The patch below fixes integer overflow in the test
[code]

[2021-06-04 22:54] hzhou commented on #3380
All `rma/atomic_get_[pair_types]` currently is passing on Jenkins in both ch3 and ch4 on all configurations. We must've fixed it at some point.

[2021-06-04 22:54] #3380 closed

[2021-06-04 23:04] hzhou commented on #3988
This one will need a reproducer to confirm. I am closing it now because my intuition is this probably has been fixed already. Reopen with a reproducer or test failure.

[2021-06-04 23:04] #3988 closed

[2021-06-05 00:10] hzhou opened #5333 "jenkins: warnings/bug in tests"
[code]

[2021-06-05 05:04] hzhou commented on #3618
This test still fails for `ucx`, but error symptom changed. It is a sporadic TIMEOUT waiting for requests from ucp_disconnect_nb

[2021-06-05 14:59] hzhou commented on #3618
Occassionally I get assertion errors:
[code]

[2021-06-05 16:10] hzhou commented on #2965
We no longer observe these failures.

[2021-06-05 16:10] #2965 closed

[2021-06-05 16:17] hzhou commented on #4262
I no longer can produce it in #5332

[2021-06-05 16:17] #4262 closed

[2021-06-05 21:47] hzhou commented on #3268
This one probably is obsolete.

[2021-06-05 21:47] #3268 closed

[2021-06-05 21:50] hzhou commented on #3348
The profiling is not defined for the Fortran interface, so it's not clear that we need to support the profiling interface for `MPI_status_f2c`. I am going to close this issue for now.

[2021-06-05 21:50] #3348 closed

[2021-06-05 21:55] hzhou commented on #3079
Those tests are not failing anymore, so we must have fixed them at some point.

[2021-06-05 21:55] #3079 closed

[2021-06-05 21:56] hzhou commented on #3078
This issue is unclear and I don't think we have similar issues now.

[2021-06-05 21:56] #3078 closed

[2021-06-05 21:57] hzhou commented on #2989
No longer exist.

[2021-06-05 21:57] #2989 closed

[2021-06-05 22:02] hzhou commented on #2969
This issue is stale. If it is still relevant, feel free to re-open.

[2021-06-05 22:02] #2969 closed

[2021-06-05 22:43] hzhou commented on #3076
This issue is obsolete.

[2021-06-05 22:43] #3076 closed

[2021-06-05 22:47] hzhou commented on #2960
Just tested. There is no issue.

[2021-06-05 22:47] #2960 closed

[2021-06-05 23:06] hzhou commented on #2946
I actually am leaning toward not caching these calculations and prefer to use `MPL_pof2` and `MPL_ilog` at run time.  The caching, no matter how trivial, adds complexity. On the other hand, the benefit is very small. In fact, `gcc` has `__builtin_clzll` that can compile it down to a single instruction for `MPL_ilog` and add 1 shift to get `pof2`. Even when `MPL_pof2` and `MPL_ilog` are less optimi

[2021-06-05 23:26] hzhou commented on #2946
Reference for the algorithm: https://stackoverflow.com/questions/23856596/how-to-count-leading-zeros-in-a-32-bit-unsigned-integer

[2021-06-05 23:34] hzhou commented on #2255
I am not sure whether this ticket is resolved. In any case, I think a ticket with specific issues would be more helpful. As this ticket is quite stale, I am closing it.

[2021-06-05 23:34] #2255 closed

[2021-06-05 23:37] hzhou commented on #3596
I think the suggestion has been abandoned at this point.

[2021-06-05 23:37] #3596 closed

[2021-06-05 23:40] hzhou commented on #3566
I believe the issue no longer exists.

[2021-06-05 23:40] #3566 closed

[2021-06-05 23:42] hzhou commented on #3545
This issue is no longer being worked on and probably not relevant as well. Closing it.

[2021-06-05 23:42] #3545 closed

[2021-06-05 23:43] hzhou commented on #3469
I think this has been fixed.

[2021-06-05 23:44] hzhou commented on #3525
This ticket is done.

[2021-06-05 23:44] #3525 closed

[2021-06-05 23:50] hzhou commented on #2752
Since no one is working on this, I am closing it.

[2021-06-05 23:50] #2752 closed

[2021-06-06 00:03] hzhou commented on #2720
This ticket is stale and lack of clear directions for actions. FWIW, it has served the discussion purposes.

[2021-06-06 00:03] #2720 closed

[2021-06-06 00:06] hzhou commented on #2795
We have `mpivars` dump all the cvars. Should we have `mpihints` to dump the info keys?

[2021-06-06 00:08] hzhou commented on #2713
I am closing this since it is no longer being actively pursued and the imperative nature is not clear (and not described).

[2021-06-06 00:08] #2713 closed

[2021-06-06 00:14] hzhou commented on #2360
Summary:
OpenMPI sets `OMPI_COMM_WORLD_LOCAL_SIZE` and `OMPI_COMM_WORLD_LOCAL_RANK`
Hydra sets `PMI_SIZE` and `PMI_RANK`

I think that's sufficient.

[2021-06-06 00:14] #2360 closed

[2021-06-06 01:34] hzhou commented on #2567
This ticket lacks the imperative statement, e.g. what is broken and why the fix. Enhancements issues are okay, but it needs someone actively working on them. Otherwise, they just obscure more important issues. Therefore, I am closing this ticket for now.

[2021-06-06 01:34] #2567 closed

[2021-06-06 01:37] hzhou commented on #2484
This is stale. Re-open with updated failure information if it still exists.

[2021-06-06 01:37] #2484 closed

[2021-06-06 01:57] hzhou commented on #2349
With the `bcast-scatter-allgather` algorithm, it is difficult to exclude the root in the `allgather` stage. to fix it, we'll need a custom `allgather` algorithm just for this purpose. In fact, we do this for the `scatter` stage, ref. `MPII_Scatter_for_bcast`. Nevertheless, this makes the algorithm inflexible, preventing it taking advantage the algorithm selection during each stage.

Since this is

[2021-06-06 01:57] #2349 closed

[2021-06-06 02:02] hzhou commented on #2334
This has been fixed -- https://github.com/pmodels/mpich/blob/31b24350ac72750876990775edd8952da8f66544/src/binding/c/rma_api.txt#L55-L59

Notice the line `.earlyreturn: pt2pt_proc_null`

[2021-06-06 02:02] #2334 closed

[2021-06-06 02:38] hzhou commented on #2304
The current macros is checking with
[code]

The `\<` and `\>' doesn't when `$1` contain non-word character.

[2021-06-06 03:21] hzhou commented on #2281
This ticket is not useful unless there are people actively working on it. Closing.

[2021-06-06 03:21] #2281 closed

[2021-06-06 03:29] hzhou commented on #2216
I think it is okay to remove this error. Reasons:
1. We require explicit `--disable-fortran` to skip fortran so there is no risk of user forgot to set `FC` resulting in fortran not being built
2. When user sets `FC`, there is little risk that they would prefer `F90` in stead.

I think it will become even easier if we ignore `F77` as well. If we always look for `FC` and `FC`-only, I think there wil

[2021-06-06 04:08] hzhou commented on #2194
#4902 fixes `MPI_Neighbor_alltoall`. We probably also need fix `MPI_Neighbor_alltoallv` and `MPI_Neighbor_alltoallw`.

[2021-06-06 04:19] hzhou commented on #2175
There is no way MPI implementation can know for sure whether a "project manager" will support a certain PMI protocol in a singleton case. It has no choice but fire away. On the other hand, the process manager -- hydra -- has no idea what is the reason for a set of unknown options. It has no choice but complain verbosely.

We can fix issues when things work, but nothing we can do when the handshake

[2021-06-06 04:22] hzhou commented on #1937
This is outdated -- both the the testing job and configure options.

[2021-06-06 04:22] #1937 closed

[2021-06-06 14:08] hzhou commented on #393
This is an enhancement suggestion and it's very stale. Since on-one is actively working on it, I am closing it.

[2021-06-06 14:08] #393 closed

[2021-06-06 14:10] hzhou commented on #967
Fixed in #5163

[2021-06-06 14:10] #967 closed

[2021-06-06 14:13] hzhou commented on #1102
I think this is a good idea, configurable by CVAR

[2021-06-06 14:56] hzhou commented on #1838
This is probably obsolete.

[2021-06-06 14:56] #1838 closed

[2021-06-06 14:57] hzhou commented on #1934
Stale.

[2021-06-06 14:57] #1934 closed

[2021-06-06 15:58] hzhou commented on #1564
The issue no longer exists.

[2021-06-06 15:58] #1564 closed

[2021-06-06 16:00] hzhou commented on #1541
This is related to singleton-init support. ref. #4853

[2021-06-06 16:00] #1541 closed

[2021-06-06 16:06] hzhou commented on #1620
[code]
We need hydra to abort.

[2021-06-06 16:16] hzhou commented on #4480
status ref: https://github.com/pmodels/mpich/pull/4932#issuecomment-843153113

[2021-06-07 19:13] ashwinraghu opened #5339 "Invalid pointer free in ad_gpfs_wrcoll.c and ad_gpfs_rdcoll.c"
I have an MPI application that aborts when configured to use the ad_gpfs driver in ROMIO with the following error message
Attempt to free null pointer in file ../../../../src/mpi/romio/adio/ad_gpfs/ad_gpfs_wrcoll.c, line 432

This perhaps needs a fix similar to the one for others_req[0].offsets implemented in commit  b35ee6b.
I suppose the analogous code in "src/mpi/romio/adio/ad_gpfs/ad_gpfs_rdco

[2021-06-07 19:42] #4876 closed

[2021-06-07 19:47] ashwinraghu opened #5340 "Potential memory leak in ad_gpfs_wrcoll.c and ad_gpfs_rdcoll.c when GPFSMPIO_TUNEBLOCKING set"
When GPFSMPIO_TUNEBLOCKING is set, the structures like others_req[i].offsets and others_req[i].mem_ptrs are allocated individually in ADIOI_GPFS_Calc_others_req() unlike ADIOI_Calc_others_req() which allocates a single contiguous block for these. These hence need special handling while freeing after use in ADIOI_GPFS_WriteStridedColl() and ADIOI_GPFS_RreadStridedColl().

This is applicable to my_r

[2021-06-07 19:52] #4890 closed

[2021-06-07 20:25] roblatham00 commented on #2795
dumping all the info keys is easy:

[code]

but what does `romio_cb_fr_alignment` mean?  what are the expected values?  Furthermore, dumping the keys associated with an info object in this way will get you the default keys, but there are non-default keys such as `striping_unit` that users can also set.

[2021-06-07 20:53] hzhou commented on #2795
Right. I was thinking of adopting a similar comment block like the cvar block and have autogen generate `src/env/dumphints.c` with full information.

[2021-06-07 21:29] hzhou commented on #2795
On second thought, info keys are not global. They are rather per-function-based. So probably fit better in the man page. We still can use the CVAR-style comment block to document it, then have the binding generation script generate the info key section into the relevant function's man page.

[2021-06-08 04:38] PHHargrove opened #5343 "Recursive behavior for improper setting of MPICH_CC or MPICH_CXX"
I am fully aware that what I am about to report is a case of "pilot error".
However, as I will describe, I believe MPICH could do better to help minimize the consequences.

I am looking at two projects where one advises `CXX=mpicxx`, while the other sets `MPICH_CXX=$CXX; CXX=mpicxx` in its Makefile. Unfortunately the composition of these leads that second project to perform roughly the same as the

[2021-06-08 12:32] hzhou commented on #5343
Hi Paul,
so the intention is to have `mpicc` fail in the recursive case?

[2021-06-08 18:06] bonachea commented on #5343
Exactly.

Failure with a nice error message for this (accidental) erroneous input seems preferable to silently fork-bombing the machine...

[2021-06-08 18:08] hzhou commented on #5343
Sounds good. I'll make a PR apply the suggestion.

[2021-06-09 00:53] hzhou commented on #5318
@dalcinl Following up, our nightly tests have been clean. We are running against mpi4py-master with `mpirun -n {1,2,3,5}`. All of them are ok. Are you able to reproduce the failure manually/locally?

[2021-06-09 09:20] dalcinl commented on #5318
I just run things again in GitHub Actions, and now it worked https://github.com/mpi4py/mpi4py-testing/actions/runs/921060527.

I'm not sure what to say. Before, I got two successive failures in my `ch4:ofi` build. Could it be some sort of race condition? A bug that only triggers with you run things in the constrained, slower environment of a CI builder?

Mmm... No, hold on. Now that I looks at the

[2021-06-09 12:46] hzhou commented on #5318
@dalcinl Apparently you have more insight than I do 😄 I think using the loopback interface may be worthwhile, depending on the purpose of the testing.

[2021-06-09 12:46] #5318 closed

[2021-06-09 18:52] #4113 closed

[2021-06-09 19:06] hzhou commented on #4113
Thanks for the update, Rohit.

[2021-06-11 03:09] ashwinraghu commented on #5339
Please note that this was reported by a customer site.

Here's the relevant parts of ad_gpfs_wrcoll.c that produced the error:

94 void ADIOI_GPFS_WriteStridedColl(ADIO_File fd, const void *buf, int count,
...
432     ADIOI_Free(my_req[0].offsets);

`

[2021-06-11 03:40] hzhou commented on #5339
Could you find a link for the said commit?

[2021-06-11 05:24] ashwinraghu commented on #5339
I realize that the commit id is from our repo. Sorry about that.
Here is the original commit:
https://github.com/pmodels/mpich/pull/5099/commits/313289a82ac7fa14081d292a16b4b11d76c7baed

And the PR:
https://github.com/pmodels/mpich/pull/5099/

[2021-06-12 02:38] #3052 closed

[2021-06-12 02:45] #5299 closed

[2021-06-12 21:18] yfguo commented on #5171
The UCX AM pipeline PR is a temporary solution for this. We probably eventually want to use the GPU support in UCX AM directly (https://github.com/openucx/ucx/pull/6041), which why the merge for UCX AM pipeline is on halt.

[2021-06-13 14:33] hzhou opened #5359 "ch4/ofi: huge recv queue need be per-vci queue"
The queues for huge recv, `MPIDI_unexp_huge_recv_head`, `MPIDI_unexp_huge_recv_tail`, `MPIDI_posted_huge_recv_head`, and `MPIDI_posted_huge_recv_tail`, are currently global. Under per-vci configuration, when multiple vci threads simultaneously processing huge messages, the queue will get corrupted.

[2021-06-13 20:24] jedbrown commented on #5285
Related to this, I see the `BASE_CFLAGS` being picked up by default when building UCX and this causes the build to fail with gcc-11 `-Werror=array-bounds`.
[code]

<details>

[code]

Note that adding `-Wno-error=array-bounds` to `MPICHLIB_CFLAGS` does not cause it to be propagated to UCX.

</details>

[config.log](https://github.com/pmodels/mpich/files/6644567/config.log)

This is currently an iss

[2021-06-13 20:24] jedbrown commented on #5285
Related to this, I see the `BASE_CFLAGS` being picked up by default when building UCX and this causes the build to fail with gcc-11 `-Werror=array-bounds`.
[code]

<details>

[code]

Note that adding `-Wno-error=array-bounds` to `MPICHLIB_CFLAGS` does not cause it to be propagated to UCX.

</details>

[config.log](https://github.com/pmodels/mpich/files/6644567/config.log)

This is currently an iss

[2021-06-13 22:41] hzhou opened #5360 "build: MPICHLIB_CFLAGS not picked up by submodule configure"
@jedbrown reports --

Related to this, I see the BASE_CFLAGS being picked up by default when building UCX and this causes the build to fail with gcc-11 -Werror=array-bounds.

$ rg Werror modules/ucx/config
modules/ucx/config/m4/compiler.m4
12:BASE_CFLAGS="-g -Wall -Werror"
515:                                 [-Werror-implicit-function-declaration],

In file included from /home/jed/src/aur/mpich/s

[2021-06-13 22:47] hzhou commented on #5285
@jedbrown Tracked with new issue #5360

[2021-06-13 22:49] hzhou commented on #5360
@jedbrown Could you try this patch:
[code]

[2021-06-13 23:07] hzhou commented on #5333
Fixed in #5332

[2021-06-13 23:07] #5333 closed

[2021-06-13 23:43] hzhou commented on #3573
With #5334 we also hardcoded to disabling the GL/OpenCL dependency in hwloc.

[2021-06-13 23:43] #3573 closed

[2021-06-14 00:24] jedbrown commented on #5360
I needed `autoreconf -fi` (or equivalent), but this succeeded.
[code]

[2021-06-14 01:06] hzhou commented on #5360
BTW, we now also optionally depend on `python` (`python3`) during configure if Fortran (`mpi_f08` module) is enabled.

[2021-06-14 16:05] #2304 closed

[2021-06-14 16:20] #5330 closed

[2021-06-14 16:32] #5343 closed

[2021-06-14 16:41] #5360 closed

[2021-06-14 16:47] #4993 closed

[2021-06-14 17:05] jedbrown opened #5365 "4.0a2: No rule to make target 'src/binding/fortran/use_mpi_f08/mpi_f08_types.f90"
This is a new build failure that does not appear in 3.4a1. I configure as follows:

[code]
and the error:
[code]

[2021-06-14 18:06] hzhou commented on #5365
Earlier in the configure output (just before configuring `test/mpi`), there should be this block:
[code]
The mentioned file is generated at configure `OUTPUT` by running a python script. Something is amiss.

[2021-06-14 18:21] jedbrown commented on #5365
This block exists for 4.0a1 but not 4.0a2.

[code]

[2021-06-14 18:59] hzhou commented on #5365
@jedbrown Could you upload `config.log` and the configure console output?

[2021-06-14 19:34] tarudoodi opened #5366 "test: `testlist.gpu` is not generated in out-of-tree builds"
In out-of-tree builds, teslist.gpu is not created in any testing sub-dirs.
[code]

[2021-06-14 19:38] hzhou commented on #5365
Never mind, I think we identified the issue to be building out-of-tree, that the python scripts was not found when building out-of-tree. We'll fix it.

[2021-06-14 19:39] hzhou commented on #5366
I wonder how other testlist files that are not from `testlist.in` worked.

[2021-06-14 19:41] jedbrown commented on #5365
Thanks. If you'd like my logs, they're attached now.
[makepkg.log](https://github.com/pmodels/mpich/files/6650813/makepkg.log)
[config.log](https://github.com/pmodels/mpich/files/6650814/config.log)

[2021-06-14 20:08] tarudoodi commented on #5366
Probably because they are generated by the scripts at compile time and end up being written to `$PWD/test/mpi/coll`, where `$PWD` is the out-of-tree path.

[2021-06-14 20:15] hzhou commented on #5365
For temporary work-around, try copy `maint/gen_binding_f08.py` from source tree to build tree before `configure`.

[2021-06-14 22:23] hzhou commented on #5366
When we do `make testing`, `runtests` is invoked with `-srcdir=$(srcdir)`, so it will check both the srcdir and builddir for testlist files. `testlist.gpu` files are in the source tree and it should work.
[code]

[2021-06-15 03:32] tarudoodi commented on #5366
I am not sure if it checks for testlists in the `srcdir` as well, it probably only checks for source of tests listed in the testlist. I am just speaking from my experience at runtime and do not discount user error.

[2021-06-15 21:15] #5365 closed

[2021-06-16 04:15] #2482 closed

[2021-06-16 04:21] #4413 closed

[2021-06-16 04:27] #5020 closed

[2021-06-16 23:04] hzhou opened #5371 "misc: update test/mpi/.gitignore"
We are supposed to add every test binary in `test/mpi/.gitignore`. We have not been keep it up-to-date. This need be cleaned up.